---
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
---

<div class="flex items-center justify-center p-8 bg-white dark:bg-black">
  <!-- copy:start -->
  <div
    role="alert"
    class="relative p-8 border bg-emerald-50 border-emerald-100 text-emerald-500 dark:bg-emerald-500/20 dark:border-emerald-800 rounded-xl w-full"
  >
    <div class="flex gap-2">
      <div class="flex-shrink-0">
        <CircleCheck size="base" slot="icon" />
      </div>
      <div>
        <Text tag="p" variant="textBase" class="font-medium text-emerald-600 dark:text-white">
          Success
        </Text>
        <Text tag="p" variant="textSM" class="font-medium text-emerald-500 dark:text-emerald-300">
          Your changes have been saved.
        </Text>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
