---
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
---

<section>
  <div
    class="items-center px-8 py-12 mx-auto max-w-7xl lg:px-16 md:px-12 lg:py-24"
  >
    <div
      role="alert"
      class="relative p-8 border bg-emerald-50 border-emerald-100 text-emerald-500 rounded-xl"
    >
      <div class="flex gap-2">
        <div class="flex-shrink-0">
          <CircleCheck size="base" slot="icon" />
        </div>
        <div>
          <Text tag="p" variant="textBase" class="font-medium text-green-600">
            Success
          </Text>
          <Text tag="p" variant="textSM" class="font-medium text-green-500">
            Your changes have been saved.
          </Text>
        </div>
      </div>
    </div>
  </div>
</section>
