---
import Text from "@/components/fundations/typography/Text.astro";
import AlertTriangle from "@/components/fundations/icons/AlertTriangle.astro";
---

<div class="flex items-center justify-center p-8 bg-white dark:bg-zinc-900">
  <!-- copy:start -->
  <div
    role="alert"
    class="relative w-full p-8 border bg-amber-50 border-amber-100 text-amber-500 dark:bg-amber-500/20 dark:border-amber-800 rounded-xl"
  >
    <div class="flex gap-2">
      <div class="flex-shrink-0">
        <AlertTriangle size="base" slot="icon" />
      </div>
      <div>
        <Text
          tag="p"
          variant="textBase"
          class="font-medium text-amber-800 dark:text-white"
        >
          Warning!
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="font-medium text-amber-600 dark:text-amber-300"
        >
          This action cannot be undone. Please proceed with caution
        </Text>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
