---
import Text from "@/components/fundations/typography/Text.astro";
import AlertTriangle from "@/components/fundations/icons/AlertTriangle.astro";
---


<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <div
    role="alert"
    class="relative p-8 border bg-amber-50 border-amber-100 text-amber-500 rounded-xl w-full"
  >
    <div class="flex gap-2">
      <div class="flex-shrink-0">
        <AlertTriangle size="base" slot="icon" />
      </div>
      <div>
        <Text tag="p" variant="textBase" class="font-medium text-yellow-800">
          Warning!
        </Text>
        <Text tag="p" variant="textSM" class="font-medium text-yellow-600">
          This action cannot be undone. Please proceed with caution..
        </Text>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
