---
import Text from "@/components/fundations/typography/Text.astro";
import AlertTriangle from "@/components/fundations/icons/AlertTriangle.astro";
---

<section>
  <div
    class="items-center px-8 py-12 mx-auto max-w-7xl lg:px-16 md:px-12 lg:py-24">
    <div
      role="alert"
      class="relative bg-red-50 border border-red-100 text-red-500 rounded-xl p-8">
      <div class="flex flex-col sm:flex-row gap-2">
        <div class="flex-shrink-0">
          <AlertTriangle
            size="base"
            slot="icon"
          />
        </div>
        <div>
          <Text
            tag="p"
            warning={true}
            variant="featureListItemSmall">
            Warning! Error, time for a giggle Break!!
          </Text>
          <h3 class="text-base font-medium text-red-800"></h3>
          <ul role="list">
            <li class="list-disc space-y-1">
              <Text
                tag="p"
                danger={true}
                variant="body">
                Your password must be at least 8 characters, because even
                passwords need a little length to protect their secrets.
              </Text>
            </li>
            <li class="list-disc space-y-1">
              <Text
                tag="p"
                danger={true}
                variant="body">
                Your password must include at least one pro wrestling finishing
                move, so you can 'pin' down your security like a champ
              </Text>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
