---
import Text from "@/components/fundations/typography/Text.astro";
import AlertTriangle from "@/components/fundations/icons/AlertTriangle.astro";
---

<section>
  <div
    class="items-center px-8 py-12 mx-auto max-w-7xl lg:px-16 md:px-12 lg:py-24">
    <div
      role="alert"
      class="relative bg-rose-50 border border-rose-100 rounded-xl p-8">
      <div class="flex flex-col sm:flex-row gap-2">
        <div class="flex-shrink-0">
          <AlertTriangle
            size="base"
            slot="icon"
            class="text-rose-800"
          />
        </div>
        <div>
          <Text
            tag="p"
            variant="textBase"
            class="text-rose-800 font-medium">
            Warning! rose, time for a giggle Break!!
          </Text>

          <ul role="list">
            <li class="list-disc space-y-1">
              <Text
                tag="p"
                variant="textSM"
                class="text-rose-600 font-medium">
                Your password must be at least 8 characters, because even
                passwords need a little length to protect their secrets.
              </Text>
            </li>
            <li class="list-disc space-y-1">
              <Text
                tag="p"
                variant="textSM"
                class="text-rose-600 font-medium">
                Your password must include at least one pro wrestling finishing
                move, so you can 'pin' down your security like a champ
              </Text>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
