---
import Text from "@/components/fundations/typography/Text.astro";
import CircleInfo from "@/components/fundations/icons/CircleInfo.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <div class="relative p-8 bg-zinc-50 text-zinc-500 rounded-xl w-full">
    <div class="flex gap-2">
      <div class="flex-shrink-0">
        <CircleInfo size="base" slot="icon" />
      </div>
      <div>
        <Text tag="p" variant="textBase" class="font-medium text-zinc-700">
          Neutral alert!
        </Text>
        <Text tag="p" variant="textSM" class="font-medium text-zinc-500">
          A new feature is available. You will be notified when it is ready.
        </Text>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
