---
import Text from "@/components/fundations/typography/Text.astro";
import CircleInfo from "@/components/fundations/icons/CircleInfo.astro";
---

<section>
  <div
    class="items-center px-8 py-12 mx-auto max-w-7xl lg:px-16 md:px-12 lg:py-24"
  >
    <div
      class="relative p-8 text-white bg-blue-700 rounded-xl ring-1 ring-white/5"
    >
      <div class="flex gap-2">
        <div class="flex-shrink-0">
          <CircleInfo size="base" slot="icon" />
        </div>
        <div>
          <div>
            <Text tag="p" variant="textBase" class="font-medium text-white">
              Neutral alert!
            </Text>
            <Text tag="p" variant="textSM" class="font-medium text-gray-300">
              A new feature is available. You will be notified when it is ready.
            </Text>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
