---
import Text from "@/components/fundations/typography/Text.astro";
import CircleInfo from "@/components/fundations/icons/CircleInfo.astro";
---

<div class="flex items-center justify-center p-8 bg-white dark:bg-black">
  <!-- copy:start -->
  <div
    class="relative p-8 text-blue-600 border border-blue-100 bg-blue-50 dark:bg-blue-500/20 dark:border-blue-800 rounded-xl w-full"
  >
    <div class="flex gap-2">
      <div class="flex-shrink-0">
        <CircleInfo size="base" slot="icon" />
      </div>
      <div>
        <div>
          <Text
            tag="p"
            variant="textBase"
            class="font-medium text-white dark:text-whit"
          >
            Neutral alert!
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="font-medium text-zinc-300 dark:text-blue-300"
          >
            A new feature is available. You will be notified when it is ready.
          </Text>
        </div>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
