---
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import CircleX from "@/components/fundations/icons/CircleX.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div
    class="items-center px-8 py-12 mx-auto max-w-7xl lg:px-16 md:px-12 lg:py-24"
  >
    <div
      class="fixed bottom-0 right-0 w-5/6 max-w-sm m-8 md:w-full"
      x-data="{ isVisible: true }"
      x-show="isVisible"
      x-transition
    >
      <div
        role="alert"
        aria-live="polite"
        aria-atomic="true"
        class="p-4 bg-white shadow-lg rounded-xl ring-1 ring-gray-200"
      >
        <div class="flex flex-row">
          <div class="px-2">
            <CircleCheck class="text-emerald-500" size="base" slot="icon" />
          </div>
          <div class="ml-2 mr-6">
            <Text tag="p" variant="textBase" class="font-medium text-gray-900">
              Successfully Saved!
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 font-medium text-gray-500"
            >
              Anyone with a link has access.
            </Text>
          </div>
          <IconButton
            aria-label="Dismiss notification"
            class="ml-auto"
            @click="isVisible = false"
            variant="transparentLight"
            size="sm"
          >
            <CircleX size="base" slot="icon" />
            <span class="sr-only">Close</span>
          </IconButton>
        </div>
      </div>
    </div>
  </div>
</section>
