---
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import CircleX from "@/components/fundations/icons/CircleX.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div
    class="items-center px-8 py-12 mx-auto max-w-7xl lg:px-16 md:px-12 lg:py-24">
    <div
      x-data="{ isVisible: true }"
      x-show="isVisible"
      x-transition
      class="fixed top-0 right-0 m-8 w-5/6 md:w-full max-w-sm">
      <div
        role="alert"
        aria-live="polite"
        aria-atomic="true"
        class="rounded-xl bg-base-950 shadow-lg ring-1 ring-black/5 p-4">
        <div class="flex flex-row">
          <div class="px-2">
            <CircleCheck
              class="text-emerald-400"
              size="base"
              slot="icon"
            />
          </div>
          <div class="ml-2 mr-6">
            <Text
              tag="p"
              darkMode={true}
              variant="featureListItemSmall">
              Successfully Saved!
            </Text>
            <Text
              class="mt-2"
              darkMode={true}
              tag="p"
              variant="small">
              Anyone with a link has access.
            </Text>
          </div>
          <IconButton
            aria-label="Dismiss notification"
            class="ml-auto"
            @click="isVisible = false"
            variant="transparentDark"
            size="sm">
            <CircleX
              size="base"
              slot="icon"
            />
            <span class="sr-only">Close</span>
          </IconButton>
        </div>
      </div>
    </div>
  </div>
</section>
