---
export const freeComponent = true;
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";

import Apple from "@/components/fundations/icons/Apple.astro";
import GooglePlay from "@/components/fundations/icons/GooglePlay.astro";
const footerLinks = [
  {
    heading: "Company ",
    links: [
      { href: "#", text: "About" },
      { href: "#", text: "Mission" },
      { href: "#", text: "Leadership Team" },
      { href: "#", text: "History" },
    ],
  },
  {
    heading: " Services",
    links: [
      { href: "#", text: "Marketing" },
      { href: "#", text: "Analytics" },
      { href: "#", text: "Commerce" },
      { href: "#", text: "Insights" },
    ],
  },
  {
    heading: "Resources",
    links: [
      { href: "#", text: "Documentation" },
      { href: "#", text: "Guides" },
      { href: "#", text: "Webinars" },
      { href: "#", text: "White Papers" },
    ],
  },
  {
    heading: "Support & Legal",
    links: [
      { href: "#", text: "Pricing" },
      { href: "#", text: "API Status" },
      { href: "#", text: "Live Chat" },
      { href: "#", text: "Email Support" },
    ],
  },
];
---

<div class="p-8">
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto">
    <div class="items-end grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <Text tag="h2" variant="textLG" class="font-semibold text-zinc-900">
          Get started with our app today
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 font-medium text-zinc-500 lg:text-balance"
        >
          Streamline your workflow and collaborate seamlessly on staging and
          temporary environments
        </Text>
      </div>
      <div class="flex flex-col items-center lg:flex-row gap-2 sm:ml-auto">
        <Button variant="alternative" gap="xs" size="sm">
          <Apple size="sm" slot="left-icon" />
          <span>Download on App Store</span>
        </Button>
        <Button variant="alternative" gap="xs" size="sm">
          <GooglePlay size="sm" slot="left-icon" />
          <span>Download on Google Play</span>
        </Button>
      </div>
    </div>
    <div
      class="pt-6 mt-6 border-t grid grid-cols-2 md:grid-cols-4 gap-x-8 gap-y-24 border-zinc-200"
    >
      {
        footerLinks.map((section, index) => (
          <div class="space-y-4">
            <nav aria-labelledby={`footer-heading-${index}`}>
              <Text
                tag="h2"
                variant="textBase"
                id={`footer-heading-${index}`}
                class="font-semibold text-zinc-900"
              >
                {section.heading}
              </Text>
              <ul class="mt-4 space-y-4">
                {section.links.map((link) => (
                  <li>
                    <Text
                      tag="a"
                      href="#_"
                      variant="textBase"
                      class="font-medium hover:text-blue-500 text-zinc-500"
                    >
                      {link.text}
                    </Text>
                  </li>
                ))}
              </ul>
            </nav>
          </div>
        ))
      }
    </div>
    <div
      class="flex flex-col items-center justify-between pt-6 mt-12 border-t md:flex-row border-zinc-200"
    >
      <Text
        tag="a"
        href="#_"
        variant="textBase"
        class="flex items-center font-medium hover:text-blue-500 gap-2 text-zinc-900"
      >
        <img
          class="h-7 2xl:h-12"
          src="/images/oxbow/blueLineLogo.png"
          alt="#_"
        /> Oxbow UI
      </Text>
      <Text tag="h2" variant="textSM" class="font-medium text-zinc-400">
        Copyright © 2024 Oxbow UI. All rights reserved.
      </Text>
    </div>
  </div>
  <!-- copy:
</div>
-->
</div>
