---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
import YoutubeBrand from "@/components/fundations/icons/YoutubeBrand.astro";
import GithubBrand from "@/components/fundations/icons/GithubBrand.astro";
import Logo from "@/components/assets/Logo.astro";
const footerLinks = [
  {
    heading: "Company ",
    links: [
      { href: "#", text: "About" },
      { href: "#", text: "Mission" },
      { href: "#", text: "Leadership Team" },
      { href: "#", text: "History" },
    ],
  },
  {
    heading: " Services",
    links: [
      { href: "#", text: "Marketing" },
      { href: "#", text: "Analytics" },
      { href: "#", text: "Commerce" },
      { href: "#", text: "Insights" },
    ],
  },
  {
    heading: "Resources",
    links: [
      { href: "#", text: "Documentation" },
      { href: "#", text: "Guides" },
      { href: "#", text: "Webinars" },
      { href: "#", text: "White Papers" },
    ],
  },
  {
    heading: "Support & Legal",
    links: [
      { href: "#", text: "Pricing" },
      { href: "#", text: "API Status" },
      { href: "#", text: "Live Chat" },
      { href: "#", text: "Email Support" },
    ],
  },
];
---
<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div
      class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 gap-x-8 gap-y-24"
    >
      <div class="col-span-full md:col-span-2 lg:order-last">
        <Text
          tag="h2"
          variant="textBase"
          class="font-semibold text-zinc-900 dark:text-white"
        >
          Join our newsletter
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-2 font-medium text-zinc-500 dark:text-zinc-400 lg:text-balance"
        >
          Stay up to date with our latest news and updates.
        </Text>
        <form
          class="flex flex-col md:flex-row w-full max-w-xs mx-auto lg:items-center mt-8 gap-2"
        >
          <TextInput
            id="email"
            name="email"
            type="email"
            placeholder="you@probablyimportant.com"
            variant="default"
            label="Email address"
            size="sm"
            isGrouped
          />
          <Button type="submit" size="sm" variant="accent" class="shrink-0">
            Join us!
          </Button>
        </form>
      </div>
      {
        footerLinks.map((div, index) => (
          <div class="space-y-4">
            <nav aria-labelledby={`footer-heading-${index}`}>
              <Text
                tag="h2"
                variant="textBase"
                id={`footer-heading-${index}`}
                class="font-semibold text-zinc-900 dark:text-white"
              >
                {div.heading}
              </Text>
              <ul class="mt-4">
                {div.links.map((link) => (
                  <li>
                    <a
                      href="#_"
                      class="font-medium text-zinc-600 dark:text-zinc-400  hover:text-blue-600 dark:hover:text-blue-300 text-sm"
                    >
                      {link.text}
                    </a>
                  </li>
                ))}
              </ul>
            </nav>
          </div>
        ))
      }
    </div>
    <div
      class="flex flex-col justify-between pt-12 mt-12 border-t gap-8 sm:flex-row sm:items-center border-zinc-200 dark:border-zinc-800"
    >
      <Text
        tag="h2"
        variant="textSM"
        class="font-medium text-zinc-400 dark:text-zinc-500"
      >
        © 2024 Oxbow UI. All rights reserved.
      </Text>
      <nav
        aria-labelledby="social-icons-heading"
        role="navigation"
        class="flex items-center gap-4 text-zinc-500 dark:text-zinc-400"
      >
        <Text id="social-icons-heading" class="sr-only">
          Follow us on social media
        </Text>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="font-medium text-zinc-900 dark:text-white hover:text-blue-600 dark:hover:text-blue-300 text-sm"
        >
          <XBrand size="sm" />
        </Text>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="font-medium text-zinc-900 dark:text-white hover:text-blue-600 dark:hover:text-blue-300 text-sm"
        >
          <LinkedinBrand size="sm" />
        </Text>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="font-medium text-zinc-900 dark:text-white hover:text-blue-600 dark:hover:text-blue-300 text-sm"
        >
          <GithubBrand size="sm" />
        </Text>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="font-medium text-zinc-900 dark:text-white hover:text-blue-600 dark:hover:text-blue-300 text-sm"
        >
          <YoutubeBrand size="sm" />
        </Text>
      </nav>
    </div>
  </div>
</section>
