---
import Button from "@/components/fundations/buttons/Button.astro";

import Text from "@/components/fundations/typography/Text.astro";

import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
import YoutubeBrand from "@/components/fundations/icons/YoutubeBrand.astro";
import GithubBrand from "@/components/fundations/icons/GithubBrand.astro";
const footerLinks = [
  {
    heading: "Company ",
    links: [
      { href: "#", text: "About" },
      { href: "#", text: "Mission" },
      { href: "#", text: "Leadership Team" },
      { href: "#", text: "History" },
    ],
  },
  {
    heading: " Services",
    links: [
      { href: "#", text: "Marketing" },
      { href: "#", text: "Analytics" },
      { href: "#", text: "Commerce" },
      { href: "#", text: "Insights" },
    ],
  },
  {
    heading: "Resources",
    links: [
      { href: "#", text: "Documentation" },
      { href: "#", text: "Guides" },
      { href: "#", text: "Webinars" },
      { href: "#", text: "White Papers" },
    ],
  },
  {
    heading: "Support & Legal",
    links: [
      { href: "#", text: "Pricing" },
      { href: "#", text: "API Status" },
      { href: "#", text: "Live Chat" },
      { href: "#", text: "Email Support" },
    ],
  },
  {
    heading: "Social Media",
    links: [
      { href: "#", text: "Twitter" },
      { href: "#", text: "Facebook" },
      { href: "#", text: "LinkedIn" },
      { href: "#", text: "Instagram" },
    ],
  },
  {
    heading: "Company Info",
    links: [
      { href: "#", text: "Careers" },
      { href: "#", text: "Press" },
      { href: "#", text: "Partners" },
      { href: "#", text: "Blog" },
    ],
  },
  {
    heading: "Legal",
    links: [
      { href: "#", text: "Privacy Policy" },
      { href: "#", text: "Terms of Service" },
      { href: "#", text: "Cookie Policy" },
      { href: "#", text: "GDPR Compliance" },
    ],
  },
  {
    heading: "Community",
    links: [
      { href: "#", text: "Forums" },
      { href: "#", text: "Events" },
      { href: "#", text: "User Groups" },
      { href: "#", text: "Ambassadors" },
    ],
  },
];
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid items-end grid-cols-1 sm:grid-cols-2 gap-4 bg-base-50 p-8 rounded-2xl"
    >
      <div>
        <Text tag="h2" variant="textLG" class="font-semibold text-base-900">
          Get started with our app today
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-base-500 font-medium lg:text-balance"
        >
          Streamline your workflow and collaborate seamlessly on staging and
          temporary environments
        </Text>
      </div>
      <div class="flex flex-col lg:flex-row items-center gap-2 sm:ml-auto">
        <Button variant="accent" size="sm"> Get started </Button>
        <Button variant="alternative" size="sm"> Learn more </Button>
      </div>
    </div>

    <div
      class="grid pt-6 mt-6 border-t grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-x-8 gap-y-24 border-base-200"
    >
      {
        footerLinks.map((section, index) => (
          <nav aria-labelledby={`footer-heading-${index}`}>
            <Text
              tag="h2"
              variant="textBase"
              id={`footer-heading-${index}`}
              class="font-semibold text-base-900"
            >
              {section.heading}
            </Text>
            <ul class="mt-4 space-y-4">
              {section.links.map((link, linkIndex) => (
                <li>
                  <Text
                    tag="a"
                    href="#_"
                    variant="textBase"
                    class="hover:text-accent-500 font-medium text-base-500"
                  >
                    {link.text}
                  </Text>
                </li>
              ))}
            </ul>
          </nav>
        ))
      }
    </div>

    <div
      class="pt-12 mt-12 border-t flex flex-col gap-8 text-center md:text-left md:flex-row items-center justify-between w-full"
    >
      <Text tag="h2" variant="textSM" class="font-medium text-base-400 w-full">
        Copyright © 2024 Oxbow UI. All rights reserved.
      </Text>

      <nav
        aria-labelledby="legal-links"
        role="navigation"
        class="flex items-center gap-4 text-base-500 text-sm w-full justify-center"
      >
        <Text id="legal-links" class="sr-only" tag="h3" variant="footerHeading">
          Legal and terms
        </Text>
        <Text
          href="#_"
          tag="a"
          variant="textBase"
          class="hover:text-accent-500 font-medium text-base-500"
        >
          Terms of Service
        </Text>
        <Text
          href="#_"
          tag="a"
          variant="textBase"
          class="hover:text-accent-500 font-medium text-base-500"
        >
          Privacy Policy
        </Text>
      </nav>
      <nav
        aria-labelledby="social-icons-heading"
        role="navigation"
        class="flex items-center gap-4 text-base-500 w-full justify-center lg:justify-end"
      >
        <Text id="social-icons-heading" class="sr-only">
          Follow us on social media
        </Text>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="hover:text-accent-500 font-medium text-base-500"
        >
          <XBrand size="sm" />
        </Text>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="hover:text-accent-500 font-medium text-base-500"
        >
          <LinkedinBrand size="sm" />
        </Text>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="hover:text-accent-500 font-medium text-base-500"
        >
          <GithubBrand size="sm" />
        </Text>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="hover:text-accent-500 font-medium text-base-500"
        >
          <YoutubeBrand size="sm" />
        </Text>
      </nav>
    </div>
  </div>
</section>
