---
import Text from "@/components/fundations/typography/Text.astro";

const footerLinks = [
  {
    heading: "Company ",
    links: [
      { href: "#", text: "About" },
      { href: "#", text: "Mission" },
      { href: "#", text: "Leadership Team" },
      { href: "#", text: "History" },
    ],
  },
  {
    heading: " Services",
    links: [
      { href: "#", text: "Marketing" },
      { href: "#", text: "Analytics" },
      { href: "#", text: "Commerce" },
      { href: "#", text: "Insights" },
    ],
  },
  {
    heading: "Resources",
    links: [
      { href: "#", text: "Documentation" },
      { href: "#", text: "Guides" },
      { href: "#", text: "Webinars" },
      { href: "#", text: "White Papers" },
    ],
  },
  {
    heading: "Support & Legal",
    links: [
      { href: "#", text: "Pricing" },
      { href: "#", text: "API Status" },
      { href: "#", text: "Live Chat" },
      { href: "#", text: "Email Support" },
    ],
  },
  {
    heading: "Social Media",
    links: [
      { href: "#", text: "Twitter" },
      { href: "#", text: "Facebook" },
      { href: "#", text: "LinkedIn" },
      { href: "#", text: "Instagram" },
    ],
  },
  {
    heading: "Company Info",
    links: [
      { href: "#", text: "Careers" },
      { href: "#", text: "Press" },
      { href: "#", text: "Partners" },
      { href: "#", text: "Blog" },
    ],
  },
];
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="flex flex-col md:flex-row md:items-center justify-between">
      <Text
        tag="a"
        href="#_"
        variant="textMD"
        class="hover:text-accent-500 font-medium flex items-center gap-2 text-base-900">
        <img
          class="h-7 2xl:h-12"
          src="/images/oxbow/blueLineLogo.png"
          alt="#_"
        /> Oxbow UI
      </Text>
      <p class="text-sm text-base-500">Designed in europe.</p>
    </div>
    <div
      class="grid grid-cols-2 pt-6 border-t sm:grid-cols-3 md:grid-cols-6 gap-x-8 gap-y-24 mt-6">
      {
        footerLinks.map((section, index) => (
          <div class="space-y-4">
            <nav aria-labelledby={`footer-heading-${index}`}>
              <Text
                tag="h2"
                variant="textBase"
                id={`footer-heading-${index}`}
                class="font-semibold text-base-900">
                {section.heading}
              </Text>
              <ul class="mt-4 space-y-4">
                {section.links.map((link) => (
                  <li>
                     <Text
                      tag="a"
                      href="#_"
                      variant="textMD"
                      class="hover:text-accent-500 font-medium text-base-500">
                      {link.text}
                    </Text>
                  </li>
                ))}
              </ul>
            </nav>
          </div>
        ))
      }
    </div>
    <div
      class="pt-12 mt-12 border-t flex flex-col gap-8 sm:flex-row sm:items-center justify-between">
      <Text
        tag="h2"
        variant="textSM"
        class="font-medium text-base-400">
        Copyright © 2024 Oxbow UI. All rights reserved.
      </Text>
      <nav
        aria-labelledby="legal-links"
        role="navigation"
        class="flex items-center gap-4 text-base-500 text-sm">
        <Text
          id="legal-links"
          class="sr-only"
          tag="h3"
          variant="footerHeading">
          Legal and terms
        </Text>
        <Text
          href="#_"
          tag="a"
          variant="textMD"
                    class="hover:text-accent-500 font-medium text-base-500">
          Terms of Service
        </Text>
        <Text
          href="#_"
          tag="a"
          variant="textMD"
                    class="hover:text-accent-500 font-medium text-base-500">
          Privacy Policy
        </Text>
      </nav>
    </div>
  </div>
</section>
