---
import Text from "@/components/fundations/typography/Text.astro";

import Button from "@/components/fundations/buttons/Button.astro";
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="flex flex-col gap-8 text-center md:text-left md:flex-row items-center justify-between w-full">
      <div class="w-full justify-center md:justify-start">
        <Text
          tag="a"
          href="#_"
          variant="textMD"
          class="hover:text-accent-500 font-medium flex items-center gap-2 text-base-900">
          <img
            class="h-7 2xl:h-12"
            src="/images/oxbow/blueLineLogo.png"
            alt="#_"
          /> Oxbow UI
        </Text>
      </div>
      <div
        class="justify-center lg:justify-end w-full ">

        <form class="sm:flex">
          <label
            for="email-address"
            class="sr-only"
            >Email address</label
          >
          <input
            id="email-address"
            type="email"
            name="email-address"
            autocomplete="email"
            placeholder="Enter your email"
            aria-placeholder="Enter your email"
            required=""
            class="block w-full h-10 px-4 py-2 ring-1 ring-base-200 shadow text-sm text-accent-700 border border-transparent appearance-none rounded-lg bg-white placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 duration-300 sm:text-sm"
          />
          <div class="mt-2 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
            <Button
              class="w-full sm:w-auto"
              type="submit"
              variant="accent"
              size="base">
              Subscribe
            </Button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
