---
import Text from "@/components/fundations/typography/Text.astro";

import Button from "@/components/fundations/buttons/Button.astro";
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div
      class="flex flex-col items-center justify-between w-full text-center gap-8 md:text-left md:flex-row"
    >
      <div class="justify-center w-full md:justify-start">
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="flex items-center font-medium hover:text-blue-500 hover:dark:text-blue-400 gap-2 text-zinc-900 dark:text-zinc-100"
        >
          <img
            class="h-7 2xl:h-12"
            src="/images/oxbow/blueLineLogo.png"
            alt="#_"
          /> Oxbow UI
        </Text>
      </div>
      <div class="justify-center w-full lg:justify-end">
        <form class="sm:flex">
          <label for="email-address" class="sr-only">Email address</label>
          <input
            id="email-address"
            type="email"
            name="email-address"
            autocomplete="email"
            placeholder="Enter your email"
            aria-placeholder="Enter your email"
            required=""
            class="block w-full h-10 px-4 py-2 text-sm bg-white dark:bg-zinc-900 border border-transparent rounded-lg shadow appearance-none ring-1 ring-zinc-200 dark:ring-zinc-700 text-blue-700 dark:text-blue-300 placeholder-zinc-400 dark:placeholder-zinc-500 focus:border-zinc-300 dark:focus:border-zinc-600 focus:bg-transparent focus:outline-none focus:ring-blue-500 focus:ring-offset-2 focus:ring-2 duration-300 sm:text-sm"
          />
          <div class="mt-2 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
            <Button
              class="w-full sm:w-auto"
              type="submit"
              variant="accent"
              size="base"
            >
              Subscribe
            </Button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
