---
import Text from "@/components/fundations/typography/Text.astro";
const footerLinks = [
  {
    heading: "Company ",
    links: [
      { href: "#", text: "About" },
      { href: "#", text: "Overview" },
      { href: "#", text: "Pricing" },
      { href: "#", text: "Blog" },
      { href: "#", text: "Marketing" },
      { href: "#", text: "Analytics" },
    ],
  },
];
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="flex flex-col gap-8 text-center md:text-left md:flex-row items-center md:items-end justify-between w-full"
    >
      <div class="w-full justify-center md:justify-start">
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="hover:text-accent-500 font-medium flex items-center gap-2 text-base-900"
        >
          <img
            class="h-7 2xl:h-12"
            src="/images/oxbow/blueLineLogo.png"
            alt="#_"
          /> Oxbow UI
        </Text>
      </div>

      {
        footerLinks.map((section, index) => (
          <nav
            class="flex items-center gap-4 text-base-500 text-sm w-full justify-center md:justify-end"
            aria-labelledby={`footer-heading-${index}`}
          >
            <ul class=" gap-x-4 gap-y-8 flex flex-wrap justify-center">
              {section.links.map((link) => (
                <li>
                  <Text
                    tag="a"
                    href="#_"
                    variant="textBase"
                    class="hover:text-accent-500 font-medium text-base-500"
                  >
                    {link.text}
                  </Text>
                </li>
              ))}
            </ul>
          </nav>
        ))
      }
    </div>
  </div>
</section>
