---
import Text from "@/components/fundations/typography/Text.astro";
const footerLinks = [
  {
    heading: "Company ",
    links: [
      { href: "#", text: "About" },
      { href: "#", text: "Overview" },
      { href: "#", text: "Pricing" },
      { href: "#", text: "Blog" },
      { href: "#", text: "Marketing" },
      { href: "#", text: "Analytics" },
    ],
  },
];
---

<section>
  <div class="relative px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div
      class="flex flex-col items-center justify-between w-full text-center gap-8 md:text-left md:flex-row md:items-end"
    >
      <div class="justify-center w-full md:justify-start">
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="flex items-center font-medium hover:text-blue-500 gap-2 text-gray-900"
        >
          <img
            class="h-7 2xl:h-12"
            src="/images/oxbow/blueLineLogo.png"
            alt="#_"
          /> Oxbow UI
        </Text>
      </div>

      {
        footerLinks.map((section, index) => (
          <nav
            class="flex items-center justify-center w-full text-sm gap-4 text-gray-500 md:justify-end"
            aria-labelledby={`footer-heading-${index}`}
          >
            <ul class="flex flex-wrap justify-center  gap-x-4 gap-y-8">
              {section.links.map((link) => (
                <li>
                  <Text
                    tag="a"
                    href="#_"
                    variant="textBase"
                    class="font-medium hover:text-blue-500 text-gray-500"
                  >
                    {link.text}
                  </Text>
                </li>
              ))}
            </ul>
          </nav>
        ))
      }
    </div>
  </div>
</section>
