---
import Text from "@/components/fundations/typography/Text.astro";

import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
import YoutubeBrand from "@/components/fundations/icons/YoutubeBrand.astro";
import GithubBrand from "@/components/fundations/icons/GithubBrand.astro";
const footerLinks = [
  {
    heading: "Company ",
    links: [
      { href: "#", text: "About" },
      { href: "#", text: "Mission" },
      { href: "#", text: "Leadership Team" },
      { href: "#", text: "History" },
    ],
  },
  {
    heading: " Services",
    links: [
      { href: "#", text: "Marketing" },
      { href: "#", text: "Analytics" },
      { href: "#", text: "Commerce" },
      { href: "#", text: "Insights" },
    ],
  },
  {
    heading: "Resources",
    links: [
      { href: "#", text: "Documentation" },
      { href: "#", text: "Guides" },
      { href: "#", text: "Webinars" },
      { href: "#", text: "White Papers" },
    ],
  },
  {
    heading: "Support & Legal",
    links: [
      { href: "#", text: "Pricing" },
      { href: "#", text: "API Status" },
      { href: "#", text: "Live Chat" },
      { href: "#", text: "Email Support" },
    ],
  },
];
---

<section class="bg-blue-950">
  <div class="relative px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div
      class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 gap-x-8 gap-y-24"
    >
      <div class="col-span-full md:col-span-1">
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="flex items-center font-medium text-white hover:text-blue-400 gap-2"
        >
          <img
            class="h-7 2xl:h-12"
            src="/images/oxbow/whiteLineLogo.png"
            alt="#_"
          /> Oxbow UI
        </Text>
        <Text tag="p" variant="textSM" class="mt-2 font-medium text-zinc-300">
          Designed in europe.
        </Text>
      </div>
      {
        footerLinks.map((section, index) => (
          <div class="space-y-4">
            <nav aria-labelledby={`footer-heading-${index}`}>
              <Text
                tag="h2"
                variant="textBase"
                id={`footer-heading-${index}`}
                class="font-semibold text-white"
              >
                {section.heading}
              </Text>
              <ul class="mt-4 space-y-4">
                {section.links.map((link, linkIndex) => (
                  <li>
                    <Text
                      tag="a"
                      href="#_"
                      variant="textBase"
                      class="font-medium hover:text-blue-500 text-zinc-300"
                    >
                      {link.text}
                    </Text>
                  </li>
                ))}
              </ul>
            </nav>
          </div>
        ))
      }
    </div>
    <div
      class="flex flex-col justify-between pt-12 mt-12 border-t border-white/20 gap-8 sm:flex-row sm:items-center"
    >
      <Text tag="h2" variant="textSM" class="font-medium text-zinc-300">
        Copyright © 2024 Oxbow UI. All rights reserved.
      </Text>
      <nav
        aria-labelledby="social-icons-heading"
        role="navigation"
        class="flex items-center gap-4 text-zinc-200"
      >
        <Text id="social-icons-heading" class="sr-only">
          Follow us on social media
        </Text>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="font-medium text-white hover:text-blue-500"
        >
          <XBrand size="sm" />
        </Text>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="font-medium text-white hover:text-blue-500"
        >
          <LinkedinBrand size="sm" />
        </Text>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="font-medium text-white hover:text-blue-500"
        >
          <GithubBrand size="sm" />
        </Text>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="font-medium text-white hover:text-blue-500"
        >
          <YoutubeBrand size="sm" />
        </Text>
      </nav>
    </div>
  </div>
</section>
