<div class="pb-36">
  <!--- Starts Component -->
  <div class="overflow-hidden bg-base-50 px-6 py-2.5 sm:px-3.5">
    <div
      class="flex flex-wrap lg:justify-center lg:items-center gap-x-4 gap-y-2 lg:text-center">
      <p class="text-sm leading-6 text-base-900">
        <strong class="font-semibold">Lexington Themes</strong>
        <span>·</span> Free and premium multipage themes and UI Kits crafted with
        Astro JS, and Tailwind CSS.
      </p>
      <a
        href="https://lexingtonthemes.com/"
        class="flex w-full sm:w-auto items-center justify-center h-8 px-4 py-2 text-xs font-semibold text-white transition-all duration-200 rounded-md shadow bg-accent-700  hover:to-accent-800 focus:ring-2 focus:ring-accent-950 focus:ring-offset-2 ring-offset-base-200 hover:shadow-none"
        >Visit now
      </a>
    </div>
  </div>

</div>
