---
import Button from "@/components/fundations/buttons/Button.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import Text from "@/components/fundations/typography/Text.astro";
import CircleX from "@/components/fundations/icons/CircleX.astro";
---

<section class=" bg-white dark:bg-black h-full">
  <!-- copy:start -->
  <div
    class="relative isolate gap-x-6 overflow-hidden bg-zinc-900 dark:bg-zinc-800 px-6 py-2.5 sm:px-3.5 w-full"
  >
    <div
      class="flex flex-col w-full lg:flex-row lg:items-center lg:justify-center gap-x-4 gap-y-2 lg:text-center"
    >
      <Text
        tag="span"
        variant="textSM"
        class="pr-8 font-medium text-white dark:text-zinc-200 lg:pr-0"
      >
        <strong class="font-semibold">Lexington Themes</strong>
        <span>·</span> Free and premium multipage themes and UI Kits crafted with
        Astro JS, and Tailwind CSS.
      </Text>
      <Button variant="alternative" size="xs"> Visit now </Button>
    </div>
  </div>
  <!-- copy:end -->
</section>
