---
import Button from "@/components/fundations/buttons/Button.astro";
---

<div>
  <div
    class="relative isolate flex flex-col overflow-hidden bg-base-50 px-6 py-2.5 sm:px-3.5">
    <p class="text-sm leading-6 text-base-500">
      We use cookies and other tracking technologies to improve your browsing
      experience on our website, to show you personalized content and targeted
      ads, to analyze our website traffic, and to understand where our visitors
      are coming from. By browsing our website, you consent to our use of
      cookies and other tracking technologies. For more information, please
      visit our <a
        class="text-accent-600 hover:text-base-900"
        href="#_"
        >Terms of Service</a
      > and <a
        class="text-accent-600 hover:text-base-900"
        href="#_"
        >Privacy Policy</a
      >.
    </p>
    <div
      class="flex flex-col sm:flex-row mt-8 gap-2 items-center border-base-200">
      <Button
        variant="alternative"
        size="xs">
        Customize
      </Button>
      <Button
        variant="alternative"
        size="xs">
       Reject
      </Button>
      <Button
        variant="accent"
        size="xs">
        Accept
      </Button>
    </div>
  </div>
</div>
