---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<div>
  <div
    class="relative isolate flex flex-col overflow-hidden bg-base-900 p-4 md:p-8"
  >
    <Text
      tag="span"
      variant="textSM"
      class="font-medium text-white pr-8 lg:pr-0"
    >
      Free and premium multipage themes and UI Kits crafted with Astro JS, and
      Tailwind CSS. We use cookies and other tracking technologies to improve
      your browsing experience on our website, to show you personalized content
      and targeted ads, to analyze our website traffic, and to understand where
      our visitors are coming from. By browsing our website, you consent to our
      use of cookies and other tracking technologies. For more information,
      please visit our <Text
        tag="a"
        href="#_"
        variant="textBase"
        class="text-accent-400 font-medium hover:text-base-500"
      >
        Terms of service
      </Text>
      and
      <Text
        tag="a"
        href="#_"
        variant="textBase"
        class="text-accent-400 font-medium hover:text-base-500"
      >
        Privacy Policy
      </Text>
    </Text>
    <div
      class="flex flex-col sm:flex-row mt-8 gap-2 items-center border-base-200"
    >
      <Button variant="mutedDark" size="xs"> Customize </Button>
      <Button variant="mutedDark" size="xs"> Reject </Button>
      <Button variant="accentDark" size="xs"> Accept </Button>
    </div>
  </div>
</div>
