---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<!-- copy:start -->
<div
  class="relative flex flex-col p-4 overflow-hidden isolate bg-zinc-900 md:p-8"
>
  <Text tag="span" variant="textSM" class="pr-8 font-medium text-white lg:pr-0">
    Free and premium multipage themes and UI Kits crafted with Astro JS, and
    Tailwind CSS. We use cookies and other tracking technologies to improve your
    browsing experience on our website, to show you personalized content and
    targeted ads, to analyze our website traffic, and to understand where our
    visitors are coming from. By browsing our website, you consent to our use of
    cookies and other tracking technologies. For more information, please visit
    our <Text
      tag="a"
      href="#_"
      variant="textBase"
      class="font-medium text-blue-400 hover:text-zinc-500"
    >
      Terms of service
    </Text>
    and
    <Text
      tag="a"
      href="#_"
      variant="textBase"
      class="font-medium text-blue-400 hover:text-zinc-500"
    >
      Privacy Policy
    </Text>
  </Text>
  <div
    class="flex flex-col items-center mt-8 sm:flex-row gap-2 border-zinc-200"
  >
    <Button variant="mutedDark" size="xs"> Customize </Button>
    <Button variant="mutedDark" size="xs"> Reject </Button>
    <Button variant="accentDark" size="xs"> Accept </Button>
  </div>
</div>
<!-- copy:end -->
