<section>
  <div
    class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl grid grid-cols-1 gap-2 sm:grid-cols-2"
  >
    <img
      class="object-cover object-center h-full"
      src="https://images.unsplash.com/photo-1503431128871-cd250803fa41?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="1_"
    />
    <div class="space-y-2">
      <img
        class="aspect-[4/2] object-cover object-center"
        src="https://images.unsplash.com/photo-1477132394330-d2376dc4c091?q=80&w=2622&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="2_"
      />
      <img
        class="aspect-[4/2] object-cover object-center"
        src="https://images.unsplash.com/photo-1477132394330-d2376dc4c091?q=80&w=2622&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="2_"
      />
    </div>
  </div>
</section>
