<section class="bg-base-50 overflow-hidden">
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="max-w-xl mx-auto overflow-hidden transition-all transform bg-white divide-y divide-base-200 shadow-lg rounded-xl">
      <div class="relative">
        <label
          for="search"
          class="sr-only"
          >Search for anything</label
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-search pointer-events-none absolute top-3.5 left-4 size-5 text-base-400"
          aria-hidden="true">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
          <path d="M21 21l-6 -6"></path>
        </svg>
        <input
          id="search"
          type="text"
          class="w-full h-12 pr-4 text-accent-500 placeholder-base-400 bg-transparent border-0 pl-11 focus:ring-0 sm:text-sm"
          placeholder="Search for anything"
          role="combobox"
          aria-expanded="false"
          aria-controls="options"
          aria-activedescendant=""
          aria-autocomplete="list"
        />
      </div>
      <ul
        class="p-2 space-y-3 overflow-y-auto max-h-96"
        id="options"
        role="listbox"
        tabindex="0">
        <li class="px-2">
          <p class="text-sm font-medium text-base-500">Work</p>
        </li>
        <li
          class="flex p-2 items-center text-xs text-base-500 duration-200 cursor-pointer select-none hover:text-accent-500 group rounded-lg hover:bg-base-50"
          id="option-1"
          role="option"
          tabindex="0"
          aria-selected="false">
          <div class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-components size-4"
              aria-hidden="true">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M3 12l3 3l3 -3l-3 -3z"></path>
              <path d="M15 12l3 3l3 -3l-3 -3z"></path>
              <path d="M9 6l3 3l3 -3l-3 -3z"></path>
              <path d="M9 18l3 3l3 -3l-3 -3z"></path>
            </svg>
            <span class="flex-auto truncate">Search projects...</span>
          </div>
          <span class="flex-none ml-auto text-xs font-semibold text-base-400">
            <kbd
              class="flex items-center justify-center size-4  font-semibold text-base-500 border rounded bg-white border-base-200">
              S
            </kbd>
          </span>
        </li>
        <li
          class="flex p-2 items-center text-xs text-base-500 duration-200 cursor-pointer select-none hover:text-accent-500 group rounded-lg hover:bg-base-50"
          id="option-2"
          role="option"
          tabindex="0"
          aria-selected="false">
          <div class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-square-plus size-4"
              ><path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path><path d="M9 12h6"></path><path d="M12 9v6"></path><path
                d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z"
              ></path></svg
            >
            <p>Create another project</p>
          </div>
          <span class="flex-none ml-auto text-xs font-semibold text-base-400">
            <kbd
              class="flex items-center justify-center size-4  font-semibold text-base-500 border rounded bg-white border-base-200">
              C
            </kbd>
          </span>
        </li>
      </ul>
      <ul
        class="p-3 space-y-3 overflow-y-auto max-h-96"
        id="options"
        role="listbox"
        tabindex="0">
        <li class="px-2">
          <p class="text-sm font-medium text-base-500">Recent Projects</p>
        </li>
        <li
          class="flex p-2 text-xs text-base-500 duration-200 cursor-pointer select-none hover:text-accent-500 group rounded-lg hover:bg-base-50"
          id="option-3"
          role="option"
          tabindex="0"
          aria-selected="false">
          <a
            href="#_"
            class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-users-group size-4"
              aria-hidden="true">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
              <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1"></path>
              <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
              <path d="M17 10h2a2 2 0 0 1 2 2v1"></path>
              <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
              <path d="M3 13v-1a2 2 0 0 1 2 -2h2"></path>
            </svg>
            <p>Search team</p>
          </a>
          <span class="flex-none ml-auto text-xs font-semibold text-base-400">
            <kbd
              class="flex items-center justify-center size-4  font-semibold text-base-500 border rounded bg-white border-base-200">
              Y
            </kbd>
          </span>
        </li>
        <li
          class="flex p-2 text-xs text-base-500 duration-200 cursor-pointer select-none hover:text-accent-500 group rounded-lg hover:bg-base-50"
          id="option-4"
          role="option"
          tabindex="0"
          aria-selected="false">
          <div class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-square-plus size-4"
              ><path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path><path d="M9 12h6"></path><path d="M12 9v6"></path><path
                d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z"
              ></path></svg
            >
            <p>Create a new team</p>
          </div>
          <span class="flex-none ml-auto text-xs font-semibold text-base-400">
            <kbd
              class="flex items-center justify-center size-4  font-semibold text-base-500 border rounded bg-white border-base-200">
              K
            </kbd>
          </span>
        </li>
      </ul>
      <div
        class="flex flex-wrap items-center bg-base-50 py-2.5 px-4 text-xs text-base-500">
        <kbd
          class="flex items-center justify-center size-5 mx-1 font-semibold text-base-900 border rounded bg-white border-base-200 sm:mx-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-back size-3.5"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1"
            ></path></svg
          >
        </kbd>
        <span class="sm:hidden"> to select </span>
        <span class="hidden sm:inline"> to select </span>
        <kbd
          class="flex items-center justify-center size-5 mx-1 font-semibold text-base-900 border rounded bg-white border-base-200 sm:mx-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-down size-3.5"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M12 5l0 14"></path><path d="M18 13l-6 6"
            ></path><path d="M6 13l6 6"></path></svg
          >
        </kbd>
        <kbd
          class="flex items-center justify-center size-5 mx-1 font-semibold text-base-900 border rounded bg-white border-base-200 sm:mx-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up size-3.5"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M12 5l0 14"></path><path d="M18 11l-6 -6"
            ></path><path d="M6 11l6 -6"></path></svg
          >
        </kbd>
        <span class="hidden sm:inline"> to navigate </span>
        <kbd
          class="flex items-center justify-center h-5 px-2 mx-1 font-medium text-base-500 border rounded border-base-200 w-7 bg-white sm:mx-2">
          esc
        </kbd>
        to close
        <kbd
          class="flex items-center justify-center size-5 px-2 mx-1 font-medium text-base-500 border rounded border-base-200 bg-white sm:mx-2">
          BS
        </kbd>
      </div>
    </div>
  </div>
</section>
