---
export const description = "Left aligned header with logo section";
export const freeComponent = true;
// Inages
import { Image } from "astro:assets";
import DashboardLight from "@/images/assets/dashboardLight.svg";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="items-center grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div>
        <Kicker>Welcome to Oxbow</Kicker>
        <Text
          tag="h1"
          variant="displayMD"
          class="mt-12 font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
        >
          Modern banking for everyday people
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="mt-4 lg:text-balance text-zinc-500 dark:text-zinc-400"
        >
          Experience seamless finance management, built for the way you live and
          work. Simple, secure, and always in your corner.
        </Text>
        <div class="flex flex-wrap items-center mx-auto mt-8 gap-2">
          <Button variant="accent" size="sm">Start now</Button>
          <Button variant="muted" size="sm">See features</Button>
        </div>
      </div>
      <div class="lg:col-span-2">
        <Image
          width={1200}
          height={1200}
          loading="eager"
          decoding="async"
          alt="dashboard"
          src={DashboardLight}
          class="object-cover size-full rounded-lg shadow outline outline-zinc-200 dark:outline-zinc-800"
        />
      </div>
    </div>
  </div>
</section>
