---
export const description = "Left aligned header with logo section";
export const freeComponent = true;
// Inages
import { Image } from "astro:assets";
import DashboardLight from "@/images/assets/dashboardLight.svg";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<div>
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="items-center grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div>
        <Kicker class="text-blue-500"> OxbowUI </Kicker>

        <Text
          tag="h1"
          variant="displayLG"
          class="mt-12 font-semibold tracking-tight text-zinc-900 lg:text-balance"
        >
          Banking, but not boring
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="mt-4 lg:text-balance text-zinc-500"
        >
          Ditch the clunky legacy systems — collaborate on staging like it's
          2025, not 2005.
        </Text>
        <div class="flex flex-wrap items-center mx-auto mt-8 gap-2">
          <Button variant="accent" size="sm"> Get started </Button>
          <Button variant="alternative" size="sm"> Learn more </Button>
        </div>
      </div>
      <div class="lg:col-span-2">
        <Image
          width={1200}
          height={1200}
          loading="eager"
          decoding="async"
          alt="dashboard"
          src={DashboardLight}
          class="object-cover size-full rounded-lg shadow outline outline-zinc-200"
        />
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
