---
export const description = "Left aligned header with logo section";
// Inages
import { Image } from "astro:assets";
import DashboardLight from "@/images/assets/dashboardLight.svg";
import One from "@/images/brandsDark/1.svg";
import Two from "@/images/brandsDark/2.svg";
import Three from "@/images/brandsDark/3.svg";
import Four from "@/images/brandsDark/4.svg";
import Five from "@/images/brandsDark/5.svg";
import Six from "@/images/brandsDark/6.svg";

// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Code from "@/components/fundations/icons/Code.astro";
import Brain from "@/components/fundations/icons/Brain.astro";
import Database from "@/components/fundations/icons/Database.astro";
import Clock from "@/components/fundations/icons/Clock.astro";
const logos = [
  {
    src: One,
    width: 158,
    height: 48,
  },
  {
    src: Two,
    width: 158,
    height: 48,
  },
  {
    src: Three,
    width: 158,
    height: 48,
  },
  {
    src: Four,
    width: 158,
    height: 48,
  },
  {
    src: Five,
    width: 158,
    height: 48,
  },
  {
    src: Six,
    width: 158,
    height: 48,
  },
];

const data = [
  {
    icon: "Brain",
    category: "Smarter defaults",
    text: "Built to guess what you want before you even know you want it. Creepy? Maybe. Useful? Definitely.",
  },
  {
    icon: "Clock",
    category: "Zero wasted time",
    text: "We shaved off every unnecessary click so you can ship before your coffee gets cold.",
  },
  {
    icon: "Code",
    category: "Developer-first",
    text: "No gatekeeping, no fluff — just tools that respect your time and don’t fight your keyboard.",
  },
  {
    icon: "Database",
    category: "Data you can trust",
    text: "Clean, predictable, and drama-free. Like spreadsheets, if spreadsheets weren’t evil.",
  },
];
---

<div>
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="items-center grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div>
        <Text
          tag="h1"
          variant="displayMD"
          class="font-semibold tracking-tight text-zinc-900 lg:text-balance"
        >
          Collaboration that doesn’t suck
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="mt-4 lg:text-balance text-zinc-500"
        >
          Share, edit, and ship without the Slack chaos, endless docs, or
          meetings that could’ve been an emoji. It's teamwork, minus the team
          pain.
        </Text>

        <div class="flex flex-wrap items-center mx-auto mt-8 gap-2">
          <Button variant="accent" size="sm"> Get started </Button>
          <Button variant="alternative" size="sm"> Learn more </Button>
        </div>
        <Kicker
          showLink={true}
          href="#_"
          linkText="Read further"
          class="mt-8 text-stone-500"
        >
          Built in a weekend, somehow still better than the alternatives
        </Kicker>
      </div>

      <div class="lg:col-span-2">
        <Image
          width={1200}
          height={1200}
          loading="eager"
          decoding="async"
          alt="dashboard"
          src={DashboardLight}
          class="object-cover h-full rounded-lg shadow outline outline-zinc-200"
        />
      </div>
    </div>

    <dl
      class="mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-6 gap-y-8"
    >
      {
        data.map((section) => (
          <div>
            <div class="flex items-center  text-stone-500 gap-2">
              {section.icon === "Brain" && (
                <Brain class="text-stone-600" size="base" />
              )}
              {section.icon === "Clock" && (
                <Clock class="text-stone-600" size="base" />
              )}
              {section.icon === "Code" && (
                <Code class="text-stone-600" size="base" />
              )}
              {section.icon === "Database" && (
                <Database class="text-stone-600" size="base" />
              )}

              <dt>
                <Text
                  variant="textBase"
                  tag="h3"
                  class="font-medium m text-zinc-900"
                >
                  {section.category}
                </Text>
              </dt>
            </div>
            <dd>
              <Text tag="p" variant="textSM" class="mt-2 text-zinc-500">
                {section.text}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
  <!-- copy:end -->
</div>
