---
export const description = "Left aligned header with logo section";
// Inages
import { Image } from "astro:assets";
import DashboardLight from "@/images/assets/dashboardLight.svg";

// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
// Icons
import Code from "@/components/fundations/icons/Code.astro";
import Brain from "@/components/fundations/icons/Brain.astro";
import Database from "@/components/fundations/icons/Database.astro";
import Clock from "@/components/fundations/icons/Clock.astro";

const data = [
  {
    icon: "Brain",
    category: "Smarter defaults",
    text: "Built to guess what you want before you even know you want it. Creepy? Maybe. Useful? Definitely.",
  },
  {
    icon: "Clock",
    category: "Zero wasted time",
    text: "We shaved off every unnecessary click so you can ship before your coffee gets cold.",
  },
  {
    icon: "Code",
    category: "Developer-first",
    text: "No gatekeeping, no fluff — just tools that respect your time and don’t fight your keyboard.",
  },
  {
    icon: "Database",
    category: "Data you can trust",
    text: "Clean, predictable, and drama-free. Like spreadsheets, if spreadsheets weren’t evil.",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <!-- copy:start -->
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-20">
    <div class="items-center grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div>
        <Text
          tag="h1"
          variant="displayMD"
          class="font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
        >
          Work together, 100% stress free
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="mt-4 lg:text-balance text-zinc-500 dark:text-zinc-400"
        >
          Organize, create, and launch projects without the noise. Oxbow helps
          your team stay focused and actually enjoy working together.
        </Text>

        <div class="flex flex-wrap items-center mx-auto mt-8 gap-2">
          <Button variant="accent" size="sm">Try it free</Button>
          <Button variant="muted" size="sm">How it works</Button>
        </div>
        <Kicker
          showLink={true}
          href="#_"
          linkText="See the details"
          class="mt-8 text-blue-500 dark:text-blue-400"
        >
          Built for humans, not just teams
        </Kicker>
      </div>

      <div class="lg:col-span-2">
        <Image
          width={1200}
          height={1200}
          loading="eager"
          decoding="async"
          alt="dashboard"
          src={DashboardLight}
          class="object-cover h-full rounded-lg shadow outline outline-zinc-200 dark:outline-zinc-800"
        />
      </div>
    </div>

    <dl
      class="mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-6 gap-y-8"
    >
      {
        data.map((section) => (
          <div>
            <div class="flex items-center text-blue-500 dark:text-blue-400 gap-2">
              {section.icon === "Brain" && (
                <Brain class="text-blue-600" size="base" />
              )}
              {section.icon === "Clock" && (
                <Clock class="text-blue-600" size="base" />
              )}
              {section.icon === "Code" && (
                <Code class="text-blue-600" size="base" />
              )}
              {section.icon === "Database" && (
                <Database class="text-blue-600" size="base" />
              )}

              <dt>
                <Text
                  variant="textBase"
                  tag="h3"
                  class="font-medium m text-zinc-900 dark:text-white"
                >
                  {section.category}
                </Text>
              </dt>
            </div>
            <dd>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 text-zinc-500 dark:text-zinc-400"
              >
                {section.text}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
  <!-- copy:end -->
</section>
