---
export const description = "Split with image";
import { Image } from "astro:assets";
import DashboardLight from "@/images/assets/dashboardLight.svg";
import Avatar1 from "@/images/avatars/1.jpg";
import Avatar2 from "@/images/avatars/2.jpg";
import Avatar3 from "@/images/avatars/3.jpg";
import Avatar4 from "@/images/avatars/4.jpg";
const avatars = [
  { src: Avatar1, alt: "#_" },
  { src: Avatar2, alt: "#_" },
  { src: Avatar3, alt: "#_" },
  { src: Avatar4, alt: "#_" },
];
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
---

<section class="relative overflow-hidden bg-white dark:bg-black">
  <div class="relative items-center p-8 mx-auto max-w-7xl lg:flex">
    <div class="max-w-2xl mx-auto lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:pl-8">
      <Kicker
        showLink={true}
        href="#_"
        linkText="Read further"
        class="text-blue-500 dark:text-blue-400"
      >
        We have rised $50 —
      </Kicker>
      <Text
        tag="h1"
        variant="displayLG"
        class="mt-12 font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
      >
        Software that gets out of your way
      </Text>
      <Text
        class="mt-4 text-zinc-500 lg:text-balance"
        tag="p"
        variant="textBase"
      >
        
        Plug it in, skip the drama. Built to play nice with your stack and
        handle the messy stuff so you don’t have to. No fluff, just features
        that actually pull their weight.
      </Text>

      <div class="flex flex-wrap items-center mx-auto mt-8 gap-2">
        <Button variant="accent" size="sm"> Get started </Button>
        <Button variant="alternative" size="sm"> Learn more </Button>
      </div>
      <div class="flex flex-wrap items-center mt-8 gap-2">
        <div class="flex -space-x-2">
          {
            avatars.map((avatar) => (
              <Image
                width={200}
                height={200}
                src={avatar.src}
                alt={avatar.alt}
                class="inline-block object-cover object-center rounded-full size-8 outline-2 outline-white dark:outline-zinc-900"
              />
            ))
          }
        </div>
        <div class="text-xs text-zinc-500 dark:text-zinc-400 lg:items-center">
          <span class="block">Trusted by people</span>
          <span class="block"> who’ve seen worse</span>
        </div>
      </div>
    </div>
    <div
      class="flex max-w-2xl mx-auto mt-16 sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32"
    >
      <div class="flex-none max-w-3xl sm:max-w-5xl lg:max-w-none">
        <div class="lg:-m-4">
          <Image
            width={1200}
            height={1200}
            loading="eager"
            decoding="async"
            alt="dashboard"
            src={DashboardLight}
            class="w-[76rem] shadow outline rounded-lg outline-zinc-200 dark:outline-zinc-800"
          />
        </div>
      </div>
    </div>
  </div>
</section>
