---
export const description = "Simple with center text and image";
import { Image } from "astro:assets";
import DashboardLight from "@/images/assets/dashboardLight.svg";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div>
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <Kicker
        showLink={true}
        href="#_"
        linkText="Read further"
        class="text-stone-500"
      >
        We have changed the way you work —
      </Kicker>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-12 font-semibold tracking-tight text-zinc-900 lg:text-balance"
      >
        Collaboration that doesn’t make you want to scream
      </Text>
      <Text tag="p" variant="textSM" class="mt-4 text-zinc-500 lg:text-balance">
        Spin up staging, sync with your team, and stop pretending spreadsheets
        are a workflow.
      </Text>

      <div
        class="flex flex-wrap items-center justify-center mx-auto mt-8 gap-2"
      >
        <Button variant="accent" size="sm"> Get started </Button>
        <Button variant="alternative" size="sm"> Learn more </Button>
      </div>
    </div>

    <div
      class="relative mt-12 overflow-hidden rounded-lg shadow outline outline-zinc-200"
    >
      <Image
        width={1200}
        height={1200}
        loading="eager"
        decoding="async"
        alt="dashboard"
        src={DashboardLight}
        class="object-cover h-full"
      />
    </div>
  </div>
  <!-- copy:end -->
</div>
