---
export const description = "Simple with center text and image";
import { Image } from "astro:assets";
import DashboardLight from "@/images/assets/dashboardLight.svg";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-20">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <Kicker
        showLink={true}
        href="#_"
        linkText="See how it works"
        class="text-blue-500 dark:text-blue-400"
      >
        A better way to build together
      </Kicker>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-12 font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
      >
        Teamwork that feels effortless
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="mt-4 text-zinc-500 dark:text-zinc-400 lg:text-balance"
      >
        Launch projects, share ideas, and keep everyone in sync—without the
        hassle. Oxbow makes collaboration simple and enjoyable.
      </Text>

      <div
        class="flex flex-wrap items-center justify-center mx-auto mt-8 gap-2"
      >
        <Button variant="accent" size="sm">Start for free</Button>
        <Button variant="muted" size="sm">See features</Button>
      </div>
    </div>

    <div
      class="relative mt-12 overflow-hidden rounded-lg shadow outline outline-zinc-200"
    >
      <Image
        width={1200}
        height={1200}
        loading="eager"
        decoding="async"
        alt="dashboard"
        src={DashboardLight}
        class="object-cover h-full"
      />
    </div>
  </div>
</div>
