---
export const description = "Simple with center text, image and features";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Plus from "@/components/fundations/icons/Plus.astro";
import Code from "@/components/fundations/icons/Code.astro";
import Brain from "@/components/fundations/icons/Brain.astro";
import Clock from "@/components/fundations/icons/Clock.astro";
import Filters from "@/components/fundations/icons/Filters.astro";
import Database from "@/components/fundations/icons/Database.astro";
import WaveSquare from "@/components/fundations/icons/WaveSquare.astro";
import ArrowIteration from "@/components/fundations/icons/ArrowIteration.astro";
const data = [
  {
    icon: "Filters",
    category: "Live editing",
    text: "Change stuff and see it instantly — like magic, but with fewer rabbits.",
  },
  {
    icon: "WaveSquare",
    category: "Autocompletion",
    text: "We’ll finish your classes so you don’t have to play guessing games.",
  },
  {
    icon: "ArrowIteration",
    category: "Hide/show classes",
    text: "Toggle styles like a control freak — minus the chaos.",
  },
  {
    icon: "Plus",
    category: "Color preview",
    text: "No more color roulette. See exactly what you're adding before you commit.",
  },
  {
    icon: "Brain",
    category: "Instant reloads",
    text: "Preview changes faster than your brain can process regret.",
  },
  {
    icon: "Clock",
    category: "Class stacking",
    text: "Stack utility classes without feeling like you’re defusing a bomb.",
  },
  {
    icon: "Code",
    category: "Focus mode",
    text: "Hide the noise. Focus on what matters. Like your sanity.",
  },
  {
    icon: "Database",
    category: "Clean output",
    text: "Your code stays as clean as your intentions. No weird side effects, we promise.",
  },
];
---

<section class="bg-white dark:bg-black">
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="max-w-xl mx-auto text-center">
      <Kicker
        showLink={true}
        href="#_"
        linkText="Read further"
        class="text-blue-500 dark:text-blue-400"
      >
        We’ve officially ruined your old workflow —
      </Kicker>
      <Text
        tag="h1"
        variant="displaySM"
        class="mt-12 font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
      >
        Real-time updates, because guessing is not a strategy
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="mt-4 text-zinc-500 dark:text-zinc-400 lg:text-balance"
      >
        Stop refreshing your inbox. Stay synced on staging and temp environments
        without the chaos.
      </Text>
      <div
        class="flex flex-wrap items-center justify-center mx-auto mt-8 gap-2"
      >
        <Button variant="accent" size="sm"> Get started </Button>
        <Button variant="alternative" size="sm"> Learn more </Button>
      </div>
    </div>
    <dl
      class="mt-12 text-center grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-4 lg:gap-y-16"
    >
      {
        data.map((section) => (
          <div>
            <div class="flex flex-col items-center text-blue-500 dark:text-blue-400 gap-4">
              {section.icon === "Filters" && (
                <Filters class="text-blue-600" size="base" />
              )}
              {section.icon === "WaveSquare" && (
                <WaveSquare class="text-blue-600" size="base" />
              )}
              {section.icon === "ArrowIteration" && (
                <ArrowIteration class="text-blue-600" size="base" />
              )}
              {section.icon === "Plus" && (
                <Plus class="text-blue-600" size="base" />
              )}
              {section.icon === "Brain" && (
                <Brain class="text-blue-600" size="base" />
              )}
              {section.icon === "Clock" && (
                <Clock class="text-blue-600" size="base" />
              )}
              {section.icon === "Code" && (
                <Code class="text-blue-600" size="base" />
              )}
              {section.icon === "Database" && (
                <Database class="text-blue-600" size="base" />
              )}
              <dt>
                <Text
                  variant="textBase"
                  tag="h3"
                  class="font-medium  text-zinc-900 dark:text-zinc-100"
                >
                  {section.category}
                </Text>
              </dt>
            </div>
            <dd>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 text-zinc-500 dark:text-zinc-400"
              >
                {section.text}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
