---
export const description = "Split screen sign in with testimonial";
// Assets
import { Image } from "astro:assets";
import DashboardLight from "@/images/assets/dashboardLight.svg";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
// Icons
import Code from "@/components/fundations/icons/Code.astro";
import Brain from "@/components/fundations/icons/Brain.astro";
import Database from "@/components/fundations/icons/Database.astro";
import Clock from "@/components/fundations/icons/Clock.astro";
const data = [
  {
    icon: "Brain",
    category: "Instant reloads",
    text: "See your changes before your brain even realizes you hit save. Spooky fast.",
  },
  {
    icon: "Clock",
    category: "Class stacking",
    text: "Pile on utility classes without the mental gymnastics or existential dread.",
  },
  {
    icon: "Code",
    category: "Focus mode",
    text: "Block out the clutter and zero in. It’s like noise-canceling for your workflow.",
  },
  {
    icon: "Database",
    category: "Clean output",
    text: "What you write is what you ship — no bloated junk or surprise div soup.",
  },
];
---
<div class="flex h-screen bg-white dark:bg-zinc-900">
  <div
    class="flex items-center justify-center w-full p-8 bg-white dark:bg-zinc-900 lg:w-1/2"
  >
    <div class="w-full max-w-md py-24">
      <div>
        <Kicker
          showLink={true}
          href="#_"
          linkText="Read further"
          class="text-blue-500"
        >
          We’ve raised $50 — don’t ask how
        </Kicker>
        <Text
          tag="h1"
          variant="displayLG"
          class="mt-12 font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
        >
          Software that gets out of your way
        </Text>
        <Text
          class="mt-4 text-zinc-500 dark:text-zinc-400 lg:text-balance"
          tag="p"
          variant="textBase"
        >
          Plug it in, skip the drama. Built to play nice with your stack and
          handle the messy stuff so you don’t have to. No fluff — just features
          that show up and do their job.
        </Text>
        <div class="flex mt-8">
          <Button variant="accent" size="sm"> Get started </Button>
        </div>
        <dl class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-8">
          {
            data.map((section) => (
              <div>
                <div class="flex items-center  text-blue-500 gap-2">
                  {section.icon === "Brain" && (
                    <Brain class="text-blue-600" size="base" />
                  )}
                  {section.icon === "Clock" && (
                    <Clock class="text-blue-600" size="base" />
                  )}
                  {section.icon === "Code" && (
                    <Code class="text-blue-600" size="base" />
                  )}
                  {section.icon === "Database" && (
                    <Database class="text-blue-600" size="base" />
                  )}
                  <dt>
                    <Text
                      variant="textBase"
                      tag="h3"
                      class="font-medium text-zinc-900 dark:text-white"
                    >
                      {section.category}
                    </Text>
                  </dt>
                </div>
                <dd>
                  <Text
                    tag="p"
                    variant="textSM"
                    class="mt-2 text-zinc-500 dark:text-zinc-400"
                  >
                    {section.text}
                  </Text>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
  <div
    class="relative hidden lg:block lg:w-1/2 lg:border-l lg:border-zinc-200 dark:lg:border-zinc-800"
  >
    <Image
      width={1200}
      height={1200}
      src={DashboardLight}
      alt="#_"
      aria-hidden="true"
      class="object-cover object-left w-full h-full bg-zinc-50 dark:bg-zinc-900"
    />
  </div>
</div>
