---
export const description = "Simple with center text and image";
import { Image } from "astro:assets";
import DashboardLight from "@/images/assets/dashboardLight.svg";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import Button from "@/components/fundations/buttons/Button.astro";
const stats = [
  {
    label: "Working Individuals",
    value: "30%",
  },
  {
    label: "Super low fee",
    value: "40%",
  },
  {
    label: "Great Commitment",
    value: "50%",
  },
  {
    label: "Massive Earnings",
    value: "60M",
  },
];
---

<section class="overflow-hidden lg:p-8 bg-white dark:bg-zinc-900">
  <div
    class="w-full px-8 py-20 pb-0 mx-auto overflow-hidden md:px-12 lg:px-42 2xl:max-w-7xl lg:bg-zinc-50 dark:lg:bg-zinc-900 rounded-xl"
  >
    <div class="max-w-xl">
      <Kicker
        showLink={true}
        href="#_"
        linkText="Read further"
        class="text-blue-500 dark:text-blue-400"
      >
        Killing busywork, one click at a time —
      </Kicker>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-12 font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
      >
        Teamwork without the group therapy
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="mt-4 text-zinc-500 dark:text-zinc-400 lg:text-balance"
      >
        Launch environments, loop in teammates, and finally escape the nightmare
        of version-controlled spreadsheets.
      </Text>

      <div class="flex flex-wrap items-center mt-8 gap-2">
        <Button variant="accent" size="sm"> Get started </Button>
        <Button variant="alternative" size="sm"> Learn more </Button>
      </div>
    </div>
    <div class="mt-12 grid grid-cols-2 gap-4 sm:grid-cols-2 md:grid-cols-4">
      {
        stats.map((stat) => (
          <div class="flex flex-col">
            <Text
              tag="p"
              variant="textBase"
              class="font-medium  text-zinc-900 dark:text-zinc-100"
            >
              {stat.value}
            </Text>
            <Text
              tag="h3"
              variant="textSM"
              class="font-medium  text-zinc-500 dark:text-zinc-400"
            >
              {stat.label}
            </Text>
          </div>
        ))
      }
    </div>
    <div
      class="relative mt-4 overflow-hidden border border-b-0 rounded-t-lg shadow border-zinc-200 dark:border-zinc-800"
    >
      <Image
        width={1200}
        height={1200}
        loading="eager"
        decoding="async"
        alt="dashboard"
        src={DashboardLight}
        class="object-cover h-full -mb-12"
      />
    </div>
  </div>
</section>
