---
export const description = "Simple with center text interactive images";
import Text from "@/components/fundations/typography/Text.astro";
---
<section>
  <div
    class="relative px-8 pt-24 mx-auto overflow-hidden md:px-12 lg:px-24 max-w-7xl">
    <div class="mx-auto text-center lg:text-balance">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="display2XL"
        class="mt-4 font-semibold text-base-900 lg:text-balance">
        Transforming the banking experience for a digital future
      </Text>
      <Text
        class="mt-4 font-medium text-base-500"
        tag="p"
        variant="textBase">
        The fastest method for working together on staging and temporary
        environments.
      </Text>
    </div>
    <div class="relative h-full mt-12 -mb-96">
      <div class="flex items-center justify-center gap-2">
        <img
          class="mx-auto w-[22.875rem] max-w-full drop-shadow-xl lg:mt-12 hover:-translate-y-12 duration-300"
          src="/images/phone2.png"
          alt="#_"
        />
        <img
          class="mx-auto w-[22.875rem] max-w-full drop-shadow-xl lg:mt-12 hover:-translate-y-12 duration-300"
          src="/images/phone1.png"
          alt="#_"
        />
        <img
          class="mx-auto w-[22.875rem] max-w-full drop-shadow-xl lg:mt-12 hover:-translate-y-12 duration-300"
          src="/images/phone3.png"
          alt="#_"
        />
      </div>
      <img
        class="object-cover h-full border shadow sr-only rounded-2xl"
        src="/images/dashboardLight.svg"
        alt="#_"
      />
    </div>
  </div>
</section>
