---
export const description = "Split with text on the right and full heigt image";

import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
const data = [
  {
    name: "Fernando Monte",
    title: "Creator of Lexingtonthemes.com",
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions' security and efficiency.",
    imgSrc: "/avatars/1.jpg",
  },
];
---

<div class="relative">
  <div class="lg:absolute lg:inset-0 lg:right-1/2">
    <div class="h-full">
      <img
        class="object-cover object-right w-full h-64 bg-base-50 sm:h-80 lg:h-full lg:border-r border-base-200"
        src="/images/dashboardLight.svg"
        alt="#_"
      />
    </div>
  </div>
  <div
    class="px-8 pt-10 pb-24 sm:pb-32 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:pb-56 lg:pt-48"
  >
    <div class="lg:col-start-2 lg:pl-12">
      <div class="max-w-2xl mx-auto lg:mx-0 lg:px-12">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-accent-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-base-900"
        >
          Transforming the banking experience for a digital future
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-base-500">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
        <div class="flex flex-wrap mt-12 gap-4">
          <Button variant="accent" size="sm"> Get started </Button>
          <div class="text-sm text-base-500 md:text-left">
            <span class="block"> This is some support text </span>
            <span class="block"> and this is also. </span>
          </div>
        </div>
        <ul role="list" class="pt-6 mt-6 border-t border-base-200">
          {
            data.map((member) => (
              <>
                <li>
                  <figure class="flex flex-col h-full ">
                    <Text
                      tag="blockquote"
                      variant="textLG"
                      class="italic font-medium  text-base-500"
                    >
                      {member.testimonial}
                    </Text>
                    <figcaption>
                      <div class="flex items-center mt-8 gap-2">
                        <img
                          class="rounded-full nline-block size-12"
                          src={member.imgSrc}
                          alt="#_"
                        />
                        <div>
                          <Text
                            tag="p"
                            variant="textBase"
                            class="font-medium  text-base-900"
                          >
                            {member.name}
                          </Text>
                          <Text
                            tag="p"
                            variant="textSM"
                            class="font-medium  text-base-500"
                          >
                            {member.title}
                          </Text>
                        </div>
                      </div>
                    </figcaption>
                  </figure>
                </li>
              </>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>
