---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Link from "@/components/fundations/typography/Link.astro";
import ChevronDown from "@/components/fundations/icons/ChevronDown.astro";
import Refresh from "@/components/fundations/icons/Refresh.astro";
import FileDots from "@/components/fundations/icons/FileDots.astro";
import Edit from "@/components/fundations/icons/Edit.astro";
import Brain from "@/components/fundations/icons/Brain.astro";
---
<div class="h-[32rem]">
  <div class="flex items-center justify-center w-full py-12 mx-auto">
    <!--- When in use set x-data="{ open: false }" -->
    <div
      x-data="{ open: true }"
      class="relative">
      <Button
        aria-expanded="false"
        @click="open = !open"
        variant="text"
        size="sm"
        gap="sm">
        <span>Help Center</span>
        <ChevronDown
          size="sm"
          slot="right-icon"
        />
      </Button>
      <div
        x-show="open"
        @click.away="open = false"
        x-transition:enter="transition ease-out duration-200"
        x-transition:enter-start="opacity-0 translate-y-1"
        x-transition:enter-end="opacity-100 translate-y-0"
        x-transition:leave="transition ease-in duration-150"
        x-transition:leave-start="opacity-100 translate-y-0"
        x-transition:leave-end="opacity-0 translate-y-1"
        class="absolute z-10 flex w-screen px-4 mt-5 transition duration-200 ease-out -translate-x-1/2 left-1/2 max-w-max"
        :class="{ 'opacity-0 translate-y-1': !open, 'opacity-100 translate-y-0': open }">
        <div
          class="flex-auto w-screen max-w-xs p-4 text-sm leading-6 bg-white shadow-lg rounded-3xl ring-1 ring-base-900/5">
          <div>
            <Link
              href="#_"
              tag="a"
              variant="thickFlyoutLink">
              <Refresh
                size="base"
                slot="left-icon"
              />
              <Heading
                level={3}
                variant="featureTitleSmall">
                Sync across devices
              </Heading>
            </Link>
            <Link
              href="#_"
              tag="a"
              variant="thickFlyoutLink">
              <FileDots
                size="base"
                slot="left-icon"
              />
              <Heading
                level={3}
                variant="featureTitleSmall">
                Create custom documents
              </Heading>
            </Link>
            <Link
              href="#_"
              tag="a"
              variant="thickFlyoutLink">
              <Edit
                size="base"
                slot="left-icon"
              />
              <Heading
                level={3}
                variant="featureTitleSmall">
                Edit your files
              </Heading>
            </Link>
            <Link
              href="#_"
              tag="a"
              variant="thickFlyoutLink">
              <Brain
                size="base"
                slot="left-icon"
              />
              <Heading
                level={3}
                variant="featureTitleSmall">
                Edit your files
              </Heading>
            </Link>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
