---
const blogPosts = [
  {
    title: "Boost Your Workflow",
    subtitle:
      "Tips for optimizing productivity and efficiency in your daily tasks.",
    imageUrl:
      "https://images.unsplash.com/photo-1567679554719-721d7f6360c8?q=80&w=2475&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
  },

];
---

<div class="h-[50rem]">
  <!--- When in use set x-data="{ open: false }" -->
  <div
    class="relative z-50 py-12 isolate"
    x-data="{ open: true }">
    <div
      class="flex items-center justify-center px-8 mx-auto max-w-7xl md:px-12 lg:px-24">
      <button
        type="button"
        @click="open = !open"
        class="inline-flex items-center text-sm font-semibold leading-6 text-gray-900 gap-x-1"
        aria-expanded="false">
        <span>Help Center</span>
        <svg
          class="w-5 h-5"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true">
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
    <!-- Flyout menu -->
    <div
      x-show="open"
      @click.outside="open = false"
      x-transition:enter="transition ease-out duration-200"
      x-transition:enter-start="opacity-0 -translate-y-1"
      x-transition:enter-end="opacity-100 translate-y-0"
      x-transition:leave="transition ease-in duration-150"
      x-transition:leave-start="opacity-100 translate-y-0"
      x-transition:leave-end="opacity-0 -translate-y-1"
      class="absolute inset-x-0 top-0 px-8 py-12 pt-16 -z-10 md:px-12 lg:px-24">
      <div
        class="p-8 mx-auto mt-12 bg-white shadow-lg max-w-7xl ring-1 ring-gray-900/5 rounded-3xl lg:p-12">
        <div
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-x-8 gap-y-12">
          <div>
            <h3 class="px-4 text-sm font-medium text-gray-900">Benefits</h3>
            <div class="flex flex-col gap-4 mt-2">
              <div
                class="px-4 py-2 text-sm font-medium transition-colors rounded-lg text-gray-500 hover:text-blue-500 hover:bg-gray-50">
                <a
                  href="#_"
                  class="flex items-center w-full gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler size-5 icons-tabler-outline icon-tabler-refresh group-hover:text-blue-500">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path>
                    <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
                    <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
                  </svg>
                  Sync across devices
                </a>
              </div>
              <div
                class="px-4 py-2 text-sm font-medium transition-colors rounded-lg text-gray-500 hover:text-blue-500 hover:bg-gray-50">
                <a
                  href="#_"
                  class="flex items-center w-full gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="size-5 icon icon-tabler icons-tabler-outline icon-tabler-file-dots group-hover:text-blue-500"
                    ><path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path><path d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
                      d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                    ></path><path d="M9 14v.01"></path><path d="M12 14v.01"
                    ></path><path d="M15 14v.01"></path></svg
                  >
                  Create custom documents
                </a>
              </div>
              <div
                class="px-4 py-2 text-sm font-medium transition-colors rounded-lg text-gray-500 hover:text-blue-500 hover:bg-gray-50">
                <a
                  href="#_"
                  class="flex items-center w-full gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-edit sgroup-hover:text-blue-500 size-5"
                    ><path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path><path
                      d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                    ></path><path
                      d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                    ></path><path d="M16 5l3 3"></path></svg
                  >
                  Edit your files
                </a>
              </div>
              <div
                class="px-4 py-2 text-sm font-medium transition-colors rounded-lg text-gray-500 hover:text-blue-500 hover:bg-gray-50">
                <a
                  href="#_"
                  class="flex items-center w-full gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-brain sgroup-hover:text-blue-500 size-5"
                    ><path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path><path
                      d="M15.5 13a3.5 3.5 0 0 0 -3.5 3.5v1a3.5 3.5 0 0 0 7 0v-1.8"
                    ></path><path
                      d="M8.5 13a3.5 3.5 0 0 1 3.5 3.5v1a3.5 3.5 0 0 1 -7 0v-1.8"
                    ></path><path d="M17.5 16a3.5 3.5 0 0 0 0 -7h-.5"
                    ></path><path d="M19 9.3v-2.8a3.5 3.5 0 0 0 -7 0"
                    ></path><path d="M6.5 16a3.5 3.5 0 0 1 0 -7h.5"></path><path
                      d="M5 9.3v-2.8a3.5 3.5 0 0 1 7 0v10"></path></svg
                  >
                  Organize files
                </a>
              </div>
            </div>
          </div>
          <div>
            <h3 class="px-4 text-sm font-medium text-gray-900">
              Enhance Productivity
            </h3>
            <div class="flex flex-col gap-4 mt-2">
              <div
                class="px-4 py-2 text-sm font-medium transition-colors rounded-lg text-gray-500 hover:text-blue-500 hover:bg-gray-50">
                <a
                  href="#_"
                  class="flex items-center w-full gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-loader-2 group-hover:text-blue-500 size-5"
                    ><path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path><path d="M12 3a9 9 0 1 0 9 9"></path></svg
                  >
                  <div class="flex items-center gap-2">
                    Optimize Processes
                    <p
                      class="rounded-full bg-blue-600/10 px-2.5 py-1 text-xs font-semibold text-blue-600">
                      New
                    </p>
                  </div>
                </a>
              </div>
              <div
                class="px-4 py-2 text-sm font-medium transition-colors rounded-lg text-gray-500 hover:text-blue-500 hover:bg-gray-50">
                <a
                  href="#_"
                  class="flex items-center w-full gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-automation group-hover:text-blue-500 size-5"
                    ><path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path><path
                      d="M13 20.693c-.905 .628 -2.36 .292 -2.675 -1.01a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.492 .362 1.716 2.219 .674 3.03"
                    ></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"
                    ></path><path d="M17 22l5 -3l-5 -3z"></path></svg
                  >
                  Automate Efforts
                </a>
              </div>
              <div
                class="px-4 py-2 text-sm font-medium transition-colors rounded-lg text-gray-500 hover:text-blue-500 hover:bg-gray-50">
                <a
                  href="#_"
                  class="flex items-center w-full gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-users-group group-hover:text-blue-500 size-5"
                    ><path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path><path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"
                    ></path><path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1"
                    ></path><path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"
                    ></path><path d="M17 10h2a2 2 0 0 1 2 2v1"></path><path
                      d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path><path
                      d="M3 13v-1a2 2 0 0 1 2 -2h2"></path></svg
                  >
                  Seamless Collaboration
                </a>
              </div>
              <div
                class="px-4 py-2 text-sm font-medium transition-colors rounded-lg text-gray-500 hover:text-blue-500 hover:bg-gray-50">
                <a
                  href="#_"
                  class="flex items-center w-full gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-clock group-hover:text-blue-500 size-5"
                    ><path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"
                    ></path><path d="M12 7v5l3 3"></path></svg
                  >
                  Track Time
                </a>
              </div>
            </div>
          </div>
          <div>
            <h3 class="px-4 text-sm font-medium text-gray-900">
              Advanced Features
            </h3>
            <div class="flex flex-col gap-4 mt-2">
              <div
                class="px-4 py-2 text-sm font-medium transition-colors rounded-lg text-gray-500 hover:text-blue-500 hover:bg-gray-50">
                <a
                  href="#_"
                  class="flex items-center w-full gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-template sgroup-hover:text-blue-500 size-5"
                    ><path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path><path
                      d="M4 4m0 1a1 1 0 0 1 1 -1h14a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-14a1 1 0 0 1 -1 -1z"
                    ></path><path
                      d="M4 12m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
                    ></path><path d="M14 12l6 0"></path><path d="M14 16l6 0"
                    ></path><path d="M14 20l6 0"></path></svg
                  >
                  Tailor Templates
                </a>
              </div>
              <div
                class="px-4 py-2 text-sm font-medium transition-colors rounded-lg text-gray-500 hover:text-blue-500 hover:bg-gray-50">
                <a
                  href="#_"
                  class="flex items-center w-full gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-lock-square-rounded group-hover:text-blue-500 size-5"
                    ><path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path><path
                      d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
                    ></path><path
                      d="M8 11m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z"
                    ></path><path d="M10 11v-2a2 2 0 1 1 4 0v2"></path></svg
                  >
                  Robust Security
                </a>
              </div>
              <div
                class="px-4 py-2 text-sm font-medium transition-colors rounded-lg text-gray-500 hover:text-blue-500 hover:bg-gray-50">
                <div class="flex-1">
                  <a
                    href="#_"
                    class="flex items-center w-full gap-4">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-iteration group-hover:text-blue-500 size-5"
                      ><path
                        stroke="none"
                        d="M0 0h24v24H0z"
                        fill="none"
                      ></path><path d="M8.5 16a5.5 5.5 0 1 0 -5.5 -5.5v.5"
                      ></path><path d="M3 16h18"></path><path
                        d="M18 13l3 3l-3 3"></path></svg
                    >
                    Tool Integration
                  </a>
                </div>
              </div>
              <div
                class="px-4 py-2 text-sm font-medium transition-colors rounded-lg text-gray-500 hover:text-blue-500 hover:bg-gray-50">
                <a
                  href="#_"
                  class="flex items-center w-full gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-sign-right group-hover:text-blue-500 size-5 group"
                    ><path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path><path d="M8 21h4"></path><path d="M10 21v-10"
                    ></path><path d="M10 6v-3"></path><path
                      d="M6 6h10l2 2.5l-2 2.5h-10z"></path></svg
                  >
                  Detailed Insights
                </a>
              </div>
            </div>
          </div>
          <div >
            {
              blogPosts.map((post) => (
                <div class="relative flex flex-col gap-4 group">
                  <img
                    alt="#_"
                    class="object-cover object-center aspect-[4/2] rounded-xl"
                    src={post.imageUrl}
                  />
                  <div>
                    <p class="text-sm font-medium text-gray-900 hover:text-blue-500">
                      <a href="#_">
                        <span class="absolute inset-0 sm:rounded-2xl" />
                        {post.title}
                      </a>
                    </p>
                    <p class="mt-1 text-sm text-gray-500">{post.subtitle}</p>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
