<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <dl
      class="grid grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-4 md:grid-cols-2 lg:gap-x-8 lg:gap-y-16"
    >
      <div>
        <dt
          class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900"
        >
          NO GUARANTEE
        </dt>
        <dd class="mt-2 text-sm text-gray-500 text-pretty">
          The recipe is provided "as is" without any guarantees. Bake at your
          own risk.
        </dd>
      </div>
      <div>
        <dt
          class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900"
        >
          COMMERCIAL BAKING ALLOWED
        </dt>
        <dd class="mt-2 text-sm text-gray-500 text-pretty">
          You may use the recipe for both home baking and commercial purposes if
          you want to.
        </dd>
      </div>
      <div>
        <dt
          class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900"
        >
          Baking Freedom
        </dt>
        <dd class="mt-2 text-sm text-gray-500 text-pretty">
          You can adapt, remix, transform, and build upon the licensed work.
        </dd>
      </div>
      <div>
        <dt
          class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900"
        >
          Tools for every kitchen
        </dt>
        <dd class="mt-2 text-sm text-gray-500 text-pretty">
          Hear from a range of chefs on how they're using BaaS in radically
          different ways.
        </dd>
      </div>
    </dl>
  </div>
</section>
