<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <dl
      class="grid sm:grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16"
    >
      <div>
        <img
          class="rounded-2xl drop-shadow w-full"
          src="/images/blueCard.svg"
          alt="#_"
        />
        <dt class="mt-6 text-sm flex items-center justify-between">
          <h3
            class="font-mono uppercase tracking-tighter font-medium text-gray-900"
          >
            NO GUARANTEE
          </h3>
          <p class="text-gray-500">$00</p>
        </dt>
        <dd class="mt-2 text-sm text-gray-500 text-pretty">
          The recipe is provided "as is" without any guarantees.
        </dd>
      </div>
      <div>
        <img
          class="rounded-2xl drop-shadow w-full"
          src="/images/darkCard.svg"
          alt="#_"
        />
        <dt class="mt-6 text-sm flex items-center justify-between">
          <h3
            class="font-mono uppercase tracking-tighter font-medium text-gray-900"
          >
            FAST DELIVERY
          </h3>
          <p class="text-gray-500">$00</p>
        </dt>
        <dd class="mt-2 text-sm text-gray-500 text-balance">
          We ensure your baked goods are delivered fresh and on time, every
          time.
        </dd>
      </div>
      <div>
        <img
          class="rounded-2xl drop-shadow w-full"
          src="/images/whiteCard.svg"
          alt="#_"
        />
        <div class="mt-6 text-sm flex items-center justify-between">
          <h3
            class="font-mono uppercase tracking-tighter font-medium text-gray-900"
          >
            Baking Freedom
          </h3>
          <p class="text-gray-500">$00</p>
        </div>
        <dd class="mt-2 text-sm text-gray-500 text-pretty">
          You can adapt, remix, transform, and build upon the licensed work.
        </dd>
      </div>
    </dl>
  </div>
</section>
