---
const faqs = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Can I access my encrypted data if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question:
      "Are there any limitations to the self-destructing messages feature?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
  {
    question:
      "What happens if I enable two-factor authentication and lose my device?",
    answer:
      "Losing your device doesn't automatically compromise your account's security.              ",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div class="bg-gray-50 p-8 rounded-3xl">
        <span
          class="tracking-tight text-lg font-medium  text-gray-900"
          >faq</span
        >
        <h1
          class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
          Frequently Asked Questions
        </h1>
        <p class="mt-6 text-base font-medium text-gray-500">
          Everything you need to know about our platform.
        </p>
        <div class="flex mt-8">
          <button
            class="text-blue-600 flex items-center gap-3 hover:text-gray-900 transition-all duration-200 text-sm"
            aria-label="Action">
            Learn more
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M9 6l6 6l-6 6"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="grid gird-cols-1 divide-y lg:col-span-2">
        {
          faqs.map((faq, index) => (
            <div class="flex gap-3 items-start py-8">
              <span class="size-6 text-xs  shrink-0  rounded-full flex items-center justify-center  bg-gradient-to-b from-blue-500 to-indigo-600 text-white">
                {index + 1}
              </span>
              <div>
                <div class=" tracking-tight text-lg font-medium  text-gray-900">
                  {faq.question}
                </div>
                <div class="mt-2 text-base text-gray-500">{faq.answer}</div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
