---
const faqs = [
  {
    question: "What's encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Forget my key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question: "Messages limits?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div>
      <span class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase">faq</span>
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
        Frequently Asked Questions
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500">
        Everything you need to know about our platform.
      </p>
    </div>
    <div class="mt-12 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {
        faqs.map((faq, index) => (
          <div>
            <span class="size-6 text-xs shrink-0  rounded-full flex items-center justify-center  bg-gradient-to-b from-blue-500 to-indigo-600 text-white">
              {index + 1}
            </span>
            <div class="tracking-tight mt-4 text-lg font-medium  text-gray-900">
              {faq.question}
            </div>
            <div class="mt-2 text-sm text-gray-500">{faq.answer}</div>
          </div>
        ))
      }
    </div>
  </div>
</section>
