---
import BaseHead from "@/components/BaseHead.astro";

const { componentPath } = Astro.params;

const components = await Astro.glob(
  `@/components/windstatic/marketing/**/*.astro`
);

const component = components.find((c) => c.file.endsWith(componentPath));
---

<html lang="en" class="selection:text-blue selection:bg-blue/5">
  <head>
    <BaseHead />
  </head>
  <body>
    <component.default />
  </body>
</html>
