---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
---
<section>
  <div class="relative px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="grid items-end grid-cols-1 gap-4 sm:grid-cols-2">
      <div>
        <Heading
          level={3}
          variant="default">
          Join our newsletter
        </Heading>
        <Text
          class="mt-4 lg:text-balance"
          tag="p"
          variant="body">
          Stay up to date with our latest news and updates.
        </Text>
      </div>
      <form class="w-full mt-8 sm:flex sm:max-w-md sm:ml-auto">
        <Text
          for="email-address"
          class="sr-only"
          tag="label"
          variant="inputLabel">
          Email address
        </Text>
        <input
          id="email-address"
          type="email"
          name="email-address"
          autocomplete="email"
          placeholder="Enter your email"
          aria-placeholder="Enter your email"
          required=""
          class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
        />
        <div class="mt-2 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
          <Button
            class="w-full sm:w-auto"
            type="submit"
            variant="accent"
            size="base">
            Subscribe
          </Button>
        </div>
      </form>
    </div>
  </div>
</section>
