---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid items-end grid-cols-1 sm:grid-cols-2 gap-4 bg-accent-700 p-8 rounded-2xl">
      <div>
        <Text
          tag="h2"
          variant="displayMD"
          class="font-semibold text-white">
          Join our newsletter
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-base-300 font-medium">
          Stay up to date with our latest news and updates.
        </Text>
      </div>
      <form class="w-full mt-8 sm:flex sm:max-w-md sm:ml-auto">
        <Text
          for="email-address"
          class="sr-only"
          tag="label"
          >
          Email address
        </Text>
        <input
          id="email-address"
          type="email"
          name="email-address"
          autocomplete="email"
          placeholder="Enter your email"
          aria-placeholder="Enter your email"
          required=""
          class="block w-full h-10 px-4 py-2 ring-1 ring-white/20 shadow text-sm border border-transparent appearance-none rounded-lg bg-base-950/20 placeholder-base-200 focus:border-white/20 ring-offset-base-950 focus:bg-transparent text-white focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 duration-300 sm:text-sm"
        />
        <div class="mt-2 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
          <Button
            class="w-full sm:w-auto"
            type="submit"
            variant="alternative"
            size="base">
            Subscribe
          </Button>
        </div>
      </form>
    </div>
  </div>
</section>
