---
export const description = "Split CTA with logo and custom avatars";

// Assets
import Logo from "@/components/assets/Logo.astro";
import { Image } from "astro:assets";
import Avatar1 from "@/images/avatars/1.jpg";
import Avatar2 from "@/images/avatars/2.jpg";
import Avatar3 from "@/images/avatars/3.jpg";
import Avatar4 from "@/images/avatars/4.jpg";
const avatars = [
  { src: Avatar1, alt: "#_" },
  { src: Avatar2, alt: "#_" },
  { src: Avatar3, alt: "#_" },
  { src: Avatar4, alt: "#_" },
];
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section class="overflow-hidden">
  <Wrapper variant="blockStandard" class="py-24">
    <div class="max-w-xl mx-auto">
      <div>
        <div class="text-center">
          <div class="inline-block p-4 shadow rounded-2xl bg-blue-600">
            <Logo class="h-12 text-white" />
          </div>
          <Text
            tag="h3"
            variant="displaySM"
            class="font-medium tracking-tight text-zinc-900 text-balance mt-12"
          >
            Focused people are joining. You’re still doomscrolling.
            <span class="text-blue-600">Fix that in 7 days.</span>
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="text-zinc-500 text-balance mt-2"
          >
            For the chronically online, the burnout-curious, and anyone who's
            ever rage-closed a tab.
          </Text>
        </div>
        <div class="flex flex-col gap-2 w-full mt-8 max-w-sm mx-auto">
          <TextInput
            id="email"
            name="email"
            type="email"
            placeholder="Enter email to overachieve"
            variant="default"
            label="Email address"
            size="sm"
            isGrouped
          />
          <Button type="submit" variant="accent" size="xs">Extra Small </Button>
        </div>
      </div>
      <div
        class="flex flex-col mt-8 md:flex-row lg:items-center gap-2 justify-center"
      >
        <div class="flex -space-x-2">
          {
            avatars.map((avatar) => (
              <Image
                width={200}
                height={200}
                src={avatar.src}
                alt={avatar.alt}
                class="inline-block object-cover object-center rounded-full size-8 outline-2 outline-white"
              />
            ))
          }
        </div>
        <div class="text-xs text-zinc-500 lg:items-center">
          <span class="block">Trusted by overthinkers, calendar abusers,</span>
          <span class="block"> and people on their 3rd “break.”</span>
        </div>
      </div>
    </div>
  </Wrapper>
</section>
