---
export const description = "Centered CTA for SaaS waitlist or newsletter";
// Assets
import { Image } from "astro:assets";
import I1 from "@/images/assets/i1.svg";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<div class="p-8">
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto">
    <div class="relative p-8 bg-white lg:p-16 rounded-xl overflow-hidden">
      <Image
        class="size-48 lg:size-80 lg:absolute lg:right-16"
        width={1200}
        height={1200}
        src={I1}
        alt="i1"
      />
      <div class="max-w-xl lg:text-balance">
        <Text
          tag="h2"
          variant="displayMD"
          class="font-semibold tracking-tight text-zinc-900 lg:text-balance"
        >
          Our robot read 1,000 books so you don’t have to.
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="mt-4 text-zinc-500 lg:text-balance"
        >
          Join the waitlist and get early access to insights so sharp, it’s like
          cheating—but smarter. No fluff. Just knowledge, downloaded.
        </Text>

        <div
          class="flex flex-col md:flex-row w-full max-w-xs lg:items-center mt-8 gap-2"
        >
          <TextInput
            id="email"
            name="email"
            type="email"
            placeholder="you@probablyimportant.com"
            variant="default"
            label="Email address"
            size="sm"
            isGrouped
          />
          <Button type="submit" size="sm" variant="accent" class="shrink-0">
            Join us!
          </Button>
        </div>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
