---
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="flex flex-wrap items-end justify-center py-48 mx-auto gap-4">
  <Button
    variant="default"
    size="xs">
    Button Default
  </Button>
  <Button
    variant="default"
    size="sm">
    Button Default
  </Button>
  <Button
    variant="default"
    size="base">
    Button Default
  </Button>
  <Button
    variant="default"
    size="md">
    Button Default
  </Button>
  <Button
    variant="default"
    size="lg">
    Button Default
  </Button>
  <Button
    variant="default"
    size="xl">
    Button Default
  </Button>
</div>


