---
export const freeComponent = true;
export const description = "Default button ";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section
  class="flex flex-wrap items-center justify-center h-full p-24 bg-white gap-2 dark:bg-zinc-900"
>
  <!-- copy:start -->
  <Button variant="default" size="xs">Extra Small</Button>
  <Button variant="default" size="sm">Small</Button>
  <Button variant="default" size="base">Base (Default)</Button>
  <Button variant="default" size="md">Medium</Button>
  <Button variant="default" size="lg">Large</Button>
  <Button variant="default" size="xl">Extra Large</Button>
  <!-- copy:end -->
</section>
