---
export const freeComponent = true;
export const description = "Default button ";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="flex flex-wrap items-end justify-center py-48 mx-auto gap-4">
  <!-- copy:start -->
  <Button size="xs">Extra Small</Button>
  <Button size="sm">Small</Button>
  <Button size="base">Base (Default)</Button>
  <Button size="md">Medium</Button>
  <Button size="lg">Large</Button>
  <Button size="xl">Extra Large</Button>
  <!-- copy:end -->
</div>
