---
export const freeComponent = true;
export const description = "Default button ";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <Button size="base">Base</Button>
  <!-- copy:end -->
</div>
