---
import Button from "../../components/button.astro";
---

<section>
  <div class="flex flex-wrap items-end justify-center gap-4 py-12 mx-auto">
    <Button aria-label="Action" variant="primary" size="small">
      Component Button
    </Button>
    <Button aria-label="Action" variant="primary" size="medium">
      Component Button
    </Button>
    <Button aria-label="Action" variant="primary" size="large">
      Component Button
    </Button>
  </div>
</section>
