---
export const freeComponent = true;
export const description = "Default button ";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section
  class="flex items-center flex-wrap gap-2 justify-center p-8 bg-white dark:bg-zinc-900 h-full"
>
  <!-- copy:start -->
  <Button size="xs">Extra Small</Button>
  <Button size="sm">Small</Button>
  <Button size="base">Base (Default)</Button>
  <Button size="md">Medium</Button>
  <Button size="lg">Large</Button>
  <Button size="xl">Extra Large</Button>
  <!-- copy:end -->
</section>
