<section>
  <div class="flex flex-wrap items-end justify-center gap-4 py-12 mx-auto">
    <button
      class="flex items-center justify-center h-8 px-4 py-2 text-xs font-semibold text-zinc-500 transition-all duration-300 border border-zinc-300 rounded-md shadow bg-zinc-50 hover:text-zinc-700 focus:ring-2 shadow-zinc-500/5 focus:ring-zinc-900 focus:ring-offset-2 ring-offset-zinc-200 hover:border-zinc-200 hover:shadow-none"
      aria-label="Action">
      Button Secondary
    </button>
    <button
      class="flex items-center justify-center h-10 px-4 py-2 text-sm font-medium text-zinc-500 transition-all duration-300 border border-zinc-300 rounded-lg shadow bg-zinc-50 hover:text-zinc-700 focus:ring-2 shadow-zinc-500/5 focus:ring-zinc-900 focus:ring-offset-2 ring-offset-zinc-200 hover:border-zinc-200 hover:shadow-none"
      aria-label="Action">
      Learn Sedondary
    </button>
    <button
      class="flex items-center justify-center h-12 px-4 py-2 text-base font-medium text-zinc-500 transition-all duration-300 border border-zinc-300 rounded-lg shadow bg-zinc-50 hover:text-zinc-700 focus:ring-2 shadow-zinc-500/5 focus:ring-zinc-900 focus:ring-offset-2 ring-offset-zinc-200 hover:border-zinc-200 hover:shadow-none"
      aria-label="Action">
      Button Secondary
    </button>
  </div>
</section>
