---
import Button from "@/components/fundations/buttons/Button.astro";
---

<section>
  <div class="flex flex-wrap items-end justify-center py-48 mx-auto gap-4">
    <Button variant="accent" size="xs"> Button Accent </Button>
    <Button variant="accent" size="sm"> Button Accent </Button>
    <Button variant="accent" size="base"> Button Accent </Button>
    <Button variant="accent" size="md"> Button Accent </Button>
    <Button variant="accent" size="lg"> Button Accent </Button>
    <Button variant="accent" size="xl"> Button Accent </Button>
  </div>
</section>
