---
export const freeComponent = true;
export const description = "Oxbow themed buttons";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section
  class="flex flex-wrap items-center justify-center h-full p-24 bg-white gap-2 dark:bg-zinc-900"
>
  <!-- copy:start -->
  <Button variant="oxbowDefault" size="base">Oxbow Default</Button>
  <Button variant="oxbowAccent" size="base">Oxbow Accent</Button>
  <Button variant="oxbowMuted" size="base">Oxbow Muted</Button>
  <Button variant="oxbowOutline" size="base">Oxbow Outline</Button>
  <!-- copy:end -->
</section>
