---
export const description = "Muted button ";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div
  class="flex items-center flex-wrap gap-2 justify-center p-8 bg-white dark:bg-zinc-900 h-full"
>
  <!-- copy:start -->
  <Button variant="muted" size="xs">Extra Small</Button>
  <Button variant="muted" size="sm">Small</Button>
  <Button variant="muted" size="base">Base (Default)</Button>
  <Button variant="muted" size="md">Medium</Button>
  <Button variant="muted" size="lg">Large</Button>
  <Button variant="muted" size="xl">Extra Large</Button>
  <!-- copy:end -->
</div>
