---
import Button from "@/components/fundations/buttons/Button.astro";
---

<section>
  <div class="flex flex-wrap items-end justify-center py-48 mx-auto gap-4">

    <Button
      variant="alternative"
      size="xs">
      Button alternative
    </Button>
    <Button
      variant="alternative"
      size="sm">
      Button alternative
    </Button>
    <Button
      variant="alternative"
      size="base">
      Button alternative
    </Button>
    <Button
      variant="alternative"
      size="md">
      Button alternative
    </Button>
    <Button
      variant="alternative"
      size="lg">
      Button alternative
    </Button>
    <Button
      variant="alternative"
      size="xl">
      Button alternative
    </Button>
  </div>
</section>
