---
export const freeComponent = true;
export const description = "Accent button scales";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section
  class="flex flex-wrap items-center justify-center h-full p-24 bg-white gap-2 dark:bg-zinc-900"
>
  <!-- copy:start -->
  <Button variant="accent" size="xs">Accent · XS</Button>
  <Button variant="accent" size="sm">Accent · SM</Button>
  <Button variant="accent" size="base">Accent · Base</Button>
  <Button variant="accent" size="md">Accent · MD</Button>
  <Button variant="accent" size="lg">Accent · LG</Button>
  <Button variant="accent" size="xl">Accent · XL</Button>
  <Button variant="accentDark" size="xs">Accent Dark · XS</Button>
  <Button variant="accentDark" size="sm">Accent Dark · SM</Button>
  <Button variant="accentDark" size="base">Accent Dark · Base</Button>
  <Button variant="accentDark" size="md">Accent Dark · MD</Button>
  <Button variant="accentDark" size="lg">Accent Dark · LG</Button>
  <Button variant="accentDark" size="xl">Accent Dark · XL</Button>
  <!-- copy:end -->
</section>
