---
export const description = "Muted button ";
import Button from "@/components/fundations/buttons/Button.astro";
---


<div class="flex flex-wrap items-end justify-center py-48 mx-auto gap-4">
  <!-- copy:start -->
  <Button variant="muted" size="xs">Extra Small</Button>
  <Button variant="muted" size="sm">Small</Button>
  <Button variant="muted" size="base">Base (Default)</Button>
  <Button variant="muted" size="md">Medium</Button>
  <Button variant="muted" size="lg">Large</Button>
  <Button variant="muted" size="xl">Extra Large</Button>
  <!-- copy:end -->
</div>
