---
import Button from "@/components/fundations/buttons/Button.astro";
---

<section>
  <div class="flex flex-wrap items-end justify-center gap-4 py-48 mx-auto">
    <Button
      variant="muted"
      size="xs">
      Button Muted
    </Button>
    <Button
      variant="muted"
      size="sm">
      Button Muted
    </Button>
    <Button
      variant="muted"
      size="base">
      Button Muted
    </Button>
    <Button
      variant="muted"
      size="md">
      Button Muted
    </Button>
    <Button
      variant="muted"
      size="lg">
      Button Muted
    </Button>
    <Button
      variant="muted"
      size="xl">
      Button Muted
    </Button>
  </div>
</section>
