---
export const description = "Alternative button ";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <Button size="base" variant="alternative">Alternative</Button>
  <!-- copy:end -->
</div>
