---
export const freeComponent = true;
export const description = "Muted and alternative buttons";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section
  class="flex flex-wrap items-center justify-center h-full p-24 bg-white gap-2 dark:bg-zinc-900"
>
  <!-- copy:start -->
  <Button variant="muted" size="xs">Muted · XS</Button>
  <Button variant="muted" size="sm">Muted · SM</Button>
  <Button variant="muted" size="base">Muted · Base</Button>
  <Button variant="muted" size="md">Muted · MD</Button>
  <Button variant="muted" size="lg">Muted · LG</Button>
  <Button variant="muted" size="xl">Muted · XL</Button>
  <Button variant="alternative" size="xs">Alternative · XS</Button>
  <Button variant="alternative" size="sm">Alternative · SM</Button>
  <Button variant="alternative" size="base">Alternative · Base</Button>
  <Button variant="alternative" size="md">Alternative · MD</Button>
  <Button variant="alternative" size="lg">Alternative · LG</Button>
  <Button variant="alternative" size="xl">Alternative · XL</Button>
  <!-- copy:end -->
</section>
