---
export const description = "Alternative button ";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div
  class="flex items-center flex-wrap gap-2 justify-center p-8 bg-white dark:bg-black h-full"
>
  <!-- copy:start -->
  <Button variant="alternative" size="xs">Extra Small</Button>
  <Button variant="alternative" size="sm">Small</Button>
  <Button variant="alternative" size="base">Base (Default)</Button>
  <Button variant="alternative" size="md">Medium</Button>
  <Button variant="alternative" size="lg">Large</Button>
  <Button variant="alternative" size="xl">Extra Large</Button>
  <!-- copy:end -->
</div>
