---
export const freeComponent = true;
export const description = "Outline button scale";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section
  class="flex flex-wrap items-center justify-center h-full p-24 bg-white gap-2 dark:bg-zinc-900"
>
  <!-- copy:start -->
  <Button variant="outline" size="xs">Outline · XS</Button>
  <Button variant="outline" size="sm">Outline · SM</Button>
  <Button variant="outline" size="base">Outline · Base</Button>
  <Button variant="outline" size="md">Outline · MD</Button>
  <Button variant="outline" size="lg">Outline · LG</Button>
  <Button variant="outline" size="xl">Outline · XL</Button>
  <!-- copy:end -->
</section>
