---
export const description = "Outline button ";
import Button from "@/components/fundations/buttons/Button.astro";
---


<div class="flex flex-wrap items-end justify-center py-48 mx-auto gap-4">
  <Button variant="outline" size="xs">Extra Small</Button>
  <Button variant="outline" size="sm">Small</Button>
  <Button variant="outline" size="base">Base (Default)</Button>
  <Button variant="outline" size="md">Medium</Button>
  <Button variant="outline" size="lg">Large</Button>
  <Button variant="outline" size="xl">Extra Large</Button>
</div>
