---
export const description = "Ghost button ";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div
  class="flex flex-wrap items-center justify-center h-full p-24 bg-white gap-2 dark:bg-zinc-900"
>
  <!-- copy:start -->
  <Button variant="ghost" size="xs">Extra Small</Button>
  <Button variant="ghost" size="sm">Small</Button>
  <Button variant="ghost" size="base">Base (Default)</Button>
  <Button variant="ghost" size="md">Medium</Button>
  <Button variant="ghost" size="lg">Large</Button>
  <Button variant="ghost" size="xl">Extra Large</Button>
  <!-- copy:end -->
</div>
