<section class="bg-black">
  <div class="flex flex-wrap items-end justify-center gap-4 py-12 mx-auto">
    <button
      class="flex items-center justify-center h-8 px-4 py-2 text-xs font-semibold text-white transition-all duration-300 border rounded-md shadow border-white/10 bg-white/10 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:border-white/20 hover:bg-white/5 hover:shadow-none"
      aria-label="Action">
      Button Primary
    </button>
    <button
      class="flex items-center justify-center h-10 px-4 py-2 text-sm font-medium text-white transition-all duration-300 border rounded-lg shadow border-white/10 bg-white/10 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:border-white/20 hover:bg-white/5 hover:shadow-none"
      aria-label="Action">
      Learn more
    </button>
    <button
      class="flex items-center justify-center h-12 px-4 py-2 text-base font-medium text-white transition-all duration-300 border rounded-lg shadow border-white/10 bg-white/10 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:border-white/20 hover:bg-white/5 hover:shadow-none"
      aria-label="Action">
      Button Primary
    </button>
  </div>
</section>
