---
export const freeComponent = true;
export const description = "Semantic status buttons";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section
  class="flex flex-wrap items-center justify-center h-full p-24 bg-white gap-2 dark:bg-zinc-900"
>
  <!-- copy:start -->
  <Button variant="info" size="base">Info State</Button>
  <Button variant="success" size="base">Success State</Button>
  <Button variant="warning" size="base">Warning State</Button>
  <Button variant="danger" size="base">Danger State</Button>
  <!-- copy:end -->
</section>
