---
export const description = "Disabled button";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div
  class="flex flex-wrap items-center justify-center h-full p-24 bg-white gap-2 dark:bg-zinc-900"
>
  <!-- copy:start -->
  <Button disabled> Default</Button>
  <Button variant="accent" disabled> Accent</Button>
  <Button variant="muted" disabled> Muted</Button>
  <Button variant="outline" disabled> Outline</Button>
  <Button variant="ghost" disabled> Ghost</Button>
  <!-- copy:end -->
</div>
