---
export const freeComponent = true;
export const description = "Icon-only buttons";
import Button from "@/components/fundations/buttons/Button.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
---

<section
  class="flex flex-wrap items-center justify-center h-full p-24 bg-white gap-2 dark:bg-zinc-900"
>
  <!-- copy:start -->
  <Button variant="onlyIcon" size="xxs" aria-label="Create (XXS)">
    <Plus slot="left-icon" size="xs" />
  </Button>
  <Button variant="onlyIcon" size="sm" aria-label="Create (SM)">
    <Plus slot="left-icon" size="sm" />
  </Button>
  <Button variant="icon" size="base" aria-label="Create (Base)">
    <Plus slot="left-icon" size="base" />
  </Button>
  <Button variant="icon" size="md" aria-label="Create (MD)">
    <Plus slot="left-icon" size="md" />
  </Button>
  <Button variant="accent" size="sm" iconOnly aria-label="Accent icon (SM)">
    <Plus slot="left-icon" size="sm" />
  </Button>
  <Button variant="accent" size="md" iconOnly aria-label="Accent icon (MD)">
    <Plus slot="left-icon" size="md" />
  </Button>
  <!-- copy:end -->
</section>
