---
export const description = "Disabled button";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div
  class="flex items-center flex-wrap gap-2 justify-center p-8 bg-white dark:bg-zinc-900 h-full"
>
  <!-- copy:start -->
  <Button disabled> Default</Button>
  <Button variant="accent" disabled> Accent</Button>
  <Button variant="muted" disabled> Muted</Button>
  <Button variant="alternative" disabled> Alternative</Button>
  <Button variant="outline" disabled> Outline</Button>
  <Button variant="ghost" disabled> Ghost</Button>
  <!-- copy:end -->
</div>
