---
export const description = "Disabled button";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <Button disabled> Disabled</Button>
  <!-- copy:end -->
</div>
