---
import Button from "@/components/fundations/buttons/Button.astro";
import PlaceHolderIcon from "@/components/fundations/icons/PlaceHolderIcon.astro";
---

<section>
  <div class="flex flex-wrap items-end justify-center py-48 mx-auto gap-4">
    <Button
      variant="accent"
      gap="xs"
      size="xs">
      <PlaceHolderIcon
        size="sm"
        slot="left-icon"
      />
      Button left icon
    </Button>
    <Button
      variant="accent"
      gap="xs"
      size="sm">
      <PlaceHolderIcon
        size="sm"
        slot="left-icon"
      />
      Button left icon
    </Button>
    <Button
      variant="accent"
      gap="sm"
      size="base">
      <PlaceHolderIcon
        size="base"
        slot="left-icon"
      />
      Button left icon
    </Button>
    <Button
      variant="accent"
      gap="xs"
      size="md">
      <PlaceHolderIcon
        size="base"
        slot="left-icon"
      />
      Button left icon
    </Button>
    <Button
      variant="accent"
      gap="xs"
      size="lg">
      <PlaceHolderIcon
        size="md"
        slot="left-icon"
      />
      Button left icon
    </Button>
    <Button
      variant="accent"
      gap="xs"
      size="xl">
      <PlaceHolderIcon
        size="lg"
        slot="left-icon"
      />
      Button left icon
    </Button>
  </div>
</section>
