<section>
  <div class="flex flex-wrap items-end justify-center gap-4 py-12 mx-auto">
    <span class="inline-flex rounded-md isolate">
      <button
        type="button"
        class="relative inline-flex items-center h-10 px-4 py-2 text-sm font-medium text-zinc-500 duration-200 bg-white rounded-l-lg ring-1 ring-inset hover:bg-zinc-50 ring-zinc-200 focus:ring-blue-500 focus:z-10"
        >Years</button
      >
      <button
        type="button"
        class="relative inline-flex items-center h-10 px-4 py-2 -ml-px text-sm font-semibold text-zinc-500 duration-200 bg-white ring-1 ring-inset ring-zinc-200 focus:ring-blue-500 focus:z-10 hover:bg-zinc-50"
        >Months</button
      >
      <button
        type="button"
        class="relative inline-flex items-center h-10 px-4 py-2 -ml-px text-sm font-semibold text-zinc-500 duration-200 bg-white rounded-r-lg ring-1 ring-inset ring-zinc-200 focus:ring-blue-500 focus:z-10 hover:bg-zinc-50"
        >Days</button
      >
    </span>
    <span class="inline-flex rounded-md isolate">
      <button
        type="button"
        class="relative inline-flex items-center h-10 p-3 text-sm font-semibold text-zinc-500 duration-200 bg-white rounded-l-lg hover:bg-zinc-50 ring-1 ring-inset ring-zinc-200 focus:ring-blue-500 focus:z-10"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-4 icon icon-tabler icon-tabler-chevron-left"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path d="M15 6l-6 6l6 6"></path>
        </svg></button
      >
      <button
        type="button"
        class="relative inline-flex items-center h-10 p-3 -ml-px text-sm font-semibold text-zinc-500 duration-200 bg-white rounded-r-lg hover:bg-zinc-50 ring-1 ring-inset ring-zinc-200 focus:ring-blue-500 focus:z-10"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-4 icon icon-tabler icon-tabler-chevron-right"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path d="M9 6l6 6l-6 6"></path>
        </svg></button
      >
    </span>
    <span class="inline-flex rounded-md isolate">
      <button
        type="button"
        class="relative inline-flex items-center h-10 p-3 text-sm font-semibold text-zinc-500 duration-200 bg-white rounded-l-lg hover:bg-zinc-50 ring-1 ring-inset ring-zinc-200 focus:ring-blue-500 focus:z-10"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-4 icon icon-tabler icon-tabler-chevron-up"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path d="M6 15l6 -6l6 6"></path>
        </svg></button
      >
      <button
        type="button"
        class="relative inline-flex items-center h-10 p-3 -ml-px text-sm font-semibold text-zinc-500 duration-200 bg-white rounded-r-lg hover:bg-zinc-50 ring-1 ring-inset ring-zinc-200 focus:ring-blue-500 focus:z-10"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-4 icon icon-tabler icon-tabler-chevron-down"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path d="M6 9l6 6l6 -6"></path>
        </svg></button
      >
    </span>
  </div>
</section>
