---
export const freeComponent = true;
export const description = "Buttons with left icons";
import Button from "@/components/fundations/buttons/Button.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
---

<section
  class="flex flex-wrap items-center justify-center h-full p-24 bg-white gap-2 dark:bg-zinc-900"
>
  <!-- copy:start -->
  <Button variant="accent" size="xs" gap="xs">
    <Plus slot="left-icon" size="xs" />
    Left Icon
  </Button>
  <Button variant="accent" size="sm" gap="xs">
    <Plus slot="left-icon" size="sm" />
    Left Icon
  </Button>
  <Button variant="accent" size="base" gap="sm">
    <Plus slot="left-icon" size="base" />
    Left Icon
  </Button>
  <Button variant="accent" size="md" gap="sm">
    <Plus slot="left-icon" size="md" />
    Left Icon
  </Button>
  <!-- copy:end -->
</section>
