---
export const description = "Left icon ";
import Button from "@/components/fundations/buttons/Button.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <Button size="base" gap="sm">
    <Plus slot="left-icon" size="base" />
    Left icon
  </Button>
  <!-- copy:end -->
</div>
