---
import Button from "@/components/fundations/buttons/Button.astro";
---

<section>
  <div class="flex flex-wrap items-end justify-center gap-4 py-12 mx-auto">
    <Button
      variant="danger"
      size="xs">
      Button danger
    </Button>
    <Button
      variant="danger"
      size="sm">
      Button danger
    </Button>
    <Button
      variant="danger"
      size="base">
      Button danger
    </Button>
    <Button
      variant="danger"
      size="md">
      Button danger
    </Button>
    <Button
      variant="danger"
      size="lg">
      Button danger
    </Button>
    <Button
      variant="danger"
      size="xl">
      Button danger
    </Button>
  </div>
</section>
