---
export const description = "Disabled button";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="flex flex-wrap items-end justify-center py-48 mx-auto gap-4">
  <Button disabled> Default</Button>
  <Button variant="accent" disabled> Accent</Button>
  <Button variant="muted" disabled> Muted</Button>
  <Button variant="alternative" disabled> Alternative</Button>
  <Button variant="outline" disabled> Outline</Button>
  <Button variant="ghost" disabled> Ghost</Button>
</div>
