---
export const description = "Right icon ";
import Button from "@/components/fundations/buttons/Button.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
---

<div
  class="flex items-center flex-wrap gap-2 justify-center p-8 bg-white dark:bg-black h-full"
>
  <!-- copy:start -->
  <Button variant="accent" size="xs" gap="xs">
    Right icon
    <Plus slot="right-icon" size="xs" />
  </Button>
  <Button variant="accent" size="sm" gap="sm">
    Right icon
    <Plus slot="right-icon" size="sm" />
  </Button>
  <Button variant="accent" size="base" gap="sm">
    Right icon
    <Plus slot="right-icon" size="base" />
  </Button>
  <Button variant="accent" size="md" gap="sm">
    Right icon m
    <Plus slot="right-icon" size="md" />
  </Button>
  <Button variant="accent" size="lg" gap="sm">
    Right icon
    <Plus slot="right-icon" size="lg" />
  </Button>
  <Button variant="accent" size="xl" gap="sm">
    Right icon
    <Plus slot="right-icon" size="xl" />
  </Button>
  <!-- copy:end -->
</div>
