---
import HorizontalButtonGroup from "@/components/fundations/buttonGroups/HorizontalButtonGroup.astro";
---

<section>
  <div class="flex flex-wrap items-end justify-center gap-4 py-12 mx-auto">
    <span class="inline-flex isolate">
      <HorizontalButtonGroup
        variant="default"
        position="right"
        size="sm">
        Top
      </HorizontalButtonGroup>
      <HorizontalButtonGroup
        variant="default"
        position="middle"
        size="sm">
        Center
      </HorizontalButtonGroup>
      <HorizontalButtonGroup
        position="left"
        variant="default"
        size="sm">
        Middle
      </HorizontalButtonGroup>
    </span>
    <span class="inline-flex isolate">
      <HorizontalButtonGroup
        variant="default"
        position="right"
        size="sm">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-4 icon icon-tabler icon-tabler-chevron-left"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path d="M15 6l-6 6l6 6"></path>
        </svg>
      </HorizontalButtonGroup>

      <HorizontalButtonGroup
        position="left"
        variant="default"
        size="sm">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-4 icon icon-tabler icon-tabler-chevron-right"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path d="M9 6l6 6l-6 6"></path>
        </svg>
      </HorizontalButtonGroup>
    </span>
  </div>
</section>
