---
export const description = "Full width";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="flex flex-wrap items-end justify-center p-48 mx-auto gap-4">
  <!-- copy:start -->
  <Button fullWidth> Default</Button>
  <Button variant="accent" fullWidth> Accent</Button>
  <Button variant="muted" fullWidth> Muted</Button>
  <Button variant="alternative" fullWidth> Alternative</Button>
  <Button variant="outline" fullWidth> Outline</Button>
  <Button variant="ghost" fullWidth> Ghost</Button>
  <Button variant="link" fullWidth> Link</Button>
  <!-- copy:end -->
</div>
