---
export const description = "Left icon ";
import Button from "@/components/fundations/buttons/Button.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
---

<div class="flex flex-wrap items-end justify-center py-48 mx-auto gap-4">
  <!-- copy:start -->
  <Button variant="accent" size="xs" gap="xs">
    <Plus slot="left-icon" size="xs" />
    Left icon
  </Button>
  <Button variant="accent" size="sm" gap="sm">
    <Plus slot="left-icon" size="sm" />
    Left icon
  </Button>
  <Button variant="accent" size="base" gap="sm">
    <Plus slot="left-icon" size="base" />
    Left icon
  </Button>
   <Button variant="accent" size="md" gap="sm">
    <Plus slot="left-icon" size="md" />
    Left icon
  </Button>
  <Button variant="accent" size="lg" gap="sm">
    <Plus slot="left-icon" size="lg" />
    Left icon
  </Button>
  <Button variant="accent" size="xl" gap="sm">
    <Plus slot="left-icon" size="xl" />
    Left icon
  </Button>
  <!-- copy:end -->
</div>
