---
import VerticalButtonGroup from "@/components/fundations/buttonGroups/VerticalButtonGroup.astro";
---

<section>
  <div class="flex flex-wrap items-end justify-center gap-4 py-12 mx-auto">
    <span class="flex flex-col isolate">
      <VerticalButtonGroup
        variant="default"
        position="top"
        size="sm">
        Top
      </VerticalButtonGroup>
      <VerticalButtonGroup
        variant="default"
        position="middle"
        size="sm">
        Center
      </VerticalButtonGroup>
      <VerticalButtonGroup
        position="bottom"
        variant="default"
        size="sm">
        Middle
      </VerticalButtonGroup>
    </span>
    <span class="flex flex-col isolate">
      <VerticalButtonGroup
        variant="default"
        position="top"
        size="sm">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-4 icon icon-tabler icon-tabler-chevron-up"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path d="M6 15l6 -6l6 6"></path>
        </svg>
      </VerticalButtonGroup>

      <VerticalButtonGroup
        position="bottom"
        variant="default"
        size="sm">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-4 icon icon-tabler icon-tabler-chevron-down"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path d="M6 9l6 6l6 -6"></path>
        </svg>
      </VerticalButtonGroup>
    </span>
  </div>
</section>
