---
export const description = "Left and right icon ";
import Button from "@/components/fundations/buttons/Button.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
---

<div
  class="flex items-center flex-wrap gap-2 justify-center p-8 bg-white dark:bg-black h-full"
>
  <!-- copy:start -->

  <Button variant="accent" size="xs" gap="xs">
    <Plus slot="left-icon" size="xs" />
    Both icons
    <Plus slot="right-icon" size="xs" />
  </Button>
  <Button variant="accent" size="sm" gap="sm">
    <Plus slot="lef-icon" size="sm" />
    Both icons
    <Plus slot="right-icon" size="sm" />
  </Button>
  <Button variant="accent" size="base" gap="sm">
    <Plus slot="left-icon" size="base" />
    Both icons
    <Plus slot="right-icon" size="base" />
  </Button>
  <Button variant="accent" size="md" gap="sm">
    <Plus slot="left-icon" size="md" />
    Both icons m
    <Plus slot="right-icon" size="md" />
  </Button>
  <Button variant="accent" size="lg" gap="sm">
    <Plus slot="left-icon" size="lg" />
    Both icons
    <Plus slot="right-icon" size="lg" />
  </Button>
  <Button variant="accent" size="xl" gap="sm">
    <Plus slot="left-icon" size="xl" />
    Both icons
    <Plus slot="right-icon" size="xl" />
  </Button>

  <!-- copy:end -->
</div>
