---
export const freeComponent = true;
export const description = "Low emphasis buttons";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section
  class="flex flex-wrap items-center justify-center h-full p-24 bg-white gap-2 dark:bg-zinc-900"
>
  <!-- copy:start -->
  <Button variant="ghost" size="base">Ghost Action</Button>
  <Button variant="text" size="base">Text Action</Button>
  <Button variant="link" size="base">Link Action</Button>
  <!-- copy:end -->
</section>
