---
export const description = "Link button ";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section
  class="flex items-center flex-wrap gap-2 justify-center p-8 bg-white dark:bg-black h-full"
>
  <!-- copy:start -->
  <Button size="xs" variant="link">Link</Button>
  <Button ssize="base" variant="link">Link</Button>
  <Button size="md" variant="link">Link</Button>
  <Button size="lg" variant="link">Link</Button>
  <Button size="xl" variant="link">Link</Button>

  <!-- copy:end -->
</section>
