---
export const description = "Link button ";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <Button ssize="base" variant="link">Link</Button>
  <!-- copy:end -->
</div>
