---
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import PlaceHolderIcon from "@/components/fundations/icons/PlaceHolderIcon.astro";
---

<section>
  <div class="flex flex-wrap items-end justify-center gap-4 py-12 mx-auto">
    <IconButton
      variant="accent"
      size="sm">
      <PlaceHolderIcon
        size="xs"
        slot="icon"
      />
    </IconButton>
    <IconButton
      variant="accent"
      size="sm">
      <PlaceHolderIcon
        size="sm"
        slot="icon"
      />
    </IconButton>
    <IconButton
      variant="accent"
      size="md">
      <PlaceHolderIcon
        size="md"
        slot="icon"
      />
    </IconButton>
    <IconButton
      variant="accent"
      size="lg">
      <PlaceHolderIcon
        size="lg"
        slot="icon"
      />
    </IconButton>
    <IconButton
      variant="accent"
      size="xl">
      <PlaceHolderIcon
        size="xl"
        slot="icon"
      />
    </IconButton>
  </div>
</section>
