---
export const description = "Gap size ";
import Button from "@/components/fundations/buttons/Button.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
---

<div class="flex flex-wrap items-end justify-center py-48 mx-auto gap-4">
  <Button variant="alternative" size="sm" gap="xs">
    <Plus slot="left-icon" size="sm" />
    Both icons
    <Plus slot="right-icon" size="sm" />
  </Button>
  <Button variant="alternative" size="sm" gap="sm">
    <Plus slot="left-icon" size="sm" />
    Both icons
    <Plus slot="right-icon" size="sm" />
  </Button>
  <Button variant="alternative" size="sm" gap="sm">
    <Plus slot="left-icon" size="sm" />
    Both icons
    <Plus slot="right-icon" size="sm" />
  </Button>
  <Button variant="alternative" size="sm" gap="md">
    <Plus slot="left-icon" size="sm" />
    Both icons
    <Plus slot="right-icon" size="sm" />
  </Button>
  <Button variant="alternative" size="sm" gap="lg">
    <Plus slot="left-icon" size="sm" />
    Both icons
    <Plus slot="right-icon" size="sm" />
  </Button>
</div>
