---
import Button from "@/components/fundations/buttons/Button.astro";
import PlaceHolderIcon from "@/components/fundations/icons/PlaceHolderIcon.astro";
---

<section>
  <div class="flex flex-wrap items-end justify-center gap-4 py-12 mx-auto">
    <Button variant="default" gap="xs" size="xs">
      <PlaceHolderIcon size="sm" slot="right-icon" />
      Button right icon
    </Button>
    <Button variant="default" gap="xs" size="sm">
      <PlaceHolderIcon size="sm" slot="right-icon" />
      Button right icon
    </Button>
    <Button variant="default" gap="sm" size="base">
      <PlaceHolderIcon size="base" slot="right-icon" />
      Button right icon
    </Button>
    <Button variant="default" gap="xs" size="md">
      <PlaceHolderIcon size="base" slot="right-icon" />
      Button right icon
    </Button>
    <Button variant="default" gap="xs" size="lg">
      <PlaceHolderIcon size="md" slot="right-icon" />
      Button right icon
    </Button>
    <Button variant="default" gap="xs" size="xl">
      <PlaceHolderIcon size="lg" slot="right-icon" />
      Button right icon
    </Button>
  </div>
</section>
