<section>
  <div class="px-8 py-24  mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <div class="text-center">
      <div
        class="flex text-center items-center gap-2 justify-center text-gray-500 text-sm"
      >
        Windstatic PRO is live:
        <a
          href="#_"
          aria-label="Action"
          class="text-blue-500 hover:text-gray-900 text-sm font-medium duration-300 flex items-center gap-2"
        >
          Read more
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M9 6l6 6l-6 6"></path></svg
          >
        </a>
      </div>
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-5xl lg:text-balance"
      >
       Transform your visitors into users with an engaging headline
      </h1>
      <p
        class="lg:w-1/2 mx-auto mt-6 text-base font-medium text-gray-500 lg:text-balance"
      >
        The fastest method for working together on staging and temporary
        environments.
      </p>
    </div>
    <div class="flex flex-wrap items-center gap-2 justify-center mt-12">
      <button
        class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-blue-600 hover:to-blue-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
        aria-label="Action"
      >
        Get started
      </button>
      <button
        type="button"
        class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-gray-50 border border-gray-300 rounded-lg hover:text-blue-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M9 6l6 6l-6 6"></path></svg
        >npm create astro@latest
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-clipboard"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"
          ></path><path
            d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
          ></path></svg
        >
      </button>
    </div>
  </div>
</section>
