<section>
  <div class="p-8">
    <div
      class="relative overflow-hidden bg-gradient-to-b from-blue-700 to-indigo-800 rounded-2xl lg:rounded-3xl border">
      <div
        class="absolute inset-x-0 top-0 h-48 rotate-180 text-white/20 opacity-60 [mask-image:linear-gradient(to_bottom,transparent,white)]">
        <svg
          class="absolute inset-0 h-full w-full top-1"
          xmlns="http://www.w3.org/2000/svg"
          ><defs
            ><pattern
              id="grid-pattern"
              width="32"
              height="32"
              patternUnits="userSpaceOnUse"
              x="50%"
              y="100%"
              patternTransform="translate(0 -1)"
              ><path
                d="M0 32V.5H32"
                fill="none"
                stroke="currentColor"
              ></path></pattern
            ></defs
          ><rect
            width="100%"
            height="100%"
            fill="url(#grid-pattern)"
          ></rect></svg
        >
      </div>
      <div class="px-8 pt-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
        <div class="text-center mx-auto lg:text-balance">
          <span
            class="font-mono text-xs font-medium tracking-tight text-blue-200 uppercase"
            >Tagline</span
          >
          <h1
            class="text-4xl mt-4 font-semibold tracking-tight lg:text-6xl text-white sm:text-balance">
            Ensure each visitor's experience is impactful, turning casual
            interactions into meaningful connections that drive engagement and
            loyalty.
          </h1>
          <p class="mt-6 text-base font-medium text-gray-200">
            The fastest method for working together on staging and temporary
            environments.
          </p>
        </div>
        <div class="relative h-full mt-24 -mb-96">
          <div class="flex">
            <img
              class="mx-auto w-[22.875rem] max-w-full drop-shadow-xl lg:mt-12 hover:-translate-y-12 duration-300"
              src="/images/phone2.png"
              alt="#_"
            />
            <img
              class="mx-auto w-[22.875rem] max-w-full drop-shadow-xl lg:mt-12 hover:-translate-y-12 duration-300"
              src="/images/phone1.png"
              alt="#_"
            />
            <img
              class="mx-auto w-[22.875rem] max-w-full drop-shadow-xl lg:mt-12 hover:-translate-y-12 duration-300"
              src="/images/phone3.png"
              alt="#_"
            />
          </div>
          <img
            class="object-cover h-full border shadow rounded-2xl sr-only"
            src="/images/dashboardLight.svg"
            alt="#_"
          />
        </div>
      </div>
    </div>
  </div>
</section>
