<section class="relative overflow-hidden">
  <div
    class="absolute inset-x-0 top-0 h-96 rotate-180 text-gray-400/30 opacity-60 [mask-image:linear-gradient(to_bottom,transparent,white)]"
  >
  </div>
  <div
    class="px-8 pt-24 pb-12 lg:pb-24 mx-auto md:px-12 lg:px-32 max-w-7xl relative"
  >
    <div class="text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Your tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-5xl lg:text-balance"
      >
        Transform your visitors into
        <span     >users with an engaging headline</span>
      </h1>
      <p
        class="lg:w-2/3 mx-auto mt-6 text-base font-medium text-gray-500 lg:text-balance"
      >
        The fastest and most efficient method for working together on staging
        and temporary environments. This approach streamlines collaboration
        among team members, ensuring that development and testing processes are
        seamless and effective.
      </p>
    </div>
    <div class="flex flex-wrap items-center gap-2 justify-center mt-12">
      <button
        class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-blue-600 hover:to-blue-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
        aria-label="Action"
      >
        Get started
      </button>
      <button
        class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-gray-50 border border-gray-300 rounded-lg hover:text-blue-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
        aria-label="Action"
      >
        Lerarn more
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M9 6l6 6l-6 6"></path></svg
        >
      </button>
    </div>
  </div>
  <div class="flex justify-center gap-5 overflow-hidden sm:gap-4 py-4">
    <div
      class="relative aspect-[4/3] w-44 flex-none sm:w-96 h-full drop-shadow"
    >
      <img
        alt="#_"
        loading="lazy"
        width="3936"
        height="2624"
        decoding="async"
        class="absolute inset-0 h-full w-full"
        src="/images/blueCard.svg"
      />
    </div>
    <div
      class="relative aspect-[4/3] w-44 flex-none sm:w-96 h-full drop-shadow"
    >
      <img
        alt="#_"
        loading="lazy"
        width="3936"
        height="2624"
        decoding="async"
        class="absolute inset-0 h-full w-full"
        src="/images/whiteCard.svg"
      />
    </div>
    <div
      class="relative aspect-[4/3] w-44 flex-none sm:w-96 h-full drop-shadow"
    >
      <img
        alt="#_"
        decoding="async"
        class="absolute inset-0 h-full w-full"
        src="/images/blueCard.svg"
      />
    </div>
    <div
      class="relative aspect-[4/3] w-44 flex-none sm:w-96 h-full drop-shadow"
    >
      <img
        alt="#_"
        loading="lazy"
        width="2400"
        height="3000"
        decoding="async"
        class="absolute inset-0 h-full w-full"
        src="/images/darkCard.svg"
      />
    </div>
    <div
      class="relative aspect-[4/3] w-44 flex-none sm:w-96 h-full drop-shadow"
    >
      <img
        alt="#_"
        loading="lazy"
        width="4240"
        height="2384"
        decoding="async"
        class="absolute inset-0 h-full w-full"
        src="/images/blueCard.svg"
      />
    </div>
  </div>
</section>
