---
import ScreenLayout from "@/layouts/ScreenLayout.astro";
const testimonials = [
  {
    avatar:
      "https://images.unsplash.com/photo-1527980965255-d3b416303d12?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    name: "Alex Johnson",
    role: "CEO of Finance Corp",
    description:
      "Using this service has revolutionized how we manage our finances. The real-time analytics are incredibly powerful and have provided us with insights we never thought possible.",
  },
  {
    avatar:
      "https://images.unsplash.com/photo-1489424731084-a5d8b219a5bb?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    name: "Taylor Smith",
    role: "COO of Tech Innovators",
    description:
      "The secure digital wallet is a game-changer. It's easy to use and gives us peace of mind knowing our digital assets are safe.",
  },
  {
    avatar:
      "https://images.unsplash.com/photo-1522556189639-b150ed9c4330?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    name: "Jordan Lee",
    role: "CFO of Investment Solutions",
    description:
      "The personalized financial advice feature has been incredibly helpful. It offers recommendations that are tailored to our specific goals.",
  },
];
---

<ScreenLayout>
  <section class="relative overflow-hidden">
    <div
      class="absolute inset-x-0 top-0 h-96 rotate-180 text-gray-400/30 opacity-60 [mask-image:linear-gradient(to_bottom,transparent,white)]">
      <svg
        class="absolute inset-0 h-full w-full"
        xmlns="http://www.w3.org/2000/svg"
        ><defs
          ><pattern
            id="grid-pattern"
            width="32"
            height="32"
            patternUnits="userSpaceOnUse"
            x="50%"
            y="100%"
            patternTransform="translate(0 -1)"
            ><path
              d="M0 32V.5H32"
              fill="none"
              stroke="currentColor"
            ></path></pattern
          ></defs
        ><rect
          width="100%"
          height="100%"
          fill="url(#grid-pattern)"
        ></rect></svg
      >
    </div>
    <div
      class="px-8 py-32 md:py-48 lg:py-56 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
      <div class="grid items-start grid-cols-1 gap-12 md:grid-cols-2">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
          <div>
            <span
              class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >Your tagline</span
            >
            <h1
              class="text-4xl mt-4 font-semibold tracking-tight text-blue-950 lg:text-4xl lg:text-balance">
              Transform your visitors into

              <span class="text-gray-600">users with an engaging headline</span>
            </h1>
            <p
              class="lg:w-2/3 mt-6 text-base font-medium text-gray-500 lg:text-balance">
              The fastest and most efficient method for working together on
              staging and temporary environments.
            </p>

            <div class="flex -space-x-2 overflow-hidden mt-8">
              <img
                class="inline-block size-10 rounded-full object-cover object-center"
                src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YXZhdGFyfGVufDB8fDB8fHww"
                alt=""
              />
              <img
                class="inline-block size-10 rounded-full object-cover object-center"
                src="https://images.unsplash.com/photo-1580489944761-15a19d654956?q=80&w=2861&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""
              />
              <img
                class="inline-block size-10 rounded-full object-cover object-center"
                src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""
              />
              <img
                class="inline-block size-10 rounded-full object-cover object-center"
                src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""
              />
            </div>
            <div class="flex flex-wrap gap-4 mt-12">
              <button
                class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-blue-600 hover:to-blue-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
                aria-label="Action">
                Get started
              </button>
              <div class="text-sm text-gray-500">
                <span class="block">This is some support text</span>
                <span class="block">and this is also.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="lg:mt-0 lg:ml-auto">
          <div
            class="absolute transform lg:-translate-y-1/2 lg:left-1/2 lg:top-1/2 lg:translate-x-8 sm:left-1/2 sm:top-0 sm:translate-x-8">
            <div class="flex items-center space-x-6 lg:space-x-8">
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-44">
                  <img
                    alt="#_"
                    class="object-cover"
                    src="/images/phone1.png"
                    decoding="async"
                    height="926"
                    loading="lazy"
                    width="428"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    alt="#_"
                    class="object-cover"
                    src="/images/phone2.png"
                    decoding="async"
                    height="926"
                    loading="lazy"
                    width="428"
                  />
                </div>
              </div>
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-44">
                  <img
                    alt="#_"
                    class="object-cover"
                    src="/images/phone3.png"
                    decoding="async"
                    height="926"
                    loading="lazy"
                    width="428"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    alt="#_"
                    class="object-cover"
                    src="/images/phone5.png"
                    decoding="async"
                    height="926"
                    loading="lazy"
                    width="428"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    alt="#_"
                    class="object-cover"
                    src="/images/phone2.png"
                    decoding="async"
                    height="926"
                    loading="lazy"
                    width="428"
                  />
                </div>
              </div>
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-44">
                  <img
                    alt="#_"
                    class="object-cover"
                    src="/images/phone6.png"
                    decoding="async"
                    height="926"
                    loading="lazy"
                    width="428"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    alt="#_"
                    class="object-cover"
                    src="/images/phone7.png"
                    decoding="async"
                    height="926"
                    loading="lazy"
                    width="428"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ScreenLayout>
