<section class="relative overflow-hidden">
  <div
    class="absolute inset-x-0 top-0 h-96 rotate-180 text-gray-400/30 opacity-60 [mask-image:linear-gradient(to_bottom,transparent,white)]"
  >
    <svg
      class="absolute inset-0 h-full w-full"
      xmlns="http://www.w3.org/2000/svg"
      ><defs
        ><pattern
          id="grid-pattern"
          width="32"
          height="32"
          patternUnits="userSpaceOnUse"
          x="50%"
          y="100%"
          patternTransform="translate(0 -1)"
          ><path d="M0 32V.5H32" fill="none" stroke="currentColor"
          ></path></pattern
        ></defs
      ><rect width="100%" height="100%" fill="url(#grid-pattern)"></rect></svg
    >
  </div>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <div class="text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Your tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-blue-950 lg:text-5xl lg:text-balance"
      >
        Transform your visitors into

        <span class="text-gray-600">users with an engaging headline</span>
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500 lg:text-balance">
        The fastest method for working together on staging and temporary
        environments.
      </p>
    </div>
    <dl
      class="grid md:grid-cols-2 mt-12 text-center gap-x-6 gap-y-12 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16"
    >
      <div class="flex flex-col h-full justify-between">
        <div>
          <img
            class="rounded-2xl drop-shadow"
            src="/images/blueCard.svg"
            alt="#_"
          />
          <dt
            class="font-mono mt-6 uppercase tracking-tighter text-sm font-medium text-blue-950"
          >
            NO GUARANTEE
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-pretty">
            The recipe is provided "as is" without any guarantees. Bake at your
            own risk, and we do not accept responsibility for any loss or
            damage.
          </dd>
        </div>
      </div>
      <div class="flex flex-col h-full justify-between">
        <div>
          <img
            class="rounded-2xl drop-shadow"
            src="/images/darkCard.svg"
            alt="#_"
          />
          <dt
            class="font-mono mt-6 uppercase tracking-tighter text-sm font-medium text-blue-950"
          >
            FAST DELIVERY
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-balance">
            We ensure your baked goods are delivered fresh and on time, every
            time. We also offer free delivery to select locations.
          </dd>
        </div>
      </div>
      <div class="flex flex-col h-full justify-between">
        <div>
          <img
            class="rounded-2xl drop-shadow"
            src="/images/whiteCard.svg"
            alt="#_"
          />
          <dt
            class="font-mono mt-6 uppercase tracking-tighter text-sm font-medium text-blue-950"
          >
            Baking Freedom
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-pretty">
            You can adapt, remix, transform, and build upon the licensed work.
            We also offer a wide range of customization options to suit your
            unique tastes.
          </dd>
        </div>
      </div>
    </dl>
  </div>
</section>
