---
import ScreenLayout from "@/layouts/ScreenLayout.astro";
---

<ScreenLayout>
  <section class="relative overflow-hidden">
    <div
      class="absolute inset-x-0 top-0 h-96 rotate-180 text-gray-400/30 opacity-60 [mask-image:linear-gradient(to_bottom,transparent,white)]">
      <svg
        class="absolute inset-0 h-full w-full"
        xmlns="http://www.w3.org/2000/svg"
        ><defs
          ><pattern
            id="grid-pattern"
            width="24"
            height="24"
            patternUnits="userSpaceOnUse"
            x="50%"
            y="100%"
            patternTransform="translate(0 -1)"
            ><path
              d="M0 32V.5H32"
              fill="none"
              stroke="currentColor"
            ></path></pattern
          ></defs
        ><rect
          width="100%"
          height="100%"
          fill="url(#grid-pattern)"
        ></rect></svg
      >
    </div>
    <div
      class="px-8 py-32  mx-auto md:px-12 lg:px-32 max-w-7xl relative">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
          >Your tagline</span
        >
        <h1
          class="text-4xl mt-4 font-semibold tracking-tight text-blue-950 lg:text-5xl lg:text-balance">
          Transform your visitors into
          <span class="text-gray-600">users with an engaging headline</span>
        </h1>
        <p class="text-base font-medium mt-4 text-gray-500">
          The fastest and most efficient method for working together on staging
          and temporary environments. This approach streamlines collaboration
          among team members, ensuring that development and testing processes
          are seamless and effective.
        </p>
      </div>
      <dl
        class="grid grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-4 md:grid-cols-2 mt-12 lg:gap-x-8 lg:gap-y-16">
        <div>
          <div class="text-blue-500">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_435_2)">
                <path
                  d="M3 12C3 13.1819 3.23279 14.3522 3.68508 15.4442C4.13738 16.5361 4.80031 17.5282 5.63604 18.364C6.47177 19.1997 7.46392 19.8626 8.55585 20.3149C9.64778 20.7672 10.8181 21 12 21C13.1819 21 14.3522 20.7672 15.4442 20.3149C16.5361 19.8626 17.5282 19.1997 18.364 18.364C19.1997 17.5282 19.8626 16.5361 20.3149 15.4442C20.7672 14.3522 21 13.1819 21 12C21 10.8181 20.7672 9.64778 20.3149 8.55585C19.8626 7.46392 19.1997 6.47177 18.364 5.63604C17.5282 4.80031 16.5361 4.13738 15.4442 3.68508C14.3522 3.23279 13.1819 3 12 3C10.8181 3 9.64778 3.23279 8.55585 3.68508C7.46392 4.13738 6.47177 4.80031 5.63604 5.63604C4.80031 6.47177 4.13738 7.46392 3.68508 8.55585C3.23279 9.64778 3 10.8181 3 12Z"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
              <defs>
                <clipPath id="clip0_435_2">
                  <rect
                    width="24"
                    height="24"
                    fill="white"
                  ></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="mt-6">
            <dt
              class="font-mono uppercase tracking-tighter text-sm font-medium text-blue-950">
              NO GUARANTEE
            </dt>
            <dd class="mt-2 text-sm text-gray-500 text-pretty">
              The recipe is provided "as is" without any guarantees. Bake at
              your own risk.
            </dd>
          </div>
        </div>
        <div>
          <div class="text-blue-500">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_435_5)">
                <path
                  d="M10.363 3.591L2.257 17.125C2.0899 17.4144 2.00147 17.7425 2.00051 18.0766C1.99955 18.4108 2.0861 18.7394 2.25155 19.0297C2.41699 19.3201 2.65557 19.562 2.94354 19.7316C3.23152 19.9011 3.55886 19.9922 3.893 19.996H20.107C20.441 19.9921 20.7682 19.901 21.056 19.7315C21.3438 19.562 21.5823 19.3202 21.7477 19.03C21.9132 18.7398 21.9997 18.4114 21.9989 18.0774C21.9981 17.7433 21.9099 17.4154 21.743 17.126L13.637 3.59C13.4665 3.3085 13.2262 3.07574 12.9395 2.9142C12.6527 2.75265 12.3291 2.66778 12 2.66778C11.6709 2.66778 11.3473 2.75265 11.0606 2.9142C10.7738 3.07574 10.5335 3.3085 10.363 3.59V3.591Z"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
              <defs>
                <clipPath id="clip0_435_5">
                  <rect
                    width="24"
                    height="24"
                    fill="white"
                  ></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="mt-6">
            <dt
              class="font-mono uppercase tracking-tighter text-sm font-medium text-blue-950">
              COMMERCIAL BAKING ALLOWED
            </dt>
            <dd class="mt-2 text-sm text-gray-500 text-pretty">
              You may use the recipe for both home baking and commercial
              purposes if you want to.
            </dd>
          </div>
        </div>
        <div>
          <div class="text-blue-500">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_438_17)">
                <path
                  d="M3 5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5Z"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
              <defs>
                <clipPath id="clip0_438_17">
                  <rect
                    width="24"
                    height="24"
                    fill="white"
                  ></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="mt-6">
            <dt
              class="font-mono uppercase tracking-tighter text-sm font-medium text-blue-950">
              NO GUARANTEE
            </dt>
            <dd class="mt-2 text-sm text-gray-500 text-pretty">
              The recipe is provided "as is" without any guarantees. Bake at
              your own risk.
            </dd>
          </div>
        </div>
        <div>
          <div class="text-blue-500">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_439_20)">
                <path
                  d="M19.875 6.27C20.2187 6.46546 20.5041 6.74897 20.7018 7.09136C20.8995 7.43374 21.0025 7.82263 21 8.218V15.502C21 16.311 20.557 17.057 19.842 17.45L13.092 21.72C12.7574 21.9037 12.3818 22.0001 12 22.0001C11.6182 22.0001 11.2426 21.9037 10.908 21.72L4.158 17.45C3.80817 17.2588 3.51612 16.9772 3.31241 16.6345C3.1087 16.2918 3.0008 15.9007 3 15.502V8.217C3 7.408 3.443 6.663 4.158 6.27L10.908 2.29C11.2525 2.10004 11.6396 2.00041 12.033 2.00041C12.4264 2.00041 12.8135 2.10004 13.158 2.29L19.908 6.27H19.875Z"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
              <defs>
                <clipPath id="clip0_439_20">
                  <rect
                    width="24"
                    height="24"
                    fill="white"
                  ></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="mt-6">
            <dt
              class="font-mono uppercase tracking-tighter text-sm font-medium text-blue-950">
              QUALITY INGREDIENTS
            </dt>
            <dd class="mt-2 text-sm text-gray-500 text-pretty">
              Our recipes use only the highest quality ingredients for the best
              taste and texture.
            </dd>
          </div>
        </div>
      </dl>
    </div>
  </section>
</ScreenLayout>
