# vscode
.vscode/

# screenshots directory
/screenshots/

# build output
.netlify/

dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
firebase-debug.log


# environment variables
.env
.env.*
cypress.env.json

# macOS-specific files
.DS_Store

.astro

# Vs Code
.vscode/

# Cypress
ui-debug.log

