---
// Assets
import { Image } from "astro:assets";
import showcase from "@/images/assets/showcase.png";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const data = [
  {
    icon: "Component",
    category: "Components",
    text: "More than 400 easy-to-use components that are accessible and simple to customize.",
  },
  {
    icon: "Code",
    category: "Tailwind, Alpine, and More",
    text: "Ready-to-use blocks built with HTML, Tailwind CSS and Alpine JS.",
  },
  {
    icon: "Devices",
    category: "Responsive Design",
    text: "Every example works on any screen size, so your design always looks good.",
  },
  {
    icon: "ColorPicker",
    category: "Pick your color",
    text: "Customize each block with your brand’s accent color for a perfect match.",
  },
];
---

<section>
  <Wrapper variant="standard" class="py-8">
    <dl
      class="grid grid-cols-1 sm:grid-cols-2 gap-y-12 lg:grid-cols-4 lg:gap-y-16 gap-8"
    >
      {
        data.map((section) => (
          <div>
            <Text
              tag="h3"
              variant="textBase"
              class="font-medium text-base-900  dark:text-white"
            >
              {section.category}
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2  text-base-500 dark:text-base-400 text-pretty"
            >
              {section.text}
            </Text>
          </div>
        ))
      }
    </dl>

    <div
      class="order-first p-8 mt-4 overflow-hidden rounded-xl bg-base-50 dark:bg-white/2 lg:order-none"
    >
      <Image
        class="object-cover h-full max-h-96 lg:-mt-4 w-full object-top drop-shadow-2xl scale-110 shadow %"
        src={showcase}
        alt="showcase"
      />
    </div>
  </Wrapper>
</section>
