---
// Assets
import { Image } from "astro:assets";
import showcase from "@/images/assets/showcase.png";
import marketingImage from "@/screenshots/marketing_hero_03.png";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import OxbowLink from "@/components/fundations/buttons/OxbowLink.astro";

const data = [
  {
    icon: "Component",
    category: "Components",
    text: "More than 400 easy-to-use components that are accessible and simple to customize.",
  },
  {
    icon: "Code",
    category: "Tailwind, Alpine, and More",
    text: "Ready-to-use blocks built with HTML, Tailwind CSS and Alpine JS.",
  },
  {
    icon: "Devices",
    category: "Responsive Design",
    text: "Every example works on any screen size, so your design always looks good.",
  },

  {
    icon: "ColorPicker",
    category: "Pick your color",
    text: "Customize each block with your brand’s accent color for a perfect match.",
  },
];
---

<section>
  <Wrapper variant="standard" class="relative py-6 grid grid-cols-1">
    <dl
      class="grid grid-cols-1 sm:grid-cols-2 gap-y-12 lg:grid-cols-4 lg:gap-y-16 mt-12 lg:mt-0"
    >
      {
        data.map((section) => (
          <div class="px-4 relative before:absolute after:absolute before:bg-base-800 before:top-0 before:left-0 before:h-6 before:w-0.5 after:top-8 after:bottom-0 after:left-0 after:w-0.5">
            <Text tag="h3" variant="textBase" class="  text-black font-medium">
              {section.category}
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class=" mt-2 text-base-500 text-pretty"
            >
              {section.text}
            </Text>
          </div>
        ))
      }
    </dl>
    <div
      class="overflow-hidden border border-base-200 bg-white order-first lg:order-none mt-0 lg:mt-8"
    >
      <Image
        class="object-cover h-full max-h-96 lg:-mt-4 w-full object-top drop-shadow-2xl scale-110"
        src={showcase}
        alt="showcase"
      />
    </div>
    <div
      class="grid grid-cols-1 lg:items-center lg:grid-cols-2 gap-y-12 relative mt-12"
    >
      <div
        class="order-last relative px-4 lg:px-8 border lg:border-l-0 bg-white py-12 border-base-200 h-full flex flex-col justify-between overflow-hidden"
      >
        <div class="text-center">
          <img
            class="size-12 mx-auto"
            src="/images/oxbow/oxbowLogoDark.png"
            alt="#_"
          />
          <Text
            tag="p"
            variant="textXS"
            class="font-semibold mt-4 uppercase text-black"
          >
            Get access
          </Text>
          <Text
            tag="h3"
            variant="displaySM"
            class="mt-4 text-black font-semibold leading-tight text-balance"
          >
            Get lifetime access to all components, elements, and layouts for
            only <del class="opacity-45">$149</del> $67
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 text-base-900 font-medium text-balance"
          >
            Own them forever with lifetime updates, unlimited usage, and
            support—no subscription required!
          </Text>
        </div>
        <div class="flex mt-4 justify-center">
          <OxbowLink
            gap="sm"
            size="base"
            variant="accent"
            href="/pricing"
            id="access-features-cta"
            data-umami-event="access-features-cta"
            class="w-auto"
          >
            Get access
            <span>
              <del class="opacity-45">$149</del> $67
            </span>
          </OxbowLink>
        </div>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-12 h-full">
        <div
          class="px-4 relative before:absolute after:absolute before:bg-base-800 before:top-0 before:left-0 before:h-6 before:w-0.5 after:top-8 after:bottom-0 after:left-0 after:w-0.5"
        >
          <div class="relative">
            <span class="text-sm text-base-500">Marketing</span>
            <h3 class="text-base mt-2 text-black font-medium">Landing pages</h3>
          </div>
          <p class="text-sm mt-2 text-base-500 text-pretty">
            Hero sections, features, footers, pricing, and ready-to-use landing
            pages to help you build standout marketing websites.
          </p>
          <Image
            src={marketingImage}
            alt="hero images"
            class="border border-base-200 aspect-auto mt-4"
          />
        </div>

        <div
          class="grid grid-cols-1 gap-y-12 sm:grid-cols-2 lg:grid-cols-1 h-full"
        >
          <div
            class="px-4 relative before:absolute after:absolute before:bg-base-800 before:top-0 before:left-0 before:h-6 before:w-0.5 after:top-8 after:bottom-0 after:left-0 after:w-0.5"
          >
            <div class="relative">
              <span class="text-sm text-base-500">Application</span>
              <h3 class="text-base mt-2 text-black font-medium">
                Building a web app?
              </h3>
            </div>
            <p class="text-sm mt-2 text-base-500 text-pretty">
              Find navigation, buttons, forms, command palettes, typography,
              application layouts, dialogs, and more to make your application’s
              user interface pretty.
            </p>
          </div>
          <div
            class="px-4 relative before:absolute after:absolute before:bg-base-800 before:top-0 before:left-0 before:h-6 before:w-0.5 after:top-8 after:bottom-0 after:left-0 after:w-0.5"
          >
            <div class="relative">
              <span class="text-sm text-base-500">Ecomerce</span>
              <h3 class="text-base mt-2 text-black font-medium">
                Got a store?
              </h3>
            </div>
            <p class="text-sm mt-2 text-base-500 text-pretty">
              Checkout forms, shopping carts, promo sections, store fronts,
              product overviews and all the basics to build your store.
            </p>
          </div>
        </div>
      </div>
    </div>
  </Wrapper>
</section>
