---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const features = [
  {
    title: "Components",
    description:
      "Over 400 components designed for clarity and ease. Accessible, flexible, and built to adapt to your needs.",
  },
  {
    title: "Stack",
    description:
      "Prebuilt blocks designed for speed and clarity—crafted with Tailwind and Alpine for efficient, maintainable projects.",
  },
  {
    title: "Responsive Design",
    description:
      "Designed to look great on any screen size—from small phones to large desktop monitors.",
  },

  {
    category: "Marketing",
    title: "Landing pages",
    description:
      "Includes all the essential sections—hero, features, pricing, and more—for building effective landing pages.",
  },
  {
    category: "Application",
    title: "Building a webapp?",
    description:
      "Navigation, buttons, forms, and layouts—built to help your UI look thoughtful and well-designed.",
  },
  {
    category: "Ecommerce",
    title: "Got a store?",
    description:
      "Carts, checkouts, and promo sections—everything you need to sell, minus the product itself.",
  },
];
---

<section class="border-t border-gray-200">
  <Wrapper variant="standard" class="lg:border-x lg:border-gray-200">
    <div
      class="items-center grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 text-center"
    >
      {
        features.map((item) => (
          <div class="flex flex-col h-full ">
            <div>
              <Text
                tag="h3"
                variant="textSM"
                class="mt-12 font-medium text-gray-900"
              >
                {item.title}
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 text-gray-500 max-w-xs text-balance"
              >
                {item.description}
              </Text>
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
