---
// Assets
import { Image } from "astro:assets";
import showcase from "@/images/assets/showcase.png";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const features = [
  {
    icon: "Component",
    category: "Components",
    text: "Over 400 components that are accessible, easy to use, and simple to customize.",
  },
  {
    icon: "Code",
    category: "Stack",
    text: "Prebuilt blocks crafted with Tailwind CSS and Alpine JS for rapid development.",
  },
  {
    icon: "Devices",
    category: "Responsive Design",
    text: "Designed to work seamlessly on all screen sizes—mobile, tablet, or desktop.",
  },
  {
    icon: "ColorPicker",
    category: "Pick your color",
    text: "Easily apply your brand’s color to any block for a consistent, professional look.",
  },
];
---

<section class="lg:border-t lg:border-base-200">
  <Wrapper variant="standard" class="lg:border-x lg:border-base-200">
    <dl
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4"
    >
      {
        features.map((section) => (
          <div class="relative flex flex-col p-6 overflow-hidden bg-white gap-4  rounded-xl shadow-oxbow sm:p-4 sm:pb-5 lg:p-6">
            <Text
              tag="h3"
              variant="textBase"
              class="font-medium text-base-900 "
            >
              {section.category}
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2  text-base-500 text-pretty"
            >
              {section.text}
            </Text>
          </div>
        ))
      }
    </dl>
  </Wrapper>
</section>
