---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Widgets
import Stack from "@/components/landing/widgets/Stack.astro";
import Colors from "@/components/landing/widgets/Colors.astro";
import Devices from "@/components/landing/widgets/Devices.astro";
import Components from "@/components/landing/widgets/Components.astro";
// Widgets
import Marketing from "@/components/landing/widgets/Marketing.astro";
import Application from "@/components/landing/widgets/Application.astro";
import Ecommerce from "@/components/landing/widgets/Ecommerce.astro";
---

<section class="border-t border-base-200">
  <Wrapper variant="standard" class="lg:border-x lg:border-base-200">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div
        class="relative flex flex-col justify-start h-full p-6 overflow-hidden bg-white gap-4 rounded-xl shadow-oxbow sm:p-4 sm:pb-5 lg:p-6 group lg:col-span-2"
      >
        <div>
          <Text tag="h3" variant="textBase" class="font-medium text-base-900">
            Components
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 text-balance"
          >
            Over 400 components that are accessible, easy to use, and simple to
            customize.
          </Text>
        </div>
        <div class="relative mt-auto">
          <Components />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-start h-full p-6 overflow-hidden bg-white gap-4 rounded-xl shadow-oxbow sm:p-4 sm:pb-5 lg:p-6 group"
      >
        <div>
          <Text tag="h3" variant="textBase" class="font-medium text-base-900">
            Stack
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 text-balance"
          >
            Prebuilt blocks crafted with Tailwind CSS and Alpine JS for rapid
            development.
          </Text>
        </div>
        <div class="relative mt-12">
          <Stack />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-start h-full p-6 overflow-hidden bg-white gap-4 rounded-xl shadow-oxbow sm:p-4 sm:pb-5 lg:p-6 group"
      >
        <div>
          <Text tag="h3" variant="textBase" class="font-medium text-base-900">
            Responsive Design
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 text-balance"
          >
            Designed to work seamlessly on all screen sizes—mobile, tablet, or
            desktop.
          </Text>
        </div>
        <div class="relative mt-12">
          <Devices />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-start h-full p-6 overflow-hidden bg-white gap-4 rounded-xl shadow-oxbow sm:p-4 sm:pb-5 lg:p-6 group lg:col-span-2"
      >
        <div>
          <Text tag="h3" variant="textBase" class="font-medium text-base-900">
            Pick your color
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 text-balance"
          >
            Easily apply your brand’s color to any block for a consistent,
            professional look.
          </Text>
        </div>
        <div class="relative mt-12">
          <Colors />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-start h-full p-6 overflow-hidden bg-white gap-4 rounded-xl shadow-oxbow sm:p-4 sm:pb-5 lg:p-6 group"
      >
        <div>
          <span class="text-sm text-base-500 text-balance"> Marketing </span>
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium text-base-900 mt-4"
          >
            Landing pages
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 text-balance"
          >
            Hero sections, features, footers, pricing, and ready-to-use landing
            pages to help you build standout marketing websites.
          </Text>
        </div>
        <div class="relative mt-auto">
          <Marketing />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-start h-full p-6 overflow-hidden bg-white gap-4 rounded-xl shadow-oxbow sm:p-4 sm:pb-5 lg:p-6 group"
      >
        <div>
          <span class="text-sm text-base-500 text-balance"> Application </span>
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium text-base-900 mt-4"
          >
            Building a webapp?
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 text-balance"
          >
            Find navigation, buttons, forms, command palettes, typography,
            application layouts, dialogs, and more to make your application’s
            user interface pretty.
          </Text>
        </div>
        <div class="relative mt-auto">
          <Application />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-start h-full p-6 overflow-hidden bg-white gap-4 rounded-xl shadow-oxbow sm:p-4 sm:pb-5 lg:p-6 group"
      >
        <div>
          <span class="text-sm text-base-500 text-balance"> Ecommerce </span>
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium text-base-900 mt-4"
          >
            Got a store?
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 text-balance"
          >
            Checkout forms, shopping carts, promo sections, store fronts,
            product overviews, and all the basics to build your store.
          </Text>
        </div>
        <div class="relative mt-auto -mr-22">
          <Ecommerce />
        </div>
      </div>
    </div>
  </Wrapper>
</section>
