---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Code from "@/components/fundations/icons/Code.astro";
import Component from "@/components/fundations/icons/Component.astro";
import Devices from "@/components/fundations/icons/Devices.astro";
import Brain from "@/components/fundations/icons/Brain.astro";
import Apps from "@/components/fundations/icons/Apps.astro";
import Cart from "@/components/fundations/icons/Cart.astro";
import { getComponentCount } from "@/utils/getComponentCount.js";
const componentCount = getComponentCount();
const features = [
  {
    icon: Component,
    title: "Components",
    description: `${componentCount} and growing ready-to-use components light and dark mode, clean, flexible, and built for people who would rather ship than waste time reinventing buttons.`,
  },
  {
    icon: Code,
    title: "Stack",
    description:
      "Tailwind CSS and AlpineJS, no bloated frameworks, no 40-step configs, just simple blocks that actually work.",
  },
  {
    icon: Devices,
    title: "Responsive Design",
    description:
      "Works on every screen size, from the phone you dropped last week to that giant monitor you us to scroll Twitter.",
  },
  {
    icon: Brain,
    category: "Marketing",
    title: "Landing Pages",
    description:
      "All the classics, hero, features, pricing, and more, basically everything you need to convince strangers to click buy.",
  },
  {
    icon: Apps,
    category: "Application",
    title: "Building a webapp?",
    description:
      "Navigation, buttons, forms, layouts, the boring stuff nobody wants to design, already done for you.",
  },
  {
    icon: Cart,
    category: "Ecommerce",
    title: "Got a store?",
    description:
      "Carts, checkouts, promos, everything you need to sell online, except the product, that’s on you.",
  },
];
---

<section>

  <Wrapper variant="narrow">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-12">
      {
        features.map((feature) => {
          const Icon = feature.icon;
          return (
            <div class="flex flex-col">
              <div class="flex items-center gap-2">
                <Icon size="sm" class=" text-accent-500" />
                <Text
                  tag="h3"
                  variant="textSM"
                  class="font-medium  text-zinc-900"
                >
                  {feature.title}
                </Text>
              </div>
              <Text tag="p" variant="textSM" class="mt-2 text-zinc-500">
                {feature.description}
              </Text>
            </div>
          );
        })
      }
    </div>
  </Wrapper>
</section>
