---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Code from "@/components/fundations/icons/Code.astro";
import Component from "@/components/fundations/icons/Component.astro";
import Devices from "@/components/fundations/icons/Devices.astro";
import Brain from "@/components/fundations/icons/Brain.astro";
import Apps from "@/components/fundations/icons/Apps.astro";
import Cart from "@/components/fundations/icons/Cart.astro";
const features = [
  {
    icon: Component,
    title: "Components",
    description:
      "Over 400 components designed for clarity and ease. Accessible, flexible, and built to adapt to your needs.",
  },
  {
    icon: Code,
    title: "Stack",
    description:
      "Prebuilt blocks designed for speed and clarity—crafted with Tailwind and Alpine for efficient, maintainable projects.",
  },
  {
    icon: Devices,
    title: "Responsive Design",
    description:
      "Designed to look great on any screen size—from small phones to large desktop monitors.",
  },
  {
    icon: Brain,
    category: "Marketing",
    title: "Landing pages",
    description:
      "Includes all the essential sections—hero, features, pricing, and more—for building effective landing pages.",
  },
  {
    icon: Apps,
    category: "Application",
    title: "Building a webapp?",
    description:
      "Navigation, buttons, forms, and layouts—built to help your UI look thoughtful and well-designed.",
  },
  {
    icon: Cart,
    category: "Ecommerce",
    title: "Got a store?",
    description:
      "Carts, checkouts, and promo sections—everything you need to sell, minus the product itself.",
  },
];
---

<section class="border-y border-base-200">
  <Wrapper variant="standard" class="lg:border-x lg:border-base-200">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
      {
        features.map((feature) => {
          const Icon = feature.icon;
          return (
            <div class="flex flex-col h-full p-4 bg-white rounded-xl group hover:bg-white hover:shadow-2xl duration-300 outline-transparent hover:outline hover:outline-sand-200 ">
              <div class="inline-flex p-4 bg-sand-100 rounded-lg group-hover:bg-sand-100 duration-300 group-hover:-rotate-12 group-hover:-translate-y-2 w-fit">
                <Icon size="base" class=" text-accent-500" />
              </div>
              <Text
                tag="h3"
                variant="textSM"
                class="mt-12 font-medium text-base-900"
              >
                {feature.title}
              </Text>
              <Text tag="p" variant="textSM" class="mt-2 text-base-500">
                {feature.description}
              </Text>
            </div>
          );
        })
      }
    </div>
  </Wrapper>
</section>
