---
// Assets
import { Image } from "astro:assets";
import showcase from "@/images/assets/showcase.png";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const features = [
  {
    icon: "Component",
    category: "Components",
    text: "Over 400 components that are accessible, easy to use, and simple to customize.",
  },
  {
    icon: "Code",
    category: "Stack",
    text: "Prebuilt blocks crafted with Tailwind CSS and Alpine JS for rapid development.",
  },
  {
    icon: "Devices",
    category: "Responsive Design",
    text: "Designed to work seamlessly on all screen sizes—mobile, tablet, or desktop.",
  },
  {
    icon: "ColorPicker",
    category: "Pick your color",
    text: "Easily apply your brand’s color to any block for a consistent, professional look.",
  },
];
---

<section>
  <Wrapper variant="standard" class="py-8">
    <dl
      class="grid grid-cols-1 sm:grid-cols-2 gap-y-12 lg:grid-cols-4 lg:gap-y-16 gap-8"
    >
      {
        features.map((section) => (
          <div>
            <Text
              tag="h3"
              variant="textBase"
              class="font-medium text-base-900 "
            >
              {section.category}
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2  text-base-500 text-pretty"
            >
              {section.text}
            </Text>
          </div>
        ))
      }
    </dl>
    <div
      class="order-first mt-4 overflow-hidden rounded-lg bg-white lg:order-none"
    >
      <Image
        class="object-cover object-top w-full h-full lg:-mt-4 drop-shadow-2xl drop-shadow-base-500/30"
        src={showcase}
        alt="showcase"
      />
    </div>
  </Wrapper>
</section>
