---
import { reviews } from "@/data/reviews.json";
// Assets
import AnimatedGradient from "@/components/assets/AnimatedGradient.astro";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Randomize the reviews array
const randomizedReviews = [...reviews].sort(() => Math.random() - 0.5);
---

<section>
  <Wrapper variant="standard" class="border-t">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      {
        randomizedReviews.slice(0, 3).map((template) => (
          <div class="relative overflow-hidden textcenter rounded-xl outline-base-100 shadow dark:outline-base-900 dark:shadow-2xl dark:shadow-black  dark:bg-base-950 p-8 bg-stripes-light dark:bg-stripes-dark ">
            <AnimatedGradient class="absolute inset-0 z-0 grayscale opacity-0 dark:opacity-100" />
            <div class="relative ">
              <Text
                tag="h3"
                variant="textBase"
                class="text-black dark:text-white  font-normal tracking-tigt font-mono uppercase text-balance italic"
              >
                "{template.text}"
              </Text>
              <div class="mt-2  font-medium text-black dark:text-white text-right">
                <Text tag="p" variant="textSM">
                  {template.name}
                </Text>
                <Text tag="p" variant="textSM">
                  {template.work}
                </Text>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
