---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="mx-auto max-w-[450px] p-4 font-sans">
    <img class="h-12" src="/images/oxbow/oxbowLogo.png" alt="Oxbow logo" />
    <Text tag="h1" variant="displaySM" class="font-medium mt-12"
      >Thank you for your order!</Text
    >

    <div class="mt-8 space-y-2">
      <Text tag="p" variant="textBase" class="text-base-500">
        <span class="font-medium text-black">Order #:</span> 98876248
      </Text>
      <Text tag="p" variant="textBase" class="text-base-500">
        <span class="font-medium text-black">Date:</span> 29 Dec 2024, 19:55
      </Text>
    </div>

    <div
      class="flex items-center mt-4 justify-between border-y border-gray-200 py-4"
    >
      <div class="flex items-center gap-4">
        <div class="w-16 overflow-hidden rounded">
          <img
            src="https://www.colorsandfonts.com/_astro/oxbowui.7D8OiF6d_Z16x3bg.avif"
            alt="Lexington license"
            class="object-cover"
          />
        </div>
        <div>
          <div class="flex items-center gap-2 w-full">
            <Text tag="p" variant="textSM" class="font-medium"
              >Oxbow UI Individual License</Text
            >
            <Text tag="span" variant="textSM" class="font-medium">$149.00</Text>
          </div>
          <Text tag="p" variant="textXS" class="font-medium text-base-500">
            Lifetime access and future updates to Oxbow UI
          </Text>
        </div>
      </div>
    </div>

    <div class="space-y-3 border-b border-gray-200 py-6 text-base">
      <div class="flex justify-between">
        <Text tag="p">Subtotal</Text>
        <Text tag="p" class="text-base-600">$149.00</Text>
      </div>
      <div class="flex justify-between">
        <Text tag="p">Discount</Text>
        <Text tag="p" class="text-base-600">-$81.95</Text>
      </div>
      <div class="flex justify-between font-bold">
        <Text tag="p">Total</Text>
        <Text tag="p">$67.05</Text>
      </div>
    </div>

    <div class="py-6 text-sm">
      <Text tag="p" class="font-medium text-black">
        License key:
        <span class="font-mono text-base-500 text-xs">
          D6200503-B420-4C03-BBE6-D0E68674B4CE
        </span>
      </Text>
    </div>
    <Button variant="accent" size="lg" class="w-full">
      Log in to Oxbow UI
    </Button>

    <div class="border-t border-gray-200 py-6 text-sm text-base-500 mt-4">
      <Text tag="p">
        This payment will appear as <span class="font-medium text-black"
          >OXBOWUI*</span
        > on your bank or card statement.
      </Text>

      <div class="mt-4">
        <Text tag="p">Need help with your payment or order?</Text>
        <Text tag="p" class="mt-1">
          <Text
            tag="a"
            href="https://oxbowui.com/support"
            class="text-blue-600 hover:underline">- Contact support</Text
          >
          or reply to this email.
        </Text>
      </div>

      <div class="mt-4">
        <Text>Need an invoice for your records?</Text>
        <Text class="mt-1">
          <Text
            tag="a"
            href="https://billing.stripe.com/p/login/fZefZe38O7mhbhC8ww"
            class="text-blue-600 hover:underline"
          >
            - Request an invoice
          </Text>
        </Text>
      </div>
    </div>
  </div>
</section>
