---
import BaseLayout from "@/layouts/BaseLayout.astro";
import TabComponent from "@/components/global/TabComponent.astro";
---

<BaseLayout>
  <section>
    <div class="max-w-xl mx-auto px-8 pt-12 lg:pt-32">
      <div class="prose-styles">
        <span class="pb-2"> Page sections / Marketing</span>
        <h1>Left Heroes</h1>

        <div class="flex gap-3 text-gray-400">
          <span
            class="hidden lg:inline"
            title="command palette">
            Search for anything with —
            <span class="text-xs"> ⌘ + K </span>
            or <span class="text-xs"> CTRL + K </span>
          </span>
        </div>
      </div>
    </div>

    <div class="max-w-7xl mx-auto px-8 space-y-12 pb-32 mt-12">
      <TabComponent componentName="One" />
    </div>
  </section>
</BaseLayout>
