---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section x-data="{duration: 'monthly'}">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-screen-xl relative">
    <div class="max-w-xl text-center mx-auto">
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="default">
        Equip your business with world class software
      </Heading>
      <Text
        class="mt-4 lg:text-balance"
        tag="p"
        variant="body">
        Choose a plan that works the best for you and your team. Start small,
        upgrade when you need to.
      </Text>
    </div>
    <div
      class="grid grid-cols-1 gap-4 mt-12 sm:grid-cols-2 md:grid-cols-3 mx-auto">
      <!-- Tier 1 -->
      <div
        class="flex flex-col h-full justify-between p-1 bg-base-50 rounded-3xl shadow">
        <div>
          <div class="flex flex-col p-8 bg-white shadow rounded-[1.3rem]">
            <span class="text-xl text-base-900"> Core </span>
            <p class="text-sm text-base-500 mt-2">
              This subscription tier caters to individuals and hobbyists seeking
              fundamental features.
            </p>
          </div>
          <div class="p-8 pt-0 mt-8">
            <p
              class="font-semibold lg:text-3xl flex items-baseline text-2xl tracking-tighter text-base-900">
              $19.00
              <span
                class="text-sm font-normal tracking-normal font-sans text-base-500">
                /month
              </span>
            </p>
            <div class="w-full mt-4">
              <Button
                class="w-full"
                variant="alternative"
                size="sm">
                Get Started
              </Button>
            </div>
          </div>
        </div>
      </div>
      <!-- Tier 2 -->
      <div
        class="flex h-full justify-between flex-col p-1 rounded-3xl bg-base-900 shadow">
        <div>
          <div class="flex flex-col p-8 bg-base-800 shadow rounded-[1.3rem]">
            <span class="text-xl text-white"> Momentum </span>
            <p class="text-sm text-base-300 mt-2">
              Designed with medium-sized businesses in mind, this subscription
              tier provides advanced tools.
            </p>
          </div>
          <div class="p-8 pt-0 mt-8">
            <p
              class="font-semibold flex lg:text-3xl items-baseline text-2xl tracking-tighter text-white">
              $49.00
              <span
                class="text-sm font-normal tracking-normal font-sans text-base-300">
                /month
              </span>
            </p>
            <div class="w-full mt-4">
              <Button
                class="w-full"
                variant="accent"
                size="sm">
                Get Started
              </Button>
            </div>
          </div>
        </div>
      </div>
      <!-- Tier 3 -->
      <div
        class="flex flex-col h-full justify-between p-1 bg-base-50 rounded-3xl shadow">
        <div>
          <div class="flex flex-col p-8 bg-white shadow rounded-[1.3rem]">
            <span class="text-xl text-base-900"> Growth </span>
            <p class="text-sm text-base-500 mt-2">
              Designed for expanding businesses, this tier provides essential
              tools to scale operations efficiently.
            </p>
          </div>
          <div class="p-8 pt-0 mt-8">
            <p
              class="font-semibold lg:text-3xl flex items-baseline text-2xl tracking-tighter text-base-900">
              $99.00
              <span
                class="text-sm font-normal tracking-normal font-sans text-base-500">
                /month
              </span>
            </p>
            <div class="w-full mt-4">
              <Button
                class="w-full"
                variant="alternative"
                size="sm">
                Get Started
              </Button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
