---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import PricingToggle from "@/components/fundations/buttonGroups/PricingToggle.astro";
import PricingCardsSingle from "@/components/fundations/pricing/PricingCardsSingle.astro";
---

<section x-data="{duration: 'monthly'}" class="bg-base-50">
  <Wrapper variant="blockStandard" class="py-24">
    <div class="max-w-xl mx-auto text-center">
      <Text
        tag="h1"
        variant="displayMD"
        class="font-medium tracking-tight text-base-900 text-balance"
      >
        Equip your business with world class software
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-2 font-medium text-base-600 text-balance"
      >
        Choose a plan that works the best for you and your team. Start small,
        upgrade when you need to.
      </Text>
      <div
        aria-labelledby="pricing-toggle"
        class="relative z-0 inline-flex justify-center w-full p-1 mx-auto mt-8 overflow-hidden bg-white shadow ring-1 ring-base-200 ring-offset-2 gap-4 lg:mx-0 rounded-md max-w-52"
      >
        <!-- Monthly Pricing Button: Sets 'duration' to 'monthly' when clicked -->
        <PricingToggle />
      </div>
    </div>
    <div
      class="mt-12 lg:-mx-32 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4"
    >
      <!-- Tier one -->
      <PricingCardsSingle tierName="Core" />
      <!-- Tier two -->
      <PricingCardsSingle
        tierName="Momentum"
        colorMode="dark"
        isPopular={true}
      />
      <!-- Tier three -->
      <PricingCardsSingle tierName="Growth" isPopular={true} />
      <!-- Tier four-->
      <PricingCardsSingle tierName="Apex" />
    </div>
  </Wrapper>
</section>
