---
export const excludeFromObfuscation = [
  "w-1/2",
  "translate-x-0",
  "translate-x-full",
  "text-zinc-600",
  "focus:text-zinc-900 dark:text-white",
  "hover:text-zinc-900 dark:text-white",
];

export const description = "Pricing section with three tiers and table";
// Components
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Select from "@/components/fundations/inputs/Select.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons (import all used ones)
import Edit from "@/components/fundations/icons/Edit.astro";
import Bulb from "@/components/fundations/icons/Bulb.astro";
import ApiApp from "@/components/fundations/icons/ApiApp.astro";
import Refresh from "@/components/fundations/icons/Refresh.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
import Analytics from "@/components/fundations/icons/Analytics.astro";
import Program from "@/components/fundations/icons/Program.astro";
import Plug from "@/components/fundations/icons/Plug.astro";
import Brain from "@/components/fundations/icons/Brain.astro";
import Code from "@/components/fundations/icons/Code.astro";
import Tools from "@/components/fundations/icons/Tools.astro";
import Lifebuoy from "@/components/fundations/icons/Lifebuoy.astro";
import UsersGroup from "@/components/fundations/icons/UsersGroup.astro";
---

<section x-data="{ duration: 'monthly' }" class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="max-w-md mx-auto text-center">
      <Text
        tag="h1"
        variant="displayMD"
        class="font-semibold tracking-tight text-zinc-900 dark:text-white text-balance dark:text-zinc-100"
      >
        Give your team tools that don't suck
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-2 font-medium text-zinc-600 text-balance dark:text-zinc-400"
      >
        Start with what you need, skip what you don't. Scale up when
        spreadsheets stop cutting it.
      </Text>
      <!-- Pricing Toggle -->
      <div
        aria-labelledby="pricing-toggle"
        class="relative z-0 inline-flex justify-center w-full p-1 mx-auto mt-8 overflow-hidden bg-white dark:bg-zinc-900 shadow ring-1 ring-zinc-200 dark:ring-zinc-700 ring-offset-2 gap-4 lg:mx-0 rounded-md max-w-52 dark:ring-offset-black"
      >
        <div
          class="absolute inset-0 bg-zinc-50 dark:bg-zinc-800 rounded-md transition-transform duration-200 ease-in-out"
          :class="duration === 'monthly' ? 'w-1/2 translate-x-0' : 'w-1/2 translate-x-full'"
        >
        </div>
        <button
          class="relative z-10 flex items-center justify-center w-full h-6 px-2 text-xs font-medium focus:outline-none transition-colors duration-300"
          :class="duration === 'monthly' ? 'text-zinc-600 dark:text-zinc-300' : 'focus:text-zinc-900 dark:text-white hover:text-zinc-900 dark:text-white dark:focus:text-zinc-100 dark:hover:text-zinc-100 dark:text-zinc-300'"
          @click="duration = 'monthly'"
          type="button"
          :aria-pressed="duration === 'monthly'"
        >
          Monthly
        </button>
        <button
          class="relative z-10 flex items-center justify-center w-full h-6 px-2 text-xs font-medium focus:outline-none transition-colors duration-300"
          :class="duration === 'annual' ? 'text-zinc-600 dark:text-zinc-300' : 'focus:text-zinc-900 dark:text-white hover:text-zinc-900 dark:text-white dark:focus:text-zinc-100 dark:hover:text-zinc-100 dark:text-zinc-300'"
          @click="duration = 'annual'"
          type="button"
          :aria-pressed="duration === 'annual'"
        >
          Annual
        </button>
      </div>
    </div>
    <div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-4">
      <div
        class="bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 shadow from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl p-8 lg:p-12"
      >
        <div>
          <div class="flex flex-col">
            <Text tag="h3" variant="displaySM" class="font-semibold tracking-tight text-zinc-900 dark:text-white"
              >Core</Text
            >
            <div class="flex items-center gap-2 mt-8">
              <Text
                tag="p"
                variant="displayMD"
                class="font-medium text-zinc-900 dark:text-white"
              >
                <span
                  data-monthly="$29"
                  data-annual="$19"
                  x-text="$el.dataset[duration]"></span>
              </Text>
              <div class="text-xs font-medium text-zinc-600 dark:text-zinc-300">
                <div class="font-medium">
                  <span class="capitalize" x-show="duration==='monthly'"
                    >month</span
                  >
                  <span
                    class="capitalize"
                    x-show="duration==='annual'"
                    style="display: none">annually</span
                  >
                </div>
                <p>USD + Local taxes</p>
              </div>
            </div>
          </div>
          <Text tag="p" variant="textSM" class="mt-2 text-zinc-600 dark:text-zinc-300">
            Essential AI copywriting tools to boost your content creation.
          </Text>
        </div>
        <div class="mt-4">
          <Button size="base" variant="default" class="w-full">
            Start free trial
          </Button>
        </div>
        <div class="flex flex-col py-8 mt-8 border-t border-zinc-200 dark:border-zinc-700 gap-4">
          <div class="flex flex-col items-start sm:flex-row gap-4">
            <div
              class="p-2 rounded-lg bg-white dark:bg-zinc-700 outline outline-zinc-100 text-blue-500 dark:text-white  dark:outline-zinc-800"
            >
              <Refresh size="sm" />
            </div>
            <Text tag="h3" variant="textBase" class="font-medium text-zinc-900 dark:text-white">
              Content Generation
              <span aria-hidden="true">—</span>
              <span class="font-normal text-zinc-600 dark:text-zinc-400">
                Generate blog posts, social media content, and basic marketing
                copy.
              </span>
            </Text>
          </div>
          <div class="flex flex-col items-start sm:flex-row gap-4">
            <div
              class="p-2 rounded-lg bg-white dark:bg-zinc-700 outline outline-zinc-100 text-blue-500 dark:text-white  dark:outline-zinc-800"
            >
              <Edit size="sm" />
            </div>
            <Text tag="h3" variant="textBase" class="font-medium text-zinc-900 dark:text-white">
              AI Writing Assistant
              <span aria-hidden="true">—</span>
              <span class="font-normal text-zinc-600 dark:text-zinc-400">
                Basic grammar checking and style suggestions for your content.
              </span>
            </Text>
          </div>
        </div>
        <div class="pt-4 border-t border-zinc-200 dark:border-zinc-700">
          <Text tag="h3" variant="textBase" class="font-medium text-zinc-900 dark:text-white"
            >Word Credits</Text
          >
          <div class="mt-4 space-y-4">
            <Select
              id="core-credits"
              name="core-credits"
              label="Core Credits per project"
              value="10"
              variant="default"
              size="base"
              class=" w-full"
              options={[
                { label: "10/project", value: "10" },
                { label: "20/project", value: "20" },
                { label: "50/project", value: "50" },
              ]}
            />
            <Select
              id="core-projects"
              name="core-projects"
              label="Projects"
              value="10"
              variant="default"
              size="base"
              class="w-full"
              options={[
                { label: "10/project", value: "10" },
                { label: "20/project", value: "20" },
                { label: "50/project", value: "50" },
              ]}
            />
            <div class="flex items-center justify-between">
              <Text tag="p" variant="textSM" class="text-zinc-600 dark:text-zinc-400"
                >Max Templates</Text
              >
              <Text tag="p" variant="textSM">
                <span class="font-medium text-zinc-900 dark:text-white">5</span>
                <span class="text-zinc-600 dark:text-zinc-400">(10,000 words each)</span>
              </Text>
            </div>
            <div class="flex items-center justify-between">
              <Text tag="p" variant="textSM" class="text-zinc-600 dark:text-zinc-400"
                >Price per 1,000 words</Text
              >
              <Text tag="p" variant="textSM">
                <span class="font-medium text-zinc-900 dark:text-white">$2</span>
                <span class="text-zinc-600 dark:text-zinc-400">(after credits)</span>
              </Text>
            </div>
          </div>
          <Text
            tag="p"
            variant="textBase"
            class="pt-8 mt-8 text-sm border-t border-zinc-200 dark:border-zinc-700 text-zinc-600 dark:text-zinc-400"
          >
            All plans include our basic AI model trained on general copywriting
            principles. Upgrade for access to industry-specific models.
          </Text>
        </div>
        <div class="flex items-center pt-4 mt-4 border-t gap-2 border-zinc-200 dark:border-zinc-700">
          <CircleCheck size="sm" class="text-zinc-500" />
          <Text tag="p" variant="textSM" class="font-medium text-zinc-600 dark:text-zinc-300">
            Refunds are available for all paid plans.
          </Text>
        </div>
      </div>
      <div
        class="bg-linear-180 outline outline-blue-100 dark:outline-blue-800 shadow from-blue-50 to-blue-100 dark:from-blue-800 dark:to-blue-900 rounded-xl p-8 lg:p-12"
      >
        <div>
          <div class="flex flex-col">
            <Text
              tag="h3"
              variant="displaySM"
              class="font-semibold tracking-tight text-zinc-900 dark:text-white"
            >
              Pro
            </Text>
            <div class="flex items-center gap-2 mt-8">
              <Text
                tag="p"
                variant="displayMD"
                class="font-medium text-zinc-900 dark:text-white"
              >
                <span
                  data-monthly="$59"
                  data-annual="$45"
                  x-text="$el.dataset[duration]"></span>
              </Text>
              <div class="text-xs font-medium text-zinc-600 dark:text-zinc-300">
                <div class="font-medium">
                  <span class="capitalize" x-show="duration==='monthly'"
                    >month</span
                  >
                  <span
                    class="capitalize"
                    x-show="duration==='annual'"
                    style="display: none">annually</span
                  >
                </div>
                <p>USD + Local taxes</p>
              </div>
            </div>
          </div>
          <Text tag="p" variant="textSM" class="mt-2 text-zinc-600 dark:text-zinc-300">
            Advanced AI tools for professional writers &amp; content teams.
          </Text>
        </div>
        <div class="mt-4">
          <Button size="base" variant="default" class="w-full"
            >Start free trial</Button
          >
        </div>
        <div class="flex flex-col py-8 mt-8 border-t border-zinc-200 dark:border-white/10 gap-4">
          <div class="flex flex-col items-start sm:flex-row gap-4">
            <div
              class="p-2 rounded-lg bg-white dark:bg-zinc-800 outline outline-zinc-100 text-blue-500 dark:text-white  dark:outline-zinc-800"
            >
              <Refresh size="sm" />
            </div>
            <Text tag="h3" variant="textBase" class="font-medium text-zinc-900 dark:text-white">
              Unlimited Generation
              <span aria-hidden="true">—</span>
              <span class="font-normal text-zinc-600 dark:text-zinc-300">
                Create long-form content without token limits.
              </span>
            </Text>
          </div>
          <div class="flex flex-col items-start sm:flex-row gap-4">
            <div
              class="p-2 rounded-lg bg-white dark:bg-zinc-800 outline outline-zinc-100 text-blue-500 dark:text-white  dark:outline-zinc-800"
            >
              <Edit size="sm" />
            </div>
            <Text tag="h3" variant="textBase" class="font-medium text-zinc-900 dark:text-white">
              AI Editor+
              <span aria-hidden="true">—</span>
              <span class="font-normal text-zinc-600 dark:text-zinc-200">
                Access tone shifting, rephrasing, and advanced style
                suggestions.
              </span>
            </Text>
          </div>
          <div class="flex flex-col items-start sm:flex-row gap-4">
            <div
              class="p-2 rounded-lg bg-white dark:bg-zinc-800 outline outline-zinc-100 text-blue-500 dark:text-white  dark:outline-zinc-800"
            >
              <Bulb size="sm" />
            </div>
            <Text tag="h3" variant="textBase" class="font-medium text-zinc-900 dark:text-white">
              Smart Templates
              <span aria-hidden="true">—</span>
              <span class="font-normal text-zinc-600 dark:text-zinc-200">
                Industry-specific prompts for ads, landing pages, and more.
              </span>
            </Text>
          </div>
          <div class="flex flex-col items-start sm:flex-row gap-4">
            <div
              class="p-2 rounded-lg bg-white dark:bg-zinc-800 outline outline-zinc-100 text-blue-500 dark:text-white  dark:outline-zinc-800"
            >
              <ApiApp size="sm" />
            </div>
            <Text tag="h3" variant="textBase" class="font-medium text-zinc-900 dark:text-white">
              API Access
              <span aria-hidden="true">—</span>
              <span class="font-normal text-zinc-600 dark:text-zinc-200">
                Integrate your AI flows directly with your app or CMS.
              </span>
            </Text>
          </div>
        </div>
        <div class="pt-4 border-t border-zinc-200 dark:border-white/10">
          <Text tag="h3" variant="textBase" class="font-medium text-zinc-900 dark:text-white">
            Word Credits
          </Text>
          <div class="mt-4 space-y-4">
            <Select
              id="pro-credits"
              name="pro-credits"
              label="Pro Credits per project"
              value="50"
              variant="default"
              size="base"
              class="w-full"
              options={[
                { label: "50/project", value: "50" },
                { label: "100/project", value: "100" },
                { label: "200/project", value: "200" },
              ]}
            />
            <Select
              id="pro-projects"
              name="pro-projects"
              label="Projects"
              value="20"
              variant="default"
              size="base"
               class="w-full"
              options={[
                { label: "10", value: "10" },
                { label: "20", value: "20" },
                { label: "50", value: "50" },
              ]}
            />
            <div class="flex items-center justify-between">
              <Text tag="p" variant="textSM" class="text-zinc-500 dark:text-zinc-300"
                >Max Templates</Text
              >
              <Text tag="p" variant="textSM">
                <span class="font-medium text-zinc-900 dark:text-white">25</span>
                <span class="text-zinc-500 dark:text-zinc-300">(25,000 words each)</span>
              </Text>
            </div>
            <div class="flex items-center justify-between">
              <Text tag="p" variant="textSM" class="text-zinc-500 dark:text-zinc-300"
                >Price per 1,000 words</Text
              >
              <Text tag="p" variant="textSM">
                <span class="font-medium text-zinc-900 dark:text-white">$1</span>
                <span class="text-zinc-500 dark:text-zinc-300">(after credits)</span>
              </Text>
            </div>
          </div>
          <Text
            tag="p"
            variant="textBase"
            class="pt-8 mt-8 text-sm border-t border-zinc-200 dark:border-white/10 text-zinc-500 dark:text-zinc-300"
          >
            Pro plans include access to our advanced AI models, fine-tuned for
            marketing, legal, tech, and more.
          </Text>
        </div>
        <div class="flex items-center pt-4 mt-4 border-t gap-2 border-zinc-200 dark:border-white/10">
          <CircleCheck size="sm" class="text-zinc-500" />
          <Text tag="p" variant="textSM" class="font-medium text-zinc-600 dark:text-zinc-300">
            Refunds are available for all paid plans.
          </Text>
        </div>
      </div>
    </div>
    <div class="mt-8 overflow-hidden overflow-x-auto">
      <table class="min-w-[640px] w-full table-auto border-collapse text-sm">
        <thead>
          <tr>
            <th class="sr-only">Feature</th>
            <th
              class="py-3 text-base font-semibold text-center text-zinc-900 dark:text-white dark:text-white"
            >
              Core
            </th>
            <th
              class="py-3 font-semibold text-center text-Base text-zinc-900 dark:text-white dark:text-white"
            >
              Pro
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th
              class="py-4 pl-4 text-sm font-medium text-left border-t text-zinc-900 dark:border-zinc-700 dark:text-white dark:text-white border-zinc-200 dark:border-zinc-800"
            >
              <div class="flex items-center gap-2">
                <Analytics size="sm" />
                Analytics
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-zinc-800 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-zinc-700"
              >3</td
            >
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-blue-900 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-blue-900"
              >10</td
            >
          </tr>
          <tr>
            <th
              class="py-4 pl-4 text-sm font-medium text-left border-t text-zinc-900 dark:border-zinc-700 dark:text-white dark:text-white border-zinc-200 dark:border-zinc-800"
            >
              <div class="flex items-center gap-2">
                <UsersGroup size="sm" />
                Accounts
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-zinc-800 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-zinc-700"
              >5</td
            >
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-blue-900 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-blue-900"
              >10</td
            >
          </tr>
          <tr>
            <th
              class="py-4 pl-4 text-sm font-medium text-left border-t text-zinc-900 dark:border-zinc-700 dark:text-white dark:text-white border-zinc-200 dark:border-zinc-800"
            >
              <div class="flex items-center gap-2">
                <Plug size="sm" />
                Integrations
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-zinc-800 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-zinc-700"
              >2</td
            >
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-blue-900 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-blue-900"
              >YES</td
            >
          </tr>
          <tr>
            <th
              class="py-4 pl-4 text-sm font-medium text-left border-t text-zinc-900 dark:border-zinc-700 dark:text-white dark:text-white border-zinc-200 dark:border-zinc-800"
            >
              <div class="flex items-center gap-2">
                <Program size="sm" />
                Programs
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-zinc-800 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-zinc-700"
              >NO</td
            >
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-blue-900 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-blue-900"
              >1</td
            >
          </tr>
          <tr>
            <th
              class="py-4 pl-4 text-sm font-medium text-left border-t text-zinc-900 dark:border-zinc-700 dark:text-white dark:text-white border-zinc-200 dark:border-zinc-800"
            >
              <div class="flex items-center gap-2">
                <Brain size="sm" />
                Deployments
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-zinc-800 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-zinc-700"
              >NO</td
            >
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-blue-900 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-blue-900"
              >YES</td
            >
          </tr>
          <tr>
            <th
              class="py-4 pl-4 text-sm font-medium text-left border-t text-zinc-900 dark:border-zinc-700 dark:text-white dark:text-white border-zinc-200 dark:border-zinc-800"
            >
              <div class="flex items-center gap-2">
                <Code size="sm" />
                Advanced Checkpoints
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-zinc-800 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-zinc-700"
              >NO</td
            >
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-blue-900 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-blue-900"
              >YES</td
            >
          </tr>
          <tr>
            <th
              class="py-4 pl-4 text-sm font-medium text-left border-t text-zinc-900 dark:border-zinc-700 dark:text-white dark:text-white border-zinc-200 dark:border-zinc-800"
            >
              <div class="flex items-center gap-2">
                <Tools size="sm" />
                Reporting tools
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-zinc-800 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-zinc-700"
              >NO</td
            >
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-blue-900 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-blue-900"
              >YES</td
            >
          </tr>
          <tr>
            <th
              class="py-4 pl-4 text-sm font-medium text-left border-t text-zinc-900 dark:border-zinc-700 dark:text-white dark:text-white border-zinc-200 dark:border-zinc-800"
            >
              <div class="flex items-center gap-2">
                <Lifebuoy size="sm" />
                Support
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-zinc-800 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-zinc-700"
              >Discord community</td
            >
            <td
              class="px-2 text-xs font-medium text-center bg-white dark:bg-blue-900 border-t text-zinc-900 dark:text-white border-zinc-200 dark:border-blue-900"
              >Live chat</td
            >
          </tr>
          <tr class="align-top">
            <th class="border-t border-zinc-200 dark:border-zinc-700"></th>
            <th
              class="w-1/4 px-2 py-4 border-t border-zinc-200 dark:border-zinc-700"
            >
              <Button class="w-full" variant="muted" size="sm">
                Start free trial
              </Button>
            </th>
            <th class="w-1/4 px-2 py-4 border-t border-zinc-200 dark:border-zinc-700">
              <Button class="w-full" variant="muted" size="sm"> Start free trial </Button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
