<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-screen-xl relative">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 md:items-end">
      <div>
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
          >Tagline</span
        >
        <p
          class="text-4xl mt-4 font-semibold tracking-tight text-zinc-900 lg:text-balance">
          Equip your business
          <br />
          <span>with world class software </span>
        </p>
      </div>
      <fieldset
        aria-label="#_"
        class="mt-8 max-w-xs md:ml-auto w-full">
        <div
          class="grid grid-cols-2 gap-x-1 rounded-lg p-1 h-10 text-center text-xs font-semibold leading-5 ring-1 ring-inset ring-gray-200">
          <!--
              When the checkbox is selected, apply "bg-gray-50" for the background. If the checkbox is not selected, use "bg-white" for the background.
              -->
          <label
            class="cursor-pointer rounded px-2.5 py-1 bg-gray-50 text-zinc-900">
            <input
              type="radio"
              name="month"
              value="month"
              class="sr-only"
            />
            <span>Monthly</span>
          </label>
          <!--
              When the checkbox is selected, apply "bg-gray-50" for the background. If the checkbox is not selected, use "bg-white" for the background.
              -->
          <label class="cursor-pointer rounded px-2.5 py-1 text-zinc-900">
            <input
              type="radio"
              name="annual"
              value="annual"
              class="sr-only"
            />
            <span>Annually</span>
          </label>
        </div>
      </fieldset>
    </div>
    <div
      class="xl:-mx-20 lg:bg-zinc-50 lg:p-8 mt-12 lg:rounded-3xl lg:overflow-hidden">
      <div
        class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:mx-auto xl:grid-cols-4">
        <!--- Tier 1 -->
        <section class="flex flex-col h-full justify-between">
          <div>
            <div class="flex flex-col gap-2 p-8">
              <div class="flex flex-col gap-2">
                <p
                  class="text-xl font-medium uppercase font-mono tracking-tighter text-zinc-900 mt-8">
                  Basic
                </p>
                <p
                  class="font-semibold order-first flex items-baseline text-4xl tracking-tighter font-mono text-zinc-900">
                                     <!--
                Display the price, which should be updated according to the state of the frequency toggle
                -->
                  <span>$19</span>
                  <!--
                Display the payment frequency, which should also be updated based on the frequency toggle
                -->
                  <span class="text-sm">/month</span>
                </p>
              </div>
              <p class="text-sm text-zinc-700 mt-4">
                This subscription tier caters to individuals and hobbyists
                seeking fundamental features.
              </p>
            </div>
            <ul
              class="flex flex-col px-8 mt-8 text-sm text-zinc-700 gap-y-3"
              role="list">
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Unlimited members</span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>2 teams </span>
              </li>
              <li class="flex flex-row items-center gap-2 opacity-70">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-x text-blue-500 size-4"
                  ><path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path><path d="M18 6l-12 12"></path><path d="M6 6l12 12"
                  ></path></svg
                >
                <span>50 issues (+unlimited)</span>
              </li>
              <li class="flex flex-row items-center gap-2 opacity-70">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-x text-blue-500 size-4"
                  ><path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path><path d="M18 6l-12 12"></path><path d="M6 6l12 12"
                  ></path></svg
                >
                <span>Slack, GitHub, and API access</span>
              </li>
            </ul>
          </div>
          <div class="w-full mt-8">
            <a
              aria-describedby="#_"
              class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-medium text-zinc-500 transition-all bg-white border border-zinc-300 rounded-lg hover:text-zinc-700 focus:ring-2 shadow shadow-zinc-500/5 focus:ring-zinc-900 focus:ring-offset-2 ring-offset-zinc-200 duration-300 hover:border-zinc-200 hover:shadow-none w-full"
              href="#_"
              >Get started</a
            >
          </div>
        </section>
        <!--- Tier 2 -->
        <section class="flex flex-col h-full justify-between">
          <div>
            <div class="p-8 rounded-3xl bg-zinc-50 lg:bg-white shadow">
              <div class="flex flex-col gap-2">
                <div class="flex flex-col gap-2">
                  <p
                    class="text-xl font-medium uppercase font-mono tracking-tighter text-zinc-900 mt-8">
                    Standard
                  </p>
                  <p
                    class="font-semibold order-first flex items-baseline text-4xl tracking-tighter font-mono text-zinc-900">
                                        <!--
                Display the price, which should be updated according to the state of the frequency toggle
                -->
                  <span>$29</span>
                  <!--
                Display the payment frequency, which should also be updated based on the frequency toggle
                -->
                  <span class="text-sm">/month</span>
                  </p>
                </div>
                <p class="text-sm text-zinc-700 mt-4">
                  For small businesses or startups, this subscription tier is
                  crafted to meet your requirements.
                </p>
              </div>
            </div>
            <ul
              class="flex flex-col px-8 mt-8 text-sm text-zinc-700 gap-y-3"
              role="list">
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>All basic plan features</span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>5 teams </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Unlimited issues and files </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Admin roles</span>
              </li>
            </ul>
          </div>
          <div class="w-full mt-8">
            <a
              aria-describedby="#_"
              class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-medium text-zinc-500 transition-all bg-white border border-zinc-300 rounded-lg hover:text-zinc-700 focus:ring-2 shadow shadow-zinc-500/5 focus:ring-zinc-900 focus:ring-offset-2 ring-offset-zinc-200 duration-300 hover:border-zinc-200 hover:shadow-none w-full"
              href="#_"
              >Get started</a
            >
          </div>
        </section>
        <!--- Tier 3 -->
        <section class="flex h-full justify-between flex-col">
          <div>
            <div
              class="p-8 rounded-3xl bg-gradient-to-b from-blue-500 to-indigo-600 shadow shadow-blue-500">
              <div class="flex flex-col gap-2">
                <div class="flex flex-col gap-2">
                  <p
                    class="text-xl font-medium uppercase font-mono tracking-tighter text-white mt-8">
                    Premium
                  </p>
                  <p
                    class="font-semibold flex items-baseline order-first text-4xl tracking-tighter font-mono text-white">
                                        <!--
                Display the price, which should be updated according to the state of the frequency toggle
                -->
                  <span>$39</span>
                  <!--
                Display the payment frequency, which should also be updated based on the frequency toggle
                -->
                  <span class="text-sm">/month</span>
                  </p>
                </div>
                <p class="text-sm text-white mt-4">
                  Designed with medium-sized businesses in mind, this
                  subscription tier provides tools.
                </p>
              </div>
            </div>
            <ul
              class="flex flex-col px-8 mt-8 text-sm text-zinc-700 gap-y-3"
              role="list">
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>All standard plan features</span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Unlimited teams </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Private teams and guest </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Insights</span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Integrations </span>
              </li>
            </ul>
          </div>
          <div class="w-full mt-8">
            <a
              aria-describedby="#_"
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-medium text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:shadow-none w-full"
              href="#_"
              >Get started</a
            >
          </div>
        </section>
        <!--- Tier 4 -->
        <section class="flex h-full justify-between flex-col">
          <div>
            <div class="p-8 rounded-3xl bg-blue-950 shadow">
              <div class="flex flex-col gap-2">
                <div class="flex flex-col gap-2">
                  <p
                    class="text-xl font-medium uppercase font-mono tracking-tighter text-white mt-8">
                    Enterprise
                  </p>
                  <p
                    class="font-semibold order-first flex items-baseline text-4xl tracking-tighter font-mono text-white">
                                       <!--
                Display the price, which should be updated according to the state of the frequency toggle
                -->
                  <span>$49</span>
                  <!--
                Display the payment frequency, which should also be updated based on the frequency toggle
                -->
                  <span class="text-sm">/month</span>
                  </p>
                </div>
                <p class="text-sm text-zinc-200 mt-4">
                  This premium-tier subscription is tailored for large
                  enterprises and corporations.
                </p>
              </div>
            </div>
            <ul
              class="flex flex-col px-8 mt-8 text-sm text-zinc-700 gap-y-3"
              role="list">
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>All premium plan features</span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Issue SLAs </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>SAML and SCIM </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Advanced security controls</span>
              </li>
            </ul>
          </div>
          <div class="w-full mt-8">
            <a
              aria-describedby="#_"
              class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-medium text-white transition-all duration-200 bg-blue-950 border border-zinc-300 rounded-lg focus:ring-2 shadow hover:bg-blue-800 shadow-blue-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:shadow-none w-full"
              href="#_"
              >Get started</a
            >
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
