---
export const excludeFromObfuscation = [
  "w-1/2",
  "translate-x-0",
  "translate-x-full",
  "text-zinc-600",
  "focus:text-zinc-900",
  "hover:text-zinc-900",
];

export const description = "Pricing section with two  columns comparison table";

// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Badge from "@/components/fundations/badges/Badge.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
import CircleX from "@/components/fundations/icons/CircleX.astro";
import Analytics from "@/components/fundations/icons/Analytics.astro";
import UserPlus from "@/components/fundations/icons/UserPlus.astro";
import Lifebuoy from "@/components/fundations/icons/Lifebuoy.astro";
import Refresh from "@/components/fundations/icons/Refresh.astro";
import Brain from "@/components/fundations/icons/Brain.astro";
import ArrowIteration from "@/components/fundations/icons/ArrowIteration.astro";
import Code from "@/components/fundations/icons/Code.astro";
import Tools from "@/components/fundations/icons/Tools.astro";

// Components
import PricingToggle from "@/components/fundations/buttonGroups/PricingToggle.astro";
---

<section x-data="{ duration: 'monthly' }" class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32">
    <p class="text-center text-zinc-500 lg:hidden">
      Pricing table for desktop use
    </p>
    <!---- Use only from xl: -->
    <div class="hidden lg:block">
      <div
        class="flex flex-col max-w-sm text-center md:text-left"
      >
        <Text
          tag="h1"
          variant="displayMD"
          class="font-semibold tracking-tight text-zinc-900 text-balance dark:text-white"
        >
          Equip your business with great software
        </Text>
         <div
        aria-labelledby="pricing-toggle"
        class="relative z-0 inline-flex w-full p-1 mx-auto mt-8 ml-auto overflow-hidden bg-white shadow justify-right dark:bg-zinc-900 ring-1 ring-zinc-200 dark:ring-zinc-700 ring-offset-2 gap-4 lg:mx-0 rounded-md max-w-52 dark:ring-offset-black"
      >
        <div
          class="absolute inset-0 bg-zinc-50 dark:bg-zinc-800 rounded-md transition-transform duration-200 ease-in-out"
          :class="duration === 'monthly' ? 'w-1/2 translate-x-0' : 'w-1/2 translate-x-full'"
        >
        </div>
        <button
          class="relative z-10 flex items-center justify-center w-full h-6 px-2 text-xs font-medium focus:outline-none transition-colors duration-300"
          :class="duration === 'monthly' ? 'text-zinc-600 dark:text-zinc-300' : 'focus:text-zinc-900 hover:text-zinc-900 dark:focus:text-zinc-100 dark:hover:text-zinc-100 dark:text-zinc-300'"
          @click="duration = 'monthly'"
          type="button"
          :aria-pressed="duration === 'monthly'"
        >
          Monthly
        </button>
        <button
          class="relative z-10 flex items-center justify-center w-full h-6 px-2 text-xs font-medium focus:outline-none transition-colors duration-300"
          :class="duration === 'annual' ? 'text-zinc-600 dark:text-zinc-300' : 'focus:text-zinc-900 hover:text-zinc-900 dark:focus:text-zinc-100 dark:hover:text-zinc-100 dark:text-zinc-300'"
          @click="duration = 'annual'"
          type="button"
          :aria-pressed="duration === 'annual'"
        >
          Annual
        </button>
      </div>
      </div>
      <table class="w-full mt-8 text-center bg-transparent mx-autom">
        <thead>
          <tr class="align-top">
            <th class="w-1/3"></th>
            <th class="relative w-1/3 p-1 pr-0 font-normal text-left">
              <div
                aria-hidden="true"
                class="absolute inset-y-0 right-0 hidden w-full bg-zinc-50 dark:bg-zinc-900 rounded-tl-xl sm:block"
              >
              </div>
              <div class="relative p-6 sm:p-4 sm:pb-5 lg:p-6">
                <div class="flex items-start justify-between w-full">
                  <div>
                    <Text
                      tag="h3"
                      variant="textBase"
                      class="font-semibold text-zinc-900 dark:text-white"
                    >
                      Core
                    </Text>
                    <Text
                      tag="p"
                      variant="textSM"
                      class="mt-1 text-zinc-500 dark:text-zinc-400"
                    >
                      This subscription tier caters to individuals.
                    </Text>
                  </div>
                </div>
                <div class="mt-8">
                  <p
                    class="text-4xl font-medium sm:text-xl md:text-4xl text-zinc-900 dark:text-white"
                  >
                  </p>
                  <div class="flex items-center gap-x-4">
                    <p
                      class="text-4xl font-medium sm:text-xl md:text-4xl text-zinc-900 dark:text-white"
                    >
                      <span
                        data-monthly="$29"
                        data-annual="$19"
                        x-text="$el.dataset[duration]"></span>
                    </p>
                    <div
                      class="text-xs font-medium capitalize text-zinc-900 dark:text-white"
                    >
                      <span x-show="duration === 'monthly'">
                        <span x-show="duration === 'monthly'">
                          month</span
                        ></span
                      >
                      <span
                        x-show="duration === 'annual'"
                        style="display: none;"
                      >
                        annually</span
                      >
                      <Text
                        tag="p"
                        variant="textXS"
                        class="text-zinc-500 dark:text-zinc-400"
                        >USD + Local taxes</Text
                      >
                    </div>
                  </div>
                  <div class="mt-8">
                    <Button class="w-full" variant="default" size="sm">
                      Get Started
                    </Button>
                  </div>
                </div>
              </div>
            </th>
            <th class="relative w-1/3 p-1 pl-0 font-normal text-left">
              <div
                aria-hidden="true"
                class="absolute inset-y-0 right-0 hidden w-full bg-blue-50 dark:bg-blue-900 rounded-tr-xl sm:block"
              >
              </div>
              <div class="relative p-6 sm:p-4 sm:pb-5 lg:p-6">
                <div class="flex items-start justify-between w-full">
                  <div>
                    <Text
                      tag="h3"
                      variant="textBase"
                      class="font-semibold text-zinc-900 dark:text-white"
                    >
                      Momentum
                    </Text>
                    <Text tag="p" variant="textSM" class="mt-1 text-zinc-500 dark:text-zinc-400">
                      Designed for businesses.
                    </Text>
                  </div>
                  <Badge variant="muted" size="xs"> Popular </Badge>
                </div>
                <div class="mt-8">
                  <div class="flex items-center gap-x-4">
                    <p
                      class="text-4xl font-medium text-zinc-900 dark:text-white sm:text-xl md:text-4xl"
                    >
                      <span
                        data-monthly="$49"
                        data-annual="$39"
                        x-text="$el.dataset[duration]"></span>
                    </p>
                    <div class="text-xs font-medium capitalize text-zinc-900 dark:text-white">
                      <span x-show="duration === 'monthly'">
                        <span x-show="duration === 'monthly'">
                          month</span
                        ></span
                      >
                      <span
                        x-show="duration === 'annual'"
                        style="display: none;"
                      >
                        annually</span
                      >
                      <Text tag="p" variant="textXS" class="text-zinc-500 dark:text-zinc-400"
                        >USD + Local taxes</Text
                      >
                    </div>
                  </div>
                  <div class="mt-8">
                    <Button class="w-full" variant="default" size="sm">
                      Get Started
                    </Button>
                  </div>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-800 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <Analytics size="sm" />
                Analytics
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t bg-zinc-50 border-zinc-200 dark:border-zinc-800 dark:bg-zinc-900 dark:text-white"
              >3</td
            >
            <td
              class="px-2 text-xs font-medium border-t border-blue-100 text-zinc-900 dark:text-white bg-blue-50 dark:border-blue-900 dark:bg-blue-900"
              >10</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-800 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <UserPlus size="sm" />Accounts
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t bg-zinc-50 border-zinc-200 dark:border-zinc-800 dark:bg-zinc-900 dark:text-white"
              >5</td
            >
            <td
              class="px-2 text-xs font-medium border-t border-blue-100 text-zinc-900 dark:text-white bg-blue-50 dark:border-blue-900 dark:bg-blue-900"
              >10</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-800 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <ArrowIteration size="sm" />Integrations
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t bg-zinc-50 border-zinc-200 dark:border-zinc-800 dark:bg-zinc-900 dark:text-white"
              >2</td
            >
            <td class="px-2 border-t border-blue-100 text-zinc-900 dark:text-white bg-blue-50 dark:border-blue-900 dark:bg-blue-900">
              <CircleCheck size="sm" class="mx-auto" />
            </td>
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-800 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <Brain size="sm" />Programs
              </div>
            </th>
            <td
              class="px-2 border-t bg-zinc-50 border-zinc-200 dark:border-zinc-800 dark:bg-zinc-900 dark:text-white"
            >
              <CircleX size="sm" class="mx-auto" />
            </td>
            <td
              class="px-2 text-xs font-medium border-t border-blue-100 text-zinc-900 dark:text-white bg-blue-50 dark:border-blue-900 dark:bg-blue-900"
              >1</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-800 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <Refresh size="sm" />Deployments
              </div>
            </th>
            <td
              class="px-2 border-t bg-zinc-50 border-zinc-200 dark:border-zinc-800 dark:bg-zinc-900 dark:text-white"
            >
              <CircleX size="sm" class="mx-auto" />
            </td>
            <td class="px-2 border-t border-blue-100 text-zinc-900 dark:text-white bg-blue-50 dark:border-blue-900 dark:bg-blue-900">
              <CircleCheck size="sm" class="mx-auto" />
            </td>
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-800 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <Code size="sm" />Advanced Checkpoints
              </div>
            </th>
            <td
              class="px-2 border-t bg-zinc-50 border-zinc-200 dark:border-zinc-800 dark:bg-zinc-900 dark:text-white"
            >
              <CircleX size="sm" class="mx-auto" />
            </td>
            <td class="px-2 border-t border-blue-100 text-zinc-900 dark:text-white bg-blue-50 dark:border-blue-900 dark:bg-blue-900">
              <CircleCheck size="sm" class="mx-auto" />
            </td>
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-800 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <Tools size="sm" />Reporting tools
              </div>
            </th>
            <td
              class="px-2 border-t bg-zinc-50 border-zinc-200 dark:border-zinc-800 dark:bg-zinc-900 dark:text-white"
            >
              <CircleX size="sm" class="mx-auto" />
            </td>
            <td class="px-2 border-t border-blue-100 text-zinc-900 dark:text-white bg-blue-50 dark:border-blue-900 dark:bg-blue-900">
              <CircleCheck size="sm" class="mx-auto" />
            </td>
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-800 dark:text-white"
              ><div class="flex items-center gap-2">
                <Lifebuoy size="sm" />Support
              </div></th
            >
            <td
              class="px-2 text-xs font-medium border-t bg-zinc-50 border-zinc-200 dark:border-zinc-800 dark:bg-zinc-900 dark:text-white"
              >Discord community</td
            >
            <td
              class="px-2 text-xs font-medium border-t border-blue-100 text-zinc-900 dark:text-white bg-blue-50 dark:border-blue-900 dark:bg-blue-900"
              >Live chat</td
            >
          </tr>
          <tr class="align-top">
            <th class="border-t border-zinc-200 dark:border-zinc-800"></th>
            <th
              class="w-1/4 px-2 py-6 border-t bg-zinc-50 border-zinc-200 dark:border-zinc-800 dark:bg-zinc-900 rounded-bl-xl"
            >
            </th>
            <th
              class="w-1/4 px-2 py-6 border-t rounded-br-xl bg-zinc-50 border-zinc-200 dark:border-zinc-800 dark:bg-zinc-900"
            >
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
