---
export const excludeFromObfuscation = [
  "w-1/2",
  "translate-x-0",
  "translate-x-full",
  "text-zinc-900",
  "focus:text dark:border-zinc-900 dark:text-white-zinc-900",
  "hover:text-zinc-900",
];

export const description =
  "Pricing section with three cards on feature comparison table";

// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Check from "@/components/fundations/icons/Check.astro";
// Components
import PricingToggle from "@/components/fundations/buttonGroups/PricingToggle.astro";
---

<section x-data="{ duration: 'monthly' }" class="bg-white dark:bg-black">
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <p class="text-center text-zinc-500 lg:hidden">
      Pricing table for desktop use
    </p>
    <!---- Use only from xl: -->
    <div class="hidden lg:block">
      <div
        class="text-center md:text-left grid grid-cols-1 gap-12 md:grid-cols-2 md:items-end"
      >
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight text-zinc-900 text-balance dark:text-white"
        >
          Equip your business with world class software
        </Text>
        <div
          aria-labelledby="pricing-toggle"
          class="relative z-0 inline-flex justify-center w-full p-1 overflow-hidden bg-white dark:bg-zinc-900 shadow ring-1 ring-zinc-200 dark:ring-zinc-700 ring-offset-2 gap-4 rounded-md max-w-52 dark:ring-offset-black lg:ml-auto"
        >
          <div
            class="absolute inset-0 bg-zinc-50 dark:bg-zinc-800 rounded-md transition-transform duration-200 ease-in-out"
            :class="duration === 'monthly' ? 'w-1/2 translate-x-0' : 'w-1/2 translate-x-full'"
          >
          </div>
          <button
            class="relative z-10 flex items-center justify-center w-full h-6 px-2 text-xs font-medium focus:outline-none transition-colors duration-300"
            :class="duration === 'monthly' ? 'text-zinc-600 dark:text-zinc-300' : 'focus:text-zinc-900 hover:text-zinc-900 dark:focus:text-zinc-100 dark:hover:text-zinc-100 dark:text-zinc-300'"
            @click="duration = 'monthly'"
            type="button"
            :aria-pressed="duration === 'monthly'"
          >
            Monthly
          </button>
          <button
            class="relative z-10 flex items-center justify-center w-full h-6 px-2 text-xs font-medium focus:outline-none transition-colors duration-300"
            :class="duration === 'annual' ? 'text-zinc-600 dark:text-zinc-300' : 'focus:text-zinc-900 hover:text-zinc-900 dark:focus:text-zinc-100 dark:hover:text-zinc-100 dark:text-zinc-300'"
            @click="duration = 'annual'"
            type="button"
            :aria-pressed="duration === 'annual'"
          >
            Annual
          </button>
        </div>
      </div>
      <table class="w-full mx-auto mt-8 text-center bg-transparent">
        <thead>
          <tr class="align-top">
            <th class="w-1/4"> </th>
            <th class="relative w-1/4 p-1 pr-0 font-normal text-left">
              <div
                aria-hidden="true"
                class="absolute inset-y-0 right-0 hidden w-full"
              >
              </div>
              <div class="relative pb-4 pr-2">
                <div class="flex items-start justify-between w-full">
                  <div>
                    <Text
                      tag="h3"
                      variant="textBase"
                      class="font-medium text-zinc-900 dark:text-zinc-100"
                    >
                      Core
                    </Text>
                    <Text
                      tag="p"
                      variant="textSM"
                      class="mt-1 text-zinc-500 dark:text-zinc-400"
                    >
                      For individuals
                    </Text>
                  </div>
                </div>
                <div class="mt-8">
                  <p
                    class="text-4xl font-medium sm:text-xl md:text-4xl text-zinc-900 dark:text-zinc-100"
                  >
                  </p>
                  <div class="flex items-center gap-x-4">
                    <p
                      class="text-4xl font-medium sm:text-xl md:text-4xl text-zinc-900 dark:text-zinc-100"
                    >
                      <span
                        data-monthly="$29"
                        data-annual="$19"
                        x-text="$el.dataset[duration]"></span>
                    </p>
                    <div
                      class="text-xs font-medium capitalize text-zinc-900 dark:text-zinc-100"
                    >
                      <span x-show="duration === 'monthly'">
                        <span x-show="duration === 'monthly'">
                          month</span
                        ></span
                      >
                      <span
                        x-show="duration === 'annual'"
                        style="display: none;"
                      >
                        annually</span
                      >
                      <Text
                        tag="p"
                        variant="textSM"
                        class="text-zinc-500 dark:text-zinc-400"
                        >USD + Local taxes</Text
                      >
                    </div>
                  </div>
                  <div class="mt-8">
                    <Button class="w-full" variant="alternative" size="sm">
                      Get Started
                    </Button>
                  </div>
                </div>
              </div>
            </th>
            <th class="relative w-1/4 p-1 px-0 font-normal text-left">
              <div
                aria-hidden="true"
                class="absolute inset-y-0 right-0 hidden w-full sm:block"
              >
              </div>
              <div class="relative px-2 pb-4">
                <div>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-medium text-zinc-900 dark:text-zinc-100"
                  >
                    Momentum
                  </Text>
                  <Text
                    tag="p"
                    variant="textSM"
                    class="mt-1 text-zinc-500 dark:text-zinc-400"
                  >
                    For small businesses
                  </Text>
                </div>
                <div class="mt-8">
                  <div class="flex items-center gap-x-4">
                    <p
                      class="text-4xl font-medium text-zinc-900 dark:text-zinc-100 sm:text-xl md:text-4xl"
                    >
                      <span
                        data-monthly="$49"
                        data-annual="$39"
                        x-text="$el.dataset[duration]"></span>
                    </p>
                    <div
                      class="text-xs font-medium capitalize text-zinc-900 dark:text-zinc-100"
                    >
                      <span x-show="duration === 'monthly'">
                        <span x-show="duration === 'monthly'">
                          month</span
                        ></span
                      >
                      <span
                        x-show="duration === 'annual'"
                        style="display: none;"
                      >
                        annually</span
                      >
                      <Text
                        tag="p"
                        variant="textSM"
                        class="text-zinc-500 dark:text-zinc-400"
                        >USD + Local taxes</Text
                      >
                    </div>
                  </div>
                  <div class="mt-8">
                    <Button class="w-full" variant="accent" size="sm">
                      Get Started
                    </Button>
                  </div>
                </div>
              </div>
            </th>
            <th class="relative w-1/4 p-1 pl-0 font-normal text-left">
              <div
                aria-hidden="true"
                class="absolute inset-y-0 right-0 hidden w-full rounded-tr-xl sm:block"
              >
              </div>
              <div class="relative pb-4 pl-2">
                <div class="flex items-start justify-between w-full">
                  <div>
                    <Text
                      tag="h3"
                      variant="textBase"
                      class="font-medium text-zinc-900 dark:text-zinc-100"
                    >
                      Growth
                    </Text>
                    <Text
                      tag="p"
                      variant="textSM"
                      class="mt-1 text-zinc-500 dark:text-zinc-400"
                    >
                      For big companies
                    </Text>
                  </div>
                </div>
                <div class="mt-8">
                  <p
                    class="text-4xl font-medium sm:text-xl md:text-4xl text-zinc-900 dark:text-zinc-100"
                  >
                  </p>
                  <div class="flex items-center gap-x-4">
                    <p
                      class="text-4xl font-medium sm:text-xl md:text-4xl text-zinc-900 dark:text-zinc-100"
                    >
                      <span
                        data-monthly="$99"
                        data-annual="$129"
                        x-text="$el.dataset[duration]"></span>
                    </p>
                    <div
                      class="text-xs font-medium capitalize text-zinc-900 dark:text-zinc-100"
                    >
                      <span x-show="duration === 'monthly'">
                        <span x-show="duration === 'monthly'">
                          month</span
                        ></span
                      >
                      <span
                        x-show="duration === 'annual'"
                        style="display: none;"
                      >
                        annually</span
                      >
                      <Text
                        tag="p"
                        variant="textSM"
                        class="text-zinc-500 dark:text-zinc-400"
                        >USD + Local taxes</Text
                      >
                    </div>
                  </div>
                  <div class="mt-8">
                    <Button class="w-full" variant="alternative" size="sm">
                      Get Started
                    </Button>
                  </div>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="overflow-hidden">
            <th
              scope="colgroup"
              colspan="4"
              class="py-4 text-base font-medium text-left leading-6 text-zinc-900 border-y border-zinc-200 dark:border-zinc-900 dark:text-white"
            >
              Usage
            </th>
          </tr>

          <tr>
            <th
              class="py-3 text-sm font-medium text-left text-zinc-500 dark:text-zinc-300"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />
                Analytics
              </div>
            </th>
            <td class="px-2 text-xs font-medium text-zinc-900 dark:text-white"
              >3</td
            >
            <td
              class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
              >10</td
            >
            <td class="px-2 text-xs font-medium text-zinc-900 dark:text-white"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Accounts
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
              >5</td
            >
            <td
              class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
              >10</td
            >
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Integrations
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
              >2</td
            >
            <td
              class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
            >
              YES
            </td>
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Programs
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
            >
              NO
            </td>
            <td
              class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
              >1</td
            >
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Deployments
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
            >
              NO
            </td>
            <td
              class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
            >
              YES
            </td>
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Advanced Checkpoints
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
            >
              NO
            </td>
            <td
              class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
            >
              YES
            </td>
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Reporting tools
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
            >
              NO
            </td>
            <td
              class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
            >
              YES
            </td>
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
              ><div class="flex items-center gap-2">
                <Check size="sm" />Support
              </div></th
            >
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
              >Discord community</td
            >
            <td
              class="px-2 text-xs font-medium text-white bg-blue-600 border-y border-blue-700"
              >Live chat</td
            >
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
              >Unlimited</td
            >
          </tr>

          <tr class="overflow-hidden">
            <th
              scope="colgroup"
              colspan="4"
              class="py-4 text-base font-medium text-left leading-6 text-zinc-900 border-y border-zinc-200 dark:border-zinc-900 dark:text-white"
            >
              Features
            </th>
          </tr>

          <tr>
            <th
              class="py-3 text-sm font-medium text-left text-zinc-500 dark:text-zinc-300"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />
                Service agreement
              </div>
            </th>
            <td class="px-2 text-xs font-medium text-zinc-900 dark:text-white"
              >No</td
            >
            <td
              class="px-2 text-xs font-medium text-white bg-blue-600 border-y border-blue-700"
              >No</td
            >
            <td class="px-2 text-xs font-medium text-zinc-900 dark:text-white"
              >YES</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Dedicted Manager
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
              >No</td
            >
            <td
              class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
              >Yes</td
            >
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
              >Yes</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Onboarding sessions
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
              >No</td
            >
            <td
              class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
            >
              No
            </td>
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
              >Yes</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Dedicated support channel
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white rounded-bl-xl"
            >
              No
            </td>
            <td
              class="px-2 text-xs font-medium text-white border-t bg-blue-600 border-blue-700"
              >No</td
            >
            <td
              class="px-2 text-xs font-medium border-t text-zinc-900 border-zinc-200 dark:border-zinc-900 dark:text-white rounded-br-xl"
              >Yes</td
            >
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
