---
export const description =
  "Pricing section with three cards on feature comparison table";

// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Check from "@/components/fundations/icons/Check.astro";
// Components
import PricingToggle from "@/components/fundations/buttonGroups/PricingToggle.astro";
---

<section x-data="{duration: 'monthly'}" class="bg-base-50">
  <Wrapper variant="blockStandard" class="py-24">
    <p class="text-center text-base-500 lg:hidden">
      Pricing table for desktop use
    </p>
    <!---- Use only from xl: -->
    <div class="hidden lg:block">
      <div
        class="text-center md:text-left grid grid-cols-1 gap-12 md:grid-cols-2 md:items-end"
      >
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight text-base-900 text-balance"
        >
          Equip your business with world class software
        </Text>
        <div class="md:ml-auto">
          <div
            aria-labelledby="pricing-toggle"
            class="relative z-0 inline-flex justify-center w-full p-1 mx-auto mt-8 overflow-hidden bg-white shadow ring-1 ring-base-200 ring-offset-2 gap-4 lg:mx-0 rounded-md max-w-52"
          >
            <!-- Monthly Pricing Button: Sets 'duration' to 'monthly' when clicked -->
            <PricingToggle />
          </div>
        </div>
      </div>
      <table class="w-full mx-auto mt-8 text-center bg-transparent">
        <thead>
          <tr class="align-top">
            <th class="w-1/4"> </th>
            <th class="relative w-1/4 p-1 pr-0 font-normal text-left">
              <div
                aria-hidden="true"
                class="absolute inset-y-0 right-0 hidden w-full"
              >
              </div>
              <div class="relative pb-4 pr-2">
                <div class="flex items-start justify-between w-full">
                  <div>
                    <Text
                      tag="h3"
                      variant="textBase"
                      class="font-medium text-base-900"
                    >
                      Core
                    </Text>
                    <Text tag="p" variant="textSM" class="mt-1 text-base-500">
                      For individuals
                    </Text>
                  </div>
                </div>
                <div class="mt-8">
                  <p
                    class="text-4xl font-medium sm:text-xl md:text-4xl text-base-900"
                  >
                  </p>
                  <div class="flex items-center gap-x-4">
                    <p
                      class="text-4xl font-medium sm:text-xl md:text-4xl text-base-900"
                    >
                      <span
                        data-monthly="$29"
                        data-annual="$19"
                        x-text="$el.dataset[duration]"></span>
                    </p>
                    <div class="text-xs font-medium capitalize text-base-900">
                      <span x-show="duration === 'monthly'">
                        <span x-show="duration === 'monthly'">
                          month</span
                        ></span
                      >
                      <span
                        x-show="duration === 'annual'"
                        style="display: none;"
                      >
                        annually</span
                      >
                      <Text tag="p" variant="textSM" class="text-base-500"
                        >USD + Local taxes</Text
                      >
                    </div>
                  </div>
                  <div class="mt-8">
                    <Button class="w-full" variant="alternative" size="sm">
                      Get Started
                    </Button>
                  </div>
                </div>
              </div>
            </th>
            <th class="relative w-1/4 p-1 px-0 font-normal text-left">
              <div
                aria-hidden="true"
                class="absolute inset-y-0 right-0 hidden w-full sm:block"
              >
              </div>
              <div class="relative px-2 pb-4">
                <div>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-medium text-base-900"
                  >
                    Momentum
                  </Text>
                  <Text tag="p" variant="textSM" class="mt-1 text-base-500">
                    For small businesses
                  </Text>
                </div>
                <div class="mt-8">
                  <div class="flex items-center gap-x-4">
                    <p
                      class="text-4xl font-medium text-base-900 sm:text-xl md:text-4xl"
                    >
                      <span
                        data-monthly="$49"
                        data-annual="$39"
                        x-text="$el.dataset[duration]"></span>
                    </p>
                    <div class="text-xs font-medium capitalize text-base-900">
                      <span x-show="duration === 'monthly'">
                        <span x-show="duration === 'monthly'">
                          month</span
                        ></span
                      >
                      <span
                        x-show="duration === 'annual'"
                        style="display: none;"
                      >
                        annually</span
                      >
                      <Text tag="p" variant="textSM" class="text-base-500"
                        >USD + Local taxes</Text
                      >
                    </div>
                  </div>
                  <div class="mt-8">
                    <Button class="w-full" variant="default" size="sm">
                      Get Started
                    </Button>
                  </div>
                </div>
              </div>
            </th>
            <th class="relative w-1/4 p-1 pl-0 font-normal text-left">
              <div
                aria-hidden="true"
                class="absolute inset-y-0 right-0 hidden w-full rounded-tr-xl sm:block"
              >
              </div>
              <div class="relative pb-4 pl-2">
                <div class="flex items-start justify-between w-full">
                  <div>
                    <Text
                      tag="h3"
                      variant="textBase"
                      class="font-medium text-base-900"
                    >
                      Growth
                    </Text>
                    <Text tag="p" variant="textSM" class="mt-1 text-base-500">
                      For  big companies
                    </Text>
                  </div>
                </div>
                <div class="mt-8">
                  <p
                    class="text-4xl font-medium sm:text-xl md:text-4xl text-base-900"
                  >
                  </p>
                  <div class="flex items-center gap-x-4">
                    <p
                      class="text-4xl font-medium sm:text-xl md:text-4xl text-base-900"
                    >
                      <span
                        data-monthly="$99"
                        data-annual="$129"
                        x-text="$el.dataset[duration]"></span>
                    </p>
                    <div class="text-xs font-medium capitalize text-base-900">
                      <span x-show="duration === 'monthly'">
                        <span x-show="duration === 'monthly'">
                          month</span
                        ></span
                      >
                      <span
                        x-show="duration === 'annual'"
                        style="display: none;"
                      >
                        annually</span
                      >
                      <Text tag="p" variant="textSM" class="text-base-500"
                        >USD + Local taxes</Text
                      >
                    </div>
                  </div>
                  <div class="mt-8">
                    <Button class="w-full" variant="alternative" size="sm">
                      Get Started
                    </Button>
                  </div>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="overflow-hidden">
            <th
              scope="colgroup"
              colspan="4"
              class="py-4 text-base font-medium text-left leading-6 text-base-900 border-y border-base-200"
            >
              Usage
            </th>
          </tr>

          <tr>
            <th class="py-3 text-sm font-medium text-left text-base-600">
              <div class="flex items-center gap-2">
                <Check size="sm" />
                Analytics
              </div>
            </th>
            <td class="px-2 text-xs font-medium text-base-900">3</td>
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
              >10</td
            >
            <td class="px-2 text-xs font-medium text-base-900">Unlimited</td>
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-base-600 border-base-200"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Accounts
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
              >5</td
            >
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
              >10</td
            >
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-base-600 border-base-200"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Integrations
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
              >2</td
            >
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
            >
              YES
            </td>
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-base-600 border-base-200"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Programs
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
            >
              NO
            </td>
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
              >1</td
            >
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-base-600 border-base-200"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Deployments
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
            >
              NO
            </td>
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
            >
              YES
            </td>
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-base-600 border-base-200"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Advanced Checkpoints
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
            >
              NO
            </td>
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
            >
              YES
            </td>
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-base-600 border-base-200"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Reporting tools
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
            >
              NO
            </td>
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
            >
              YES
            </td>
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-base-600 border-base-200"
              ><div class="flex items-center gap-2">
                <Check size="sm" />Support
              </div></th
            >
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
              >Discord community</td
            >
            <td
              class="px-2 text-xs font-medium text-white bg-base-900 border-y border-base-800"
              >Live chat</td
            >
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
              >Unlimited</td
            >
          </tr>

          <tr class="overflow-hidden">
            <th
              scope="colgroup"
              colspan="4"
              class="py-4 text-base font-medium text-left leading-6 text-base-900 border-y border-base-200"
            >
              Features
            </th>
          </tr>

          <tr>
            <th class="py-3 text-sm font-medium text-left text-base-600">
              <div class="flex items-center gap-2">
                <Check size="sm" />
                Service agreement
              </div>
            </th>
            <td class="px-2 text-xs font-medium text-base-900">No</td>
            <td
              class="px-2 text-xs font-medium text-white bg-base-900 border-y border-base-800"
              >No</td
            >
            <td class="px-2 text-xs font-medium text-base-900">YES</td>
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-base-600 border-base-200"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Dedicted Manager
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
              >No</td
            >
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
              >Yes</td
            >
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
              >Yes</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-base-600 border-base-200"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Onboarding sessions
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
              >No</td
            >
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
            >
              No
            </td>
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200"
              >Yes</td
            >
          </tr>
          <tr>
            <th
              class="py-3 text-sm font-medium text-left border-t text-base-600 border-base-200"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Dedicated support channel
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200 rounded-bl-xl"
            >
              No
            </td>
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
              >No</td
            >
            <td
              class="px-2 text-xs font-medium border-t text-base-600 border-base-200 rounded-br-xl"
              >Yes</td
            >
          </tr>
        </tbody>
      </table>
    </div>
  </Wrapper>
</section>
