---
import PricingToggleDark from "@/components/fundations/buttonGroups/PricingToggleDark.astro";
import Text from "@/components/fundations/typography/Text.astro";
import PricingCardsSingle from "@/components/fundations/pricing/PricingCardsSingle.astro";
---

<section x-data="{duration: 'monthly'}" class="bg-base-950">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-screen-xl relative">
    <div
      class="grid grid-cols-1 max-w-lg mx-auto lg:max-w-none gap-y-12 lg:gap-0 lg:grid-cols-3 lg:items-start w-full"
    >
      <div class="flex flex-col gap-8 h-full cols-span-full lg:col-span-1">
        <div>
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-accent-500"
          >
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displayBase"
            class="mt-4 font-semibold text-white lg:text-balance"
          >
            Equip your business with world class software
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 text-base-300 font-medium lg:text-balance"
          >
            Choose a plan that works the best for you and your team. Start
            small, upgrade when you need to.
          </Text>
        </div>
        <div
          aria-labelledby="pricing-toggle"
          class="w-full relative mt-8 ring-1 ring-base-800 ring-offset-2 ring-offset-base-950 bg-900 overflow-hidden gap-4 inline-flex p-1 rounded-md max-w-52 shadow z-0"
        >
          <PricingToggleDark />
        </div>
      </div>
      <PricingCardsSingle
        tierName="Core"
        roundedDesktop="left"
        colorMode="baseDark"
        isLeft={true}
      />
      <!-- Tier two -->
      <PricingCardsSingle
        tierName="Momentum"
        isPopular={true}
        roundedDesktop="none"
        colorMode="accent"
        roundedDesktop="right"
        isRight={true}
      />
    </div>
  </div>
</section>
