---
import PricingToggleDark from "@/components/fundations/buttonGroups/PricingToggleDark.astro";
import Text from "@/components/fundations/typography/Text.astro";
import PricingCardsSingle from "@/components/fundations/pricing/PricingCardsSingle.astro";
---

<section x-data="{duration: 'monthly'}" class="bg-base-950">
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-screen-xl">
    <div
      class="w-full max-w-lg mx-auto grid grid-cols-1 lg:max-w-none gap-y-12 lg:gap-0 lg:grid-cols-3 lg:items-start"
    >
      <div class="flex flex-col h-full gap-8 cols-span-full lg:col-span-1">
        <div>
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-accent-500"
          >
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displayMD"
            class="mt-4 font-semibold text-white lg:text-balance"
          >
            Equip your business with world class software
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 font-medium text-base-300 lg:text-balance"
          >
            Choose a plan that works the best for you and your team. Start
            small, upgrade when you need to.
          </Text>
        </div>
        <div
          aria-labelledby="pricing-toggle"
          class="relative z-0 inline-flex w-full p-1 mt-8 overflow-hidden shadow ring-1 ring-base-800 ring-offset-2 ring-offset-base-950 bg-900 gap-4 rounded-md max-w-52"
        >
          <PricingToggleDark />
        </div>
      </div>
      <PricingCardsSingle
        tierName="Core"
        roundedDesktop="left"
        colorMode="baseDark"
        isLeft={true}
      />
      <!-- Tier two -->
      <PricingCardsSingle
        tierName="Momentum"
        isPopular={true}
        roundedDesktop="none"
        colorMode="accent"
        roundedDesktop="right"
        isRight={true}
      />
    </div>
  </div>
</section>
