---
import Check from "@/components/fundations/icons/Check.astro";
import PricingToggle from "@/components/fundations/buttonGroups/PricingToggle.astro";

import Text from "@/components/fundations/typography/Text.astro";
import PricingCardsSingle from "@/components/fundations/pricing/PricingCardsSingle.astro";
---

<section x-data="{duration: 'monthly'}">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-screen-xl relative">
    <div class="max-w-xl text-center mx-auto">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayBase"
        class="mt-4 font-semibold text-base-900 lg:text-balance"
      >
        Equip your business with world class software
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 text-base-500 font-medium lg:text-balance"
      >
        Choose a plan that works the best for you and your team. Start small,
        upgrade when you need to.
      </Text>
      <div
        aria-labelledby="pricing-toggle"
        class="w-full relative mt-8 ring-1 ring-base-200 ring-offset-2 bg-white overflow-hidden justify-center gap-4 mx-auto lg:mx-0 inline-flex p-1 rounded-md max-w-52 shadow z-0"
      >
        <!-- Monthly Pricing Button: Sets 'duration' to 'monthly' when clicked -->
        <PricingToggle />
      </div>
    </div>
    <div
      class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 mt-12 mx-auto"
    >
      <!-- Tier one -->
      <PricingCardsSingle tierName="Core" />
      <!-- Tier two -->
      <PricingCardsSingle
        tierName="Momentum"
        isPopular={true}
        colorMode="dark"
      />
      <!-- Tier three -->
      <PricingCardsSingle tierName="Growth" colorMode="accent" />
    </div>
    <div class="hidden mt-12 lg:block">
      <div class="mt-20 pb-4 border-b">
        <Text tag="p" variant="textXL" class="text-base-900 font-medium">
          Price comparison
        </Text>
        <p class="text-2xl font-semibold tracking-tight text-base-900"></p>
      </div>
      <!---- Use only from xl: -->
      <div>
        <table class="w-full mx-auto text-center bg-transparent">
          <thead>
            <tr class="align-top border-b">
              <th
                class="w-1/4 py-4 text-sm font-medium leading-6 text-left text-base-900"
                >Usage
              </th>
              <th
                class="w-1/4 py-4 text-sm font-medium leading-6 text-base-900"
              >
                Core
              </th>
              <th
                class="w-1/4 py-4 text-sm font-medium leading-6 text-base-900"
              >
                Momentum
              </th>
              <th
                class="w-1/4 py-4 text-sm font-medium leading-6 text-base-900"
              >
                Growth
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="py-3 text-sm text-base-900 font-medium text-left">
                <div class="flex items-center gap-2">
                  <Check size="sm" />
                  Analytics
                </div>
              </th>
              <td class="px-2 text-xs font-medium text-base-900 bg-base-50"
                >3</td
              >
              <td
                class="px-2 text-xs font-medium text-white bg-base-900 border-t border-base-800"
                >10</td
              >
              <td class="px-2 text-xs font-medium text-white bg-accent-700"
                >Unlimited</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm text-base-900 font-medium text-left border-t border-base-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Accounts
                </div>
              </th>
              <td
                class="px-2 text-xs font-medium text-base-900 bg-base-50 border-t border-base-200"
                >5</td
              >
              <td
                class="px-2 text-xs font-medium text-white bg-base-900 border-t border-base-800"
                >10</td
              >
              <td
                class="px-2 text-xs font-medium text-white bg-accent-700 border-t border-accent-600"
                >Unlimited</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm text-base-900 font-medium text-left border-t border-base-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Integrations
                </div>
              </th>
              <td
                class="px-2 text-xs font-medium text-base-900 bg-base-50 border-t border-base-200"
                >2</td
              >
              <td
                class="px-2 text-xs font-medium text-white bg-base-900 border-t border-base-800"
              >
                YES
              </td>
              <td
                class="px-2 text-xs font-medium text-white bg-accent-700 border-t border-accent-600"
                >Unlimited</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm text-base-900 font-medium text-left border-t border-base-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Programs
                </div>
              </th>
              <td
                class="px-2 text-base-900 bg-base-50 border-t border-base-200 text-xs font-medium"
              >
                NO
              </td>
              <td
                class="px-2 text-xs font-medium text-white bg-base-900 border-t border-base-800"
                >1</td
              >
              <td
                class="px-2 text-xs font-medium text-white bg-accent-700 border-t border-accent-600"
                >Unlimited</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm text-base-900 font-medium text-left border-t border-base-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Deployments
                </div>
              </th>
              <td
                class="px-2 text-base-900 bg-base-50 border-t border-base-200 text-xs font-medium"
              >
                NO
              </td>
              <td
                class="px-2 text-xs font-medium text-white bg-base-900 border-t border-base-800"
              >
                YES
              </td>
              <td
                class="px-2 text-xs font-medium text-white bg-accent-700 border-t border-accent-600"
                >Unlimited</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm text-base-900 font-medium text-left border-t border-base-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Advanced Checkpoints
                </div>
              </th>
              <td
                class="px-2 text-base-900 bg-base-50 border-t border-base-200 text-xs font-medium"
              >
                NO
              </td>
              <td
                class="px-2 text-xs font-medium text-white bg-base-900 border-t border-base-800"
              >
                YES
              </td>
              <td
                class="px-2 text-xs font-medium text-white bg-accent-700 border-t border-accent-600"
                >Unlimited</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm text-base-900 font-medium text-left border-t border-base-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Reporting tools
                </div>
              </th>
              <td
                class="px-2 text-base-900 bg-base-50 border-t border-base-200 text-xs font-medium"
              >
                NO
              </td>
              <td
                class="px-2 text-xs font-medium text-white bg-base-900 border-t border-base-800"
              >
                YES
              </td>
              <td
                class="px-2 text-xs font-medium text-white bg-accent-700 border-t border-accent-600"
                >Unlimited</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm text-base-900 font-medium text-left border-t border-base-200"
                ><div class="flex items-center gap-2">
                  <Check size="sm" />Support
                </div></th
              >
              <td
                class="px-2 text-xs font-medium text-base-900 bg-base-50 border-t border-base-200"
                >Discord community</td
              >
              <td
                class="px-2 text-xs font-medium text-white bg-base-900 border-t border-base-800"
                >Live chat</td
              >
              <td
                class="px-2 text-xs font-medium text-white bg-accent-700 border-t border-accent-600"
                >Unlimited</td
              >
            </tr>

            <tr class="overflow-hidden">
              <th
                scope="colgroup"
                colspan="4"
                class="py-4 text-sm font-medium leading-6 text-left text-base-900 border-y border-base-200"
              >
                Features
              </th>
            </tr>

            <tr>
              <th class="py-3 text-sm text-base-900 font-medium text-left">
                <div class="flex items-center gap-2">
                  <Check size="sm" />
                  Service agreement
                </div>
              </th>
              <td class="px-2 text-xs font-medium text-base-900 bg-base-50"
                >No</td
              >
              <td
                class="px-2 text-xs font-medium text-white bg-base-900 border-t border-base-800"
                >No</td
              >
              <td class="px-2 text-xs font-medium text-white bg-accent-700"
                >YES</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm text-base-900 font-medium text-left border-t border-base-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Dedicted Manager
                </div>
              </th>
              <td
                class="px-2 text-xs font-medium text-base-900 bg-base-50 border-t border-base-200"
                >No</td
              >
              <td
                class="px-2 text-xs font-medium text-white bg-base-900 border-t border-base-800"
                >Yes</td
              >
              <td
                class="px-2 text-xs font-medium text-white bg-accent-700 border-t border-accent-600"
                >Yes</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm text-base-900 font-medium text-left border-t border-base-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Onboarding sessions
                </div>
              </th>
              <td
                class="px-2 text-xs font-medium text-base-900 bg-base-50 border-t border-base-200"
                >No</td
              >
              <td
                class="px-2 text-xs font-medium text-white bg-base-900 border-t border-base-800"
              >
                No
              </td>
              <td
                class="px-2 text-xs font-medium text-white bg-accent-700 border-t border-accent-600"
                >Yes</td
              >
            </tr>
            <tr>
              <th
                class="py-3 text-sm text-base-900 font-medium text-left border-t border-base-200"
              >
                <div class="flex items-center gap-2">
                  <Check size="sm" />Dedicated support channel
                </div>
              </th>
              <td
                class="px-2 text-base-900 bg-base-50 border-t border-base-200 text-xs font-medium rounded-bl-3xl"
              >
                No
              </td>
              <td
                class="px-2 text-xs font-medium text-white bg-base-900 border-t border-base-800"
                >No</td
              >
              <td
                class="px-2 text-xs font-medium text-white bg-accent-700 border-t border-accent-600 rounded-br-3xl"
                >Yes</td
              >
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
