---
import Button from "@/components/fundations/buttons/Button.astro";
import Badge from "@/components/fundations/badges/Badge.astro";
import Check from "@/components/fundations/icons/Check.astro";
import PricingToggle from "@/components/fundations/buttonGroups/PricingToggle.astro";

import Text from "@/components/fundations/typography/Text.astro";
---

<section x-data="{duration: 'monthly'}">
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-screen-xl">
    <p class="text-center text-base-500 lg:hidden">
      Pricing table for desktop use
    </p>
    <!---- Use only from xl: -->
    <div class="hidden lg:block">
      <div
        class="text-center md:text-left grid grid-cols-1 gap-12 md:grid-cols-2 md:items-end"
      >
        <div>
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-accent-600"
          >
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displayMD"
            class="mt-4 font-semibold text-base-900 lg:text-balance"
          >
            Equip your business with world class software
          </Text>
        </div>
        <div class="md:ml-auto">
          <div
            aria-labelledby="pricing-toggle"
            class="relative z-0 inline-flex justify-center w-full p-1 mx-auto mt-8 overflow-hidden bg-white shadow ring-1 ring-base-200 ring-offset-2 gap-4 lg:mx-0 rounded-md max-w-52"
          >
            <!-- Monthly Pricing Button: Sets 'duration' to 'monthly' when clicked -->
            <PricingToggle />
          </div>
        </div>
      </div>
      <table class="w-full mt-8 text-center bg-transparent mx-autom">
        <thead>
          <tr class="align-top">
            <th class="w-1/3"></th>
            <th class="relative w-1/3 p-1 pr-0 font-normal text-left">
              <div
                aria-hidden="true"
                class="absolute inset-y-0 right-0 hidden w-full rounded-tl-3xl bg-base-50 sm:block"
              >
              </div>
              <div class="relative">
                <div class="flex flex-col p-8 gap-4">
                  <div class="flex items-start justify-between w-full">
                    <div>
                      <Text
                        tag="h3"
                        variant="textXL"
                        class="font-medium text-base-900"
                      >
                        Core
                      </Text>
                      <Text
                        tag="p"
                        variant="textBase"
                        class="font-medium text-base-500"
                      >
                        For individuals
                      </Text>
                    </div>
                  </div>
                  <Text
                    tag="p"
                    variant="textBase"
                    class="font-medium text-base-500"
                  >
                    This subscription tier caters to individuals and hobbyists
                    seeking fundamental features.
                  </Text>
                </div>
                <div class="p-8 pt-0 mt-8">
                  <p
                    class="flex items-baseline text-2xl font-semibold tracking-tighter lg:text-3xl text-base-900"
                  >
                    <span
                      data-monthly="$29.00"
                      data-annual="$19.00"
                      x-text="$el.dataset[duration]"></span>
                    <span
                      class="font-sans text-sm font-normal tracking-normal text-base-500"
                    >
                      <span x-show="duration === 'monthly'">
                        <span x-show="duration === 'monthly'">
                          /month</span
                        ></span
                      >
                      <span
                        x-show="duration === 'annual'"
                        style="display: none;"
                      >
                        /annually</span
                      >
                    </span>
                  </p>
                  <div class="mt-4">
                    <Button class="w-full" variant="alternative" size="sm">
                      Get Started
                    </Button>
                  </div>
                </div>
              </div>
            </th>
            <th class="relative w-1/3 p-1 pl-0 font-normal text-left">
              <div
                aria-hidden="true"
                class="absolute inset-y-0 right-0 hidden w-full rounded-tr-3xl bg-base-900 sm:block"
              >
              </div>
              <div class="relative">
                <div class="flex flex-col p-8 gap-4">
                  <div class="flex items-start justify-between w-full">
                    <div>
                      <Text
                        tag="h3"
                        variant="textXL"
                        class="font-medium text-white"
                      >
                        Momentum
                      </Text>
                      <Text
                        tag="p"
                        variant="textBase"
                        class="font-medium text-base-300"
                      >
                        For startups
                      </Text>
                    </div>
                    <Badge variant="default" size="xs"> Popular </Badge>
                  </div>
                  <Text
                    tag="p"
                    variant="textBase"
                    class="font-medium text-base-300"
                  >
                    Designed with medium-sized businesses in mind, this
                    subscription tier provides advanced tools.
                  </Text>
                </div>
                <div class="p-8 pt-0 mt-8">
                  <p
                    class="flex items-baseline text-2xl font-semibold tracking-tighter text-white lg:text-3xl"
                  >
                    <span
                      data-monthly="$49.00"
                      data-annual="$39.00"
                      x-text="$el.dataset[duration]"></span>
                    <span
                      class="font-sans text-sm font-normal tracking-normal text-base-200"
                    >
                      <span x-show="duration === 'monthly'">
                        <span x-show="duration === 'monthly'">
                          /month</span
                        ></span
                      >
                      <span
                        x-show="duration === 'annual'"
                        style="display: none;"
                      >
                        /annually</span
                      >
                    </span>
                  </p>
                  <div class="mt-4">
                    <Button class="w-full" variant="alternative" size="sm">
                      Get Started
                    </Button>
                  </div>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th
              class="p-3 text-sm font-medium text-left rounded-l-lg bg-base-50 text-base-900"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Accounts
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t bg-base-50 text-base-900 border-base-200"
              >5</td
            >
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
              >10</td
            >
          </tr>
          <tr>
            <th class="p-3 text-sm font-medium text-left text-base-900">
              <div class="flex items-center gap-2">
                <Check size="sm" />
                Analytics
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-base-900 bg-base-50 border-base-200"
              >3</td
            >
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
              >10</td
            >
          </tr>
          <tr>
            <th
              class="p-3 text-sm font-medium text-left rounded-l-lg bg-base-50 text-base-900"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Integrations
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t bg-base-50 text-base-900 border-base-200"
              >2</td
            >
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
            >
              YES
            </td>
          </tr>
          <tr>
            <th
              class="p-3 text-sm font-medium text-left rounded-l-lg text-base-900"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Programs
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-base-900 bg-base-50 border-base-200"
            >
              NO
            </td>
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
              >1</td
            >
          </tr>
          <tr>
            <th
              class="p-3 text-sm font-medium text-left rounded-l-lg bg-base-50 text-base-900"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Deployments
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-base-900 bg-base-50 border-base-200"
            >
              NO
            </td>
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
            >
              YES
            </td>
          </tr>
          <tr>
            <th
              class="p-3 text-sm font-medium text-left rounded-l-lg text-base-900"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Advanced Checkpoints
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-base-900 bg-base-50 border-base-200"
            >
              NO
            </td>
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
            >
              YES
            </td>
          </tr>
          <tr>
            <th
              class="p-3 text-sm font-medium text-left rounded-l-lg bg-base-50 text-base-900"
            >
              <div class="flex items-center gap-2">
                <Check size="sm" />Reporting tools
              </div>
            </th>
            <td
              class="px-2 text-xs font-medium border-t text-base-900 bg-base-50 border-base-200"
            >
              NO
            </td>
            <td
              class="px-2 text-xs font-medium text-white border-t bg-base-900 border-base-800"
            >
              YES
            </td>
          </tr>
          <tr class="align-top">
            <th></th>
            <th
              class="w-1/4 px-2 py-6 border-t border-base-200 bg-base-50 rounded-bl-3xl"
            >
            </th>
            <th
              class="w-1/4 px-2 py-6 border-t rounded-br-3xl bg-base-900 border-base-800"
            >
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
