---
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import ChevronLeft from "@/components/fundations/icons/ChevronLeft.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
---

<section>
  <div class="flex justify-center py-48 mx-auto">
    <nav class="relative z-0 inline-flex gap-1.5" aria-label="Pagination">
      <!-- Previous Page Button -->
      <IconButton
        disabled
        aria-label="Go to previous page"
        variant="text"
        size="xs"
      >
        <ChevronLeft size="xs" slot="icon" />
        <span class="sr-only">Previous</span>
      </IconButton>
      <IconButton variant="text" size="xs"> 1 </IconButton>
      <IconButton variant="text" size="xs"> 2 </IconButton>
      <IconButton variant="text" size="xs"> ... </IconButton>
      <IconButton variant="text" size="xs"> 9 </IconButton>
      <IconButton variant="text" size="xs"> 10 </IconButton>
      <!-- Next Page Button -->
      <IconButton aria-label="Go to next page" variant="text" size="xs">
        <ChevronRight size="xs" slot="icon" />
        <span class="sr-only">Next</span>
      </IconButton>
    </nav>
  </div>
</section>
