---
import HorizontalButtonGroup from "@/components/fundations/buttonGroups/HorizontalButtonGroup.astro";
---
<section>
  <div class="flex justify-center py-48 mx-auto">
    <span class="inline-flex isolate">
      <HorizontalButtonGroup
        variant="default"
        position="right"
        size="sm">
        Previous
      </HorizontalButtonGroup>
      <HorizontalButtonGroup
        variant="default"
        position="middle"
        size="sm">
        1
      </HorizontalButtonGroup>
      <HorizontalButtonGroup
        variant="default"
        position="middle"
        size="sm">
        ...
      </HorizontalButtonGroup>
      <HorizontalButtonGroup
        variant="default"
        position="middle"
        size="sm">
        10
      </HorizontalButtonGroup>
      <HorizontalButtonGroup
        position="left"
        variant="default"
        size="sm">
        Next
      </HorizontalButtonGroup>
    </span>
  </div>
</section>
