<section>
  <div class="flex justify-center py-12 mx-auto">
    <span class="inline-flex rounded-md isolate">
      <button
        type="button"
        class="relative inline-flex items-center h-10 px-4 py-2 text-sm font-medium text-base-500 duration-200 bg-white rounded-l-lg ring-1 ring-inset hover:bg-base-50 ring-base-200 focus:ring-accent-500 focus:z-10"
        aria-label="Go to previous page">
        Previous
      </button>
      <button
        type="button"
        class="relative inline-flex items-center h-10 px-4 py-2 -ml-px text-sm font-semibold text-base-500 duration-200 bg-white ring-1 ring-inset ring-base-200 focus:ring-accent-500 focus:z-10 hover:bg-base-50"
        aria-label="Go to page 1">
        1
      </button>
      <span
        class="relative inline-flex items-center h-10 px-4 py-2 -ml-px text-sm font-semibold text-base-500 bg-white ring-1 ring-inset ring-base-200"
        aria-hidden="true">
        ...
      </span>
      <button
        type="button"
        class="relative inline-flex items-center h-10 px-4 py-2 -ml-px text-sm font-semibold text-base-500 duration-200 bg-white ring-1 ring-inset ring-base-200 focus:ring-accent-500 focus:z-10 hover:bg-base-50"
        aria-label="Go to page 10">
        10
      </button>
      <button
        type="button"
        class="relative inline-flex items-center h-10 px-4 py-2 -ml-px text-sm font-medium text-base-500 duration-200 bg-white rounded-r-lg ring-1 ring-inset hover:bg-base-50 ring-base-200 focus:ring-accent-500 focus:z-10"
        aria-label="Go to next page">
        Next
      </button>
    </span>
  </div>
</section>
