---
import Button from "@/components/fundations/buttons/Button.astro";
---

<section>
  <div class="flex justify-center p-16 mx-auto bg-white dark:bg-zinc-900">
    <!-- copy:start -->
    <nav aria-label="Pagination">
      <span class="inline-flex isolate">
        <Button
          variant="muted"
          size="sm"
          noRoundedRight
          disabled
          aria-label="Go to previous page"
        >
          Previous
        </Button>

        <Button
          variant="muted"
          size="sm"
          noRoundedLeft
          noRoundedRight
          aria-current="page"
          aria-label="Page 1, current page"
        >
          1
        </Button>

        <Button
          variant="muted"
          size="sm"
          noRoundedLeft
          noRoundedRight
          disabled
          aria-hidden="true"
          role="presentation"
         
        >
          ...
        </Button>

        <Button
          variant="muted"
          size="sm"
          noRoundedLeft
          noRoundedRight
          aria-label="Go to page 10"
        >
          10
        </Button>

        <Button
          variant="muted"
          size="sm"
          noRoundedLeft
          aria-label="Go to next page"
        >
          Next
        </Button>
      </span>
    </nav>
    <!-- copy:end -->
  </div>
</section>
