<section>
  <div
    class="flex justify-center py-12 px-8 md:px-12 lg:px-24 max-w-7xl mx-auto w-full">
    <nav class="flex items-center justify-between px-4 sm:px-0 w-full">
      <div class="mt-1 flex w-0 flex-1">
        <a
          href="#_"
          class="flex items-center justify-center h-8 px-4 py-2 text-xs font-semibold text-gray-500 transition-all duration-300 border border-gray-300 rounded-md shadow bg-gray-50 hover:text-gray-700 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:border-gray-200 hover:shadow-none gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler size-4 icons-tabler-outline icon-tabler-chevron-left">
            <path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path>
            <path d="M15 6l-6 6l6 6"></path>
          </svg>
          Previous
        </a>
      </div>
      <div class="hidden md:-mt-px md:flex">
        <a
          href="#_"
          class="inline-flex items-center border-b-2 border-transparent px-4 pb-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-blue-500"
          >1</a
        >

        <a
          href="#_"
          class="inline-flex items-center border-b-2 border-blue-500 px-4 pb-4 text-sm font-medium text-blue-600"
          aria-current="page"
          >2</a
        >
        <a
          href="#_"
          class="inline-flex items-center border-b-2 border-transparent px-4 pb-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-blue-500"
          >3</a
        >
        <span
          class="inline-flex items-center border-b-2 border-transparent px-4 pb-4 text-sm font-medium text-gray-500"
          >...</span
        >
        <a
          href="#_"
          class="inline-flex items-center border-b-2 border-transparent px-4 pb-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-blue-500"
          >8</a
        >
        <a
          href="#_"
          class="inline-flex items-center border-b-2 border-transparent px-4 pb-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-blue-500"
          >9</a
        >
        <a
          href="#_"
          class="inline-flex items-center border-b-2 border-transparent px-4 pb-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-blue-500"
          >10</a
        >
      </div>
      <div class="-mt-px flex w-0 flex-1 justify-end">
        <a
          href="#_"
          class="flex items-center justify-center h-8 px-4 py-2 text-xs font-semibold text-gray-500 transition-all duration-300 border border-gray-300 rounded-md shadow bg-gray-50 hover:text-gray-700 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:border-gray-200 hover:shadow-none gap-2">
          Next
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon size-4 icon-tabler icons-tabler-outline icon-tabler-chevron-right">
            <path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path>
            <path d="M9 6l6 6l-6 6"></path>
          </svg>
        </a>
      </div>
    </nav>
  </div>
</section>
