---
import Button from "@/components/fundations/buttons/Button.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import ChevronLeft from "@/components/fundations/icons/ChevronLeft.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
---

<section>
  <div
    class="flex flex-col lg:flex-row items-center gap-12 justify-between py-12 px-8 md:px-12 lg:px-24 max-w-7xl mx-auto
  w-full">
    <!-- Pagination Info -->

    <nav
      class="relative z-0 inline-flex gap-2 items-center"
      aria-label="Pagination">
      <!-- Previous Page Button -->
      <IconButton
        disabled
        aria-label="Go to previous page"
        variant="text"
        size="sm">
        <ChevronLeft
          size="sm"
          slot="icon"
        />
        <span class="sr-only">Previous</span>
      </IconButton>
      <IconButton
        variant="alternative"
        size="xs">
        1
      </IconButton>
      <IconButton
        variant="alternative"
        size="xs">
        2
      </IconButton>
      <IconButton
        variant="alternative"
        size="xs">
        3
      </IconButton>
      <IconButton
        variant="alternative"
        size="xs">
        4
      </IconButton>
      <IconButton
        variant="alternative"
        size="xs">
        5
      </IconButton>
      <span class="text-base-500"> ... </span>
      <IconButton
        variant="alternative"
        size="xs">
        60
      </IconButton>
      <!-- Previous Page Button -->

      <!-- "Go to page" input -->
      <span class="md:flex items-center space-x-2 hidden">
        <span class="text-sm text-base-500">Go to page</span>
        <input
          type="text"
          class="w-12 h-8 block text-center p-1 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
          placeholder="60"
        />
      </span>
      <Button
        variant="accent"
        size="xs">
        Confirm
      </Button>

      <!-- Next Page Button -->
      <IconButton
        disabled
        aria-label="Go to previous page"
        variant="text"
        size="sm">
        <ChevronRight
          size="sm"
          slot="icon"
        />
        <span class="sr-only">Previous</span>
      </IconButton>
    </nav>
    <div class="text-sm text-base-500">
      Showing <strong>1</strong> to <strong>10</strong> of <strong>60</strong> pages
    </div>
  </div>
</section>
