<section>
  <div
    class="flex flex-col lg:flex-row items-center gap-12 justify-between py-12 px-8 md:px-12 lg:px-24 max-w-7xl mx-auto
  w-full">
    <!-- Pagination Info -->

    <nav
      class="relative z-0 inline-flex gap-2 items-center"
      aria-label="Pagination">
      <!-- Previous Page Button -->
      <button
        type="button"
        class="flex items-center justify-center w-8 h-8 p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-md hover:bg-gray-100"
        aria-label="Go to previous page"
        disabled>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icon-tabler-chevron-left">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path d="M15 6l-6 6l6 6"></path>
        </svg>
      </button>

      <!-- Page Numbers -->
      <button
        class="flex items-center justify-center p-1 text-xs font-semibold text-white transition-all duration-200 rounded-md shadow size-8 bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
        aria-current="page"
        >1</button
      >
      <button
        class="flex items-center justify-center size-8 p-1 text-xs font-semibold text-gray-500 transition-all duration-300 border-gray-300 rounded-md shadow bg-gray-50 hover:text-gray-700 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:border-gray-200 hover:shadow-none border"
        >2</button
      >
      <button
        class="flex items-center justify-center size-8 p-1 text-xs font-semibold text-gray-500 transition-all duration-300 border-gray-300 rounded-md shadow bg-gray-50 hover:text-gray-700 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:border-gray-200 hover:shadow-none border"
        >3</button
      >
      <button
        class="md:flex hidden items-center justify-center size-8 p-1 text-xs font-semibold text-gray-500 transition-all duration-300 border-gray-300 rounded-md shadow bg-gray-50 hover:text-gray-700 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:border-gray-200 hover:shadow-none border"
        >4</button
      >
      <button
        class="md:flex hidden items-center justify-center size-8 p-1 text-xs font-semibold text-gray-500 transition-all duration-300 border-gray-300 rounded-md shadow bg-gray-50 hover:text-gray-700 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:border-gray-200 hover:shadow-none border"
        >5</button
      >
      <span class="text-gray-500 flex items-center justify-center w-8 h-8"
        >...</span
      >
      <button
        class="flex items-center justify-center size-8 p-1 text-xs font-semibold text-gray-500 transition-all duration-300 border-gray-300 rounded-md shadow bg-gray-50 hover:text-gray-700 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:border-gray-200 hover:shadow-none border"
        >60</button
      >

      <!-- "Go to page" input -->
      <span class="md:flex items-center space-x-2 hidden">
        <span class="text-sm text-gray-500">Go to page</span>
        <input
          type="text"
          class="w-12 h-8 block text-center p-1 text-sm text-blue-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-gray-200 placeholder-gray-400 focus:border-gray-300 focus:bg-transparent focus:outline-none focus:ring-blue-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
          placeholder="60"
        />
      </span>

      <!-- Confirm Button -->
      <button
        class="md:flex items-center hidden justify-center h-8 px-4 py-2 text-xs font-semibold text-white transition-all duration-200 rounded-md shadow bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none">
        Confirm
      </button>

      <!-- Next Page Button -->
      <button
        type="button"
        class="flex items-center justify-center w-8 h-8 p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-md hover:bg-gray-100"
        aria-label="Go to next page">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icon-tabler-chevron-right">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path d="M9 6l6 6l-6 6"></path>
        </svg>
      </button>
    </nav>
    <div class="text-sm text-gray-500">
      Showing <strong>1</strong> to <strong>10</strong> of <strong>60</strong> pages
    </div>
  </div>
</section>
