---
export const description = "Compact Centered Numbers";
import Button from "@/components/fundations/buttons/Button.astro";

---

<section class="flex justify-center p-16 bg-white dark:bg-zinc-900">
  <!-- copy:start -->
  <nav
    aria-label="Pagination"
    x-data="{ page: 3, total: 9 }"
    class="flex items-center w-full max-w-md mx-auto gap-1"
  >
    <Button
      size="xs"
      variant="muted"
      :disabled="page===1"
      @click="page=page-1"
      class="shrink-0">Prev</Button
    >
    <div
      class="hidden max-w-full py-1 -my-1 overflow-x-auto overflow-y-visible md:block"
    >
      <div class="flex items-center px-1 gap-2 whitespace-nowrap">
        <template x-for="n in total" :key="n">
          <Button
            iconOnly
            size="xs"
            variant="muted"
            class="leading-none"
            :class="page===n ? 'bg-blue-600 text-white' : ''"
            x-text="n"
            @click="page=n"
            :aria-current="page===n ? 'page' : null"
          />
        </template>
      </div>
    </div>
    <Button
      size="xs"
      variant="muted"
      :disabled="page===total"
      @click="page=page+1"
      class="shrink-0">Next</Button
    >
  </nav>
  <!-- copy:end -->
</section>
