---
export const description = "Table Footer: Rows per page + Range";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import Select from "@/components/fundations/inputs/Select.astro";
import ChevronLeft from "@/components/fundations/icons/ChevronLeft.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
---

<section class="flex justify-center p-16 bg-white dark:bg-zinc-900">
  <!-- copy:start -->
  <nav
    aria-label="Pagination"
    x-data="{page:1,totalItems:100,pageSize:25,get lastPage(){return Math.ceil(this.totalItems/this.pageSize)},get rangeStart(){return ((this.page-1)*this.pageSize)+1},get rangeEnd(){return Math.min(this.totalItems,this.page*this.pageSize)} }"
    class="flex flex-col w-full max-w-2xl gap-3 sm:flex-row sm:items-center sm:justify-between"
  >
    <div
      class="items-center justify-between hidden w-full text-sm md:flex gap-2 text-zinc-600 dark:text-zinc-300 sm:w-auto sm:justify-start"
    >
      Rows per page
      <div class="w-24">
        <Select
          id="rows-per-page"
          name="rows-per-page"
          size="xs"
          xModel="pageSize"
        >
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
        </Select>
      </div>
    </div>
    <div
      class="text-sm text-center text-zinc-600 dark:text-zinc-300 sm:text-left"
    >
      <span x-text="rangeStart"></span>-<span x-text="rangeEnd"></span> of <span
        x-text="totalItems"></span>
    </div>
    <div
      class="flex items-center self-end justify-center w-full gap-2 sm:self-auto md:w-auto md:justify-end"
    >
      <IconButton
        size="xs"
        variant="muted"
        :disabled="page===1"
        @click="page=1"
        aria-label="First">«</IconButton
      >
      <IconButton
        size="xs"
        variant="muted"
        :disabled="page===1"
        @click="page=Math.max(1,page-1)"
        aria-label="Previous"><ChevronLeft size="xs" slot="icon" /></IconButton
      >
      <IconButton
        size="xs"
        variant="muted"
        :disabled="page===lastPage"
        @click="page=Math.min(lastPage,page+1)"
        aria-label="Next"><ChevronRight size="xs" slot="icon" /></IconButton
      >
      <IconButton
        size="xs"
        variant="muted"
        :disabled="page===lastPage"
        @click="page=lastPage"
        aria-label="Last">»</IconButton
      >
    </div>
  </nav>
  <!-- copy:end -->
</section>
