---
const data = [
  {
    name: "Michael Andreuzza",
    title: "Creator of Windstatic.com",
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions' security and efficiency.",
    imgSrc: "/avatars/1.avif",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    testimonial:
      "Windstatic is a platform that allows you to create a customized landing page for your business. It's a great way to showcase your products and services to potential customers.",
    imgSrc: "/avatars/2.avif",
  },
  {
    name: "Elona Muska",
    title: "Founder of Fesla",
    testimonial:
      "With Windstatic, we can create a customized landing page for our business that showcases our products and services in the best possible way.",
    imgSrc: "/avatars/3.avif",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center max-w-xl mx-auto">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Your tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance"
      >
        Hear from our customers

        <span class="text-gray-600 block">about their experiences </span>
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500 lg:text-balance">
        A group of passionate individuals working together to innovate and excel
        in our industry.
      </p>
    </div>
    <ul
      role="list"
      class="mt-12 grid sm:grid-cols-2 md:grid-cols-3 gap-12 lg:mt-24"
    >
      {
        data.map((member) => (
          <>
            <li>
              <figure class="flex flex-col  h-full ">
                <figcaption class="flex items-center justify-between ">
                  <div class="flex items-center gap-4">
                    <img
                      class="object-cover rounded-full size-12"
                      src={member.imgSrc}
                      alt="#_"
                    />
                    <div>
                      <h3 class="tracking-tight text-lg font-medium text-gray-900">
                        {member.name}
                      </h3>
                      <p class="mt-2 text-sm text-gray-500 text-balance">
                        {member.title}
                      </p>
                    </div>
                  </div>
                </figcaption>
                <blockquote class="mt-12">
                  <p class="text-sm text-gray-500 text-pretty">
                    {member.testimonial}
                  </p>
                </blockquote>
                <div class="mt-4 flex items-center gap-2  ">
                  <a href="#_">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler text-blue-600 hover:text-gray-900 icons-tabler-outline icon-tabler-brand-x"
                    >
                      <>
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                        <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                      </>
                    </svg>
                  </a>
                  <a href="#_">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler text-blue-600 hover:text-gray-900 icons-tabler-outline icon-tabler-brand-linkedin"
                    >
                      <>
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                        <path d="M8 11l0 5" />
                        <path d="M8 8l0 .01" />
                        <path d="M12 16l0 -5" />
                        <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                      </>
                    </svg>
                  </a>
                </div>
              </figure>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</section>
