<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-4xl">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Testimonnial</span
      >
      <blockquote
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance"
      >
        "Being in the financial industry, we were always looking for ways to
        enhance our transactions' security and efficiency."
      </blockquote>
      <figcaption class="flex text-left mt-8">
        <div class="flex items-center gap-4">
          <img
            class="object-cover rounded-full size-12"
            src="/avatars/1.avif"
            alt="#_"
          />
          <div>
            <h3
              class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900"
            >
              Michael Andreuzza
            </h3>
            <p class="mt-2 text-sm text-gray-500 text-balance">
              Creator of Windstatic.com
            </p>
          </div>
        </div>
      </figcaption>
    </div>
  </div>
</section>
