<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="p-8 lg:p-20 rounded-2xl bg-gray-50 shadow">
      <span
        class="tracking-tight text-lg font-medium  text-gray-900"
        >Testimonnial</span
      >
      <figcaption class="flex text-left mt-8">
        <div class="flex items-center gap-4">
          <img
            class="object-cover rounded-full size-12"
            src="/avatars/1.avif"
            alt="#_"
          />
          <div>
            <h3
              class="tracking-tight text-lg font-medium  text-gray-900"
            >
              Michael Andreuzza
            </h3>
            <p class="mt-2 text-sm text-gray-500 text-balance">
              Creator of Windstatic.com
            </p>
          </div>
        </div>
      </figcaption>
      <blockquote
        class="text-4xl mt-12 font-semibold tracking-tight text-gray-900 lg:text-5xl"
      >
        "Being in the financial industry, we were always looking for ways to
        enhance our transactions' security and efficiency."
      </blockquote>
    </div>
  </div>
</section>
