<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <div class="text-center max-w-xl mx-auto">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Testimonials</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-5xl lg:text-balance"
      >
        Hear from our customers

        <span class="text-gray-600 block">about their experiences </span>
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500 lg:text-balance">
        A group of passionate individuals working together to innovate and excel
        in our industry.
      </p>
    </div>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-2 items-center mt-12 lg:mt-24"
    >
      <div
        class="p-8 lg:p-20 text-center rounded-2xl bg-gradient-to-b from-blue-500 to-blue-600 shadow"
      >
        <blockquote class="text-4xl font-semibold tracking-tight text-white">
          "Being in the financial industry, we were always looking for ways to
          enhance our transactions' security and efficiency."
        </blockquote>
        <figcaption class="flex text-left mt-8 justify-center">
          <div class="flex items-center gap-4">
            <img
              class="object-cover rounded-full size-12"
              src="/avatars/1.avif"
              alt=""
            />
            <div>
              <h3
                class="font-mono uppercase tracking-tighter text-sm font-medium text-white"
              >
                Michael Andreuzza
              </h3>
              <p class="mt-2 text-sm text-gray-200 text-balance">
                Creator of Windstatic.com
              </p>
            </div>
          </div>
        </figcaption>
      </div>
      <div
        class="p-8 lg:p-20 text-center rounded-2xl bg-gradient-to-b from-blue-500 to-blue-600 shadow"
      >
        <blockquote class="text-4xl font-semibold tracking-tight text-white">
          "Implementing Semplice's blockchain technology has been a game-changer
          for our supply chain management. "
        </blockquote>
        <figcaption class="flex text-left mt-8 justify-center">
          <div class="flex items-center gap-4">
            <img
              class="object-cover rounded-full size-12"
              src="/avatars/2.avif"
              alt=""
            />
            <div>
              <h3
                class="font-mono uppercase tracking-tighter text-sm font-medium text-white"
              >
                Gege Piazza
              </h3>
              <p class="mt-2 text-sm text-gray-200 text-balance">founder</p>
            </div>
          </div>
        </figcaption>
      </div>
    </div>
  </div>
</section>
