<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl text-center mx-auto">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Testimonials</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance"
      >
        Hear from our customers

        <span class="text-gray-600 block">about their experiences </span>
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500 lg:text-balance">
        A group of passionate individuals working together to innovate and excel
        in our industry.
      </p>
    </div>
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full mt-12 rounded-2xl"
    >
      <li>
        <figure class="flex flex-col gap-12 h-full justify-between">
          <div class="flex flex-col h-full justify-between">
            <blockquote>
              <p class="text-xl font-semibold tracking-tight text-gray-900">
                " Being in the financial industry, we were always looking for
                ways to enhance our transactions' security and efficiency"
              </p>
            </blockquote>
            <div class="mt-6">
              <h3
                class="tracking-tight text-lg font-medium text-gray-900"
              >
                Ana Betancourt
              </h3>
              <p class="mt-2 text-sm text-gray-500">Creator of Something</p>
            </div>
          </div>
          <figcaption class="justify-between w-full">
            <img
              alt="#_"
              src="/avatars/5.avif"
              class="object-cover w-full h-full rounded-2xl aspect-[4/3]"
            />
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="flex flex-col gap-12 h-full justify-between">
          <div class="flex flex-col h-full justify-between">
            <blockquote>
              <p class="text-xl font-semibold tracking-tight text-gray-900">
                "Implementing Semplice's blockchain technology has been a
                game-changer for our supply chain management. "
              </p>
            </blockquote>
            <div class="mt-6">
              <h3
                class="tracking-tight text-lg font-medium text-gray-900"
              >
                Juanjo Garcia
              </h3>
              <p class="mt-2 text-sm text-gray-500">Founder of his kids</p>
            </div>
          </div>
          <figcaption class="justify-between w-full">
            <img
              alt="#_"
              src="/avatars/2.avif"
              class="object-cover w-full h-full rounded-2xl aspect-[4/3]"
            />
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="flex flex-col gap-12 h-full justify-between">
          <div class="flex flex-col h-full justify-between">
            <blockquote>
              <p class="text-xl font-semibold tracking-tight text-gray-900">
                "We were initially hesitant about integrating blockchain
                technology into our existing systems. "
              </p>
            </blockquote>
            <div class="mt-6">
              <h3
                class="tracking-tight text-lg font-medium text-gray-900"
              >
                Joana Svenblad
              </h3>
              <p class="mt-2 text-sm text-gray-500">Founder of nothing</p>
            </div>
          </div>
          <figcaption class="justify-between w-full">
            <img
              alt="#_"
              src="/avatars/3.avif"
              class="object-cover w-full h-full rounded-2xl aspect-[4/3]"
            />
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>
