---
export const description = "Default icon button ";
import Button from "@/components/fundations/buttons/Button.astro";
// Icons
import Plus from "@/components/fundations/icons/Plus.astro";
---

<div class="flex flex-wrap items-end justify-center py-48 mx-auto gap-4">
  <Button onlyIconSize="xs" aria-label="Add" variant="default">
    <Plus slot="left-icon" size="xs" />
  </Button>
  <Button onlyIconSize="sm" aria-label="Add" variant="default">
    <Plus slot="left-icon" size="sm" />
  </Button>
  <Button onlyIconSize="base" aria-label="Add" variant="default">
    <Plus slot="left-icon" size="base" />
  </Button>
  <Button onlyIconSize="md" aria-label="Add" variant="default">
    <Plus slot="left-icon" size="md" />
  </Button>
  <Button onlyIconSize="lg" aria-label="Add" variant="default">
    <Plus slot="left-icon" size="lg" />
  </Button>
  <Button onlyIconSize="xl" aria-label="Add" variant="default">
    <Plus slot="left-icon" size="xl" />
  </Button>
</div>
