---
export const description = "Ghost icon button ";
import Button from "@/components/fundations/buttons/Button.astro";
// Icons
import Plus from "@/components/fundations/icons/Plus.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->

  <Button onlyIconSize="base" aria-label="Add" variant="ghost">
    <Plus slot="left-icon" size="base" />
  </Button>

  <!-- copy:end -->
</div>
