---
export const description = "Muted loading icon button ";
import Button from "@/components/fundations/buttons/Button.astro";
// Icons
import Plus from "@/components/fundations/icons/Plus.astro";
---

<div class="flex flex-wrap items-end justify-center py-48 mx-auto gap-4">
  <!-- copy:start -->
  <Button loading onlyIconSize="xs" aria-label="Add" variant="muted">
    <Plus slot="left-icon" size="xs" />
  </Button>
  <Button loading onlyIconSize="sm" aria-label="Add" variant="muted">
    <Plus slot="left-icon" size="sm" />
  </Button>
  <Button loading onlyIconSize="base" aria-label="Add" variant="muted">
    <Plus slot="left-icon" size="base" />
  </Button>
  <Button loading onlyIconSize="md" aria-label="Add" variant="muted">
    <Plus slot="left-icon" size="md" />
  </Button>
  <Button loading onlyIconSize="lg" aria-label="Add" variant="muted">
    <Plus slot="left-icon" size="lg" />
  </Button>
  <Button loading onlyIconSize="xl" aria-label="Add" variant="muted">
    <Plus slot="left-icon" size="xl" />
  </Button>
  <!-- copy:end -->
</div>
