---
export const description = "Muted loading icon button ";
import Button from "@/components/fundations/buttons/Button.astro";
// Icons
import Plus from "@/components/fundations/icons/Plus.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <Button loading onlyIconSize="base" aria-label="Add" variant="muted">
    <Plus slot="left-icon" size="base" />
  </Button>
  <!-- copy:end -->
</div>
