---
import ScreenLayout from "@/layouts/ScreenLayout.astro";
const data = [
  {
    name: "Michael Andreuzza",
    title: "Creator of Windstatic.com",
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions' security and efficiency.",
    imgSrc:
      "/avatars/1.avif",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    testimonial:
      "Windstatic is a platform that allows you to create a customized landing page for your business. It's a great way to showcase your products and services to potential customers.",
    imgSrc:
      "/avatars/2.avif",
  },
  {
    name: "Elona Muska",
    title: "Founder of Fesla",
    testimonial:
      "With Windstatic, we can create a customized landing page for our business that showcases our products and services in the best possible way.",
    imgSrc:
      "/avatars/3.avif",
  },
];
---

<ScreenLayout>
  <section>
    <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
      <div class="text-center max-w-xl mx-auto">
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
          >Your tagline</span
        >
        <h1
          class="text-4xl mt-4 font-semibold tracking-tight text-blue-950 lg:text-5xl lg:text-balance">
          Hear from our customers

          <span class="text-gray-600 block">about their experiences </span>
        </h1>
        <p class="mt-6 text-base font-medium text-gray-500 lg:text-balance">
          A group of passionate individuals working together to innovate and
          excel in our industry.
        </p>
      </div>
      <ul
        role="list"
        class="mt-12 sm:grid sm:grid-cols-2 md:grid-cols-3 sm:gap-12 lg:mt-24">
        {
          data.map((member) => (
            <>
              <li>
                <figure class="flex flex-col  h-full ">
                  <figcaption class="flex items-center justify-between ">
                    <div class="flex items-center gap-4">
                      <img
                        class="object-cover rounded-full size-12"
                        src={member.imgSrc}
                        alt=""
                      />
                      <div>
                        <h3 class="font-mono uppercase tracking-tighter text-sm font-medium text-blue-950">
                          {member.name}
                        </h3>
                        <p class="mt-2 text-sm text-gray-500 text-balance">
                          {member.title}
                        </p>
                      </div>
                    </div>
                  </figcaption>
                  <blockquote class="mt-12">
                    <p class="text-sm text-gray-500 text-pretty">
                      {member.testimonial}
                    </p>
                  </blockquote>
                </figure>
              </li>
            </>
          ))
        }
      </ul>
    </div>
  </section>
</ScreenLayout>
