---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Textarea from "@/components/fundations/inputs/Textarea.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="bg-white lg:border-x lg:border-zinc-200">
      <Textarea
        id="bio"
        name="bio"
        label="Short Bio"
        variant="default"
        size="base"
        placeholder="Tell us a little about yourself..."
        rows={5}
      />
    </Wrapper>
  </section>
</BaseLayout>
