<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid items-center grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24">
      <div class="lg:order-last">
        <h1
          class="text-3xl font-semibold tracking-tight text-gray-900 lg:text-balance">
          Just a medium title here
        </h1>
        <p class="text-base mt-6 font-medium text-gray-500">
          The fastest and most efficient method for working together on staging
          and temporary environments.
        </p>
        <ul
          role="list"
          class="mt-12 font-mono uppercase space-y-2 tracking-tighter list-disc list-inside text-sm font-medium">
          <li>Seamless Collaboration</li>
          <li>Real-time Updates</li>
          <li>Easy Rollbacks</li>
        </ul>
      </div>
      <div class="block w-full mt-12 aspect-square lg:mt-0">
        <img
          alt="#_"
          class="rotate-12 drop-shadow hover:rotate-0 duration-300 ease-out w-full"
          src="/images/darkCard.svg"
        />
        <img
          alt="#_"
          class="-mt-32 -rotate-12 drop-shadow hover:rotate-0 duration-300 ease-out"
          src="/images/whiteCard.svg"
        />
      </div>
    </div>
  </div>
</section>
