---
export const description = "Split with image";
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
const data = [
  {
    text: "Our cutting-edge design offers a fresh, modern look that transforms your project into a standout experience. ",
    items: ["Revolutionizing communication", "Enhancing productivity"],
  },
];
---

<section class="relative overflow-hidden">
  <div
    class="mx-auto max-w-7xl px-6 py-24 lg:flex items-center lg:px-8 relative"
  >
    <div
      class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:px-12"
    >
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayLG"
        class="mt-4 font-semibold text-base-900 lg:text-balance"
      >
        Transforming the banking experience for a digital future
      </Text>
      <Text class="mt-4 text-base-500 font-medium" tag="p" variant="textBase">
        Integrating with existing systems is smooth and hassle-free, thanks to
        our incredible flexible approach. Equipped with advanced features and
        tools, our solution effortlessly manages complex tasks and workflows.
      </Text>
      <div class="flex flex-wrap gap-4 mt-12 sm:items-center">
        <Button variant="accent" size="sm"> Get started </Button>
        <div class="text-sm text-base-500 font-medium lg:items-center">
          <span class="block"> This is some support text </span>
          <span class="block"> and this is also. </span>
        </div>
      </div>
      <div class="mt-6 pt-6 border-t border-base-200">
        {
          data.map((section) => (
            <div class="mt-2">
              <Text
                class=" text-base-500 font-medium"
                tag="p"
                variant="textBase"
              >
                {section.text}
              </Text>
              <ul
                role="list"
                class="space-y-1 mt-6 text-base font-medium text-base-900 list-none"
              >
                {section.items.map((item) => (
                  <li>
                    <div class="flex  items-center gap-4">
                      <CircleCheck
                        class="text-accent-600"
                        size="base"
                        slot="icon"
                      />
                      <Text tag="span" variant="textBase">
                        {item}
                      </Text>
                    </div>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
    <div
      class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32"
    >
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
        <div class="-m-2 lg:-m-4">
          <img
            src="/images/dashboardLight.svg"
            alt="#_"
            width="2432"
            height="1442"
            class="w-[76rem] shadow rounded-2xl"
          />
        </div>
      </div>
    </div>
  </div>
</section>
