---
export const description =
  "Split with overlayed text, features and full height image";
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
const stats = [
  {
    label: "Working Individuals",
    value: "30%",
  },
  {
    label: "Super low fee",
    value: "40%",
  },
  {
    label: "Great Commitment",
    value: "50%",
  },
];
import Filters from "@/components/fundations/icons/Filters.astro";
import WaveSquare from "@/components/fundations/icons/WaveSquare.astro";
import ArrowIteration from "@/components/fundations/icons/ArrowIteration.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
const data = [
  {
    icon: "Filters",
    category: "Live editing",
    text: "Instantly see the result of every change you make.",
  },
  {
    icon: "WaveSquare",
    category: "Autocompletion",
    text: "Spotless will suggest the right classes for you as you type.",
  },
  {
    icon: "ArrowIteration",
    category: "Hide/show classes",
    text: "Hide or show classes to see how your design changes.",
  },
  {
    icon: "Plus",
    category: "Color preview",
    text: "See the color of every class in the autocompletion view.",
  },
];
---

<div class="relative overflow-hidden">
  <div class="absolute inset-0 z-20 bg-white/60 size-full"></div>
  <div
    class="relative mx-auto max-w-7xl lg:grid lg:grid-cols-12 lg:gap-x-24 lg:px-8"
  >
    <div
      class="flex flex-col justify-end px-8 pt-10 pb-24 lg:col-span-7 lg:px-0 sm:py-48 xl:col-span-6"
    >
      <div class="z-50 max-w-3xl mx-auto lg:mx-0 lg:px-16">
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-base-900 md:text-balance"
        >
          Transforming the bank experience for a digital future
        </Text>
        <div class="flex flex-wrap mt-12 lg:items-center gap-4">
          <Button variant="accent" size="sm"> Get started </Button>
          <div class="text-sm font-medium text-base-500 lg:items-center">
            <span class="block"> This is some support text </span>
            <span class="block"> and this is also. </span>
          </div>
        </div>
        <div class="mt-8 grid grid-cols-1 gap-x-4 gap-y-4 sm:grid-cols-3">
          {
            stats.map((stat) => (
              <div class="flex flex-col">
                <Text tag="h3" variant="textXL" class="text-accent-700">
                  {stat.value}
                </Text>
                <Text
                  tag="h3"
                  variant="textSM"
                  class="font-medium  text-base-500"
                >
                  {stat.label}
                </Text>
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <div
      class="relative lg:col-span-5 lg:-mr-8 xl:absolute xl:inset-0 xl:left-1/3 xl:mr-0 lg:border-l border-base-200"
    >
      <img
        class="aspect-[3/2] w-full bg-base-50 object-left object-cover lg:absolute lg:inset-0 lg:aspect-auto lg:h-full"
        src="/images/dashboardLight.svg"
        alt="Dashboard preview"
      />
    </div>
  </div>
  <div
    class="relative z-30 px-8 pb-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:-mt-42"
  >
    <dl
      class="relative grid grid-cols-1 sm:grid-cols-2 gap-4 lg:grid-cols-4 lg:gap-y-16"
    >
      {
        data.map((section) => (
          <div class="p-8 bg-white shadow rounded-xl">
            <div class="flex flex-col text-accent-500 gap-3 ">
              {section.icon === "Filters" && (
                <Filters class="text-accent-600" size="base" />
              )}
              {section.icon === "WaveSquare" && (
                <WaveSquare class="text-accent-600" size="base" />
              )}
              {section.icon === "ArrowIteration" && (
                <ArrowIteration class="text-accent-600" size="base" />
              )}
              {section.icon === "Plus" && (
                <Plus class="text-accent-600" size="base" />
              )}

              <dt>
                <Text
                  variant="textLG"
                  tag="h3"
                  class="font-medium text-base-900"
                >
                  {section.category}
                </Text>
              </dt>
            </div>
            <dd>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 font-medium text-base-500"
              >
                {section.text}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</div>
