---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div
    class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative flex flex-col gap-24 lg:gap-12">
    <dl class="grid md:grid-cols-2 gap-8 lg:grid-cols-3">
      <div
        class="flex justify-between rounded-3xl bg-base-50 flex-col lg:gap-12 lg:rotate-6 hover:rotate-0 duration-300">
        <span
          class="text-5xl font-normal font-mono text-accent-600 p-8 order-last border-t w-full">
          80%
        </span>
        <div class="sm:shrink lg:flex-none p-8">
          <p class="tracking-tight text-lg font-medium text-base-900">
            Working Individuals
          </p>
          <p class="mt-2 text-sm text-base-500 text-pretty">
            We’re dedicated to delivering outstanding service and value.
          </p>
        </div>
      </div>
      <div
        class="flex justify-between rounded-3xl bg-accent-700 flex-col lg:gap-28 lg:-rotate-12 hover:rotate-0 duration-300">
        <span
          class="text-5xl font-normal font-mono text-white p-8 order-last border-t w-full border-white/20">
          50B
        </span>
        <div class="sm:shrink lg:flex-none p-8">
          <p class="tracking-tight text-lg font-medium text-white">
            Massive Earnings
          </p>
          <p class="text-sm text-base-50 text-pretty mt-2">
            Reap the benefits with substantial returns.
          </p>
        </div>
      </div>
      <div
        class="flex justify-between rounded-3xl bg-base-900 flex-col lg:gap-44 lg:rotate-6 hover:rotate-0 duration-300">
        <span
          class="text-5xl font-normal font-mono text-white p-8 order-last border-t border-white/20 w-full">
          40M
        </span>
        <div class="sm:shrink lg:flex-none p-8">
          <p class="tracking-tight text-lg font-medium text-white">
            Super low fee
          </p>
          <p class="text-sm text-base-300 text-pretty mt-2">
            Enjoy significant savings with our extremely low fee structure.
          </p>
        </div>
      </div>
    </dl>
    <div class="order-first lg:order-last">
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="displaySmall">
        Ensure each visitor's experience is impactful, turning casual
        interactions into meaningful connections that drive engagement and
        loyalty.
      </Heading>
      <div class="flex flex-wrap items-center gap-2 mt-12">
        <Button
          variant="accent"
          size="sm">
          Get started
        </Button>
        <Button
          variant="alternative"
          size="sm">
          Learn more
        </Button>
      </div>
    </div>
  </div>
</section>
