---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div
    class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative flex flex-col gap-24 lg:gap-12">
    <dl class="grid md:grid-cols-2 gap-8 lg:grid-cols-3">
      <div
        class="flex justify-between rounded-3xl bg-base-50 shadow flex-col lg:gap-12 lg:rotate-6 hover:rotate-0 duration-300">
        <div class="p-8 order-last border-t border-base-200 w-full">
          <Text
            tag="h3"
            variant="displayXL"
            class="text-accent-700">
            80%
          </Text>
        </div>
        <div class="sm:shrink lg:flex-none p-8">
          <Text
            variant="textLG"
            tag="h3"
            class="text-base-900 font-medium">
            Working Individuals
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 text-base-500 font-medium">
            We’re dedicated to delivering outstanding service and value.
          </Text>
        </div>
      </div>
      <div
        class="flex justify-between rounded-3xl bg-accent-700 shadow flex-col lg:gap-28 lg:-rotate-12 hover:rotate-0 duration-300">
        <div class="p-8 order-last border-t border-white/20 w-full">
          <Text
            variant="displayXL"
            tag="h3"
            class="text-white font-medium">
            50B
          </Text>
        </div>
        <div class="sm:shrink lg:flex-none p-8">
          <Text
            variant="textLG"
            tag="h3"
            class="text-white font-medium">
            Massive Earnings
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 text-white font-medium">
            Reap the benefits with substantial returns.
          </Text>
        </div>
      </div>
      <div
        class="flex justify-between rounded-3xl bg-accent-950 shadow flex-col lg:gap-44 lg:rotate-6 hover:rotate-0 duration-300">
        <div class="p-8 order-last border-t border-white/20 w-full">
          <Text
            variant="displayXL"
            tag="h3"
            class="text-white font-medium">
            40M
          </Text>
        </div>
        <div class="sm:shrink lg:flex-none p-8">
          <Text
            variant="textLG"
            tag="h3"
            class="text-white font-medium">
            Super low fee
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 text-base-300 font-medium">
            Enjoy significant savings with our extremely low fee structure.
          </Text>
        </div>
      </div>
    </dl>
    <div class="order-first lg:order-last">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayXL"
        class="mt-4 font-semibold text-base-900">
        Ensure each visitor's experience is impactful, turning casual
        interactions into meaningful connections that drive engagement and
        loyalty.
      </Text>
      <div class="flex flex-wrap items-center gap-2 mt-12">
        <Button
          variant="accent"
          size="sm">
          Get started
        </Button>
        <Button
          variant="alternative"
          size="sm">
          Learn more
        </Button>
      </div>
    </div>
  </div>
</section>
