---
import Text from "@/components/fundations/typography/Text.astro";
---

<section class="overflow-hidden relative">

  <div class="px-8 pt-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative z-10">
    <div class="overflow-hidden">
      <div class="max-w-xl text-center mx-auto lg:text-balance">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-accent-600">
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="display4XL"
          class="mt-4 font-semibold text-base-900">
          Banking &amp; Finance
        </Text>
      </div>
      <img
        src="/images/phone7.png"
        alt="#_"
        class="mx-auto mt-24 max-w-xl relative -mb-[35rem] w-full"
      />
    </div>
  </div>
</section>
