---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
const data = [
  { src: "/integrations/1.svg", alt: "integration 1" },
  { src: "/integrations/2.svg", alt: "integration 2" },
  { src: "/integrations/3.svg", alt: "integration 3" },
  { src: "/integrations/4.svg", alt: "integration 4" },
  { src: "/integrations/5.svg", alt: "integration 5" },
  { src: "/integrations/6.svg", alt: "integration 6" },
  { src: "/integrations/7.svg", alt: "integration 7" },
  { src: "/integrations/8.svg", alt: "integration 8" },
  { src: "/integrations/9.svg", alt: "integration 9" },
  { src: "/integrations/10.svg", alt: "integration 10" },
  { src: "/integrations/11.svg", alt: "integration 11" },
  { src: "/integrations/12.svg", alt: "integration 12" },
  { src: "/integrations/13.svg", alt: "integration 13" },
  { src: "/integrations/14.svg", alt: "integration 14" },
  { src: "/integrations/15.svg", alt: "integration 15" },
  { src: "/integrations/16.svg", alt: "integration 16" },
  { src: "/integrations/17.svg", alt: "integration 17" },
  { src: "/integrations/18.svg", alt: "integration 18" },
  { src: "/integrations/19.svg", alt: "integration 19" },
  { src: "/integrations/20.svg", alt: "integration 20" },
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayXL"
        class="mt-4 font-semibold text-base-900 lg:text-balance">
        Transforming the banking experience for a digital future
      </Text>
      <Text
        class="mt-4 text-base-500 font-medium"
        tag="p"
        variant="textBase">
        The fastest method for working together on staging and temporary
        environments.
      </Text>
    </div>
    <div class="grid grid-cols-1 gap-2 lg:grid-cols-2 mt-12">
      <div class="grid grid-cols-1 gap-2 h-full">
        <div class="flex flex-col justify-center items-center relative">
          <img
            class="h-full object-cover rounded-2xl relative lg:aspect-[16/8]  w-full object-top"
            src="/corporate/1.jpeg"
            alt=""
          />
        </div>
        <div class="grid grid-cols-1 gap-2 sm:grid-cols-2 h-full">
          <div class="flex flex-col gap-2">
            <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
              <img
                src="/widgets/spiral.svg"
                alt="#_"
                class="size-full shadow rounded-2xl"
              />

              <img
                src="/widgets/miniprogress.svg"
                alt="#_"
                class="size-full shadow rounded-2xl"
              />
            </div>
            <div
              class="bg-base-50 rounded-2xl items-center p-8 flex h-full justify-center relative overflow-hidden">
              <div>
                <Text
                  tag="p"
                  variant="textXS"
                  class="font-bold uppercase text-accent-600">
                  Tagline
                </Text>
                <Text
                  tag="h3"
                  variant="textLG"
                  class="mt-4 text-base-900 font-medium">
                  Schedule
                </Text>
                <Text
                  tag="p"
                  variant="textSM"
                  class="mt-2 text-base-500 font-medium">
                  Schedule your integrations effortlessly and automate tasks for
                  seamless workflows.
                </Text>
              </div>
            </div>
          </div>
          <div
            class="flex flex-col h-full justify-between lg:col-span-1 bg-base-50 rounded-3xl">
            <div class="border-t p-8">
              <Text
                tag="h3"
                variant="textLG"
                class="text-base-900 font-medium">
                Dedication
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 text-base-500 font-medium">
                We’re dedicated to delivering outstanding service and value.
              </Text>
            </div>
            <div class="p-8 order-first w-full">
              <Text
                tag="p"
                variant="textLG"
                class="text-accent-700 font-medium">
                100
              </Text>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div class="grid grid-cols-1 gap-2 lg:grid-cols-2 h-full">
          <div
            class="bg-base-50 rounded-2xl flex flex-col h-full justify-between relative overflow-hidden">
            <div class="p-8 relative mt-auto">
              <Text
                tag="p"
                variant="textXS"
                class="font-bold uppercase text-accent-600">
                Tagline
              </Text>
              <Text
                tag="h3"
                variant="textLG"
                class="mt-4 text-base-900 font-medium">
                Functionality
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 text-base-500 font-medium">
                Equipped with advanced features and tools, our solution
                effortlessly manages complex tasks and workflows.
              </Text>
            </div>
            <div class="lg:absolute -top-2 -right-8 ml-8 -mb-4">
              <img
                class="rounded-l-xl shadow h-full w-full"
                src="/widgets/progressCircles.svg"
                alt=""
              />
            </div>
          </div>
          <div class="flex flex-col gap-2">
            <div
              class="bg-base-50 rounded-2xl items-center p-8 flex h-full justify-center relative overflow-hidden">
              <div>
                <Text
                  tag="p"
                  variant="textXS"
                  class="font-bold uppercase text-accent-600">
                  Tagline
                </Text>
                <Text
                  tag="h3"
                  variant="textLG"
                  class="mt-4 text-base-900 font-medium">
                  Schedule
                </Text>
                <Text
                  tag="p"
                  variant="textSM"
                  class="mt-2 text-base-500 font-medium">
                  Schedule your integrations effortlessly and automate tasks for
                  seamless workflows.
                </Text>
              </div>
            </div>
            <img
              src="/widgets/calendar.svg"
              alt="#_"
              class="size-full shadow rounded-2xl"
            />
          </div>
        </div>
        <div class="flex flex-col justify-center items-center relative">
          <img
            class="h-full object-cover rounded-2xl relative lg:aspect-[16/8]  w-full object-top"
            src="/corporate/2.jpeg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
