---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";

import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div>
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayXL"
        class="mt-4 font-semibold text-base-900">
        Ensure each visitor's experience is impactful, turning casual
        interactions into meaningful connections that drive engagement and
        loyalty.
      </Text>
    </div>
    <div
      class="flex flex-col lg:flex-row lg:items-center justify-between mt-12 lg:mt-52 gap-12">
      <div class="flex flex-wrap items-center gap-2">
        <Button
          variant="accent"
          size="sm">
          Get started
        </Button>
        <Button
          variant="alternative"
          size="sm">
          Learn more
        </Button>
      </div>
      <div class="flex items-center gap-2">
        <Text

                      tag="a"
                      href="#_"
                      variant="textMD"
                      class="hover:text-accent-500 font-medium text-base-500">
          <XBrand size="sm" />
        </Text>

        <Text

                      tag="a"
                      href="#_"
                      variant="textMD"
                      class="hover:text-accent-500 font-medium text-base-500">
          <LinkedinBrand size="sm" />
        </Text>
      </div>
    </div>
  </div>
</section>
