---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Link from "@/components/fundations/typography/Link.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div>
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="displaySmall">
        Ensure each visitor's experience is impactful, turning casual
        interactions into meaningful connections that drive engagement and
        loyalty.
      </Heading>
    </div>
    <div
      class="flex flex-col lg:flex-row lg:items-center justify-between mt-12 lg:mt-52 gap-12">
      <div class="flex flex-wrap items-center gap-2">
        <Button
          variant="accent"
          size="sm">
          Get started
        </Button>
        <Button
          variant="alternative"
          size="sm">
          Learn more
        </Button>
      </div>
      <div class="flex items-center gap-2">
        <Link
          tag="a"
          href="#_"
          variant="link">
          <XBrand size="sm" />
        </Link>

        <Link
          tag="a"
          href="#_"
          variant="link">
          <LinkedinBrand size="sm" />
        </Link>
      </div>
    </div>
  </div>
</section>
