<section class="relative overflow-hidden">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="grid items-start grid-cols-1 gap-12 md:grid-cols-2">
      <div class="max-w-xs lg:max-w-2xl lg:mx-0 lg:py-32 lg:flex-auto">
        <div>
          <span
            class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >Tagline</span
          >
          <h1
            class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 sm:text-6xl lg:text-7xl">
            Make every visitor count
          </h1>
          <p
            class="mt-6 text-base font-medium text-gray-500 max-w-xl mx-auto lg:mx-0 lg:text-balance">
            The fastest method for working together on staging and temporary
            environments.
          </p>
          <div
            class="flex flex-col lg:flex-row items-center justify-start gap-4 mt-12">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-medium text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
              aria-label="Action">
              Get started
            </button>
            <div class="text-sm text-gray-500 md:text-left">
              <span class="block">This is some support text</span>
              <span class="block">and this is also.</span>
            </div>
          </div>
          <div class="flex -space-x-2 overflow-hidden mt-8">
            <img
              class="inline-block size-10 rounded-full object-cover object-center"
              src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YXZhdGFyfGVufDB8fDB8fHww"
              alt="#_"
            />
            <img
              class="inline-block size-10 rounded-full object-cover object-center"
              src="https://images.unsplash.com/photo-1580489944761-15a19d654956?q=80&w=2861&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="#_"
            />
            <img
              class="inline-block size-10 rounded-full object-cover object-center"
              src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="#_"
            />
            <img
              class="inline-block size-10 rounded-full object-cover object-center"
              src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="#_"
            />
          </div>
        </div>
      </div>
      <div class="lg:mt-0">
        <div
          class="absolute transform lg:-translate-y-1/2 lg:left-1/2 lg:scale-150 lg:top-1/2 lg:translate-x-8 sm:left-1/2 sm:top-0 sm:translate-x-8">
          <div class="flex items-center space-x-6 lg:space-x-8">
            <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
              <div class="h-full w-44">
                <img
                  alt="#_"
                  class="object-cover"
                  src="/images/phone1.png"
                  decoding="async"
                  height="926"
                  loading="lazy"
                  width="428"
                />
              </div>
              <div class="h-full w-44">
                <img
                  alt="#_"
                  class="object-cover"
                  src="/images/phone2.png"
                  decoding="async"
                  height="926"
                  loading="lazy"
                  width="428"
                />
              </div>
            </div>
            <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
              <div class="h-full w-44">
                <img
                  alt="#_"
                  class="object-cover"
                  src="/images/phone3.png"
                  decoding="async"
                  height="926"
                  loading="lazy"
                  width="428"
                />
              </div>
              <div class="h-full w-44">
                <img
                  alt="#_"
                  class="object-cover"
                  src="/images/phone5.png"
                  decoding="async"
                  height="926"
                  loading="lazy"
                  width="428"
                />
              </div>
              <div class="h-full w-44">
                <img
                  alt="#_"
                  class="object-cover"
                  src="/images/phone2.png"
                  decoding="async"
                  height="926"
                  loading="lazy"
                  width="428"
                />
              </div>
            </div>
            <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
              <div class="h-full w-44">
                <img
                  alt="#_"
                  class="object-cover"
                  src="/images/phone6.png"
                  decoding="async"
                  height="926"
                  loading="lazy"
                  width="428"
                />
              </div>
              <div class="h-full w-44">
                <img
                  alt="#_"
                  class="object-cover"
                  src="/images/phone7.png"
                  decoding="async"
                  height="926"
                  loading="lazy"
                  width="428"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
