---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 pt-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <Text
      tag="p"
      variant="textSM"
      class="font-bold uppercase text-accent-600">
      Tagline
    </Text>
    <Text
      tag="h2"
      variant="display2XL"
      class="mt-4 font-semibold text-base-900 lg:text-balance">
      Transforming the banking experience for a digital future
    </Text>
    <Text
      class="mt-4 text-base-500 font-medium"
      tag="p"
      variant="textBase">
      The fastest method for working together on staging and temporary
      environments.
    </Text>
    <div class="flex flex-wrap items-center gap-2 mt-12">
      <Button
        variant="accent"
        size="sm">
        Get started
      </Button>
      <Button
        variant="alternative"
        size="sm">
        Learn more
      </Button>
    </div>
  </div>
  <div class="mx-auto mt-12 max-w-screen w-full">
    <img
      class="mx-auto object-cover size-full max-h-[40rem] border-y border-base-200"
      src="/images/dashboardLight.svg"
      alt="#_"
    />
  </div>
</section>
