---
export const description = "Split with text on the right and full heigt image";

import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
const data = [
  {
    name: "Fernando Monte",
    title: "Creator of Lexingtonthemes.com",
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions' security and efficiency.",
    imgSrc: "/avatars/1.jpg",
  },
];
---

<div class="relative">
  <div class="lg:absolute lg:inset-0 lg:right-1/2">
    <div class="h-full">
      <img
        class="h-64 w-full bg-base-50 object-cover sm:h-80 lg:h-full lg:border-r border-base-200 object-right"
        src="/images/dashboardLight.svg"
        alt="#_"
      />
    </div>
  </div>
  <div
    class="px-8 pb-24 pt-10 sm:pb-32 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:pb-56 lg:pt-48"
  >
    <div class="lg:col-start-2 lg:pl-12">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:px-12">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-accent-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayBase"
          class="mt-4 font-semibold text-base-900"
        >
          Transforming the banking experience for a digital future
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
        <div class="flex flex-wrap gap-4 mt-12">
          <Button variant="accent" size="sm"> Get started </Button>
          <div class="text-sm text-base-500 md:text-left">
            <Text tag="span" class="block" variant="textBase">
              This is some support text
            </Text>
            <Text tag="span" class="block" variant="textBase">
              and this is also.
            </Text>
          </div>
        </div>
        <ul role="list" class="mt-6 pt-6 border-t border-base-200">
          {
            data.map((member) => (
              <>
                <li>
                  <figure class="flex flex-col  h-full ">
                    <Text
                      tag="blockquote"
                      variant="textLG"
                      class=" text-base-500 italic font-medium"
                    >
                      {member.testimonial}
                    </Text>
                    <figcaption>
                      <div class="flex items-center gap-2 mt-8">
                        <img
                          class="nline-block size-12 rounded-full"
                          src={member.imgSrc}
                          alt="#_"
                        />
                        <div>
                          <Text
                            tag="p"
                            variant="textBase"
                            class=" text-base-900  font-medium"
                          >
                            {member.name}
                          </Text>
                          <Text
                            tag="p"
                            variant="textSM"
                            class=" text-base-500  font-medium"
                          >
                            {member.title}
                          </Text>
                        </div>
                      </div>
                    </figcaption>
                  </figure>
                </li>
              </>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>
