---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
const data = [
  {
    name: "Mike Vega",
    title: "Creator of Oxbow UI.com",
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions' security and efficiency.",
    imgSrc: "/avatars/1.avif",
  },
];
---

<div class="relative">
  <div class="lg:absolute lg:inset-0 lg:right-1/2">
    <div class="h-full">
      <img
        class="h-64 w-full bg-base-50 object-cover sm:h-80 lg:h-full lg:border-r"
        src="/images/dashboardLight.svg"
        alt="#_"
      />
    </div>
  </div>
  <div
    class="px-8 pb-24 pt-10 sm:pb-32 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:pb-56 lg:pt-48">
    <div class="lg:col-start-2 lg:pl-12">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:px-12">
        <Text
          tag="span"
          variant="eyebrow">
          Tagline
        </Text>
        <Heading
          class="mt-12"
          level={1}
          variant="default">
          Explore our massive investment management solutions
        </Heading>
        <Text
          class="mt-4"
          tag="p"
          variant="body">
          Integrating with existing systems is smooth and hassle-free, thanks to
          our incredible flexible approach.
        </Text>
        <div class="flex flex-wrap gap-4 mt-12">
          <Button
            variant="accent"
            size="sm">
            Get started
          </Button>
          <div class="text-sm text-base-500">
            <span class="block">This is some support text</span>
            <span class="block">and this is also.</span>
          </div>
        </div>
        <ul
          role="list"
          class="mt-6 pt-6 border-t">
          {
            data.map((member) => (
              <>
                <li>
                  <figure class="flex flex-col  h-full ">
                      <Text
                        tag="blockquote"
                        variant="blockquote">
                        {member.testimonial}
                      </Text>

                    <figcaption>
                      <div class="flex items-center gap-2 mt-8">
                        <img
                          class="nline-block size-9 rounded-full"
                          src={member.imgSrc}
                          alt="#_"
                        />
                        <div>
                          <h3 class="text-sm font-medium text-base-700 group-hover:text-accent-500">
                            {member.name}
                          </h3>
                          <p class="text-xs font-medium text-base-400 ">
                            {member.title}
                          </p>
                        </div>
                      </div>
                    </figcaption>
                  </figure>
                </li>
              </>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>
