---
import Button from "@/components/fundations/buttons/Button.astro";
---

<section class="overflow-hidden">
  <div class="px-8 pt-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl text-center mx-auto lg:text-balance">
      <span
        class="font-mono text-xs font-medium tracking-tight text-accent-600 uppercase"
        >Tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight lg:text-7xl text-base-900 sm:text-balance">
        Make every visitor count
      </h1>
      <p class="mt-6 text-base font-medium text-base-500">
        The fastest method for working together on staging and temporary
        environments.
      </p>
      <div
        class="flex flex-wrap items-center gap-2 justify-center mx-auto mt-12">
        <Button
          variant="accent"
          size="sm">
          Get started
        </Button>
        <Button
          variant="alternative"
          size="sm">
          Learn more
        </Button>
      </div>
    </div>

    <div class="mt-12 relative overflow-hidden">
      <img
        class="object-cover h-full border rounded-t-2xl -mb-12"
        src="/images/dashboardLight.svg"
        alt="#_"
      />
      <div
        class="relative"
        aria-hidden="true">
        <div
          class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-white pt-[7%]">
        </div>
      </div>
    </div>
  </div>
</section>
