---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section class="overflow-hidden">
  <div class="px-8 pt-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl text-center mx-auto lg:text-balance">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-base-900">
        Transforming the banking experience for a digital future
      </Text>
       <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-base-500 font-medium">
        The fastest method for working together on staging and temporary
        environments.
      </Text>
      <div
        class="flex flex-wrap items-center gap-2 justify-center mx-auto mt-12">
        <Button
          variant="accent"
          size="sm">
          Get started
        </Button>
        <Button
          variant="alternative"
          size="sm">
          Learn more
        </Button>
      </div>
    </div>

    <div class="mt-12 relative overflow-hidden">
      <img
        class="object-cover h-full border rounded-t-2xl -mb-12"
        src="/images/dashboardLight.svg"
        alt="#_"
      />
      <div
        class="relative"
        aria-hidden="true">
        <div
          class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-white pt-[7%]">
        </div>
      </div>
    </div>
  </div>
</section>
