---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section class="overflow-hidden">
  <div class="px-8 pt-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl text-center mx-auto lg:text-balance">
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-12"
        level={1}
        variant="default">
        We employ state of the art security measures to safeguard your sensitive
        information
      </Heading>
      <Text
        class="mt-4"
        tag="p"
        variant="body">
        Integrating with existing systems is smooth and hassle-free, thanks to
        our incredible flexible approach.
      </Text>
      <div
        class="flex flex-wrap items-center gap-2 justify-center mx-auto mt-12">
        <Button
          variant="accent"
          size="sm">
          Get started
        </Button>
        <Button
          variant="alternative"
          size="sm">
          Learn more
        </Button>
      </div>
    </div>

    <div class="mt-12 relative overflow-hidden">
      <img
        class="object-cover h-full border rounded-t-2xl -mb-12"
        src="/images/dashboardLight.svg"
        alt="#_"
      />
      <div
        class="relative"
        aria-hidden="true">
        <div
          class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-white pt-[7%]">
        </div>
      </div>
    </div>
  </div>
</section>
