---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import ChevronLeft from "@/components/fundations/icons/ChevronLeft.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
---

<section class="overflow-hidden relative">
  <div
    class="px-8 py-24 mx-auto md:px-12 lg:px-24 items-center max-w-7xl relative">
    <div
      class="flex flex-col w-full"
      x-data="{
          skip: 1,
          atBeginning: false,
          atEnd: false,
          next() {
              this.to((current, offset) => current + (offset * this.skip))
          },
          prev() {
              this.to((current, offset) => current - (offset * this.skip))
          },
          to(strategy) {
              let slider = this.$refs.slider
              let current = slider.scrollLeft
              let offset = slider.firstElementChild.getBoundingClientRect().width
              slider.scrollTo({ left: strategy(current, offset), behavior: 'smooth' })
          },
          focusableWhenVisible: {
              'x-intersect:enter'() {
                  this.$el.removeAttribute('tabindex')
              },
              'x-intersect:leave'() {
                  this.$el.setAttribute('tabindex', '-1')
              },
          },
          disableNextAndPreviousButtons: {
              'x-intersect:enter.threshold.05'() {
                  let slideEls = this.$el.parentElement.children
                  // If this is the first slide.
                  if (slideEls[0] === this.$el) {
                      this.atBeginning = true
                  // If this is the last slide.
                  } else if (slideEls[slideEls.length-1] === this.$el) {
                      this.atEnd = true
                  }
              },
              'x-intersect:leave.threshold.05'() {
                  let slideEls = this.$el.parentElement.children
                  // If this is the first slide.
                  if (slideEls[0] === this.$el) {
                      this.atBeginning = false
                  // If this is the last slide.
                  } else if (slideEls[slideEls.length-1] === this.$el) {
                      this.atEnd = false
                  }
              },
          },
      }">
      <div
        class="flex flex-col w-full"
        aria-labelledby="carousel-label"
        role="region"
        tabindex="0"
        x-on:keydown.left="prev"
        x-on:keydown.right="next">
        <div class="w-full">
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-accent-600">
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="display4XL"
            class="mt-4 font-semibold text-base-900">
            Discover properties that move you
          </Text>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex flex-wrap items-center gap-2 mt-12">
            <Button
              variant="default"
              size="sm">
              Get started
            </Button>
            <Button
              variant="alternative"
              size="sm">
              Learn more
            </Button>
          </div>
          <div
            class="items-center inline-flex mt-4 order-last space-x-2 ml-auto">
            <IconButton
              :class="{ 'opacity-50 ': atBeginning }"
              :aria-disabled="atBeginning"
              :tabindex="atEnd ? -1 : 0"
              x-on:click="prev"
              tabindex="0"
              variant="alternative"
              size="sm">
              <ChevronLeft
                size="base"
                slot="icon"
              />
              <span class="sr-only">Skip to previous slide page</span>
            </IconButton>
            <IconButton
              :class="{ 'opacity-50 ': atEnd }"
              :aria-disabled="atEnd"
              :tabindex="atEnd ? -1 : 0"
              x-on:click="next"
              tabindex="0"
              variant="alternative"
              size="sm">
              <ChevronRight
                size="base"
                slot="icon"
              />
              <span class="sr-only">Skip to next slide page</span>
            </IconButton>
          </div>
        </div>
        <div class="flex flex-col-reverse lg:flex-row">
          <div class="w-full snap-x lg:-mr-[90rem] mt-12 lg:mt-0">
            <ul
              class="gap-3 rounded-2xl overflow-x-scroll p-2 py-12 w-screen grid grid-flow-col auto-cols-max scrollbar-hide snap-mandatory relative"
              role="listbox"
              aria-labelledby="carousel-content-label"
              tabindex="0"
              x-ref="slider">
              <li
                role="option"
                aria-selected="false"
                x-bind="disableNextAndPreviousButtons"
                class="snap-start">
                <img
                  class="aspect-[3/2] w-full object-cover object-top max-h-96"
                  src="/homes/1.jpeg"
                  alt=""
                />
                <Text
                  tag="a"
                  href="#_"
                  variant="textMD"
                  class="hover:text-accent-500 mt-4 font-medium flex items-center gap-2 text-base-900">
                  Read further
                  <ChevronRight size="sm" />
                </Text>
              </li>
              <li
                role="option"
                aria-selected="false"
                x-bind="disableNextAndPreviousButtons"
                class="snap-start">
                <img
                  class="aspect-[3/2] w-full object-cover object-top max-h-96"
                  src="/homes/2.jpeg"
                  alt=""
                />
                <Text
                  tag="a"
                  href="#_"
                  variant="textMD"
                  class="hover:text-accent-500 mt-4 font-medium flex items-center gap-2 text-base-900">
                  Read further
                  <ChevronRight size="sm" />
                </Text>
              </li>
              <li
                role="option"
                aria-selected="false"
                x-bind="disableNextAndPreviousButtons"
                class="snap-start">
                <img
                  class="aspect-[3/2] w-full object-cover object-top max-h-96"
                  src="/homes/3.jpeg"
                  alt=""
                />
                <Text
                  tag="a"
                  href="#_"
                  variant="textMD"
                  class="hover:text-accent-500 mt-4 font-medium flex items-center gap-2 text-base-900">
                  Read further
                  <ChevronRight size="sm" />
                </Text>
              </li>
              <li
                role="option"
                aria-selected="false"
                x-bind="disableNextAndPreviousButtons"
                class="snap-start">
                <img
                  class="aspect-[3/2] w-full object-cover object-top max-h-96"
                  src="/homes/4.jpeg"
                  alt=""
                />
                <Text
                  tag="a"
                  href="#_"
                  variant="textMD"
                  class="hover:text-accent-500 mt-4 font-medium flex items-center gap-2 text-base-900">
                  Read further
                  <ChevronRight size="sm" />
                </Text>
              </li>
              <li
                role="option"
                aria-selected="false"
                x-bind="disableNextAndPreviousButtons"
                class="snap-start">
                <img
                  class="aspect-[3/2] w-full object-cover object-top max-h-96"
                  src="/homes/5.jpeg"
                  alt=""
                />
                <Text
                  tag="a"
                  href="#_"
                  variant="textMD"
                  class="hover:text-accent-500 mt-4 font-medium flex items-center gap-2 text-base-900">
                  Read further
                  <ChevronRight size="sm" />
                </Text>
              </li>
              <li
                role="option"
                aria-selected="false"
                x-bind="disableNextAndPreviousButtons"
                class="snap-start">
                <img
                  class="aspect-[3/2] w-full object-cover object-top max-h-96"
                  src="/homes/6.jpeg"
                  alt=""
                />
                <Text
                  tag="a"
                  href="#_"
                  variant="textMD"
                  class="hover:text-accent-500 mt-4 font-medium flex items-center gap-2 text-base-900">
                  Read further
                  <ChevronRight size="sm" />
                </Text>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
