---
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="relative">
  <div class="mx-auto max-w-screen grid lg:px-8">
    <div
      class="px-8 pt-[35rem] pb-12 lg:col-span-full z-50 lg:px-0 lg:pt-[35rem] flex flex-col justify-end">
      <Text
        tag="p"
        variant="textLG"
        class="mt-4 text-white font-medium max-w-xl text-balance">
        The fastest method for working together on staging and temporary
        environments.
      </Text>
      <Text
        tag="h2"
        variant="display5XL"
        class="font-black mt-4 text-white md:text-balance">
        The fastest
      </Text>
      <Text
        tag="h2"
        variant="display5XL"
        class="font-black text-white md:text-balance mix-blend-difference">
        Transforming
      </Text>
    </div>
    <img
      class="w-full absolute object-center object-cover inset-0 aspect-auto h-full"
      src="/pose/3.png"
      alt="Dashboard preview"
    />
  </div>
</div>
