---
export const description =
  "Left aligned with full size background image and large text";

import Text from "@/components/fundations/typography/Text.astro";
---

<div class="relative overflow-hidden">
  <div class="absolute inset-0 bg-white/70 z-10"></div>
  <div class="mx-auto max-w-screen grid lg:px-8 relative">
    <div
      class="px-8 pt-[35rem] pb-12 z-50 lg:px-0 lg:pt-[35rem] flex flex-col justify-end"
    >
      <Text
        tag="p"
        variant="textLG"
        class="mt-4 text-black font-semibold max-w-xl text-balance"
      >
        The fastest method for working together on staging and temporary
        environments.
      </Text>
      <Text
        tag="h2"
        variant="display4XL"
        class="font-black mt-4 text-black md:text-balance"
      >
        The fastest
        <br />
        Transforming
      </Text>
    </div>
  </div>
  <img
    class="w-full absolute object-center object-cover inset-0 aspect-auto h-full"
    src="/pose/3.png"
    alt="Dashboard preview"
  />
</div>
