---
export const description =
"Centered aligned with full size background image and large text";
import Text from "@/components/fundations/typography/Text.astro";
---


<div class="relative overflow-hidden">
  <div class="absolute inset-0 bg-white/70 z-10"></div>
  <div class="mx-auto max-w-screen grid">
    <div
      class="px-8 py-96 z-50 lg:px-0 lg:py-96 text-center flex flex-col justify-end">
      <Text
        tag="h2"
        variant="display5XL"
        class="font-black text-black md:text-balance mix-blend-difference">
        Transforming
      </Text>
    </div>
  </div>
  <img
    class="w-full absolute object-center object-cover inset-0 aspect-auto h-full"
    src="/pose/3.png"
    alt="Dashboard preview"
  />
</div>
