---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 pt-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <Text
      tag="span"
      variant="eyebrow">
      Tagline
    </Text>
    <Heading
      class="mt-12 lg:text-balance"
      level={1}
      variant="display">
      Take charge of your financial well-being from today
    </Heading>
    <Text
      class="mt-4"
      tag="p"
      variant="body">
      Integrating with existing systems is smooth and hassle-free, thanks to
      our incredible flexible approach.
    </Text>
    <div
      class="flex flex-wrap items-center gap-2   mt-12">
      <Button
        variant="accent"
        size="sm">
        Get started
      </Button>
      <Button
        variant="alternative"
        size="sm">
        Learn more
      </Button>
    </div>
   
  </div>
  <div class="mx-auto mt-12 max-w-screen w-full">
    <img
      class="mx-auto object-cover size-full max-h-[40rem] border-y"
      src="/images/dashboardLight.svg"
      alt="#_"
    />
  </div>
</section>
