---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---
<section>
  <div class="px-8 pt-24 lg:pt-72  max-w-2xl ml-auto">
    <Text
      tag="h2"
      variant="displayLG"
      class="mt-4 font-semibold text-base-900  ml-auto ">
      Premium banking solutions for real customers
    </Text>
  </div>
  <div class="mx-auto mt-12 max-w-screen w-full">
    <img
      class="mx-auto object-cover size-full max-h-[40rem] border-y"
      src="/pose/3.png"
      alt="#_"
    />
  </div>
</section>
