---
import Button from "@/components/fundations/buttons/Button.astro";
---

<section class="relative overflow-hidden">
  <div
    class="px-8 pt-24 pb-12 lg:pb-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl text-center mx-auto lg:text-balance">
      <span
        class="font-mono text-xs font-medium tracking-tight text-accent-600 uppercase"
        >Tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight lg:text-7xl text-base-900 sm:text-balance">
        Make every visitor count
      </h1>
      <p class="mt-6 text-base font-medium text-base-500">
        The fastest method for working together on staging and temporary
        environments.
      </p>
      <div
        class="flex flex-wrap items-center gap-2 justify-center mx-auto mt-12">
        <Button
          variant="accent"
          size="sm">
          Get started
        </Button>
        <Button
          variant="alternative"
          size="sm">
          Learn more
        </Button>
      </div>
    </div>
  </div>
  <div
    class="flex justify-center gap-5 overflow-hidden sm:gap-4 pb-4 pt-12 lg:-mt-24">
    <div
      class="relative aspect-[4/3] w-44 lg:hover:rotate-0 duration-300 hover:-translate-y-12 flex-none sm:w-96 h-full drop-shadow -rotate-12">
      <img
        alt="#_"
        loading="lazy"
        width="3936"
        height="2624"
        decoding="async"
        class="absolute inset-0 h-full w-full"
        src="/images/blueCard.svg"
      />
    </div>
    <div
      class="relative aspect-[4/3] w-44 lg:hover:rotate-0 duration-300 hover:-translate-y-12 flex-none sm:w-96 h-full drop-shadow rotate-6">
      <img
        alt="#_"
        loading="lazy"
        width="3936"
        height="2624"
        decoding="async"
        class="absolute inset-0 h-full w-full"
        src="/images/whiteCard.svg"
      />
    </div>
    <div
      class="relative aspect-[4/3] w-44 lg:hover:rotate-0 duration-300 hover:-translate-y-12 flex-none sm:w-96 h-full drop-shadow -rotate-12">
      <img
        alt="#_"
        decoding="async"
        class="absolute inset-0 h-full w-full"
        src="/images/blueCard.svg"
      />
    </div>
    <div
      class="relative aspect-[4/3] w-44 lg:hover:rotate-0 duration-300 hover:-translate-y-12 flex-none sm:w-96 h-full drop-shadow rotate-6">
      <img
        alt="#_"
        loading="lazy"
        width="2400"
        height="3000"
        decoding="async"
        class="absolute inset-0 h-full w-full"
        src="/images/darkCard.svg"
      />
    </div>
    <div
      class="relative aspect-[4/3] w-44 lg:hover:rotate-0 duration-300 hover:-translate-y-12 flex-none sm:w-96 h-full drop-shadow -rotate-12">
      <img
        alt="#_"
        loading="lazy"
        width="4240"
        height="2384"
        decoding="async"
        class="absolute inset-0 h-full w-full"
        src="/images/blueCard.svg"
      />
    </div>
  </div>
</section>
