---
export const description =
  "Right aligned with split image on the bottom";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 pt-24 lg:pt-72 max-w-2xl ml-auto">
    <Text
      tag="h2"
      variant="displayBase"
      class="mt-4 font-semibold text-base-900 ml-auto lg:text-balance"
    >
    The fastest method for working together on staging and temporary
    environments.
    </Text>
  </div>
  <div class="mx-auto mt-12 max-w-screen w-full">
    <img
      class="mx-auto object-cover size-full max-h-[40rem] "
      src="/pose/3.png"
      alt="#_"
    />
  </div>
</section>
