---
export const description =
  "Left aligned with grid";
import Text from "@/components/fundations/typography/Text.astro";
const data = [
  {
    icon: "User",
    category: "Biography",
    text: "I'm Tyrone, your friendly neighborhood UI/UX Interaction Designer based in London! I design with passion and the occasional panic-induced caffeine rush. Let's create something that even your mom would be proud of!",
  },
  {
    icon: "Location",
    category: "Contact",
    text: "Located in London, UK. You can reach me at hello@brunoerdison.com or call +68 3568 89 86.",
  },
  {
    icon: "List",
    category: "Services",
    text: "Offering services in Website Design, Mobile App Design, and Animation to bring your ideas to life.",
  },
];
const stats = [
  {
    label: "Years of experience",
    value: "25",
  },
  {
    label: "Client satisfaction",
    value: "100%",
  },
  {
    label: "Clients worldwide",
    value: "300+",
  },
  {
    label: "Projects done",
    value: "842",
  },
];

---

<section>
  <div class="relative px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-24">
    
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-12">
      <div class="flex flex-col order-last h-full lg:order-none">
        <dl class="flex flex-col order-last mt-auto gap-12 xl:order-none">
          {
            data.map((section) => (
              <div>
                <dt>
                  <Text
                    variant="textLG"
                    tag="h3"
                    class="font-medium text-base-900"
                  >
                    {section.category}
                  </Text>
                </dt>
                <dd>
                  <Text
                    tag="p"
                    variant="textSM"
                    class="mt-2 font-medium text-base-500"
                  >
                    {section.text}
                  </Text>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
      <div class="order-first lg:order-none sm:col-span-2">
        <img class="h-full" src="/pose/7.png" alt="" />
      </div>
      <div class="flex flex-col justify-between gap-6 lg:text-right">
        {
          stats.map((stat) => (
            <div class="flex flex-col">
              <Text tag="p" variant="display2XL" class="text-base-900">
                {stat.value}
              </Text>
              <Text
                tag="h3"
                variant="textBase"
                class="font-medium  text-base-600"
              >
                {stat.label}
              </Text>
            </div>
          ))
        }
      </div>
    </div>
    
  </div>
</section>
