---
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="relative">
  <div class="mx-auto max-w-screen grid lg:px-8">
    <div
      class="px-8 py-96 z-50 lg:px-0 lg:py-96 text-center flex flex-col justify-end">
      <Text
        tag="h2"
        variant="display5XL"
        class="font-black text-white md:text-balance mix-blend-difference">
        Transforming
      </Text>
    </div>
    <img
      class="w-full absolute object-center object-cover inset-0 aspect-auto h-full"
      src="/pose/3.png"
      alt="Dashboard preview"
    />
  </div>
</div>
