---
const listItems = [
  "Great communication",
  "Enhancing productivity",
  "Advanced  measures",
  "Seamless integration",

];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="flex flex-col gap-24">
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-24 items-center">
        <div>
          <span class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase">Your tagline</span>
          <h1
            class="text-3xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
            Transform your visitors into users with an engaging headline
          </h1>
          <p class="text-base font-medium mt-4 text-gray-500">
            The fastest and most efficient method for working together on
            staging and temporary environments.
          </p>
         <ul
          class="text-base font-medium text-gray-900 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-2 mt-12">
          {
            listItems.map((item, index) => (
              <li>
                <div class="relative flex flex-row items-start gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-check-filled text-blue-600"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    strokeWidth="2"
                    stroke="currentColor"
                    fill="none"
                    strokeLinecap="round"
                    strokeLinejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    />
                    <path
                      d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                      strokeWidth="0"
                      fill="currentColor"
                    />
                  </svg>
                  <p>{item}</p>
                </div>
              </li>
            ))
          }
        </ul>
        </div>
        <div class="md:order-first">
          <img
            alt="#_"
            class="relative w-full rounded-2xl drop-shadow"
            src="/images/darkCard.svg"
          />
        </div>
      </div><div
        class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-24 items-center md:flex-row-reverse">
        <div>
          <span class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase">Your tagline</span>
          <h1
            class="text-3xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
            Transform your visitors into <span
              >users with an engaging headline</span
            >
          </h1>
          <p class="text-base font-medium mt-4 text-gray-500">
            The fastest and most efficient method for working together on
            staging and temporary environments.
          </p>
         <ul
          class="text-base font-medium text-gray-900 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-2 mt-12">
          {
            listItems.map((item, index) => (
              <li>
                <div class="relative flex flex-row items-start gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-check-filled text-blue-600"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    strokeWidth="2"
                    stroke="currentColor"
                    fill="none"
                    strokeLinecap="round"
                    strokeLinejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    />
                    <path
                      d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                      strokeWidth="0"
                      fill="currentColor"
                    />
                  </svg>
                  <p>{item}</p>
                </div>
              </li>
            ))
          }
        </ul>
        </div>
        <div class="">
          <img
            alt="#_"
            class="relative w-full rounded-2xl drop-shadow"
            src="/images/blueCard.svg"
          />
        </div>
      </div>
    </div>
  </div>
</section>
