---
export const freeComponent = true;
export const excludeFromObfuscation = [
  'flex',
  'hidden'
];

import Button from "@/components/fundations/buttons/Button.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import Burger from "@/components/fundations/icons/Burger.astro";
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
---

<div class="justify-center w-full mx-auto bg-base-50">
  <!-- Banner Section -->
  <div
    class="flex items-center justify-center px-8 py-2 text-white lg:h-12 bg-gradient-to-b from-accent-500 to-accent-600"
  >
    <div class="flex flex-col justify-center lg:flex-row lg:items-center gap-4">
      <div class="text-xs font-medium">
        <Text tag="span" variant="textSM" class="font-medium text-white">
          We have launched a new version of Oxbow UI
        </Text>
      </div>
      <div class="hidden w-px h-6 lg:block bg-white/20"></div>
      <div>
        <Text
          tag="a"
          href="#_"
          variant="textSM"
          class="flex items-center font-medium text-white hover:text-accent-200 gap-2"
        >
          Talk to sales
          <ChevronRight size="sm" />
        </Text>
      </div>
    </div>
  </div>
  <!-- Navigation Section with Alpine.js State Management -->
  <div
    x-data="{ open: false }"
    class="relative flex flex-col w-full px-8 py-2 mx-auto md:px-12 md:items-center md:justify-between md:flex-row lg:px-24 max-w-screen-xl"
  >
    <div class="flex flex-row items-center justify-between text-black">
      <!-- Logo Section -->
      <Text
        tag="a"
        href="#_"
        variant="textBase"
        class="flex items-center font-medium hover:text-accent-500 gap-2 text-base-900"
      >
        <img
          class="h-7 2xl:h-12"
          src="/images/oxbow/blueLineLogo.png"
          alt="#_"
        /> Oxbow UI
      </Text>
      <IconButton
        class="md:hidden"
        @click="open = !open"
        variant="alternative"
        size="sm"
      >
        <Burger size="xs" slot="icon" />
      </IconButton>
    </div>
    <!-- Navigation Menu -->
    <nav
      :class="{ 'flex': open, 'hidden': !open }"
      class="flex-col items-center flex-grow hidden p-4 px-5 gap-3 md:px-0 md:pb-0 md:flex md:justify-start md:flex-row lg:p-0"
    >
      <Button class="md:ml-auto" variant="accent" size="sm">Button</Button>
    </nav>
  </div>
</div>
