---
export const freeComponent = true;
export const excludeFromObfuscation = ["flex", "hidden"];
import Button from "@/components/fundations/buttons/Button.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import Burger from "@/components/fundations/icons/Burger.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Logo from "@/components/assets/Logo.astro";
---
<!-- copy:start -->
<a
  href="#content"
  class="px-3 py-1 text-white sr-only focus:not-sr-only focus:absolute focus:top-2 focus:left-2 focus:z-50 bg-zinc-900 rounded-md"
  >Skip to content</a
>
<header
  class="w-full border-b border-zinc-200 dark:border-zinc-800 bg-white/80 dark:bg-zinc-900/80 backdrop-blur supports-[backdrop-filter]:bg-white/60 supports-[backdrop-filter]:dark:bg-zinc-900/60"
>
  <div
    x-data="{ open:false }"
    class="px-6 mx-auto max-w-screen-xl md:px-10 lg:px-16"
  >
    <div class="flex items-center justify-between h-14 gap-3">
      <a href="#_" class="inline-flex items-center gap-2">
        <Logo class="text-black h-7 dark:text-white" />
        <span class="sr-only">Home</span>
      </a>
      <IconButton
        class="md:hidden"
        @click="open=!open"
        :aria-expanded="open"
        aria-controls="nav-01m"
        variant="muted"
        size="xs"
      >
        <Burger size="xs" slot="icon" />
      </IconButton>
      <!-- Desktop navigation (always hidden on mobile) -->
      <nav
        id="nav-01"
        aria-label="Primary"
        class="items-center hidden md:flex gap-4"
      >
        <Text
          tag="a"
          href="#_"
          variant="textSM"
          class="font-medium text-zinc-600 dark:text-zinc-300 dark:hover:text-white hover:text-zinc-900"
          >Features</Text
        >
        <Text
          tag="a"
          href="#_"
          variant="textSM"
          class="font-medium text-zinc-600 dark:text-zinc-300 dark:hover:text-white hover:text-zinc-900"
          >Pricing</Text
        >
        <Text
          tag="a"
          href="#_"
          variant="textSM"
          class="font-medium text-zinc-600 dark:text-zinc-300 dark:hover:text-white hover:text-zinc-900"
          >Docs</Text
        >
        <span
          aria-hidden
          class="hidden w-px h-4 mx-1 bg-zinc-200 dark:bg-zinc-300 md:block"
        ></span>
        <Text
          tag="a"
          href="#_"
          variant="textSM"
          class="font-medium text-zinc-600 dark:text-zinc-300 dark:hover:text-white hover:text-zinc-900"
          >Sign in</Text
        >
        <Button variant="default" size="xs">Get started</Button>
      </nav>
    </div>
    <!-- Mobile menu -->
    <nav
      id="nav-01m"
      x-cloak
      x-show="open"
      aria-label="Mobile"
      class="pb-3 md:hidden grid grid-cols-1 gap-2"
    >
      <Button variant="muted" size="xs">Features</Button>
      <Button variant="muted" size="xs">Pricing</Button>
      <Button variant="muted" size="xs">Docs</Button>
      <Button variant="muted" size="xs">Sign in</Button>
      <Button variant="default" size="xs">Get started</Button>
    </nav>
  </div>
  <div id="content" class="sr-only"></div>
</header>
<!-- copy:end -->
