---
import Button from "@/components/fundations/buttons/Button.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import Burger from "@/components/fundations/icons/Burger.astro";
import Text from "@/components/fundations/typography/Text.astro";

export const excludeFromObfuscation = ["flex", "hidden"];
---

<!-- copy:start -->
<header class="w-full mx-auto bg-zinc-50">
  <div
    x-data="{ open: false }"
    class="relative flex flex-col w-full px-8 py-2 mx-auto md:px-12 md:items-center md:justify-between md:flex-row lg:px-24 max-w-screen-xl"
  >
    <!-- Brand + mobile toggle -->
    <div class="flex flex-row items-center justify-between text-black">
      <Text
        tag="a"
        href="#_"
        variant="textBase"
        class="flex items-center font-medium hover:text-blue-500 gap-2 text-zinc-900"
      >
        <img
          class="h-7 2xl:h-12"
          src="/images/oxbow/blueLineLogo.png"
          alt="Oxbow UI"
        />
        Oxbow UI
      </Text>

      <IconButton
        class="md:hidden"
        @click="open = !open"
        :aria-expanded="open"
        aria-controls="main-nav"
        aria-label="Toggle navigation"
        variant="alternative"
        size="sm"
      >
        <Burger size="xs" slot="icon" />
      </IconButton>
    </div>

    <!-- Primary navigation -->
    <nav
      id="main-nav"
      :class="{ 'flex': open, 'hidden': !open }"
      class="flex-col items-center flex-grow hidden p-4 px-5 text-xs font-medium gap-3 text-zinc-500 md:px-0 md:pb-0 md:flex md:justify-start md:flex-row md:ml-4 lg:p-0 md:mt-0"
    >
      <Text
        href="#_"
        tag="a"
        variant="textBase"
        class="font-medium hover:text-blue-500 text-zinc-500"
      >
        Features
      </Text>
      <Text
        href="#_"
        tag="a"
        variant="textBase"
        class="font-medium hover:text-blue-500 text-zinc-500 md:mr-auto"
      >
        About
      </Text>
      <Button variant="accent" size="sm">Button</Button>
    </nav>
  </div>
</header>
<!-- copy:end -->
