---
import Button from "@/components/fundations/buttons/Button.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import Burger from "@/components/fundations/icons/Burger.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Link from "@/components/fundations/typography/Link.astro";
---

<div class="justify-center w-full mx-auto bg-base-50">
  <div
    x-data="{ open: false }"
    class="flex flex-col w-full mx-auto md:px-12 md:items-center md:justify-between md:flex-row px-8 py-2 lg:px-24 max-w-screen-xl relative">
    <div class="flex flex-row items-center justify-between text-black">
      <Link
        class="w-full sm:w-auto flex gap-3 items-center"
        href="#_"
        tag="a"
        variant="navigationLink">
        <img
          class="h-7 2xl:h-12"
          src="/images/oxbow/blueLineLogo.png"
          alt="#_"
        /> Oxbow UI
      </Link>
      <IconButton
        class="md:hidden"
        @click="open = !open"
        variant="alternative"
        size="sm">
        <Burger
          size="xs"
          slot="icon"
        />
      </IconButton>
    </div>
    <nav
      :class="{'flex': open, 'hidden': !open}"
      class="flex-col items-center flex-grow hidden gap-3 p-4 px-5 text-xs font-medium text-base-500 md:px-0 md:pb-0 md:flex md:justify-start md:flex-row md:ml-4 lg:p-0 md:mt-0">
      <Link

        href="#_"
        tag="a"
        variant="navigationLink"
        >Features</Link
      >
      <Link
        href="#_"
        tag="a"
        class="md:mr-auto"
        variant="navigationLink"
        >About</Link
      >

      <Button
        variant="accent"
        size="sm">
        Button
      </Button>
    </nav>
  </div>
</div>
