---
import Button from "@/components/fundations/buttons/Button.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import Burger from "@/components/fundations/icons/Burger.astro";
import Text from "@/components/fundations/typography/Text.astro";
---
<div class="justify-center w-full mx-auto bg-base-50">
  <div
    x-data="{ open: false }"
    class="flex flex-col w-full mx-auto md:px-12 md:items-center md:justify-between md:flex-row px-8 py-2 lg:px-24 max-w-screen-xl relative">
    <div class="flex flex-row items-center justify-between text-black">
      <Text
        tag="a"
        href="#_"
        variant="textMD"
        class="hover:text-accent-500 font-medium flex items-center gap-2 text-base-900">
        <img
          class="h-7 2xl:h-12"
          src="/images/oxbow/blueLineLogo.png"
          alt="#_"
        /> Oxbow UI
      </Text>
      <IconButton
        class="md:hidden"
        @click="open = !open"
        variant="alternative"
        size="sm">
        <Burger
          size="xs"
          slot="icon"
        />
      </IconButton>
    </div>
    <nav
      :class="{'flex': open, 'hidden': !open}"
      class="flex-col items-center flex-grow hidden gap-3 p-4 px-5 md:px-0 md:pb-0 md:flex md:justify-start md:flex-row lg:p-0">
      <Text
        href="#_"
        tag="a"
        variant="textMD"
        class="hover:text-accent-500 font-medium text-base-500 md:ml-auto"
        >Features</Text
      >
      <Text
        href="#_"
        tag="a"
        variant="textMD"
        class="hover:text-accent-500 font-medium text-base-500 md:mr-auto"
        >About</Text
      >
      <Text
        href="#_"
        tag="a"
        variant="textMD"
        class="hover:text-accent-500 font-medium text-base-500">
        Sign in
      </Text>
      <Button
        variant="accent"
        size="sm">
        Button
      </Button>
    </nav>
  </div>
</div>
