---
import Button from "@/components/fundations/buttons/Button.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import Burger from "@/components/fundations/icons/Burger.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="justify-center w-full mx-auto bg-base-50">
  <div
    x-data="{ open: false }"
    class="flex flex-col w-full mx-auto md:px-12 md:items-center md:justify-between md:flex-row px-8 py-2 lg:px-24 max-w-screen-xl relative"
  >
    <div class="flex flex-row items-center justify-between text-black">
      <Text
        tag="a"
        href="#_"
        variant="textBase"
        class="hover:text-accent-500 font-medium flex items-center gap-2 text-base-900"
      >
        <img
          class="h-7 2xl:h-12"
          src="/images/oxbow/blueLineLogo.png"
          alt="#_"
        /> Oxbow UI
      </Text>
      <IconButton
        class="md:hidden"
        @click="open = !open"
        variant="alternative"
        size="sm"
      >
        <Burger size="xs" slot="icon" />
      </IconButton>
    </div>
    <nav
      :class="{'flex': open, 'hidden': !open}"
      class="flex-col items-center flex-grow hidden gap-3 p-4 px-5 md:px-0 md:pb-0 md:flex md:justify-start md:flex-row lg:p-0"
    >
      <div class="hidden md:block lg:ml-auto">
        <div class="relative">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg
              class="text-base-400 size-5"
              viewBox="0 0 24 24"
              fill="none"
              aria-hidden="true"
            >
              <path
                d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </span>
          <input
            type="text"
            class="w-full py-2 pl-10 pr-4 block h-8 px-4 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
            placeholder="Search"
            aria-label="Search"
          />
        </div>
      </div>
      <Button variant="accent" size="sm"> Button </Button>
    </nav>
  </div>
</div>
