<section>
  <div class="py-32 mx-auto max-w-screen">
    <div class="text-center max-w-xl mx-auto lg:text-balance">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 sm:text-balance">
        Explore our visual showcase
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500 sm:text-balance">
        A curated collection of images capturing the essence of our brand and
        the stories we tell.
      </p>
    </div>
    <div class="-my-4 flex justify-center gap-5 mt-24 overflow-hidden py-4 sm:gap-8">
      <div
        class="relative aspect-[9/10] w-44 flex-none overflow-hidden sm:w-72 rotate-2">
        <img
          alt=""
          class="absolute inset-0 h-full w-full object-cover"
          src="/images/p1.svg"
        />
      </div><div
        class="relative aspect-[9/10] w-44 flex-none overflow-hidden sm:w-72 -rotate-2">
        <img
          alt=""
          class="absolute inset-0 h-full w-full object-cover"
          src="/images/p1.svg"
        />
      </div><div
        class="relative aspect-[9/10] w-44 flex-none overflow-hidden sm:w-72 rotate-2">
        <img
          alt=""
          class="absolute inset-0 h-full w-full object-cover"
          src="/images/p1.svg"
        />
      </div><div
        class="relative aspect-[9/10] w-44 flex-none overflow-hidden sm:w-72 rotate-2">
        <img
          alt=""
          class="absolute inset-0 h-full w-full object-cover"
          src="/images/p1.svg"
        />
      </div><div
        class="relative aspect-[9/10] w-44 flex-none overflow-hidden sm:w-72 -rotate-2">
        <img
          class="absolute inset-0 h-full w-full object-cover"
          alt=""
          src="/images/p1.svg"
        />
      </div>
    </div>
  </div>
</section>
