---
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="group relative aspect-[3/2] overflow-hidden rounded-2xl "
    >
      <img
        src="/store/shoes/airmax/3.png"
        alt="#_"
        class="absolute size-full object-cover group-hover:opacity-75"
      />

      <div class="absolute inset-0 flex items-start p-6">
        <Text tag="p" variant="textBase" class="font-semibold text-base-900">
          <a href="#_">
            <span class="absolute inset-0"></span>
            New Arrivals
          </a>
        </Text>
      </div>
    </div>
  </div>
</section>
