---
export const freeComponent = true;
export const description = "Simple card with overlayed text";
import Text from "@/components/fundations/typography/Text.astro";
---

<section class="bg-white dark:bg-zinc-900">
  <div class="relative px-8 mx-auto md:px-12 lg:px-32 max-w-7xl py-24">
    <div class="group relative aspect-[3/2] overflow-hidden rounded-2xl">
      <img
        src="/store/shoes/airmax/3.png"
        alt="#_"
        class="absolute object-cover size-full group-hover:opacity-75"
      />

      <div class="absolute inset-0 flex items-start p-6">
        <Text
          tag="p"
          variant="textBase"
          class="font-semibold text-zinc-900 dark:text-white"
        >
          <a href="#_">
            <span class="absolute inset-0"></span>
            New Arrivals
          </a>
        </Text>
      </div>
    </div>
  </div>
</section>
