---
export const description = "Category cards in bento style";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="grid grid-cols-1 gap-2 lg:items-center lg:grid-cols-2 mt-12">
      <div class="group relative overflow-hidden rounded-2xl aspect-square">
        <img
          src="/store/shoes/airmax/3.png"
          alt="#_"
          class="absolute size-full object-cover group-hover:opacity-75"
        />
        <div
          aria-hidden="true"
          class="absolute inset-0 bg-gradient-to-b from-transparent to-white/50"
        >
        </div>

        <div class="absolute inset-0 flex items-end justify-center p-6">
          <Text tag="p" variant="textBase" class="font-semibold text-base-900">
            <a href="#_">
              <span class="absolute inset-0"></span>
              Trainers
            </a>
          </Text>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-2 lg:grid-cols-2 h-full">
        <div class="group relative overflow-hidden rounded-2xl">
          <img
            src="/store/backpacks/3.jpeg"
            alt="#_"
            class="absolute size-full object-cover group-hover:opacity-75"
          />
          <div
            aria-hidden="true"
            class="absolute inset-0 bg-gradient-to-b from-transparent to-white/50"
          >
          </div>

          <div class="absolute inset-0 flex items-end justify-center p-6">
            <Text
              tag="p"
              variant="textBase"
              class="font-semibold text-base-900"
            >
              <a href="#_">
                <span class="absolute inset-0"></span>
                Backpacks
              </a>
            </Text>
          </div>
        </div>
        <div
          class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-1 h-full"
        >
          <div class="group relative overflow-hidden rounded-2xl aspect-square">
            <img
              src="/store/jackets/1.png"
              alt="#_"
              class="absolute size-full object-cover group-hover:opacity-75"
            />
            <div
              aria-hidden="true"
              class="absolute inset-0 bg-gradient-to-b from-transparent to-white/50"
            >
            </div>

            <div class="absolute inset-0 flex items-end justify-center p-6">
              <Text
                tag="p"
                variant="textBase"
                class="font-semibold text-base-900"
              >
                <a href="#_">
                  <span class="absolute inset-0"></span>
                  Jackets
                </a>
              </Text>
            </div>
          </div>
          <div class="group relative overflow-hidden rounded-2xl aspect-square">
            <img
              src="/store/shoes/airmax/3.png"
              alt="#_"
              class="absolute size-full object-cover group-hover:opacity-75"
            />
            <div
              aria-hidden="true"
              class="absolute inset-0 bg-gradient-to-b from-transparent to-white/50"
            >
            </div>

            <div class="absolute inset-0 flex items-end justify-center p-6">
              <Text
                tag="p"
                variant="textBase"
                class="font-semibold text-base-900"
              >
                <a href="#_">
                  <span class="absolute inset-0"></span>
                  Trainers
                </a>
              </Text>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
