---
export const description = "Simple cards with description and link below image";
import Text from "@/components/fundations/typography/Text.astro";
const products = [
  {
    image: "/store/shoes/airmax/1.png",
    title: "Trainers",
  },
  {
    image: "/store/jackets/1.png",
    title: "Hoodies",
    link: "#_",
  },
  {
    image: "/store/backpacks/1.jpeg",
    title: "Backpacks",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="relative px-8 mx-auto md:px-12 lg:px-32 max-w-7xl py-24">
    <div class="relative grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {
        products.map((article) => (
          <div>
            <div class="relative">
              <div class="relative aspect-[8/10] w-full overflow-hidden rounded-lg">
                <img
                  src={article.image}
                  alt="#_"
                  class="object-cover size-full"
                />
              </div>
              <div class="relative mt-2">
                <div class="flex items-center justify-between w-full">
                  <Text
                    tag="h3"
                    variant="textSM"
                    class="font-medium text-zinc-900 dark:text-zinc-100"
                  >
                    {article.title}
                  </Text>
                </div>
                <div
                  class="flex items-center gap-1 
 "
                >
                  <Text
                    href="#_"
                    tag="a"
                    variant="textSM"
                    class=" text-zinc-500 dark:text-zinc-300"
                  >
                    Shop now
                  </Text>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
