---
const logos = [
  "/brands/1.svg",
  "/brands/2.svg",
  "/brands/3.svg",
  "/brands/4.svg",
  "/brands/5.svg",
];
---

<section class="relative overflow-hidden">
  <div class="px-8 pt-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div>
      <div class="flex text-center items-center gap-2 text-gray-500 text-sm">
        Anouncing out next move:
        <a
          href="#_"
          aria-label="Action"
          class="text-blue-500 hover:text-gray-900 text-sm font-medium duration-300 flex items-center gap-2">
          Read more
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M9 6l6 6l-6 6"></path></svg
          >
        </a>
      </div>
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
        Transform your visitors into users with an engaging headline
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500 lg:text-balance">
        The fastest and most efficient method for working together on staging
        and temporary environments.
      </p>

      <div
        class="grid items-center grid-cols-3 mx-auto mt-10 gap-x-8 gap-y-10 sm:grid-cols-5 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5 opacity-40">
        {
          logos.map((logo, index) => (
            <img
              class="max-h-8"
              src={logo}
              alt="#_"
            />
          ))
        }

      </div>
    </div>
  </div>
  <div
    class="max-w-screen-xl px-8 mt-12 ml-auto lg:px-0 -mr-16 2xl:mx-auto 2xl:px-8 pb-12">
    <img
      class="object-cover h-full border shadow rounded-2xl"
      src="/images/dashboardLight.svg"
      alt="#_"
    />
  </div>
</section>
