---
const data = [
  {
    text: "Our cutting-edge design offers a fresh, modern look that transforms your project into a standout experience. ",
    items: ["Revolutionizing communication", "Enhancing productivity"],
  },
];
---

<section class="relative overflow-hidden">
  <div
    class="mx-auto max-w-7xl px-6 py-24 lg:flex items-center lg:px-8 relative">
    <div
      class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:px-12">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-7xl lg:text-balance">
        Make every visitor count
      </h1>
      <div class="mt-6">
        {
          data.map((section) => (
            <div class="mt-2">
              <p class="text-sm text-gray-500 text-pretty lg:text-balance">
                {section.text}
              </p>
              <ul
                role="list"
                class="space-y-1 mt-6 text-base font-medium text-gray-900 list-none">
                {section.items.map((item, idx) => (
                  <li class="list-none">
                    <div class=" flex  items-center gap-4 ">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check-filled text-blue-600"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        />
                        <path
                          d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                          stroke-width="0"
                          fill="currentColor"
                        />
                      </svg>
                      <span class="text-gray-700 text-base">{item}</span>
                    </div>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>

      <div class="flex flex-wrap gap-4 mt-12">
        <button
          class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
          aria-label="Action">
          Get started
        </button>
        <div class="text-sm text-gray-500">
          <span class="block">This is some support text</span>
          <span class="block">and this is also.</span>
        </div>
      </div>
    </div>
    <div
      class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32">
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
        <div class="-m-2 lg:-m-4">
          <img
            src="/images/dashboardLight.svg"
            alt="#_"
            width="2432"
            height="1442"
            class="w-[76rem] border shadow rounded-2xl"
          />
        </div>
      </div>
    </div>
  </div>
</section>
