<section>
  <div class="relative overflow-hidden border-b">
    <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
      <div class="lg:flex lg:items-center lg:gap-x-10">
        <div
          class="mx-auto text-center lg:text-left max-w-2xl lg:mx-0 lg:flex-auto">
          <div>
            <span
              class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >Your tagline</span
            >
            <h1
              class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 sm:text-5xl">
              Transform your visitors into users with an engaging headline
            </h1>

            <div
              class="flex flex-col lg:flex-row items-center justify-center lg:justify-start gap-4 mt-12">
              <button
                class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
                aria-label="Action">
                Get started
              </button>
              <div class="text-sm text-gray-500 md:text-left">
                <span class="block">This is some support text</span>
                <span class="block">and this is also.</span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="mt-16 sm:mt-24 -mb-96 lg:mt-0 lg:flex-shrink-0 lg:flex-grow">
          <img
            class="mx-auto w-[22.875rem] max-w-full drop-shadow-xl"
            src="/images/phone1.png"
            alt="#_"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-24 pb-12">
    <div
      class="grid items-center max-w-lg grid-cols-3 mx-auto mt-10 gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-5 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <img
        class="max-h-8"
        src="/brands/1.svg"
        alt="/brands/1.svg"
      />
      <img
        class="max-h-8"
        src="/brands/2.svg"
        alt="/brands/2.svg"
      />
      <img
        class="max-h-8"
        src="/brands/3.svg"
        alt="/brands/3.svg"
      />
      <img
        class="max-h-8"
        src="/brands/4.svg"
        alt="/brands/4.svg"
      />
      <img
        class="max-h-8"
        src="/brands/5.svg"
        alt="/brands/5.svg"
      />
    </div>
  </div>
</section>
