<section>

  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class=" max-w-2xl  lg:flex-auto">
      <div>
        <span class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase">Your tagline</span>
        <h1
          class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
          Transform your visitors into users with an engaging headline
        </h1>
        <p class="text-base font-medium mt-4 text-gray-500">
          The fastest and most efficient method for working together on staging
          and temporary environments. This approach streamlines collaboration
          among team members, ensuring that development and testing processes
          are seamless and effective.
        </p>

        <div class="flex flex-wrap gap-4 mt-12">
          <button
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
            aria-label="Action">
            Get started
          </button>
          <div class="text-sm text-gray-500">
            <span class="block">This is some support text</span>
            <span class="block">and this is also.</span>
          </div>
        </div>
      </div>
      <dl class="grid sm:grid-cols-2 gap-4 mt-12 list-none lg:gap-6">
        <div>
          <dt
            class="mt-4 text-gray-900 font-medium text-sm font-mono uppercase">
            <span class="text-5xl font-normal font-mono">30</span>
            million
          </dt>
          <dd class="mt-2 text-sm text-gray-500">
            The recipe is provided "as is" without any guarantees. Bake at your
            own risk.
          </dd>
        </div>
        <div>
          <dt
            class="mt-4 text-gray-900 font-medium text-sm font-mono uppercase">
            <span class="text-5xl font-normal font-mono">400</span> px
          </dt>
          <dd class="mt-2 text-sm text-gray-500">
            You may use the recipe for both home baking and commercial purposes.
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>
