<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl lg:text-balance">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase">
        Milestones
      </span>
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-zinc-900 sm:text-balance">
        Key updates & releases
      </h1>
      <p class="mt-6 text-base font-medium text-zinc-500">
        Explore the evolution of our product, from the initial launch to the
        latest enhancements.
      </p>
    </div>
    <ol
      class="border-l mt-12 md:grid lg:grid-cols-3 h-full md:gap-6 md:border-l-0 md:border-t">
      <!--First item-->
      <li>
        <div class="flex-start flex items-center pt-2 md:block md:pt-0">
          <div
            class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-white border-2 border-blue-500 md:-mt-[5px] md:ml-0 md:mr-0">
          </div>
        </div>
        <div class="ml-4 mt-4 md:ml-0 lg:mr-4">
          <div>
            <span
              class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              ><time datetime="01.08.2024">01.08.2024</time></span
            >
            <h4 class="tracking-tight text-xl font-medium text-zinc-900 mt-8">
              The dawn of version 3.0.0
            </h4>
            <p class="text-sm text-zinc-500 mt-4">
              Welcome to the future with Version 3.0.0! This monumental update
              unveils a completely revamped interface, groundbreaking AI-powered
              tools, and seamless integration with your favorite apps. Get ready
              to explore uncharted territories in productivity!
            </p>
          </div>
        </div>
      </li>
      <!--Second item-->
      <li>
        <div class="flex-start flex items-center pt-2 md:block md:pt-0">
          <div
            class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-white border-2 border-blue-500 md:-mt-[5px] md:ml-0 md:mr-0">
          </div>
        </div>
        <div class="ml-4 mt-4 md:ml-0 lg:mr-4">
          <div>
            <span
              class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              ><time datetime="02.13.2024">02.13.2024</time></span
            >
            <h4 class="tracking-tight text-xl font-medium text-zinc-900 mt-8">
              Version 3.1.0: the cosmic leap
            </h4>
            <p class="text-sm text-zinc-500 mt-4">
              Version 3.1.0 propels you into the cosmos with faster processing
              speeds, enhanced customization options, and new cosmic-themed
              visual elements. Experience the power of the stars at your
              fingertips.
            </p>
          </div>
        </div>
      </li>
      <!--Third item-->
      <li>
        <div class="flex-start flex items-center pt-2 md:block md:pt-0">
          <div
            class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-white border-2 border-blue-500 md:-mt-[5px] md:ml-0 md:mr-0">
          </div>
        </div>
        <div class="ml-4 mt-4 md:ml-0 lg:mr-4">
          <div>
            <span
              class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              ><time datetime="01.08.2024">01.08.2024</time></span
            >
            <h4 class="tracking-tight text-xl font-medium text-zinc-900 mt-8">
              The dawn of version 3.0.0
            </h4>
            <p class="text-sm text-zinc-500 mt-4">
              Welcome to the future with Version 3.0.0! This monumental update
              unveils a completely revamped interface, groundbreaking AI-powered
              tools, and seamless integration with your favorite apps. Get ready
              to explore uncharted territories in productivity!
            </p>
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>
