---
import Text from "@/components/fundations/typography/Text.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
// Timeline events data
const events = [
  {
    date: "01.08.2024",
    title: "Launch of Version 1.0",
    description:
      "Our initial release introduced core features and lay the foundation for innovation.",
  },
  {
    date: "04.15.2024",
    title: "Feature Dashboard Rollout",
    description:
      "Deployed an intuitive dashboard for real-time insights and analytics.",
  },
  {
    date: "08.20.2024",
    title: "Mobile App Launch",
    description:
      "Expanded to mobile with dedicated iOS and Android apps for on-the-go access.",
  },
  {
    date: "12.05.2024",
    title: "AI Integration",
    description:
      "Integrated AI-driven recommendations to personalize user experiences.",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-20 max-w-7xl">
    <div class="max-w-3xl">
      <Text
        tag="h2"
        variant="displayMD"
        class="font-semibold tracking-tight text-zinc-900 dark:text-white text-balance"
      >
        Our product journey
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
      >
        Explore the key milestones that shaped our platform’s evolution.
      </Text>
    </div>
    <ol
      class="h-full mt-12 border-l md:grid lg:grid-cols-4 md:gap-6 md:border-l-0 md:border-t border-zinc-100 dark:border-zinc-800"
    >
      {
        events.map((event, idx) => (
          <li>
            <div class="flex items-center pt-2 md:block md:pt-0">
              <div class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full outline-2 outline-zinc-100 dark:outline-zinc-800 dark:bg-zinc-800 rounded-full bg-zinc-100 md:-mt-[5px] md:ml-0 md:mr-0" />
            </div>
            <div class="mt-4 ml-4 md:ml-0 lg:mr-4">
              <div>
                <Kicker>
                  <time datetime={event.date}>{event.date}</time>
                </Kicker>
                <Text
                  tag="h3"
                  variant="textBase"
                  class="mt-8 font-semibold tracking-tight text-zinc-900 dark:text-white"
                >
                  {event.title}
                </Text>
                <Text
                  tag="p"
                  variant="textBase"
                  class="mt-2 text-zinc-500 dark:text-zinc-400 lg:text-balance"
                >
                  {event.description}
                </Text>
              </div>
            </div>
          </li>
        ))
      }
    </ol>
  </div>
</section>
