---
export const description = "Input with add-on";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex justify-center w-full max-w-sm px-12 py-48 mx-auto">
  <div class="w-full">
    <TextInput
      id="Domain"
      name="Domain"
      label="Domain (Prefix)"
      type="text"
      prefix="https://"
      variant="default"
      size="base"
      placeholder="yourdomain.com"
    />
  </div>
</div>
