---
export const freeComponent = true;
export const description = "Input with add-on";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <div class="w-full">
    <TextInput
      id="Domain"
      name="Domain"
      label="Domain (Prefix)"
      type="text"
      prefix="https://"
      variant="default"
      size="base"
      placeholder="yourdomain.com"
    />
  </div>
  <!-- copy:end -->
</div>
