---
export const freeComponent = true;
export const description = "Input with add-on";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<section class="justify-center h-full p-12 bg-white gap-2 dark:bg-zinc-900">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <TextInput
      id="Domain"
      name="Domain"
      label="Domain (Prefix)"
      type="text"
      prefix="https://"
      variant="default"
      size="base"
      placeholder="yourdomain.com"
    />
    <!-- copy:end -->
  </div>
</section>
