---
export const description = "Address input group";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<section class="gap-2 justify-center p-14 bg-white dark:bg-black h-full">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <div class="grid grid-cols-2">
      <TextInput
        id="city"
        name="city"
        label="City"
        placeholder="San Francisco"
        noRoundedRight
        isGrouped
      />
      <TextInput
        id="zip"
        name="zip"
        label="ZIP Code"
        placeholder="94110"
        noRoundedLeft
        isGrouped
      />
    </div>
    <!-- copy:end -->
  </div>
</section>
