---
export const description = "Address input group";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div
  class="flex flex-col justify-center w-full max-w-sm px-12 py-48 mx-auto gap-12"
>
  <div class="grid grid-cols-2">
    <TextInput
      id="city"
      name="city"
      label="City"
      placeholder="San Francisco"
      noRoundedRight
      isGrouped
    />
    <TextInput
      id="zip"
      name="zip"
      label="ZIP Code"
      placeholder="94110"
      noRoundedLeft
      isGrouped
    />
  </div>
</div>
