---
export const description = "Search input group";
import Button from "@/components/fundations/buttons/Button.astro";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<section class="justify-center h-full bg-white gap-2 p-15 dark:bg-zinc-900">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <div class="flex w-full">
      <TextInput
        id="search"
        name="search"
        type="search"
        placeholder="Search..."
        variant="default"
        size="sm"
        noRoundedRight
        isGrouped
        class="flex-1"
      />
      <Button type="submit" size="sm" variant="outline" noRoundedLeft={true}>
        Search
      </Button>
    </div>
    <!-- copy:end -->
  </div>
</section>
