---
export const description = "Search input group";
import Button from "@/components/fundations/buttons/Button.astro";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div
  class="flex flex-col justify-center w-full max-w-sm px-12 py-48 mx-auto gap-12"
>
  <!-- copy:start -->
  <div class="flex w-full">
    <TextInput
      id="search"
      name="search"
      type="search"
      placeholder="Search..."
      variant="default"
      size="sm"
      noRoundedRight
      isGrouped
      class="flex-1"
    />
    <Button type="submit" size="sm" variant="alternative" noRoundedLeft={true}>
      Search
    </Button>
  </div>
  <!-- copy:end -->
</div>
