---
export const description = "OTP group";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex items-center justify-center p-8">

  <!-- copy:start -->
  <div class="flex justify-center">
    <TextInput
      id="otp"
      name="otp"
      type="otp"
      label="Verification Code"
      hint="Enter the 6-digit code"
      size="base"
    />
  </div>
  <!-- copy:end -->
</div>
