---
export const description = "OTP group";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div
  class="flex items-center justify-center h-full bg-white p-15 dark:bg-zinc-900"
>
  <div>
    <!-- copy:start -->
    <div class="flex justify-center">
      <TextInput
        id="otp"
        name="otp"
        type="otp"
        label="Verification Code"
        hint="Enter the 6-digit code"
        size="base"
      />
    </div>
    <!-- copy:end -->
  </div>
</div>
