---
export const description = "Quick search input group";
import Button from "@/components/fundations/buttons/Button.astro";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
// Icons
import Command from "@/components/fundations/icons/Command.astro";
---

<section class="gap-2 justify-center p-15 bg-white dark:bg-black h-full">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <div class="flex w-full">
      <TextInput
        id="search"
        name="search"
        type="search"
        placeholder="Search..."
        variant="default"
        size="sm"
        noRoundedRight
        isGrouped
        class="flex-1"
      />
      <Button
        onlyIconSize="sm"
        type="submit"
        size="sm"
        variant="alternative"
        noRoundedLeft={true}
      >
        <Command slot="left-icon" size="sm" />
      </Button>
    </div>
    <!-- copy:end -->
  </div>
</section>
