---
export const description = "Search input group";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex items-center justify-center p-8">

  <!-- copy:start -->
  <TextInput
    id="price-range"
    name="price"
    label="Price Range"
    isRange={true}
    fromPlaceholder="From"
    toPlaceholder="To"
  />
  <!-- copy:end -->
</div>
