---
export const description = "Search input group";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<section class="justify-center h-full bg-white gap-2 p-15 dark:bg-zinc-900">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <TextInput
      id="price-range"
      name="price"
      label="Price Range"
      isRange={true}
      fromPlaceholder="From"
      toPlaceholder="To"
    />
    <!-- copy:end -->
  </div>
</section>
