---
export const description = "Search input group";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div
  class="flex flex-col justify-center w-full max-w-sm px-12 py-48 mx-auto gap-12"
>
  <TextInput
    id="price-range"
    name="price"
    label="Price Range"
    isRange={true}
    fromPlaceholder="From"
    toPlaceholder="To"
  />
</div>
