---
export const description = "Quantity input group";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
import Button from "@/components/fundations/buttons/Button.astro";
// Icons
import Plus from "@/components/fundations/icons/Plus.astro";
import Minus from "@/components/fundations/icons/Minus.astro";
---

<section class="justify-center h-full bg-white gap-2 p-15 dark:bg-zinc-900">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <div class="w-full space-y-1" x-data="{ count: 0 }">
      <label class="text-sm font-medium text-zinc-500"> Quantity </label>
      <div class="flex items-center">
        <Button
          @click="count--"
          variant="outline"
          onlyIconSize="sm"
          noRoundedRight
        >
          <Minus slot="left-icon" size="sm" />
        </Button>
        <TextInput
          size="sm"
          isGrouped={true}
          noRounded={true}
          type="number"
          id="input-plus-minus"
          name="input-plus-minus"
          x-model="count"
          readonly
        />
        <Button
          @click="count++"
          variant="outline"
          onlyIconSize="sm"
          no
          noRoundedLeft
        >
          <Plus slot="right-icon" size="sm" />
        </Button>
      </div>
    </div>
    <!-- copy:end -->
  </div>
</section>
