---
export const description = "Default badge";
export const freeComponent = true;
import Badge from "@/components/fundations/badges/Badge.astro";
---

<div class="flex items-center justify-center p-8"> 
  <!-- copy:start -->
  <Badge variant="default" size="sm"> Default </Badge>
  <!-- copy:end -->
</div>
