---
import Badge from "@/components/fundations/badges/Badge.astro";
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 space-y-12 lg:px-24 max-w-7xl">
    <div class="flex flex-wrap justify-center gap-2">
      <!-- XS Size -->
      <Badge
        variant="default"
        size="xs">
        Default
      </Badge>
      <Badge
        variant="accent"
        size="xs">
        Accent
      </Badge>
      <Badge
        variant="alternative"
        size="xs">
        Alternative
      </Badge>
      <Badge
        variant="muted"
        size="xs">
        Muted
      </Badge>
      <Badge
        variant="text"
        size="xs">
        Text
      </Badge>
      <Badge
        variant="info"
        size="xs">
        Info
      </Badge>
      <Badge
        variant="success"
        size="xs">
        Success
      </Badge>
      <Badge
        variant="warning"
        size="xs">
        Warning
      </Badge>
      <Badge
        variant="danger"
        size="xs">
        Danger
      </Badge>

  </div>
  <!-- SM Size -->
  <div class="flex flex-wrap justify-center gap-2">
    <Badge
      variant="default"
      size="sm">
      Default
    </Badge>
    <Badge
      variant="accent"
      size="sm">
      Accent
    </Badge>
    <Badge
      variant="alternative"
      size="sm">
      Alternative
    </Badge>
    <Badge
      variant="muted"
      size="sm">
      Muted
    </Badge>
    <Badge
      variant="text"
      size="sm">
      Text
    </Badge>
    <Badge
      variant="info"
      size="sm">
      Info
    </Badge>
    <Badge
      variant="success"
      size="sm">
      Success
    </Badge>
    <Badge
      variant="warning"
      size="sm">
      Warning
    </Badge>
    <Badge
      variant="danger"
      size="sm">
      Danger
    </Badge>
  </div>
</section>
