---
export const description = "Default badge";
export const freeComponent = true;
import Badge from "@/components/fundations/badges/Badge.astro";
---
<section
  class="flex flex-col items-center justify-center h-full p-20 bg-white gap-12 dark:bg-zinc-900"
>
  <!-- copy:start -->
  <div class="flex flex-wrap justify-center gap-2">
    <!-- XS Size -->
    <Badge variant="default" size="xs"> Default </Badge>
    <Badge variant="accent" size="xs"> Accent </Badge>
    <Badge variant="muted" size="xs"> Muted </Badge>
    <Badge variant="text" size="xs"> Text </Badge>
    <Badge variant="info" size="xs"> Info </Badge>
    <Badge variant="success" size="xs"> Success </Badge>
    <Badge variant="warning" size="xs"> Warning </Badge>
    <Badge variant="danger" size="xs"> Danger </Badge>
  </div>
  <!-- SM Size -->
  <div class="flex flex-wrap justify-center gap-2">
    <Badge variant="default" size="sm"> Default </Badge>
    <Badge variant="accent" size="sm"> Accent </Badge>
    <Badge variant="muted" size="sm"> Muted </Badge>
    <Badge variant="text" size="sm"> Text </Badge>
    <Badge variant="info" size="sm"> Info </Badge>
    <Badge variant="success" size="sm"> Success </Badge>
    <Badge variant="warning" size="sm"> Warning </Badge>
    <Badge variant="danger" size="sm"> Danger </Badge>
  </div>
  <!-- copy:end -->
</section>
