---
export const description = "With left badge ";
import Badge from "@/components/fundations/badges/Badge.astro";
import PlaceHolderIcon from "@/components/fundations/icons/PlaceHolderIcon.astro";
---
<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <Badge variant="default" gap="xs" size="sm" slot="left-icon">
    <PlaceHolderIcon gap="xs" size="sm" />
    Default
  </Badge>
  <!-- copy:end -->
</div>
