---
import Badge from "@/components/fundations/badges/Badge.astro";
import PlaceHolderIcon from "@/components/fundations/icons/PlaceHolderIcon.astro";
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 space-y-12 lg:px-24 max-w-7xl">
    <div class="flex flex-wrap gap-2 justify-center">
      <!-- XS Size -->
      <Badge
        variant="default"
        gap="xs"
        size="xs"
        slot="right-icon">
        Default
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="accent"
        gap="xs"
        size="xs"
        slot="right-icon">
        Accent
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="alternative"
        gap="xs"
        size="xs"
        slot="right-icon">
        Alternative
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="muted"
        gap="xs"
        size="xs"
        slot="right-icon">
        Muted
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="text"
        gap="xs"
        size="xs"
        slot="right-icon">
        Text
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="info"
        gap="xs"
        size="xs"
        slot="right-icon">
        Info
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="success"
        gap="xs"
        size="xs"
        slot="right-icon">
        Success
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="warning"
        gap="xs"
        size="xs"
        slot="right-icon">
        Warning
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="danger"
        gap="xs"
        size="xs"
        slot="right-icon">
        Danger
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
    </div>
    <!-- SM Size -->
    <div class="flex flex-wrap gap-2 justify-center">
      <Badge
        variant="default"
        gap="xs"
        size="sm"
        slot="right-icon">
        Default
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="accent"
        gap="xs"
        size="sm"
        slot="right-icon">
        Accent
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="alternative"
        gap="xs"
        size="sm"
        slot="right-icon">
        Alternative
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="muted"
        gap="xs"
        size="sm"
        slot="right-icon">
        Muted
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="text"
        gap="xs"
        size="sm"
        slot="right-icon">
        Text
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="info"
        gap="xs"
        size="sm"
        slot="right-icon">
        Info
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="success"
        gap="xs"
        size="sm"
        slot="right-icon">
        Success
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="warning"
        gap="xs"
        size="sm"
        slot="right-icon">
        Warning
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
      <Badge
        variant="danger"
        gap="xs"
        size="sm"
        slot="right-icon">
        Danger
        <PlaceHolderIcon
          gap="xs"
          size="sm"
        />
      </Badge>
    </div>
  </div>
</section>
