---
export const description = "Default right badge ";
import Badge from "@/components/fundations/badges/Badge.astro";
import PlaceHolderIcon from "@/components/fundations/icons/PlaceHolderIcon.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <Badge variant="default" gap="xs" size="sm" slot="right-icon">
    Default
    <PlaceHolderIcon gap="xs" size="sm" />
  </Badge>
  <!-- copy:end -->
</div>
