---
export const description = "Left and right badge ";
import Badge from "@/components/fundations/badges/Badge.astro";
import PlaceHolderIcon from "@/components/fundations/icons/PlaceHolderIcon.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- SM Size -->
  <Badge
    variant="default"
    gap="xs"
    size="sm"
    slot="left-icon"
    slot="right-icon"
  >
    <PlaceHolderIcon gap="xs" size="sm" />
    Default
    <PlaceHolderIcon gap="xs" size="sm" />
  </Badge>
  <!-- copy:end -->
</div>
