---
export const description = "Left and right badge ";
import Badge from "@/components/fundations/badges/Badge.astro";
import PlaceHolderIcon from "@/components/fundations/icons/PlaceHolderIcon.astro";
---

<section
  class="flex items-center flex-wrap gap-2 justify-center p-12 bg-white dark:bg-zinc-900 h-full"
>
  <!-- SM Size -->
  <div class="flex flex-wrap justify-center gap-2">
    <!-- XS Size -->
    <Badge
      variant="default"
      gap="xs"
      size="xs"
      slot="left-icon"
      slot="right-icon"
    >
      <PlaceHolderIcon gap="xs" size="sm" />
      Default
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge
      variant="accent"
      gap="xs"
      size="xs"
      slot="fet-icon"
      slot="right-icon"
    >
      <PlaceHolderIcon gap="xs" size="sm" />
      Accent
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge
      variant="alternative"
      gap="xs"
      size="xs"
      slot="fet-icon"
      slot="right-icon"
    >
      <PlaceHolderIcon gap="xs" size="sm" />
      Alternative
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge variant="muted" gap="xs" size="xs" slot="fet-icon" slot="right-icon">
      <PlaceHolderIcon gap="xs" size="sm" />
      Muted
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge variant="text" gap="xs" size="xs" slot="fet-icon" slot="right-icon">
      <PlaceHolderIcon gap="xs" size="sm" />
      Text
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge variant="info" gap="xs" size="xs" slot="fet-icon" slot="right-icon">
      <PlaceHolderIcon gap="xs" size="sm" />
      Info
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge
      variant="success"
      gap="xs"
      size="xs"
      slot="fet-icon"
      slot="right-icon"
    >
      <PlaceHolderIcon gap="xs" size="sm" />
      Success
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge
      variant="warning"
      gap="xs"
      size="xs"
      slot="fet-icon"
      slot="right-icon"
    >
      <PlaceHolderIcon gap="xs" size="sm" />
      Warning
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge
      variant="danger"
      gap="xs"
      size="xs"
      slot="fet-icon"
      slot="right-icon"
    >
      <PlaceHolderIcon gap="xs" size="sm" />
      Danger
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
  </div>
  <!-- SM Size -->
  <div class="flex flex-wrap justify-center gap-2">
    <Badge
      variant="default"
      gap="xs"
      size="sm"
      slot="left-icon"
      slot="right-icon"
    >
      <PlaceHolderIcon gap="xs" size="sm" />
      Default
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge
      variant="accent"
      gap="xs"
      size="sm"
      slot="left-icon"
      slot="right-icon"
    >
      <PlaceHolderIcon gap="xs" size="sm" />
      Accent
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge
      variant="alternative"
      gap="xs"
      size="sm"
      slot="left-icon"
      slot="right-icon"
    >
      <PlaceHolderIcon gap="xs" size="sm" />
      Alternative
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge
      variant="muted"
      gap="xs"
      size="sm"
      slot="left-icon"
      slot="right-icon"
    >
      <PlaceHolderIcon gap="xs" size="sm" />
      Muted
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge variant="text" gap="xs" size="sm" slot="left-icon" slot="right-icon">
      <PlaceHolderIcon gap="xs" size="sm" />
      Text
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge variant="info" gap="xs" size="sm" slot="fet-icon" slot="right-icon">
      <PlaceHolderIcon gap="xs" size="sm" />
      Info
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge
      variant="success"
      gap="xs"
      size="sm"
      slot="fet-icon"
      slot="right-icon"
    >
      <PlaceHolderIcon gap="xs" size="sm" />
      Success
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge
      variant="warning"
      gap="xs"
      size="sm"
      slot="fet-icon"
      slot="right-icon"
    >
      <PlaceHolderIcon gap="xs" size="sm" />
      Warning
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
    <Badge
      variant="danger"
      gap="xs"
      size="sm"
      slot="fet-icon"
      slot="right-icon"
    >
      <PlaceHolderIcon gap="xs" size="sm" />
      Danger
      <PlaceHolderIcon gap="xs" size="sm" />
    </Badge>
  </div>
  <!-- copy:end -->
</section>
