---
import Badge from "@/components/fundations/badges/Badge.astro";
import Notification from "@/components/fundations/badges/Notification.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <Badge variant="default" size="sm">
    Default
    <Notification slot="notification" variant="default" position="sm" size="sm">
      1
    </Notification>
  </Badge>
  <!-- copy:end -->
</div>
