---
import Badge from "@/components/fundations/badges/Badge.astro";
import Notification from "@/components/fundations/badges/Notification.astro";
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 space-y-12 lg:px-24 max-w-7xl">
    <div class="flex flex-wrap gap-4 justify-center">
      <!-- XS Size -->
      <Badge
        variant="default"
        size="xs">
        Default
        <Notification
          slot="notification"
          variant="default"
          position="xs"
          size="xs">
          1
        </Notification>
      </Badge>
      <Badge
        variant="accent"
        size="xs">
        Accent
        <Notification
          slot="notification"
          variant="accent"
          position="xs"
          size="xs">
          1
        </Notification>
      </Badge>
      <Badge
        variant="alternative"
        size="xs">
        Alternative
        <Notification
          slot="notification"
          variant="alternative"
          position="xs"
          size="xs">
          1
        </Notification>
      </Badge>
      <Badge
        variant="muted"
        size="xs">
        Muted
        <Notification
          slot="notification"
          variant="muted"
          position="xs"
          size="xs">
          1
        </Notification>
      </Badge>
    </div>
    <div class="flex flex-wrap gap-4 justify-center">
      <!-- SM Size -->
      <Badge
        variant="default"
        size="sm">
        Default
        <Notification
          slot="notification"
          variant="default"
          position="sm"
          size="sm">
          1
        </Notification>
      </Badge>
      <Badge
        variant="accent"
        size="sm">
        Accent
        <Notification
          slot="notification"
          variant="accent"
          position="xsms"
          size="sm">
          1
        </Notification>
      </Badge>
      <Badge
        variant="alternative"
        size="sm">
        Alternative
        <Notification
          slot="notification"
          variant="alternative"
          position="sm"
          size="sm">
          1
        </Notification>
      </Badge>
      <Badge
        variant="muted"
        size="xs">
        Muted
        <Notification
          slot="notification"
          variant="muted"
          position="sm"
          size="sm">
          1
        </Notification>
      </Badge>
    </div>
  </div>
</section>
