---
import Badge from "@/components/fundations/badges/Badge.astro";
import Notification from "@/components/fundations/badges/Notification.astro";
---
<section
  class="flex items-center flex-wrap gap-2 justify-center p-8 bg-white dark:bg-black h-full"
>
  <!-- copy:start -->
  <div class="flex flex-wrap justify-center gap-4">
    <!-- XS Size -->
    <Badge variant="default" size="xs">
      Default
      <Notification
        slot="notification"
        variant="default"
        position="xs"
        size="xs"
      >
        1
      </Notification>
    </Badge>
    <Badge variant="accent" size="xs">
      Accent
      <Notification
        slot="notification"
        variant="accent"
        position="xs"
        size="xs"
      >
        1
      </Notification>
    </Badge>
    <Badge variant="alternative" size="xs">
      Alternative
      <Notification
        slot="notification"
        variant="alternative"
        position="xs"
        size="xs"
      >
        1
      </Notification>
    </Badge>
    <Badge variant="muted" size="xs">
      Muted
      <Notification slot="notification" variant="muted" position="xs" size="xs">
        1
      </Notification>
    </Badge>
    <Badge variant="info" size="xs">
      info
      <Notification slot="notification" variant="info" position="xs" size="xs">
        1
      </Notification>
    </Badge>
    <Badge variant="success" size="xs">
      Success
      <Notification
        slot="notification"
        variant="success"
        position="xs"
        size="xs"
      >
        1
      </Notification>
    </Badge>
    <Badge variant="warning" size="xs">
      Warning
      <Notification
        slot="notification"
        variant="warning"
        position="xs"
        size="xs"
      >
        1
      </Notification>
    </Badge>
    <Badge variant="danger" size="xs">
      Danger
      <Notification
        slot="notification"
        variant="danger"
        position="xs"
        size="xs"
      >
        1
      </Notification>
    </Badge>
  </div>
  <div class="flex flex-wrap justify-center gap-6">
    <!-- SM Size -->
    <Badge variant="default" size="sm">
      Default
      <Notification
        slot="notification"
        variant="default"
        position="sm"
        size="sm"
      >
        1
      </Notification>
    </Badge>
    <Badge variant="accent" size="sm">
      Accent
      <Notification
        slot="notification"
        variant="accent"
        position="xsms"
        size="sm"
      >
        1
      </Notification>
    </Badge>
    <Badge variant="alternative" size="sm">
      Alternative
      <Notification
        slot="notification"
        variant="alternative"
        position="sm"
        size="sm"
      >
        1
      </Notification>
    </Badge>
    <Badge variant="muted" size="xs">
      Muted
      <Notification slot="notification" variant="muted" position="sm" size="sm">
        1
      </Notification>
    </Badge>
    <Badge variant="info" size="xs">
      Info
      <Notification slot="notification" variant="info" position="sm" size="sm">
        1
      </Notification>
    </Badge>
    <Badge variant="success" size="xs">
      success
      <Notification
        slot="notification"
        variant="success"
        position="sm"
        size="sm"
      >
        1
      </Notification>
    </Badge>
    <Badge variant="warning" size="xs">
      Warning
      <Notification
        slot="notification"
        variant="warning"
        position="sm"
        size="sm"
      >
        1
      </Notification>
    </Badge>
    <Badge variant="danger" size="xs">
      Danger
      <Notification
        slot="notification"
        variant="danger"
        position="sm"
        size="sm"
      >
        1
      </Notification>
    </Badge>
  </div>
  <!-- copy:end -->
</section>
