<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="relative flex flex-wrap gap-4 justify-center">
      <span
        class="relative inline-block rounded-full bg-gray-50 px-2.5 py-1 text-xs font-medium text-gray-600">
        Gray
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-gray-50 text-gray-600 text-[0.6rem] size-5 ring-1 ring-gray-300 flex items-center justify-center">
          1
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-red-50 px-2.5 py-1 text-xs font-medium text-red-600">
        Red
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-red-50 text-red-600 text-[0.6rem] size-5 ring-1 ring-red-300 flex items-center justify-center">
          2
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-orange-50 px-2.5 py-1 text-xs font-medium text-orange-600">
        Orange
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-orange-50 text-orange-600 text-[0.6rem] size-5 ring-1 ring-orange-300 flex items-center justify-center">
          3
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-amber-50 px-2.5 py-1 text-xs font-medium text-amber-600">
        Amber
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-amber-50 text-amber-600 text-[0.6rem] size-5 ring-1 ring-amber-300 flex items-center justify-center">
          4
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-yellow-50 px-2.5 py-1 text-xs font-medium text-yellow-600">
        Yellow
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-yellow-50 text-yellow-600 text-[0.6rem] size-5 ring-1 ring-yellow-300 flex items-center justify-center">
          5
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-lime-50 px-2.5 py-1 text-xs font-medium text-lime-600">
        Lime
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-lime-50 text-lime-600 text-[0.6rem] size-5 ring-1 ring-lime-300 flex items-center justify-center">
          6
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-green-50 px-2.5 py-1 text-xs font-medium text-green-600">
        Green
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-green-50 text-green-600 text-[0.6rem] size-5 ring-1 ring-green-300 flex items-center justify-center">
          7
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-emerald-50 px-2.5 py-1 text-xs font-medium text-emerald-600">
        Emerald
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-emerald-50 text-emerald-600 text-[0.6rem] size-5 ring-1 ring-emerald-300 flex items-center justify-center">
          8
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-teal-50 px-2.5 py-1 text-xs font-medium text-teal-600">
        Teal
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-teal-50 text-teal-600 text-[0.6rem] size-5 ring-1 ring-teal-300 flex items-center justify-center">
          9
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-cyan-50 px-2.5 py-1 text-xs font-medium text-cyan-600">
        Cyan
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-cyan-50 text-cyan-600 text-[0.6rem] size-5 ring-1 ring-cyan-300 flex items-center justify-center">
          10
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-sky-50 px-2.5 py-1 text-xs font-medium text-sky-600">
        Sky
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-sky-50 text-sky-600 text-[0.6rem] size-5 ring-1 ring-sky-300 flex items-center justify-center">
          11
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-blue-50 px-2.5 py-1 text-xs font-medium text-blue-600">
        Blue
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-blue-50 text-blue-600 text-[0.6rem] size-5 ring-1 ring-blue-300 flex items-center justify-center">
          12
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-indigo-50 px-2.5 py-1 text-xs font-medium text-indigo-600">
        Indigo
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-indigo-50 text-indigo-600 text-[0.6rem] size-5 ring-1 ring-indigo-300 flex items-center justify-center">
          13
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-violet-50 px-2.5 py-1 text-xs font-medium text-violet-600">
        Violet
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-violet-50 text-violet-600 text-[0.6rem] size-5 ring-1 ring-violet-300 flex items-center justify-center">
          14
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-purple-50 px-2.5 py-1 text-xs font-medium text-purple-600">
        Purple
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-purple-50 text-purple-600 text-[0.6rem] size-5 ring-1 ring-purple-300 flex items-center justify-center">
          15
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-fuchsia-50 px-2.5 py-1 text-xs font-medium text-fuchsia-600">
        Fuchsia
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-fuchsia-50 text-fuchsia-600 text-[0.6rem] size-5 ring-1 ring-fuchsia-300 flex items-center justify-center">
          16
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-pink-50 px-2.5 py-1 text-xs font-medium text-pink-600">
        Pink
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-pink-50 text-pink-600 text-[0.6rem] size-5 ring-1 ring-pink-300 flex items-center justify-center">
          17
        </span>
      </span>
      <span
        class="relative inline-block rounded-full bg-rose-50 px-2.5 py-1 text-xs font-medium text-rose-600">
        Rose
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-rose-50 text-rose-600 text-[0.6rem] size-5 ring-1 ring-rose-300 flex items-center justify-center">
          18
        </span>
      </span>
    </div>
  </div>
</section>
