---
export const freeComponent = true;
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import CreditCard from "@/components/fundations/icons/CreditCard.astro";
import News from "@/components/fundations/icons/News.astro";
import Lifebuoy from "@/components/fundations/icons/Lifebuoy.astro";
import UserPlus from "@/components/fundations/icons/UserPlus.astro";
---

<section class="bg-white dark:bg-black">
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-blue-600 dark:text-blue-400"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold tracking-tight text-zinc-900 dark:text-zinc-100 lg:text-balance"
      >
        We would love to hear from you!
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
      >
        Uniting talent with vision. Get to know the dedicated professionals who
        blend their skills and passion to lead us to new heights.
      </Text>
    </div>
    <dl
      class="mt-12 text-center grid sm:grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16"
    >
      <div class="flex flex-col justify-between h-full text-sm">
        <div>
          <dt class="flex flex-col gap-2">
            <CreditCard
              class="mx-auto text-blue-500 dark:text-blue-400"
              size="base"
            />
            <Text
              tag="h3"
              variant="textLG"
              class="font-medium text-zinc-900 dark:text-zinc-100"
            >
              Sales
            </Text>
          </dt>
          <dd>
            <Text
              tag="p"
              variant="textBase"
              class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
            >
              Find out how Oxbow UI can help your business.
            </Text>
          </dd>
        </div>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="flex items-center mx-auto mt-4 font-medium text-blue-500 dark:text-blue-400 gap-2 hover:text-zinc-900 dark:hover:text-zinc-100"
        >
          Talk to sales
          <ChevronRight size="sm" />
        </Text>
      </div>
      <div class="flex flex-col justify-between h-full text-sm">
        <dt>
          <div class="flex flex-col text-xs tracking-tighter gap-2">
            <Lifebuoy
              class="mx-auto text-blue-500 dark:text-blue-400"
              size="base"
            />
            <Text
              tag="h3"
              variant="textLG"
              class="font-medium text-zinc-900 dark:text-zinc-100"
            >
              Support
            </Text>
          </div>
        </dt>
        <dd>
          <Text
            tag="p"
            variant="textBase"
            class="font-medium text-zinc-500 dark:text-zinc-400"
          >
            Find out how Oxbow UI can help your business. Have a support
            question? We’ve got answers.
          </Text>
        </dd>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="flex items-center mx-auto mt-4 font-medium text-blue-500 dark:text-blue-400 gap-2 hover:text-zinc-900 dark:hover:text-zinc-100"
        >
          Talk to support
          <ChevronRight size="sm" />
        </Text>
      </div>
      <div class="flex flex-col justify-between h-full text-sm">
        <div>
          <dt class="flex flex-col text-xs tracking-tighter gap-2">
            <News
              class="mx-auto text-blue-500 dark:text-blue-400"
              size="base"
            />
            <Text
              tag="h3"
              variant="textLG"
              class="font-medium text-zinc-900 dark:text-zinc-100"
            >
              Press
            </Text>
          </dt>
          <dd>
            <Text
              tag="p"
              variant="textBase"
              class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
            >
              Any media questions or publication ideas you have, we’re happy to
              connect.
            </Text>
          </dd>
        </div>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="flex items-center mx-auto mt-4 font-medium text-blue-500 dark:text-blue-400 gap-2 hover:text-zinc-900 dark:hover:text-zinc-100"
        >
          Talk to press
          <ChevronRight size="sm" />
        </Text>
      </div>
      <div class="flex flex-col justify-between h-full text-sm">
        <div>
          <dt class="flex flex-col text-xs tracking-tighter gap-2">
            <UserPlus
              class="mx-auto text-blue-500 dark:text-blue-400"
              size="base"
            />
            <Text
              tag="h3"
              variant="textLG"
              class="font-medium text-zinc-900 dark:text-zinc-100"
            >
              Partners
            </Text>
          </dt>
          <dd>
            <Text
              tag="p"
              variant="textBase"
              class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
            >
              We love partnering with other businesses. Let us know what you’re
              thinking.
            </Text>
          </dd>
        </div>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="flex items-center mx-auto mt-4 font-medium text-blue-500 dark:text-blue-400 gap-2 hover:text-zinc-900 dark:hover:text-zinc-100"
        >
          Meet our partners
          <ChevronRight size="sm" />
        </Text>
      </div>
    </dl>
  </div>
</section>
