---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Link from "@/components/fundations/typography/Link.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import CreditCard from "@/components/fundations/icons/CreditCard.astro";
import News from "@/components/fundations/icons/News.astro";
import Lifebuoy from "@/components/fundations/icons/Lifebuoy.astro";
import UserPlus from "@/components/fundations/icons/UserPlus.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl lg:text-balance mx-auto text-center">
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="default">
        We would love to hear from you!
      </Heading>
      <Text
        class="mt-4 lg:text-balance"
        tag="p"
        variant="body">
        Uniting talent with vision. Get to know the dedicated professionals who
        blend their skills and passion to lead us to new heights.
      </Text>
    </div>
    <dl
      class="grid text-center mt-12 sm:grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16">
      <div class="flex h-full flex-col text-sm justify-between">
        <div>
          <dt class="flex flex-col gap-2">
            <CreditCard
              class="mx-auto text-accent-500"
              size="base"
            />
            <Heading
              level={3}
              variant="featureTitle">
              Sales
            </Heading>
          </dt>
          <dd class="mt-2">
            <Text
              tag="p"
              variant="body">
              Find out how Oxbow UI can help your business.
            </Text>
          </dd>
        </div>
        <Link
          tag="a"
          href="#_"
          variant="link"
          class="flex items-center gap-2 mx-auto mt-4">
          Talk to sales
          <ChevronRight size="sm" />
        </Link>
      </div>
      <div class="flex h-full flex-col text-sm justify-between">
        <dt>
          <div class="flex flex-col gap-2 tracking-tighter text-xs">
            <Lifebuoy
              class="mx-auto text-accent-500"
              size="base"
            />
            <Heading
              level={3}
              variant="featureTitle">
              Support
            </Heading>
          </div>
        </dt>
        <dd class="mt-2">
          <Text
            tag="p"
            variant="body">
            Find out how Oxbow UI can help your business. Have a support
            question? We’ve got answers.
          </Text>
        </dd>
        <Link
          tag="a"
          href="#_"
          variant="link"
          class="flex items-center gap-2 mx-auto mt-4">
          Talk to support
          <ChevronRight size="sm" />
      </Link>
      </div>
      <div class="flex h-full flex-col text-sm justify-between">
        <div>
          <dt class="flex flex-col gap-2 tracking-tighter text-xs">
            <News
              class="mx-auto text-accent-500"
              size="base"
            />
            <Heading
              level={3}
              variant="featureTitle">
              Press
            </Heading>
          </dt>
          <dd class="mt-2">
            <Text
              tag="p"
              variant="body">
              Any media questions or publication ideas you have, we’re happy to
              connect.
            </Text>
          </dd>
        </div>
        <Link
          tag="a"
          href="#_"
          variant="link"
          class="flex items-center gap-2 mx-auto mt-4">
          Talk to press
          <ChevronRight size="sm" />
      </Link>
      </div>
      <div class="flex h-full flex-col text-sm justify-between">
        <div>
          <dt class="flex flex-col gap-2 tracking-tighter text-xs">
            <UserPlus
              class="mx-auto text-accent-500"
              size="base"
            />
            <Heading
              level={3}
              variant="featureTitle">
              Partners
            </Heading>
          </dt>
          <dd class="mt-2">
            <Text
              tag="p"
              variant="body">
              We love partnering with other businesses. Let us know what you’re
              thinking.
            </Text>
          </dd>
        </div>
        <Link
          tag="a"
          href="#_"
          variant="link"
          class="flex items-center gap-2 mx-auto mt-4">
          Meet our partners
          <ChevronRight size="sm" />
      </Link>
      </div>
    </dl>
  </div>
</section>
