---
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import CreditCard from "@/components/fundations/icons/CreditCard.astro";
import News from "@/components/fundations/icons/News.astro";
import Lifebuoy from "@/components/fundations/icons/Lifebuoy.astro";
import UserPlus from "@/components/fundations/icons/UserPlus.astro";
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <Kicker>Contact Us</Kicker>
      <Text
        tag="h1"
        variant="displayMD"
        class="mt-12 font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
      >
        We’re excited to connect with you!
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 lg:text-balance text-zinc-500 dark:text-zinc-400"
      >
        Bringing together expertise and creativity. Meet the passionate team
        committed to driving our mission forward.
      </Text>
    </div>
    <div class="flex flex-col max-w-md mx-auto mt-12 gap-12">
      <div>
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <CreditCard class="text-blue-500 dark:text-blue-400" size="base" />
            <Text
              tag="h3"
              variant="textBase"
              class="font-medium text-zinc-900 dark:text-white"
            >
              Sales
            </Text>
          </div>
          <Text
            tag="p"
            variant="textSM"
            class="font-medium text-zinc-500 dark:text-zinc-400"
          >
            Ready to grow your business? Our sales team is here to help you
            discover the perfect solutions for your needs. Let’s unlock new
            opportunities together.
          </Text>
        </div>
        <Text
          href="#_"
          class="flex items-center mt-4 text-sm font-medium gap-2 text-zinc-900 dark:text-white hover:text-blue-600 dark:hover:text-blue-300"
        >
          Connect with sales
          <ChevronRight size="sm" />
        </Text>
      </div>
      <div>
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <Lifebuoy class="text-blue-500 dark:text-blue-400" size="base" />
            <Text
              tag="h3"
              variant="textBase"
              class="font-medium text-zinc-900 dark:text-white"
            >
              Support
            </Text>
          </div>
          <Text
            tag="p"
            variant="textSM"
            class="font-medium text-zinc-500 dark:text-zinc-400"
          >
            Have a question or need assistance? Our support team is dedicated to
            making your experience seamless and successful. Reach out and we’ll
            be happy to help.
          </Text>
        </div>
        <Text
          href="#_"
          class="flex items-center mt-4 text-sm font-medium gap-2 text-zinc-900 dark:text-white hover:text-blue-600 dark:hover:text-blue-300"
        >
          Get support
          <ChevronRight size="sm" />
        </Text>
      </div>
      <div>
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <News class="text-blue-500 dark:text-blue-400" size="base" />
            <Text
              tag="h3"
              variant="textBase"
              class="font-medium text-zinc-900 dark:text-white"
            >
              Press
            </Text>
          </div>
          <Text
            tag="p"
            variant="textSM"
            class="font-medium text-zinc-500 dark:text-zinc-400"
          >
            Interested in our latest news or media resources? Connect with our
            press team for stories, interviews, and more information about Oxbow
            UI.
          </Text>
        </div>
        <Text
          href="#_"
          class="flex items-center mt-4 text-sm font-medium gap-2 text-zinc-900 dark:text-white hover:text-blue-600 dark:hover:text-blue-300"
        >
          Contact press
          <ChevronRight size="sm" />
        </Text>
      </div>
      <div>
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <UserPlus class="text-blue-500 dark:text-blue-400" size="base" />
            <Text
              tag="h3"
              variant="textBase"
              class="font-medium text-zinc-900 dark:text-white"
            >
              Partners
            </Text>
          </div>
          <Text
            tag="p"
            variant="textSM"
            class="font-medium text-zinc-500 dark:text-zinc-400"
          >
            Let’s build something amazing together. If you’re interested in
            collaborating or forming a partnership, we’d love to hear your ideas
            and explore new possibilities.
          </Text>
        </div>
        <Text
          href="#_"
          class="flex items-center mt-4 text-sm font-medium gap-2 text-zinc-900 dark:text-white hover:text-blue-600 dark:hover:text-blue-300"
        >
          Partner with us
          <ChevronRight size="sm" />
        </Text>
      </div>
    </div>
  </div>
</section>
