---
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import CreditCard from "@/components/fundations/icons/CreditCard.astro";
import News from "@/components/fundations/icons/News.astro";
import Lifebuoy from "@/components/fundations/icons/Lifebuoy.astro";
import UserPlus from "@/components/fundations/icons/UserPlus.astro";
---

<div>
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <Text tag="p" variant="textSM" class="font-bold uppercase text-blue-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold tracking-tight text-zinc-900 lg:text-balance"
      >
        We would love to hear from you!
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
        Uniting talent with vision. Get to know the dedicated professionals who
        blend their skills and passion to lead us to new heights.
      </Text>
    </div>
    <dl class="flex flex-col max-w-xl mx-auto mt-12 divide-y divide-zinc-200">
      <div class="flex flex-col justify-between h-full py-8 text-sm">
        <div>
          <dt class="inline-flex items-center text-xs tracking-tighter gap-2">
            <CreditCard class="mx-auto text-blue-500" size="base" />
            <Text tag="h3" variant="textLG" class="font-medium text-zinc-900">
              Sales
            </Text>
          </dt>
          <dd class="mt-2">
            <Text
              tag="p"
              variant="textBase"
              class="mt-2 font-medium text-zinc-500"
            >
              Discover how Oxbow UI can transform your business. Our team is
              here to guide you through the possibilities and tailor solutions
              that meet your unique needs. Whether you're looking to enhance
              productivity, streamline operations, or explore new growth
              opportunities, we're ready to help you take the next step.
            </Text>
          </dd>
        </div>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="flex items-center mt-4 font-medium text-blue-500 gap-2 hover:text-zinc-900"
        >
          Talk to sales
          <ChevronRight size="sm" />
        </Text>
      </div>
      <div class="flex flex-col justify-between h-full py-8 text-sm">
        <dt>
          <div class="inline-flex items-center text-xs tracking-tighter gap-2">
            <Lifebuoy class="mx-auto text-blue-500" size="base" />
            <Text tag="h3" variant="textLG" class="font-medium text-zinc-900">
              Support
            </Text>
          </div>
          <div class="mt-2">
            <Text tag="p" variant="textBase">
              Got a question or facing a challenge? Our dedicated support team
              is here to assist you every step of the way. From troubleshooting
              technical issues to helping you maximize Alfred’s features, we’ve
              got the answers and expertise you need. Your success is our
              priority.
            </Text>
          </div>
        </dt>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="flex items-center mt-4 font-medium text-blue-500 gap-2 hover:text-zinc-900"
        >
          Talk to support
          <ChevronRight size="sm" />
        </Text>
      </div>
      <div class="flex flex-col justify-between h-full py-8 text-sm">
        <div>
          <dt class="inline-flex items-center text-xs tracking-tighter gap-2">
            <News class="mx-auto text-blue-500" size="base" />
            <Text tag="h3" variant="textLG" class="font-medium text-zinc-900">
              Press
            </Text>
          </dt>
          <dd class="mt-2">
            <Text
              tag="p"
              variant="textBase"
              class="mt-2 font-medium text-zinc-500"
            >
              If you're a member of the media or have an idea for a publication,
              we’re eager to connect with you. Alfred is always excited to share
              our latest news, innovations, and stories with the world. Let’s
              collaborate to bring your creative vision to life.
            </Text>
          </dd>
        </div>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="flex items-center mt-4 font-medium text-blue-500 gap-2 hover:text-zinc-900"
        >
          Talk to press
          <ChevronRight size="sm" />
        </Text>
      </div>
      <div class="flex flex-col justify-between h-full py-8 text-sm">
        <div>
          <dt class="inline-flex items-center text-xs tracking-tighter gap-2">
            <UserPlus class="mx-auto text-blue-500" size="base" />
            <Text tag="h3" variant="textLG" class="font-medium text-zinc-900">
              Partners
            </Text>
          </dt>
          <dd class="mt-2">
            <Text
              tag="p"
              variant="textBase"
              class="mt-2 font-medium text-zinc-500"
            >
              At Oxbow UI, we believe in the power of collaboration. If you're
              interested in partnering with us, we’re all ears. We value
              partnerships that drive innovation and mutual growth. Share your
              ideas, and let's explore how we can create something extraordinary
              together.
            </Text>
          </dd>
        </div>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="flex items-center mt-4 font-medium text-blue-500 gap-2 hover:text-zinc-900"
        >
          Meet our partners
          <ChevronRight size="sm" />
        </Text>
      </div>
    </dl>
  </div>
  <!-- copy:end -->
</div>
