---
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import CreditCard from "@/components/fundations/icons/CreditCard.astro";
import News from "@/components/fundations/icons/News.astro";
import Lifebuoy from "@/components/fundations/icons/Lifebuoy.astro";
import UserPlus from "@/components/fundations/icons/UserPlus.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl lg:text-balance mx-auto text-center">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayBase"
        class="mt-4 font-semibold text-base-900 lg:text-balance"
      >
        We would love to hear from you!
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
        Uniting talent with vision. Get to know the dedicated professionals who
        blend their skills and passion to lead us to new heights.
      </Text>
    </div>
    <dl class="mt-12 flex flex-col divide-y divide-base-200 max-w-xl mx-auto">
      <div class="flex h-full flex-col text-sm justify-between py-8">
        <div>
          <dt class="inline-flex items-center gap-2 tracking-tighter text-xs">
            <CreditCard class="mx-auto text-accent-500" size="base" />
            <Text tag="h3" variant="textLG" class="text-base-900 font-medium">
              Sales
            </Text>
          </dt>
          <dd class="mt-2">
            <Text
              tag="p"
              variant="textBase"
              class="mt-2 text-base-500 font-medium"
            >
              Discover how Oxbow UI can transform your business. Our team is
              here to guide you through the possibilities and tailor solutions
              that meet your unique needs. Whether you're looking to enhance
              productivity, streamline operations, or explore new growth
              opportunities, we're ready to help you take the next step.
            </Text>
          </dd>
        </div>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="text-accent-500 font-medium flex items-center gap-2 hover:text-base-900 mt-4"
        >
          Talk to sales
          <ChevronRight size="sm" />
        </Text>
      </div>
      <div class="flex h-full flex-col text-sm justify-between py-8">
        <dt>
          <div class="inline-flex items-center gap-2 tracking-tighter text-xs">
            <Lifebuoy class="mx-auto text-accent-500" size="base" />
            <Text tag="h3" variant="textLG" class="text-base-900 font-medium">
              Support
            </Text>
          </div>
          <div class="mt-2">
            <Text tag="p" variant="textBase">
              Got a question or facing a challenge? Our dedicated support team
              is here to assist you every step of the way. From troubleshooting
              technical issues to helping you maximize Alfred’s features, we’ve
              got the answers and expertise you need. Your success is our
              priority.
            </Text>
          </div>
        </dt>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="text-accent-500 font-medium flex items-center gap-2 hover:text-base-900 mt-4"
        >
          Talk to support
          <ChevronRight size="sm" />
        </Text>
      </div>
      <div class="flex h-full flex-col text-sm justify-between py-8">
        <div>
          <dt class="inline-flex items-center gap-2 tracking-tighter text-xs">
            <News class="mx-auto text-accent-500" size="base" />
            <Text tag="h3" variant="textLG" class="text-base-900 font-medium">
              Press
            </Text>
          </dt>
          <dd class="mt-2">
            <Text
              tag="p"
              variant="textBase"
              class="mt-2 text-base-500 font-medium"
            >
              If you're a member of the media or have an idea for a publication,
              we’re eager to connect with you. Alfred is always excited to share
              our latest news, innovations, and stories with the world. Let’s
              collaborate to bring your creative vision to life.
            </Text>
          </dd>
        </div>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="text-accent-500 font-medium flex items-center gap-2 hover:text-base-900 mt-4"
        >
          Talk to press
          <ChevronRight size="sm" />
        </Text>
      </div>
      <div class="flex h-full flex-col text-sm justify-between py-8">
        <div>
          <dt class="inline-flex items-center gap-2 tracking-tighter text-xs">
            <UserPlus class="mx-auto text-accent-500" size="base" />
            <Text tag="h3" variant="textLG" class="text-base-900 font-medium">
              Partners
            </Text>
          </dt>
          <dd class="mt-2">
            <Text
              tag="p"
              variant="textBase"
              class="mt-2 text-base-500 font-medium"
            >
              At Oxbow UI, we believe in the power of collaboration. If you're
              interested in partnering with us, we’re all ears. We value
              partnerships that drive innovation and mutual growth. Share your
              ideas, and let's explore how we can create something extraordinary
              together.
            </Text>
          </dd>
        </div>
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="text-accent-500 font-medium flex items-center gap-2 hover:text-base-900 mt-4"
        >
          Meet our partners
          <ChevronRight size="sm" />
        </Text>
      </div>
    </dl>
  </div>
</section>
