---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="max-w-xl lg:text-balance mx-auto text-center">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-base-900 lg:text-balance"
      >
        We would love to hear from you!
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
        Uniting talent with vision. Get to know the dedicated professionals who
        blend their skills and passion to lead us to new heights.
      </Text>
    </div>
    <dl
      class="grid grid-cols-1 gap-8 sm:grid-cols-2 max-w-2xl mx-auto mt-12 relative"
    >
      <div
        class="bg-accent-700 rounded-3xl flex flex-col h-full gap-12 justify-between relative group"
      >
        <a class="absolute inset-0" href="#_"> </a>
        <dt
          class="tracking-tight text-lg font-medium text-white p-8 flex items-center justify-between w-full"
        >
          Send us an email
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-circle-arrow-right group-hover:-rotate-45 duration-300"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M12 2l.324 .005a10 10 0 1 1 -.648 0l.324 -.005zm.613 5.21a1 1 0 0 0 -1.32 1.497l2.291 2.293h-5.584l-.117 .007a1 1 0 0 0 .117 1.993h5.584l-2.291 2.293l-.083 .094a1 1 0 0 0 1.497 1.32l4 -4l.073 -.082l.064 -.089l.062 -.113l.044 -.11l.03 -.112l.017 -.126l.003 -.075l-.007 -.118l-.029 -.148l-.035 -.105l-.054 -.113l-.071 -.111a1.008 1.008 0 0 0 -.097 -.112l-4 -4z"
            ></path></svg
          >
        </dt>
        <dd class="p-8 text-base text-base-200 border-t border-white/20">
          Please contact us by sending an email or the contact below.
        </dd>
      </div>
      <div
        class="bg-base-950 rounded-3xl flex flex-col h-full justify-between gap-12 group relative"
      >
        <a class="absolute inset-0" href="#_"> </a>
        <dt
          class="tracking-tight text-lg font-medium text-white p-8 flex items-center justify-between w-full"
        >
          Join us
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-circle-arrow-right group-hover:-rotate-45 duration-300"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M12 2l.324 .005a10 10 0 1 1 -.648 0l.324 -.005zm.613 5.21a1 1 0 0 0 -1.32 1.497l2.291 2.293h-5.584l-.117 .007a1 1 0 0 0 .117 1.993h5.584l-2.291 2.293l-.083 .094a1 1 0 0 0 1.497 1.32l4 -4l.073 -.082l.064 -.089l.062 -.113l.044 -.11l.03 -.112l.017 -.126l.003 -.075l-.007 -.118l-.029 -.148l-.035 -.105l-.054 -.113l-.071 -.111a1.008 1.008 0 0 0 -.097 -.112l-4 -4z"
            ></path></svg
          >
        </dt>
        <dd class="p-8 text-base text-base-200 border-t border-white/20">
          Be a part of our welcoming and supportive community on Circle.
        </dd>
      </div>
    </dl>
    <form action="#" method="POST" class="mx-auto max-w-xl mt-12">
      <div class="grid grid-cols-1 mt-12 gap-x-8 gap-y-6 sm:grid-cols-2">
        <div>
          <Text
            for="first-name"
            tag="label"
            variant="textBase"
            class="text-base-500 font-medium"
          >
            First name
          </Text>
          <Text
            for="first-name"
            tag="label"
            variant="textBase"
            class="text-base-500 font-medium"
          >
            First name
          </Text>
          <div class="mt-2.5">
            <input
              type="text"
              name="first-name"
              id="first-name"
              autocomplete="given-name"
              required
              aria-required="true"
              aria-describedby="first-name-error"
              placeholder="Your first name"
              class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
            />
            <span id="first-name-error" class="text-red-600 text-sm hidden">
              Please enter your first name.
            </span>
          </div>
        </div>
        <div>
          <Text
            for="last-name"
            tag="label"
            variant="textBase"
            class="text-base-500 font-medium"
          >
            Last name
          </Text>
          <div class="mt-2.5">
            <input
              type="text"
              name="last-name"
              id="last-name"
              autocomplete="family-name"
              required
              aria-required="true"
              aria-describedby="last-name-error"
              placeholder="Your last name"
              class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
            />
            <span id="last-name-error" class="text-red-600 text-sm hidden">
              Please enter your last name.
            </span>
          </div>
        </div>
        <div class="sm:col-span-2">
          <Text
            for="compant"
            tag="label"
            variant="textBase"
            class="text-base-500 font-medium"
          >
            Company name
          </Text>
          <div class="mt-2.5">
            <input
              type="text"
              name="company"
              id="company"
              autocomplete="organization"
              aria-describedby="company-error"
              placeholder="Your company"
              class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
            />
            <span id="company-error" class="text-red-600 text-sm hidden">
              Please enter your company name.
            </span>
          </div>
        </div>
        <div class="sm:col-span-2">
          <Text
            for="phone-number"
            tag="label"
            variant="textBase"
            class="text-base-500 font-medium"
          >
            Phone number
          </Text>
          <div class="relative mt-2.5">
            <div class="absolute inset-y-0 left-0 flex items-center">
              <label for="country" class="sr-only">Country</label>
              <select
                id="country"
                name="country"
                aria-label="Country code"
                class="h-full rounded-md border-0 bg-transparent py-0 pl-4 pr-9 text-base-400 focus:ring-2 focus:ring-inset focus:ring-accent-600 sm:text-sm"
              >
                <option value="IT">Italy</option>
                <option value="ES">Spain</option>
                <option value="JP">Japan</option>
              </select>
            </div>
            <input
              type="tel"
              name="phone-number"
              id="phone-number"
              autocomplete="tel"
              aria-describedby="phone-number-description"
              placeholder="123-456-7890"
              class="block pl-24 w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
            />
            <p id="phone-number-description" class="sr-only">
              Enter your phone number including the country code.
            </p>
          </div>
        </div>
        <div class="sm:col-span-2">
          <Text
            for="email"
            tag="label"
            variant="textBase"
            class="text-base-500 font-medium"
          >
            Email
          </Text>
          <div class="mt-2.5">
            <input
              type="email"
              name="email"
              id="email"
              autocomplete="email"
              required
              aria-required="true"
              aria-describedby="email-error"
              placeholder="Your email"
              class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
            />
            <span id="email-error" class="text-red-600 text-sm hidden">
              Please enter a valid email address.
            </span>
          </div>
        </div>
        <div class="sm:col-span-2">
          <Text
            for="message"
            tag="label"
            variant="textBase"
            class="text-base-500 font-medium"
          >
            Message
          </Text>
          <div class="mt-2.5">
            <textarea
              name="message"
              id="message"
              rows="5"
              aria-describedby="message-error"
              placeholder="Your message"
              class="block w-full px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
            ></textarea>
            <span id="message-error" class="text-red-600 text-sm hidden">
              Please enter your message.
            </span>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <div class="flex flex-wrap items-center gap-2 mx-auto mt-8">
          <Button class="w-full" variant="accent" size="base"> Submit </Button>
        </div>
        <div class="flex items-center gap-3 mt-4">
          <input
            id="agreement"
            name="agreement"
            type="checkbox"
            class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
          />
          <Text for="agreement" tag="label" class="block text-sm text-base-500"
            >Label
          </Text>
        </div>
      </div>
    </form>
  </div>
</section>
