---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
---

<div class="relative bg-white">
  <div class="lg:absolute lg:inset-0 lg:left-1/2">
    <img
      class="h-64 w-full bg-base-50 object-cover sm:h-80 lg:absolute lg:h-full lg:border-l"
      src="/pose/1.jpg"
      alt=""
    />
  </div>
  <div
    class="pb-24 pt-16 sm:pb-32 sm:pt-24 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:pt-32"
  >
    <div class="px-6 lg:px-8">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
        <div class="max-w-xl lg:text-balance">
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-accent-600"
          >
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displayBase"
            class="mt-4 font-semibold text-base-900 lg:text-balance"
          >
            We would love to hear from you!
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 text-base-500 font-medium"
          >
            Uniting talent with vision. Get to know the dedicated professionals
            who blend their skills and passion to lead us to new heights.
          </Text>
        </div>
        <form action="#" method="POST" class="mx-auto mt-12 max-w-lg">
          <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
            <div>
              <Text
                for="first-name"
                tag="label"
                variant="textBase"
                class="text-base-500 font-medium"
              >
                First name
              </Text>
              <div class="mt-2.5">
                <input
                  type="text"
                  name="first-name"
                  id="first-name"
                  autocomplete="given-name"
                  required
                  aria-required="true"
                  aria-describedby="first-name-error"
                  placeholder="Your first name"
                  class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <span id="first-name-error" class="text-red-600 text-sm hidden">
                  Please enter your first name.
                </span>
              </div>
            </div>
            <div>
              <Text
                for="last-name"
                tag="label"
                variant="textBase"
                class="text-base-500 font-medium"
              >
                Last name
              </Text>
              <div class="mt-2.5">
                <input
                  type="text"
                  name="last-name"
                  id="last-name"
                  autocomplete="family-name"
                  required
                  aria-required="true"
                  aria-describedby="last-name-error"
                  placeholder="Your last name"
                  class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <span id="last-name-error" class="text-red-600 text-sm hidden">
                  Please enter your last name.
                </span>
              </div>
            </div>
            <div class="sm:col-span-2">
              <Text
                for="compant"
                tag="label"
                variant="textBase"
                class="text-base-500 font-medium"
              >
                Company name
              </Text>
              <div class="mt-2.5">
                <input
                  type="text"
                  name="company"
                  id="company"
                  autocomplete="organization"
                  aria-describedby="company-error"
                  placeholder="Your company"
                  class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <span id="company-error" class="text-red-600 text-sm hidden">
                  Please enter your company name.
                </span>
              </div>
            </div>
            <div class="sm:col-span-2">
              <Text
                for="phone-number"
                tag="label"
                variant="textBase"
                class="text-base-500 font-medium"
              >
                Phone number
              </Text>
              <div class="relative mt-2.5">
                <div class="absolute inset-y-0 left-0 flex items-center">
                  <label for="country" class="sr-only">Country</label>
                  <select
                    id="country"
                    name="country"
                    aria-label="Country code"
                    class="h-full rounded-md border-0 bg-transparent py-0 pl-4 pr-9 text-base-400 focus:ring-2 focus:ring-inset focus:ring-accent-600 sm:text-sm"
                  >
                    <option value="IT">Italy</option>
                    <option value="ES">Spain</option>
                    <option value="JP">Japan</option>
                  </select>
                </div>
                <input
                  type="tel"
                  name="phone-number"
                  id="phone-number"
                  autocomplete="tel"
                  aria-describedby="phone-number-description"
                  placeholder="123-456-7890"
                  class="block pl-24 w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <p id="phone-number-description" class="sr-only">
                  Enter your phone number including the country code.
                </p>
              </div>
            </div>
          </div>
          <div
            x-data="{
    radioGroupSelectedValue: null,
    radioGroupOptions: [
      {
        title: 'Freelancer',
        description: 'Select this option if you are a freelancer.',
        value: 'freelancer'
      },
      {
        title: 'Company',
        description: 'Select this option if you are working for a company.',
        value: 'company'
      },
    ]
  }"
            class="grid grid-cols-1 md:grid-cols-2 mt-6 gap-2"
            role="radiogroup"
            aria-labelledby="radio-group-label"
          >
            <span id="radio-group-label" class="sr-only"
              >Choose your work status</span
            >
            <template x-for="(option, index) in radioGroupOptions" :key="index">
              <div>
                <input
                  type="radio"
                  :id="'radio-' + option.value"
                  name="radio-group"
                  :value="option.value"
                  x-model="radioGroupSelectedValue"
                  class="sr-only"
                  :aria-describedby="'description-' + option.value"
                />
                <label
                  :for="'radio-' + option.value"
                  class="block bg-white ring-2 ring-base-200 rounded-lg cursor-pointer transition-all duration-300 ease-in-out focus-within:ring-accent-500"
                  :class="{ 'ring-accent-500': radioGroupSelectedValue === option.value }"
                >
                  <div
                    class="flex flex-col h-full justify-between text-left rounded-lg"
                    tabindex="-1"
                  >
                    <div class="p-4 flex items-center gap-3">
                      <div
                        class="size-4 ring-1 rounded-full flex items-center justify-center"
                        :class="{ 'ring-accent-500': radioGroupSelectedValue === option.value, 'ring-base-300': radioGroupSelectedValue !== option.value }"
                        aria-hidden="true"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-circle-check-filled text-accent-600"
                          width="20"
                          height="20"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          x-show="radioGroupSelectedValue === option.value"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"
                          ></path>
                          <path
                            d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                            stroke-width="0"
                            fill="currentColor"></path>
                        </svg>
                      </div>
                      <Text
                        tag="span"
                        variant="textBase"
                        x-text="option.title"
                        class="text-base-900 font-medium"
                      />
                    </div>
                    <div class="p-4 border-t">
                      <Text
                        tag="span"
                        variant="textBase"
                        x-text="option.description"
                        :id="'description-' + option.value"
                        class="text-base-500 font-medium"
                      />
                    </div>
                  </div>
                </label>
              </div>
            </template>
          </div>
          <div class="mt-10">
            <Button class="w-full" variant="accent" size="base">
              Submit
            </Button>
          </div>
          <div class="flex items-center mt-4">
            <input
              id="agreement"
              name="agreement"
              type="checkbox"
              class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
            />
            <Text
              for="agreement"
              tag="label"
              class="ml-3 block text-sm text-base-500"
              >You agree to our
              <Text
                tag="a"
                href="#_"
                variant="textBase"
                class="text-accent-500 font-medium hover:text-base-500"
              >
                Terms of service
              </Text>
              and
              <Text
                tag="a"
                href="#_"
                variant="textBase"
                class="text-accent-500 font-medium hover:text-base-500"
              >
                Privacy Policy
              </Text>
            </Text>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
