---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import MapPin from "@/components/fundations/icons/MapPin.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
const services = [
  { id: 1, name: "UX Design" },
  { id: 2, name: "Web Development" },
  { id: 3, name: "SEO Optimization" },
  { id: 4, name: "Content Writing" },
  { id: 5, name: "Graphic Design" },
  { id: 6, name: "Social Media Management" },
  { id: 7, name: "App Development" },
  { id: 8, name: "Digital Marketing" },
];
const options = [
  { id: 1, name: "Use our chat widget", href: "#" },
  { id: 2, name: "Explore our knowledge base", href: "#" },
  { id: 3, name: "Submit a support ticket", href: "#" },
];
const locations = [
  {
    title: "Amsterdam",
    addressLines: ["78 Canal Street", "1012 AB Amsterdam", "Netherlands"],
  },
  {
    title: "Vienna",
    addressLines: ["56 Schönbrunner Straße", "1120 Vienna", "Austria"],
  },
  {
    title: "Stockholm",
    addressLines: ["23 Gamla Stan", "111 29 Stockholm", "Sweden"],
  },
  {
    title: "Zurich",
    addressLines: ["12 Bahnhofstrasse", "8001 Zurich", "Switzerland"],
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="max-w-xl lg:text-balance">
      <Kicker>Let’s Talk</Kicker>
      <Text
        tag="h1"
        variant="displayMD"
        class="mt-12 font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
      >
        How can we help you today?
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 lg:text-balance text-zinc-500 dark:text-zinc-400"
      >
        Reach out to our team for questions, project ideas, or support. We’re
        here to collaborate and help you achieve your goals.
      </Text>
    </div>
    <div class="mt-12 grid grid-cols-1 gap-x-32 gap-y-6 md:grid-cols-2">
      <form action="#" method="POST">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
          <div>
            <label
              for="first-name"
              class="font-medium text-zinc-500 dark:text-zinc-400 text-sm"
            >
              First name
            </label>
            <div class="1">
              <input
                type="text"
                name="first-name"
                id="first-name"
                autocomplete="given-name"
                required
                aria-required="true"
                aria-describedby="first-name-error"
                placeholder="Your first name"
                class="block w-full h-10 px-4 py-2 text-sm bg-white dark:bg-zinc-900 border border-transparent rounded-lg appearance-none text-zinc-700 dark:text-zinc-300 duration-300 ring-1 ring-zinc-200 dark:ring-zinc-700 placeholder-zinc-400 dark:placeholder-zinc-500 focus:border-zinc-300 dark:focus:border-zinc-700 focus:bg-transparent focus:outline-none focus:ring-zinc-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span id="first-name-error" class="hidden text-sm text-red-600">
                Please enter your first name.
              </span>
            </div>
          </div>
          <div>
            <label
              for="last-name"
              class="font-medium text-zinc-500 dark:text-zinc-400 text-sm"
            >
              Last name
            </label>
            <div class="1">
              <input
                type="text"
                name="last-name"
                id="last-name"
                autocomplete="family-name"
                required
                aria-required="true"
                aria-describedby="last-name-error"
                placeholder="Your last name"
                class="block w-full h-10 px-4 py-2 text-sm bg-white dark:bg-zinc-900 border border-transparent rounded-lg appearance-none text-zinc-700 dark:text-zinc-300 duration-300 ring-1 ring-zinc-200 dark:ring-zinc-700 placeholder-zinc-400 dark:placeholder-zinc-500 focus:border-zinc-300 dark:focus:border-zinc-700 focus:bg-transparent focus:outline-none focus:ring-zinc-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span id="last-name-error" class="hidden text-sm text-red-600">
                Please enter your last name.
              </span>
            </div>
          </div>
          <div class="sm:col-span-2">
            <label
              for="compant"
              class="font-medium text-zinc-500 dark:text-zinc-400 text-sm"
            >
              Company name
            </label>
            <div class="1">
              <input
                type="text"
                name="company"
                id="company"
                autocomplete="organization"
                aria-describedby="company-error"
                placeholder="Your company"
                class="block w-full h-10 px-4 py-2 text-sm bg-white dark:bg-zinc-900 border border-transparent rounded-lg appearance-none text-zinc-700 dark:text-zinc-300 duration-300 ring-1 ring-zinc-200 dark:ring-zinc-700 placeholder-zinc-400 dark:placeholder-zinc-500 focus:border-zinc-300 dark:focus:border-zinc-700 focus:bg-transparent focus:outline-none focus:ring-zinc-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span id="company-error" class="hidden text-sm text-red-600">
                Please enter your company name.
              </span>
            </div>
          </div>
          <div class="sm:col-span-2">
            <label
              for="phone-number"
              class="font-medium text-zinc-500 dark:text-zinc-400 text-sm"
            >
              Phone number
            </label>
            <div class="relative 1">
              <div class="absolute inset-y-0 left-0 flex items-center">
                <label for="country" class="sr-only">Country</label>
                <select
                  id="country"
                  name="country"
                  aria-label="Country code"
                  class="h-full py-0 pl-4 bg-transparent border-0 rounded-md pr-9 text-zinc-400 dark:text-zinc-500 focus:ring-2 focus:ring-inset focus:ring-zinc-600 sm:text-sm"
                >
                  <option value="IT">Italy</option>
                  <option value="ES">Spain</option>
                  <option value="JP">Japan</option>
                </select>
              </div>
              <input
                type="tel"
                name="phone-number"
                id="phone-number"
                autocomplete="tel"
                aria-describedby="phone-number-description"
                placeholder="123-456-7890"
                class="block w-full h-10 px-4 py-2 pl-24 text-sm bg-white dark:bg-zinc-900 border border-transparent rounded-lg shadow appearance-none text-zinc-700 dark:text-zinc-300 duration-300 ring-1 ring-zinc-200 dark:ring-zinc-700 placeholder-zinc-400 dark:placeholder-zinc-500 focus:border-zinc-300 dark:focus:border-zinc-700 focus:bg-transparent focus:outline-none focus:ring-zinc-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <p id="phone-number-description" class="sr-only">
                Enter your phone number including the country code.
              </p>
            </div>
          </div>
          <div class="sm:col-span-2">
            <label
              for="email"
              class="font-medium text-zinc-500 dark:text-zinc-400 text-sm"
            >
              Email
            </label>
            <div class="1">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                required
                aria-required="true"
                aria-describedby="email-error"
                placeholder="Your email"
                class="block w-full h-10 px-4 py-2 text-sm bg-white dark:bg-zinc-900 border border-transparent rounded-lg appearance-none text-zinc-700 dark:text-zinc-300 duration-300 ring-1 ring-zinc-200 dark:ring-zinc-700 placeholder-zinc-400 dark:placeholder-zinc-500 focus:border-zinc-300 dark:focus:border-zinc-700 focus:bg-transparent focus:outline-none focus:ring-zinc-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span id="email-error" class="hidden text-sm text-red-600">
                Please enter a valid email address.
              </span>
            </div>
          </div>
          <div class="sm:col-span-2">
            <label
              for="message"
              class="font-medium text-zinc-500 dark:text-zinc-400 text-sm"
            >
              Message
            </label>
            <div class="1">
              <textarea
                name="message"
                id="message"
                rows="5"
                aria-describedby="message-error"
                placeholder="Your message"
                class="block w-full px-4 py-2 text-sm bg-white dark:bg-zinc-900 border border-transparent rounded-lg appearance-none text-zinc-700 dark:text-zinc-300 duration-300 ring-1 ring-zinc-200 dark:ring-zinc-700 placeholder-zinc-400 dark:placeholder-zinc-500 focus:border-zinc-300 dark:focus:border-zinc-700 focus:bg-transparent focus:outline-none focus:ring-zinc-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              ></textarea>
              <span id="message-error" class="hidden text-sm text-red-600">
                Please enter your message.
              </span>
            </div>
          </div>
        </div>
        <div class="flex items-center mt-4 col-span-full">
          <input
            id="agreement"
            name="agreement"
            type="checkbox"
            class="rounded shadow size-4 border-zinc-300 dark:border-zinc-700 text-zinc-600 dark:text-zinc-400 focus:ring-zinc-600 dark:focus:ring-zinc-400"
          />
          <label
            for="agreement"
            class="block ml-3 text-sm text-zinc-500 dark:text-zinc-400"
          >
            You agree to our
            <a
              href="#_"
              class="ont-medium text-zinc-900 dark:text-white hover:text-zinc-600 dark:hover:text-zinc-300"
            >
              Terms of service
            </a>
            and
            <a
              href="#_"
              class="ont-medium text-zinc-900 dark:text-white hover:text-zinc-600 dark:hover:text-zinc-300"
            >
              Privacy Policy
            </a>
          </label>
        </div>
        <Button class="w-full mt-8" variant="default" size="base">
          Submit
        </Button>
        <div class="mt-8">
          <Text
            tag="h3"
            variant="textLG"
            class="font-medium text-zinc-900 dark:text-zinc-300"
          >
            Services
          </Text>
          <div class="mt-8 grid grid-cols-1 gap-x-8 gap-y-1 sm:grid-cols-2">
            <!-- Astro template syntax for services checkboxes -->
            {
              services.map((service) => (
                <div class="flex items-start gap-3">
                  <input
                    id={"service-" + service.id}
                    name={"service-" + service.id}
                    type="checkbox"
                    class="rounded shadow size-4 border-zinc-300 dark:border-zinc-700 text-zinc-600 dark:text-zinc-400 focus:ring-zinc-600 dark:focus:ring-zinc-400 bg-white dark:bg-zinc-800"
                  />
                  <label
                    for={"service-" + service.id}
                    class="block font-medium text-zinc-500 dark:text-zinc-400 text-sm"
                  >
                    {service.name}
                  </label>
                </div>
              ))
            }
          </div>
        </div>
      </form>
      <div class="flex flex-col divide-y divide-zinc-200 dark:divide-zinc-700">
        <div class="py-4">
          <Text
            tag="h3"
            variant="textBase"
            class="font-semibold text-zinc-900 dark:text-white"
          >
            Get in touch
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Reach out to our experts for advice, collaboration, or support.
            We’ll respond promptly and guide you every step of the way.
          </Text>
          <ul class="mt-4 pt-4 border-t border-zinc-200 dark:border-zinc-800">
            {
              options.map((option) => (
                <li>
                  <a
                    href="#_"
                    class="font-medium text-zinc-900 dark:text-white  hover:text-zinc-600 dark:hover:text-zinc-300 text-sm"
                  >
                    {option.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="py-4">
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium text-zinc-900 dark:text-white"
          >
            Call us
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Our phone lines are open around the clock. Call anytime and our team
            will be happy to assist you.
          </Text>
          <div class="mt-6">
            <a
              href="#_"
              class="font-medium text-zinc-900 dark:text-white hover:text-zinc-600 dark:hover:text-zinc-300 text-sm"
            >
              <span class="sr-only">Phone number</span>
              +44 20 7946 1234
            </a>
          </div>
        </div>
        <div class="py-4">
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium text-zinc-900 dark:text-white"
          >
            Our offices
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Visit us at one of our international locations. We’re present in
            Amsterdam, Vienna, Stockholm, and Zurich—stop by and say hello!
          </Text>
          <ul
            class="mt-6 text-base font-medium list-none divide-y text-zinc-500 dark:text-zinc-400 divide-zinc-200 dark:divide-zinc-700"
          >
            {
              locations.map((location) => (
                <div class="py-4 grid grid-cols-1 sm:grid-cols-2  lg:grid-cols-3">
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-medium text-zinc-900 dark:text-white"
                  >
                    {location.title}
                  </Text>
                  <address class="flex mt-2 not-italic lg:mt-0 gap-2 lg:col-span-2  sm:text-balance">
                    <MapPin
                      class="text-zinc-600 dark:text-zinc-400"
                      size="sm"
                    />
                    <div class="flex flex-col  gap-2">
                      {location.addressLines.map((line, idx) => (
                        <Text
                          tag="p"
                          variant="textSM"
                          class="font-medium text-zinc-500 dark:text-zinc-400 text-sm"
                        >
                          {line}
                          {idx < location.addressLines.length - 1 ? ", " : ""}
                        </Text>
                      ))}
                    </div>
                  </address>
                </div>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
