---
// FlyoutLink.astro

import Text from "@/components/fundations/typography/Text.astro";

import Badge from "../badges/Badge.astro";
const { href, icon: Icon, title, description, badge } = Astro.props;
---

<Text
  href={href}
  tag="a"
  variant="textSM"
  class="relative flex items-center w-full gap-2 group"
>
  <div
    class="flex items-center justify-center flex-none  rounded-lg duration-300 size-11 bg-zinc-50 dark:bg-zinc-800 group-hover:bg-white dark:group-hover:bg-zinc-700"
  >
    <Icon
      size="base"
      slot="left-icon"
      class="group-hover:text-blue-500 dark:group-hover:text-blue-400 text-zinc-500 dark:text-zinc-400"
    />
  </div>
  <div>
    <Text
      tag="h3"
      variant="textBase"
      class="flex items-center w-full font-medium text-zinc-900 dark:text-white group-hover:text-blue-500 dark:group-hover:text-blue-400 gap-2"
    >
      {title}
      {
        badge && (
          <Badge variant="info" size="xs">
            {badge}
          </Badge>
        )
      }
    </Text>
    <Text
      tag="h3"
      variant="textSM"
      class="font-medium text-zinc-500 dark:text-zinc-400"
    >
      {description}
    </Text>
  </div>
</Text>
