---
// FlyoutLink.astro

import Text from "@/components/fundations/typography/Text.astro";

import Badge from "../badges/Badge.astro";
const { href, icon: Icon, title, description, badge } = Astro.props;
---

<Text
  href={href}
  tag="a"
  variant="textSM"
  class="relative flex items-center w-full p-4 gap-2 group rounded-xl hover:bg-base-50">
  <div
    class="flex items-center justify-center flex-none mt-1 rounded-full duration-300 size-11 bg-base-50 group-hover:bg-white">
    <Icon
      size="base"
      slot="left-icon"
      class="group-hover:text-accent-500"
    />
  </div>
  <div>
    <Text
      tag="h3"
      variant="textBase"
      class="flex items-center w-full font-medium text-base-900 group-hover:text-accent-500 gap-2">
      {title}
      {
        badge && (
          <Badge
            variant="info"
            size="xs">
            {badge}
          </Badge>
        )
      }
    </Text>
    <Text
      tag="h3"
      variant="textSM"
      class="font-medium text-base-500">
      {description}
    </Text>
  </div>
</Text>
