
<div class=" relative ">
    <!-- full-width box (already spans 100% so “centering” isn’t needed) -->
    <div class="outline-4 outline-base-900/20 rounded-md p-20 w-full absolute top-0 group-hover:top-2 duration-400"></div>
  
    <!-- 32-wide box, centered -->
    <div class="outline-4 outline-base-900/20 rounded-md p-20 w-32 absolute group-hover:-top-6 duration-500  -top-8 left-1/2 transform -translate-x-1/2">
    
    </div>
  
    <!-- 48-wide box, centered -->
    <div class="outline-4 outline-base-900/20 rounded-lg p-20 w-64 absolute group-hover:-top-2 duration-600 -top-4 left-1/2 transform -translate-x-1/2">
     
    </div>
  </div>
  