@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hidding emulators*/
.firebase-emulator-warning {
  color: #66666650 !important;
  border: transparent !important;
  background-color: transparent !important;
  font-size: 0.8rem !important;
}

.prose-styles {
  @apply prose prose-headings:text-gray-900 text-sm  text-gray-500   prose-a:text-accent-500  prose-a:no-underline hover:prose-a:underline  prose-a:font-normal prose-strong:text-accent-500   prose-blockquote:text-gray-500  prose-blockquote:border-gray-400  prose-headings:text-[16px]  prose-ul:leading-tight prose-ul:[list-style-type:'⏤'] prose-ul:space-y-2.5 prose-strong:font-normal   prose-headings:font-normal max-w-none prose-li:marker:text-gray-900  mt-0 prose-h1:text-2xl;
}
/* Styling Inter font with custom settings, it's cooler like this*/
/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1, /* Contextual Alternates */
    "dlig" 1, /* Discretionary Ligatures */
    "ss07" 1, /* fSquare punctuation */

    "ss08" 1, /* Square quotes */
    "zero" 1, /* Slashed zero */
    "tnum" 1, /* Tabular numbers */
    "cv06" 1, /* Simplified u */
    "cv10" 1, /* Capital G with spur */

    "cv03" 1, /* Open six */
    "cv04" 1, /* Open nine */
    "cv01" 1, /* Alternate one */
    "cv09", /* Flat-top three */
    "cv02" 1; /* Open 4 */
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* Styling  Ninja Keys */
ninja-keys::part(ninja-input) {
  color: #ffffff;
  font-size: 1rem;
}

ninja-keys {
  --ninja-modal-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3),
    0 4px 6px -4px rgba(0, 0, 0, 0.3) !important;
  --ninja-modal-background: #18181b;
  --ninja-overflow-background: #ffffff50;
  --ninja-secondary-text-color: #ffffff;
  --ninja-text-color: #ffffff;
  --ninja-selected-background: #ffffff20;
  --ninja-key-border-radius: 0.75rem;
}
ninja-keys::part(ninja-action) {
  border-left: 4px solid transparent;
}
ninja-keys::part(ninja-selected) {
  border-left: 4px solid #fff;
}

/* Styling the code blocks*/

/*DArk*/
/* :root {
  --astro-code-color-text: theme('colors.gray.200');
  --astro-code-color-background: theme('colors.black');
  --astro-code-token-constant: theme('colors.gray.400');
  --astro-code-token-string: theme('colors.gray.300');
  --astro-code-token-comment: theme('colors.gray.500');
  --astro-code-token-keyword: theme('colors.gray.600');
  --astro-code-token-parameter: theme('colors.gray.400');
  --astro-code-token-function: theme('colors.gray.400');
  --astro-code-token-string-expression: theme('colors.white');
  --astro-code-token-punctuation: theme('colors.gray.400');
  --astro-code-token-link: theme('colors.gray.400');
} */
/*Light*/
:root {
  --astro-code-color-background: theme("colors.gray.50");
  --astro-code-color-text: theme("colors.gray.400");
  --astro-code-token-comment: theme("colors.gray.400");
  --astro-code-token-string: theme("colors.accent.500");
  --astro-code-token-keyword: theme("colors.accent.500");
  --astro-code-token-link: theme("colors.accent.600");
  --astro-code-token-constant: theme("colors.accent.900");
  --astro-code-token-parameter: theme("colors.accent.500");
  --astro-code-token-function: theme("colors.accent.500");
  --astro-code-token-punctuation: theme("colors.accent.950");
  --astro-code-token-string-expression: theme("colors.accent.950");
}
code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: #9da3ae;
}

[x-cloak] {
  display: none !important;
}

/* JetBrains Mono */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}