@import "./syntaxhighlighting.css";
@import "tailwindcss" source("../");
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar-hide";
@source "../../safelist.txt";
/* Enable manual dark mode via `.dark` class or `[data-theme=dark]` attribute */
@custom-variant dark (&:where(.dark, .dark *, [data-theme=dark], [data-theme=dark] *));
@theme {
  /* Typography */
  --font-sans: Geist, sans-serif;
  --font-mono: Geist Mono, monospace;
  --font-serif: Instrument Serif, serif;
  /* blues */
  --color-blue-light: #60beff;
  --color-blue: #1da8ff;
  --color-blue-dark: #007bff;
  --color-green-light: #33cd8e;
  --color-green: #00c172;
  --color-green-dark: #00a651;
  --color-yellow-light: #ffcd6c;
  --color-yellow: #ffb112;
  --color-yellow-dark: #ffa100;
  --color-orange-light: #ff713d;
  --color-orange: #fa5925;
  --color-orange-dark: #fd4202;
  /* Colors */
  --color-accent-50: oklch(0.977 0.013 236.62);
  --color-accent-100: oklch(0.951 0.026 236.824);
  --color-accent-200: oklch(0.901 0.058 230.902);
  --color-accent-300: oklch(0.828 0.111 230.318);
  --color-accent-400: oklch(0.746 0.16 232.661);
  --color-accent-500: oklch(0.685 0.169 237.323);
  --color-accent-600: oklch(0.588 0.158 241.966);
  --color-accent-700: oklch(0.5 0.134 242.749);
  --color-accent-800: oklch(0.443 0.11 240.79);
  --color-accent-900: oklch(0.391 0.09 240.876);
  --color-accent-950: oklch(0.293 0.066 243.157);
  /* base*/
--color-base-50: oklch(0.985 0 0);
  --color-base-100: oklch(0.97 0 0);
  --color-base-200: oklch(0.922 0 0);
  --color-base-300: oklch(0.87 0 0);
  --color-base-400: oklch(0.708 0 0);
  --color-base-500: oklch(0.556 0 0);
  --color-base-600: oklch(0.439 0 0);
  --color-base-700: oklch(0.371 0 0);
  --color-base-800: oklch(0.269 0 0);
  --color-base-900: oklch(0.205 0 0);
  --color-base-950: oklch(0.145 0 0);
  --shadow-normal: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  --shadow-oxbow: 0px 4px 20px 0px rgba(15, 12, 12, 0.08),
    0px 8px 12px -4px rgba(15, 12, 12, 0.08),
    0px 0px 2px 0px rgba(15, 12, 12, 0.1), 0px 1px 2px 0px rgba(15, 12, 12, 0.1);
  --shadow-subtle: 0px 0px 0px 1px rgba(30, 31, 37, 0.09),
    0px 1px 2px 0px rgba(30, 31, 37, 0.02),
    0px 1px 0px 0px rgba(30, 31, 37, 0.08);
  --shadow-button: 0 8px 12px -4px #1a19250f, 0 4px 8px -4px #1a19251f,
    0 2px 4px -1px #1a19251f, 0 1px 1.5px -0.5px #1a19251f,
    0 0.75px 0.75px #1a19251f, 0 0.25px 0.25px #1a19253d,
    inset 0 -8px 20px #1a192514, inset 0 1px 3px #ffffff14,
    inset 0 0.75px 0.75px #ffffff14, inset 0 0.25px 0.25px #ffffff1f;
}
:root {
  font-family: "Geist", sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
  font-variant-numeric: tabular-nums;
  
  /* test*/
  --shiki-token-string-expression: var(--color-accent-600);
  --shiki-token-function: var(--color-base-500);
  --shiki-foreground: var(--color-base-400);
  /* Shiki css-variables theme support */
  --shiki-color-text: var(--color-base-400);
  --shiki-color-background: var(--color-base-50);
  --shiki-token-comment: var(--color-base-400);
  --shiki-token-string: var(--color-accent-600);
  --shiki-token-constant: var(--color-accent-600);
  --shiki-token-keyword: var(--color-accent-600);
  --shiki-token-parameter: var(--color-base-400);
  --shiki-token-punctuation: var(--color-base-400);
}


/* Ensure a stable vertical scrollbar to avoid layout shift */
html { overflow-y: auto; scrollbar-gutter: stable; }
/* Hide Firebase emulator warning banners */
.firebase-emulator-warning,
.firegray-emulator-warning {
  display: none !important;
  visibility: hidden !important;
}
/* Styling  Ninja Keys */
ninja-keys::part(ninja-input) {
  font-size: 1rem;
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}
ninja-keys {
  --ninja-width: 620px !important;
  --ninja-modal-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -4px rgba(0, 0, 0, 0.2) !important;
  z-index: 9999999;
}
ninja-keys::part(ninja-input) {
  color: var(--color-blue-950);
  margin-left: 0 !important;
  margin-right: 0 !important;
}
ninja-keys::part(ninja-action) {
  border-left: 4px solid transparent;
  font-weight: 500;
}
ninja-keys::part(ninja-selected) {
  border-left: 4px solid var(--color-accent-600);
 
}
code {
  counter-reset: step;
  counter-increment: step 0;
}
code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: var(--color-accent-600);
}
[x-cloak] {
  display: none !important;
}
/* Add this to your global CSS (e.g., styles.css or Tailwind config layer) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input,
select {
  -webkit-appearance: none; /* Chrome, Safari, Opera */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* estandar */
}

 :global([x-cloak]) {
    display: none !important;
  }
