---
import Button from "@/components/fundations/buttons/Button.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
---

<section>
  <div class="relative px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center lg:text-balance  max-w-2xl mx-auto">
      <h1 class="text-lg xl:text-2xl font-medium tracking-tight text-base-900">
        Begin by crafting your first survey question
      </h1>
      <p class="mt-2 text-sm text-base-500 text-pretty lg:text-balance">
        Add a question to your survey that participants will see as they begin.
      </p>
      <ul
        class="mt-4 text-sm text-base-500 flex flex-col md:flex-row gap-4 justify-center">
        <li class="flex gap-2 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check size-4"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
            ></path><path d="M9 12l2 2l4 -4"></path></svg
          >Age group
        </li>
        <li class="flex gap-2 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check size-4"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
            ></path><path d="M9 12l2 2l4 -4"></path></svg
          >Primary interests
        </li>
        <li class="flex gap-2 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check size-4"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
            ></path><path d="M9 12l2 2l4 -4"></path></svg
          >Location
        </li>
      </ul>
      <Button
        class="mt-8 mx-auto"
        gap="xs"
        size="base"
        variant="accent">
        <Plus
          size="base"
          slot="icon"
          slot="left-icon"
        />

        Add a new question
      </Button>
    </div>
  </div>
</section>
