---
export const freeComponent = true;
export const description = "With add button";
import Button from "@/components/fundations/buttons/Button.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <div class="max-w-2xl mx-auto w-full text-center lg:text-balance">
    <Text tag="h3" variant="textBase" class="font-medium text-zinc-900">
      Begin by crafting your first survey question
    </Text>
    <Text tag="p" variant="textSM" class="mt-2 font-medium text-zinc-500">
      Add a question to your survey that participants will see as they begin.
    </Text>
    <ul
      class="flex flex-col justify-center mt-4 text-sm text-zinc-500 md:flex-row gap-4"
    >
      <li class="flex items-center gap-2">
        <CircleCheck size="sm" slot="icon" />
        <Text tag="p" variant="textSM" class="font-medium text-zinc-500">
          Age group
        </Text>
      </li>
      <li class="flex items-center gap-2">
        <CircleCheck size="sm" slot="icon" />
        <Text tag="p" variant="textSM" class="font-medium text-zinc-500">
          Primary interests
        </Text>
      </li>
      <li class="flex items-center gap-2">
        <CircleCheck size="sm" slot="icon" />
        <Text tag="p" variant="textSM" class="font-medium text-zinc-500">
          Location
        </Text>
      </li>
    </ul>
    <Button class="mx-auto mt-8" gap="xs" size="sm" variant="accent">
      <Plus size="sm" slot="icon" slot="left-icon" />
      Add a new question
    </Button>
  </div>
  <!-- copy:end -->
</div>
