<section>
  <div class="relative px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center lg:text-balance max-w-2xl mx-auto">
      <h1 class="text-lg xl:text-2xl font-medium tracking-tight text-gray-900">
        Begin by crafting your first survey question
      </h1>
      <p class="mt-2 text-sm text-gray-500 text-pretty lg:text-balance">
        Add a question to your survey that participants will see as they begin.
      </p>
      <ul
        class="mt-4 text-sm text-gray-500 flex flex-col md:flex-row gap-4 justify-center">
        <li class="flex gap-2 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check size-4"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
            ></path><path d="M9 12l2 2l4 -4"></path></svg
          >Age group
        </li>
        <li class="flex gap-2 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check size-4"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
            ></path><path d="M9 12l2 2l4 -4"></path></svg
          >Primary interests
        </li>
        <li class="flex gap-2 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check size-4"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
            ></path><path d="M9 12l2 2l4 -4"></path></svg
          >Location
        </li>
      </ul>
      <button
        class="flex items-center justify-center h-10 mx-auto mt-8 gap-2 px-4 py-2 text-sm font-medium text-white transition-all duration-200 rounded-lg shadow bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none w-full sm:w-auto"
        aria-label="Action">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path d="M12 5l0 14"></path>
          <path d="M5 12l14 0"></path>
        </svg>
        Add a new question
      </button>
    </div>
  </div>
</section>
