<section>
  <div class="relative px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center lg:text-balance max-w-xl mx-auto">
      <div>
        <label
          for="cover-photo"
          class="sr-only"
          >upload</label
        >
        <div
          class="mt-2 flex justify-center rounded-lg border border-dashed border-base-300 px-6 py-10">
          <div class="text-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"

              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-photo size-20 mx-auto text-base-300"
              ><path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path><path d="M15 8h.01"></path><path
                d="M3 6a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3v-12z"
              ></path><path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l5 5"
              ></path><path d="M14 14l1 -1c.928 -.893 2.072 -.893 3 0l3 3"
              ></path></svg
            >
            <div
              class="mt-4 flex text-sm leading-6 text-base-600 justify-center">
              <label
                for="file-upload"
                class="relative cursor-pointer rounded-md bg-white font-medium text-accent-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-accent-600 focus-within:ring-offset-2 hover:text-accent-500">
                <span
                  ><span class="text-light text-base-500"
                    >Drag and drop an image, or
                  </span> Browse</span
                >
                <input
                  id="file-upload"
                  name="file-upload"
                  type="file"
                  class="sr-only"
                />
              </label>
            </div>
            <p class="text-xs leading-5 text-base-500">
              Minimum 1600px width recommended. Max 10MB each (20MB for videos)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
