---
export const description = "Project creation empty state";
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
---

<div
  class="flex items-center justify-center p-8 py-24 bg-white dark:bg-zinc-900"
>
  <!-- copy:start -->
  <div class="flex flex-col items-center justify-center text-center">
    <div class="relative mb-6 size-24">
      <div
        class="absolute inset-0 rounded-full bg-zinc-100 dark:bg-zinc-900 opacity-10"
      >
      </div>
      <div
        class="absolute border-2 rounded-lg inset-4 border-zinc-300 dark:border-zinc-700 rotate-6"
      >
      </div>
      <div
        class="absolute bottom-0 right-0 flex items-center justify-center w-8 h-8 bg-black dark:bg-zinc-800 rounded-full"
      >
        <span class="text-xl text-white dark:text-zinc-100">+</span>
      </div>
    </div>
    <Text
      tag="h3"
      variant="textBase"
      class="font-medium text-zinc-900 dark:text-white"
    >
      Project Files
    </Text>
    <Text
      tag="p"
      variant="textSM"
      class="w-2/3 mt-2 font-medium text-zinc-500 dark:text-zinc-400 text-balance"
    >
      Begin your journey by creating a new workspace for your team's projects
      and files.
    </Text>

    <Button class="mx-auto mt-8" gap="xs" size="sm" variant="default">
      <Plus size="sm" slot="icon" slot="left-icon" />
      Create projects
    </Button>
  </div>
  <!-- copy:end -->
</div>
