---
export const description = "Project creation empty state";
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
---

<div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
  <div class="max-w-xl mx-auto">
    <div
      class="flex flex-col items-center justify-center min-h-[400px] text-center"
    >
      <div class="relative mb-6 size-24">
        <div class="absolute inset-0 rounded-full bg-base-100 opacity-10"></div>
        <div
          class="absolute border-2 rounded-lg inset-4 border-base-300 rotate-6"
        >
        </div>
        <div
          class="absolute bottom-0 right-0 flex items-center justify-center w-8 h-8 bg-black rounded-full"
        >
          <span class="text-xl text-white">+</span>
        </div>
      </div>
      <Text tag="h3" variant="textBase" class="font-medium text-base-900">
        Project Files
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="w-2/3 mt-2 font-medium text-base-500 text-balance"
      >
        Begin your journey by creating a new workspace for your team's projects
        and files.
      </Text>

      <Button class="mx-auto mt-8" gap="xs" size="sm" variant="accent">
        <Plus size="sm" slot="icon" slot="left-icon" />
        Create projects
      </Button>
    </div>
  </div>
</div>
