---
export const excludeFromObfuscation = [
  "",
  "text-blue-500",
  "border-b-2",
  "border-blue-500",
];

export const description = "Contextual Empty States";

import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
---

<div class="flex items-center justify-center p-8 py-24 dark:bg-black">
  <!-- copy:start -->
  <div x-data="{ tab: 'tab1' }">
    <ul
      class="flex text-sm border-b gap-4 text-zinc-500 dark:text-zinc-400 border-zinc-200 dark:border-zinc-700 items-center justify-center"
    >
      <li class="-mb-px">
        <a
          @click.prevent="tab = 'tab1'"
          href="#_"
          class="inline-block py-2 font-medium border-b-2 text-blue-500 dark:text-blue-400 border-blue-500 dark:border-blue-400"
          :class="{ '  text-blue-500 border-b-2 border-blue-500' : tab === 'tab1' }"
        >
          Marketing</a
        >
      </li>
      <li class="-mb-px">
        <a
          @click.prevent="tab = 'tab2'"
          href="#_"
          class="inline-block py-2 font-medium"
          :class="{ '  text-blue-500 border-b-2 border-blue-500' : tab === 'tab2' }"
        >
          Application</a
        >
      </li>
      <li class="-mb-px">
        <a
          @click.prevent="tab = 'tab3'"
          href="#_"
          class="inline-block py-2 font-medium"
          :class="{ '  text-blue-500 border-b-2 border-blue-500' : tab === 'tab3' }"
        >
          ECommerce</a
        >
      </li>
    </ul>
    <div class="max-w-xl p-8 mx-auto text-left content">
      <div x-show="tab==='tab1'" class="text-zinc-500">
        <main>
          <div class="flex flex-col items-center justify-center text-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-chart-histogram size-6 text-blue-600"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 3v18h18"></path><path d="M20 18v3"></path><path
                d="M16 16v5"></path><path d="M12 13v8"></path><path d="M8 16v5"
              ></path><path d="M3 11c6 0 5 -5 9 -5s3 5 9 5"></path></svg
            >
            <Text
              tag="h3"
              variant="textBase"
              class="mt-8 font-medium text-zinc-900 dark:text-white"
            >
              No Marketing Data
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="w-2/3 mt-2 font-medium text-zinc-500 text-balance"
            >
              Start creating marketing campaigns to see your performance metrics
              here.
            </Text>

            <Button class="mx-auto mt-8" gap="xs" size="sm" variant="accent">
              <Plus size="sm" slot="icon" slot="left-icon" />
              Create Campaign
            </Button>
          </div>
        </main>
      </div>
      <div x-show="tab==='tab2'" class="text-zinc-500" style="display: none">
        <main>
          <div class="flex flex-col items-center justify-center text-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-stack-front size-6 text-blue-600"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 4l-8 4l8 4l8 -4l-8 -4"
                fill="currentColor"></path><path d="M8 14l-4 2l8 4l8 -4l-4 -2"
              ></path><path d="M8 10l-4 2l8 4l8 -4l-4 -2"></path></svg
            >
            <Text
              tag="h3"
              variant="textBase"
              class="mt-8 font-medium text-zinc-900"
            >
              No Application Data
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="w-2/3 mt-4 font-medium text-zinc-500 text-balance"
            >
              Build and integrate applications to view your usage statistics.
            </Text>

            <Button class="mx-auto mt-8" gap="xs" size="sm" variant="accent">
              <Plus size="sm" slot="icon" slot="left-icon" />
              Create Application
            </Button>
          </div>
        </main>
      </div>
      <div x-show="tab==='tab3'" class="text-zinc-500" style="display: none">
        <main>
          <div class="flex flex-col items-center justify-center text-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-stack-front size-6 text-blue-600"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 4l-8 4l8 4l8 -4l-8 -4"
                fill="currentColor"></path><path d="M8 14l-4 2l8 4l8 -4l-4 -2"
              ></path><path d="M8 10l-4 2l8 4l8 -4l-4 -2"></path></svg
            >
            <Text
              tag="h3"
              variant="textBase"
              class="mt-8 font-medium text-zinc-900"
            >
              No ECommerce Data
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="w-2/3 mt-4 font-medium text-zinc-500 text-balance"
            >
              Start adding products to your store to track sales and inventory.
            </Text>

            <Button class="mx-auto mt-8" gap="xs" size="sm" variant="accent">
              <Plus size="sm" slot="icon" slot="left-icon" />
              Add Product
            </Button>
          </div>
        </main>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
