---
export const description = "No Results Found State";
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="mx-auto icon icon-tabler icons-tabler-outline icon-tabler-search size-6 text-blue-600"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path
        d="M21 21l-6 -6"></path></svg
    >
    <Text tag="h3" variant="textBase" class="mt-8 font-medium text-zinc-900 text-center">
      No Matches Found
    </Text>
    <Text
      tag="p"
      variant="textSM"
      class="w-2/3 mx-auto mt-2 font-medium text-zinc-500 text-balance"
    >
      We couldn't find any results for your search. Try adjusting your keywords
      or filters.
    </Text>
    <div class="flex flex-col justify-center mt-4 sm:flex-row gap-3">
      <Button class="" size="xs" variant="accent"> Clear Filters </Button>
      <Button class="" size="xs" variant="muted"> Expand Search </Button>
    </div>
  </div>
  <!-- copy:end -->
</div>
