---
export const description = "Insights data not available state";
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <div class="max-w-xl mx-auto">
    <div class="flex items-center justify-between">
      <Text tag="h3" variant="textBase" class="font-medium">Data Insights</Text>
      <div class="flex gap-2">
        <Button size="xs" variant="muted">Day</Button>
        <Button size="xs" variant="muted">Week</Button>
        <Button size="xs" variant="muted">Month</Button>
      </div>
    </div>
    <div
      class="flex items-center justify-center p-12 py-20 mt-2 rounded-lg bg-zinc-50"
    >
      <div class="text-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="mx-auto icon icon-tabler icons-tabler-outline icon-tabler-chart-column text-stone-600 size-6"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 20h3"></path><path d="M17 20h3"></path><path d="M10.5 20h3"
          ></path><path d="M4 16h3"></path><path d="M17 16h3"></path><path
            d="M10.5 16h3"></path><path d="M4 12h3"></path><path d="M17 12h3"
          ></path><path d="M10.5 12h3"></path><path d="M4 8h3"></path><path
            d="M17 8h3"></path><path d="M4 4h3"></path></svg
        >
        <Text tag="p" variant="textSM" class="text-zinc-600"
          >No data available for the selected period</Text
        >
      </div>
    </div>
    <div class="flex items-center justify-between mt-2">
      <Button size="xs" variant="muted"> Import data </Button>
      <Button size="xs" variant="default"> Generate sample data </Button>
    </div>
  </div>
  <!-- copy:end -->
</div>
