---
export const description = "Task Management Empty State";
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div
  class="flex items-center justify-center p-8 py-24 bg-white dark:bg-zinc-900"
>
  <!-- copy:start -->
  <div class="text-center">
    <div class="flex items-center justify-between">
      <Text tag="h3" variant="textSM" class="font-medium dark:text-zinc-100"
        >My tasks</Text
      >
      <Button size="xs" variant="muted"> Add Task </Button>
    </div>
    <div class="mt-2 grid grid-cols-1 lg:grid-cols-3 gap-2">
      <div class="flex flex-col p-4 bg-zinc-50 dark:bg-zinc-800 rounded-xl">
        <Text
          tag="h3"
          variant="textSM"
          class="font-medium text-red-500 dark:text-red-400">To do</Text
        >

        <Text
          tag="p"
          variant="textXS"
          class="text-center text-zinc-400 dark:text-zinc-500 mt-12"
          >No tasks yet</Text
        >
      </div>
      <div class="flex flex-col p-4 bg-zinc-50 dark:bg-zinc-800 rounded-xl">
        <Text
          tag="h3"
          variant="textSM"
          class="font-medium text-yellow-500 dark:text-yellow-400"
          >In progress</Text
        >

        <Text tag="p" class="text-center text-zinc-400 dark:text-zinc-500 mt-12"
          >No tasks in progress</Text
        >
      </div>
      <div class="flex flex-col p-4 bg-zinc-50 dark:bg-zinc-800 rounded-xl">
        <Text
          tag="h3"
          variant="textSM"
          class="font-medium text-green-500 dark:text-green-400">Completed</Text
        >

        <Text tag="p" class="text-center text-zinc-400 dark:text-zinc-500 mt-12"
          >No completed tasks</Text
        >
      </div>
    </div>
    <div class="mt-12 text-center">
      <Text tag="p" variant="textSM" class="text-zinc-600 dark:text-zinc-400">
        Need inspiration? Try one of these starter tasks:
      </Text>
      <div class="flex flex-col justify-center mt-4 sm:flex-row gap-2">
        <Button size="xs" variant="muted" class="w-full"> Plan project </Button>
        <Button size="xs" variant="muted" class="w-full">
          Set up meeting
        </Button>
        <Button size="xs" variant="muted" class="w-full">
          Create timeline
        </Button>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
