---
export const description = "Task Management Empty State";
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/Buttons/Button.astro";
---

<div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
  <div>
    <div class="flex justify-between items-center">
      <Text tag="h3" variant="textBase" class="font-medium">My tasks</Text>
      <Button size="xs" variant="accent"> Add Task </Button>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mt-2">
      <div
        class="bg-white border border-base-100 rounded-2xl p-4 h-64 flex flex-col"
      >
        <Text tag="h3" variant="textBase" class="font-medium text-red-500"
          >To do</Text
        >
        <div class="flex-grow flex mt-2 items-center justify-center">
          <Text tag="p" variant="textSM" class="text-base-400 text-center"
            >No tasks yet</Text
          >
        </div>
      </div>
      <div
        class="bg-white border border-base-100 rounded-2xl p-4 b h-64 flex flex-col"
      >
        <Text tag="h3" variant="textBase" class="font-medium text-yellow-500"
          >In progress</Text
        >
        <div class="flex-grow mt-2 flex items-center justify-center">
          <Text tag="p" class="text-base-400 text-center"
            >No tasks in progress</Text
          >
        </div>
      </div>
      <div
        class="bg-white border border-base-100 rounded-2xl p-4 h-64 flex flex-col"
      >
        <Text tag="h3" variant="textBase" class="font-medium text-green-500"
          >Completed</Text
        >
        <div class="flex-grow mt-2 flex items-center justify-center">
          <Text tag="p" class="text-base-400 text-center"
            >No completed tasks</Text
          >
        </div>
      </div>
    </div>
    <div class="mt-8 text-center">
      <Text tag="p" variant="textSM" class="text-base-600">
        Need inspiration? Try one of these starter tasks:
      </Text>
      <div class="flex flex-col sm:flex-row justify-center gap-2 mt-4">
        <Button size="xs" variant="alternative"> Plan project </Button>
        <Button size="xs" variant="alternative"> Set up meeting </Button>
        <Button size="xs" variant="alternative"> Create timeline </Button>
      </div>
    </div>
  </div>
</div>
