<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <div class="text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Your tagline</span
      >
      <h1
        class="text-4xl mt-4 font-medium tracking-tight text-gray-900 sm:text-5xl sm:text-balance">
        Transform your visitors into users with an engaging headline
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500 sm:text-balance">
        The fastest method for working together on staging and temporary
        environments.
      </p>
    </div>
    <dl
      class="grid md: text-center gap-x-6 gap-y-12 mt-24 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
      <div>
        <span class="flex items-center justify-center mx-auto text-blue-500"
          >1
        </span>
        <div class="mt-6">
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            Easy navigation
          </dt>
          <dd class="mt-2 text-sm text-gray-500">
            Hover over any element to see its Tailwind classes. Press Space to
            easily pin and edit.
          </dd>
        </div>
        <img
          class="mt-8"
          src="/images/phone1.png"
          alt="#_"
        />
      </div>
      <div>
        <div>
          <span class="flex items-center justify-center mx-auto text-blue-500"
            >2</span
          >
        </div>
        <div class="mt-6">
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            Persistence
          </dt>
          <dd class="mt-2 text-sm text-gray-500">
            spotless will remember all your changes to every element so you can
            copy all changes at once!
          </dd>
        </div>
        <img
          class="mt-8"
          src="/images/phone2.png"
          alt="#_"
        />
      </div>
      <div>
        <div>
          <span class="flex items-center justify-center mx-auto text-blue-500"
            >3</span
          >
        </div>
        <div class="mt-6">
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            Screenshot tool
          </dt>
          <dd class="mt-2 text-sm text-gray-500">
            Make screenshots of a particular part of the screen to share quick
            and easy peasy wizzy cheesey.
          </dd>
        </div>
        <img
          class="mt-8"
          src="/images/phone3.png"
          alt="#_"
        />
      </div>
    </dl>
  </div>
</section>
