---
const features = [
  {
    title: "Decentralized consensus mechanism",
    description:
      "Our platform employs a decentralized consensus mechanism that revolutionizes how transactions are confirmed.",
  },
  {
    title: "Streamlining processes",
    description:
      "Our smart contract automation feature simplifies complex business processes by encoding contract terms and conditions into self-executing code.",
  },
  {
    title: "Immutable ledger technology",
    description:
      "Embracing immutable ledger technology, our blockchain maintains an unchangeable record of all transactions.",
  },
  {
    title: "Easy management of digital assets",
    description:
      "Our user-friendly wallet simplifies the management of digital assets, providing an intuitive interface for storing, sending, and receiving cryptocurrencies.",
  },
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">


    <div
      class="grid grid-cols-1 lg:grid-cols-2  items-start gap-12">
      <div class="lg:pl-24 md:pl-12">
        <p
          class="text-2xl font-semibold tracking-tight text-gray-900 lg:text-balance">
          Transform your visitors into users with an engaging headline
        </p>
        <p class="mt-6 text-base font-medium text-gray-500 lg:text-balance">
          The fastest and most efficient method for working together on staging
          and temporary environments.
        </p>
        <div class="flex items-center gap-4 mt-12 flex-row">
          <button
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
            aria-label="Action">
            Get started
          </button>
          <div class="text-sm text-gray-500">
            <span class="block">This is some support text</span>
            <span class="block">and this is also.</span>
          </div>
        </div>
        <dl class="gap-8 grid sm:grid-cols-2 lg:grid-cols-1 mt-12">
          {
            features.map((feature, index) => (
              <div>
                <dt class="tracking-tight text-lg font-medium  text-gray-900">
                  {feature.title}
                </dt>
                <dd class="mt-2 text-sm text-gray-500 lg:text-balance">
                  {feature.description}
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
      <div class="lg:order-first block w-full mt-12 aspect-square lg:mt-0">
        <img
          alt="#_"
          class="rotate-12 drop-shadow hover:rotate-0 duration-300 ease-out w-full"
          src="/images/darkCard.svg"
        />
        <img
          alt="#_"
          class="-mt-32 -rotate-12 drop-shadow hover:rotate-0 duration-300 ease-out"
          src="/images/whiteCard.svg"
        />
        <img
          alt="#_"
          class="-rotate-2 drop-shadow hover:rotate-0 duration-300 ease-out"
          src="/images/blueCard.svg"
        />
      </div>
    </div>
  </div>
</section>
