<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <div class="max-w-2xl lg:flex-auto">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Your tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-5xl lg:text-balance">
        Transform your visitors into users with an engaging headline
      </h1>
      <p class="text-base font-medium mt-4 text-gray-500">
        The fastest and most efficient method for working together on staging
        and temporary environments. This approach streamlines collaboration
        among team members, ensuring that development and testing processes are
        seamless and effective.
      </p>
    </div>
    <dl
      class="grid sm:grid-cols-2 gap-x-6 gap-y-12 lg:gap-x-8 lg:gap-y-16 mt-12">
      <div class="flex flex-col h-full justify-between">
        <div>
          <dt
            class="font-mono m uppercase tracking-tighter text-sm font-medium text-gray-900">
            NO GUARANTEE
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-pretty">
            The recipe is provided "as is" without any guarantees. Bake at your
            own risk, and we do not accept responsibility for any loss or
            damage.
          </dd>
        </div>
        <img
          class="mt-6 drop-shadow object-center w-full"
          src="/images/blueCard.svg"
          alt="#_"
        />
      </div>
      <div class="flex flex-col h-full justify-between">
        <div>
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            FAST DELIVERY
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-balance">
            We ensure your baked goods are delivered fresh and on time, every
            time. We also offer free delivery to select locations.
          </dd>
        </div>
        <img
          class="mt-6 drop-shadow object-center w-full"
          src="/images/darkCard.svg"
          alt="#_"
        />
      </div>
      <div class="flex flex-col h-full justify-between">
        <div>
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            Baking Freedom
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-pretty">
            You can adapt, remix, transform, and build upon the licensed work.
            We also offer a wide range of customization options to suit your
            unique tastes.
          </dd>
        </div>
        <img
          class="mt-6 drop-shadow object-center w-full"
          src="/images/whiteCard.svg"
          alt="#_"
        />
      </div>
      <div class="flex flex-col h-full justify-between">
        <div>
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            NO GUARANTEE
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-pretty">
            The recipe is provided "as is" without any guarantees. Bake at your
            own risk, and we do not accept responsibility for any loss or
            damage.
          </dd>
        </div>
        <img
          class="mt-6 drop-shadow object-center w-full"
          src="/images/blueCard.svg"
          alt="#_"
        />
      </div>
    </dl>
  </div>
</section>
