---
const listOne = [
  "Revolutionizing communication",
  "Enhancing productivity",
  "Advanced security measures",
  "Seamless integration",
];
const listTwo = [
  "Empowering users with solutions",
  "Effortless management",
  "Unlocking innovative solutions",
  "Enabling interoperability",
];
---

<section class="relative overflow-hidden">
  <div
    class="flex flex-col items-center pb-24 md:flex-row lg:gap-8 pt-24 mx-auto max-w-7xl relative">
    <div class="px-8 md:pl-12 lg:pl-44 lg:pb-0">
      <div>
        <span
          class="text-blue-600 uppercase font-mono font-medium tracking-tight text-xs">
          Your next FinTech startup
        </span>
        <h1
          class="text-3xl mt-8 tracking-tighter font-semibold text-gray-900 lg:text-balance">
          Transform your visitors into users with an engaging headline
        </h1>
        <p class="mt-6 text-base font-medium text-gray-500">
          The fastest method for working together on staging and temporary
          environments.
        </p>
        <ul
          role="list"
          class="lg:flex hidden flex-col gap-2 mt-12 text-sm font-medium">
          {
            listOne.map((item, index) => (
              <li>
                <div class="relative flex flex-row items-start gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-check-filled text-blue-600"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    strokeWidth="2"
                    stroke="currentColor"
                    fill="none"
                    strokeLinecap="round"
                    strokeLinejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    />
                    <path
                      d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                      strokeWidth="0"
                      fill="currentColor"
                    />
                  </svg>
                  <p>{item}</p>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="h-full mr-auto -ml-48 p-8 lg:p-0 md:order-first">
      <div class="lg:h-full">
        <img
          alt="#"
          class="border shadow rounded-2xl"
          src="/images/dashboardLight.svg"
        />
      </div>
    </div>
  </div>
  <div
    class="flex flex-col items-center pb-24 md:flex-row lg:gap-8 pt-24 mx-auto max-w-7xl relative">
    <div class="px-8 md:pr-12 lg:pr-44 lg:pb-0">
      <div>
        <span
          class="text-blue-600 uppercase font-mono font-medium tracking-tight text-xs">
          Your next FinTech startup
        </span>
        <h1
          class="text-3xl mt-8 tracking-tighter font-semibold text-gray-900 lg:text-balance">
          Transform your visitors into users with an engaging headline
        </h1>
        <p class="mt-6 text-base font-medium text-gray-500">
          The fastest method for working together on staging and temporary
          environments.
        </p>
        <ul
          role="list"
          class="lg:flex hidden flex-col gap-2 mt-12 text-sm font-medium">
          {
            listTwo.map((item, index) => (
              <li>
                <div class="relative flex flex-row items-start gap-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-check-filled text-blue-600"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    strokeWidth="2"
                    stroke="currentColor"
                    fill="none"
                    strokeLinecap="round"
                    strokeLinejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    />
                    <path
                      d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                      strokeWidth="0"
                      fill="currentColor"
                    />
                  </svg>
                  <p>{item}</p>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="h-full ml-auto -mr-48 p-8 lg:p-0">
      <div class="lg:h-full">
        <img
          alt="#"
          class="border shadow rounded-2xl"
          src="/images/dashboardLight.svg"
        />
      </div>
    </div>
  </div>
</section>
