---
const items = [
  {
    imgSrc: "/images/blueCard.svg",
    imgAlt: "#_",
    title: "Easy navigation",
    description:
      "Hover over any element to see its Tailwind classes. Press Space to easily pin and edit your settings.",
  },
  {
    imgSrc: "/images/darkCard.svg",
    imgAlt: "#_",
    title: "Persistence",
    description:
      "Spotless will remember all your changes to every element so you can copy all changes at once!",
  },
  {
    imgSrc: "/images/whiteCard.svg",
    imgAlt: "#_",
    title: "Screenshot tool",
    description:
      "Make screenshots of a particular part of the screen to share quickly and easily.",
  },
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center max-w-xl mx-auto lg:text-balance">
      <span
        class="tracking-tight text-lg font-medium  text-gray-900"
        >Your tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 sm:text-balance">
        Transform your visitors into users with an engaging headline
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500 sm:text-balance">
        The fastest method for working together on staging and temporary
        environments.
      </p>
    </div>
    <dl
      class="grid sm:grid-cols-2 mt-12 text-center gap-x-6 gap-y-12 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
      {
        items.map((item) => (
          <div class="flex flex-col h-full justify-between">
            <div>
              <img
                class="rounded-2xl drop-shadow w-full"
                src={item.imgSrc}
                alt={item.imgAlt}
              />
              <dt class="tracking-tight text-lg font-medium  text-gray-900 mt-6">
                {item.title}
              </dt>
              <dd class="mt-2 text-sm text-gray-500">{item.description}</dd>
            </div>
          </div>
        ))
      }
    </dl>
  </div>
</section>
