<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Your tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
        Transform your visitors into users with an engaging headline
      </h1>
    </div>
    <div>
      <div
        class="relative py-12 mx-auto overflow-hidden overflow-x-hidden 2xl:max-w-screen-xl">
        <div class="grid justify-between w-full">
          <div
            class="absolute inset-0 left-0 z-10 from-white via-transparent w-44 bg-gradient-to-r">
          </div>
          <div
            class="absolute inset-0 left-0 z-10 ml-auto from-white via-transparent w-44 bg-gradient-to-l">
          </div>
        </div>
        <div class="relative flex items-center gap-2 whitespace-nowrap">
          <div
            class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow shadow-gray-500/20 hover:text-white group hover:shadow-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
              <path d="M9 12l2 2l4 -4"></path>
            </svg>
            <span class="group-hover:text-white">Secure Transactions</span>
          </div>
          <div
            class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow shadow-gray-500/20 hover:text-white group hover:shadow-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
              <path d="M9 12l2 2l4 -4"></path>
            </svg>
            <span class="group-hover:text-white">Proxy Voting Capabilities</span
            >
          </div>
          <div
            class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow shadow-gray-500/20 hover:text-white group hover:shadow-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
              <path d="M9 12l2 2l4 -4"></path>
            </svg>
            <span class="group-hover:text-white"
              >Swift and Effortless Account Setup</span
            >
          </div>
          <div
            class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow shadow-gray-500/20 hover:text-white group hover:shadow-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
              <path d="M9 12l2 2l4 -4"></path>
            </svg>
            <span class="group-hover:text-white">Merging Identical Entries</span
            >
          </div>
          <div
            class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow shadow-gray-500/20 hover:text-white group hover:shadow-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
              <path d="M9 12l2 2l4 -4"></path>
            </svg>
            <span class="group-hover:text-white">Customized Domain Options</span
            >
          </div>
          <div
            class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow shadow-gray-500/20 hover:text-white group hover:shadow-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
              <path d="M9 12l2 2l4 -4"></path>
            </svg>
            <span class="group-hover:text-white"
              >Allow Guest Financial Insights</span
            >
          </div>
          <div
            class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow shadow-gray-500/20 hover:text-white group hover:shadow-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
              <path d="M9 12l2 2l4 -4"></path>
            </svg>
            <span class="group-hover:text-white"
              >Advanced Textual Analysis Tools</span
            >
          </div>
          <div
            class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow shadow-gray-500/20 hover:text-white group hover:shadow-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
              <path d="M9 12l2 2l4 -4"></path>
            </svg>
            <span class="group-hover:text-white"
              >Tailored Brand Color Schemes</span
            >
          </div>
          <div
            class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow shadow-gray-500/20 hover:text-white group hover:shadow-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
              <path d="M9 12l2 2l4 -4"></path>
            </svg>
            <span class="group-hover:text-white"
              >Define Financial Profile Images</span
            >
          </div>
          <div
            class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow shadow-gray-500/20 hover:text-white group hover:shadow-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
              <path d="M9 12l2 2l4 -4"></path>
            </svg>
            <span class="group-hover:text-white"
              >Choose Between Dark and Light Finance Views</span
            >
          </div>
          <div
            class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow shadow-gray-500/20 hover:text-white group hover:shadow-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
              <path d="M9 12l2 2l4 -4"></path>
            </svg>
            <span class="group-hover:text-white">Priority Account Alerts</span>
          </div>
          <div
            class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow shadow-gray-500/20 hover:text-white group hover:shadow-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
              <path d="M9 12l2 2l4 -4"></path>
            </svg>
            <span class="group-hover:text-white"
              >Internal Financial Discussions</span
            >
          </div>
        </div>
      </div>
    </div>
    <dl
      class="grid md:grid-cols-2 gap-x-6 text-center mt-12 gap-y-12 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
      <div>
        <dt
          class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
          NO GUARANTEE
        </dt>
        <dd class="mt-2 text-sm text-gray-500 text-balance">
          The recipe is provided "as is" without any guarantees. Bake at your
          own risk.
        </dd>
      </div>
      <div>
        <dt
          class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
          FAST DELIVERY
        </dt>
        <dd class="mt-2 text-sm text-gray-500 text-balance">
          We ensure your baked goods are delivered fresh and on time, every
          time.
        </dd>
      </div>
      <div>
        <dt
          class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
          Baking Freedom
        </dt>
        <dd class="mt-2 text-sm text-gray-500 text-balance">
          You can adapt, remix, transform, and build upon the licensed work.
        </dd>
      </div>
    </dl>
  </div>
</section>
