<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-3 md:items-end">
      <div class="lg:col-span-2">
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
          >Your tagline</span
        >
        <h1
          class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
          Transform your visitors into users with an engaging headline
        </h1>
      </div>
      <p class="text-base font-medium mt-4 text-gray-500">
        The fastest and most efficient method for working together on staging
        and temporary environments.
      </p>
    </div>
    <dl
      class="grid md:grid-cols-2 gap-6 sm:grid-cols-2 lg:grid-cols-3  mt-12">
      <div class="p-8 bg-gray-50 rounded-3xl flex flex-col h-full justify-between">
        <div>
          <span class="flex items-center rounded-full"
            ><svg
              width="24"
              height="24"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              class="text-blue-500">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
              ></path></svg
            ></span
          >
        </div>
        <div class="mt-6">
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            Live editing
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-pretty">
            Instantly see the result of every change you make.
          </dd>
        </div>
      </div>
      <div class="p-8 bg-gray-50 rounded-3xl flex flex-col h-full justify-between">
        <div>
          <span class="flex items-center rounded-full"
            ><svg
              width="24"
              height="24"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              class="text-blue-500">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
              ></path></svg
            ></span
          >
        </div>
        <div class="mt-6">
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            Autocompletion
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-pretty">
            Baking will suggest the right classes for you as you type.
          </dd>
        </div>
      </div>
      <div class="p-8 bg-gray-50 rounded-3xl flex flex-col h-full justify-between">
        <div>
          <span class="flex items-center rounded-full"
            ><svg
              width="24"
              height="24"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              class="text-blue-500">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              ></path></svg
            ></span
          >
        </div>
        <div class="mt-6">
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            Hide/show classes
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-pretty">
            Hide or show classes to see how your design changes.
          </dd>
        </div>
      </div>
      <div class="p-8 bg-gray-50 rounded-3xl flex flex-col h-full justify-between">
        <div>
          <span class="flex items-center rounded-full"
            ><svg
              width="24"
              height="24"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              class="text-blue-500">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.098 19.902a3.75 3.75 0 005.304 0l6.401-6.402M6.75 21A3.75 3.75 0 013 17.25V4.125C3 3.504 3.504 3 4.125 3h5.25c.621 0 1.125.504 1.125 1.125v4.072M6.75 21a3.75 3.75 0 003.75-3.75V8.197M6.75 21h13.125c.621 0 1.125-.504 1.125-1.125v-5.25c0-.621-.504-1.125-1.125-1.125h-4.072M10.5 8.197l2.88-2.88c.438-.439 1.15-.439 1.59 0l3.712 3.713c.44.44.44 1.152 0 1.59l-2.879 2.88M6.75 17.25h.008v.008H6.75v-.008z"
              ></path></svg
            ></span
          >
        </div>
        <div class="mt-6">
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            Color preview
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-pretty">
            See the color of every class in the autocompletion view.
          </dd>
        </div>
      </div>
      <div class="p-8 bg-gray-50 rounded-3xl flex flex-col h-full justify-between">
        <div>
          <span class="flex items-center rounded-full"
            ><svg
              width="24"
              height="24"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              class="text-blue-500">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59"
              ></path></svg
            ></span
          >
        </div>
        <div class="mt-6">
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            Easy navigation
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-pretty">
            Hover over any element to see its Tailwind classes. Press Space to
            easily pin and edit the element.
          </dd>
        </div>
      </div>
      <div class="p-8 bg-gray-50 rounded-3xl flex flex-col h-full justify-between">
        <div>
          <span class="flex items-center rounded-full"
            ><svg
              width="24"
              height="24"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              class="text-blue-500">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 7.5L7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5"
              ></path></svg
            ></span
          >
        </div>
        <div class="mt-6">
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            Persistence
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-pretty">
            Baking will remember all your changes to every element so you can
            copy all changes at once!
          </dd>
        </div>
      </div>
    </dl>
  </div>
</section>
