<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <div class="text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Your tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 sm:text-5xl sm:text-balance"
      >
        Transform your visitors into users with an engaging headline
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500 sm:text-balance">
        The fastest method for working together on staging and temporary
        environments.
      </p>
    </div>
    <dl
      class="grid sm:grid-cols-2 mt-12 text-center gap-x-6 gap-y-12 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16"
    >
      <div class="flex flex-col h-full justify-between">
        <div>
          <img
            class="rounded-2xl drop-shadow w-full"
            src="/images/blueCard.svg"
            alt="#_"
          />
          <dt
            class="font-mono mt-6 uppercase tracking-tighter text-sm font-medium text-gray-900"
          >
            NO GUARANTEE
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-pretty">
            The recipe is provided "as is" without any guarantees. Bake at your
            own risk, and we do not accept responsibility for any loss or
            damage.
          </dd>
        </div>
      </div>
      <div class="flex flex-col h-full justify-between">
        <div>
          <img
            class="rounded-2xl drop-shadow w-full"
            src="/images/darkCard.svg"
            alt="#_"
          />
          <dt
            class="font-mono mt-6 uppercase tracking-tighter text-sm font-medium text-gray-900"
          >
            FAST DELIVERY
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-balance">
            We ensure your baked goods are delivered fresh and on time, every
            time. We also offer free delivery to select locations.
          </dd>
        </div>
      </div>
      <div class="flex flex-col h-full justify-between">
        <div>
          <img
            class="rounded-2xl drop-shadow w-full"
            src="/images/whiteCard.svg"
            alt="#_"
          />
          <dt
            class="font-mono mt-6 uppercase tracking-tighter text-sm font-medium text-gray-900"
          >
            Baking Freedom
          </dt>
          <dd class="mt-2 text-sm text-gray-500 text-pretty">
            You can adapt, remix, transform, and build upon the licensed work.
            We also offer a wide range of customization options to suit your
            unique tastes.
          </dd>
        </div>
      </div>
    </dl>
  </div>
</section>
