<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-3 md:items-end">
      <div class="lg:col-span-2">
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
          >Your tagline</span
        >
        <h1
          class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
          Transform your visitors into users with an engaging headline
        </h1>
      </div>
      <p class="text-base font-medium mt-4 text-gray-500">
        The fastest and most efficient method for working together on staging
        and temporary environments.
      </p>
    </div>
    <dl class="grid grid-cols-2 gap-6 lg:grid-cols-4 md:grid-cols-2 mt-12">
      <div class="p-8 border rounded-3xl ">
        <dt class="tracking-tight text-lg font-medium text-gray-900">
          Innovative Design
        </dt>
        <dd class="mt-2 text-sm text-gray-500 text-pretty">
          Our cutting-edge design offers a fresh, modern look that transforms
          your project into a standout experience.
        </dd>
      </div>
      <div
        class="p-8 bg-gray-50 rounded-3xl ">
        <dt class="tracking-tight text-lg font-medium text-gray-900">
          Powerful Functionality
        </dt>
        <dd class="mt-2 text-sm text-gray-500 text-pretty">
          Equipped with advanced features and tools, our solution effortlessly
          manages complex tasks.
        </dd>
      </div>
      <div
        class="p-8 bg-blue-600 rounded-3xl">
        <dt class="tracking-tight text-lg font-medium text-white">
          Easy Integration
        </dt>
        <dd class="mt-2 text-sm lg:text-balance text-gray-200">
          Integrating with existing systems is smooth and hassle-free, thanks to
          our incredible flexible approach.
        </dd>
      </div>
      <div
        class="p-8 bg-blue-950 rounded-3xl ">
        <dt class="tracking-tight text-lg font-medium text-white">
          Great Communication
        </dt>
        <dd class="mt-2 text-sm lg:text-balance text-gray-200">
          Integrating with existing systems is smooth and hassle-free, thanks to
          our incredible flexible approach.
        </dd>
      </div>
    </dl>
  </div>
</section>
