<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <div class="text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Your tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 sm:text-5xl sm:text-balance">
        Transform your visitors into users with an engaging headline
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500 sm:text-balance">
        The fastest method for working together on staging and temporary
        environments.
      </p>
    </div>
    <dl
      class="grid grid-cols-1 gap-2 mt-12 text-center sm:grid-cols-2 lg:mt-24">
      <a
        title="link to your page"
        aria-label="Learn more about custom tokens"
        href="#_">
        <div
          class="h-full bg-gray-50 rounded-3xl shadow overflow-hidden flex flex-col justify-between">
          <div class="p-8 pb-0 md:text-center">
            <div>
              <div class="text-blue-500">
                <svg
                  class="mx-auto"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_438_17)">
                    <path
                      d="M3 5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5Z"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_438_17">
                      <rect
                        width="24"
                        height="24"
                        fill="white"
                      ></rect>
                    </clipPath>
                  </defs>
                </svg>
              </div>
              <div class="mt-6">
                <dt
                  class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
                  FAST DELIVERY
                </dt>
                <dd class="mt-2 text-sm text-gray-500 text-balance">
                  We ensure your baked goods are delivered fresh and on time,
                  every time, every day, every year.
                </dd>
              </div>
            </div>
          </div>
          <div class="p-8 -mb-96">
            <img
              src="/images/phone2.png"
              alt="#_"
            />
          </div>
        </div>
      </a><a
        title="link to your page"
        aria-label="Discover smart contracts"
        href="#_">
        <div
          class="h-full bg-gray-50 rounded-3xl shadow overflow-hidden flex flex-col justify-between">
          <div class="p-8 pb-0 md:text-center">
            <div>
              <div class="text-blue-500">
                <svg
                  class="mx-auto"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_439_20)">
                    <path
                      d="M19.875 6.27C20.2187 6.46546 20.5041 6.74897 20.7018 7.09136C20.8995 7.43374 21.0025 7.82263 21 8.218V15.502C21 16.311 20.557 17.057 19.842 17.45L13.092 21.72C12.7574 21.9037 12.3818 22.0001 12 22.0001C11.6182 22.0001 11.2426 21.9037 10.908 21.72L4.158 17.45C3.80817 17.2588 3.51612 16.9772 3.31241 16.6345C3.1087 16.2918 3.0008 15.9007 3 15.502V8.217C3 7.408 3.443 6.663 4.158 6.27L10.908 2.29C11.2525 2.10004 11.6396 2.00041 12.033 2.00041C12.4264 2.00041 12.8135 2.10004 13.158 2.29L19.908 6.27H19.875Z"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_439_20">
                      <rect
                        width="24"
                        height="24"
                        fill="white"
                      ></rect>
                    </clipPath>
                  </defs>
                </svg>
              </div>
              <div class="mt-6">
                <dt
                  class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
                  QUALITY INGREDIENTS
                </dt>
                <dd class="mt-2 text-sm text-gray-500 text-balance">
                  Our recipes use only the highest quality ingredients for the
                  best taste and texture.
                </dd>
              </div>
            </div>
          </div>
          <div class="p-8 -mb-96">
            <img
              src="/images/phone7.png"
              alt="#_"
            />
          </div>
        </div>
      </a>
    </dl>
    <dl
      class="grid md:grid-cols-2 text-center gap-x-6 gap-y-12 mt-24 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16">
      <div>
        <span class="flex items-center justify-center mx-auto text-blue-500"
          >1
        </span>
        <div class="mt-6">
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            Easy navigation
          </dt>
          <dd class="mt-2 text-sm text-gray-500">
            Hover over any element to see its Tailwind classes. Press Space to
            easily pin and edit the element.
          </dd>
        </div>
      </div>
      <div>
        <div>
          <span class="flex items-center justify-center mx-auto text-blue-500"
            >2</span
          >
        </div>
        <div class="mt-6">
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            Persistence
          </dt>
          <dd class="mt-2 text-sm text-gray-500">
            spotless will remember all your changes to every element so you can
            copy all changes at once!
          </dd>
        </div>
      </div>
      <div>
        <div>
          <span class="flex items-center justify-center mx-auto text-blue-500"
            >3</span
          >
        </div>
        <div class="mt-6">
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            Screenshot tool
          </dt>
          <dd class="mt-2 text-sm text-gray-500">
            Make screenshots of a particular part of the screen to share quick
            and easy!
          </dd>
        </div>
      </div>
      <div>
        <div>
          <span class="flex items-center justify-center mx-auto text-blue-500"
            >4</span
          >
        </div>
        <div class="mt-6">
          <dt
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            Breakpoint info
          </dt>
          <dd class="mt-2 text-sm text-gray-500">
            Instantly know what Tailwind breakpoint you're currently on.
          </dd>
        </div>
      </div>
    </dl>
  </div>
</section>
