<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-3 md:items-start">
      <div class="">
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
          >Your tagline</span
        >
        <h1
          class="text-4xl mt-4 font-semibold tracking-tight lg:text-5xl   text-gray-900 lg:text-pretty">
          Transform your visitors into users with an engaging headline
        </h1>
      </div>
      <div
        class="bg-gradient-to-b lg:col-span-2 from-blue-500 to-indigo-600  rounded-3xl flex flex-col h-full justify-between gap-24">
        <dt
          class="font-mono uppercase tracking-tighter text-sm font-medium text-white p-8">
          NO GUARANTEE
        </dt>
        <dd
          class="p-8 text-sm text-gray-200 text-balance border-t border-white/20">
          The fastest and most efficient method for working together on staging
          and temporary environments. This approach streamlines collaboration
          among team members, ensuring that development and testing processes
          are seamless and effective.
        </dd>
      </div>
    </div>
  </div>
</section>
