<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Your tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 sm:text-balance">
        Transform your visitors into users with an engaging headline
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500 sm:text-pretty">
        The fastest method for working together on staging and temporary
        environments.
      </p>
    </div>
    <dl
      class="grid md:grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-2 lg:gap-x-8 lg:gap-y-16 mt-12 relative">
      <div
        class="bg-gradient-to-b from-blue-500 to-indigo-600 rounded-3xl flex flex-col h-full justify-between gap-24 relative">
        <a
          class="absolute inset-0"
          href="#_">
        </a>
        <dt
          class="tracking-tight text-lg font-medium text-white p-8 flex items-center justify-between w-full">
          Innovative Design
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-circle-arrow-right group-hover:-rotate-45 duration-300"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path
              d="M12 2l.324 .005a10 10 0 1 1 -.648 0l.324 -.005zm.613 5.21a1 1 0 0 0 -1.32 1.497l2.291 2.293h-5.584l-.117 .007a1 1 0 0 0 .117 1.993h5.584l-2.291 2.293l-.083 .094a1 1 0 0 0 1.497 1.32l4 -4l.073 -.082l.064 -.089l.062 -.113l.044 -.11l.03 -.112l.017 -.126l.003 -.075l-.007 -.118l-.029 -.148l-.035 -.105l-.054 -.113l-.071 -.111a1.008 1.008 0 0 0 -.097 -.112l-4 -4z"
            ></path></svg
          >
        </dt>
        <dd
          class="p-8 text-base text-gray-200 text-balance border-t border-white/20 ">
          Our cutting-edge design offers a fresh, modern look that transforms
          your project into a standout experience.
        </dd>
      </div>
      <div
        class="bg-blue-950 rounded-3xl flex flex-col h-full justify-between gap-24 group">
        <a
          class="absolute inset-0"
          href="#_">
        </a>
        <dt
          class="tracking-tight text-lg font-medium text-white p-8 flex items-center justify-between w-full">
          Powerful Functionality
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-circle-arrow-right group-hover:-rotate-45 duration-300"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path
              d="M12 2l.324 .005a10 10 0 1 1 -.648 0l.324 -.005zm.613 5.21a1 1 0 0 0 -1.32 1.497l2.291 2.293h-5.584l-.117 .007a1 1 0 0 0 .117 1.993h5.584l-2.291 2.293l-.083 .094a1 1 0 0 0 1.497 1.32l4 -4l.073 -.082l.064 -.089l.062 -.113l.044 -.11l.03 -.112l.017 -.126l.003 -.075l-.007 -.118l-.029 -.148l-.035 -.105l-.054 -.113l-.071 -.111a1.008 1.008 0 0 0 -.097 -.112l-4 -4z"
            ></path></svg
          >
        </dt>
        <dd
          class="p-8 text-base text-gray-200 text-balance border-t border-white/20 ">
          Equipped with advanced features and tools, our solution effortlessly
          manages complex tasks and workflows.
        </dd>
      </div>
    </dl>
  </div>
</section>
