<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <div class="max-w-2xl lg:flex-auto">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Your tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-5xl lg:text-balance">
        Transform your visitors into users with an engaging headline
      </h1>
      <p class="text-base font-medium mt-4 text-gray-500">
        The fastest and most efficient method for working together on staging
        and temporary environments. This approach streamlines collaboration
        among team members, ensuring that development and testing processes are
        seamless and effective.
      </p>
    </div>
    <dl
      class="grid md:grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-2 lg:gap-x-8 lg:gap-y-16 mt-12">
      <div
        class="bg-gradient-to-b from-blue-500 to-indigo-600 rounded-3xl flex flex-col h-full justify-between gap-24">
        <dt
          class="font-mono uppercase tracking-tighter text-sm font-medium text-white p-8">
          NO GUARANTEE
        </dt>
        <dd class="p-8 text-sm text-gray-200 text-balance border-t border-white/20">
          The recipe is provided "as is" without any guarantees. Bake at your
          own risk.
        </dd>
      </div>
      <div
        class="bg-blue-950 rounded-3xl flex flex-col h-full justify-between gap-24">
        <dt
          class="font-mono uppercase tracking-tighter text-sm font-medium text-white p-8">
          COMMERCIAL BAKING ALLOWED
        </dt>
        <dd class="p-8 text-sm text-gray-200 text-balance border-t border-white/20">
          You may use the recipe for both home baking and commercial purposes if
          you want to.
        </dd>
      </div>
    </dl>
  </div>
</section>
