---
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const articles = [
  {
    image:
      "https://images.unsplash.com/photo-1575318634028-6a0cfcb60c59?q=80&w=2786&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    title: "Responsive web design best practices",
    description:
      "Learn the best practices for creating responsive web designs that provide a seamless user experience across all devices.",
    author: "John Doe",
    authorImage: "/avatars/1.jpg",
    date: "Mon Mar 25",
    link: "#_",
  },
  {
    image:
      "https://images.unsplash.com/photo-1623177579213-7efd042e73c0?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    title: "Javascript frameworks: a comparison",
    description:
      "An in-depth comparison of the most popular JavaScript frameworks, including React, Vue, and Angular, to help you choose the right one for your project.",
    author: "Michael Johnson",
    authorImage: "/avatars/2.jpg",
    date: "Wed Apr 10",
    link: "#_",
  },
  {
    image:
      "https://images.unsplash.com/photo-1587301669187-732ea66e7617?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    title: "The future of CSS: new features to watch",
    description:
      "Explore the latest features and updates in CSS that are shaping the future of web design and development.",
    author: "Johannes Svensson",
    authorImage: "/avatars/3.jpg",
    date: "Fri May 05",
    link: "#_",
  },
];
---

<section class="bg-white dark:bg-black">
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="relative flex flex-col gap-6">
      {
        articles.map((article) => (
          <>
            <div class="items-center grid grid-cols-1 gap-6 lg:grid-cols-3 group">
              <div class="block w-full lg:col-span-2">
                <img
                  src={article.image}
                  alt="#_"
                  class="shadow rounded-2xl aspect-[4/3] object-cover object-center w-full bg-zinc-50 dark:bg-zinc-800"
                />
              </div>
              <div class="flex flex-col justify-between h-full p-6 bg-zinc-50 dark:bg-zinc-800 rounded-2xl">
                <div>
                  <Text tag="a" href="#_" variant="link">
                    <Text
                      tag="h3"
                      variant="displaySM"
                      class="font-semibold  text-zinc-900 dark:text-zinc-100"
                    >
                      <span class="absolute inset-0" />
                      {article.title}
                    </Text>
                  </Text>
                  <Text
                    tag="p"
                    variant="textLG"
                    class="mt-4 font-medium text-zinc-500 dark:text-zinc-400 line-clamp-3"
                  >
                    {article.description}
                  </Text>
                </div>
                <div class="mt-12">
                  <Text
                    tag="span"
                    variant="textBase"
                    class="flex items-center font-medium text-blue-500 gap-2 hover:text-zinc-900 dark:hover:text-zinc-100"
                  >
                    Read further
                    <ChevronRight size="sm" />
                  </Text>
                </div>
              </div>
            </div>
          </>
        ))
      }
    </div>
  </div>
</section>
