---
const teamMembers = [
  {
    name: "Michael Andreuzza",
    title: "Creator of Windstatic.com",
    imgSrc: "/avatars/1.avif",
    description:
      "Michael is a visionary leader with over a decade of experience in creating dynamic and user-friendly websites. As the creator of Windstatic.com, he has a passion for innovation and excellence in web development.",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.avif",
    description:
      "Juan is the founder of Pay Oneeer, a leading fintech company. He has a deep understanding of financial technology and is dedicated to making financial transactions more accessible and secure for everyone.",
  },
  {
    name: "Elona Muska",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.avif",
    description:
      "Elona is a trailblazing entrepreneur and the founder of Fesla, an innovative company pushing the boundaries of technology and sustainability. She is committed to driving change and making a positive impact on the world.",
  },
  {
    name: "Messina Lionel",
    title: "COO at Pff Inc",
    imgSrc:
      "https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80",
    description:
      "Messina is the Chief Operating Officer at Pff Inc. With a keen eye for detail and exceptional organizational skills, she ensures the smooth and efficient operation of the company, driving growth and success.",
  },
  {
    name: "Sara Johnson",
    title: "Lead Developer",
    imgSrc:
      "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
    description:
      "Sara is the lead developer with extensive expertise in software engineering. She is passionate about coding and loves to solve complex problems, leading her team to create high-quality software solutions.",
  },
  {
    name: "David Kim",
    title: "Marketing Director",
    imgSrc:
      "https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGhlYWQlMjBwZXJzb258ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60",
    description:
      "David is the Marketing Director with a flair for creativity and strategic thinking. He excels in developing innovative marketing campaigns that enhance brand awareness and drive business growth.",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-end">
      <div class="lg:col-span-2">
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
          >Your tagline</span
        >
        <h1
          class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-5xl lg:text-balance"
        >
          Meet Our Team

          <span class="text-gray-600 block">Diverse. Skilled. United. </span>
        </h1>
      </div>
      <p class="mt-6 text-base font-medium text-gray-500 lg:text-balance">
        A group of passionate individuals working together to innovate and excel
        in our industry.
      </p>
    </div>
    <ul
      role="list"
      class="mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 lg:mt-24"
    >
      {
        teamMembers.map((member) => (
          <li class="border rounded-xl shadow overflow-hidden">
            <div class="flex flex-col  ">
              <img
                class="object-cover   aspect-[4/3] "
                src={member.imgSrc}
                alt=""
              />
              <div class="p-6">
                <div class="flex items-center justify-between">
                  <h3 class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
                    {member.name}
                  </h3>
                  <div class=" flex items-center gap-2 ">
                    <a href="#_">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler text-blue-600 hover:text-gray-900 icons-tabler-outline icon-tabler-brand-x"
                      >
                        <>
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                          <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                        </>
                      </svg>
                    </a>
                    <a href="#_">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler text-blue-600 hover:text-gray-900 icons-tabler-outline icon-tabler-brand-linkedin"
                      >
                        <>
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                          <path d="M8 11l0 5" />
                          <path d="M8 8l0 .01" />
                          <path d="M12 16l0 -5" />
                          <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                        </>
                      </svg>
                    </a>
                  </div>
                </div>
                <p class="mt-2 text-sm text-gray-500 text-balance">
                  {member.title}
                </p>
                <p class="mt-8 text-sm text-gray-500 text-pretty">
                  {member.description}
                </p>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
