<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-lg mx-auto">
      <div class="text-center lg:text-balance">
        <img
          class="h-20 mb-12 mx-auto"
          src="/images/oxbow/blueLineLogo.png"
          alt="#_"
        />
        <span
          class="font-mono text-xs font-medium tracking-tight text-accent-600 uppercase"
          >Sign up</span
        >
        <h1
          class="text-3xl mt-4 font-semibold tracking-tight text-base-900 sm:text-balance">
          Join our community
        </h1>
        <p class="mt-6 text-base font-medium text-base-500 sm:text-balance">
          Sign up to join our community and start building your brand.
        </p>
      </div>
      <form
        action="#"
        method="POST"
        class="mx-auto mt-12 max-w-lg">
        <div class="flex flex-col gap-y-6">
          <div>
            <label
              for="first-name"
              class="block text-sm font-medium text-base-500">
              First name
            </label>
            <div class="mt-2.5">
              <input
                type="text"
                name="first-name"
                id="first-name"
                autocomplete="given-name"
                required
                aria-required="true"
                aria-describedby="first-name-error"
                placeholder="Your first name"
                class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span
                id="first-name-error"
                class="text-red-600 text-sm hidden">
                Please enter your first name.
              </span>
            </div>
          </div>
          <div>
            <label
              for="email"
              class="block text-sm font-medium text-base-500">
              Email
            </label>
            <div class="mt-2.5">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                required
                aria-required="true"
                aria-describedby="email-error"
                placeholder="Your email"
                class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span
                id="email-error"
                class="text-red-600 text-sm hidden">
                Please enter a valid email address.
              </span>
            </div>
          </div>
        </div>
        <div class="flex items-center mt-4">
          <input
            id="agreement"
            name="agreement"
            type="checkbox"
            class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
          />
          <label
            for="agreement"
            class="ml-3 block text-sm text-base-500"
            >You agree to our <a
              class="text-accent-600 hover:text-base-900"
              href="#_"
              >Terms of Service</a
            > and <a
              class="text-accent-600 hover:text-base-900"
              href="#_"
              >Privacy Policy</a
            >.</label
          >
        </div>
        <div class="mt-10">
          <button
            type="submit"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-medium text-white transition-all duration-200 rounded-lg bg-accent-700  hover:to-accent-800 shadow focus:ring-2 focus:ring-accent-950 focus:ring-offset-2 ring-offset-base-200 hover:shadow-none w-full"
            >Sign up</button
          >
        </div>
        <div class="flex items-center mt-4">
          <p class="text-sm text-base-500">
            Already have an account?
            <a
              class="text-accent-600 hover:text-base-900"
              href="#_"
              >Sign in</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
