---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Apple from "@/components/fundations/icons/Apple.astro";
import Chrome from "@/components/fundations/icons/Chrome.astro";
import Meta from "@/components/fundations/icons/Meta.astro";
---

<div class="relative">
  <div
    class="lg:absolute lg:inset-0 lg:right-2/3 relative ring-8 m-4 ring-white rounded-2xl overflow-hidden">
    <img
      class="h-64 w-full bg-base-50 object-cover sm:h-80 lg:absolute lg:h-full"
      src="/pose/1.jpg"
      alt=""
    />
    <!-- Text overlay -->
    <div
      class="absolute inset-0 flex flex-col justify-start lg:text-white lg:bg-base-950 lg:bg-opacity-80 lg:p-10">
      <div class="hidden md:block">
        <img
          class="size-20"
          src="/images/oxbow/whiteLineLogo.png"
          alt="#_"
        />
        <Text
          class="mt-12 lg:mt-52"
          tag="h3"
          darkMode={true}
          variant="defaultSmall">
          Welcome to Our Platform
        </Text>
        <Text
          class="mt-4"
          tag="p"
          darkMode={true}
          variant="small">
          Welcome back! Please enter your email and password to sign in.
          Discover a world where seamless connectivity empowers your every
          interaction. Dive into an experience designed to effortlessly connect
          you with what matters most, enhancing productivity and enabling you to
          achieve more.
        </Text>
      </div>
    </div>
  </div>
  <div
    class="pb-24 pt-16 sm:pb-32 sm:pt-24 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-3 lg:pt-32 lg:pl-32">
    <div class="lg:col-start-2 w-full px-8 lg:px-0">
      <div class="text-center md:text-left lg:text-balance">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-accent-600">
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-base-900 lg:text-balance">
          Join our community
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-base-500 font-medium">
          Sign up to join our community and start building your brand.
        </Text>
      </div>
      <form
        action="#"
        method="POST"
        class="mx-auto mt-12 max-w-lg">
        <div class="flex flex-col gap-y-6">
          <div>
            <Text
              for="first-name"
              tag="label"
              variant="textBase"
              class="text-base-500 font-medium">
              First name
            </Text>
            <div class="mt-2.5">
              <input
                type="text"
                name="first-name"
                id="first-name"
                autocomplete="given-name"
                required
                aria-required="true"
                aria-describedby="first-name-error"
                placeholder="Your first name"
                class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span
                id="first-name-error"
                class="text-red-600 text-sm hidden">
                Please enter your first name.
              </span>
            </div>
          </div>
          <div>
            <Text
              for="email"
              tag="label"
              variant="textBase"
              class="text-base-500 font-medium">
              Email
            </Text>
            <div class="mt-2.5">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                required
                aria-required="true"
                aria-describedby="email-error"
                placeholder="Your email"
                class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span
                id="email-error"
                class="text-red-600 text-sm hidden">
                Please enter a valid email address.
              </span>
            </div>
          </div>
          <div>
            <Text
              for="password"
              tag="label"
              variant="textBase"
              class="text-base-500 font-medium">
              Password
            </Text>
            <div class="mt-2.5">
              <input
                type="password"
                name="password"
                id="password"
                autocomplete="current-password"
                required
                aria-required="true"
                aria-describedby="password-error"
                placeholder="Your password"
                class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span
                id="password-error"
                class="text-red-600 text-sm hidden">
                Please enter a valid password.
              </span>
            </div>
          </div>
          <div>
            <Text
              for="confirm-password"
              tag="label"
              variant="textBase"
              class="text-base-500 font-medium">
              Confirm Password
            </Text>
            <div class="mt-2.5">
              <input
                type="password"
                name="confirm-password"
                id="confirm-password"
                autocomplete="new-password"
                required
                aria-required="true"
                aria-describedby="confirm-password-error"
                placeholder="Confirm your password"
                class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span
                id="confirm-password-error"
                class="text-red-600 text-sm hidden">
                Passwords do not match.
              </span>
            </div>
          </div>
          <div class="space-y-2">
            <div class="flex items-center  gap-3">
              <input
                id="remember-me"
                name="remember-me"
                type="checkbox"
                class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
              />
              <Text
                for="remember-me"
                tag="label"
                class="block text-sm text-base-500 font-medium"
                >Remember me
              </Text>
            </div>
            <div class="flex items-center mt-4 gap-3">
              <input
                id="agreement"
                name="agreement"
                type="checkbox"
                class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
              />
              <Text
                for="agreement"
                tag="label"
                class="block text-sm text-base-500 font-medium"
                >You agree to our
                <Text
                  tag="a"
                  href="#_"
                  variant="textMD"
                  class="text-accent-500 font-medium hover:text-base-500">
                  Terms of service
                </Text>
                and
                <Text
                  tag="a"
                  href="#_"
                  variant="textMD"
                  class="text-accent-500 font-medium hover:text-base-500">
                  Privacy Policy
                </Text>
              </Text>
            </div>
          </div>
        </div>
        <div class="mt-10">
          <Button
            class="w-full"
            variant="accent"
            size="base">
            Sign up
          </Button>
        </div>
        <div class="relative mt-12">
          <div
            class="absolute inset-0 flex items-center"
            aria-hidden="true">
            <div class="w-full border-t"></div>
          </div>
          <div
            class="relative flex justify-center text-sm font-medium leading-6">
             <Text
            tag="span"
            variant="textSM"
            class="text-base-500 font-medium bg-white px-4 border rounded-full py-1">
            Or Sign up with
          </Text>
          </div>
        </div>
        <div class="flex flex-col gap-y-4 mt-4">
          <Button
            class="w-full justify-between"
            variant="apple-brand"
            size="base"
            gap="gapXS">
            Sign up with Apple
            <Apple
              size="sm"
              slot="right-icon"
            />
          </Button>
          <Button
            class="w-full justify-between"
            variant="meta-brand"
            size="base"
            gap="gapXS">
            Sign up with Meta
            <Meta
              size="sm"
              slot="right-icon"
            />
          </Button>
          <Button
            class="w-full justify-between"
            variant="muted"
            size="base"
            gap="gapXS">
            Sign up with Chrome
            <Chrome
              size="sm"
              slot="right-icon"
            />
          </Button>
        </div>
        <div class="flex mt-4 justify-center">
          <Text
            tag="p"
            variant="textSM"
            class="text-base-500 font-medium">
            Don't have an account? Already have an account?
            <Text
              tag="a"
              href="#_"
              variant="textMD"
              class="text-accent-500 font-medium hover:text-base-500">
              Sign in
            </Text>
          </Text>
        </div>
      </form>
    </div>
  </div>
</div>
