---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Apple from "@/components/fundations/icons/Apple.astro";
import Chrome from "@/components/fundations/icons/Chrome.astro";
import Meta from "@/components/fundations/icons/Meta.astro";
---

<div class="relative">
  <div
    class="m-4 overflow-hidden lg:absolute lg:inset-0 lg:right-1/2 ring-8 ring-white rounded-2xl">
    <img
      class="object-cover w-full h-64 bg-base-50 sm:h-80 lg:absolute lg:h-full"
      src="/people/1w.jpg"
      alt=""
    />
  </div>
  <div
    class="pt-16 pb-24 sm:pb-32 sm:pt-24 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:pt-32">
    <div class="px-6 lg:col-start-2 lg:px-8 lg:pl-24">
      <div class="max-w-lg mx-auto lg:mx-0">
        <div class="lg:text-balance">
          <img
            class="h-20 mb-12"
            src="/images/oxbow/blueLineLogo.png"
            alt="#_"
          />
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-accent-600">
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displayMD"
            class="mt-4 font-semibold text-base-900 lg:text-balance">
            Join our community
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 text-base-500 font-medium">
            Sign up to join our community and start building your brand.
          </Text>
        </div>
        <form
          action="#"
          method="POST"
          class="max-w-lg mx-auto mt-12">
          <div class="flex flex-col gap-y-6">
            <div>
              <Text
                for="first-name"
                tag="label"
                variant="textBase"
                class="text-base-500 font-medium">
                First name
              </Text>
              <div class="mt-2.5">
                <input
                  type="text"
                  name="first-name"
                  id="first-name"
                  autocomplete="given-name"
                  required
                  aria-required="true"
                  aria-describedby="first-name-error"
                  placeholder="Your first name"
                  class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <span
                  id="first-name-error"
                  class="text-red-600 text-sm hidden">
                  Please enter your first name.
                </span>
              </div>
            </div>
            <div>
              <Text
                for="email"
                tag="label"
                variant="textBase"
                class="text-base-500 font-medium">
                Email
              </Text>
              <div class="mt-2.5">
                <input
                  type="email"
                  name="email"
                  id="email"
                  autocomplete="email"
                  required
                  aria-required="true"
                  aria-describedby="email-error"
                  placeholder="Your email"
                  class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <span
                  id="email-error"
                  class="text-red-600 text-sm hidden">
                  Please enter a valid email address.
                </span>
              </div>
            </div>
            <div>
              <Text
                for="password"
                tag="label"
                variant="textBase"
                class="text-base-500 font-medium">
                Password
              </Text>
              <div class="mt-2.5">
                <input
                  type="password"
                  name="password"
                  id="password"
                  autocomplete="current-password"
                  required
                  aria-required="true"
                  aria-describedby="password-error"
                  placeholder="Your password"
                  class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <span
                  id="password-error"
                  class="text-red-600 text-sm hidden">
                  Please enter a valid password.
                </span>
              </div>
            </div>
            <div>
              <Text
                for="confirm-password"
                tag="label"
                variant="textBase"
                class="text-base-500 font-medium">
                Confirm Password
              </Text>
              <div class="mt-2.5">
                <input
                  type="password"
                  name="confirm-password"
                  id="confirm-password"
                  autocomplete="new-password"
                  required
                  aria-required="true"
                  aria-describedby="confirm-password-error"
                  placeholder="Confirm your password"
                  class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <span
                  id="confirm-password-error"
                  class="text-red-600 text-sm hidden">
                  Passwords do not match.
                </span>
              </div>
            </div>
            <div class="space-y-2">
              <div class="flex items-center  gap-3">
                <input
                  id="remember-me"
                  name="remember-me"
                  type="checkbox"
                  class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
                />
                <Text
                  for="remember-me"
                  tag="label"
                  class="block text-sm text-base-500 font-medium"
                  >Remember me
                </Text>
              </div>
              <div class="flex items-center mt-4 gap-3">
                <input
                  id="agreement"
                  name="agreement"
                  type="checkbox"
                  class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
                />
                <Text
                  for="agreement"
                  tag="label"
                  class="block text-sm text-base-500 font-medium"
                  >You agree to our
                  <Text
                    tag="a"
                    href="#_"
                    variant="textMD"
                    class="text-accent-500 font-medium hover:text-base-500">
                    Terms of service
                  </Text>
                  and
                  <Text
                    tag="a"
                    href="#_"
                    variant="textMD"
                    class="text-accent-500 font-medium hover:text-base-500">
                    Privacy Policy
                  </Text>
                </Text>
              </div>
            </div>
          </div>
          <div class="mt-10">
            <Button
              class="w-full"
              variant="accent"
              size="base">
              Sign up
            </Button>
          </div>
        </form>
        <div class="relative mt-12">
          <div
            class="absolute inset-0 flex items-center"
            aria-hidden="true">
            <div class="w-full border-t"></div>
          </div>
          <div
            class="relative flex justify-center text-sm font-medium leading-6">
            <Text
              tag="span"
              variant="textSM"
              class="text-base-500 font-medium bg-white px-4 border rounded-full py-1">
              Or Sign up with
            </Text>
          </div>
        </div>
        <div class="flex gap-4 mt-4">
          <Button
            class="w-full justify-center"
            variant="apple-brand"
            size="base"
            gap="gapXS">
            <Apple
              size="sm"
              slot="right-icon"
            />
          </Button>
          <Button
            class="w-full justify-center"
            variant="meta-brand"
            size="base"
            gap="gapXS">
            <Meta
              size="sm"
              slot="right-icon"
            />
          </Button>
          <Button
            class="w-full justify-center"
            variant="muted"
            size="base"
            gap="gapXS">
            <Chrome
              size="sm"
              slot="right-icon"
            />
          </Button>
        </div>
        <div class="flex mt-4">
          <Text
            tag="p"
            variant="textSM"
            class="text-base-500 font-medium">
            Don't have an account? Already have an account?
            <Text
              tag="a"
              href="#_"
              variant="textMD"
              class="text-accent-500 font-medium hover:text-base-500">
              Sign in
            </Text>
          </Text>
        </div>
      </div>
    </div>
  </div>
</div>
