---
export const description = "Split screen signup with customers";

// Assets
import { Image } from "astro:assets";
import Placeholder from "@/images/gradients/3.jpeg";
import One from "@/images/brandsLight/1.svg";
import Two from "@/images/brandsLight/2.svg";
import Three from "@/images/brandsLight/3.svg";
import Four from "@/images/brandsLight/4.svg";

// Fundations
import Logo from "@/components/assets/Logo.astro";
import Select from "@/components/fundations/inputs/Select.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
const logos = [One, Two, Three, Four];
---

<div class="flex h-screen">
  <div class="flex items-center justify-center w-full p-8 bg-white lg:w-1/2">
    <div class="w-full max-w-md py-24 lg:py-32">
      <div>
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight text-gray-900"
        >
          Create your account
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-gray-500 text-balance"
        >
          Join the party. Set up your account the old-fashioned way—email,
          password, done.
        </Text>
      </div>
      <form class="mt-10 space-y-4">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
          <TextInput
            id="name"
            name="name"
            label="Full Name"
            type="text"
            variant="default"
            size="base"
            placeholder="John Doe"
          /><TextInput
            id="last-name"
            name="lastName"
            label="Last Name"
            type="text"
            variant="default"
            size="base"
            placeholder="Doe"
          />

          <!-- Country Select -->
          <Select
            id="country"
            name="country"
            label="Select a country"
            variant="default"
            options={[
              { value: "", label: "Select your country" },
              { value: "us", label: "United States" },
              { value: "ca", label: "Canada" },
              { value: "gb", label: "United Kingdom" },
              { value: "de", label: "Germany" },
              { value: "fr", label: "France" },
              { value: "in", label: "India" },
              { value: "au", label: "Australia" },
              { value: "br", label: "Brazil" },
              { value: "jp", label: "Japan" },
              { value: "za", label: "South Africa" },
            ]}
          />

          <!-- State Select -->
          <Select
            id="state"
            name="state"
            label="Select a state"
            variant="default"
            options={[
              { value: "", label: "Select your state" },
              { value: "AL", label: "Alabama" },
              { value: "AK", label: "Alaska" },
              { value: "AZ", label: "Arizona" },
              { value: "AR", label: "Arkansas" },
              { value: "CA", label: "California" },
              { value: "CO", label: "Colorado" },
              { value: "CT", label: "Connecticut" },
              { value: "DE", label: "Delaware" },
              { value: "FL", label: "Florida" },
              { value: "GA", label: "Georgia" },
              { value: "HI", label: "Hawaii" },
              { value: "ID", label: "Idaho" },
              { value: "IL", label: "Illinois" },
              { value: "IN", label: "Indiana" },
              { value: "IA", label: "Iowa" },
              { value: "KS", label: "Kansas" },
              { value: "KY", label: "Kentucky" },
              { value: "LA", label: "Louisiana" },
              { value: "ME", label: "Maine" },
            ]}
          />
          <TextInput
            id="phone"
            name="phone"
            label="Phone Number"
            type="tel"
            variant="default"
            size="base"
            placeholder="(123) 456-7890"
          />

          <TextInput
            id="email"
            name="email"
            label="Email Address"
            type="email"
            variant="default"
            size="base"
            placeholder="you@example.com"
          />
          <TextInput
            id="password"
            name="password"
            label="Password"
            type="password"
            passwordToggle={true}
            size="base"
            placeholder="••••••••"
            required
          />
          <TextInput
            id="confirm-password"
            name="confirmPassword"
            label="Confirm Password"
            type="password"
            passwordToggle={true}
            size="base"
            placeholder="••••••••"
            required
          />
        </div>
        <Text tag="p" variant="textXS" class="font-medium text-gray-500">
          By creating an account, you agree to our
          <a href="#_" class="font-medium text-blue-500 hover:text-gray-500">
            Terms of service
          </a>
          and
          <a href="#_" class="font-medium text-blue-500 hover:text-gray-500">
            Privacy Policy
          </a>
        </Text>
        <Button fullWidth variant="accent" size="base"> Create account </Button>
      </form>
      <Text tag="p" variant="textXS" class="mt-4 font-medium text-gray-500">
        Already have an account?
        <a href="#_" class="font-medium text-blue-500 hover:text-gray-500">
          Sign in
        </a>
      </Text>
    </div>
  </div>
  <div class="relative hidden overflow-hidden lg:block lg:w-1/2">
    <Image
      width={1200}
      height={1200}
      src={Placeholder}
      alt="Background"
      aria-hidden="true"
      class="object-cover object-center w-full h-full bg-gray-50"
    />
    <div
      aria-hidden="true"
      class="absolute inset-0 pointer-events-none bg-blue-700/50"
    >
    </div>
    <div class="absolute inset-0 flex flex-col items-start justify-between p-8">
      <div>
        <a href="#_">
          <span class="sr-only">Back to home</span>
          <Logo class="h-12 mx-auto text-white md:mx-0" aria-hidden="true" /></a
        >
        <Text
          tag="h1"
          variant="textXL"
          class="mt-24 font-medium text-white text-shadow-sm text-balance"
        >
          Go ahead, start your "journey."
        </Text>
        <Text tag="p" variant="textSM" class="mt-2 text-white text-shadow-sm">
          Join the internet’s favorite club of freelancers and business owners—
          because what could possibly go wrong?
        </Text>
      </div>

      <div class="w-full grid grid-cols-4 gap-8">
        {
          logos.map((logo) => (
            <Image
              class="max-h-3"
              src={logo}
              alt="#_"
              width={158}
              height={48}
            />
          ))
        }
      </div>
    </div>
  </div>
</div>
