---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="relative">
  <div
    class="m-4 overflow-hidden lg:absolute lg:inset-0 lg:left-1/2 ring-8 ring-white rounded-2xl"
  >
    <img
      class="object-cover w-full h-64 bg-base-50 sm:h-80 lg:absolute lg:h-full"
      src="/pose/1.jpg"
      alt=""
    />
  </div>
  <div
    class="pt-16 pb-24 sm:pb-32 sm:pt-24 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:pt-32"
  >
    <div class="px-6 lg:px-8">
      <div class="mx-auto lg:mx-0 lg:max-w-lg">
        <div class="text-center lg:text-balance lg:text-left">
          <img
            class="h-20 mx-auto mb-12 lg:mx-0"
            src="/images/oxbow/blueLineLogo.png"
            alt="#_"
          />
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-accent-600"
          >
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displayMD"
            class="mt-4 font-semibold text-base-900 lg:text-balance"
          >
            Join our community
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 font-medium text-base-500"
          >
            Sign up to join our community and start building your brand.
          </Text>
        </div>
        <form action="#" method="POST" class="max-w-lg mx-auto mt-12">
          <div class="flex flex-col gap-y-6">
            <div>
              <Text
                for="first-name"
                tag="label"
                variant="textBase"
                class="font-medium text-base-500"
              >
                First name
              </Text>
              <div class="mt-2.5">
                <input
                  type="text"
                  name="first-name"
                  id="first-name"
                  autocomplete="given-name"
                  required
                  aria-required="true"
                  aria-describedby="first-name-error"
                  placeholder="Your first name"
                  class="block w-full h-10 px-4 py-2 text-sm bg-white border border-transparent rounded-lg appearance-none text-accent-700 duration-300 ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <span id="first-name-error" class="hidden text-sm text-red-600">
                  Please enter your first name.
                </span>
              </div>
            </div>
            <div>
              <Text
                for="email"
                tag="label"
                variant="textBase"
                class="font-medium text-base-500"
              >
                Email
              </Text>
              <div class="mt-2.5">
                <input
                  type="email"
                  name="email"
                  id="email"
                  autocomplete="email"
                  required
                  aria-required="true"
                  aria-describedby="email-error"
                  placeholder="Your email"
                  class="block w-full h-10 px-4 py-2 text-sm bg-white border border-transparent rounded-lg appearance-none text-accent-700 duration-300 ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <span id="email-error" class="hidden text-sm text-red-600">
                  Please enter a valid email address.
                </span>
              </div>
            </div>
            <div>
              <Text
                for="password"
                tag="label"
                variant="textBase"
                class="font-medium text-base-500"
              >
                Password
              </Text>
              <div class="mt-2.5">
                <input
                  type="password"
                  name="password"
                  id="password"
                  autocomplete="current-password"
                  required
                  aria-required="true"
                  aria-describedby="password-error"
                  placeholder="Your password"
                  class="block w-full h-10 px-4 py-2 text-sm bg-white border border-transparent rounded-lg appearance-none text-accent-700 duration-300 ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <span id="password-error" class="hidden text-sm text-red-600">
                  Please enter a valid password.
                </span>
              </div>
            </div>
            <div>
              <Text
                for="confirm-password"
                tag="label"
                variant="textBase"
                class="font-medium text-base-500"
              >
                Confirm Password
              </Text>
              <div class="mt-2.5">
                <input
                  type="password"
                  name="confirm-password"
                  id="confirm-password"
                  autocomplete="new-password"
                  required
                  aria-required="true"
                  aria-describedby="confirm-password-error"
                  placeholder="Confirm your password"
                  class="block w-full h-10 px-4 py-2 text-sm bg-white border border-transparent rounded-lg appearance-none text-accent-700 duration-300 ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <span
                  id="confirm-password-error"
                  class="hidden text-sm text-red-600"
                >
                  Passwords do not match.
                </span>
              </div>
            </div>
            <div class="space-y-2">
              <div class="flex items-center gap-3">
                <input
                  id="remember-me"
                  name="remember-me"
                  type="checkbox"
                  class="rounded shadow size-4 border-base-300 text-accent-600 focus:ring-accent-600"
                />
                <Text
                  for="remember-me"
                  tag="label"
                  class="block text-sm font-medium text-base-500"
                  >Remember me
                </Text>
              </div>
              <div class="flex items-center mt-4 gap-3">
                <input
                  id="agreement"
                  name="agreement"
                  type="checkbox"
                  class="rounded shadow size-4 border-base-300 text-accent-600 focus:ring-accent-600"
                />
                <Text
                  for="agreement"
                  tag="label"
                  class="block text-sm font-medium text-base-500"
                  >You agree to our
                  <Text
                    tag="a"
                    href="#_"
                    variant="textSM"
                    class="font-medium text-accent-500 hover:text-base-500"
                  >
                    Terms of service
                  </Text>
                  and
                  <Text
                    tag="a"
                    href="#_"
                    variant="textSM"
                    class="font-medium text-accent-500 hover:text-base-500"
                  >
                    Privacy Policy
                  </Text>
                </Text>
              </div>
            </div>
          </div>
          <div class="mt-10">
            <Button class="w-full" variant="accent" size="base">
              Sign up
            </Button>
          </div>
          <Text
            tag="p"
            variant="textXS"
            class="mt-4 font-medium text-center text-base-500"
          >
            Already have an account?
            <a
              href="#_"
              class="font-medium text-accent-500 hover:text-base-500"
            >
              Sign in
            </a>
          </Text>
        </form>
      </div>
    </div>
  </div>
</div>
