---
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="p-8">
  <div
    class="flex flex-col w-full max-w-md mx-auto bg-white shadow-lg rounded-xl ring-1 ring-gray-200 divide-y sm:divide-gray-200"
  >
    <div class="flex items-center flex-1 w-full p-4">
      <div class="w-full text-balance">
        <Text tag="p" variant="textLG" class="font-medium text-gray-900">
          Join our loyalty program
        </Text>
        <Text tag="p" variant="textSM" class="mt-2 font-medium text-gray-500">
          Earn points, unlock exclusive rewards, and enjoy personalized offers
          as a valued member.
        </Text>

        <div class="flex items-center justify-end mt-8 gap-4">
          <Text
            tag="a"
            href="#_"
            variant="textSM"
            class="flex items-center font-medium hover:text-blue-500 gap-2 text-gray-500"
          >
            Join now
          </Text>
          <Text
            tag="a"
            href="#_"
            variant="textSM"
            class="flex items-center font-medium hover:text-blue-500 gap-2 text-gray-500"
          >
            Maybe Later
          </Text>
        </div>
      </div>
    </div>
  </div>
</div>
