<div
  class="p-8">
  <div
    class="mx-auto flex w-full max-w-md flex-col rounded-xl bg-white shadow-lg ring-1 ring-black/5 divide-y sm:divide-base-200">
    <div class="flex w-full flex-1 items-center p-4">
      <div class="w-full text-balance">
        <p
          class="tracking-tight text-lg font-medium text-base-900 lg:text-pretty">
          Join our loyalty program
        </p>
        <p class="mt-2 text-sm text-base-500">
          Earn points, unlock exclusive rewards, and enjoy personalized offers
          as a valued member.
        </p>
        <div class="flex items-center justify-end gap-4 mt-8">
          <button
            type="button"
            role="button"
            aria-label="Join loyalty program"
            class="text-base-500 hover:text-accent-500 text-sm font-medium"
            tabindex="0"
            >Join Now</button
          >
          <button
            type="button"
            role="button"
            aria-label="Decline joining loyalty program"
            class="text-base-500 hover:text-accent-500 text-sm font-medium"
            tabindex="0"
            >Maybe Later</button
          >
        </div>
      </div>
    </div>
  </div>
</div>
