---
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="p-8 bg-white dark:bg-zinc-900">
  <!-- copy:start -->
  <div
    class="flex flex-col w-full max-w-sm mx-auto bg-white dark:bg-zinc-900 shadow-lg rounded-xl ring-1 ring-zinc-200 dark:ring-zinc-700 divide-y sm:divide-zinc-200 dark:divide-zinc-700"
  >
    <div class="flex items-center flex-1 w-full p-4">
      <div class="w-full text-balance">
        <Text
          tag="p"
          variant="textLG"
          class="font-medium text-zinc-900 dark:text-zinc-100"
        >
          Join our loyalty program
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
        >
          Earn points, unlock exclusive rewards, and enjoy personalized offers
          as a valued member.
        </Text>

        <div class="flex items-center justify-end mt-8 gap-4">
          <Text
            tag="a"
            href="#_"
            variant="textSM"
            class="flex items-center font-medium hover:text-blue-500 dark:hover:text-blue-300 gap-2 text-zinc-500 dark:text-zinc-400"
          >
            Join now
          </Text>
          <Text
            tag="a"
            href="#_"
            variant="textSM"
            class="flex items-center font-medium hover:text-blue-500 dark:hover:text-blue-300 gap-2 text-zinc-500 dark:text-zinc-400"
          >
            Maybe Later
          </Text>
        </div>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
