---
import Button from "@/components/fundations/buttons/Button.astro";
---

<div
  class="p-8"
  x-show="showAlert"
  x-data="{ showAlert: true }"
  role="alert">
  <div
    class="mx-auto w-full max-w-md overflow-hidden rounded-xl bg-white shadow-lg ring-1 ring-black/5">
    <div>
      <div class="p-4">
        <h2 class="tracking-tight text-lg font-medium text-base-900">
          Invite Teammates
        </h2>
        <p class="text-sm text-base-500 mt-2">
          Invite your team to review collaborate on this project.
        </p>
        <form class="w-full mt-8 sm:flex sm:max-w-md sm:ml-auto">
          <label
            for="email-address"
            class="sr-only"
            >Email address</label
          >
          <input
            id="email-address"
            type="email"
            name="email-address"
            autocomplete="email"
            placeholder="Enter your email"
            aria-placeholder="Enter your email"
            required=""
            class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
          />
          <div class="mt-2 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
            <Button
              class="w-full sm:w-auto"
              type="submit"
              variant="accent"
              size="base">
              Send invite
            </Button>
          </div>
        </form>
      </div>

      <div
        class="flex justify-end gap-2 items-center p-4 border-t border-base-200">
        <Button
          variant="muted"
          size="sm">
          Copy link
        </Button>
        <Button
          variant="muted"
          size="sm">
          Embed Code
        </Button>
      </div>
    </div>
  </div>
</div>
