---
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="p-8">
  <div
    class="flex w-full max-w-md mx-auto flex-col rounded-xl bg-white shadow-lg ring-1 ring-black/5 divide-y sm:divide-base-200">
    <div class="flex w-full flex-1 items-center p-4">
      <div class="w-full text-center text-balance">
        <h2 class="tracking-tight text-lg font-medium text-base-900">
          We use cookies
        </h2>
        <p class="text-sm text-base-500 mt-2 text-balance">
          We use cookies to enhance your browsing experience, serve personalized
          ads or content, and analyze our traffic. By clicking "Accept All", you
          consent to our use of cookies.
        </p>
      </div>
    </div>
    <div
      class="flex flex-col sm:flex-row justify-center gap-2 items-center p-4 border-t border-base-200">
      <Button
        class="w-full"
        variant="muted"
        size="sm">
        Customize
      </Button>
      <Button
        class="w-full"
        variant="muted"
        size="sm">
       Reject
      </Button>
      <Button
        class="w-full"
        variant="accent"
        size="sm">
       Accept
      </Button>
    </div>
  </div>
</div>
