<section>
  <div class="flex justify-center px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl items-center">
    <img
      class="inline-block size-16 rounded-full"
      src="/avatars/1.avif"
      alt=""
    />
  </div>
</section>
