---
export const freeComponent = true;
---

<div class="flex items-center justify-center p-12 bg-white dark:bg-zinc-900">
  <!-- copy:start -->
  <img class="inline-block rounded-full size-16" src="/avatars/1.jpg" alt="" />
  <!-- copy:end -->
</div>
