---
export const freeComponent = true;
---

<section>
  <div class="flex items-center justify-center p-8">
    <!-- copy:start -->
    <img
      class="inline-block rounded-full size-16"
      src="/avatars/1.jpg"
      alt=""
    />
    <!-- copy:end -->
  </div>
</section>
