<section>
  <div class="flex items-center justify-center px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <img
      class="inline-block rounded-full size-16"
      src="/avatars/1.jpg"
      alt=""
    />
  </div>
</section>
