---
import Button from "@/components/fundations/buttons/Button.astro";
---

<div
  class="flex items-center justify-center p-12 relative bg-white dark:bg-zinc-900"
>
  <!-- copy:start -->
  <div
    class="relative inline-flex items-center gap-3"
    x-data="{ online: true }"
  >
    <span class="relative inline-block">
      <img
        class="rounded-full size-16 object-cover ring-2 ring-white dark:ring-zinc-800"
        src="/avatars/1.jpg"
        alt="User"
      />
      <span
        :class="online ? 'bg-emerald-500' : 'bg-zinc-400'"
        class="absolute top-0 right-0 block rounded-full size-4 ring-2 ring-white dark:ring-zinc-800"
      ></span>
    </span>
    <Button size="xs" variant="muted" @click="online = !online">
      Toggle
    </Button>
  </div>
  <!-- copy:end -->
</div>
