<section>
  <div
    class="flex justify-center px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl items-center">
    <span class="relative inline-block">
      <img
        class="size-16 rounded-full"
        src="/avatars/1.jpg"
        alt=""
      />
      <span
        class="absolute right-0 top-0 block size-4 rounded-full bg-lime-600 ring-2 ring-white"
      ></span>
    </span>
  </div>
</section>
