---
import Text from "@/components/fundations/typography/Text.astro";
import Link from "@/components/fundations/typography/Link.astro";
---
<section>
  <div
    class="flex justify-center px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl items-center">
    <div class="group block flex-shrink-0">
      <div class="flex items-center gap-2">
        <div>
          <img
            class="inline-block size-9 rounded-full"
            src="/avatars/1.avif"
            alt=""
          />
        </div>
        <Link
          tag="a"
          href="#_"
          variant="link">
          <Text
            tag="p"
            variant="featureListItemSmall">
            Michael Andreuzza
          </Text>
          <Text
            tag="p"
            variant="small">
            example@example.com
          </Text>
        </Link>
      </div>
    </div>
  </div>
</section>
