<section>
  <div
    class="flex justify-center px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl items-center">
    <div class="group block flex-shrink-0">
      <div class="flex flex-col gap-4 max-w-52">
        <div class="flex items-center justify-between">
          <img
            class="inline-block size-9 rounded-full"
            src="/avatars/1.avif"
            alt=""
          />
          <button
            class="flex items-center justify-center size-8 p-1 text-xs font-semibold text-base-500 transition-all duration-300 border border-base-300 rounded-md shadow bg-base-50 hover:text-base-700 focus:ring-2 shadow-base-500/5 focus:ring-base-900 focus:ring-offset-2 ring-offset-base-200 hover:border-base-200 hover:shadow-none"
            aria-label="Action">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-user-plus size-4">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
              <path d="M16 19h6"></path>
              <path d="M19 16v6"></path>
              <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
            </svg>
          </button>
        </div>
        <div>
          <p class="text-sm font-medium text-base-700">Michael Andreuzza</p>
          <p class="text-xs font-medium text-base-400">@Mike_Andreuzza</p>
          <p class="text-base font-medium text-base-500 mt-4">
            Freelance design engineer with a passion for clean and minimalistic
            interfaces.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
