---
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div
    class="flex justify-center px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl items-center">
    <div class="group block flex-shrink-0">
      <div class="flex flex-col gap-4 max-w-52">
        <div class="flex items-center justify-between">
          <img
            class="inline-block size-10 rounded-full"
            src="/avatars/1.jpg"
            alt=""
          />
          <IconButton
            variant="alternative"
            size="sm">
            <Plus
              size="sm"
              slot="icon"
            />
          </IconButton>
        </div>
        <div>
          <Text
            tag="a"
            href="#_"
            variant="textMD"
            class="hover:text-accent-500 font-medium text-base-500">
            <Text
              tag="h3"
              variant="textMD"
              class="text-base-900 font-medium">
              Michael Andreuzza
            </Text>
            <Text
              tag="p"
              variant="textXS"
              class="text-base-400 font-medium">
              example@example.com
            </Text>
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 text-base-500 font-medium">
            Freelance design engineer with a passion for clean and minimalistic
            interfaces.
          </Text>
        </div>
      </div>
    </div>
  </div>
</section>
