---
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div
    class="flex items-center justify-center px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl"
  >
    <div class="flex-shrink-0 block group">
      <div class="flex flex-col gap-4 max-w-52">
        <div class="flex items-center justify-between">
          <img
            class="inline-block rounded-full size-10"
            src="/avatars/1.jpg"
            alt=""
          />
          <IconButton variant="alternative" size="sm">
            <Plus size="sm" slot="icon" />
          </IconButton>
        </div>
        <div>
          <Text
            tag="a"
            href="#_"
            variant="textBase"
            class="font-medium hover:text-blue-500 text-gray-500"
          >
            <Text tag="h3" variant="textBase" class="font-medium text-gray-900">
              Michael Andreuzza
            </Text>
            <Text tag="p" variant="textXS" class="font-medium text-gray-400">
              example@example.com
            </Text>
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 font-medium text-gray-500"
          >
            Freelance design engineer with a passion for clean and minimalistic
            interfaces.
          </Text>
        </div>
      </div>
    </div>
  </div>
</section>
