---
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Link from "@/components/fundations/typography/Link.astro";
---
<section>
  <div
    class="flex justify-center px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl items-center">
    <div class="group block flex-shrink-0">
      <div class="flex flex-col gap-4 max-w-52">
        <div class="flex items-center justify-between">
          <img
            class="inline-block size-10 rounded-full"
            src="/avatars/1.avif"
            alt=""
          />
          <IconButton
            variant="alternative"
            size="sm">
            <Plus
              size="sm"
              slot="icon"
            />
          </IconButton>
        </div>
        <div>
          <Link
            tag="a"
            href="#_"
            variant="link">
            <Text
              tag="p"
              variant="featureListItemSmall">
              Michael Andreuzza
            </Text>
            <Text
              tag="p"
              variant="small">
              @Mike_Andreuzza
            </Text>
          </Link>
          <Text
          class="mt-4"
            tag="p"
            variant="body">
            Freelance design engineer with a passion for clean and
            minimalistic interfaces.
          </Text>
        </div>
      </div>
    </div>
  </div>
</section>
