---
export const description = "Avatar Sizes";
---

<section class="flex items-center justify-center p-12 bg-white dark:bg-zinc-900">
  <!-- copy:start -->
  <div class="flex items-end gap-4">
    <img src="/avatars/1.jpg" alt="" class="object-cover rounded-full size-8 ring-2 ring-white dark:ring-zinc-800" />
    <img src="/avatars/1.jpg" alt="" class="object-cover rounded-full size-10 ring-2 ring-white dark:ring-zinc-800" />
    <img src="/avatars/1.jpg" alt="" class="object-cover rounded-full size-12 ring-2 ring-white dark:ring-zinc-800" />
    <img src="/avatars/1.jpg" alt="" class="object-cover rounded-full size-16 ring-2 ring-white dark:ring-zinc-800" />
  </div>
  <!-- copy:end -->
</section>

