---
export const description = "Trusted By + Avatars";
---

<section
  class="flex items-center justify-center p-16 bg-white dark:bg-zinc-900"
>
  <!-- copy:start -->
  <div class="flex flex-col items-center md:flex-row gap-3">
    <div class="flex -space-x-2">
      <img
        src="/avatars/1.jpg"
        alt=""
        class="object-cover rounded-full size-8 ring-2 ring-white dark:ring-zinc-800"
      />
      <img
        src="/avatars/2.jpg"
        alt=""
        class="object-cover rounded-full size-8 ring-2 ring-white dark:ring-zinc-800"
      />
      <img
        src="/avatars/3.jpg"
        alt=""
        class="object-cover rounded-full size-8 ring-2 ring-white dark:ring-zinc-800"
      />
      <span
        class="inline-flex items-center justify-center rounded-full size-8 bg-zinc-100 text-zinc-600 ring-2 ring-white dark:bg-zinc-800 dark:text-zinc-300 dark:ring-zinc-900"
        >+3</span
      >
    </div>
    <span
      class="flex items-center h-8 px-3 text-xs bg-white rounded-full w-fit ring-1 ring-zinc-200 dark:ring-zinc-800 text-zinc-700 dark:text-zinc-200 dark:bg-zinc-900"
      >Trusted by <span class="mx-1 font-semibold">10k+</span> cuistomeers</span
    >
  </div>
  <!-- copy:end -->
</section>
