---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import { formatDistanceToNowStrict } from "date-fns";
import updates from "@/data/updates.json";
const { section, subsection } = Astro.params;
const components = await Astro.glob(`@/components/oxbow/**/*.astro`);
const sectionComponents = components.filter((component) => {
  const sectionRegex = new RegExp(`${section}\/${subsection}\/.+\.astro$`, "i");
  return component.file?.match(sectionRegex);
});
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/screenshots/*.png"
);
const formattedSubsection = subsection.replace("-", " ");

const user = Astro.locals.user;

const SEVEN_DAYS_AGO = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);
---

<BaseLayout>
  <section>
    <Wrapper variant="hero">
      <button
        class="flex items-center gap-2 text-base-500 hover:text-accent-500"
        onclick="history.back();"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left size-5"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M5 12l14 0"></path><path d="M5 12l6 6"></path><path
            d="M5 12l6 -6"></path></svg
        >Go Back</button
      >
      <Text
        tag="h1"
        variant="displayBase"
        class="uppercase mt-4 font-semibold tracking-tight text-black"
      >
        {subsection.replace(/-/g, " ")}
      </Text>
    </Wrapper>
  </section>
  <section class="border-t border-base-200">
    <Wrapper variant="standard" class="py-12">
      <div
        class="relative w-full grid grid-cols-1 gap-4 md:grid-cols-2 gap-y-12 lg:grid-cols-3"
      >
        {
          sectionComponents.map((component, index) => {
            const filePath = component.file.split("/").slice(-3).join("/");

            const imagePath = `/src/screenshots/${component.file
              .split("/")
              .slice(-3)
              .join("_")
              .replace(".astro", ".png")}`;

            if (!images[imagePath]) {
              return null;
            }

            const updatedAt = new Date(updates[filePath] * 1000);

            const isUpdatedLastWeek = updatedAt > SEVEN_DAYS_AGO;

            return (
              <a
                href={`/playground/${filePath.replace(".astro", "")}`}
                class="relative group flex flex-col "
              >
                <div class="flex items-center gap-2 ">
                  <Text
                    tag="span"
                    variant="textXS"
                    class="text-base-500 capitalize"
                  >
                    {subsection.replace(/-/g, " ")}
                    Component {index + 1}
                  </Text>

                  {!user && index === 0 && (
                    <Text
                      tag="span"
                      variant="textXS"
                      class="text-accent-600"
                    >
                      — &nbsp; Demo
                    </Text>
                  )}

                  {isUpdatedLastWeek && (
                    <Text
                      tag="span"
                      variant="textXS"
                      class="text-accent-600"
                    >
                      Updated {formatDistanceToNowStrict(updatedAt, {unit: "day", roundingMethod: "ceil"})} ago
                    </Text>
                  )}
                </div>

                <Image
                  src={images[imagePath]()}
                  alt={`${subsection} preview ${index + 1}`}
                  class="w-full object-cover mt-1 border  border-base-200 rounded ring-4 ring-base-50 group-hover:ring-base-100 transition-all duration-300 ease-in-out cursor-pointer"
                />
              </a>
            );
          })
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
