---
export const description =
  "Left aligned with full size background image and large text";

import Text from "@/components/fundations/typography/Text.astro";
---

<div class="relative overflow-hidden bg-white dark:bg-zinc-900">
  <div class="absolute inset-0 z-10 bg-white/70 dark:bg-black/70"></div>
  <div class="relative mx-auto max-w-screen grid lg:px-8">
    <div
      class="px-8 pt-[35rem] pb-12 z-50 lg:px-0 lg:pt-[35rem] flex flex-col justify-end text-black dark:text-white"
    >
      <Text
        tag="p"
        variant="textLG"
        class="max-w-xl mt-4 font-semibold text-balance"
      >
        Collaborate in real time and launch ideas faster than ever before.
      </Text>
      <Text
        tag="h2"
        variant="display4XL"
        class="font-black tracking-tight text-zinc-900 md:text-balance dark:text-zinc-100"
      >
        Instant teamwork
        <br />
        Limitless results
      </Text>
    </div>
  </div>
  <img
    class="absolute inset-0 object-cover object-center w-full h-full aspect-auto"
    src="/pose/4.png"
    alt="Dashboard preview"
  />
</div>
