---
export const description = "Right aligned with split image on the bottom";
import Text from "@/components/fundations/typography/Text.astro";
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-2xl px-8 pt-24 ml-auto lg:pt-72">
    <Text
      tag="h2"
      variant="displayMD"
      class="mt-4 ml-auto font-semibold text-zinc-900 dark:text-white lg:text-balance tracking-tight"
    >
      Collaborate instantly and bring your ideas to life in any environment.
    </Text>
  </div>

  <img
    class="mx-auto object-cover size-full max-h-[40rem] mt-8"
    src="/pose/3.png"
    alt="woman"
  />
</section>
