---
export const description = "Right aligned with split image on the bottom";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="max-w-2xl px-8 pt-24 ml-auto lg:pt-72">
    <Text
      tag="h2"
      variant="displayMD"
      class="mt-4 ml-auto font-semibold text-gray-900 lg:text-balance"
    >
      The fastest method for working together on staging and temporary
      environments.
    </Text>
  </div>
  <div class="w-full mx-auto mt-12 max-w-screen">
    <img
      class="mx-auto object-cover size-full max-h-[40rem]"
      src="/pose/3.png"
      alt="#_"
    />
  </div>
</section>
