---
export const description = "Left aligned with grid";
import Text from "@/components/fundations/typography/Text.astro";
const data = [
  {
    icon: "User",
    category: "Biography",
    text: "I’m Alex, a passionate UI/UX designer from London. I craft digital experiences with creativity, curiosity, and a love for detail. Let’s build something remarkable together!",
  },
  {
    icon: "Location",
    category: "Contact",
    text: "Based in London, UK. Reach out at hello@alexdesign.com or call +44 1234 567890.",
  },
  {
    icon: "List",
    category: "Services",
    text: "Specializing in Web Design, Mobile Interfaces, and Motion Graphics to elevate your brand.",
  },
];
const stats = [
  {
    label: "Projects completed",
    value: "950+",
  },
  {
    label: "Awards won",
    value: "18",
  },
  {
    label: "Happy clients",
    value: "400+",
  },
  {
    label: "Cups of coffee",
    value: "7,200",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="relative px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-24">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-12">
      <div class="flex flex-col order-last h-full lg:order-none">
        <dl class="flex flex-col order-last mt-auto gap-12 xl:order-none">
          {
            data.map((section) => (
              <div>
                <dt>
                  <Text
                    variant="textBase"
                    tag="h3"
                    class="font-semibold text-zinc-900 dark:text-zinc-100"
                  >
                    {section.category}
                  </Text>
                </dt>
                <dd>
                  <Text
                    tag="p"
                    variant="textSM"
                    class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
                  >
                    {section.text}
                  </Text>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
      <div class="order-first lg:order-none sm:col-span-2">
        <img class="h-full" src="/pose/7.png" alt="" />
      </div>
      <div class="flex flex-col justify-between gap-6 lg:text-right">
        {
          stats.map((stat) => (
            <div class="flex flex-col">
              <Text
                tag="p"
                variant="displayXL"
                class="text-zinc-900 dark:text-zinc-100 font-bold font-mono"
              >
                {stat.value}
              </Text>
              <Text
                tag="h3"
                variant="textBase"
                class="font-medium text-zinc-600 dark:text-zinc-400"
              >
                {stat.label}
              </Text>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
