---
const {
  variant,
  size,
  onlyIconSize,
  position,
  gap,
  class: className,
  ...rest
} = Astro.props;
// Accent button
const accentClass = [
  "text-white",
  "bg-blue-600",
  "hover:bg-blue-700",
  "ring-blue-700",
  "focus:ring-blue-700",
  "focus:ring-offset-white",
  "dark:focus:ring-offset-zinc-900",
  "dark:bg-blue-600",
  "dark:hover:bg-blue-700",
];
// Default button
const defaultClass = [
  "text-zinc-500",
  "bg-white",
  "hover:text-blue-500",
  "ring-1",
  "ring-zinc-200",
  "focus:ring-blue-500",
  "focus:ring-offset-white",
  "dark:text-zinc-300",
  "dark:bg-zinc-800",
  "dark:ring-zinc-700",
  "dark:focus:ring-offset-zinc-900",
];
// Muted button
const mutedClass = [
  "text-blue-700",
  "bg-blue-50",
  "hover:bg-blue-100",
  "ring-blue-50",
  "focus:ring-blue-500",
  "focus:ring-offset-white",
  "dark:text-blue-400",
  "dark:bg-blue-900/30",
  "dark:hover:bg-blue-900/40",
  "dark:ring-blue-900/30",
  "dark:focus:ring-offset-zinc-900",
];

// Text button
const textClass = [
  "text-zinc-500",
  "bg-white",
  "hover:text-blue-600",
  "hover:bg-zinc-50",
  "ring-transparent",
  "focus:ring-blue-500",
  "focus:ring-offset-white",
  "dark:text-zinc-300",
  "dark:bg-zinc-800",
  "dark:hover:bg-zinc-700",
  "dark:focus:ring-offset-zinc-900",
];

// Link button
const linkClass = [
  "text-blue-500",
  "hover:text-blue-700",
  "ring-transparent",
  "focus:ring-blue-500",
  "focus:ring-offset-white",
  "dark:text-blue-400",
  "dark:hover:text-blue-300",
];

// Size
const xs = ["h-8", "px-4", "py-2", "text-xs", "font-medium"];
const sm = ["h-9", "px-4", "py-2", "text-sm", "font-medium"];
const base = ["h-10", "px-6", "py-3", "text-base", "font-medium"];
const md = ["h-11", "px-6", "py-3", "text-base", "font-medium"];
const lg = ["h-12", "px-6", "py-3", "text-base", "font-medium"];
const xl = ["h-14", "px-6", "py-3", "text-lg", "font-medium"];
// Button position
// right
const rightXS = ["rounded-l-md"];
const rightSM = ["rounded-l-md"];
const rightBase = ["rounded-l-lg"];
const rightMD = ["rounded-l-lg"];
const rightLG = ["rounded-l-lg"];
const rightXL = ["rounded-l-lg"];
// Middle
const middleXS = ["rounded-none", "-ml-px"];
const middleSM = ["rounded-none", "-ml-px"];
const middleBase = ["rounded-none", "-ml-px"];
const middleMD = ["rounded-none", "-ml-px"];
const middleLG = ["rounded-none", "-ml-px"];
const middleXL = ["rounded-none", "-ml-px"];
// left
const leftXS = ["rounded-r-md", "-ml-px"];
const leftSM = ["rounded-r-md", "-ml-px"];
const leftBase = ["rounded-r-lg", "-ml-px"];
const leftMD = ["rounded-r-lg", "-ml-px"];
const leftLG = ["rounded-r-lg", "-ml-px"];
const leftXL = ["rounded-r-lg", "-ml-px"];

// Gap
const gapXS = ["gap-2"];
const gapSM = ["gap-4"];
const gapMD = ["gap-8"];
const gapLG = ["gap-12"];
---

<button
  class:list={[
    "flex",
    "items-center",
    "justify-center",
    "focus:z-10",
    "transition-all",
    "duration-300",
    "focus:ring-2",
    "focus:ring-offset-1",
    "focus:outline-none",
    variant === "accent" && accentClass,
    variant === "default" && defaultClass,
    variant === "muted" && mutedClass,
    variant === "text" && textClass,
    variant === "link" && linkClass,
    size === "xs" && xs,
    size === "sm" && sm,
    size === "base" && base,
    size === "md" && md,
    size === "lg" && lg,
    size === "xl" && xl,
    position === "right" && rightXS,
    position === "right" && rightSM,
    position === "right" && rightBase,
    position === "right" && rightMD,
    position === "right" && rightLG,
    position === "right" && rightXL,
    position === "middle" && middleXS,
    position === "middle" && middleSM,
    position === "middle" && middleBase,
    position === "middle" && middleMD,
    position === "middle" && middleLG,
    position === "middle" && middleXL,
    position === "left" && leftXS,
    position === "left" && leftBase,
    position === "left" && leftSM,
    position === "left" && leftMD,
    position === "left" && leftLG,
    position === "left" && leftXL,
    gap === "xs" && gapXS,
    gap === "sm" && gapSM,
    gap === "md" && gapMD,
    gap === "lg" && gapLG,
    className,
  ]}
  {...rest}
>
  <slot name="up-icon" />
  <slot name="left-icon" />
  <slot />
  <slot name="right-icon" />
  <slot name="down-icon" />
  <slot name="centered-icon" />
</button>
