---
export const freeComponent = true;
import Button from "@/components/fundations/buttons/Button.astro";
const peopleData = [
  {
    name: "Jhonny Begood",
    position: "Design Engineer",
    email: "email@example.com",
    role: "Member",
  },
  {
    name: "Alice Smith",
    position: "Product Manager",
    email: "alice@example.com",
    role: "Admin",
  },
  {
    name: "Bob Johnson",
    position: "Frontend Developer",
    email: "bob@example.com",
    role: "Member",
  },
  {
    name: "Clara Oswald",
    position: "Backend Developer",
    email: "clara@example.com",
    role: "Member",
  },
];
---

<div class="flex flex-col justify-center p-8 mx-auto bg-white dark:bg-zinc-900">
  <!-- copy:start -->
  <div class="flow-root max-w-7xl mx-auto w-full">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <!-- copy:start -->
        <table class="min-w-full bg-white dark:bg-zinc-900">
          <thead
            class="border-b border-zinc-200 dark:border-zinc-700 bg-zinc-50 dark:bg-zinc-800"
          >
            <tr>
              <th
                scope="col"
                class="py-3.5 pl-4 pr-3 text-base font-medium tracking-tighter text-zinc-900 dark:text-zinc-100 text-left"
                >Name</th
              >
              <th
                scope="col"
                class="px-3 py-3.5 text-base font-medium tracking-tighter text-zinc-900 dark:text-zinc-100 text-left"
                >Title</th
              >
              <th
                scope="col"
                class="px-3 py-3.5 text-base font-medium tracking-tighter text-zinc-900 dark:text-zinc-100 text-left"
                >Email</th
              >
              <th
                scope="col"
                class="px-3 py-3.5 text-base font-medium tracking-tighter text-zinc-900 dark:text-zinc-100 text-left"
                >Role</th
              >
              <th scope="col" class="relative py-3.5 pl-3 pr-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody>
            {
              peopleData.map((person, index) => (
                <tr
                  class={`even:bg-zinc-50 even:dark:bg-zinc-800 ${index % 2 === 1 ? "rounded-lg" : ""}`}
                >
                  <td
                    class={`whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium tracking-tighter text-zinc-900 dark:text-zinc-100 ${
                      index % 2 === 1 ? "rounded-l-lg" : ""
                    }`}
                  >
                    {person.name}
                  </td>
                  <td class="px-3 py-4 text-xs font-medium whitespace-nowrap text-zinc-500 dark:text-zinc-400">
                    {person.position}
                  </td>
                  <td class="px-3 py-4 text-xs font-medium whitespace-nowrap text-zinc-500 dark:text-zinc-400">
                    {person.email}
                  </td>
                  <td class="px-3 py-4 text-xs font-medium whitespace-nowrap text-zinc-500 dark:text-zinc-400">
                    {person.role}
                  </td>
                  <td
                    class={`relative whitespace-nowrap py-4 pr-3 text-right ${
                      index % 2 === 1 ? "rounded-r-lg" : ""
                    }`}
                  >
                    <Button
                      size="sm"
                      type="submit"
                      variant="link"
                      class="ml-auto"
                    >
                      Edit<span class="sr-only">Edit</span>
                    </Button>
                  </td>
                </tr>
              ))
            }
          </tbody>
        </table>
        <!-- copy:end -->
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
