---
export const freeComponent = true;
import Button from "@/components/fundations/buttons/Button.astro";
const peopleData = [
  {
    name: "Jhonny Begood",
    position: "Design Engineer",
    email: "email@example.com",
    role: "Member",
  },
  {
    name: "Alice Smith",
    position: "Product Manager",
    email: "alice@example.com",
    role: "Admin",
  },
  {
    name: "Bob Johnson",
    position: "Frontend Developer",
    email: "bob@example.com",
    role: "Member",
  },
  {
    name: "Clara Oswald",
    position: "Backend Developer",
    email: "clara@example.com",
    role: "Member",
  },
];
---
<section>
  <div class="relative px-4 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full">
            <thead class="border-b border-base-200">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-base font-medium tracking-tighter text-base-900 text-left"
                  >Name</th
                >
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tighter text-base-900 text-left"
                  >Title</th
                >
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tighter text-base-900 text-left"
                  >Email</th
                >
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tighter text-base-900 text-left"
                  >Role</th
                >
                <th
                  scope="col"
                  class="relative py-3.5 pl-3 pr-3">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody>
              {
                peopleData.map((person, index) => (
                  <tr
                    class={`even:bg-base-50 ${index % 2 === 1 ? "rounded-lg" : ""}`}>
                    <td
                      class={`whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium tracking-tighter text-base-900 ${
                        index % 2 === 1 ? "rounded-l-lg" : ""
                      }`}>
                      {person.name}
                    </td>
                    <td class="px-3 py-4 text-xs font-medium whitespace-nowrap text-base-500">
                      {person.position}
                    </td>
                    <td class="px-3 py-4 text-xs font-medium whitespace-nowrap text-base-500">
                      {person.email}
                    </td>
                    <td class="px-3 py-4 text-xs font-medium whitespace-nowrap text-base-500">
                      {person.role}
                    </td>
                    <td
                      class={`relative whitespace-nowrap py-4 pr-3 text-right ${
                        index % 2 === 1 ? "rounded-r-lg" : ""
                      }`}>
                      <Button
                        size="sm"
                        type="submit"
                        variant="link"
                        class="ml-auto"
                        >
                        Edit<span class="sr-only">Edit</span>
                      </Button>
                    </td>
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
