---
import Button from "@/components/fundations/buttons/Button.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import Badge from "@/components/fundations/badges/Badge.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import X from "@/components/fundations/icons/X.astro";
import Search from "@/components/fundations/icons/Search.astro";
import Mail from "@/components/fundations/icons/Mail.astro";
import GithubBrand from "@/components/fundations/icons/GithubBrand.astro";
import Clipboard from "@/components/fundations/icons/Clipboard.astro";
---

<section class="overflow-hidden">
  <div class="relative px-4 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="flex flex-col sm:flex-row sm:items-center gap-2">
      <div class="relative w-full">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
          <Search
            class="text-base-400"
            size="base"
            slot="icon"
          />
        </span>
        <input
          type="text"
          class="block w-full h-10 px-4 py-2 pl-10 pr-4 text-sm bg-white border border-transparent rounded-lg appearance-none text-accent-700 duration-300 ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
          placeholder="Search by email addres or user ID..."
          aria-label="Search"
        />
      </div>
      <div class="sm:ml-auto sm:flex-none">
        <Button
          gap="xs"
          size="base"
          variant="accent">
          <Plus
            size="base"
            slot="icon"
            slot="left-icon"
          />
          Add user
        </Button>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table
            class="min-w-full overflow-hidden sm:ring-1 sm:rounded-xl ring-base-200">
            <thead class="border-b border-base-200 bg-base-50">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-base font-medium tracking-tighter text-base-900 text-left">
                  Name
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tighter text-base-900 text-left">
                  Providers
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tighter text-base-900 text-left">
                  Created
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tighter text-base-900 text-left">
                  Signed
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tighter text-base-900 text-left">
                  User ID
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tighter text-base-900 text-left">
                  Status
                </th>
                <th
                  scope="col"
                  class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-base-200">
              <tr>
                <td
                  class="py-4 pl-4 pr-3 text-sm font-medium tracking-tighter whitespace-nowrap text-base-900">
                  Jhonny Begood
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-base-500">
                  <div class="flex items-center gap-2">
                    <Mail
                      class="text-base-400"
                      size="sm"
                      slot="icon"
                    />
                    <GithubBrand
                      class="text-base-400"
                      size="sm"
                      slot="icon"
                    />
                  </div>
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-base-500">
                  21 Aug 2024
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-base-500">
                  24 Sept 2024
                </td>
                <td
                  class="max-w-xs px-3 py-4 overflow-hidden text-xs font-medium truncate whitespace-nowrap text-base-500">
                  <span class="flex items-center gap-2">
                    <button
                      class="text-base-500 hover:text-accent-500 duration-300">

                       <Clipboard
                        class="text-base-400"
                        size="sm"
                        slot="icon"
                      />
                    </button>
                    <span class="truncate"
                      >7fc61d7c-9060-464f-97df-37ba721e11f7</span
                    >
                  </span>
                </td>
                <td class="max-w-xs px-3 py-4 overflow-hidden truncate">
                  <!-- XS Size -->
                  <Badge
                    variant="success"
                    size="xs">
                    Active
                  </Badge>
                </td>
                <td
                  class="relative py-4 pl-3 pr-4 text-right whitespace-nowrap">
                  <div class="flex items-center gap-2">
                    <Button
                      size="sm"
                      type="submit"
                      variant="link"
                      class="ml-auto">
                      Edit<span class="sr-only">Edit</span>
                    </Button>
                    <IconButton
                      variant="text"
                      size="xs">
                      <X
                        class="text-red-500"
                        size="sm"
                        slot="icon"
                      />
                      <span class="sr-only">Delete</span>
                    </IconButton>
                  </div>
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pl-4 pr-3 text-sm font-medium tracking-tighter whitespace-nowrap text-base-900">
                  Alice Smith
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-base-500">
                  <div class="flex items-center gap-2">
                    <Mail
                      class="text-base-400"
                      size="sm"
                      slot="icon"
                    />
                  </div>
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-base-500">
                  19 June 2024
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-base-500">
                  21 Aug 2024
                </td>
                <td
                  class="max-w-xs px-3 py-4 overflow-hidden text-xs font-medium truncate whitespace-nowrap text-base-500">
                  <span class="flex items-center gap-2">
                    <button
                      class="text-base-500 hover:text-accent-500 duration-300">
                       <Clipboard
                        class="text-base-400"
                        size="sm"
                        slot="icon"
                      />
                    </button>
                    <span class="truncate"
                      >16839a81-6f63-4aa2-859f-69dd924fefdd</span
                    >
                  </span>
                </td>
                <td class="max-w-xs px-3 py-4 overflow-hidden truncate">
                  <Badge
                    variant="danger"
                    size="xs">
                    Inactive
                  </Badge>
                </td>
                <td
                  class="relative py-4 pl-3 pr-4 text-right whitespace-nowrap">
                  <div class="flex items-center gap-2">
                    <Button
                      size="sm"
                      type="submit"
                      variant="link"
                      class="ml-auto">
                      Edit<span class="sr-only">Edit</span>
                    </Button>
                    <IconButton
                      variant="text"
                      size="xs">
                      <X
                        class="text-red-500"
                        size="sm"
                        slot="icon"
                      />
                      <span class="sr-only">Delete</span>
                    </IconButton>
                  </div>
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pl-4 pr-3 text-sm font-medium tracking-tighter whitespace-nowrap text-base-900">
                  Bob Johnson
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-base-500">
                  <div class="flex items-center gap-2">
                    <GithubBrand
                      class="text-base-400"
                      size="sm"
                      slot="icon"
                    />
                  </div>
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-base-500">
                  02 May 2024
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-base-500">
                  02 May 2024
                </td>
                <td
                  class="max-w-xs px-3 py-4 overflow-hidden text-xs font-medium truncate whitespace-nowrap text-base-500">
                  <span class="flex items-center gap-2">
                    <button
                      class="text-base-500 hover:text-accent-500 duration-300">
                       <Clipboard
                        class="text-base-400"
                        size="sm"
                        slot="icon"
                      />
                    </button>
                    <span class="truncate"
                      >d4b03e34-4574-4641-a7aa-e57d04059e38</span
                    >
                  </span>
                </td>
                <td class="max-w-xs px-3 py-4 overflow-hidden truncate">
                  <Badge
                    variant="warning"
                    size="xs">
                    Pending
                  </Badge>
                </td>
                <td
                  class="relative py-4 pl-3 pr-4 text-right whitespace-nowrap">
                  <div class="flex items-center gap-2">
                    <Button
                      size="sm"
                      type="submit"
                      variant="link"
                      class="ml-auto">
                      Edit<span class="sr-only">Edit</span>
                    </Button>
                    <IconButton
                      variant="text"
                      size="xs">
                      <X
                        class="text-red-500"
                        size="sm"
                        slot="icon"
                      />
                      <span class="sr-only">Delete</span>
                    </IconButton>
                  </div>
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pl-4 pr-3 text-sm font-medium tracking-tighter whitespace-nowrap text-base-900">
                  Clara Oswald
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-base-500">
                  <div class="flex items-center gap-2">
                    <Mail
                      class="text-base-400"
                      size="sm"
                      slot="icon"
                    />
                    <GithubBrand
                      class="text-base-400"
                      size="sm"
                      slot="icon"
                    />
                  </div>
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-base-500">
                  12 March 2024
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-base-500">
                  16 July 2024
                </td>
                <td
                  class="max-w-xs px-3 py-4 overflow-hidden text-xs font-medium truncate whitespace-nowrap text-base-500">
                  <span class="flex items-center gap-2">
                    <button
                      class="text-base-500 hover:text-accent-500 duration-300">
                       <Clipboard
                        class="text-base-400"
                        size="sm"
                        slot="icon"
                      />
                    </button>
                    <span class="truncate"
                      >9e402944-9e5f-4b39-9163-3b1664211cbe</span
                    >
                  </span>
                </td>
                <td class="max-w-xs px-3 py-4 overflow-hidden truncate">
                  <Badge
                    variant="success"
                    size="xs">
                    Active
                  </Badge>
                </td>
                <td
                  class="relative py-4 pl-3 pr-4 text-right whitespace-nowrap">
                  <div class="flex items-center gap-2">
                    <Button
                      size="sm"
                      type="submit"
                      variant="link"
                      class="ml-auto">
                      Edit<span class="sr-only">Edit</span>
                    </Button>
                    <IconButton
                      variant="text"
                      size="xs">
                      <X
                        class="text-red-500"
                        size="sm"
                        slot="icon"
                      />
                      <span class="sr-only">Delete</span>
                    </IconButton>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
