---
import Button from "@/components/fundations/buttons/Button.astro";
import Badge from "@/components/fundations/badges/Badge.astro";
import HorizontalButtonGroup from "@/components/fundations/buttonGroups/HorizontalButtonGroup.astro";
---

<div class="flex flex-col justify-center p-8 mx-auto">
  <!-- copy:start -->
  <div>
    <div class="flex items-center gap-2">
      <h1 class="text-base font-medium tracking-tighter text-zinc-900">
        Purchases
      </h1>
      <Badge variant="muted" size="xs"> Ready </Badge>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <!-- copy:start -->
          <table class="min-w-full border-y border-zinc-200">
            <thead class="border-b border-zinc-200">
              <tr>
                <th scope="col" class="pl-3 text-left sm:pl-0">
                  <input
                    type="checkbox"
                    class="rounded shadow size-4 border-zinc-300 text-stone-600 focus:ring-stone-600"
                  />
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-3 text-base font-medium tracking-tighter text-zinc-900 text-left"
                >
                  Product
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tighter text-zinc-900 text-left"
                >
                  Email
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tighter text-zinc-900 text-left"
                >
                  Cart
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tighter text-zinc-900 text-left"
                >
                  Status
                </th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-zinc-200">
              <tr>
                <td class="pl-3 sm:pl-0">
                  <input
                    type="checkbox"
                    class="rounded shadow size-4 border-zinc-300 text-stone-600 focus:ring-stone-600"
                  />
                </td>
                <td
                  class="px-3 py-4 text-sm font-medium tracking-tighter whitespace-nowrap text-zinc-900"
                >
                  98137459
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-zinc-500"
                >
                  email@example.com
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-zinc-500"
                >
                  Iphone X, 11 inch
                </td>
                <td class="max-w-xs px-3 py-4 overflow-hidden truncate">
                  <Badge variant="success" size="xs"> In transit </Badge>
                </td>
                <td
                  class="relative py-4 pl-3 pr-3 text-right whitespace-nowrap sm:px-0"
                >
                  <Button size="sm" variant="text" class="ml-auto">
                    See details<span class="sr-only">details</span>
                  </Button>
                </td>
              </tr>
              <tr>
                <td class="pl-3 sm:pl-0">
                  <input
                    type="checkbox"
                    class="rounded shadow size-4 border-zinc-300 text-stone-600 focus:ring-stone-600"
                  />
                </td>
                <td
                  class="px-3 py-4 text-sm font-medium tracking-tighter whitespace-nowrap text-zinc-900"
                >
                  89347592
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-zinc-500"
                >
                  alice@example.com
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-zinc-500"
                >
                  Macbook Pro, 13 inch
                </td>
                <td class="max-w-xs px-3 py-4 overflow-hidden truncate">
                  <Badge variant="danger" size="xs"> Canceled </Badge>
                </td>
                <td
                  class="relative py-4 pl-3 pr-3 text-right whitespace-nowrap sm:px-0"
                >
                  <Button size="sm" variant="text" class="ml-auto">
                    See details<span class="sr-only">details</span>
                  </Button>
                </td>
              </tr>
              <tr>
                <td class="pl-3 sm:pl-0">
                  <input
                    type="checkbox"
                    class="rounded shadow size-4 border-zinc-300 text-stone-600 focus:ring-stone-600"
                  />
                </td>
                <td
                  class="px-3 py-4 text-sm font-medium tracking-tighter whitespace-nowrap text-zinc-900"
                >
                  02398547
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-zinc-500"
                >
                  bob@example.com
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-zinc-500"
                >
                  Benq, 12 inch
                </td>
                <td class="max-w-xs px-3 py-4 overflow-hidden truncate">
                  <Badge variant="success" size="xs"> In transit </Badge>
                </td>
                <td
                  class="relative py-4 pl-3 pr-3 text-right whitespace-nowrap sm:px-0"
                >
                  <Button size="sm" variant="text" class="ml-auto">
                    See details<span class="sr-only">details</span>
                  </Button>
                </td>
              </tr>
              <tr>
                <td class="pl-3 sm:pl-0">
                  <input
                    type="checkbox"
                    class="rounded shadow size-4 border-zinc-300 text-stone-600 focus:ring-stone-600"
                  />
                </td>
                <td
                  class="px-3 py-4 text-sm font-medium tracking-tighter whitespace-nowrap text-zinc-900"
                >
                  02387654
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-zinc-500"
                >
                  clara@example.com
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-zinc-500"
                >
                  Apple iWatch
                </td>
                <td class="max-w-xs px-3 py-4 overflow-hidden truncate">
                  <Badge variant="warning" size="xs"> Pending </Badge>
                </td>
                <td
                  class="relative py-4 pl-3 pr-3 text-right whitespace-nowrap sm:px-0"
                >
                  <Button size="sm" variant="text" class="ml-auto">
                    See details<span class="sr-only">details</span>
                  </Button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- copy:end -->
        </div>
      </div>
    </div>
    <div class="flex justify-end mx-auto mt-2">
      <span class="inline-flex isolate">
        <HorizontalButtonGroup variant="default" position="right" size="sm">
          Previous
        </HorizontalButtonGroup>
        <HorizontalButtonGroup variant="default" position="middle" size="sm">
          1
        </HorizontalButtonGroup>
        <HorizontalButtonGroup variant="default" position="middle" size="sm">
          ...
        </HorizontalButtonGroup>
        <HorizontalButtonGroup variant="default" position="middle" size="sm">
          10
        </HorizontalButtonGroup>
        <HorizontalButtonGroup position="left" variant="default" size="sm">
          Next
        </HorizontalButtonGroup>
      </span>
    </div>
  </div>
  <!-- copy:end -->
</div>
