---
import Button from "@/components/fundations/buttons/Button.astro";
import Badge from "@/components/fundations/badges/Badge.astro";
import HorizontalButtonGroup from "@/components/fundations/buttonGroups/HorizontalButtonGroup.astro";
---

<section>
  <div class="relative px-4 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="flex gap-2 items-center">
      <h1 class="text-base font-medium tracking-tighter text-base-900">
        Purchases
      </h1>
      <Badge variant="muted" size="xs"> Ready </Badge>
    </div>
    <div class="flow-root mt-8">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full border-y border-base-200">
            <thead class="border-b border-base-200">
              <tr>
                <th scope="col" class="text-left pl-3 sm:pl-0">
                  <input
                    type="checkbox"
                    class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
                  />
                </th>
                <th
                  scope="col"
                  class="py-3.5 px-3 text-base font-medium tracking-tighter text-base-900 text-left"
                >
                  Product
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tighter text-base-900 text-left"
                >
                  Email
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tighter text-base-900 text-left"
                >
                  Cart
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tighter text-base-900 text-left"
                >
                  Status
                </th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-base-200">
              <tr>
                <td class="pl-3 sm:pl-0">
                  <input
                    type="checkbox"
                    class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
                  />
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-sm font-medium tracking-tighter text-base-900"
                >
                  98137459
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500"
                >
                  email@example.com
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500"
                >
                  Iphone X, 11 inch
                </td>
                <td class="px-3 py-4 max-w-xs overflow-hidden truncate">
                  <Badge variant="success" size="xs"> In transit </Badge>
                </td>
                <td
                  class="relative whitespace-nowrap py-4 pl-3 pr-3 sm:px-0 text-right"
                >
                  <Button size="sm" variant="text" class="ml-auto">
                    See details<span class="sr-only">details</span>
                  </Button>
                </td>
              </tr>
              <tr>
                <td class="pl-3 sm:pl-0">
                  <input
                    type="checkbox"
                    class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
                  />
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-sm font-medium tracking-tighter text-base-900"
                >
                  89347592
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500"
                >
                  alice@example.com
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500"
                >
                  Macbook Pro, 13 inch
                </td>
                <td class="px-3 py-4 max-w-xs overflow-hidden truncate">
                  <Badge variant="danger" size="xs"> Canceled </Badge>
                </td>
                <td
                  class="relative whitespace-nowrap py-4 pl-3 pr-3 sm:px-0 text-right"
                >
                  <Button size="sm" variant="text" class="ml-auto">
                    See details<span class="sr-only">details</span>
                  </Button>
                </td>
              </tr>
              <tr>
                <td class="pl-3 sm:pl-0">
                  <input
                    type="checkbox"
                    class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
                  />
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-sm font-medium tracking-tighter text-base-900"
                >
                  02398547
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500"
                >
                  bob@example.com
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500"
                >
                  Benq, 12 inch
                </td>
                <td class="px-3 py-4 max-w-xs overflow-hidden truncate">
                  <Badge variant="success" size="xs"> In transit </Badge>
                </td>
                <td
                  class="relative whitespace-nowrap py-4 pl-3 pr-3 sm:px-0 text-right"
                >
                  <Button size="sm" variant="text" class="ml-auto">
                    See details<span class="sr-only">details</span>
                  </Button>
                </td>
              </tr>
              <tr>
                <td class="pl-3 sm:pl-0">
                  <input
                    type="checkbox"
                    class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
                  />
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-sm font-medium tracking-tighter text-base-900"
                >
                  02387654
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500"
                >
                  clara@example.com
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500"
                >
                  Apple iWatch
                </td>
                <td class="px-3 py-4 max-w-xs overflow-hidden truncate">
                  <Badge variant="warning" size="xs"> Pending </Badge>
                </td>
                <td
                  class="relative whitespace-nowrap py-4 pl-3 pr-3 sm:px-0 text-right"
                >
                  <Button size="sm" variant="text" class="ml-auto">
                    See details<span class="sr-only">details</span>
                  </Button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="flex justify-end mt-2 mx-auto">
      <span class="inline-flex isolate">
        <HorizontalButtonGroup variant="default" position="right" size="sm">
          Previous
        </HorizontalButtonGroup>
        <HorizontalButtonGroup variant="default" position="middle" size="sm">
          1
        </HorizontalButtonGroup>
        <HorizontalButtonGroup variant="default" position="middle" size="sm">
          ...
        </HorizontalButtonGroup>
        <HorizontalButtonGroup variant="default" position="middle" size="sm">
          10
        </HorizontalButtonGroup>
        <HorizontalButtonGroup position="left" variant="default" size="sm">
          Next
        </HorizontalButtonGroup>
      </span>
    </div>
  </div>
</section>
