<section>
  <div class="relative px-4 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="flex flex-col sm:flex-row sm:items-center gap-2 justify-end">
      <button
        class="flex items-center justify-center size-10 p-1 text-xs font-semibold text-gray-900 transition-all duration-300 rounded-md shadow bg-gray-50 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:text-blue-500 hover:shadow-none"
        aria-label="Action">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-list size-4">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path d="M9 6l11 0"></path>
          <path d="M9 12l11 0"></path>
          <path d="M9 18l11 0"></path>
          <path d="M5 6l0 .01"></path>
          <path d="M5 12l0 .01"></path>
          <path d="M5 18l0 .01"></path>
        </svg>
      </button>
      <button
        class="flex items-center justify-center size-10 p-1 text-xs font-semibold text-gray-900 transition-all duration-300 rounded-md shadow bg-gray-50 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:text-blue-500 hover:shadow-none"
        aria-label="Action">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-layout-2 size-4">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path
            d="M4 4m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
          ></path>
          <path
            d="M4 13m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
          ></path>
          <path
            d="M14 4m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
          ></path>
          <path
            d="M14 15m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
          ></path>
        </svg>
      </button>
      <div class="sm:flex-none">
        <button
          class="flex items-center justify-center h-10 gap-2 px-4 py-2 text-sm font-medium text-white transition-all duration-200 rounded-lg shadow bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none w-full sm:w-auto"
          aria-label="Action">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4">
            <path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path>
            <path d="M12 5l0 14"></path>
            <path d="M5 12l14 0"></path>
          </svg>
          New product
        </button>
      </div>
    </div>
    <div class="flow-root mt-8">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full border-y">
            <thead class="border-b">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 px-3 sm:pl-0 text-base font-medium tracking-tight text-gray-900 text-left">
                  <span class="flex items-center gap-2">
                    Name
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up size-4">
                      <path
                        stroke="none"
                        d="M0 0h24v24H0z"
                        fill="none"
                      ></path>
                      <path d="M12 5l0 14"></path>
                      <path d="M18 11l-6 -6"></path>
                      <path d="M6 11l6 -6"></path>
                    </svg>
                  </span>
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tight text-gray-900 text-left">
                  Price
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tight text-gray-900 text-left min-w-60">
                  Status
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tight text-gray-900 text-right">
                  Total Sales
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tight text-gray-900 text-right">
                  Total revenue
                </th>
                <th
                  scope="col"
                  class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <tr class="">
                <td
                  class="whitespace-nowrap pr-3 pl-3 sm:pl-0 py-4 text-sm font-medium tracking-tighter text-gray-900">
                  <span class="flex items-center gap-2">
                    <img
                      class="inline-block h-8 w-12 rounded"
                      src="/images/navy.png"
                      alt="#_"
                    />
                    Navy
                  </span>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-gray-500">
                  $99.00
                </td>
                <td class="hitespace-nowrap px-3 py-4 max-w-xs overflow-hidden">
                  <div class="flex">
                    <span
                      class="flex gap-2 items-center rounded-full bg-emerald-50 px-2.5 py-1 text-xs font-medium text-emerald-600">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-check size-3">
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path d="M5 12l5 5l10 -10"></path>
                      </svg>
                      In Transit
                    </span>
                  </div>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-gray-500 text-right">
                  40
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-gray-500 text-right">
                  3900
                </td>
                <td
                  class="relative whitespace-nowrap py-4 pl-3 pr-3 sm:pr-0 text-right">
                  <button
                    type="submit"
                    class="flex items-center justify-center h-8 px-4 py-2 text-xs font-semibold text-gray-900 transition-all duration-300 rounded-md shadow bg-gray-50 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:text-blue-500 hover:shadow-none ml-auto"
                    aria-label="Action">
                    Share<span class="sr-only">Share</span>
                  </button>
                </td>
              </tr>
              <tr class="">
                <td
                  class="whitespace-nowrap pr-3 pl-3 sm:pl-0 py-4 text-sm font-medium tracking-tighter text-gray-900">
                  <span class="flex items-center gap-2">
                    <img
                      class="inline-block h-8 w-12 rounded"
                      src="/images/flabbergasted.png"
                      alt="#_"
                    />
                    Flabbergasted
                  </span>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-gray-500">
                  $99.00
                </td>
                <td class="hitespace-nowrap px-3 py-4 max-w-xs overflow-hidden">
                  <div class="flex">
                    <span
                      class="flex gap-2 items-center rounded-full bg-emerald-50 px-2.5 py-1 text-xs font-medium text-emerald-600">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-check size-3">
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path d="M5 12l5 5l10 -10"></path>
                      </svg>
                      Canceled
                    </span>
                  </div>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-gray-500 text-right">
                  60
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-gray-500 text-right">
                  5940
                </td>
                <td
                  class="relative whitespace-nowrap py-4 pl-3 pr-3 sm:pr-0 text-right">
                  <button
                    type="submit"
                    class="flex items-center justify-center h-8 px-4 py-2 text-xs font-semibold text-gray-900 transition-all duration-300 rounded-md shadow bg-gray-50 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:text-blue-500 hover:shadow-none ml-auto"
                    aria-label="Action">
                    Share<span class="sr-only">Share</span>
                  </button>
                </td>
              </tr>
              <tr class="">
                <td
                  class="whitespace-nowrap pr-3 pl-3 sm:pl-0 py-4 text-sm font-medium tracking-tighter text-gray-900">
                  <span class="flex items-center gap-2">
                    <img
                      class="inline-block h-8 w-12 rounded"
                      src="/images/outkast.png"
                      alt="#_"
                    />
                    Outkast
                  </span>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-gray-500">
                  $99.00
                </td>
                <td class="hitespace-nowrap px-3 py-4 max-w-xs overflow-hidden">
                  <div class="flex">
                    <span
                      class="flex gap-2 items-center rounded-full bg-rose-50 px-2.5 py-1 text-xs font-medium text-rose-600">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-check size-3">
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path d="M5 12l5 5l10 -10"></path>
                      </svg>
                      draft
                    </span>
                  </div>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-gray-500 text-right">
                  80
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-gray-500 text-right">
                  €7920.00
                </td>
                <td
                  class="relative whitespace-nowrap py-4 pl-3 pr-3 sm:pr-0 text-right">
                  <button
                    type="submit"
                    class="flex items-center justify-center h-8 px-4 py-2 text-xs font-semibold text-gray-900 transition-all duration-300 rounded-md shadow bg-gray-50 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:text-blue-500 hover:shadow-none ml-auto"
                    aria-label="Action">
                    Share<span class="sr-only">Share</span>
                  </button>
                </td>
              </tr>
              <tr class="">
                <td
                  class="whitespace-nowrap pr-3 pl-3 sm:pl-0 py-4 text-sm font-medium tracking-tighter text-gray-900">
                  <span class="flex items-center gap-2">
                    <img
                      class="inline-block h-8 w-12 rounded"
                      src="/images/bundle.png"
                      alt="#_"
                    />
                    Bundle
                  </span>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-gray-500">
                  $199.00
                </td>
                <td class="hitespace-nowrap px-3 py-4 max-w-xs overflow-hidden">
                  <div class="flex">
                    <span
                      class="flex gap-2 items-center rounded-full bg-amber-50 px-2.5 py-1 text-xs font-medium text-amber-600">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-check size-3">
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <path d="M5 12l5 5l10 -10"></path>
                      </svg>
                      Pending
                    </span>
                  </div>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-gray-500 text-right">
                  553
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-gray-500 text-right">
                  €9940.00
                </td>
                <td
                  class="relative whitespace-nowrap py-4 pl-3 pr-3 sm:pr-0 text-right">
                  <button
                    type="submit"
                    class="flex items-center justify-center h-8 px-4 py-2 text-xs font-semibold text-gray-900 transition-all duration-300 rounded-md shadow bg-gray-50 focus:ring-2 shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 hover:text-blue-500 hover:shadow-none ml-auto"
                    aria-label="Action">
                    Share<span class="sr-only">Share</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <nav class="flex items-center justify-between px-4 sm:px-0 w-full mt-4">
      <a
        href="#_"
        class="flex items-center text-gray-500 hover:text-blue-500 text-sm gap-2 duration-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler size-4 icons-tabler-outline icon-tabler-chevron-left">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path d="M15 6l-6 6l6 6"></path>
        </svg>
        Previous
      </a>
      <a
        href="#_"
        class="flex items-center text-gray-500 hover:text-blue-500 text-sm gap-2 duration-300">
        Next
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon size-4 icon-tabler icons-tabler-outline icon-tabler-chevron-right">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path>
          <path d="M9 6l6 6l-6 6"></path>
        </svg>
      </a>
    </nav>
  </div>
</section>
