---
import Button from "@/components/fundations/buttons/Button.astro";
import ChevronLeft from "@/components/fundations/icons/ChevronLeft.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import List from "@/components/fundations/icons/List.astro";
import Component from "@/components/fundations/icons/Component.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import Badge from "@/components/fundations/badges/Badge.astro";
---

<section>
  <div class="relative px-4 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="flex flex-row justify-end sm:items-center gap-2">
      <IconButton variant="alternative" size="xs">
        <List size="xs" slot="icon" />
      </IconButton>
      <IconButton variant="alternative" size="xs">
        <Component size="xs" slot="icon" />
      </IconButton>
      <Button gap="xs" size="base" variant="accent">
        <Plus size="base" slot="icon" slot="left-icon" />
        New product
      </Button>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <!-- copy:start -->
          <table class="min-w-full border-y border-zinc-200">
            <thead class="border-b border-zinc-200">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 px-3 sm:pl-0 text-base font-medium tracking-tight text-zinc-900 text-left"
                >
                  <span class="flex items-center gap-2">
                    Name
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up size-4"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 5l0 14"></path>
                      <path d="M18 11l-6 -6"></path>
                      <path d="M6 11l6 -6"></path>
                    </svg>
                  </span>
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tight text-zinc-900 text-left"
                >
                  Price
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tight text-zinc-900 text-left min-w-60"
                >
                  Status
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tight text-zinc-900 text-right"
                >
                  Total Sales
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tight text-zinc-900 text-right"
                >
                  Total revenue
                </th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-zinc-200">
              <tr>
                <td
                  class="py-4 pl-3 pr-3 text-sm font-medium tracking-tighter truncate whitespace-nowrap sm:pl-0 text-zinc-900"
                >
                  <span class="flex items-center gap-2">
                    <img
                      class="inline-block w-12 h-8 rounded"
                      src="/images/navy.png"
                      alt="#_"
                    />
                    Navy
                  </span>
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-zinc-500"
                >
                  $129.00
                </td>
                <td class="max-w-xs px-3 py-4 overflow-hidden hitespace-nowrap">
                  <Badge gap="xs" size="xs" variant="success" slot="left-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-check size-3"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                    Paid
                  </Badge>
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium text-right whitespace-nowrap text-zinc-500"
                >
                  40
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium text-right whitespace-nowrap text-zinc-500"
                >
                  3900
                </td>
                <td
                  class="relative py-4 pl-3 pr-3 text-right whitespace-nowrap sm:pr-0"
                >
                  <Button size="sm" variant="text" class="ml-auto">
                    Share <span class="sr-only">Share</span>
                  </Button>
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pl-3 pr-3 text-sm font-medium tracking-tighter truncate whitespace-nowrap sm:pl-0 text-zinc-900"
                >
                  <span class="flex items-center gap-2">
                    <img
                      class="inline-block w-12 h-8 rounded"
                      src="/images/flabbergasted.png"
                      alt="#_"
                    />
                    Flabbergasted
                  </span>
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-zinc-500"
                >
                  $129.00
                </td>
                <td class="max-w-xs px-3 py-4 overflow-hidden hitespace-nowrap">
                  <Badge gap="xs" size="xs" variant="success" slot="left-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-check size-3"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                    Paid
                  </Badge>
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium text-right whitespace-nowrap text-zinc-500"
                >
                  60
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium text-right whitespace-nowrap text-zinc-500"
                >
                  5940
                </td>
                <td
                  class="relative py-4 pl-3 pr-3 text-right whitespace-nowrap sm:pr-0"
                >
                  <Button size="sm" variant="text" class="ml-auto">
                    Share <span class="sr-only">Share</span>
                  </Button>
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pl-3 pr-3 text-sm font-medium tracking-tighter truncate whitespace-nowrap sm:pl-0 text-zinc-900"
                >
                  <span class="flex items-center gap-2">
                    <img
                      class="inline-block w-12 h-8 rounded"
                      src="/images/outkast.png"
                      alt="#_"
                    />
                    Outkast
                  </span>
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-zinc-500"
                >
                  $129.00
                </td>
                <td class="max-w-xs px-3 py-4 overflow-hidden hitespace-nowrap">
                  <Badge gap="xs" size="xs" variant="danger" slot="left-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-check size-3"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                    Canceled
                  </Badge>
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium text-right whitespace-nowrap text-zinc-500"
                >
                  80
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium text-right whitespace-nowrap text-zinc-500"
                >
                  €7920.00
                </td>
                <td
                  class="relative py-4 pl-3 pr-3 text-right whitespace-nowrap sm:pr-0"
                >
                  <Button size="sm" variant="text" class="ml-auto">
                    Share <span class="sr-only">Share</span>
                  </Button>
                </td>
              </tr>
              <tr>
                <td
                  class="py-4 pl-3 pr-3 text-sm font-medium tracking-tighter truncate whitespace-nowrap sm:pl-0 text-zinc-900"
                >
                  <span class="flex items-center gap-2">
                    <img
                      class="inline-block w-12 h-8 rounded"
                      src="/images/bundle.png"
                      alt="#_"
                    />
                    Bundle
                  </span>
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium whitespace-nowrap text-zinc-500"
                >
                  $199.00
                </td>
                <td class="max-w-xs px-3 py-4 overflow-hidden hitespace-nowrap">
                  <Badge gap="xs" size="xs" variant="warning" slot="left-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-check size-3"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                    Pending
                  </Badge>
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium text-right whitespace-nowrap text-zinc-500"
                >
                  553
                </td>
                <td
                  class="px-3 py-4 text-xs font-medium text-right whitespace-nowrap text-zinc-500"
                >
                  €9940.00
                </td>
                <td
                  class="relative py-4 pl-3 pr-3 text-right whitespace-nowrap sm:pr-0"
                >
                  <Button size="sm" variant="text" class="ml-auto">
                    Share <span class="sr-only">Share</span>
                  </Button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- copy:end -->
        </div>
      </div>
    </div>
    <nav class="flex items-center justify-between w-full px-4 mt-4 sm:px-0">
      <Button gap="xs" size="xs" variant="alternative">
        <ChevronLeft size="sm" slot="icon" slot="left-icon" />
        Previous
      </Button>
      <Button gap="xs" size="xs" variant="alternative">
        Previous
        <ChevronRight size="sm" slot="icon" slot="right-icon" />
      </Button>
    </nav>
  </div>
</section>
