---
import Button from "@/components/fundations/buttons/Button.astro";
import ChevronLeft from "@/components/fundations/icons/ChevronLeft.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import List from "@/components/fundations/icons/List.astro";
import Component from "@/components/fundations/icons/Component.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import Badge from "@/components/fundations/badges/Badge.astro";
---
<section>
  <div class="relative px-4 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="flex flex-col sm:flex-row sm:items-center gap-2 justify-end">
      <IconButton
        variant="alternative"
        size="base">
        <List
          size="base"
          slot="icon"
        />
      </IconButton>
      <IconButton
        variant="alternative"
        size="base">
        <Component
          size="base"
          slot="icon"
        />
      </IconButton>
      <Button
        gap="xs"
        size="base"
        variant="accent">
        <Plus
          size="base"
          slot="icon"
          slot="left-icon"
        />
        New product
      </Button>
    </div>
    <div class="flow-root mt-8">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full border-y">
            <thead class="border-b">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 px-3 sm:pl-0 text-base font-medium tracking-tight text-base-900 text-left">
                  <span class="flex items-center gap-2">
                    Name
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up size-4">
                      <path
                        stroke="none"
                        d="M0 0h24v24H0z"
                        fill="none"
                      ></path>
                      <path d="M12 5l0 14"></path>
                      <path d="M18 11l-6 -6"></path>
                      <path d="M6 11l6 -6"></path>
                    </svg>
                  </span>
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tight text-base-900 text-left">
                  Price
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tight text-base-900 text-left min-w-60">
                  Status
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tight text-base-900 text-right">
                  Total Sales
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-base font-medium tracking-tight text-base-900 text-right">
                  Total revenue
                </th>
                <th
                  scope="col"
                  class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-base-200">
              <tr     >
                <td
                  class="whitespace-nowrap pr-3 pl-3 sm:pl-0 py-4 text-sm font-medium tracking-tighter text-base-900 truncate">
                  <span class="flex items-center gap-2">
                    <img
                      class="inline-block h-8 w-12 rounded"
                      src="/images/navy.png"
                      alt="#_"
                    />
                    Navy
                  </span>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500">
                  $99.00
                </td>
                <td class="hitespace-nowrap px-3 py-4 max-w-xs overflow-hidden">
                  <Badge
                    gap="xs"
                    size="xs"
                    variant="success"
                    slot="left-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-check size-3">
                      <path
                        stroke="none"
                        d="M0 0h24v24H0z"
                        fill="none"
                      ></path>
                      <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                    Paid
                  </Badge>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500 text-right">
                  40
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500 text-right">
                  3900
                </td>
                <td
                  class="relative whitespace-nowrap py-4 pl-3 pr-3 sm:pr-0 text-right">
                  <Button
                    size="sm"
                    variant="text"
                    class="ml-auto">
                    Share <span class="sr-only">Share</span>
                  </Button>
                </td>
              </tr>
              <tr     >
                <td
                  class="whitespace-nowrap pr-3 pl-3 sm:pl-0 py-4 text-sm font-medium tracking-tighter text-base-900 truncate">
                  <span class="flex items-center gap-2">
                    <img
                      class="inline-block h-8 w-12 rounded"
                      src="/images/flabbergasted.png"
                      alt="#_"
                    />
                    Flabbergasted
                  </span>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500">
                  $99.00
                </td>
                <td class="hitespace-nowrap px-3 py-4 max-w-xs overflow-hidden">
                  <Badge
                    gap="xs"
                    size="xs"
                    variant="success"
                    slot="left-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-check size-3">
                      <path
                        stroke="none"
                        d="M0 0h24v24H0z"
                        fill="none"
                      ></path>
                      <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                    Paid
                  </Badge>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500 text-right">
                  60
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500 text-right">
                  5940
                </td>
                <td
                  class="relative whitespace-nowrap py-4 pl-3 pr-3 sm:pr-0 text-right">
                  <Button
                    size="sm"
                    variant="text"
                    class="ml-auto">
                    Share <span class="sr-only">Share</span>
                  </Button>
                </td>
              </tr>
              <tr     >
                <td
                  class="whitespace-nowrap pr-3 pl-3 sm:pl-0 py-4 text-sm font-medium tracking-tighter text-base-900 truncate">
                  <span class="flex items-center gap-2">
                    <img
                      class="inline-block h-8 w-12 rounded"
                      src="/images/outkast.png"
                      alt="#_"
                    />
                    Outkast
                  </span>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500">
                  $99.00
                </td>
                <td class="hitespace-nowrap px-3 py-4 max-w-xs overflow-hidden">
                  <Badge
                    gap="xs"
                    size="xs"
                    variant="danger"
                    slot="left-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-check size-3">
                      <path
                        stroke="none"
                        d="M0 0h24v24H0z"
                        fill="none"
                      ></path>
                      <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                    Canceled
                  </Badge>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500 text-right">
                  80
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500 text-right">
                  €7920.00
                </td>
                <td
                  class="relative whitespace-nowrap py-4 pl-3 pr-3 sm:pr-0 text-right">
                  <Button
                    size="sm"
                    variant="text"
                    class="ml-auto">
                    Share <span class="sr-only">Share</span>
                  </Button>
                </td>
              </tr>
              <tr     >
                <td
                  class="whitespace-nowrap pr-3 pl-3 sm:pl-0 py-4 text-sm font-medium tracking-tighter text-base-900 truncate">
                  <span class="flex items-center gap-2">
                    <img
                      class="inline-block h-8 w-12 rounded"
                      src="/images/bundle.png"
                      alt="#_"
                    />
                    Bundle
                  </span>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500">
                  $199.00
                </td>
                <td class="hitespace-nowrap px-3 py-4 max-w-xs overflow-hidden">
                  <Badge
                    gap="xs"
                    size="xs"
                    variant="warning"
                    slot="left-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-check size-3">
                      <path
                        stroke="none"
                        d="M0 0h24v24H0z"
                        fill="none"
                      ></path>
                      <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                    Pending
                  </Badge>
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500 text-right">
                  553
                </td>
                <td
                  class="whitespace-nowrap px-3 py-4 text-xs font-medium text-base-500 text-right">
                  €9940.00
                </td>
                <td
                  class="relative whitespace-nowrap py-4 pl-3 pr-3 sm:pr-0 text-right">
                  <Button
                    size="sm"
                    variant="text"
                    class="ml-auto">
                    Share <span class="sr-only">Share</span>
                  </Button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <nav class="flex items-center justify-between px-4 sm:px-0 w-full mt-4">
      <Button
        gap="xs"
        size="xs"
        variant="alternative">
        <ChevronLeft
          size="sm"
          slot="icon"
          slot="left-icon"
        />
        Previous
      </Button>
      <Button
        gap="xs"
        size="xs"
        variant="alternative">
        Previous
        <ChevronRight
          size="sm"
          slot="icon"
          slot="right-icon"
        />
      </Button>
    </nav>
  </div>
</section>
