<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-screen-xl relative">
    <!--- Tier 1 -->
    <section class="flex flex-col h-full justify-between text-center">
      <div>
        <div class="flex flex-col gap-2">
          <div class="flex flex-col gap-2">
            <svg
              class="text-blue-500 mx-auto"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_438_17)">
                <path
                  d="M3 5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5Z"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </g>
              <defs>
                <clipPath id="clip0_438_17">
                  <rect width="24" height="24" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
            <p
              class="text-base font-medium uppercase font-mono tracking-tighter text-gray-900 mt-4"
            >
              Basic
            </p>
            <p
              class="font-semibold text-4xl tracking-tighter font-mono text-gray-900 mt-8"
            >
              $9/month
            </p>
          </div>
          <p class="text-sm text-gray-500 mt-4 text-balance sm:w-1/2 mx-auto">
            This subscription tier caters to individuals and hobbyists seeking
            fundamental features.
          </p>
        </div>
      </div>
      <div class="mt-8 flex">
        <a
          aria-describedby="#_"
          class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-gray-50 border border-gray-300 rounded-lg hover:text-blue-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none mx-auto"
          href="#_">Get started</a
        >
      </div>
    </section>
  </div>
</section>
