<section x-data="{duration: 'monthly'}">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-screen-xl relative">
    <!---- Use only from lg: -->
    <div class="hidden mt-24 lg:block">
      <table class="w-full mx-auto text-center bg-transparent">
        <thead>
          <tr class="align-top">
            <th
              class="w-1/3 py-4 bg-transparent font-normal text-left align-bottom">
              <div
                class="w-full border bg-white overflow-hidden inline-flex mt-8 p-0.5 rounded-lg max-w-xs shadow shadow-white/20 z-0">
                <!-- Monthly Pricing Button: Sets 'duration' to 'monthly' when clicked -->
                <button
                  id="monthly-pricing-button"
                  class="block w-full px-8 py-2 text-xs font-medium transition border border-transparent rounded-md text-blue-900"
                  @click="duration = 'monthly'"
                  :class="duration == 'monthly' ? 'bg-gray-100 border text-blue-900 ' : ''"
                  type="button">
                  Monthly
                </button>
                <!-- Annual Pricing Button: Sets 'duration' to 'annual' when clicked -->
                <button
                  id="annual-pricing-button"
                  class="block w-full px-8 py-2 text-xs font-medium transition border border-transparent rounded-md text-blue-900"
                  @click="duration = 'annual'"
                  :class="duration == 'annual' ? 'bg-gray-100 border text-blue-900 ' : ''"
                  type="button">
                  Annual
                </button>
              </div>
            </th>
            <th
              class="w-1/3 px-10 p-8 bg-transparent font-normal text-left relative">
              <div
                class="font-mono text-base font-medium tracking-tighter uppercase text-gray-900">
                Hobby
              </div>
              <p
                class="font-semibold order-first text-xl tracking-tighter font-mono mt-8 text-gray-900">
                <span
                  data-monthly="$9"
                  data-annual="$5"
                  x-text="$el.dataset[duration]"
                ></span>
                <span class="text-sm font-normal tracking-normal text-gray-700">
                  <span x-show="duration === 'monthly'">
                    <span x-show="duration === 'monthly'"> /month</span></span
                  >
                  <span
                    x-show="duration === 'annual'"
                    style="display: none;">
                    /annually</span
                  >
                </span>
              </p>
              <p class="text-xs text-gray-700 mt-4">
                This subscription tier caters to individuals and hobbyists
                seeking fundamental features.
              </p>
              <div class="mt-8">
                <button
                  type="button"
                  aria-label="Get started with plan-name"
                  class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all bg-gray-50 border border-gray-300 rounded-lg hover:text-blue-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none duration-300 w-full"
                  >Get started</button
                >
              </div>
            </th>
            <th class="w-1/3 p-8 font-normal text-left relative">
              <div
                aria-hidden="true"
                class="absolute inset-y-0 right-0 hidden w-full rounded-2xl rounded-b-none bg-gray-50 sm:block">
              </div>
              <div class="relative">
                <div
                  class="font-mono text-base flex items-center justify-between font-medium tracking-tighter uppercase text-gray-900">
                  GOLDEN UNICORN
                  <span
                    class="inline-flex shadow items-center gap-1 px-2 py-1 text-xs font-medium text-white bg-gradient-to-b from-blue-500 to-indigo-600 rounded-md ring-1 ring-inset ring-indigo-500/10"
                    >Popular
                  </span>
                </div>
                <p
                  class="font-semibold order-first text-xl tracking-tighter mt-8 font-mono text-gray-900">
                  <span
                    data-monthly="$29"
                    data-annual="$19"
                    x-text="$el.dataset[duration]"
                  ></span>
                  <span
                    class="text-sm font-normal tracking-normal text-gray-700">
                    <span x-show="duration === 'monthly'"> /month</span>
                    <span
                      x-show="duration === 'annual'"
                      style="display: none;"
                      >/annually</span
                    ></span
                  >
                </p>

                <p class="text-xs text-gray-700 mt-4">
                  This subscription tier caters to individuals and hobbyists
                  seeking fundamental features.
                </p>
                <div class="mt-8">
                  <button
                    type="button"
                    aria-label="Get started with plan-name"
                    class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none w-full"
                    >Get started</button
                  >
                </div>
              </div>
            </th>
            <tbody class="divide-y border-y">
              <tr>
                <th
                  class="py-3 font-mono text-sm font-medium tracking-tighter uppercase text-gray-900 text-left">
                  Analytics
                </th>
                <td class="px-2 text-xs font-medium text-gray-500">3</td>
                <td class="px-2 text-xs font-medium text-gray-500 bg-gray-50"
                  >10</td
                >
              </tr>
              <tr>
                <th
                  class="py-3 font-mono text-sm font-medium tracking-tighter uppercase text-gray-900 text-left">
                  Accounts
                </th>
                <td class="px-2 text-xs font-medium text-gray-500">5</td>
                <td class="px-2 text-xs font-medium text-gray-500 bg-gray-50"
                  >10</td
                >
              </tr>
              <tr>
                <th
                  class="py-3 font-mono text-sm font-medium tracking-tighter uppercase text-gray-900 text-left">
                  Integrations
                </th>
                <td class="px-2 text-xs font-medium text-gray-500">2</td>
                <td class="px-2 bg-gray-50">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5 mx-auto text-blue-500 icon icon-tabler icon-tabler-circle-check-filled"
                    viewBox="0 0 24 24"
                    stroke-width="1"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path>
                    <path
                      d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                      stroke-width="0"
                      fill="currentColor"
                    ></path>
                  </svg>
                </td>
              </tr>
              <tr>
                <th
                  class="py-3 font-mono text-sm font-medium tracking-tighter uppercase text-gray-900 text-left">
                  Programs
                </th>
                <td class="px-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mx-auto text-gray-500 icon icon-tabler icon-tabler-minus"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path>
                    <path d="M5 12l14 0"></path>
                  </svg>
                </td>
                <td class="px-2 text-xs font-medium text-gray-500 bg-gray-50"
                  >1</td
                >
              </tr>
              <tr>
                <th
                  class="py-3 font-mono text-sm font-medium tracking-tighter uppercase text-gray-900 text-left">
                  Deployments
                </th>
                <td class="px-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mx-auto text-gray-500 icon icon-tabler icon-tabler-minus"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path>
                    <path d="M5 12l14 0"></path>
                  </svg>
                </td>
                <td class="px-2 bg-gray-50">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5 mx-auto text-blue-500 icon icon-tabler icon-tabler-circle-check-filled"
                    viewBox="0 0 24 24"
                    stroke-width="1"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path>
                    <path
                      d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                      stroke-width="0"
                      fill="currentColor"
                    ></path>
                  </svg>
                </td>
              </tr>
              <tr>
                <th
                  class="py-3 font-mono text-sm font-medium tracking-tighter uppercase text-gray-900 text-left">
                  Advanced Checkpoints
                </th>
                <td class="px-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mx-auto text-gray-500 icon icon-tabler icon-tabler-minus"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path>
                    <path d="M5 12l14 0"></path>
                  </svg>
                </td>
                <td class="px-2 bg-gray-50">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5 mx-auto text-blue-500 icon icon-tabler icon-tabler-circle-check-filled"
                    viewBox="0 0 24 24"
                    stroke-width="1"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path>
                    <path
                      d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                      stroke-width="0"
                      fill="currentColor"
                    ></path>
                  </svg>
                </td>
              </tr>
              <tr>
                <th
                  class="py-3 font-mono text-sm font-medium tracking-tighter uppercase text-gray-900 text-left">
                  Private Deploymentss
                </th>
                <td class="px-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mx-auto text-gray-500 icon icon-tabler icon-tabler-minus"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path>
                    <path d="M5 12l14 0"></path>
                  </svg>
                </td>
                <td class="px-2 bg-gray-50">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5 mx-auto text-blue-500 icon icon-tabler icon-tabler-circle-check-filled"
                    viewBox="0 0 24 24"
                    stroke-width="1"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path>
                    <path
                      d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                      stroke-width="0"
                      fill="currentColor"
                    ></path>
                  </svg>
                </td>
              </tr>
              <tr>
                <th
                  class="py-3 font-mono text-sm font-medium tracking-tighter uppercase text-gray-900 text-left"
                  >Support</th
                >
                <td class="px-2 text-xs font-medium text-gray-500"
                  >Discord community</td
                >
                <td class="px-2 text-xs font-medium text-gray-500 bg-gray-50"
                  >Live chat</td
                >
              </tr>
            </tbody>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</section>
