<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-screen-xl relative">
    <!--- Tier 1 -->
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 xl:grid-cols-3">
      <section class="flex flex-col h-full justify-between text-center">
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <p
                class="text-base font-medium uppercase font-mono tracking-tighter text-gray-900 mt-4">
                Basic
              </p>

              <p
                class="font-semibold text-4xl tracking-tighter font-mono text-gray-900 mt-8">
                $9/month
              </p>
            </div>

            <p class="text-sm text-gray-500 mt-4">
              This subscription tier caters to individuals and hobbyists seeking
              fundamental features.
            </p>
          </div>
        </div>
        <div class="mt-8 flex">
          <a
            aria-describedby="#_"
            class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-gray-50 border border-gray-300 rounded-lg hover:text-blue-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none w-full"
            href="#_"
            >Get started</a
          >
        </div>
      </section>

      <section class="flex flex-col h-full justify-between text-center">
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <p
                class="text-base font-medium uppercase font-mono tracking-tighter text-gray-900 mt-4">
                Standard
              </p>
              <p
                class="font-semibold text-4xl tracking-tighter font-mono text-gray-900 mt-8">
                $29/month
              </p>
            </div>

            <p class="text-sm text-gray-500 mt-4">
              Designed with medium-sized businesses in mind, this subscription
              tier provides tools.
            </p>
          </div>
        </div>
        <div class="mt-8 flex">
          <a
            aria-describedby="#_"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none w-full"
            href="#_"
            >Get started</a
          >
        </div>
      </section>
      <section class="flex flex-col h-full justify-between text-center">
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <p
                class="text-base font-medium uppercase font-mono tracking-tighter text-gray-900 mt-4">
                Premium
              </p>

              <p
                class="font-semibold text-4xl tracking-tighter font-mono text-gray-900 mt-8">
                $29/month
              </p>
            </div>

            <p class="text-sm text-gray-500 mt-4">
              This subscription tier caters to individuals and hobbyists seeking
              fundamental features.
            </p>
          </div>
        </div>
        <div class="mt-8 flex">
          <a
            aria-describedby="#_"
            class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-gray-50 border border-gray-300 rounded-lg hover:text-blue-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none w-full"
            href="#_"
            >Get started</a
          >
        </div>
      </section>
    </div>
  </div>
</section>
