<section class="relative overflow-hidden">
  <div
    class="absolute inset-x-0 top-0 h-96 rotate-180 text-gray-400/30 opacity-60 [mask-image:linear-gradient(to_bottom,transparent,white)]"
  >
    <svg
      class="absolute inset-0 h-full w-full"
      xmlns="http://www.w3.org/2000/svg"
      ><defs
        ><pattern
          id="grid-pattern"
          width="32"
          height="32"
          patternUnits="userSpaceOnUse"
          x="50%"
          y="100%"
          patternTransform="translate(0 -1)"
          ><path d="M0 32V.5H32" fill="none" stroke="currentColor"
          ></path></pattern
        ></defs
      ><rect width="100%" height="100%" fill="url(#grid-pattern)"></rect></svg
    >
  </div>
  <!-- Define a data attribute 'duration' with the initial value 'monthly'  -->

  <div
    x-data="{duration: 'monthly'}"
    class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-screen-xl relative"
  >
    <div class="max-w-xl text-center mx-auto">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Your tagline</span
      >
      <p
        class="text-4xl mt-4 font-semibold tracking-tight text-blue-950 lg:text-5xl lg:text-balance"
      >
        Equip your business
        <br />
        <span class="text-gray-600">with world class software </span>
      </p>
      <p
        class="text-base lg:text-base max-w-sm mx-auto text-balance mt-4 text-gray-700"
      >
        Every plan includes every feature, and can scale as your team does.
      </p>
      <div
        class="w-full border bg-white overflow-hidden inline-flex mt-8 p-0.5 rounded-lg max-w-xs shadow shadow-white/20 z-0"
      >
        <!-- Monthly Pricing Button: Sets 'duration' to 'monthly' when clicked -->
        <button
          id="monthly-pricing-button"
          class="block w-full px-8 py-2 text-xs font-medium transition border border-transparent rounded-md text-blue-900"
          @click="duration = 'monthly'"
          :class="duration == 'monthly' ? 'bg-gray-100 border text-blue-900 ' : ''"
          type="button"
        >
          Monthly
        </button>

        <!-- Annual Pricing Button: Sets 'duration' to 'annual' when clicked -->
        <button
          id="annual-pricing-button"
          class="block w-full px-8 py-2 text-xs font-medium transition border border-transparent rounded-md text-blue-900"
          @click="duration = 'annual'"
          :class="duration == 'annual' ? 'bg-gray-100 border text-blue-900 ' : ''"
          type="button"
        >
          Annual
        </button>
      </div>
    </div>
    <div class="xl:-mx-32">
      <div
        class="grid grid-cols-1 gap-4 mt-12 md:grid-cols-2 sm:mx-auto xl:grid-cols-4"
      >
        <!--- Tier 1 -->
        <section
          class="flex flex-col h-full justify-between p-8 bg-gray-50 rounded-3xl"
        >
          <div>
            <div class="flex flex-col gap-2">
              <div class="flex flex-col gap-2">
                <p
                  class="text-base font-medium uppercase font-mono tracking-tighter text-blue-950 mt-8"
                >
                  Basic
                </p>
                <p
                  class="font-semibold order-first text-4xl tracking-tighter font-mono text-blue-950"
                >
                  <span
                    data-monthly="$9"
                    data-annual="$5"
                    x-text="$el.dataset[duration]"></span>
                  <span
                    class="text-sm font-normal tracking-normal text-gray-700"
                  >
                    <span x-show="duration === 'monthly'">
                      <span x-show="duration === 'monthly'"> /month</span></span
                    >
                    <span x-show="duration === 'annual'" style="display: none;">
                      /annually</span
                    >
                  </span>
                </p>
              </div>

              <p class="text-sm text-gray-700 mt-4">
                This subscription tier caters to individuals and hobbyists
                seeking fundamental features.
              </p>
            </div>
            <ul
              class="flex flex-col mt-10 text-sm text-gray-700 gap-y-3"
              role="list"
            >
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"></path>
                </svg>
                <span>Unlimited members</span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"></path>
                </svg>
                <span>2 teams </span>
              </li>
              <li class="flex flex-row items-center gap-2 opacity-70">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-x text-blue-500 size-4"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                  ></path><path d="M18 6l-12 12"></path><path d="M6 6l12 12"
                  ></path></svg
                >
                <span>50 issues (+unlimited archived)</span>
              </li>
              <li class="flex flex-row items-center gap-2 opacity-70">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-x text-blue-500 size-4"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                  ></path><path d="M18 6l-12 12"></path><path d="M6 6l12 12"
                  ></path></svg
                >
                <span>Slack, GitHub, and API access</span>
              </li>
            </ul>
          </div>
          <div class="w-full mt-8">
            <a
              aria-describedby="#_"
              class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-lg hover:text-blue-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none w-full"
              href="#_">Get started</a
            >
          </div>
        </section>
        <!--- Tier 2 -->

        <section
          class="flex flex-col h-full justify-between p-8 bg-gray-50 rounded-3xl"
        >
          <div>
            <div class="flex flex-col gap-2">
              <div class="flex flex-col gap-2">
                <p
                  class="text-base font-medium uppercase font-mono tracking-tighter text-blue-950 mt-8"
                >
                  Standard
                </p>
                <p
                  class="font-semibold order-first text-4xl tracking-tighter font-mono text-blue-950"
                >
                  <span
                    data-monthly="$29"
                    data-annual="$19"
                    x-text="$el.dataset[duration]"></span>
                  <span
                    class="text-sm font-normal tracking-normal text-gray-700"
                  >
                    <span x-show="duration === 'monthly'"> /month</span>
                    <span x-show="duration === 'annual'" style="display: none;"
                      >/annually</span
                    ></span
                  >
                </p>
              </div>

              <p class="text-sm text-gray-700 mt-4">
                For small businesses or startups, this subscription tier is
                crafted to meet your requirements.
              </p>
            </div>
            <ul
              class="flex flex-col mt-10 text-sm text-gray-700 gap-y-3"
              role="list"
            >
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"></path>
                </svg>
                <span>All basic plan features</span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"></path>
                </svg>
                <span>5 teams </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"></path>
                </svg>
                <span>Unlimited issues and file uploads </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"></path>
                </svg>
                <span>Admin roles</span>
              </li>
            </ul>
          </div>
          <div class="w-full mt-8">
            <a
              aria-describedby="#_"
              class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-lg hover:text-blue-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none w-full"
              href="#_">Get started</a
            >
          </div>
        </section>
        <!--- Tier 3 -->
        <section
          class="flex h-full justify-between flex-col order-first p-8 rounded-3xl bg-gradient-to-b from-blue-500 to-blue-600 lg:order-none"
        >
          <div>
            <div>
              <div class="flex flex-col gap-2">
                <div class="flex flex-col gap-2">
                  <p
                    class="text-base font-medium uppercase font-mono tracking-tighter text-white mt-8"
                  >
                    Premium
                  </p>
                  <p
                    class="font-semibold order-first text-4xl tracking-tighter font-mono text-white"
                  >
                    <span
                      data-monthly="$49"
                      data-annual="$39"
                      x-text="$el.dataset[duration]"></span>
                    <span
                      class="text-sm font-normal tracking-normal text-white"
                    >
                      <span x-show="duration === 'monthly'"> /month</span>
                      <span
                        x-show="duration === 'annual'"
                        style="display: none;">/annually</span
                      ></span
                    >
                  </p>
                </div>

                <p class="text-sm text-white mt-4">
                  Designed with medium-sized businesses in mind, this
                  subscription tier provides advanced tools.
                </p>
              </div>
            </div>
            <ul
              class="flex flex-col mt-10 text-sm text-white gap-y-3"
              role="list"
            >
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"></path>
                </svg>
                <span>All standard plan features</span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"></path>
                </svg>
                <span>Unlimited teams </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"></path>
                </svg>
                <span>Private teams and guest </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"></path>
                </svg>
                <span>Insights</span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"></path>
                </svg>
                <span>Integrations </span>
              </li>
            </ul>
          </div>
          <div class="w-full mt-8">
            <a
              aria-describedby="#_"
              class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-gray-50 border border-gray-300 rounded-lg hover:text-blue-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none w-full"
              href="#_">Get started</a
            >
          </div>
        </section>
        <!--- Tier 4 -->
        <section
          class="flex h-full justify-between flex-col p-8 bg-gray-50 rounded-3xl"
        >
          <div>
            <div class="flex flex-col gap-2">
              <div class="flex flex-col gap-2">
                <p
                  class="text-base font-medium uppercase font-mono tracking-tighter text-blue-950 mt-8"
                >
                  Enterprise
                </p>
                <p
                  class="font-semibold order-first text-4xl tracking-tighter font-mono text-blue-950"
                >
                  <span
                    data-monthly="$99"
                    data-annual="$89"
                    x-text="$el.dataset[duration]"></span>
                  <span
                    class="text-xs font-normal ml-2 tracking-normal text-gray-700"
                  >
                    <span x-show="duration === 'monthly'"> /month</span>
                    <span x-show="duration === 'annual'" style="display: none;"
                      >/annually</span
                    ></span
                  >
                </p>
              </div>

              <p class="text-sm text-gray-700 mt-4">
                This premium-tier subscription is tailored for large enterprises
                and corporations.
              </p>
            </div>
            <ul
              class="flex flex-col mt-10 text-sm text-gray-700 gap-y-3"
              role="list"
            >
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"></path>
                </svg>
                <span>All premium plan features</span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"></path>
                </svg>
                <span>Issue SLAs </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"></path>
                </svg>
                <span>SAML and SCIM </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"></path>
                </svg>
                <span>Advanced security controls</span>
              </li>
            </ul>
          </div>
          <div class="w-full mt-8">
            <a
              aria-describedby="#_"
              class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-lg hover:text-blue-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none w-full"
              href="#_">Get started</a
            >
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
