---
export const description = "Outline Toggle";
---

<div class="flex max-w-md mx-auto items-center p-12">
  <div class="flex items-center gap-2" x-data="{ enabled: false }">
    <label class="relative inline-flex items-center cursor-pointer">
      <input
        type="checkbox"
        x-model="enabled"
        class="sr-only peer"
      />
      <div
        class="w-12 h-6 border border-base-300 rounded-full peer peer-checked:border-accent-600"
      ></div>
      <div
        class="w-5 h-5 bg-accent-600 rounded-full shadow absolute left-1 top-0.5 transition-transform peer-checked:bg-accent-600 peer-checked:translate-x-6"
      ></div>
    </label>
    <span
      class="text-sm font-medium text-base-500"
      x-text="enabled ? 'Active' : 'Inactive'"
    ></span>
  </div>
</div>
