---
export const description = "Outline Toggle";
---

<div class="flex max-w-md mx-auto items-center p-12">
    <div class="flex flex-col gap-2">
        <!-- Toggle 1 -->
        <div class="flex items-center justify-between p-4 border rounded-lg border-base-300">
          <div>
            <p class="text-sm font-medium text-base-500">
              Notifications <span class="text-base-400">(Email Alerts)</span>
            </p>
            <p class="text-sm text-base-400">
              Enable to receive important updates via email.
            </p>
          </div>
          <label class="relative inline-flex items-center cursor-pointer">
            <input
              type="checkbox"
              class="sr-only peer"
            />
            <div
              class="w-11 h-6 bg-base-300 rounded-full peer peer-checked:bg-accent-600"
            ></div>
            <div
              class="w-5 h-5 bg-white rounded-full shadow absolute left-1 top-0.5 transition-transform peer-checked:translate-x-5"
            ></div>
          </label>
        </div>
</div>
