---
export const description = "Toggle with Text Indicators";
---

<div class="flex max-w-md mx-auto items-center p-12">
    <div class="flex items-center justify-between p-4 border rounded-lg border-base-300">
        <div class="flex items-start gap-3">
          <img
             src="/images/forms/polar.svg"
            alt="Payment Icon"
            class="size-8 rounded"
          />
          <div>
            <p class="text-sm font-medium text-base-500">
              Payment Method <span class="text-base-400">(Credit Card)</span>
            </p>
            <p class="text-sm text-base-400">
              Use this option for recurring payments.
            </p>
          </div>
        </div>
        <label class="relative inline-flex items-center cursor-pointer">
          <input
            type="checkbox"
            class="sr-only peer"
          />
          <div
            class="w-11 h-6 bg-base-300 rounded-full peer peer-checked:bg-accent-600"
          ></div>
          <div
            class="w-5 h-5 bg-white rounded-full shadow absolute left-1 top-0.5 transition-transform peer-checked:translate-x-5"
          ></div>
        </label>
      </div>
</div>
