---
export const excludeFromObfuscation = [
  "bg-white",
  "text-blue-500",
  "border-b-2",
  "border-blue-500",
];
---

<section>
  <div class="relative px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div x-data="{ tab: 'tab1' }">
      <ul class="flex text-sm border-b gap-4 text-gray-500 border-gray-200">
        <li class="-mb-px">
          <a
            @click.prevent="tab = 'tab1'"
            href="#_"
            class="flex items-center py-2 font-medium bg-white border-b-2 gap-2 text-blue-500 border-blue-500"
            :class="{ ' bg-white text-blue-500 border-b-2 border-blue-500' : tab === 'tab1' }"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-ad-2 size-5"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M11.933 5h-6.933v16h13v-8"></path><path d="M14 17h-5"
              ></path><path d="M9 13h5v-4h-5z"></path><path d="M15 5v-2"
              ></path><path d="M18 6l2 -2"></path><path d="M19 9h2"></path></svg
            >
            Marketing</a
          >
        </li>
        <li class="-mb-px">
          <a
            @click.prevent="tab = 'tab2'"
            href="#_"
            class="flex items-center py-2 font-medium gap-2"
            :class="{ ' bg-white text-blue-500 border-b-2 border-blue-500' : tab === 'tab2' }"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-apps size-5"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
              ></path><path
                d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
              ></path><path
                d="M14 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
              ></path><path d="M14 7l6 0"></path><path d="M17 4l0 6"
              ></path></svg
            >
            Application</a
          >
        </li>
        <li class="-mb-px">
          <a
            @click.prevent="tab = 'tab3'"
            href="#_"
            class="flex items-center py-2 font-medium gap-2"
            :class="{ ' bg-white text-blue-500 border-b-2 border-blue-500' : tab === 'tab3' }"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-bag size-5"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M6.331 8h11.339a2 2 0 0 1 1.977 2.304l-1.255 8.152a3 3 0 0 1 -2.966 2.544h-6.852a3 3 0 0 1 -2.965 -2.544l-1.255 -8.152a2 2 0 0 1 1.977 -2.304z"
              ></path><path d="M9 11v-5a3 3 0 0 1 6 0v5"></path></svg
            >
            ECommerce</a
          >
        </li>
      </ul>
      <div class="py-4 pt-4 text-left bg-white content">
        <div x-show="tab==='tab1'" class="text-gray-500">
          <main class="py-4">
            <p class="text-sm text-gray-500">Marketing content</p>
          </main>
        </div>
        <div x-show="tab==='tab2'" class="text-gray-500" style="display: none;">
          <main class="py-4">
            <p class="text-sm text-gray-500">Application content</p>
          </main>
        </div>
        <div x-show="tab==='tab3'" class="text-gray-500" style="display: none;">
          <main class="py-4">
            <p class="text-sm text-gray-500">ECommerce content</p>
          </main>
        </div>
      </div>
    </div>
  </div>
</section>
