---
interface Props {
  defaultTab?: string;
  class?: string;
  label?: string;
}
const { defaultTab, class: className, label } = Astro.props as Props;
---

<div
  class:list={[" overflow-hidden", className]}
  data-tabs-container
  data-default-tab={defaultTab || ""}
>
  <div
    class="flex items-center p-2 gap-2 relative"
    role="tablist"
    aria-label={label || undefined}
  >
    <slot name="tabs" />
  </div>
  <div class="relative scrollbar-hide">
    <slot name="content" />
  </div>
</div>
