---
export const freeComponent = true;
export const description = "Basic Checkbox with State Tracking";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <div class="flex items-center gap-2" x-data="{ checked: false }">
    <input
      id="basic-checkbox"
      name="basic-checkbox"
      type="checkbox"
      x-model="checked"
      class="rounded shadow size-4 border-zinc-300 text-blue-600 focus:ring-blue-600"
    />
    <Text for="basic-checkbox" tag="label" class="block text-sm text-zinc-500">
      Basic checkbox (<span x-text="checked ? 'Checked' : 'Unchecked'"></span>)
    </Text>
  </div>
  <!-- copy:end -->
</div>
