---
export const description = "Basic Checkbox with State Tracking";
import Text from "@/components/fundations/typography/Text.astro";
---
<div
  class="flex items-center max-w-md p-12 mx-auto "
>
<div class="flex items-center w-full gap-2"  x-data="{ checked: false }">
    <input
      id="basic-checkbox"
      name="basic-checkbox"
      type="checkbox"
      x-model="checked"
      class="rounded shadow size-4 border-base-300 text-accent-600 focus:ring-accent-600"
    />
    <Text
      for="basic-checkbox"
      tag="label"
      class="block text-sm text-base-500"
    >
      Basic checkbox (<span x-text="checked ? 'Checked' : 'Unchecked'"></span>)
    </Text>
  </div>
</div>
