---
export const freeComponent = true;
export const description = "Basic Checkbox with State Tracking";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex items-center max-w-md p-12 py-48 mx-auto">
  <div class="flex items-center w-full gap-2" x-data="{ checked: false }">
    <input
      id="basic-checkbox"
      name="basic-checkbox"
      type="checkbox"
      x-model="checked"
      class="rounded shadow size-4 border-gray-300 text-blue-600 focus:ring-blue-600"
    />
    <Text for="basic-checkbox" tag="label" class="block text-sm text-gray-500">
      Basic checkbox (<span x-text="checked ? 'Checked' : 'Unchecked'"></span>)
    </Text>
  </div>
</div>
