---
export const description = "Checkbox with Disabled State";
import Text from "@/components/fundations/typography/Text.astro";
---

<section
  class="flex flex-wrap items-center justify-center h-full p-24 bg-white gap-2 dark:bg-zinc-900"
>
  <!-- copy:start -->
  <div class="flex items-center gap-2">
    <input
      id="disabled-checkbox"
      name="disabled-checkbox"
      type="checkbox"
      class="text-blue-600 rounded shadow opacity-50 size-4 border-zinc-300 dark:border-zinc-700 focus:ring-blue-600 disabled:cursor-not-allowed disabled:bg-zinc-100 dark:disabled:bg-zinc-800"
      disabled
    />
    <Text
      for="disabled-checkbox"
      tag="label"
      class="block text-sm cursor-not-allowed text-zinc-400 dark:text-zinc-600"
    >
      Disabled checkbox
    </Text>
  </div>
  <!-- copy:end -->
</section>
