---
export const description = "Checkbox with Disabled State";
import Text from "@/components/fundations/typography/Text.astro";
---

<section
  class="flex items-center flex-wrap gap-2 justify-center p-8 bg-white dark:bg-zinc-900 h-full"
>
  <!-- copy:start -->
  <div class="flex items-center gap-2">
    <input
      id="disabled-checkbox"
      name="disabled-checkbox"
      type="checkbox"
      class="rounded shadow size-4 border-zinc-300 dark:border-zinc-700 opacity-50 text-indigo-600 focus:ring-indigo-600 disabled:cursor-not-allowed disabled:bg-zinc-100 dark:disabled:bg-zinc-800"
      disabled
    />
    <Text
      for="disabled-checkbox"
      tag="label"
      class="block text-sm text-zinc-400 dark:text-zinc-600 cursor-not-allowed"
    >
      Disabled checkbox
    </Text>
  </div>
  <!-- copy:end -->
</section>
