---
export const description = "Checkbox with Disabled State";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <div class="flex items-center gap-2">
    <input
      id="disabled-checkbox"
      name="disabled-checkbox"
      type="checkbox"
      class="rounded shadow size-4 border-zinc-300 opacity-50 text-stone-600 focus:ring-stone-600 disabled:cursor-not-allowed disabled:bg-zinc-100"
      disabled
    />
    <Text
      for="disabled-checkbox"
      tag="label"
      class="block text-sm text-zinc-400 cursor-not-allowed"
    >
      Disabled checkbox
    </Text>
  </div>
  <!-- copy:end -->
</div>
