---
export const description = "Checkbox with Disabled State";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex items-center max-w-md p-12 py-48 mx-auto">
  <!-- copy:start -->
  <div class="flex items-center w-full gap-2">
    <input
      id="disabled-checkbox"
      name="disabled-checkbox"
      type="checkbox"
      class="rounded shadow size-4 border-zinc-300 text-blue-600 focus:ring-blue-600"
      disabled
    />
    <Text
      for="disabled-checkbox"
      tag="label"
      class="block text-sm text-zinc-500"
    >
      Disabled checkbox
    </Text>
  </div>
  <!-- copy:end -->
</div>
