---
export const description = "Checkbox with Disabled State";
import Text from "@/components/fundations/typography/Text.astro";
---
<div
  class="flex  max-w-md mx-auto items-center p-12"
>
<div class="flex items-center gap-2 w-full" >
    <input
      id="disabled-checkbox"
      name="disabled-checkbox"
      type="checkbox"
      class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
      disabled
    />
    <Text
      for="disabled-checkbox"
      tag="label"
      class="block text-sm text-base-500"
    >
      Disabled checkbox
    </Text>
  </div>
  
</div>
