---
export const description = "Checkbox with Hover Tooltip";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <div class="flex items-center gap-2" x-data="{ tooltip: false }">
    <input
      id="hover-tooltip"
      name="hover-tooltip"
      type="checkbox"
      @mouseover="tooltip = true"
      @mouseleave="tooltip = false"
      class="rounded shadow size-4 border-zinc-300 text-stone-600 focus:ring-stone-600"
    />
    <Text
      for="hover-tooltip"
      tag="label"
      class="relative block text-sm text-zinc-500"
    >
      Hover over me
      <span
        x-show="tooltip"
        class="absolute left-0 px-2 py-1 text-xs text-white bg-black rounded top-6"
      >
        Tooltip text
      </span>
    </Text>
  </div>
  <!-- copy:end -->
</div>
