---
export const description = "Checkbox with Hover Tooltip";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex items-center max-w-md p-12 py-48 mx-auto">
  <div class="flex items-center w-full gap-2" x-data="{ tooltip: false }">
    <input
      id="hover-tooltip"
      name="hover-tooltip"
      type="checkbox"
      @mouseover="tooltip = true"
      @mouseleave="tooltip = false"
      class="rounded shadow size-4 border-gray-300 text-blue-600 focus:ring-blue-600"
    />
    <Text
      for="hover-tooltip"
      tag="label"
      class="relative block text-sm text-gray-500"
    >
      Hover over me
      <span
        x-show="tooltip"
        class="absolute left-0 px-2 py-1 text-xs text-white bg-black rounded top-6"
      >
        Tooltip text
      </span>
    </Text>
  </div>
</div>
