---
export const description = "Indeterminate Checkbox";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex items-center max-w-md p-12 py-48 mx-auto">
  <!-- copy:start -->
  <div
    class="flex items-center w-full gap-2"
    x-data="{ indeterminate: true }"
    x-init="$refs.indeterminateCheckbox.indeterminate = indeterminate"
  >
    <input
      id="indeterminate-checkbox"
      name="indeterminate-checkbox"
      type="checkbox"
      x-ref="indeterminateCheckbox"
      class="rounded shadow size-4 border-zinc-300 text-blue-600 focus:ring-blue-600"
    />
    <Text
      for="indeterminate-checkbox"
      tag="label"
      class="block text-sm text-zinc-500"
    >
      Indeterminate checkbox
    </Text>
  </div>
  <!-- copy:end -->
</div>
