---
export const description = "Indeterminate Checkbox";
import Text from "@/components/fundations/typography/Text.astro";
---
<div
  class="flex  max-w-md mx-auto items-center p-12"
>
<div class="flex items-center gap-2 w-full"  x-data="{ indeterminate: true }" x-init="$refs.indeterminateCheckbox.indeterminate = indeterminate">
    <input
      id="indeterminate-checkbox"
      name="indeterminate-checkbox"
      type="checkbox"
      x-ref="indeterminateCheckbox"
      class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
    />
    <Text
      for="indeterminate-checkbox"
      tag="label"
      class="block text-sm text-base-500"
    >
      Indeterminate checkbox
    </Text>
  </div>
  
  
</div>
