---
export const description = "Indeterminate Checkbox";
import Text from "@/components/fundations/typography/Text.astro";
---
<div
  class="flex items-center max-w-md p-12 py-48 mx-auto "
>
<div class="flex items-center w-full gap-2"  x-data="{ indeterminate: true }" x-init="$refs.indeterminateCheckbox.indeterminate = indeterminate">
    <input
      id="indeterminate-checkbox"
      name="indeterminate-checkbox"
      type="checkbox"
      x-ref="indeterminateCheckbox"
      class="rounded shadow size-4 border-base-300 text-accent-600 focus:ring-accent-600"
    />
    <Text
      for="indeterminate-checkbox"
      tag="label"
      class="block text-sm text-base-500"
    >
      Indeterminate checkbox
    </Text>
  </div>
  
  
</div>
