---
export const description = "Checkbox with Counter";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex items-center max-w-md p-12 mx-auto">
  <div class="flex items-center w-full gap-2" x-data="{ count: 0 }">
    <input
      id="counter-checkbox"
      name="counter-checkbox"
      type="checkbox"
      @change="count += $event.target.checked ? 1 : -1"
      class="rounded shadow size-4 border-gray-300 text-blue-600 focus:ring-blue-600"
    />
    <Text
      for="counter-checkbox"
      tag="label"
      class="block text-sm text-gray-500"
    >
      Checkbox clicked <span x-text="count"></span> times
    </Text>
  </div>
</div>
