---
export const description = "Checkbox Group";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <div
    class="flex flex-col w-full gap-2"
    x-data="{ options: ['Option 1', 'Option 2', 'Option 3'], selected: [] }"
  >
    <template x-for="option in options" :key="option">
      <div class="flex items-center gap-3">
        <input
          type="checkbox"
          :id="option"
          :value="option"
          x-model="selected"
          class="rounded shadow size-4 border-zinc-300 text-blue-600 focus:ring-blue-600"
        />
        <Text
          :for="option"
          tag="label"
          class="block text-sm text-zinc-500"
          x-text="option"
        />
      </div>
    </template>
    <div class="flex flex-col mt-2 text-sm text-zinc-500">
      Selected:
      <span x-text="selected.join(', ')" class="flex flex-col"></span>
    </div>
  </div>
  <!-- copy:end -->
</div>
