---
export const description = "Checkbox with Indication Badge";
import Text from "@/components/fundations/typography/Text.astro";
import Badge from "@/components/fundations/badges/Badge.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <div class="flex flex-col gap-2" x-data="{ checked: false }">
    <div class="flex items-center w-full gap-3">
      <div class="flex items-center h-full gap-3">
        <input
          id="badge-checkbox"
          name="badge-checkbox"
          type="checkbox"
          x-model="checked"
          class="rounded shadow size-4 border-zinc-300 text-stone-600 focus:ring-stone-600"
        />
        <Text
          for="badge-checkbox"
          tag="label"
          class="block text-sm text-zinc-500"
        >
          With badge
        </Text>
      </div>
      <Badge x-show="checked" variant="muted" size="xs"> Checked </Badge>
    </div>
  </div>
  <!-- copy:end -->
</div>
