---
export const description = "Checkbox with Confirm Button";
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="flex max-w-md mx-auto items-center p-12">
  <div
    class="flex gap-2 flex-col w-full"
    x-data="{ checked: false, confirmed: false }"
  >
  
    <div class="flex items-center gap-3 justify-between w-full">
      <div class="flex items-center gap-3">
        <input
          id="confirm-checkbox"
          name="confirm-checkbox"
          type="checkbox"
          x-model="checked"
          class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
        />
        <Text
          for="confirm-checkbox"
          tag="label"
          class="block text-sm text-base-500"
        >
          Confirm this
        </Text>
      </div>
      <div>
        <Button
          type="button"
          size="xs"
          variant="accent"
          :disabled="!checked"
          @click="confirmed = true"
          class="w-auto"
        >
          Confirm
        </Button>
      </div>
    </div>

    <span x-show="confirmed" class="text-sm text-accent-500">Confirmed!</span>
  </div>
</div>
