---
export const description = "Right-Aligned Checkbox";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <div class="flex items-center justify-between w-full gap-2">
    <Text
      for="right-aligned-checkbox"
      tag="label"
      class="block text-sm text-zinc-500"
    >
      Right aligned checkbox
    </Text>
    <input
      id="right-aligned-checkbox"
      name="right-aligned-checkbox"
      type="checkbox"
      class="rounded shadow size-4 border-zinc-300 text-blue-600 focus:ring-blue-600"
    />
  </div>
  <!-- copy:end -->
</div>
