---
export const description = "List Item with Trailing Checkbox";
import Text from "@/components/fundations/typography/Text.astro";
---

<section
  class="flex items-center flex-wrap gap-2 justify-center p-24 bg-white dark:bg-zinc-900 h-full"
>
  <!-- copy:start -->
  <div
    class="flex items-center justify-between w-full max-w-md gap-2 p-3 rounded border border-zinc-200 dark:border-zinc-800 bg-white dark:bg-zinc-900"
  >
    <div class="flex flex-col">
      <Text
        for="row-checkbox"
        tag="label"
        class="block text-sm text-zinc-700 dark:text-zinc-200"
      >
        Weekly summary emails
      </Text>
      <p class="text-xs text-zinc-500 dark:text-zinc-400">
        Receive one email every Friday.
      </p>
    </div>
    <input
      id="row-checkbox"
      name="row-checkbox"
      type="checkbox"
      class="rounded shadow size-4 border-zinc-300 dark:border-zinc-700 text-blue-600 focus:ring-blue-600 dark:bg-zinc-900 dark:checked:bg-blue-600"
    />
  </div>
  <!-- copy:end -->
</section>
