---
export const description = "Checkbox with Expansion";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <div class="flex flex-col w-full gap-1" x-data="{ expanded: false }">
    <div class="flex items-start gap-3">
      <input
        id="terms-acceptance-checkbox"
        name="terms-acceptance-checkbox"
        type="checkbox"
        @change="expanded = !expanded"
        class="rounded shadow size-4 border-zinc-300 text-blue-600 focus:ring-blue-600"
      />
      <div>
        <Text
          for="terms-acceptance-checkbox"
          tag="label"
          class="block text-sm font-medium text-zinc-500"
        >
          Accept terms and conditions
        </Text>
        <Text tag="p" variant="textSM" class="text-zinc-400">
          Please review and accept the terms and conditions to proceed.
        </Text>
      </div>
    </div>
    <div x-show="expanded" class="mt-2 text-sm ml-7 text-zinc-400">
      By checking this box, you confirm that you have read and agreed to the
      terms and conditions of our service.
    </div>
  </div>
  <!-- copy:end -->
</div>
