---
export const description = "Checkbox with Indication Badge";
import Text from "@/components/fundations/typography/Text.astro";
import Badge from "@/components/fundations/badges/Badge.astro";
---

<div class="flex items-center max-w-md p-12 mx-auto">
  <div class="flex flex-col w-full gap-2" x-data="{ checked: false }">
    <div class="flex items-center justify-between w-full gap-3">
      <div class="flex items-center h-full gap-3">
        <input
          id="badge-checkbox"
          name="badge-checkbox"
          type="checkbox"
          x-model="checked"
          class="rounded shadow size-4 border-gray-300 text-blue-600 focus:ring-blue-600"
        />
        <Text
          for="badge-checkbox"
          tag="label"
          class="block text-sm text-gray-500"
        >
          Checkbox with badge
        </Text>
      </div>
      <Badge x-show="checked" variant="accent" size="xs"> Checked </Badge>
    </div>
  </div>
</div>
