---
export const description = "Right-Aligned Checkbox";
import Text from "@/components/fundations/typography/Text.astro";
---
<div
  class="flex  max-w-sm mx-auto items-center p-12"
>
<div class="flex items-center justify-between  gap-2 w-full">
  <Text
    for="right-aligned-checkbox"
    tag="label"
    class="block text-sm text-base-500"
  >
    Right aligned checkbox
  </Text>
  <input
    id="right-aligned-checkbox"
    name="right-aligned-checkbox"
    type="checkbox"
    class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
  />
</div>

</div>
