---
export const description = "Checkbox with Border and Icon";
import Text from "@/components/fundations/typography/Text.astro";
---

<section
  class="flex items-center flex-wrap gap-2 justify-center p-8 bg-white dark:bg-zinc-900 h-full"
>
  <!-- copy:start -->
  <div
    class="flex items-start p-4 border rounded-lg gap-3 border-zinc-200 dark:border-zinc-700 bg-white dark:bg-zinc-900"
  >
    <div class="flex items-start gap-3">
      <input
        id="marketing-checkbox"
        name="marketing-checkbox"
        type="checkbox"
        class="rounded shadow size-4 border-zinc-300 dark:border-zinc-700 text-blue-600 focus:ring-blue-600 dark:bg-zinc-900 dark:checked:bg-blue-600"
      />
      <div>
        <Text
          for="marketing-checkbox"
          tag="label"
          class="block text-sm font-medium text-zinc-500 dark:text-zinc-300"
        >
          Enable marketing emails <span class="text-zinc-400 dark:text-zinc-500"
            >(Optional)</span
          >
        </Text>
        <p class="text-sm text-zinc-400 dark:text-zinc-500">
          By checking this box, you agree to receive occasional marketing emails
          about updates, offers, and promotions.
        </p>
      </div>
    </div>
    <div class="ml-auto">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-gift size-6 text-blue-500"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3 8m0 1a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1z"
        ></path><path d="M12 8l0 13"></path><path
          d="M19 12v7a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-7"></path><path
          d="M7.5 8a2.5 2.5 0 0 1 0 -5a4.8 8 0 0 1 4.5 5a4.8 8 0 0 1 4.5 -5a2.5 2.5 0 0 1 0 5"
        ></path></svg
      >
    </div>
  </div>
  <!-- copy:end -->
</section>
