---
export const description = "Checkbox with Label and Description";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex items-center max-w-md p-12 py-48 mx-auto">
  <div class="flex flex-col gap-1">
    <div class="flex items-start gap-3">
      <input
        id="checkbox-with-description"
        name="checkbox-with-description"
        type="checkbox"
        class="rounded shadow size-4 border-gray-300 text-blue-600 focus:ring-blue-600"
      />
      <div>
        <Text
          for="checkbox-with-description"
          tag="label"
          class="block text-sm font-medium text-gray-500"
        >
          Subscribe to newsletter <span class="text-gray-400">(Optional)</span>
        </Text>
        <Text tag="p" variant="textSM" class="text-gray-400">
          Stay updated with our latest news, articles, and offers by subscribing
          to our newsletter.
        </Text>
      </div>
    </div>
  </div>
</div>
