---
const data = [
  {
    name: "Mike Vega",
    title: "Creator of Windstatic.com",
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions' security and efficiency.",
    imgSrc: "/avatars/1.avif",
  },
];
---

<div class="relative">
  <div class="lg:absolute lg:inset-0 lg:right-1/2">
    <div class="h-full">
      <img
        class="h-64 w-full bg-gray-50 object-cover sm:h-80 lg:h-full lg:border-r"
        src="/images/dashboardLight.svg"
        alt="#_"
      />
    </div>
  </div>
  <div
    class="px-8 pb-24 pt-10 sm:pb-32 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:pb-56 lg:pt-48">
    <div class="lg:col-start-2 lg:pl-12">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:px-12">
        <span class="text-blue-600 text-4xl lg:text-6xl">❖</span>
        <h1
          class="text-4xl mt-12 font-semibold tracking-tight text-gray-900 lg:text-7xl lg:text-balance">
          Make every visitor count
        </h1>
        <p class="mt-6 text-base font-medium text-gray-500">
          Integrating with existing systems is smooth and hassle-free, thanks to
          our incredible flexible approach. Equipped with advanced features and
          tools, our solution effortlessly manages complex tasks and workflows.
        </p>

        <div class="flex flex-wrap gap-4 mt-12">
          <button
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
            aria-label="Action">
            Get started
          </button>
          <div class="text-sm text-gray-500">
            <span class="block">This is some support text</span>
            <span class="block">and this is also.</span>
          </div>
        </div>
        <ul
          role="list"
          class="mt-6 pt-6 border-t">
          {
            data.map((member) => (
              <>
                <li>
                  <figure class="flex flex-col  h-full ">
                    <figcaption>
                      <div class="flex items-center gap-4">
                        <img
                          class="object-cover rounded-full size-12 lg:size-20"
                          src={member.imgSrc}
                          alt="#_"
                        />
                        <div>
                          <h3 class="tracking-tight text-lg font-medium  text-gray-900">
                            {member.name}
                          </h3>
                          <p class="mt-2 text-sm text-gray-500 text-balance">
                            {member.title}
                          </p>
                        </div>
                      </div>
                    </figcaption>
                    <blockquote class="mt-12 flex flex-col gap-4">
                      <span class="flex items-center gap-2  rounded-full">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          class="icon icon-tabler icons-tabler-filled icon-tabler-star text-yellow-400">
                          <>
                            <path
                              stroke="none"
                              d="M0 0h24v24H0z"
                              fill="none"
                            />
                            <path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" />
                          </>
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          class="icon icon-tabler icons-tabler-filled icon-tabler-star text-yellow-400">
                          <>
                            <path
                              stroke="none"
                              d="M0 0h24v24H0z"
                              fill="none"
                            />
                            <path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" />
                          </>
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          class="icon icon-tabler icons-tabler-filled icon-tabler-star text-yellow-400">
                          <>
                            <path
                              stroke="none"
                              d="M0 0h24v24H0z"
                              fill="none"
                            />
                            <path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" />
                          </>
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          class="icon icon-tabler icons-tabler-filled icon-tabler-star text-yellow-400">
                          <>
                            <path
                              stroke="none"
                              d="M0 0h24v24H0z"
                              fill="none"
                            />
                            <path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" />
                          </>
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          class="icon icon-tabler icons-tabler-filled icon-tabler-star text-yellow-400">
                          <>
                            <path
                              stroke="none"
                              d="M0 0h24v24H0z"
                              fill="none"
                            />
                            <path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" />
                          </>
                        </svg>
                      </span>
                      <p class="text-lg text-gray-500 text-pretty">
                        {member.testimonial}
                      </p>
                    </blockquote>
                  </figure>
                </li>
              </>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>
