<div class="flex px-8 py-12 bg-base-50 h-full border border-base-200">
  <div class="flex flex-col h-full justify-between size-full">
    <div>
      <p
        class="text-base sm:text-lg md:text-xl text-black font-medium flex items-center gap-1">
        <span class="text-md flex items-center gap-2">
          <span class="text-md"> ❖ </span>Free blocks
        </span>
        —
        <span class="text-md"> $0 </span>
      </p>
      <p class="text-md text-base-600 font-medium mt-1">
        Explore free demos for every category—copy, paste, and see how they
        work.
      </p>
      <div class="mt-8">
        <p class="text-sm text-black uppercase font-bold mt-1">Includes</p>
        <ul
          class="flex flex-col text-base-600 font-medium mt-2 space-y-2"
          role="list">
          <li class="flex items-center gap-2">
            <svg
              class="size-2"
              viewBox="0 0 100 100"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <circle
                cx="50"
                cy="50"
                r="50"
                fill="currentColor"
              ></circle>
            </svg>
            <span class="text-base"> 1 component in every category </span>
          </li>
          <li class="flex items-center gap-2">
            <svg
              class="size-2"
              viewBox="0 0 100 100"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <circle
                cx="50"
                cy="50"
                r="50"
                fill="currentColor"
              ></circle>
            </svg>
            <span class="text-base"> No registration needed </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-8 w-full flex">
      <a
        href="/"
        class="rounded-full flex items-center transition-all duration-200 focus:ring-2 focus:ring-offset-2 focus:outline-none text-base-700 bg-white ring-offset-2 ring-offset-base-50 hover:text-accent-600 focus:ring-accent-500 h-9 px-4 py-2 text-sm font-medium justify-center w-full ring-1 ring-base-200">
        Browser all components
      </a>
    </div>
  </div>
</div>
