---
import Text from "@/components/fundations/typography/Text.astro";
const features = [
  {
    text: "Over 30+ components and blocks",
  },
  {
    text: "Marketing, application  & eCommerce ",
  },
];
---

<div
  class="flex flex-col justify-between h-full gap-8 border-t border-base-200 lg:border-none p-8"
>
  <div>
    <Text
      tag="p"
      variant="textXL"
      class="tracking-tight font-semibold text-black"
    >
      Free blocks — $0
    </Text>
    <Text tag="p" variant="textBase" class="mt-1 font-medium text-neutral-600">
      Testing and personal.
    </Text>
    <div class="mt-4">
      <Text tag="p" variant="textSM" class="font-bold text-black uppercase"
        >Includes</Text
      >
      <ul
        class="flex flex-col mt-2 space-y-2 font-medium text-base-600"
        role="list"
      >
        {
          features.map((feature) => (
            <li class="flex items-center gap-2">
              <div class=" ring-1 ring-zinc-200 dark:ring-zinc-700 p-[0.110rem] bg-white/5 shadow  rounded-sm ">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-check size-2.5"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M5 12l5 5l10 -10" />
                </svg>
              </div>
              <Text tag="span" variant="textBase">
                {feature.text}
              </Text>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <div>
    <Text
      tag="a"
      href="/components"
      class="flex items-center justify-center w-full h-12 px-6 py-2 font-medium transition-all duration-200 bg-white border rounded-full ring-4 ring-base-50 text-accent-600 focus:ring-2 focus:ring-offset-2 focus:outline-none border-base-200 hover:text-accent-950 focus:ring-accent-600"
    >
      Browser all components
    </Text>
  </div>
</div>
