---
import Text from "@/components/fundations/typography/Text.astro";
const features = [
  {
    text: "1 component in every category",
  },
  {
    text: "No registration needed",
  },
];
---

<div class="flex flex-col justify-between h-full gap-8 p-8 border-t border-base-200 lg:border-none">
  <div>
    <Text
      tag="p"
      variant="textXL"
      class="flex items-center gap-1 font-medium text-black"
    >
      <Text tag="span"> Free blocks </Text>
      —
      <Text tag="span">$0</Text>
    </Text>
    <Text tag="p" variant="textBase" class="mt-1 font-medium text-neutral-600">
      Testing and personal.
    </Text>
    <div class="mt-8">
      <Text tag="p" variant="textBase" class="mt-1 font-medium text-neutral-600"
        >Includes</Text
      >
      <ul
        class="flex flex-col mt-2 space-y-2 font-medium text-base-600"
        role="list"
      >
        {
          features.map((feature) => (
            <li class="flex items-center gap-2">
              <svg
                class="size-1.5"
                viewBox="0 0 100 100"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="50" cy="50" r="50" fill="currentColor" />
              </svg>
              <Text tag="span" variant="textBase">
                {feature.text}
              </Text>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <Text
    tag="a"
    href="/components"
    class="flex items-center justify-center w-full h-12 px-6 py-2 font-medium transition-all duration-200 bg-white border rounded-full ring-4 ring-base-50 text-accent-600 focus:ring-2 focus:ring-offset-2 focus:outline-none border-base-200 hover:text-accent-950 focus:ring-accent-600"
  >
    Browser all components
  </Text>
</div>
