---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import OxbowLink from "@/components/fundations/buttons/OxbowLink.astro";
const features = [
  {
    text: "Over 30+ components and blocks",
  },
  {
    text: "Marketing, application  & eCommerce ",
  },
];
---

<div
  class="flex flex-col h-full justify-between px-4 relative before:absolute after:absolute before:bg-base-800 before:top-0 before:left-0 before:h-6 before:w-0.5 after:top-8 after:bottom-0 after:left-0 after:w-0.5"
>
  <div>
    <Text tag="h3" variant="textLG" class="text-black font-semibold">
      Guest
    </Text>
    <Text tag="p" variant="displaySM" class="text-back font-medium mt-16">
      Free, forever.
    </Text>
    <Text
      tag="p"
      variant="textSM"
      class="text-base-500 font-medium mt-1 2xl:text-lg text-balance"
    >
      Companies, teams & clients
    </Text>
    <div class="mt-4 flex">
      <OxbowLink
        gap="sm"
        size="base"
        variant="muted"
        href="/components"
        id="purchase-team-license"
        data-umami-event="purchase team license"
        class="w-full"
      >
        Browser all components
      </OxbowLink>
    </div>
    <ul
      class="flex flex-col text-base-500 font-medium mt-8 space-y-1"
      role="list"
    >
      {
        features.map((feature) => (
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-check"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l5 5l10 -10" />
            </svg>
            <div class="flex items-center gap-1 w-full">
              <Text
                tag="span"
                variant="textSM"
                class="2xl:text-lg  flex items-center gap-1"
              >
                {feature.text}
                {/*  {feature.badge && (
                  <Text
                    tag="span"
                    variant="textSM"
                    class=" font-medium  text-accent-600"
                  >
                    // {feature.badge}
                  </Text>
                )} */}
              </Text>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</div>
