---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import OxbowLink from "@/components/fundations/buttons/OxbowLink.astro";
const features = [
  {
    text: "Over 30+ components and blocks",
  },
  {
    text: "Marketing, application  & eCommerce ",
  },
];
---

<section
  class="relative flex flex-col justify-between h-full p-8 overflow-hidden rounded-xl bg-base-50"
>
  <div class="flex flex-col justify-start h-full">
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-2">
        <Text tag="h3" variant="textBase" class="text-black"> Guest </Text>
        <Text tag="p" variant="textXL" class="mt-2 text-black">
          Free, forever.

          <span class="block pt-1 text-xs italic text-base-400">
            No subscription needed. just search around.
          </span>
        </Text>
      </div>
      <Text tag="p" variant="textBase" class="mt-4 tracking-wide text-base-500">
        Testing and personal use
      </Text>
    </div>
    <div class="mt-8">
      <Text tag="p" variant="textSM" class="font-medium text-black">
        What you get:
      </Text>
      <ul
        class="flex flex-col pl-3 mt-4 text-sm font-medium list-disc text-base-500 gap-y-3"
        role="list"
      >
        {features.map((feature) => <li class="">{feature.text}</li>)}
      </ul>
    </div>
  </div>
  <div class="w-full mt-8">
    <OxbowLink
      id="purchase-team-license"
      data-umami-event="purchase team license"
      href="/components"
      size="base"
      variant="muted"
      class="w-full"
    >
      Get started
    </OxbowLink>
  </div>
</section>
