---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import OxbowLink from "@/components/fundations/buttons/OxbowLink.astro";
const features = [
  {
    text: "Over 30+ components and blocks",
  },
  {
    text: "Marketing, application  & eCommerce ",
  },
];
---

<section
  class="bg-linear-45 from-base-900 p-8 overflow-hidden relative rounded-xl outline outline-base-900 shadow-2xl shadow-base-950 flex flex-col justify-between h-full bg-base-950"
>
  <div class="flex flex-col h-full justify-start">
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-2">
        <Text tag="h3" variant="textLg" class="text-white font-mono uppercase">
          Guest
        </Text>
        <Text tag="p" variant="textXL" class="text-white mt-2">
          Free, forever.
        </Text>
      </div>
      <Text tag="p" variant="textSM" class="text-white tracking-wide mt-4">
        Testing and personal use


      </Text>
    </div>
    <div class="mt-8">
      <Text
        tag="p"
        variant="textSM"
        class="uppercase font-mono text-white font-medium"
      >
        What you get:
      </Text>
      <ul
        class="flex flex-col mt-4 text-sm text-base-500 font-medium gap-y-3 list-disc pl-3"
        role="list"
      >
        {features.map((feature) => <li class="">{feature.text}</li>)}
      </ul>
    </div>
  </div>
  <div class="w-full mt-8">
    <OxbowLink
      id="purchase-team-license"
      data-umami-event="purchase team license"
      href="/components"
      size="sm"
      variant="muted"
      class="w-full"
    >
    Get started
    </OxbowLink>
  </div>
</section>


