---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

const features = [
  {
    title: "400+ Components",
    description:
      "A large set of responsive, accessible UI elements ready to use in any project.",
  },
  {
    title: "Built with Tailwind & Alpine",
    description:
      "Lightweight, modern tools that make it easy to build and maintain your site.",
  },
  {
    title: "One-Time Payment",
    description:
      "Pay once and use it forever. No subscriptions or hidden fees.",
  },
  {
    title: "Free Updates",
    description:
      "You’ll get new features and improvements over time—at no extra cost.",
  },
  {
    title: "Fast Support",
    description:
      "If you run into a problem, we’re here to help. Just reach out.",
  },
  {
    title: "Simple Customization",
    description:
      "Make it your own without much effort. Everything’s built to be easy to tweak.",
  },
  {
    title: "Keyboard Accessibility",
    description:
      "Works great with a keyboard, so everyone can navigate with ease.",
  },
  {
    title: "Production Ready",
    description:
      "Tested and reliable across modern browsers. Just plug it in and go.",
  },
];
---

<section class="border-t scroll-mt-24 border-gray-200" id="features">
  <Wrapper variant="standard" class="lg:border-x lg:border-gray-200">
    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-u gap-y-12 text-center"
    >
      {
        features.map((feature) => (
          <div class="p-4">
            <Text tag="h3" variant="textSM" class="font-medium  text-gray-900">
              {feature.title}
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 text-gray-500 lg:col-span-2"
            >
              {feature.description}
            </Text>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
