---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Check from "@/components/fundations/icons/Check.astro";

const features = [
  {
    title: "400+ Components",
    description:
      "More UI pieces than you'll know what to do with. All responsive, accessible, and begging to be customized.",
  },
  {
    title: "Built with Tailwind & Alpine",
    description:
      "Clean code, no nonsense. Drop it in and move on with your life.",
  },
  {
    title: "One-Time Payment",
    description:
      "Pay once. Own it forever. Subscriptions are for streaming services, not UI kits.",
  },
  {
    title: "Free Updates",
    description:
      "Yes, we’re actually giving you more stuff for free. Welcome to the rare club of not getting nickel-and-dimed.",
  },
  {
    title: "Fast Support",
    description:
      "Stuck? Ping us on Discord. We don’t ghost (unlike that one freelancer you hired).",
  },
  {
    title: "Simple Customization",
    description:
      "Make it yours without summoning a dev team. We don’t charge extra for using what you paid for.",
  },
  {
    title: "Keyboard Accessibility",
    description:
      "Your keyboard-savvy users won’t rage-quit. Everything works out of the box—no excuses.",
  },
  {
    title: "Production Ready",
    description:
      "Battle-tested on modern browsers, because ‘it works on my machine’ isn’t a real QA process.",
  },
];
---

<section class="border-t scroll-mt-24 border-base-200" id="features">
  <Wrapper variant="standard" class="lg:border-x lg:border-base-200">
    <div class="flex flex-col gap-1">
      {
        features.map((feature) => (
          <div class="py-1 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
            <div class="flex items-center gap-2">
              <Check size="sm" class="text-accent-500" />
              <Text
                tag="h3"
                variant="textSM"
                class="font-medium  text-base-900"
              >
                {feature.title}
              </Text>
            </div>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 text-base-500 lg:col-span-2"
            >
              {feature.description}
            </Text>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
