---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Widgets
import Marketing from "@/components/pricing/widgets/Marketing.astro";
import Application from "@/components/pricing/widgets/Application.astro";
import Ecommerce from "@/components/pricing/widgets/Ecommerce.astro";

const sections = [
  /* {
    category: "Email",
    title: "Sending emails?",
    description:
      "We have a dedicated section for emails. with pre-made blocks to build your email in minutes.",
    image: {
      src: emailImage,
      alt: "emal images",
    },
  }, */
];
---

<section class="scroll-mt-24 lg:border-t lg:border-base-200" id="features">
  <Wrapper
    variant="standard"
    class="flex flex-col gap-y-20 lg:border-x lg:border-base-200"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div
        class="relative flex flex-col justify-start h-full p-6 overflow-hidden bg-white gap-4 rounded-xl shadow-oxbow sm:p-4 sm:pb-5 lg:p-6 group"
      >
        <div>
          <span class="text-sm text-base-500 text-balance"> Marketing </span>
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium text-base-900 mt-4"
          >
            Landing pages
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 text-balance"
          >
            Hero sections, features, footers, pricing, and ready-to-use landing
            pages to help you build standout marketing websites.
          </Text>
        </div>
        <div class="relative mt-auto ">
          <Marketing />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-start h-full p-6 overflow-hidden bg-white gap-4 rounded-xl shadow-oxbow sm:p-4 sm:pb-5 lg:p-6 group"
      >
        <div>
          <span class="text-sm text-base-500 text-balance"> Application </span>
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium text-base-900 mt-4"
          >
            Building a webapp?
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 text-balance"
          >
            Find navigation, buttons, forms, command palettes, typography,
            application layouts, dialogs, and more to make your application’s
            user interface pretty.
          </Text>
        </div>
        <div class="relative mt-auto ">
          <Application />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-start h-full p-6 overflow-hidden bg-white gap-4 rounded-xl shadow-oxbow sm:p-4 sm:pb-5 lg:p-6 group"
      >
        <div>
          <span class="text-sm text-base-500 text-balance"> Ecommerce </span>
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium text-base-900 mt-4"
          >
            Got a store?
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 text-balance"
          >
            Checkout forms, shopping carts, promo sections, store fronts,
            product overviews, and all the basics to build your store.
          </Text>
        </div>
        <div class="relative mt-auto -mr-22">
          <Ecommerce />
        </div>
      </div>
    
    </div>
  </Wrapper>
</section>
