---
import Text from "@/components/fundations/typography/Text.astro";
const features = [
  {
    text: "1 User",
  },
  {
    text: "All components and blocks",
  },
  {
    text: "Lifetime access",
  },
  {
    text: "Unlimited projects",
  },
  {
    text: "Discord Support",
  },
];
---

<div
  class="flex p-8 bg-base-50 h-full border border-base-200 relative order-first lg:order-none"
>
  <div class="flex flex-col h-full justify-between size-full">
    <div>
      <Text
        tag="p"
        variant="textLG"
        class="text-black font-medium flex items-center gap-1"
      >
        <Text tag="span">Individual</Text> —
        <Text tag="span">
          <del class="text-black/50"> $149</del><span> $45</span></Text
        >
      </Text>
      <Text tag="p" variant="textMD" class="text-neutral-600 font-medium mt-1">
        Perfect for personal and clients.
      </Text>
      <div class="mt-8">
        <Text
          tag="p"
          variant="textSM"
          class="text-black uppercase font-bold mt-1">Includes</Text
        >
        <ul
          class="flex flex-col text-base-600 font-medium mt-2 space-y-2"
          role="list"
        >
          {
            features.map((feature) => (
              <li class="flex items-center gap-2">
                <svg
                  class="size-2"
                  viewBox="0 0 100 100"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="50" cy="50" r="50" fill="currentColor" />
                </svg>
                <div class="flex items-center gap-1 w-full">
                  <Text tag="span" variant="textBase">
                    {feature.text}
                  </Text>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="mt-8 w-full flex">
      <Text
        tag="a"
        href="/api/buy/individual"
        id="purchase-individual-license"
        data-umami-event="purchase individual license"
        class="rounded-full flex items-center transition-all gap-x-2 duration-200 focus:ring-2 focus:ring-offset-2 focus:outline-none text-white bg-accent-600 hover:bg-accent-700 focus:ring-accent-600 h-10 px-4 py-2 text-sm font-medium w-full justify-center"
      >
        Buy for <del class="text-white/50"> $149</del><span> $45</span>
      </Text>
    </div>
    <Text
      tag="p"
      variant="textMD"
      class="px-2 mt-2 font-medium text-accent-600 text-center"
    >
      Black Week for 70% Off
    </Text>
  </div>
</div>
