---
import Text from "@/components/fundations/typography/Text.astro";
const features = [
  {
    text: "1 User",
  },
  {
    text: "Lifetime access",
  },
  {
    text: "Unlimited projects",
  },
  {
    text: "Over 400+ components",
  },

  {
    text: "Discord Support",
  },
];
---

<div
  class="flex flex-col justify-between order-first h-full p-8 xl:p-12 gap-8 border-t lg:order-none border-base-200 lg:border-t-0 lg:border-x"
>
  <div>
    <Text
      tag="p"
      variant="textXL"
      class="tracking-tight font-semibold text-black"
      >Individual — <del class="opacity-45">$149</del> $67</Text
    >
    <Text tag="p" variant="textBase" class="mt-2 font-medium text-neutral-600">
      Perfect for personal and clients.
    </Text>
    <div class="mt-8">
      <Text tag="p" variant="textSM" class="mt-1 font-bold text-black uppercase"
        >Includes</Text
      >
      <ul
        class="flex flex-col mt-2 space-y-2 font-medium text-base-600"
        role="list"
      >
        {
          features.map((feature) => (
            <li class="flex items-center gap-2">
              <svg
                class="size-1.5"
                viewBox="0 0 100 100"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="50" cy="50" r="50" fill="currentColor" />
              </svg>
              <div class="flex items-center w-full gap-1">
                <Text tag="span" variant="textBase">
                  {feature.text}
                </Text>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <div>
    <Text
      tag="a"
      href="/api/buy/individual"
      id="purchase-individual-license"
      data-umami-event="purchase individual license"
      class="flex items-center justify-center w-full h-12 px-6 py-2 font-medium text-white transition-all duration-200 border rounded-full border-accent-500 ring-4 ring-base-50 gap-x-2 focus:ring-2 focus:ring-offset-2 focus:outline-none bg-accent-700 hover:bg-accent-950 focus:ring-accent-600"
    >
      Buy for <del class="opacity-45">$149</del> $67
    </Text>
  </div>
</div>
