---
import Text from "@/components/fundations/typography/Text.astro";
const individualLicenseUrl = import.meta.env.PRODUCT_INDIVIDUAL_LICENSE_URL;
const features = [
  {
    text: "1 User",
  },
  {
    text: "Lifetime access",
  },
  {
    text: "Unlimited projects",
  },
  {
    text: "Over 400+ components and blocks",
  },
  {
    text: "Marketing, application  & eCommerce ",
  },

  {
    text: "Discord Support",
  },
];
---
<div class="flex flex-col h-full justify-between order-first lg:order-none">
  <div>
    <div class="flex flex-col gap-2">
      <Text tag="p" variant="textLG" class="text-black font-medium 2xl:text-xl">
        Individual — <del class="opacity-45">$149</del> $67
      </Text>
    </div>
    <Text
      tag="p"
      variant="textSM"
      class="text-base-500 font-medium mt-1 2xl:text-lg text-balance"
    >
      Personal and clients.
    </Text>
    <ul
      class="flex flex-col text-base-500 font-medium mt-8 space-y-1"
      role="list"
    >
      {
        features.map((feature) => (
          <li class="flex items-center gap-2">
            <div class=" ring-1 ring-base-100     p-[0.110rem] bg-white/5 shadow  rounded-sm ">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-check size-2.5"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </div>
            <div class="flex items-center gap-1 w-full">
              <Text
                tag="span"
                variant="textSM"
                class="2xl:text-lg  flex items-center gap-1"
              >
                {feature.text}
                {/* {feature.badge && (
                  <Text
                    tag="span"
                    variant="textSM"
                    class=" font-medium  text-accent-600"
                  >
                    // {feature.badge}
                  </Text>
                )} */}
              </Text>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="mt-8 flex">
    <Text
    tag="a"
    variant="textSM"
    href={individualLicenseUrl}
    id="purchase-individual-license"
    data-umami-event="purchase individual license"
    class="flex items-center justify-center w-auto h-9 px-4 py-2 font-medium text-white transition-all duration-200 border rounded-full border-accent-700  gap-x-1 focus:ring-2 focus:ring-offset-2 focus:outline-none bg-accent-700 hover:bg-accent-950 focus:ring-accent-600"
  >
    Buy for <del class="opacity-45">$149</del> $67
  </Text>
  </div>
</div>

