---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
const paymentMethods = [
  "Visa",
  "PayPal",
  "Apple Pay",
  "Google Pay",
  "MasterCard",
];
---

<div
  class="flex flex-wrap items-center justify-between py-3 mt-4 text-center capitalize"
>
  <div>
    <Text variant="textXS" class="font-semibold text-zinc-900 dark:text-white">
      Secure Payments via Polar.sh
    </Text>
  </div>
  <div>
    <Text
      variant="textXS"
      class="flex flex-wrap font-medium gap-2 text-zinc-600"
    >
      {paymentMethods.map((method) => <span>{method}</span>)}
    </Text>
  </div>
</div>
