---
import Text from "@/components/fundations/typography/Text.astro";
const teamLicenseUrl = import.meta.env.PRODUCT_TEAM_LICENSE_URL;

const features = [
  {
    text: "5 Users",
  },
  {
    text: "Lifetime access",
  },
  {
    text: "Unlimited projects",
  },
  {
    text: "Over 400+ components and blocks",
  },
  {
    text: "Marketing, application  & eCommerce ",
  },

  {
    text: "Discord Support",
  },
];
---
<div class="flex flex-col h-full justify-between">
  <div>
    <div class="flex flex-col gap-2">
      <Text tag="p" variant="textLG" class="text-back font-medium 2xl:text-xl">
         Teams — $399
      </Text>
    </div>
    <Text
      tag="p"
      variant="textSM"
      class="text-base-500 font-medium mt-1 2xl:text-lg text-balance"
    >
      Companies, teams & clients
    </Text>
    <ul
      class="flex flex-col text-base-500 font-medium mt-8 space-y-1"
      role="list"
    >
      {
        features.map((feature) => (
          <li class="flex items-center gap-2">
            <div class=" ring-1 ring-base-100  p-[0.110rem]  shadow  rounded-sm ">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-check size-2.5"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l5 5l10 -10" />
              </svg>
            </div>
            <div class="flex items-center gap-1 w-full">
              <Text
                tag="span"
                variant="textSM"
                class="2xl:text-lg  flex items-center gap-1"
              >
                {feature.text}
                {/*  {feature.badge && (
                  <Text
                    tag="span"
                    variant="textSM"
                    class=" font-medium  text-accent-600"
                  >
                    // {feature.badge}
                  </Text>
                )} */}
              </Text>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="mt-8 flex">
    <Text
      tag="a"
      variant="textSM"
      id="purchase-team-license"
      data-umami-event="purchase team license"
      href={teamLicenseUrl}
      class="flex items-center justify-center w-auto h-9 px-4 py-2 font-medium transition-all duration-200 bg-white border rounded-full  text-base-500 focus:ring-2 focus:ring-offset-2 focus:outline-none border-base-200 hover:text-accent-950 focus:ring-accent-600"
    >
      Buy for $399
    </Text>
  </div>
</div>

