---
import Text from "@/components/fundations/typography/Text.astro";
const features = [
  {
    text: "5 User",
  },
  {
    text: "All components and blocks",
  },
  {
    text: "Lifetime access",
  },
  {
    text: "Unlimited projects",
  },
  {
    text: "Discord Support",
  },
];
---

<div class="flex px-8 py-12 bg-white border border-base-200 h-full">
  <div class="flex flex-col h-full justify-between size-full">
    <div>
      <Text
        tag="p"
        variant="textLG"
        class="text-black font-medium flex items-center gap-1">
        <Text tag="span"> Teams </Text> —
        <Text tag="span"> <span> $159</span><del class="text-black/50"> $399</del> </Text>
      </Text>
      <Text
        tag="p"
        variant="textMD"
        class="text-neutral-600 font-medium mt-1">
        For companies, teams, and clients.
      </Text>
      <div class="mt-8">
        <Text
          tag="p"
          variant="textSM"
          class="text-black uppercase font-bold mt-1"
          >Includes</Text
        >
        <ul
          class="flex flex-col text-base-600 font-medium mt-2 space-y-2"
          role="list">
          {
            features.map((feature) => (
              <li class="flex items-center gap-2">
                <svg
                  class="size-2"
                  viewBox="0 0 100 100"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle
                    cx="50"
                    cy="50"
                    r="50"
                    fill="currentColor"
                  />
                </svg>
                <div class="flex items-center gap-1 w-full">
                  <Text
                    tag="span"
                    variant="textBase">
                    {feature.text}
                  </Text>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="mt-8 w-full flex">
      <Text
        tag="a"
        href="/api/buy/team"
        class="rounded-full flex items-center transition-all duration-200 gap-x-2 focus:ring-2 focus:ring-offset-2 focus:outline-none text-base-700 bg-white ring-offset-2 ring-offset-base-50 hover:text-accent-600 focus:ring-accent-500 h-9 px-4 py-2 text-sm font-medium justify-center w-full ring-1 ring-base-200">
        Buy for <span> $159</span><del class="text-black/50"> $399</del>
      </Text>
    </div>
  </div>
</div>
