---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <div class="mx-auto max-w-[500px] p-8 font-sans">
      <img class="h-12" src="/images/oxbow/oxbowLogo.png" alt="Oxbow logo" />
      <h1 class="text-2xl font-medium mt-12">Thank you for your order!</h1>

      <div class="mt-8 space-y-2 text-base">
        <p class="text-base-500">
          <span class="font-medium text-black">Order #:</span> 98876248
        </p>
        <p class="text-base-500">
          <span class="font-medium text-black">Date:</span> 29 Dec 2024, 19:55
        </p>
      </div>

      <div
        class="flex items-center mt-4 justify-between border-y border-base-200 py-4"
      >
        <div class="flex items-center gap-4 text-sm">
          <div class="w-16 overflow-hidden rounded">
            <img
              src="https://www.colorsandfonts.com/_astro/oxbowui.7D8OiF6d_Z16x3bg.avif"
              alt="Lexington license"
              class="object-cover"
            />
          </div>
          <div>
            <p>Oxbow UI Individual License</p>
            <p class="text-xs text-base-500">
              Lifetime access and future updates to Oxbow UI
            </p>
          </div>
        </div>
        <span>$149.00</span>
      </div>

      <div class="space-y-3 border-b border-base-200 py-6 text-base">
        <div class="flex justify-between">
          <span>Subtotal</span>
          <span class="text-base-600">$149.00</span>
        </div>
        <div class="flex justify-between">
          <span>Discount</span>
          <span class="text-base-600">-$81.95</span>
        </div>
        <div class="flex justify-between font-bold">
          <span>Total</span>
          <span>$67.05</span>
        </div>
      </div>

      <div class="py-6 text-sm">
        <h2 class="font-medium text-black">
          License key:
          <span class="font-mono mt-2 text-base-500 text-xs">
            D6200503-B420-4C03-BBE6-D0E68674B4CE
          </span>
        </h2>
      </div>

      <button
        class="mb-8 flex w-full items-center justify-center gap-2 rounded-full bg-black px-6 py-4 font-medium text-white"
      >
        Log in to Oxbow UI
      </button>

      <div class="border-t border-base-200 py-6 text-sm text-base-500">
        <p>
          This payment will appear as <span class="font-medium text-black"
            >OXBOWUI*</span
          > on your bank or card statement.
        </p>

        <div class="mt-4">
          <p>Need help with your payment or order?</p>
          <p class="mt-1">
            <a
              href="https://oxbowui.com/support"
              class="text-blue-600 hover:underline">- Contact support</a
            >
            or reply to this email.
          </p>
        </div>

        <div class="mt-4">
          <p>Need an invoice for your records?</p>
          <p class="mt-1">
            <a
              href="https://billing.stripe.com/p/login/fZefZe38O7mhbhC8ww"
              class="text-blue-600 hover:underline"
            >
              - Request an invoice
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
