---
import BaseLayout from "@/layouts/BaseLayout.astro";
const blocks = [
  {
    category: "Left heroes",
    items: [
      { name: "Hero ", url: "/components/marketing/left-heroes/1" },
      { name: "Hero ", url: "/components/marketing/left-heroes/2" },
      { name: "Hero ", url: "/components/marketing/left-heroes/3" },
      { name: "Hero ", url: "/components/marketing/left-heroes/4" },
      { name: "Hero ", url: "/components/marketing/left-heroes/5" },
      { name: "Hero ", url: "/components/marketing/left-heroes/6" },
      { name: "Hero ", url: "/components/marketing/left-heroes/7" },
      { name: "Hero ", url: "/components/marketing/left-heroes/8" },
      { name: "Hero ", url: "/components/marketing/left-heroes/9" },
      { name: "Hero ", url: "/components/marketing/left-heroes/10" },
      { name: "Hero ", url: "/components/marketing/left-heroes/11" },
      { name: "Hero ", url: "/components/marketing/left-heroes/12" },
      { name: "Hero ", url: "/components/marketing/left-heroes/13" },
      { name: "Hero ", url: "/components/marketing/left-heroes/14" },
      { name: "Hero ", url: "/components/marketing/left-heroes/15" },
      { name: "Hero", url: "/components/marketing/left-heroes/16" },
      { name: "Hero ", url: "/components/marketing/left-heroes/17" },
      { name: "Hero", url: "/components/marketing/left-heroes/18" },
      { name: "Hero ", url: "/components/marketing/left-heroes/19" },
      { name: "Hero ", url: "/components/marketing/left-heroes/20" },
    ],
  },
  {
    category: "Centered heroes",
    items: [
      { name: "Hero", url: "/components/marketing/centered-heroes/1" },
      { name: "Hero", url: "/components/marketing/centered-heroes/2" },
      { name: "Hero", url: "/components/marketing/centered-heroes/3" },
      { name: "Hero", url: "/components/marketing/centered-heroes/4" },
      { name: "Hero", url: "/components/marketing/centered-heroes/5" },
      { name: "Hero", url: "/components/marketing/centered-heroes/6" },
      { name: "Hero", url: "/components/marketing/centered-heroes/7" },
      { name: "Hero", url: "/components/marketing/centered-heroes/8" },
      { name: "Hero", url: "/components/marketing/centered-heroes/9" },
      { name: "Hero", url: "/components/marketing/centered-heroes/10" },
    ],
  },
  {
    category: "Right heroes",
    items: [
      { name: "Hero ", url: "/components/marketing/right-heroes/1" },
      { name: "Hero ", url: "/components/marketing/right-heroes/2" },
      { name: "Hero ", url: "/components/marketing/right-heroes/3" },
      { name: "Hero ", url: "/components/marketing/right-heroes/4" },
      { name: "Hero ", url: "/components/marketing/right-heroes/5" },
    ],
  },
  {
    category: "Features",
    items: [
      { name: "Feature", url: "/components/marketing/features/1" },
      { name: "Feature", url: "/components/marketing/features/2" },
      { name: "Feature", url: "/components/marketing/features/3" },
      { name: "Feature", url: "/components/marketing/features/4" },
      { name: "Feature", url: "/components/marketing/features/5" },
      { name: "Feature", url: "/components/marketing/features/6" },
      { name: "Feature", url: "/components/marketing/features/7" },
      { name: "Feature", url: "/components/marketing/features/8" },
      { name: "Feature", url: "/components/marketing/features/9" },
      { name: "Feature", url: "/components/marketing/features/10" },
      { name: "Feature", url: "/components/marketing/features/11" },
      { name: "Feature", url: "/components/marketing/features/12" },
      { name: "Feature", url: "/components/marketing/features/13" },
      { name: "Feature", url: "/components/marketing/features/14" },
      { name: "Feature", url: "/components/marketing/features/15" },
      { name: "Feature", url: "/components/marketing/features/16" },
      { name: "Feature", url: "/components/marketing/features/17" },
      { name: "Feature", url: "/components/marketing/features/18" },
      { name: "Feature", url: "/components/marketing/features/19" },
      { name: "Feature", url: "/components/marketing/features/20" },
      { name: "Feature", url: "/components/marketing/features/21" },
      { name: "Feature", url: "/components/marketing/features/22" },
      { name: "Feature", url: "/components/marketing/features/23" },
      { name: "Feature", url: "/components/marketing/features/24" },
      { name: "Feature", url: "/components/marketing/features/25" },
      { name: "Feature", url: "/components/marketing/features/26" },
      { name: "Feature", url: "/components/marketing/features/27" },
      { name: "Feature", url: "/components/marketing/features/28" },
      { name: "Feature", url: "/components/marketing/features/29" },
      { name: "Feature", url: "/components/marketing/features/30" },
    ],
  },
  {
    category: "Left Headings",
    items: [
      { name: "Heading", url: "/components/marketing/left-headings/1" },
      { name: "Heading", url: "/components/marketing/left-headings/2" },
      { name: "Heading", url: "/components/marketing/left-headings/3" },
      { name: "Heading", url: "/components/marketing/left-headings/4" },
      { name: "Heading", url: "/components/marketing/left-headings/5" },
      { name: "Heading", url: "/components/marketing/left-headings/6" },
      { name: "Heading", url: "/components/marketing/left-headings/7" },
      { name: "Heading", url: "/components/marketing/left-headings/8" },
      { name: "Heading", url: "/components/marketing/left-headings/9" },
      { name: "Heading", url: "/components/marketing/left-headings/10" },
      { name: "Heading", url: "/components/marketing/left-headings/11" },
      { name: "Heading", url: "/components/marketing/left-headings/12" },
      { name: "Heading", url: "/components/marketing/left-headings/13" },
      { name: "Heading", url: "/components/marketing/left-headings/14" },
      { name: "Heading", url: "/components/marketing/left-headings/15" },
      { name: "Heading", url: "/components/marketing/left-headings/16" },
      { name: "Heading", url: "/components/marketing/left-headings/17" },
      { name: "Heading", url: "/components/marketing/left-headings/18" },
      { name: "Heading", url: "/components/marketing/left-headings/19" },
      { name: "Heading", url: "/components/marketing/left-headings/20" },
    ],
  },
  {
    category: "Centered Headings",
    items: [
      { name: "Heading", url: "/components/marketing/centered-headings/1" },
      { name: "Heading", url: "/components/marketing/centered-headings/2" },
      { name: "Heading", url: "/components/marketing/centered-headings/3" },
      { name: "Heading", url: "/components/marketing/centered-headings/4" },
      { name: "Heading", url: "/components/marketing/centered-headings/5" },
      { name: "Heading", url: "/components/marketing/centered-headings/6" },
      { name: "Heading", url: "/components/marketing/centered-headings/7" },
      { name: "Heading", url: "/components/marketing/centered-headings/8" },
      { name: "Heading", url: "/components/marketing/centered-headings/9" },
      { name: "Heading", url: "/components/marketing/centered-headings/10" },
      { name: "Heading", url: "/components/marketing/centered-headings/11" },
      { name: "Heading", url: "/components/marketing/centered-headings/12" },
      { name: "Heading", url: "/components/marketing/centered-headings/13" },
      { name: "Heading", url: "/components/marketing/centered-headings/14" },
      { name: "Heading", url: "/components/marketing/centered-headings/15" },
      { name: "Heading", url: "/components/marketing/centered-headings/16" },
      { name: "Heading", url: "/components/marketing/centered-headings/17" },
      { name: "Heading", url: "/components/marketing/centered-headings/18" },
      { name: "Heading", url: "/components/marketing/centered-headings/19" },
      { name: "Heading", url: "/components/marketing/centered-headings/20" },
    ],
  },
  {
    category: "Right Headings",
    items: [
      { name: "Heading", url: "/components/marketing/right-headings/1" },
      { name: "Heading", url: "/components/marketing/right-headings/2" },
      { name: "Heading", url: "/components/marketing/right-headings/3" },
      { name: "Heading", url: "/components/marketing/right-headings/4" },
      { name: "Heading", url: "/components/marketing/right-headings/5" },
      { name: "Heading", url: "/components/marketing/right-headings/6" },
      { name: "Heading", url: "/components/marketing/right-headings/7" },
      { name: "Heading", url: "/components/marketing/right-headings/8" },
      { name: "Heading", url: "/components/marketing/right-headings/9" },
      { name: "Heading", url: "/components/marketing/right-headings/10" },
      { name: "Heading", url: "/components/marketing/right-headings/11" },
      { name: "Heading", url: "/components/marketing/right-headings/12" },
      { name: "Heading", url: "/components/marketing/right-headings/13" },
      { name: "Heading", url: "/components/marketing/right-headings/14" },
      { name: "Heading", url: "/components/marketing/right-headings/15" },
      { name: "Heading", url: "/components/marketing/right-headings/16" },
      { name: "Heading", url: "/components/marketing/right-headings/17" },
      { name: "Heading", url: "/components/marketing/right-headings/18" },
      { name: "Heading", url: "/components/marketing/right-headings/19" },
      { name: "Heading", url: "/components/marketing/right-headings/20" },
    ],
  },
  {
    category: "Grids",
    items: [
      { name: "Grid", url: "/components/marketing/grids/1" },
      { name: "Grid", url: "/components/marketing/grids/2" },
      { name: "Grid", url: "/components/marketing/grids/3" },
      { name: "Grid", url: "/components/marketing/grids/4" },
      { name: "Grid", url: "/components/marketing/grids/5" },
      { name: "Grid", url: "/components/marketing/grids/6" },
      { name: "Grid", url: "/components/marketing/grids/7" },
      { name: "Grid", url: "/components/marketing/grids/8" },
      { name: "Grid", url: "/components/marketing/grids/9" },
      { name: "Grid", url: "/components/marketing/grids/10" },
      { name: "Grid", url: "/components/marketing/grids/11" },
      { name: "Grid", url: "/components/marketing/grids/12" },
      { name: "Grid", url: "/components/marketing/grids/13" },
      { name: "Grid", url: "/components/marketing/grids/14" },
      { name: "Grid", url: "/components/marketing/grids/15" },
      { name: "Grid", url: "/components/marketing/grids/16" },
      { name: "Grid", url: "/components/marketing/grids/17" },
      { name: "Grid", url: "/components/marketing/grids/18" },
      { name: "Grid", url: "/components/marketing/grids/19" },
      { name: "Grid", url: "/components/marketing/grids/20" },
    ],
  },
  {
    category: "Pricing",
    items: [
      { name: "Pricing", url: "/components/marketing/pricing/1" },
      { name: "Pricing", url: "/components/marketing/pricing/2" },
      { name: "Pricing", url: "/components/marketing/pricing/3" },
      { name: "Pricing", url: "/components/marketing/pricing/4" },
      { name: "Pricing", url: "/components/marketing/pricing/5" },
      { name: "Pricing", url: "/components/marketing/pricing/6" },
      { name: "Pricing", url: "/components/marketing/pricing/7" },
      { name: "Pricing", url: "/components/marketing/pricing/8" },
      { name: "Pricing", url: "/components/marketing/pricing/9" },
      { name: "Pricing", url: "/components/marketing/pricing/10" },
      { name: "Pricing", url: "/components/marketing/pricing/11" },
      { name: "Pricing", url: "/components/marketing/pricing/12" },
      { name: "Pricing", url: "/components/marketing/pricing/13" },
      { name: "Pricing", url: "/components/marketing/pricing/14" },
      { name: "Pricing", url: "/components/marketing/pricing/15" },
      { name: "Pricing", url: "/components/marketing/pricing/16" },
      { name: "Pricing", url: "/components/marketing/pricing/17" },
      { name: "Pricing", url: "/components/marketing/pricing/18" },
      { name: "Pricing", url: "/components/marketing/pricing/19" },
      { name: "Pricing", url: "/components/marketing/pricing/20" },
    ],
  },
  {
    category: "Faq",
    items: [
      { name: "Faq", url: "/components/marketing/faq/1" },
      { name: "Faq", url: "/components/marketing/faq/2" },
      { name: "Faq", url: "/components/marketing/faq/3" },
      { name: "Faq", url: "/components/marketing/faq/4" },
      { name: "Faq", url: "/components/marketing/faq/5" },
      { name: "Faq", url: "/components/marketing/faq/6" },
      { name: "Faq", url: "/components/marketing/faq/7" },
      { name: "Faq", url: "/components/marketing/faq/8" },
      { name: "Faq", url: "/components/marketing/faq/9" },
      { name: "Faq", url: "/components/marketing/faq/10" },
      { name: "Faq", url: "/components/marketing/faq/11" },
      { name: "Faq", url: "/components/marketing/faq/12" },
      { name: "Faq", url: "/components/marketing/faq/13" },
      { name: "Faq", url: "/components/marketing/faq/14" },
      { name: "Faq", url: "/components/marketing/faq/15" },
      { name: "Faq", url: "/components/marketing/faq/16" },
      { name: "Faq", url: "/components/marketing/faq/17" },
      { name: "Faq", url: "/components/marketing/faq/18" },
      { name: "Faq", url: "/components/marketing/faq/19" },
      { name: "Faq", url: "/components/marketing/faq/20" },
    ],
  },
  {
    category: "Team",
    items: [
      { name: "Team", url: "/components/marketing/team/1" },
      { name: "Team", url: "/components/marketing/team/2" },
      { name: "Team", url: "/components/marketing/team/3" },
      { name: "Team", url: "/components/marketing/team/4" },
      { name: "Team", url: "/components/marketing/team/5" },
      { name: "Team", url: "/components/marketing/team/6" },
      { name: "Team", url: "/components/marketing/team/7" },
      { name: "Team", url: "/components/marketing/team/8" },
      { name: "Team", url: "/components/marketing/team/9" },
      { name: "Team", url: "/components/marketing/team/10" },
      { name: "Team", url: "/components/marketing/team/11" },
      { name: "Team", url: "/components/marketing/team/12" },
      { name: "Team", url: "/components/marketing/team/13" },
      { name: "Team", url: "/components/marketing/team/14" },
      { name: "Team", url: "/components/marketing/team/15" },
      { name: "Team", url: "/components/marketing/team/16" },
      { name: "Team", url: "/components/marketing/team/17" },
      { name: "Team", url: "/components/marketing/team/18" },
      { name: "Team", url: "/components/marketing/team/19" },
      { name: "Team", url: "/components/marketing/team/20" },
    ],
  },
  {
    category: "Blog Entries",
    items: [
      { name: "Blog Entries", url: "/components/marketing/blog-entries/1" },
      { name: "Blog Entries", url: "/components/marketing/blog-entries/2" },
      { name: "Blog Entries", url: "/components/marketing/blog-entries/3" },
      { name: "Blog Entries", url: "/components/marketing/blog-entries/4" },
      { name: "Blog Entries", url: "/components/marketing/blog-entries/5" },
      { name: "Blog Entries", url: "/components/marketing/blog-entries/6" },
      { name: "Blog Entries", url: "/components/marketing/blog-entries/7" },
      { name: "Blog Entries", url: "/components/marketing/blog-entries/8" },
      { name: "Blog Entries", url: "/components/marketing/blog-entries/9" },
      { name: "Blog Entries", url: "/components/marketing/blog-entries/10" },
    ],
  },
  {
    category: "Blog Content",
    items: [
      { name: "Blog Content", url: "/components/marketing/blog-content/1" },
      { name: "Blog Content", url: "/components/marketing/blog-content/2" },
      { name: "Blog Content", url: "/components/marketing/blog-content/3" },
      { name: "Blog Content", url: "/components/marketing/blog-content/4" },
      { name: "Blog Content", url: "/components/marketing/blog-content/5" },
    ],
  },
  {
    category: "Testimonials",
    items: [
      { name: "Testimonials", url: "/components/marketing/testimonials/1" },
      { name: "Testimonials", url: "/components/marketing/testimonials/2" },
      { name: "Testimonials", url: "/components/marketing/testimonials/3" },
      { name: "Testimonials", url: "/components/marketing/testimonials/4" },
      { name: "Testimonials", url: "/components/marketing/testimonials/5" },
      { name: "Testimonials", url: "/components/marketing/testimonials/6" },
      { name: "Testimonials", url: "/components/marketing/testimonials/7" },
      { name: "Testimonials", url: "/components/marketing/testimonials/8" },
      { name: "Testimonials", url: "/components/marketing/testimonials/9" },
      { name: "Testimonials", url: "/components/marketing/testimonials/10" },
      { name: "Testimonials", url: "/components/marketing/testimonials/11" },
      { name: "Testimonials", url: "/components/marketing/testimonials/12" },
      { name: "Testimonials", url: "/components/marketing/testimonials/13" },
      { name: "Testimonials", url: "/components/marketing/testimonials/14" },
      { name: "Testimonials", url: "/components/marketing/testimonials/15" },
      { name: "Testimonials", url: "/components/marketing/testimonials/16" },
      { name: "Testimonials", url: "/components/marketing/testimonials/17" },
      { name: "Testimonials", url: "/components/marketing/testimonials/18" },
      { name: "Testimonials", url: "/components/marketing/testimonials/19" },
      { name: "Testimonials", url: "/components/marketing/testimonials/20" },

    ],
  },
];
---

<BaseLayout>
  <section>
    <div>

      <div class="max-w-7xl mx-auto px-8 py-12 lg:py-32">
        <div
          class="grid grid-cols-1 gap-8 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6  prose-styles">
          {
            blocks.map((block) => (
              <div>
                <h2>{block.category}</h2>
                <ul>
                  {block.items.map((item, subIndex) => (
                    <li>
                      <a href={item.url}>
                        {subIndex + 1} {item.name}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
