---
import { AstroSeo } from "@astrolib/seo";
import Reviews from "@/components/landing/Reviews.astro";
import Guest from "@/components/pricing/Guest.astro";
import Team from "@/components/pricing/Team.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Included from "@/components/pricing/Included.astro";
import Individual from "@/components/pricing/Individual.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import MainHero from "@/components/fundations/containers/MainHero.astro";
import PaymentBrands from "@/components/pricing/PaymentBrands.astro";
---

<AstroSeo
  title="Oxbow UI - Pricing "
  description="Unlock permanent access to all components, elements and layouts and future additions for a one-time payment."
  canonical="https://www.oxbowui.com/pricing"
  openGraph={{
    url: "https://www.oxbowui.com/images/OpenGraph/twitter.png",
    title: "Oxbow UI - Pricing",
    description:
      "Unlock permanent access to all components, elements and layouts and future additions for a one-time payment.",
    images: [
      {
        url: "https://www.oxbowui.com/images/OpenGraph/facebook.png",
        width: 1200,
        height: 630,
        alt: "Oxbow UI",
        type: "image/png",
      },
      {
        url: "https://www.oxbowui.com/images/OpenGraph/twitter.png",
        width: 4096,
        height: 4096,
        alt: "Oxbow UI",
        type: "image/png",
      },
      { url: "https://www.oxbowui.com/images/OpenGraph/facebook.ong" },
      { url: "https://www.oxbowui.com/images/OpenGraph/twitter.png" },
    ],
    site_name: "Oxbow UI",
  }}
  twitter={{
    handle: "@Mike_Andreuzza",
    site: "https://www.oxbowui.com",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <MainHero
    title="Get lifetime access to all current and future content with a single one-time payment."
    additionalText="No subscription required"
    additionalTextClasses=" mt-2  text-base-500    "
  />
  <PaymentBrands />
  <section>
    <Wrapper variant="standard" class="border-t">
      <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
        <Team />
        <Individual />
        <Guest />
      </div>
    </Wrapper>
  </section>

  <Included />
  <Reviews />
</BaseLayout>
