---
import { AstroSeo } from "@astrolib/seo";
import Reviews from "@/components/global/Reviews.astro";
import Free from "@/components/pricing/Free.astro";
import Team from "@/components/pricing/Team.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Included from "@/components/global/Included.astro";
import Individual from "@/components/pricing/Individual.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import MainHero from "@/components/fundations/containers/MainHero.astro";
import PaymentBrands from "@/components/global/PaymentBrands.astro";
---

<AstroSeo
  title="Oxbow UI - Pricing "
  description="Unlock permanent access to all components, elements and layouts and future additions for a one-time payment."
  canonical="https://www.oxbowui.com/pricing"
  openGraph={{
    url: "https://www.oxbowui.com/images/OpenGraph/twitter.png",
    title: "Oxbow UI - Pricing",
    description:
      "Unlock permanent access to all components, elements and layouts and future additions for a one-time payment.",
    images: [
      {
        url: "https://www.oxbowui.com/images/OpenGraph/facebook.png",
        width: 1200,
        height: 630,
        alt: "Oxbow UI",
        type: "image/png",
      },
      {
        url: "https://www.oxbowui.com/images/OpenGraph/twitter.png",
        width: 4096,
        height: 4096,
        alt: "Oxbow UI",
        type: "image/png",
      },
      { url: "https://www.oxbowui.com/images/OpenGraph/facebook.ong" },
      { url: "https://www.oxbowui.com/images/OpenGraph/twitter.png" },
    ],
    site_name: "Oxbow UI",
  }}
  twitter={{
    handle: "@Mike_Andreuzza",
    site: "https://www.oxbowui.com",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <MainHero
    textCentered={true}
    title="One-time payment for lifetime access and future updates"
    additionalText="No subscription required"
    additionalTextClasses="px-2 mt-1 font-medium text-accent-600 justify-center   "
  />
  <section class="border-t border-base-200">
    <Wrapper
      variant="standard"
      class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 py-12"
    >
      <Team />
      <Individual />
      <Free />
    </Wrapper>
  </section>

  <PaymentBrands />
  <Included />
  <Reviews />
</BaseLayout>
