<section>
  <div class="px-8 py-32 mx-auto max-w-7xl lg:px-16 md:px-12">
    <div
      class="flex items-center justify-between w-full mx-auto pb-4 border-b border-gray-200">
      <nav
        aria-label="Breadcrumb"
        class="flex-1 pb-5">
        <ol
          role="list"
          class="flex items-center space-x-4 text-sm">
          <li>
            <a
              href="#_"
              class="text-sm flex items-center gap-2 font-medium text-gray-500 duration-200 hover:text-blue-600">
              <span>Home </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon size-4 icon-tabler icons-tabler-outline icon-tabler-chevron-right">
                <path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path>
                <path d="M9 6l6 6l-6 6"></path>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#_"
              class="text-sm font-medium text-blue-500 hover:text-blue-500"
              aria-current="page"
              >Help Center Overview</a
            >
          </li>
        </ol>
      </nav>
      <div class="relative">
        <li
          class="relative flex items-center"
          @click.away="open = false"
          x-data="{ open: false }">
          <button
            @click="open = !open"
            class="flex items-center text-sm text-gray-600 rounded-full hover:text-blue-500"
            aria-haspopup="true"
            aria-expanded="false">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-dots size-6"
              ><path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path><path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"
              ></path><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"
              ></path><path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"
              ></path></svg
            >
          </button>
          <div
            x-show="open"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="origin-top-center absolute left-1/2 ml-24 md:ml-0 transform p-2 -translate-x-1/2 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button">
            <div
              class="py-1"
              role="none">
              <a
                href="#"
                class="block sm:hidden px-4 py-2 rounded text-sm text-gray-700 hover:bg-gray-100 hover:text-blue-500"
                >Help Center</a
              >
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-blue-500 duration-300 rounded"
                >FAQ</a
              >
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-blue-500 duration-300 rounded"
                >Guides</a
              >
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-blue-500 duration-300 rounded"
                >Contact Support</a
              >
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-blue-500 duration-300 rounded"
                >Submit a Ticket</a
              >
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>
</section>
