<section>
  <div class="items-center px-8 py-32 mx-auto max-w-7xl lg:px-16 md:px-12">
    <div class="justify-center w-full mx-auto">
      <nav
        class="flex"
        aria-label="Breadcrumb">
        <ol
          role="list"
          class="flex items-center space-x-4">
          <li>
            <a
              href="#_"
              class="flex items-center duration-200 text-gray-500 hover:text-blue-600"
              tabindex="0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler size-5 icons-tabler-outline icon-tabler-home">
                <path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path>
                <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
              </svg>
            </a>
          </li>
          <li class="hidden sm:block">
            <a
              href="#_"
              class="flex items-center gap-2 text-sm font-medium duration-200 text-gray-500 hover:text-blue-600"
              tabindex="0">
              Help Center
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon size-4 icon-tabler icons-tabler-outline icon-tabler-chevron-right">
                <path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path>
                <path d="M9 6l6 6l-6 6"></path>
              </svg>
            </a>
          </li>
          <li
            class="relative flex items-center"
            @click.away="open = false"
            x-data="{ open: false }">
            <button
              @click="open = !open"
              class="flex items-center justify-between gap-2 text-sm rounded-full text-gray-600 hover:text-blue-500"
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="dropdown-menu"
              tabindex="0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-dots size-6">
                <path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path>
                <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon size-4 icon-tabler icons-tabler-outline icon-tabler-chevron-right">
                <path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path>
                <path d="M9 6l6 6l-6 6"></path>
              </svg>
            </button>
            <div
              id="dropdown-menu"
              x-show="open"
              x-transition:enter="transition ease-out duration-200"
              x-transition:enter-start="transform opacity-0 scale-95"
              x-transition:enter-end="transform opacity-100 scale-100"
              x-transition:leave="transition ease-in duration-75"
              x-transition:leave-start="transform opacity-100 scale-100"
              x-transition:leave-end="transform opacity-0 scale-95"
              class="absolute w-56 p-2 mt-2 ml-24 transform -translate-x-1/2 bg-white rounded-md shadow-lg origin-top-center left-1/2 md:ml-0 ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu"
              tabindex="0">
              <div
                class="py-1"
                role="none">
                <a
                  href="#"
                  class="block px-4 py-2 text-sm rounded text-gray-700 sm:hidden hover:bg-gray-100 hover:text-blue-500"
                  tabindex="0"
                  >Help Center</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm duration-300 rounded text-gray-700 hover:bg-gray-100 hover:text-blue-500"
                  tabindex="0"
                  >FAQ</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm duration-300 rounded text-gray-700 hover:bg-gray-100 hover:text-blue-500"
                  tabindex="0"
                  >Guides</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm duration-300 rounded text-gray-700 hover:bg-gray-100 hover:text-blue-500"
                  tabindex="0"
                  >Contact Support</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm duration-300 rounded text-gray-700 hover:bg-gray-100 hover:text-blue-500"
                  tabindex="0"
                  >Submit a Ticket</a
                >
              </div>
            </div>
          </li>
          <li>
            <a
              href="#_"
              class="text-sm font-medium text-blue-500 hover:text-blue-500"
              aria-current="page"
              tabindex="0"
              >Help Center Overview</a
            >
          </li>
        </ol>
      </nav>
    </div>
  </div>
</section>
