---
export const description = "Breadcrumb with buttons";
import Button from "@/components/fundations/buttons/Button.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import Home from "@/components/fundations/icons/Home.astro";
---

<section
  class="flex items-center flex-wrap gap-2 justify-center p-8 bg-white dark:bg-black h-full"
>
  <!-- copy:start -->
  <nav aria-label="Breadcrumb">
    <ol role="list" class="flex items-center space-x-2">
      <li>
        <Button
          variant="alternative"
          gap="xs"
          size="xs"
          class="dark:bg-zinc-900 dark:text-zinc-200 dark:hover:bg-zinc-800"
        >
          <Home size="base" size="sm" slot="left-icon" />
          Home
          <ChevronRight size="base" size="sm" slot="right-icon" />
        </Button>
      </li>
      <li>
        <Button
          variant="alternative"
          gap="xs"
          size="xs"
          class="dark:bg-zinc-900 dark:text-zinc-200 dark:hover:bg-zinc-800"
        >
          Work
          <ChevronRight size="base" size="sm" slot="right-icon" />
        </Button>
      </li>
      <li>
        <Button
          variant="default"
          gap="xs"
          size="xs"
          class="dark:bg-zinc-800 dark:text-zinc-200 dark:hover:bg-zinc-700"
        >
          Details
        </Button>
      </li>
    </ol>
  </nav>
  <!-- copy:end -->
</section>
