---
import Link from "@/components/fundations/typography/Link.astro";
import Home from "@/components/fundations/icons/Home.astro";
import Slash from "@/components/fundations/icons/Slash.astro";
---
<section>
  <div
    class="items-center px-8 py-12 mx-auto max-w-7xl lg:px-16 md:px-12 lg:py-24">
    <div class="justify-center w-full mx-auto">
      <nav
        aria-label="Breadcrumb"
        class="border inline-flex py-1.5 px-3.5 rounded-full shadow">
        <ol
          role="list"
          class="flex items-center space-x-2">
          <li>
            <Link
              tag="a"
              href="#_"
              variant="linkMuted"
              class="flex items-center gap-2">
              <Home size="base" />
            </Link>
          </li>
          <li>
            <Link
              tag="a"
              href="#_"
              variant="linkMuted"
              class="flex items-center gap-2">
              <span>Home</span>
              <Slash size="base" />
            </Link>
          </li>
          <li>
            <Link
              tag="a"
              href="#_"
              variant="linkMuted"
              class="flex items-center gap-2">
              <span>Work</span>
              <Slash size="base" />
            </Link>
          </li>
          <li>
            <Link
              tag="a"
              href="#_"
              variant="link"
              class="flex items-center gap-2">
              <span>Details</span>
            </Link>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</section>
