---
export const description = "Breadcrumb with outline";
import Text from "@/components/fundations/typography/Text.astro";
import Home from "@/components/fundations/icons/Home.astro";
import Slash from "@/components/fundations/icons/Slash.astro";
---

<div class="flex items-center justify-center p-6">
  <!-- copy:start -->
  <nav
    aria-label="Breadcrumb"
    class="border inline-flex py-1.5 px-3.5 rounded-lg border-zinc-200"
  >
    <ol role="list" class="flex items-center space-x-2">
      <li>
        <Text
          tag="a"
          href="#_"
          variant="textXS"
          class="flex items-center font-medium gap-2 text-zinc-500 hover:text-blue-500"
        >
          <Home size="sm" />
        </Text>
      </li>
      <li>
        <Text
          tag="a"
          href="#_"
          variant="textXS"
          class="flex items-center font-medium gap-2 text-zinc-500 hover:text-blue-500"
        >
          <span>Home</span>
          <Slash size="base" />
        </Text>
      </li>
      <li>
        <Text
          tag="a"
          href="#_"
          variant="textXS"
          class="flex items-center font-medium gap-2 text-zinc-500 hover:text-blue-500"
        >
          <span>Work</span>
          <Slash size="base" />
        </Text>
      </li>
      <li>
        <Text
          tag="a"
          href="#_"
          variant="textXS"
          class="flex items-center font-medium gap-2 text-zinc-500 hover:text-blue-500"
        >
          <span>Details</span>
        </Text>
      </li>
    </ol>
  </nav>
  <!-- copy:end -->
</div>
