---
import Text from "@/components/fundations/typography/Text.astro";
import Home from "@/components/fundations/icons/Home.astro";
import Slash from "@/components/fundations/icons/Slash.astro";
---

<section>
  <div class="items-center px-8 py-6 mx-auto max-w-7xl lg:px-16 md:px-12">
    <div class="justify-center w-full mx-auto">
      <nav
        aria-label="Breadcrumb"
        class="border inline-flex py-1.5 px-3.5 rounded-full"
      >
        <ol role="list" class="flex items-center space-x-2">
          <li>
            <Text
              tag="a"
              href="#_"
              variant="textBase"
              class="flex items-center font-medium gap-2 text-gray-500 hover:text-blue-500"
            >
              <Home size="base" />
            </Text>
          </li>
          <li>
            <Text
              tag="a"
              href="#_"
              variant="textBase"
              class="flex items-center font-medium gap-2 text-gray-500 hover:text-blue-500"
            >
              <span>Home</span>
              <Slash size="base" />
            </Text>
          </li>
          <li>
            <Text
              tag="a"
              href="#_"
              variant="textBase"
              class="flex items-center font-medium gap-2 text-gray-500 hover:text-blue-500"
            >
              <span>Work</span>
              <Slash size="base" />
            </Text>
          </li>
          <li>
            <Text
              tag="a"
              href="#_"
              variant="textBase"
              class="flex items-center font-medium gap-2 text-gray-500 hover:text-blue-500"
            >
              <span>Details</span>
            </Text>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</section>
