---
import Button from "@/components/fundations/buttons/Button.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import Home from "@/components/fundations/icons/Home.astro";
---

<section>
  <div
    class="items-center px-8 py-12 mx-auto max-w-7xl lg:px-16 md:px-12 lg:py-24">
    <div class="justify-center w-full mx-auto">
      <nav aria-label="Breadcrumb">
        <ol
          role="list"
          class="flex items-center space-x-2">
          <li>
            <Button
              variant="muted"
              gap="xs"
              size="xs">
              <Home
                size="base"
                size="sm"
                slot="left-icon"
              />
              Home
              <ChevronRight
                size="base"
                size="sm"
                slot="right-icon"
              />
            </Button>
          </li>
          <li>
            <Button
              variant="muted"
              gap="xs"
              size="xs">
              Work
              <ChevronRight
                size="base"
                size="sm"
                slot="right-icon"
              />
            </Button>
          </li>
          <li>
            <Button
              variant="default"
              gap="xs"
              size="xs">
              Details
            </Button>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</section>
