<section>
  <div
    class="items-center px-8 py-12 mx-auto max-w-7xl lg:px-16 md:px-12 lg:py-24">
    <div class="justify-center w-full mx-auto">
      <nav aria-label="Breadcrumb">
        <ol
          role="list"
          class="flex items-center space-x-2">
          <li>
            <a
              href="#_"
              class="flex items-center justify-center h-8 px-4 py-2 text-xs font-semibold text-base-500 transition-all duration-300 border border-base-300 rounded-md shadow bg-base-50 hover:text-base-700 focus:ring-2 shadow-base-500/5 focus:ring-base-900 focus:ring-offset-2 ring-offset-base-200 hover:border-base-200 hover:shadow-none gap-2"
              aria-current="false">
              <span>Home</span>
            </a>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon size-4 icon-tabler icons-tabler-outline icon-tabler-chevron-right">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M9 6l6 6l-6 6"></path>
            </svg>
          </li>
          <li>
            <a
              href="#_"
              class="flex items-center justify-center h-8 px-4 py-2 text-xs font-semibold text-base-500 transition-all duration-300 border border-base-300 rounded-md shadow bg-base-50 hover:text-base-700 focus:ring-2 shadow-base-500/5 focus:ring-base-900 focus:ring-offset-2 ring-offset-base-200 hover:border-base-200 hover:shadow-none gap-2"
              aria-current="false"
              >Work
            </a>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon size-4 icon-tabler icons-tabler-outline icon-tabler-chevron-right">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M9 6l6 6l-6 6"></path>
            </svg>
          </li>
          <li>
            <a
              href="#_"
              class="flex items-center justify-center h-8 px-4 py-2 text-xs font-semibold text-white transition-all duration-200 rounded-md shadow bg-accent-700  hover:to-accent-800 focus:ring-2 focus:ring-accent-950 focus:ring-offset-2 ring-offset-base-200 hover:shadow-none gap-2"
              aria-current="page"
              >Oxbow UI</a
            >
          </li>
        </ol>
      </nav>
    </div>
  </div>
</section>
