---
export const description = "Breadcrumb With Select Crumb";
import Text from "@/components/fundations/typography/Text.astro";
import Select from "@/components/fundations/inputs/Select.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
---

<section
  class="flex items-center justify-center p-18 bg-white dark:bg-zinc-900"
>
  <!-- copy:start -->
  <nav
    aria-label="Breadcrumb"
    x-data="{ section:'Guides' }"
    class="max-w-xl mx-auto"
  >
    <ol
      class="flex items-center gap-1 text-sm text-zinc-600 dark:text-zinc-300"
    >
      <li>
        <Text variant="textSM" tag="a" href="#_" class="hover:text-indigo-600"
          >Home</Text
        >
      </li>
      <ChevronRight size="base" class="text-zinc-400" />
      <li>
        <Text variant="textSM" tag="a" href="#_" class="hover:text-indigo-600"
          >Docs</Text
        >
      </li>
      <ChevronRight size="base" class="text-zinc-400" />
      <li class="w-40">
        <Select
          id="crumb-select"
          name="crumb-select"
          size="xs"
          xModel="section"
        >
          <option>API</option>
          <option selected>Guides</option>
          <option>Tutorials</option>
        </Select>
      </li>
    </ol>
  </nav>
  <!-- copy:end -->
</section>
