---
export const description = "Simple details with CTA";
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 mt-8 items-center">
      <!-- Product Image Gallery -->
      <img
        src="/store/shoes/airmax/1.png"
        class="size-full aspect-[16/10] object-cover object-center rounded-2xl lg:col-span-2"
        alt="Product image"
      />
      <!-- Product Details -->
      <div class="flex flex-col gap-8">
        <div>
          <Text tag="p" variant="displayXL">$190</Text>
          <Text tag="h1" variant="displaySM" class="font-medium mt-12"
            >Nike Air Max</Text
          >
          <Text tag="p" variant="textBase" class="text-base-500 mt-1">
            Black
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="text-base-500 mt-4 lg:text-balance"
          >
            Hitting the field in the late '60s, adidas airmaxS quickly became
            soccer's "it" shoe.
          </Text>
        </div>

        <!-- Action Buttons -->
        <div class="flex mt-8">
          <Button size="sm" variant="default">Add to Cart</Button>
        </div>
      </div>
    </div>
  </div>
</section>
