---
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-8">
      <!-- Product Image Gallery -->
      <img
        src="/store/shoes/airmax/1.png"
        class="size-full aspect-square object-cover object-center rounded-2xl"
        alt="Product image"
      />
      <!-- Product Details -->
      <div class="flex flex-col justify-between gap-8">
        <div>
          <div class="flex items-center justify-between">
            <Text tag="h1" variant="textXL" class="font-medium"
              >Nike Air Force 1´07 Fresh</Text
            >
            <Text tag="p" variant="textXL">$190</Text>
          </div>
          <Text tag="p" variant="textBase" class="text-base-500 mt-2">
            Black
          </Text>
          <Text tag="p" variant="textBase" class="text-base-500 mt-8">
            Hitting the field in the late '60s, adidas airmaxS quickly became
            soccer's "it" shoe. Click to find your retro-inspired adidas airmax
            TRAINERS at adidas.fi
          </Text>
        </div>

        <!-- Action Buttons -->
        <div class="flex flex-row gap-2 mt-8">
          <Button size="sm" variant="default" class="w-full">Add to Cart</Button
          >
          <Button size="sm" variant="muted" class="w-full">Buy Now</Button>
        </div>
      </div>
    </div>
  </div>
</section>
