---
export const excludeFromObfuscation = [
  "ring-2",
  "ring-zinc-900",
  "ring-offset-2",
  "ring-zinc-700",
  "bg-zinc-400",
  "ring-zinc-300",
  "bg-zinc-200",
  "ring-purple-300",
  "bg-purple-200",
  "ring-pink-300",
  "bg-pink-200",
  "ring-red-300",
  "bg-red-200",
  "ring-orange-300",
  "bg-orange-200",
  "ring-yellow-300",
  "bg-yellow-200",
  "ring-blue-300",
  "bg-blue-200",
  "ring-cyan-300",
  "bg-cyan-200",
  "ring-green-300",
  "bg-green-200",
  "ring-teal-300",
  "bg-teal-200",
  "text-blue-500",
  "group-open:-rotate-45",
];

export const description =
  "Details with image slider on a two column grid, color, size selector and accordion";

import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
const productInfo = [
  {
    title: "Details",
    description:
      "This product is crafted from high-quality materials designed for durability and comfort. It features modern design elements and is perfect for everyday use.",
  },
  {
    title: "Shipping",
    description:
      "We offer free standard shipping on all orders above $50. Express shipping options are available at checkout for an additional fee.",
  },
  {
    title: "Returns",
    description:
      "We accept returns within 30 days of purchase. Items must be in their original condition and packaging. Please visit our returns page for more details.",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="relative px-8 mx-auto md:px-12 lg:px-32 max-w-7xl py-24">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <!-- Product Image Gallery -->
      <div
        x-data="{ 
                activeImage: 0,
                images: [
                    '/store/shoes/airforcewhite/1.png',
                    '/store/shoes/airforcewhite/2.png',
                    '/store/shoes/airforcewhite/3.png',
                    '/store/shoes/airforcewhite/4.png',
                    '/store/shoes/airforcewhite/5.png',
                    '/store/shoes/airforcewhite/6.png'
                ]
            }"
        class="lg:sticky lg:top-24 lg:self-start lg:order-last"
      >
        <div class="grid grid-cols-7 gap-2">
          <!-- Thumbnails -->
          <div class="col-span-1 grid grid-cols-1 gap-2">
            <template x-for="(image, index) in images" :key="index">
              <button
                @click="activeImage = index"
                class="overflow-hidden aspect-square bg-zinc-200 dark:bg-zinc-900 rounded-2xl"
              >
                <img
                  :src="image"
                  alt="Product thumbnail"
                  class="object-cover size-full aspect-square"
                />
              </button>
            </template>
          </div>
          <!-- Main Image -->
          <div
            class="overflow-hidden col-span-6 bg-zinc-200 rounded-2xl dark:bg-zinc-800"
          >
            <img
              :src="images[activeImage]"
              class="object-cover size-full aspect-square"
              alt="Product image"
            />
          </div>
        </div>
      </div>
      <!-- Product Details -->
      <div class="flex flex-col">
        <div class="flex items-center justify-between">
          <Text tag="h1" variant="textLG" class="font-medium"
            >Nike Air Force 1´07 Fresh</Text
          >
          <Text tag="p" variant="textLG">$190</Text>
        </div>
        <Text tag="p" variant="textSM" class="mt-4 text-zinc-500">
          Hitting the field in the late '60s, adidas airforcewhiteS quickly
          became soccer's "it" shoe.
        </Text>
        <div class="mt-4 grid cols-1 md:grid-cols-2 gap-4">
          <!-- Color Selector -->
          <div x-data="{ activeColor: null }">
            <Text tag="p" variant="textXS" class="uppercase text-zinc-500">
              Color
            </Text>
            <fieldset
              aria-label="Choose a color"
              class="mt-2"
              x-data="{ 
              colors: [
                { name: ' Black', ring: 'ring-zinc-700', bg: 'bg-zinc-400' },
                { name: ' Gray', ring: 'ring-zinc-300', bg: 'bg-zinc-200' },
                { name: ' Purple', ring: 'ring-purple-300', bg: 'bg-purple-200' },
                { name: ' Pink', ring: 'ring-pink-300', bg: 'bg-pink-200' },
                { name: ' Red', ring: 'ring-red-300', bg: 'bg-red-200' },
                { name: ' Orange', ring: 'ring-orange-300', bg: 'bg-orange-200' },
                { name: ' Yellow', ring: 'ring-yellow-300', bg: 'bg-yellow-200' },
                { name: ' Blue', ring: 'ring-blue-300', bg: 'bg-blue-200' },
                { name: ' Cyan', ring: 'ring-cyan-300', bg: 'bg-cyan-200' },
                { name: ' Green', ring: 'ring-green-300', bg: 'bg-green-200' },
                { name: ' Teal', ring: 'ring-teal-300', bg: 'bg-teal-200' },
              ],
              activeColor: null 
            }"
            >
              <div class="flex flex-wrap items-center gap-3">
                <template x-for="color in colors" :key="color.name">
                  <label
                    :aria-label="color.name"
                    class="relative -m-0.5 duration-300 flex cursor-pointer items-center justify-center rounded-full p-0.5 focus:outline-none"
                    :class="{ 'ring-2 ring-offset-2 ring-zinc-900': activeColor === color.name }"
                  >
                    <input
                      type="radio"
                      name="color-choice"
                      :value="color.name"
                      class="sr-only"
                      @click="activeColor = color.name"
                    />
                    <span
                      aria-hidden="true"
                      class="rounded-full size-6 ring-1"
                      :class="`${color.ring} ${color.bg}`"></span>
                  </label>
                </template>
              </div>
            </fieldset>
          </div>
          <!-- Sizing -->
          <div
            x-data="{
              sizeSystem: 'US',
              activeSize: null,
              sizes: {
                  US: ['6', '7', '8', '9', '10', '11', '12', '13'],
                  EU: ['39', '40', '41', '42', '43', '44', '45', '46']
              }
          }"
          >
            <div class="flex items-center justify-between">
              <Text tag="p" variant="textXS" class="uppercase text-zinc-500">
                Shoe size
              </Text>
              <div>
                <label for="size-system" class="sr-only">Size System</label>
                <select
                  id="size-system"
                  x-model="sizeSystem"
                  @change="activeSize = null"
                  class="block w-auto h-8 pl-2.5 pr-8 py-2 text-xs text-zinc-900 dark:text-white duration-300 bg-white dark:bg-zinc-900 border border-transparent rounded-lg appearance-none ring-1 ring-zinc-200 dark:ring-zinc-700 placeholder-zinc-400 focus:border-zinc-300 dark:focus:border-zinc-700 focus:bg-transparent focus:outline-none focus:ring-blue-500 focus:ring-offset-2 focus:ring-2"
                >
                  <option value="US">US</option>
                  <option value="EU">EU</option>
                </select>
              </div>
            </div>
            <div
              class="mt-2 grid grid-cols-4 gap-2 divide-x divide-zinc-200 dark:divide-zinc-700"
            >
              <template x-for="size in sizes[sizeSystem]" :key="size">
                <div>
                  <input
                    type="radio"
                    :id="'size-' + size"
                    :value="size"
                    name="size-choice"
                    x-model="activeSize"
                    class="sr-only peer"
                  />
                  <label
                    :for="'size-' + size"
                    x-text="size"
                    class="flex items-center justify-center px-3 py-2 text-sm font-medium bg-white dark:bg-zinc-900 cursor-pointer ring-1 ring-zinc-200 dark:ring-zinc-700 rounded-md duration-300 peer-checked:ring-2 peer-checked:ring-zinc-900 peer-checked:text-blue-500 text-zinc-500 dark:text-zinc-200 peer-checked:ring-offset-2"
                  ></label>
                </div>
              </template>
            </div>
          </div>
        </div>

        <!-- Action Buttons -->
        <div class="flex flex-row mt-8 gap-2">
          <Button size="sm" variant="default" class="w-full">Add to Cart</Button
          >
          <Button size="sm" variant="muted" class="w-full">Buy Now</Button>
        </div>
        <!-- Free shipping notice -->
        <Text tag="p" variant="textSM" class="mt-1 text-zinc-500"
          >Free shipping over $50 if you behave</Text
        >
        <!-- Accordion sections -->
        <div
          class="mt-8 divide-y divide-zinc-200 dark:divide-zinc-700 border-y border-zinc-200 dark:border-zinc-700"
        >
          {
            productInfo.map((info) => (
              <details class="cursor-pointer group">
                <Text
                  tag="summary"
                  variant="textSM"
                  class="flex items-center justify-between w-full py-4 font-medium text-left select-none text-zinc-900 dark:text-white hover:text-blue-500 dark:hover:text-blue-400 focus:text-blue-500 dark:focus:text-blue-400"
                >
                  {info.title}
                  <Plus
                    class="duration-300 ease-out transform group-open:-rotate-45"
                    size="sm"
                  />
                </Text>
                <div class="pb-4">
                  <Text
                    tag="p"
                    variant="textSM"
                    class="text-zinc-500 dark:text-zinc-300"
                  >
                    {info.description}
                  </Text>
                </div>
              </details>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
