<div aria-hidden="true" class="grid grid-cols-3 gap-2 row-span-3">
  <div
    class="p-8 rounded-lg bg-stone-100 col-span-2 group-hover:outline-stone-500 duration-300 outline outline-transparent"
  >
  </div>
  <div
    class="p-8 rounded-lg bg-stone-100 group-hover:outline-stone-500 duration-300 outline outline-transparent"
  >
  </div>
  <div
    class="p-8 rounded-lg bg-stone-100 row-span-2 group-hover:outline-stone-500 duration-500 outline outline-transparent"
  >
  </div>
  <div
    class="p-8 rounded-lg bg-stone-100 group-hover:outline-stone-500 duration-200 outline outline-transparent"
  >
  </div>
  <div
    class="p-8 rounded-lg bg-stone-100 group-hover:outline-stone-500 duration-600 outline outline-transparent"
  >
  </div>
  <div
    class="p-8 rounded-lg bg-stone-100 col-span-2 group-hover:outline-stone-400 duration-400 outline outline-transparent"
  >
  </div>
</div>
