<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <div class="text-center max-w-xl mx-auto">
      <dl
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
      >
        <dt class="sr-only">01.01.24</dt>
        <dd>
          <time datetime="01.01.24">01.01.24</time>
        </dd>
      </dl>
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-blue-950 lg:text-5xl lg:text-balance"
      >
        Responsive web design best practices
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500 lg:text-balance">
        Learn the best practices for creating responsive web designs that
        provide a seamless user experience across all devices.
      </p>
      <div class="mt-6 flex justify-center text-left">
        <div class="relative flex items-center gap-x-4">
          <img
            src="/avatars/1.avif"
            alt="#_"
            class="size-12 rounded-full bg-gray-50 object-cover"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a href="#_">
                <span class="absolute inset-0"></span> John Doe
              </a>
            </p>
            <p class="text-xs text-gray-500">Windstatics Writter</p>
          </div>
        </div>
      </div>
    </div>
    <div class="block w-full lg:col-span-2 mt-12">
      <img
        alt="#_"
        class="shadow rounded-2xl aspect-[4/3] max-h-96 object-cover object-center w-full"
        src="https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
    </div>

    <div class="mt-12 lg:mt-24">
      <div
        class="mx-auto prose text-zinc-500 prose-a:font-semibold prose-a:text-blue-300 hover:prose-a:text-black prose-headings:text-black prose-blockquote:text-blue-400 prose-code:text-blue-400 prose-strong:text-blue-500 prose-img:rounded-3xl prose-pre:rounded-2xl"
      >
        <p>
          Responsive web design is critical in today's digital landscape, where
          users access websites from a variety of devices with different screen
          sizes and resolutions.
        </p>
        <h2>Mobile-First Approach</h2>
        <p>
          The mobile-first approach involves designing your website starting
          with the smallest screen sizes first and then gradually enhancing the
          design for larger screens. This method ensures that your site is
          accessible and functional on mobile devices, which are often the
          primary way users access the web. By prioritizing mobile design, you
          focus on the essential content and functionality, providing a solid
          foundation that can be built upon for larger screens.
        </p>
        <h3>Advantages of Mobile-First Approach</h3>
        <p>
          Designing for mobile first helps streamline content, improve
          performance, and ensure accessibility. This approach forces designers
          to focus on what's truly important, removing unnecessary elements that
          could clutter the user experience on smaller screens. Additionally, it
          typically results in faster load times and better overall performance,
          which are critical for retaining mobile users.
        </p>

        <blockquote>
          <p>Responsive web design is not a feature, it's a must.</p>
          <small>- Jeffrey Zeldman</small>
        </blockquote>
        <h2>Inclusion</h2>
        <p>
          Responsive web design is vital for providing a seamless user
          experience across all devices. By following these best practices, you
          can create a website that is both functional and visually appealing,
          regardless of the screen size. Embracing responsive design not only
          improves user satisfaction but also enhances your site's accessibility
          and performance, making it a valuable approach in today's multi-device
          world.
        </p>
      </div>
    </div>
  </div>
</section>
