---
export const freeComponent = true;
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32">
    <div class="grid grid-cols-1 gap-2 lg:items-center lg:grid-cols-2">
      <div
        class="relative flex flex-col items-center justify-center h-full p-8 overflow-hidden text-center shadow lg:py-20 bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl"
      >
        <div class="relative items-center text-balance">
          <img
            class="mx-auto h-14"
            src="/images/oxbow/oxbowLogo.png"
            alt="#_"
          />

          <Text
            tag="h3"
            variant="displayMD"
            class="mt-24 font-semibold tracking-tight text-zinc-900 dark:text-white"
          >
            Welcome to the future of collaboration
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 font-medium text-zinc-600 dark:text-zinc-400"
          >
            Instantly connect, share, and create with your team in a secure,
            dynamic environment built for innovation.
          </Text>

          <Button variant="accent" size="sm" class="mx-auto mt-8 w-fit">
            Try it now
          </Button>
        </div>
      </div>
      <div class="h-full grid grid-cols-1 gap-2 lg:grid-cols-2">
        <div
          class="relative flex flex-col justify-between h-full overflow-hidden shadow bg-linear-180 outline outline-blue-100 dark:outline-blue-800 from-blue-50 to-blue-100 dark:from-blue-800 dark:to-blue-900 rounded-xl"
        >
          <div class="relative p-8">
            <Kicker> Sync </Kicker>
            <Text
              tag="h3"
              variant="textBase"
              class="mt-4 font-medium text-zinc-900 dark:text-white"
            >
              Real-Time Sync
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
            >
              Keep your projects up to date with instant updates and seamless
              integration across all your favorite tools.
            </Text>
          </div>
          <div class="ml-8 -mb-4 lg:absolute -bottom-4 -right-8">
            <img
              class="h-full shadow rounded-l-xl"
              src="/widgets/calendar.svg"
              alt=""
            />
          </div>
        </div>
        <div
          class="h-full grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-1"
        >
          <div
            class="flex flex-col justify-between h-full shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl"
          >
            <div class="flex items-center p-8">
              <Text
                tag="span"
                variant="textBase"
                class="font-medium text-zinc-900 dark:text-white"
              >
                24/7
              </Text>
            </div>
            <div class="p-8 border-t border-zinc-200 dark:border-white/10">
              <Text
                tag="h3"
                variant="textBase"
                class="font-medium text-zinc-900 dark:text-white"
              >
                Support
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
              >
                Our expert team is always available to help you overcome
                challenges and reach your goals.
              </Text>
            </div>
          </div>
          <div
            class="flex flex-col justify-between h-full shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl"
          >
            <div class="w-full p-8">
              <Text
                tag="span"
                variant="textBase"
                class="font-medium text-zinc-900 dark:text-white"
              >
                Infinite
              </Text>
            </div>
            <div class="p-8 border-t border-zinc-200 dark:border-white/10">
              <Text
                tag="h3"
                variant="textBase"
                class="font-medium text-zinc-900 dark:text-white"
              >
                Growth
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
              >
                Unlock new opportunities and scale your business with powerful
                analytics and actionable insights.
              </Text>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
