---
import Text from "@/components/fundations/typography/Text.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32">
    <div class="grid grid-cols-1 gap-2 lg:grid-cols-2">
      <div class="h-full grid grid-cols-1 gap-2">
        <img
          src="/widgets/figmaComp.svg"
          alt="#_"
          class="object-cover shadow size-full rounded-2xl"
        />
        <div class="h-full grid grid-cols-1 gap-2 sm:grid-cols-2">
          <div class="flex flex-col gap-2">
            <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
              <img
                src="/widgets/spiral.svg"
                alt="#_"
                class="shadow size-full rounded-2xl"
              />
              <img
                src="/widgets/miniprogress.svg"
                alt="#_"
                class="shadow size-full rounded-2xl"
              />
            </div>
            <div
              class="relative flex items-center justify-center h-full p-8 overflow-hidden shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl"
            >
              <div>
                <Kicker> Creativity </Kicker>
                <Text
                  tag="h3"
                  variant="textBase"
                  class="mt-4 font-medium text-zinc-900 dark:text-white"
                >
                  Unleash Creativity
                </Text>
                <Text
                  tag="p"
                  variant="textSM"
                  class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
                >
                  Empower your team to innovate with tools designed for
                  limitless imagination and seamless collaboration.
                </Text>
              </div>
            </div>
          </div>
          <div
            class="flex flex-col justify-between h-full shadow lg:col-span-1 bg-linear-180 outline outline-blue-100 dark:outline-blue-800 from-blue-50 to-blue-100 dark:from-blue-800 dark:to-blue-900 rounded-xl"
          >
            <div class="w-full p-8">
              <Text
                tag="span"
                variant="textBase"
                class="font-medium text-zinc-900 dark:text-white"
              >
                24/7
              </Text>
            </div>
            <div class="p-8 border-t border-zinc-200 dark:border-white/10">
              <Text
                tag="h3"
                variant="textBase"
                class="font-medium text-zinc-900 dark:text-white"
              >
                Always available
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
              >
                Get support and access your resources any time, so your team can
                keep moving forward without interruption.
              </Text>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div class="h-full grid grid-cols-1 gap-2 lg:grid-cols-2">
          <div
            class="flex flex-col justify-between h-full shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl"
          >
            <div class="flex items-center p-8">
              <Text
                tag="span"
                variant="textBase"
                class="font-medium text-zinc-900 dark:text-white"
              >
                24/7
              </Text>
            </div>
            <div class="p-8 border-t border-zinc-200 dark:border-white/10">
              <Text
                tag="h3"
                variant="textBase"
                class="font-medium text-zinc-900 dark:text-white"
              >
                Support
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
              >
                Our expert team is always available to help you overcome
                challenges and reach your goals.
              </Text>
            </div>
          </div>
          <div class="flex flex-col gap-2">
            <div
              class="relative flex items-center justify-center h-full p-8 overflow-hidden shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl"
            >
              <div>
                <Kicker> Privacy </Kicker>
                <Text
                  tag="h3"
                  variant="textBase"
                  class="mt-4 font-medium text-zinc-900 dark:text-white"
                >
                  Security
                </Text>
                <Text
                  tag="p"
                  variant="textSM"
                  class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
                >
                  Protect your data with advanced encryption and robust privacy
                  controls, ensuring peace of mind for your team.
                </Text>
              </div>
            </div>
            <img
              src="/widgets/calendar.svg"
              alt="#_"
              class="shadow size-full rounded-2xl"
            />
          </div>
        </div>
        <img
          src="/widgets/figmaComp2.svg"
          alt="#_"
          class="shadow size-full rounded-2xl"
        />
      </div>
    </div>
  </div>
</section>
