---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
const data = [
  { src: "/integrations/1.svg", alt: "integration 1" },
  { src: "/integrations/2.svg", alt: "integration 2" },
  { src: "/integrations/3.svg", alt: "integration 3" },
  { src: "/integrations/4.svg", alt: "integration 4" },
  { src: "/integrations/5.svg", alt: "integration 5" },
  { src: "/integrations/6.svg", alt: "integration 6" },
  { src: "/integrations/7.svg", alt: "integration 7" },
  { src: "/integrations/8.svg", alt: "integration 8" },
  { src: "/integrations/9.svg", alt: "integration 9" },
  { src: "/integrations/10.svg", alt: "integration 10" },
  { src: "/integrations/11.svg", alt: "integration 11" },
  { src: "/integrations/12.svg", alt: "integration 12" },
  { src: "/integrations/13.svg", alt: "integration 13" },
  { src: "/integrations/14.svg", alt: "integration 14" },
  { src: "/integrations/15.svg", alt: "integration 15" },
  { src: "/integrations/16.svg", alt: "integration 16" },
  { src: "/integrations/17.svg", alt: "integration 17" },
  { src: "/integrations/18.svg", alt: "integration 18" },
  { src: "/integrations/19.svg", alt: "integration 19" },
  { src: "/integrations/20.svg", alt: "integration 20" },
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="h-full grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-4">
      <div
        class="relative flex flex-col items-center justify-center p-8 overflow-hidden text-center bg-gray-50 rounded-2xl md:col-span-2 lg:p-12"
      >
        <div class="relative items-center text-balance">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-blue-600"
          >
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="displayMD"
            class="mt-4 font-semibold text-gray-900"
          >
            Transforming the banking experience for a digital future
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 font-medium text-gray-600"
          >
            The fastest method for working together on staging and temporary
            environments.
          </Text>
          <div
            class="flex flex-wrap items-center justify-center mx-auto mt-8 gap-2"
          >
            <Button variant="accent" size="sm"> Get started </Button>
            <Button variant="alternative" size="sm"> Learn more </Button>
          </div>
        </div>
      </div>
      <div
        class="relative flex flex-col justify-between h-full overflow-hidden bg-gray-50 rounded-2xl"
      >
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-blue-600"
          >
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 font-medium text-gray-900"
          >
            Easy Integration
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-gray-500">
            Integrating with existing systems is smooth and hassle-free, thanks
            to our incredible flexible approach.
          </Text>
        </div>
        <div class="ml-8 -bottom-2 -right-8">
          <img
            class="w-full h-full shadow rounded-tl-xl"
            src="/widgets/device.svg"
            alt=""
          />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-between h-full overflow-hidden bg-gray-50 rounded-2xl"
      >
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-blue-600"
          >
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 font-medium text-gray-900"
          >
            Schedule
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-gray-500">
            Schedule your integrations effortlessly and automate tasks for
            seamless workflows.
          </Text>
        </div>
        <div class="ml-8 -bottom-2 -right-8">
          <img
            class="w-full h-full shadow rounded-tl-xl"
            src="/widgets/performance.svg"
            alt=""
          />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-between h-full overflow-hidden bg-gray-50 rounded-2xl"
      >
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-blue-600"
          >
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 font-medium text-gray-900"
          >
            Functionality
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-gray-500">
            Equipped with advanced features and tools, our solution effortlessly
            manages complex tasks and workflows.
          </Text>
        </div>
        <div class="ml-8 -bottom-2 -right-8">
          <img
            class="w-full h-full shadow rounded-tl-xl"
            src="/widgets/hits.svg"
            alt=""
          />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-between h-full overflow-hidden bg-gray-50 rounded-2xl"
      >
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-blue-600"
          >
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 font-medium text-gray-900"
          >
            Functionality
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-gray-500">
            Equipped with advanced features and tools, our solution effortlessly
            manages complex tasks and workflows.
          </Text>
        </div>
        <div class="ml-8 -bottom-2 -right-8">
          <img
            class="w-full h-full shadow rounded-tl-xl"
            src="/widgets/traffic.svg"
            alt=""
          />
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-center p-8 overflow-hidden text-center bg-gray-50 rounded-2xl md:col-span-2 lg:p-12"
      >
        <div class="flex flex-col w-full max-w-6xl gap-8">
          {/* max-w-6xl to control the maximum width */}
          {/* First row */}
          <div class="flex items-center justify-center gap-12">
            {/* Changed justify-between to justify-center and added gap */}
            {
              data
                .slice(0, 6)
                .map((item) => (
                  <img
                    class="w-auto h-12 bg-white shadow lg:h-32 rounded-2xl"
                    alt={item.alt}
                    src={item.src}
                  />
                ))
            }
          </div>
          {/* Second row */}
          <div class="flex items-center justify-center gap-12">
            {/* Added gap */}
            {
              data
                .slice(6, 12)
                .map((item) => (
                  <img
                    class="w-auto h-12 bg-white shadow lg:h-32 rounded-2xl"
                    alt={item.alt}
                    src={item.src}
                  />
                ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
