---
import Button from "@/components/fundations/buttons/Button.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
import Text from "@/components/fundations/typography/Text.astro";
const listItems = ["Revolutionizing communication", "Enhancing productivity"];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayXL"
        class="mt-4 font-semibold text-base-900 lg:text-balance">
        Transforming the banking experience for a digital future
      </Text>
      <Text
        class="mt-4 text-base-500 font-medium"
        tag="p"
        variant="textBase">
        The fastest method for working together on staging and temporary
        environments.
      </Text>
    </div>
    <div class="grid grid-cols-1 gap-2 lg:grid-cols-3 mt-12 lg:grid-rows-3">
      <div
        class="bg-base-50 text-center rounded-2xl items-center p-8 flex h-full justify-center relative overflow-hidden">
        <div>
          <img
            class="h-12 mx-auto"
            src="/images/oxbow/windLogo.png"
            alt="#_"
          />
          <Text
            tag="h3"
            variant="textXL"
            class="mt-4 text-base-900 font-medium">
            Connect your app
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 text-base-500 font-medium">
            Connection secure, fast and easy. You can disconnect at any time.
          </Text>
          <div class="mt-8 justify-center flex">
            <Button
              size="sm"
              variant="alternative"
              class="">
              See our integrations
            </Button>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <img
          src="/widgets/sliders.svg"
          alt="#_"
          class="size-full shadow rounded-2xl"
        />
        <div
          class="bg-base-50 rounded-2xl items-center p-8 flex h-full justify-center relative overflow-hidden">
          <ul
            class="space-y-1 text-base font-medium text-base-900 list-none"
            role="list">
            {
              listItems.map((item, index) => (
                <li>
                  <div class="relative flex flex-row items-start gap-4">
                    <CircleCheck
                      class="text-accent-600"
                      size="base"
                    />
                    <Text
                      tag="span"
                      variant="textBase">
                      {item}
                    </Text>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <div
        class="bg-base-50 lg:row-span-2 rounded-2xl flex flex-col h-full justify-between relative overflow-hidden">
        <div class="p-8 relative">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600">
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 text-base-900 font-medium">
            Easy Integration
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 font-medium">
            Integrating with existing systems is smooth and hassle-free, thanks
            to our incredible flexible approach.
          </Text>
        </div>
        <div class="-bottom-2 -right-8 ml-8">
          <img
            class="rounded-tl-xl shadow h-full w-full"
            src="/widgets/device.svg"
            alt=""
          />
        </div>
      </div>

      <div
        class="bg-base-50 rounded-2xl flex flex-col lg:row-span-2 h-full justify-between relative overflow-hidden">
        <div class="p-8 relative">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600">
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 text-base-900 font-medium">
            Schedule
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 font-medium">
            Schedule your integrations effortlessly and automate tasks for
            seamless workflows.
          </Text>
        </div>
        <div class="-bottom-2 -right-8 ml-8">
          <img
            class="rounded-tl-xl shadow h-full w-full"
            src="/widgets/activity.svg"
            alt=""
          />
        </div>
      </div>
      <div
        class="bg-base-50 text-center rounded-2xl items-center p-8 flex h-full justify-center relative overflow-hidden">
        <div>
          <img
            class="h-12 mx-auto"
            src="/images/oxbow/windLogo.png"
            alt="#_"
          />
          <Text
            tag="h3"
            variant="textXL"
            class="mt-4 text-base-900 font-medium">
            Connect your app
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 text-base-500 font-medium">
            Connection secure, fast and easy. You can disconnect at any time.
          </Text>
          <div class="mt-8 justify-center flex">
            <Button
              size="sm"
              variant="alternative"
              class="">
              See our integrations
            </Button>
          </div>
        </div>
      </div>
      <div
        class="bg-base-50 relative p-8 rounded-2xl md:col-span-2 text-center flex flex-col justify-center items-center lg:p-12 overflow-hidden">
        <div class="relative items-center text-balance">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600">
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="displayMD"
            class="mt-4 text-base-900 font-semibold">
            Transforming the banking experience for a digital future
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 text-base-600 font-medium">
            The fastest method for working together on staging and temporary
            environments.
          </Text>
          <div
            class="flex flex-wrap justify-center items-center gap-2 mx-auto mt-8">
            <Button
              variant="accent"
              size="sm">
              Get started
            </Button>
            <Button
              variant="alternative"
              size="sm">
              Learn more
            </Button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
