---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayXL"
        class="mt-4 font-semibold text-base-900 lg:text-balance"
      >
        Transforming the banking experience for a digital future
      </Text>
      <Text class="mt-4 font-medium text-base-500" tag="p" variant="textBase">
        The fastest method for working together on staging and temporary
        environments.
      </Text>
    </div>
    <div class="mt-12 grid grid-cols-1 md:grid-cols-4 gap-2 lg:grid-cols-6">
      <!-- Large box spanning 2x2 -->
      <div
        class="flex flex-col justify-between h-full overflow-hidden bg-gray-50 rounded-2xl md:col-span-2 md:row-span-2"
      >
        <div class="mx-8 -top-2">
          <img
            class="w-full h-full shadow rounded-b-xl"
            src="/widgets/activity.svg"
            alt=""
          />
        </div>
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600"
          >
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 font-medium text-base-900"
          >
            Easy Integration
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-base-500">
            Integrating with existing systems is smooth and hassle-free, thanks
            to our incredible flexible approach.
          </Text>
        </div>
      </div>

      <!-- Tall box spanning 3 rows -->
      <img
        class="shadow rounded-2xl size-full"
        src="/widgets/hits.svg"
        alt="#_"
      />

      <!-- Regular box -->
      <img
        class="shadow rounded-2xl md:row-span-1 lg:row-span-1 size-full"
        src="/widgets/device.svg"
        alt="#_"
      />

      <!-- Wide box spanning 2 columns -->
      <div
        class="relative flex flex-col justify-center h-full p-8 overflow-hidden text-center bg-base-50 rounded-2xl md:col-span-2"
      >
        <div>
          <img
            class="h-12 mx-auto"
            src="/images/oxbow/oxbowLogo.png"
            alt="#_"
          />
          <Text
            tag="h3"
            variant="textXL"
            class="mt-4 font-medium text-base-900"
          >
            Connect your app
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 font-medium text-base-500"
          >
            Connection secure, fast and easy. You can disconnect at any time.
          </Text>
          <div class="flex justify-center mt-8">
            <Button size="sm" variant="alternative" class="">
              See our integrations
            </Button>
          </div>
        </div>
      </div>

      <!-- Tall box spanning 2 rows -->
      <div
        class="flex flex-col justify-between h-full overflow-hidden bg-gray-50 rounded-2xl md:row-span-2 lg:col-span-2"
      >
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600"
          >
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 font-medium text-base-900"
          >
            Easy Integration
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-base-500">
            Integrating with existing systems is smooth and hassle-free, thanks
            to our incredible flexible approach.
          </Text>
        </div>
        <div class="mx-8 -bottom-2">
          <img
            class="w-full h-full shadow rounded-t-xl"
            src="/widgets/activity.svg"
            alt=""
          />
        </div>
      </div>

      <!-- Regular boxes -->
      <div
        class="flex flex-col justify-between h-full overflow-hidden bg-gray-50 rounded-2xl md:row-span-2 lg:col-span-2"
      >
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600"
          >
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 font-medium text-base-900"
          >
            Schedule
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-base-500">
            Schedule your integrations effortlessly and automate tasks for
            seamless workflows.
          </Text>
        </div>
        <div class="mx-8 -bottom-2 -">
          <img
            class="w-full h-full shadow rounded-t-xl"
            src="/widgets/report.svg"
            alt=""
          />
        </div>
      </div>
      <img
        src="/widgets/progressCircles.svg"
        alt="#_"
        class="shadow size-full rounded-2xl lg:col-span-2"
      />

      <!-- Wide box spanning 3 columns -->
      <div
        class="relative flex flex-col justify-center h-full overflow-hidden bg-base-50 rounded-2xl md:col-span-3"
      >
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600"
          >
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 font-medium text-base-900"
          >
            Persistence
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-base-500">
            Spotless will remember all your changes to every element so you can
            copy all changes at once!
          </Text>
        </div>
      </div>

      <!-- Regular boxes -->
      <div class="p-8 bg-gray-50 rounded-2xl lg:col-span-2">
        <Text
          tag="p"
          variant="textXS"
          class="font-bold uppercase text-accent-600"
        >
          Tagline
        </Text>
        <Text tag="h3" variant="textLG" class="mt-4 font-medium text-base-900">
          Schedule
        </Text>
        <Text tag="p" variant="textSM" class="mt-2 font-medium text-base-500">
          Schedule your integrations effortlessly and automate tasks for
          seamless workflows.
        </Text>
      </div>
      <img
        src="/widgets/calendar.svg"
        alt="#_"
        class="shadow size-full rounded-2xl col-span-full lg:col-span-1"
      />
    </div>
  </div>
</section>
