---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-2 lg:grid-cols-6">
      <div
        class="flex flex-col justify-between h-full overflow-hidden shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl md:col-span-2 md:row-span-2"
      >
        <div class="mx-8 -top-2">
          <img
            class="w-full h-full shadow rounded-b-xl"
            src="/widgets/activity.svg"
            alt=""
          />
        </div>
        <div class="relative p-8">
          <Kicker> Integration </Kicker>
          <Text
            tag="h3"
            variant="textBase"
            class="mt-4 font-medium text-zinc-900 dark:text-white"
          >
            Effortless integration
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Connect your favorite tools in seconds and keep your workflow
            unified and simple.
          </Text>
        </div>
      </div>
      <img
        class="object-cover object-left shadow rounded-2xl size-full"
        src="/widgets/hits.svg"
        alt="#_"
      />

      <img
        class="object-cover object-left shadow rounded-2xl md:row-span-1 lg:row-span-1 size-full"
        src="/widgets/device.svg"
        alt="#_"
      />
      <div
        class="relative flex flex-col justify-center h-full p-8 overflow-hidden text-center shadow bg-linear-180 outline outline-blue-100 dark:outline-blue-800 from-blue-50 to-blue-100 dark:from-blue-800 dark:to-blue-900 rounded-xl md:col-span-2"
      >
        <div>
          <img
            class="h-12 mx-auto"
            src="/images/oxbow/oxbowLogo.png"
            alt="#_"
          />
          <Text
            tag="h3"
            variant="textXL"
            class="mt-4 font-medium text-zinc-900 dark:text-white"
          >
            Connect your app
          </Text>
          <Text
            tag="p"
            variant="textzinc"
            class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Connection secure, fast and easy. You can disconnect at any time.
          </Text>
          <div class="flex justify-center mt-8">
            <Button size="sm" variant="muted" class="">
              See our integrations
            </Button>
          </div>
        </div>
      </div>

      <div
        class="flex flex-col justify-between h-full overflow-hidden shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl md:row-span-2 lg:col-span-2"
      >
        <div class="relative p-8">
          <Kicker> Experience </Kicker>
          <Text
            tag="h3"
            variant="textBase"
            class="mt-4 font-medium text-zinc-900 dark:text-white"
          >
            Unified experience
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Enjoy a seamless journey across all your apps and devices, with
            everything working together.
          </Text>
        </div>
        <div class="mx-8 -bottom-2">
          <img
            class="w-full h-full shadow rounded-t-xl"
            src="/widgets/activity.svg"
            alt=""
          />
        </div>
      </div>

      <div
        class="flex flex-col justify-between h-full overflow-hidden shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl md:row-span-2 lg:col-span-2"
      >
        <div class="relative p-8">
          <Kicker> Scheduling </Kicker>
          <Text
            tag="h3"
            variant="textBase"
            class="mt-4 font-medium text-zinc-900 dark:text-white"
          >
            Smart scheduling
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Let automation handle your calendar and reminders, so you can focus
            on what matters most.
          </Text>
        </div>
        <div class="mx-8 -bottom-2 -">
          <img
            class="w-full h-full shadow rounded-t-xl"
            src="/widgets/report.svg"
            alt=""
          />
        </div>
      </div>
      <img
        src="/widgets/progressCircles.svg"
        alt="#_"
        class="shadow size-full rounded-2xl lg:col-span-2"
      />

      <div
        class="p-8 shadow bg-linear-180 outline outline-blue-100 dark:outline-blue-800 from-blue-50 to-blue-100 dark:from-blue-800 dark:to-blue-900 rounded-xl lg:col-span-3"
      >
        <Text
          tag="h3"
          variant="textBase"
          class="font-medium text-zinc-900 dark:text-white"
        >
          Always in sync
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
        >
          All your changes are saved automatically, so you never lose your
          progress or momentum.
        </Text>
      </div>

      <div
        class="p-8 shadow bg-linear-180 outline outline-blue-100 dark:outline-blue-800 from-blue-50 to-blue-100 dark:from-blue-800 dark:to-blue-900 rounded-xl lg:col-span-3"
      >
        <Text
          tag="h3"
          variant="textBase"
          class="font-medium text-zinc-900 dark:text-white"
        >
          Plan your day
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
        >
          Stay organized and ahead with smart scheduling and automated reminders
          for every task.
        </Text>
      </div>
    </div>
  </div>
</section>
