---
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="p-8">
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto">
    <div class="h-full grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-4">
      <div
        class="relative flex flex-col justify-between h-full overflow-hidden bg-zinc-50 rounded-2xl"
      >
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-blue-600"
          >
            Tagline
          </Text>
          <Text tag="h3" variant="textLG" class="mt-4 font-medium text-zinc-900">
            Easy Integration
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-zinc-500">
            Integrating with existing systems is smooth and hassle-free, thanks to
            our incredible flexible approach.
          </Text>
        </div>
        <div class="mx-8 -bottom-2">
          <img
            class="w-full h-full shadow rounded-t-xl"
            src="/widgets/device.svg"
            alt=""
          />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-between h-full overflow-hidden bg-zinc-50 rounded-2xl"
      >
        <div class="mx-8 -top-2">
          <img
            class="w-full h-full shadow rounded-b-xl"
            src="/widgets/weather.svg"
            alt=""
          />
        </div>
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-blue-600"
          >
            Tagline
          </Text>
          <Text tag="h3" variant="textLG" class="mt-4 font-medium text-zinc-900">
            Persistence
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-zinc-500">
            Spotless will remember all your changes to every element so you can
            copy all changes at once!
          </Text>
        </div>
      </div>
      <div
        class="relative flex flex-col justify-between h-full overflow-hidden bg-zinc-50 rounded-2xl"
      >
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-blue-600"
          >
            Tagline
          </Text>
          <Text tag="h3" variant="textLG" class="mt-4 font-medium text-zinc-900">
            Functionality
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-zinc-500">
            Equipped with advanced features and tools, our solution effortlessly
            manages complex tasks and workflows.
          </Text>
        </div>
        <div class="mx-8 -bottom-2">
          <img
            class="w-full h-full shadow rounded-t-xl"
            src="/widgets/hits.svg"
            alt=""
          />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-between h-full overflow-hidden bg-zinc-50 rounded-2xl"
      >
        <div class="mx-8 -top-2">
          <img
            class="w-full h-full shadow rounded-b-xl"
            src="/widgets/locked.svg"
            alt=""
          />
        </div>
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-blue-600"
          >
            Tagline
          </Text>
          <Text tag="h3" variant="textLG" class="mt-4 font-medium text-zinc-900">
            Easy navigation
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-zinc-500">
            Hover over any element to see its Tailwind classes. Press Space to
            easily pin and edit your settings.
          </Text>
        </div>
      </div>
      <div
        class="relative flex flex-col justify-between h-full overflow-hidden bg-zinc-50 rounded-2xl"
      >
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-blue-600"
          >
            Tagline
          </Text>
          <Text tag="h3" variant="textLG" class="mt-4 font-medium text-zinc-900">
            Hide/show classes
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-zinc-500">
            Hide or show classes to see how your design changes.
          </Text>
        </div>
        <div class="mx-8 -bottom-2">
          <img
            class="w-full h-full shadow rounded-t-xl"
            src="/widgets/traffic.svg"
            alt=""
          />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-between h-full overflow-hidden bg-zinc-50 rounded-2xl"
      >
        <div class="mx-8 -top-2">
          <img
            class="w-full h-full shadow rounded-b-xl"
            src="/widgets/calendar.svg"
            alt=""
          />
        </div>
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-blue-600"
          >
            Tagline
          </Text>
          <Text tag="h3" variant="textLG" class="mt-4 font-medium text-zinc-900">
            Innovative Design
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-zinc-500">
            Our cutting-edge design offers a fresh, modern look that transforms
            your project into a standout experience
          </Text>
        </div>
      </div>
      <div
        class="relative flex flex-col justify-between h-full overflow-hidden bg-zinc-50 rounded-2xl"
      >
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-blue-600"
          >
            Tagline
          </Text>
          <Text tag="h3" variant="textLG" class="mt-4 font-medium text-zinc-900">
            Schedule
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-zinc-500">
            Schedule your integrations effortlessly and automate tasks for
            seamless workflows.
          </Text>
        </div>
        <div class="mx-8 -bottom-2">
          <img
            class="w-full h-full shadow rounded-t-xl"
            src="/widgets/performance.svg"
            alt=""
          />
        </div>
      </div>
      <div
        class="relative flex flex-col justify-between h-full overflow-hidden bg-zinc-50 rounded-2xl"
      >
        <div class="mx-8 -top-2">
          <img
            class="w-full h-full shadow rounded-b-xl"
            src="/widgets/miniprogress.svg"
            alt=""
          />
        </div>
        <div class="relative p-8">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-blue-600"
          >
            Tagline
          </Text>
          <Text tag="h3" variant="textLG" class="mt-4 font-medium text-zinc-900">
            Communication
          </Text>
          <Text tag="p" variant="textSM" class="mt-2 font-medium text-zinc-500">
            Unlocking innovative solutions that enhance connectivity and
            streamline interactions.
          </Text>
        </div>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
