---
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayXL"
        class="mt-4 font-semibold text-base-900 lg:text-balance">
        Transforming the banking experience for a digital future
      </Text>
      <Text
        class="mt-4 text-base-500 font-medium"
        tag="p"
        variant="textBase">
        The fastest method for working together on staging and temporary
        environments.
      </Text>
    </div>
    <div
      class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-4 h-full mt-12">
      <div
        class="bg-base-50 rounded-2xl flex flex-col h-full justify-between relative overflow-hidden">
        <div class="p-8 relative">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600">
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 text-base-900 font-medium">
            Easy Integration
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 font-medium">
            Integrating with existing systems is smooth and hassle-free, thanks
            to our incredible flexible approach.
          </Text>
        </div>
        <div class="-bottom-2 mx-8">
          <img
            class="rounded-t-xl shadow h-full w-full"
            src="/widgets/device.svg"
            alt=""
          />
        </div>
      </div>
      <div
        class="bg-base-50 rounded-2xl flex flex-col h-full justify-between relative overflow-hidden">
        <div class="-top-2 mx-8">
          <img
            class="rounded-b-xl shadow h-full w-full"
            src="/widgets/weather.svg"
            alt=""
          />
        </div>
        <div class="p-8 relative">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600">
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 text-base-900 font-medium">
            Persistence
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 font-medium">
            Spotless will remember all your changes to every element so you can
            copy all changes at once!
          </Text>
        </div>
      </div>
      <div
        class="bg-base-50 rounded-2xl flex flex-col h-full justify-between relative overflow-hidden">
        <div class="p-8 relative">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600">
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 text-base-900 font-medium">
            Functionality
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 font-medium">
            Equipped with advanced features and tools, our solution effortlessly
            manages complex tasks and workflows.
          </Text>
        </div>
        <div class="-bottom-2 mx-8">
          <img
            class="rounded-t-xl shadow h-full w-full"
            src="/widgets/hits.svg"
            alt=""
          />
        </div>
      </div>
      <div
        class="bg-base-50 rounded-2xl flex flex-col h-full justify-between relative overflow-hidden">
        <div class="-top-2 mx-8">
          <img
            class="rounded-b-xl shadow h-full w-full"
            src="/widgets/locked.svg"
            alt=""
          />
        </div>
        <div class="p-8 relative">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600">
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 text-base-900 font-medium">
            Easy navigation
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 font-medium">
            Hover over any element to see its Tailwind classes. Press Space to
            easily pin and edit your settings.
          </Text>
        </div>
      </div>
      <div
        class="bg-base-50 rounded-2xl flex flex-col h-full justify-between relative overflow-hidden">
        <div class="p-8 relative">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600">
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 text-base-900 font-medium">
            Hide/show classes
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 font-medium">
            Hide or show classes to see how your design changes.
          </Text>
        </div>
        <div class="-bottom-2 mx-8">
          <img
            class="rounded-t-xl shadow h-full w-full"
            src="/widgets/traffic.svg"
            alt=""
          />
        </div>
      </div>
      <div
        class="bg-base-50 rounded-2xl flex flex-col h-full justify-between relative overflow-hidden">
        <div class="-top-2 mx-8">
          <img
            class="rounded-b-xl shadow h-full w-full"
            src="/widgets/calendar.svg"
            alt=""
          />
        </div>
        <div class="p-8 relative">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600">
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 text-base-900 font-medium">
            Innovative Design
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 font-medium">
            Our cutting-edge design offers a fresh, modern look that transforms
            your project into a standout experience
          </Text>
        </div>
      </div>
      <div
        class="bg-base-50 rounded-2xl flex flex-col h-full justify-between relative overflow-hidden">
        <div class="p-8 relative">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600">
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 text-base-900 font-medium">
            Schedule
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 font-medium">
            Schedule your integrations effortlessly and automate tasks for
            seamless workflows.
          </Text>
        </div>
        <div class="-bottom-2 mx-8">
          <img
            class="rounded-t-xl shadow h-full w-full"
            src="/widgets/performance.svg"
            alt=""
          />
        </div>
      </div>
      <div
        class="bg-base-50 rounded-2xl flex flex-col h-full justify-between relative overflow-hidden">
        <div class="-top-2 mx-8">
          <img
            class="rounded-b-xl shadow h-full w-full"
            src="/widgets/miniprogress.svg"
            alt=""
          />
        </div>
        <div class="p-8 relative">
          <Text
            tag="p"
            variant="textXS"
            class="font-bold uppercase text-accent-600">
            Tagline
          </Text>
          <Text
            tag="h3"
            variant="textLG"
            class="mt-4 text-base-900 font-medium">
            Communication
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 text-base-500 font-medium">
            Unlocking innovative solutions that enhance connectivity and
            streamline interactions.
          </Text>
        </div>
      </div>
    </div>
  </div>
</section>
