<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <dl class="grid grid-cols-1 gap-px  border bg-zinc-200  rounded-2xl  overflow-hidden  sm:grid-cols-2 md:grid-cols-4 text-center">
      <div
        x-data="{ count: 0, target: 30, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
        x-intersect.once="counter()"
        class="flex flex-col p-8 bg-zinc-50">
        <dt
          class="mt-4 tracking-tight text-lg font-medium  text-gray-900">
          Working Individuals
        </dt>
        <dd
          x-text="`${count}%`"
          class="order-first text-5xl font-normal font-mono text-blue-600">
        </dd>
      </div>
      <div
        x-data="{ count: 0, target: 40, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
        x-intersect.once="counter()"
        class="flex flex-col p-8 bg-zinc-50">
        <dt
          class="mt-4 tracking-tight text-lg font-medium  text-gray-900">
          Super low fee
        </dt>
        <dd
          x-text="`${count}%`"
          class="order-first text-5xl font-normal font-mono text-blue-600">
        </dd>
      </div>
      <div
        x-data="{ count: 0, target: 50, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
        x-intersect.once="counter()"
        class="flex flex-col p-8 bg-zinc-50">
        <dt
          class="mt-4 tracking-tight text-lg font-medium  text-gray-900">
          Great Commitment
        </dt>
        <dd
          x-text="`${count}%`"
          class="order-first text-5xl font-normal font-mono text-blue-600">
        </dd>
      </div>
      <div
        x-data="{ count: 0, target: 60000000, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1000000; } else { clearInterval(interval); this.count = this.target; } }, 50); } }"
        x-intersect.once="counter()"
        class="flex flex-col p-8 bg-zinc-50">
        <dt
          class="mt-4 tracking-tight text-lg font-medium  text-gray-900">
          Massive Earnings
        </dt>
        <dd
          x-text="`${(count / 1000000) % 1 === 0 ? (count / 1000000) : (count / 1000000).toFixed(1)}M`"
          class="order-first text-5xl font-normal font-mono text-blue-600">
        </dd>
      </div>
    </dl>
  </div>
</section>
