<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 gap-y-12 lg:grid-cols-3 lg:items-center">
      <div class="flex flex-col h-full justify-between">
        <div class="text-center lg:text-left">
          <span class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase">Tagline</span>
          <h1
            class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
            Empower your finances with our unmatched value
          </h1>
          <p class="text-base font-medium mt-4 text-gray-500 lg:text-balance">
            Experience low fees, unwavering commitment, and massive earnings
            with a service trusted by over 60 million users.
          </p>
        </div>
        <div class="flex flex-wrap items-center justify-center lg:justify-start gap-2 ">
          <button
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
            aria-label="Action">
            Get started
          </button>
          <button
            class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all bg-gray-50 border border-gray-300 rounded-lg hover:text-gray-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 duration-300 hover:border-gray-200    hover:shadow-none"
            aria-label="Action">
            Learn more
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M9 6l6 6l-6 6"></path>
            </svg>
          </button>
        </div>
      </div>
      <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2">
        <div
          x-data="{ count: 0, target: 30, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
          x-intersect.once="counter()"
          class="flex flex-col bg-gray-50 p-8 rounded-3xl">
          <dt class="mt-4">
            <p class="tracking-tight text-lg font-medium  text-gray-900">
              Working Individuals
            </p>
            <p class="text-sm text-gray-500 text-pretty mt-2">
              We’re dedicated to delivering outstanding service and value.
            </p>
          </dt>
          <dd
            x-text="`${count}%`"
            class="order-first text-5xl font-normal font-mono text-blue-600">
          </dd>
        </div>
        <div
          x-data="{ count: 0, target: 40, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
          x-intersect.once="counter()"
          class="flex flex-col bg-gray-50 p-8 rounded-3xl">
          <dt class="mt-4">
            <p class="tracking-tight text-lg font-medium  text-gray-900">
              Super low fee
            </p>
            <p class="text-sm text-gray-500 text-pretty mt-2">
              Enjoy significant savings with our extremely low fee structure.
            </p>
          </dt>
          <dd
            x-text="`${count}%`"
            class="order-first text-5xl font-normal font-mono text-blue-600">
          </dd>
        </div>
        <div
          x-data="{ count: 0, target: 50, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
          x-intersect.once="counter()"
          class="flex flex-col bg-gray-50 p-8 rounded-3xl">
          <dt class="mt-4">
            <p class="tracking-tight text-lg font-medium  text-gray-900">
              Massive Earnings
            </p>
            <p class="text-sm text-gray-500 text-pretty mt-2">
              Reap the benefits with substantial returns .
            </p>
          </dt>
          <dd
            x-text="`${count}%`"
            class="order-first text-5xl font-normal font-mono text-blue-600">
          </dd>
        </div>
        <div
          x-data="{ count: 0, target: 60000000, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1000000; } else { clearInterval(interval); this.count = this.target; } }, 50); } }"
          x-intersect.once="counter()"
          class="flex flex-col bg-gray-50 p-8 rounded-3xl">
          <dt class="mt-4">
            <p class="tracking-tight text-lg font-medium  text-gray-900">
              Growing Impact
            </p>
            <p class="text-sm text-gray-500 text-pretty mt-2">
              Join 60 million satisfied users who trust our services.
            </p>
          </dt>
          <dd
            x-text="`${(count / 1000000) % 1 === 0 ? (count / 1000000) : (count / 1000000).toFixed(1)}M`"
            class="order-first text-5xl font-normal font-mono text-blue-600">
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>
