<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid items-center grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24">
      <div class="block w-full">
        <img
          alt="#_"
          class="drop-shadow w-full h-full aspect-square rounded-2xl"
          src="/people/1w.jpg"
        />
      </div>
      <div>
        <dl class="grid grid-cols-1 gap-x-2 gap-y-6 mt-12 sm:grid-cols-2">
          <div
            x-data="{ count: 0, target: 30, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
            x-intersect.once="counter()"
            class="flex flex-col">
            <dt class="mt-4">
              <p
                class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
                Working Individuals
              </p>
              <p class="text-sm text-gray-500 text-pretty mt-2">
                We’re dedicated to delivering outstanding service and value.
              </p>
            </dt>
            <dd
              x-text="`${count}%`"
              class="order-first text-5xl font-normal font-mono text-blue-600">
            </dd>
          </div>
          <div
            x-data="{ count: 0, target: 40, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
            x-intersect.once="counter()"
            class="flex flex-col">
            <dt class="mt-4">
              <p
                class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
                super Low Fee
              </p>
              <p class="text-sm text-gray-500 text-pretty mt-2">
                Enjoy significant savings with our extremely low fee structure.
              </p>
            </dt>
            <dd
              x-text="`${count}%`"
              class="order-first text-5xl font-normal font-mono text-blue-600">
            </dd>
          </div>
          <div
            x-data="{ count: 0, target: 50, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
            x-intersect.once="counter()"
            class="flex flex-col">
            <dt class="mt-4">
              <p
                class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
                Massive Earnings
              </p>
              <p class="text-sm text-gray-500 text-pretty mt-2">
                Reap the benefits with substantial returns .
              </p>
            </dt>
            <dd
              x-text="`${count}%`"
              class="order-first text-5xl font-normal font-mono text-blue-600">
            </dd>
          </div>
          <div
            x-data="{ count: 0, target: 60000000, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1000000; } else { clearInterval(interval); this.count = this.target; } }, 50); } }"
            x-intersect.once="counter()"
            class="flex flex-col">
            <dt class="mt-4">
              <p
                class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
                Growing Impact
              </p>
              <p class="text-sm text-gray-500 text-pretty mt-2">
                Join 60 million satisfied users who trust our services.
              </p>
            </dt>
            <dd
              x-text="`${(count / 1000000) % 1 === 0 ? (count / 1000000) : (count / 1000000).toFixed(1)}M`"
              class="order-first text-5xl font-normal font-mono text-blue-600">
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
