<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl relative">

    <dl
      class="grid grid-cols-1  gap-4 sm:grid-cols-2 md:grid-cols-3 rounded-3xl">
      <div
        lg:col-span-2
        x-data="{ count: 0, target: 30, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
        x-intersect.once="counter()"
        class="flex flex-col lg:col-span-2 bg-blue-950 rounded-2xl">
        <dt class="border-t p-8 border-white/20">
          <p
            class="font-mono uppercase tracking-tighter text-sm font-medium text-white">
            Working Individuals
          </p>
          <p class="text-sm text-zinc-200 text-pretty mt-2">
            We’re dedicated to delivering outstanding service and value.
          </p>
        </dt>
        <dd
          x-text="`${count}%`"
          class="order-first text-5xl font-normal font-mono text-white p-8">
        </dd>
      </div>
      <div
        lg:col-span-2
        x-data="{ count: 0, target: 40, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
        x-intersect.once="counter()"
        class="flex flex-col lg:col-span-1 bg-gray-50 rounded-2xl">
        <dt class="border-t p-8">
          <p
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            super Low Fee
          </p>
          <p class="mt-2 text-sm text-gray-500 text-pretty">
            Enjoy significant savings with our extremely low fee structure.
          </p>
        </dt>
        <dd
          x-text="`${count}%`"
          class="order-first text-5xl font-normal font-mono text-blue-600 p-8">
        </dd>
      </div>
      <div
        x-data="{ count: 0, target: 50, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
        x-intersect.once="counter()"
        class="flex flex-col p bg-gray-50 rounded-2xl">
        <dt class="p-8 border-t">
          <p
            class="font-mono uppercase tracking-tighter text-sm font-medium text-gray-900">
            Massive Earnings
          </p>
          <p class="mt-2 text-sm text-gray-500 text-pretty">
            Reap the benefits with substantial returns.
          </p>
        </dt>
        <dd
          x-text="`${count}%`"
          class="order-first text-5xl font-normal font-mono text-blue-600 p-8">
        </dd>
      </div>
      <div
        x-data="{ count: 0, target: 60000000, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1000000; } else { clearInterval(interval); this.count = this.target; } }, 50); } }"
        x-intersect.once="counter()"
        class="flex flex-col lg:col-span-2 bg-blue-600 rounded-2xl">
        <dt class="border-t border-white/20 p-8">
          <p
            class="font-mono uppercase tracking-tighter text-sm font-medium text-white">
            Growing Impact
          </p>
          <p class="text-sm text-gray-200 text-pretty mt-2">
            Join 60 million satisfied users who trust our services.
          </p>
        </dt>
        <dd
          x-text="`${(count / 1000000) % 1 === 0 ? (count / 1000000) : (count / 1000000).toFixed(1)}M`"
          class="order-first text-5xl font-normal font-mono text-white p-8">
        </dd>
      </div>
    </dl>
  </div>
</section>
