<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 items-end">
      <div
        class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 sm:w-3/4 sm:max-w-md sm:flex-row-reverse sm:items-end lg:w-72 lg:max-w-none lg:flex-none lg:flex-col lg:items-start">
        <div>
          <span
            class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >Your tagline</span
          >
          <h1
            class="text-3xl mt-4 font-semibold tracking-tight text-gray-900  sm:text-balance">
            Empower your finances with our unmatched value
          </h1>
          <p class="text-base font-medium mt-4 text-gray-500 sm:text-balance">
            Experience low fees, unwavering commitment, and massive earnings
            with a service trusted by over 60 million users.
          </p>
        </div>
      </div>
      <div
        x-data="{ count: 0, target: 50, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
        x-intersect.once="counter()"
        class="flex justify-between rounded-3xl bg-blue-600 flex-col lg:gap-28">
        <span
          x-text="`${count}B`"
          class="text-5xl font-normal font-mono text-white p-8 order-last border-t w-full border-white/20">
        </span>
        <div class="sm:shrink lg:flex-none p-8">
          <p
            class="font-mono uppercase tracking-tighter text-sm font-medium text-white">
            Massive Earnings
          </p>
          <p class="text-sm text-gray-200 text-pretty mt-2">
            Reap the benefits with substantial returns .
          </p>
        </div>
      </div>
      <div
        x-data="{ count: 0, target: 40, counter() { let interval = setInterval(() => { if (this.count < this.target) { this.count += 1; } else { clearInterval(interval); } }, 50); } }"
        x-intersect.once="counter()"
        class="flex justify-between rounded-3xl bg-blue-950 flex-col lg:gap-44">
        <span
          x-text="`${count}M`"
          class="text-5xl font-normal font-mono text-white p-8 order-last border-t border-white/20 w-full">
        </span>
        <div class="sm:shrink lg:flex-none p-8">
          <p
            class="font-mono uppercase tracking-tighter text-sm font-medium text-white">
            super Low Fee
          </p>
          <p class="text-sm text-gray-200 text-pretty mt-2">
            Enjoy significant savings with our extremely low fee structure.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
