---
export const freeComponent = true;
import Text from "@/components/fundations/typography/Text.astro";
const stats = [
  {
    label: "Working Individuals",
    value: "30%",
  },
  {
    label: "Super low fee",
    value: "40%",
  },
  {
    label: "Great Commitment",
    value: "50%",
  },
  {
    label: "Massive Earnings",
    value: "60M",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div
    class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24 flex items-center justify-center"
  >
    <div class="text-center flex flex-wrap gap-x-8 gap-y-2 justify-center">
      {
        stats.map((stat) => (
          <div class="flex items-baseline gap-2 ">
            <Text
              tag="p"
              variant="textBase"
              class="font-medium text-blue-700 dark:text-blue-400"
            >
              {stat.value}
            </Text>
            <Text
              tag="h3"
              variant="textBase"
              class="font-medium text-zinc-900 dark:text-zinc-100"
            >
              {stat.label}
            </Text>
          </div>
        ))
      }
    </div>
  </div>
</section>
