---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
const stats = [
  {
    label: "Working Individuals",
    value: "30%",
  },
  {
    label: "Super low fee",
    value: "40%",
  },
  {
    label: "Great Commitment",
    value: "50%",
  },
  {
    label: "Massive Earnings",
    value: "60M",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 md:grid-cols-4 text-center">
      {
        stats.map((stat) => (
          <div class="flex gap-4   items-baseline">
            <Text
              tag="span"
              variant="smallNumber">
              {stat.value}
            </Text>
            <Heading
              level={3}
              variant="featureTitle">
              {stat.label}
            </Heading>
          </div>
        ))
      }
    </div>
  </div>
</section>
