<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <dl
      class="grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 md:grid-cols-4 text-center">
      <div class="flex flex-col border rounded-2xl shadow bg-white p-8">
        <dt class="mt-4 tracking-tight text-lg font-medium text-base-900">
          Working Individuals
        </dt>
        <dd class="order-first text-5xl font-normal font-mono text-accent-600">
          30%
        </dd>
      </div>

      <div class="flex flex-col border rounded-2xl shadow bg-white p-8">
        <dt class="mt-4 tracking-tight text-lg font-medium text-base-900">
          Super low fee
        </dt>
        <dd class="order-first text-5xl font-normal font-mono text-accent-600">
          40%
        </dd>
      </div>

      <div class="flex flex-col border rounded-2xl shadow bg-white p-8">
        <dt class="mt-4 tracking-tight text-lg font-medium text-base-900">
          Great Commitment
        </dt>
        <dd class="order-first text-5xl font-normal font-mono text-accent-600">
          50%
        </dd>
      </div>

      <div class="flex flex-col border rounded-2xl shadow bg-white p-8">
        <dt class="mt-4 tracking-tight text-lg font-medium text-base-900">
          Massive Earnings
        </dt>
        <dd class="order-first text-5xl font-normal font-mono text-accent-600">
          60M
        </dd>
      </div>
    </dl>
  </div>
</section>
