---
import Button from "@/components/fundations/buttons/Button.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import Text from "@/components/fundations/typography/Text.astro";
const stats = [
  {
    label: "Working Individuals",
    description: "We reached over 30 million users and are growing fast.",
    value: "30%",
  },
  {
    label: "Super low fee",
    description:
      "Enjoy significant savings with our extremely low fee structure.",
    value: "40%",
  },
  {
    label: "Great Commitment",
    description: " We’re dedicated to delivering outstanding service and valu.",
    value: "50%",
  },
  {
    label: "Massive Earnings",
    description: "Reap the benefits with substantial returns ",
    value: "100%",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:items-center">
      <div class="flex flex-col justify-between h-full gap-8">
        <div class="text-center lg:text-left">
          <Kicker> By the Numbers </Kicker>
          <Text
            tag="h2"
            variant="displaySM"
            class="mt-4 font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
          >
            Transform your finances with proven results
          </Text>
          <Text
            variant="textBase"
            class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Our track record speaks volumes—millions of users, minimal fees, and
            impressive returns.
          </Text>
        </div>
        <div
          class="flex flex-wrap items-center justify-center lg:justify-start gap-2"
        >
          <Button variant="accent" size="sm"> Get started </Button>
          <Button variant="muted" size="sm"> Learn more </Button>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:col-span-2">
        {
          stats.map((stat) => (
            <div class="flex flex-col p-8 bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 shadow from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl">
              <Text
                tag="h3"
                variant="textBase"
                class="font-semibold text-zinc-900 dark:text-white flex gap-2 items-center"
              >
                <span class="font-semibold text-blue-700 dark:text-blue-400">
                  {stat.value}
                </span>
                {stat.label}
              </Text>
              <Text
                tag="p"
                variant="textBase"
                class="mt-2 font-medium text-zinc-600 dark:text-zinc-300"
              >
                {stat.description}
              </Text>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
