---
import Text from "@/components/fundations/typography/Text.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
const stats = [
  {
    label: "Working Individuals",
    description: "We reached over 30 million users and are growing fast.",
    value: "30%",
  },
  {
    label: "Super low fee",
    description:
      "Enjoy significant savings with our extremely low fee structure.",
    value: "40%",
  },
  {
    label: "Great Commitment",
    description: " We’re dedicated to delivering outstanding service and valu.",
    value: "50%",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-20">
    <div class="max-w-2xl">
      <Kicker> By the Numbers </Kicker>
      <Text
        tag="h2"
        variant="displaySM"
        class="mt-4 font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
      >
        Transform your finances with proven results
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 font-medium text-zinc-500 dark:text-zinc-400 lg:text-balance"
      >
        Our track record speaks volumes—millions of users, minimal fees, and
        impressive returns.
      </Text>
    </div>
    <div
      class="mt-12 grid grid-cols-1 gap-x-2 gap-y-6 sm:grid-cols-2 lg:divide-x dark:divide-zinc-900 dark:border-zinc-900 lg:border-x border-zinc-200 divide-zinc-200 md:grid-cols-3"
    >
      {
        stats.map((stat) => (
          <div class="flex flex-col pl-8 pr-4">
            <Text
              tag="h3"
              variant="textBase"
              class="flex items-center font-semibold text-zinc-900 dark:text-white gap-2"
            >
              <span class="font-semibold text-blue-700 dark:text-blue-400">
                {stat.value}
              </span>
              {stat.label}
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
            >
              {stat.description}
            </Text>
          </div>
        ))
      }
    </div>
  </div>
</section>
