---
import Text from "@/components/fundations/typography/Text.astro";
const stats = [
  {
    label: "Working Individuals",
    description: "We reached over 30 million users and are growing fast.",
    value: "30%",
  },
  {
    label: "Super low fee",
    description:
      "Enjoy significant savings with our extremely low fee structure.",
    value: "40%",
  },
  {
    label: "Great Commitment",
    description: " We’re dedicated to delivering outstanding service and valu.",
    value: "50%",
  },
  {
    label: "Massive Earnings",
    description: "Reap the benefits with substantial returns ",
    value: "100%",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32">
    <div class="items-center grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24">
      <div class="order-last grid gap-x-6 gap-y-12 sm:grid-cols-2">
        {
          stats.map((stat) => (
            <div>
              <div class="flex flex-col items-baseline gap-4">
                <Text
                  tag="h3"
                  variant="displayXL"
                  class="font-mono text-blue-600 dark:text-blue-400"
                >
                  {stat.value}
                </Text>
                <Text
                  tag="h3"
                  variant="textBase"
                  class="font-semibold  text-zinc-900 dark:text-white"
                >
                  {stat.label}
                </Text>
              </div>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
              >
                {stat.description}
              </Text>
            </div>
          ))
        }
      </div>
      <div class="order-first block w-full">
        <img
          alt="#_"
          class="drop-shadow size-full aspect-square rounded-2xl"
          src="/pose/3.png"
        />
      </div>
    </div>
  </div>
</section>
