---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-2xl">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayBase"
        class="mt-4 font-semibold text-base-900 lg:text-balance"
      >
        Empower your finances with our unmatched value
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
        Experience low fees, unwavering commitment, and massive earnings with a
        service trusted by over 60 million users.
      </Text>
    </div>
    <div class="flex mt-8 flex-wrap items-center gap-2 lg:ml-auto">
      <Button variant="accent" size="sm"> Get started </Button>
      <Button variant="alternative" size="sm"> Learn more </Button>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-3 mt-12 lg:-mt-16 gap-6 items-end"
    >
      <div
        class="flex justify-between rounded-3xl bg-base-50 flex-col lg:gap-12"
      >
        <div class="p-8 order-last border-t w-full">
          <Text
            tag="p"
            variant="display2XL"
            class="text-accent-700 font-medium"
          >
            30%
          </Text>
        </div>
        <div class="sm:shrink lg:flex-none p-8">
          <Text tag="h3" variant="textLG" class="text-base-900 font-medium">
            Working Individuals
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 text-base-500 font-medium"
          >
            We’re dedicated to delivering outstanding service and value.
          </Text>
        </div>
      </div>
      <div
        class="flex justify-between rounded-3xl bg-accent-600 flex-col lg:gap-28"
      >
        <div class="p-8 order-last border-t border-white/20 w-full">
          <Text tag="p" variant="display2XL" class="text-white font-medium">
            90%
          </Text>
        </div>
        <div class="sm:shrink lg:flex-none p-8">
          <Text tag="h3" variant="textLG" class="text-white font-medium">
            Massive Earnings
          </Text>
          <Text tag="p" variant="textBase" class="mt-2 text-white font-medium">
            Reap the benefits with substantial returns.
          </Text>
        </div>
      </div>
      <div
        class="flex justify-between rounded-3xl bg-accent-950 flex-col lg:gap-44"
      >
        <div class="p-8 order-last border-t border-white/20 w-full">
          <Text tag="p" variant="display2XL" class="text-white font-medium">
            8%
          </Text>
        </div>
        <div class="sm:shrink lg:flex-none p-8">
          <Text tag="h3" variant="textLG" class="text-white font-medium">
            Super low fee
          </Text>
          <Text tag="p" variant="textBase" class="mt-2 text-white font-medium">
            Enjoy significant savings with our extremely low fee structure.
          </Text>
        </div>
      </div>
    </div>
  </div>
</section>
