---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="p-8">
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto">
    <div class="max-w-2xl">
      <Text tag="p" variant="textSM" class="font-bold uppercase text-blue-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-zinc-900 lg:text-balance"
      >
        Empower your finances with our unmatched value
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
        Experience low fees, unwavering commitment, and massive earnings with a
        service trusted by over 60 million users.
      </Text>
    </div>
    <div class="flex flex-wrap items-center mt-8 gap-2 lg:ml-auto">
      <Button variant="accent" size="sm"> Get started </Button>
      <Button variant="alternative" size="sm"> Learn more </Button>
    </div>
    <div
      class="items-end mt-12 grid grid-cols-1 md:grid-cols-3 lg:-mt-16 gap-6"
    >
      <div
        class="flex flex-col justify-between rounded-3xl bg-zinc-50 lg:gap-12"
      >
        <div class="order-last w-full p-8 border-t border-zinc-200">
          <Text tag="p" variant="display2XL" class="font-medium text-blue-700">
            30%
          </Text>
        </div>
        <div class="p-8 sm:shrink lg:flex-none">
          <Text tag="h3" variant="textLG" class="font-medium text-zinc-900">
            Working Individuals
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 font-medium text-zinc-500"
          >
            We’re dedicated to delivering outstanding service and value.
          </Text>
        </div>
      </div>
      <div
        class="flex flex-col justify-between rounded-3xl bg-blue-600 lg:gap-28"
      >
        <div class="order-last w-full p-8 border-t border-white/20">
          <Text tag="p" variant="display2XL" class="font-medium text-white">
            90%
          </Text>
        </div>
        <div class="p-8 sm:shrink lg:flex-none">
          <Text tag="h3" variant="textLG" class="font-medium text-white">
            Massive Earnings
          </Text>
          <Text tag="p" variant="textBase" class="mt-2 font-medium text-white">
            Reap the benefits with substantial returns.
          </Text>
        </div>
      </div>
      <div
        class="flex flex-col justify-between rounded-3xl bg-blue-950 lg:gap-44"
      >
        <div class="order-last w-full p-8 border-t border-white/20">
          <Text tag="p" variant="display2XL" class="font-medium text-white">
            8%
          </Text>
        </div>
        <div class="p-8 sm:shrink lg:flex-none">
          <Text tag="h3" variant="textLG" class="font-medium text-white">
            Super low fee
          </Text>
          <Text tag="p" variant="textBase" class="mt-2 font-medium text-white">
            Enjoy significant savings with our extremely low fee structure.
          </Text>
        </div>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
