---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="max-w-2xl lg:text-balance">
      <Text
        tag="h2"
        variant="displayMD"
        class="font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
      >
        Empower your finances with our unmatched value
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
      >
        Experience low fees, unwavering commitment, and massive earnings with a
        service trusted by over 60 million users.
      </Text>
    </div>
    <div class="flex flex-wrap items-center mt-8 gap-2 lg:ml-auto">
      <Button variant="default" size="sm"> Get started </Button>
      <Button variant="muted" size="sm"> Learn more </Button>
    </div>
    <div class="items-end grid grid-cols-1 md:grid-cols-3 gap-6">
      <div
        class="flex flex-col justify-between bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 shadow from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl lg:gap-12"
      >
        <div
          class="order-last w-full p-8 border-t border-zinc-200 dark:border-zinc-800"
        >
          <Text
            tag="p"
            variant="display2XL"
            class="font-medium text-zinc-900 font-mono dark:text-white"
          >
            30%
          </Text>
        </div>
        <div class="p-8 sm:shrink lg:flex-none">
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium text-zinc-900 dark:text-white"
          >
            Working Individuals
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 font-medium text-zinc-600 dark:text-zinc-400"
          >
            We’re dedicated to delivering outstanding service and value.
          </Text>
        </div>
      </div>
      <div
        class="flex flex-col justify-between bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 shadow from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl lg:gap-28"
      >
        <div
          class="order-last w-full p-8 border-t border-zinc-200 dark:border-zinc-800"
        >
          <Text
            tag="p"
            variant="display2XL"
            class="font-medium text-zinc-900 font-mono dark:text-white"
          >
            90%
          </Text>
        </div>
        <div class="p-8 sm:shrink lg:flex-none">
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium text-zinc-900 dark:text-zinc-100"
          >
            Massive Earnings
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 font-medium text-zinc-600 dark:text-zinc-400"
          >
            Reap the benefits with substantial returns.
          </Text>
        </div>
      </div>
      <div
        class="flex flex-col justify-between bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 shadow from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl lg:gap-44"
      >
        <div
          class="order-last w-full p-8 border-t border-zinc-200 dark:border-zinc-800"
        >
          <Text
            tag="p"
            variant="display2XL"
            class="font-medium text-zinc-900 font-mono dark:text-white"
          >
            8%
          </Text>
        </div>
        <div class="p-8 sm:shrink lg:flex-none">
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium text-zinc-900 dark:text-zinc-100"
          >
            Super low fee
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 font-medium text-zinc-600 dark:text-zinc-400"
          >
            Enjoy significant savings with our extremely low fee structure.
          </Text>
        </div>
      </div>
    </div>
  </div>
</section>
