---
import Text from "@/components/fundations/typography/Text.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-20">
    <div class="items-end grid grid-cols-1 md:grid-cols-3 gap-6">
      <div
        class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 sm:w-3/4 sm:max-w-md sm:flex-row-reverse sm:items-end lg:w-72 lg:max-w-none lg:flex-none lg:flex-col lg:items-start"
      >
        <div>
          <Kicker> By the Numbers </Kicker>
          <Text
            tag="h2"
            variant="displaySM"
            class="mt-4 font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
          >
            Transform your Finances with Proven Results
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Our track record speaks volumes—millions of users, minimal fees, and
            impressive returns.
          </Text>
        </div>
      </div>
      <div
        class="flex flex-col justify-between shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl lg:gap-28"
      >
        <div
          class="order-last w-full p-8 border-t border-zinc-200 dark:border-zinc-800"
        >
          <Text
            tag="p"
            variant="display2XL"
            class="font-mono font-medium text-zinc-900 dark:text-white"
          >
            90%
          </Text>
        </div>
        <div class="p-8 sm:shrink lg:flex-none">
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium text-zinc-900 dark:text-zinc-100"
          >
            Massive Earnings
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 font-medium text-zinc-600 dark:text-zinc-400"
          >
            Reap the benefits with substantial returns.
          </Text>
        </div>
      </div>
      <div
        class="flex flex-col justify-between shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl lg:gap-44"
      >
        <div
          class="order-last w-full p-8 border-t border-zinc-200 dark:border-zinc-800"
        >
          <Text
            tag="p"
            variant="display2XL"
            class="font-mono font-medium text-zinc-900 dark:text-white"
          >
            8%
          </Text>
        </div>
        <div class="p-8 sm:shrink lg:flex-none">
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium text-zinc-900 dark:text-zinc-100"
          >
            Super low fee
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 font-medium text-zinc-600 dark:text-zinc-400"
          >
            Enjoy significant savings with our extremely low fee structure.
          </Text>
        </div>
      </div>
    </div>
  </div>
</section>
