<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <dl
      class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 rounded-3xl">
      <div class="flex flex-col lg:col-span-2 bg-accent-950 rounded-2xl">
        <dt class="border-t p-8 border-white/20">
          <p class="tracking-tight text-lg font-medium text-white">
            Working Individuals
          </p>
          <p class="text-sm text-base-200 text-pretty mt-2">
            We’re dedicated to delivering outstanding service and value.
          </p>
        </dt>
        <dd class="order-first text-5xl font-normal font-mono text-white p-8">
          30%
        </dd>
      </div>
      <div
        class="flex flex-col lg:col-span-1 bg-base-50 rounded-2xl">
        <dt class="border-t p-8">
          <p class="tracking-tight text-lg font-medium text-base-900">
            Super low fee
          </p>
          <p class="mt-2 text-sm text-base-500 text-pretty">
            Enjoy significant savings with our extremely low fee structure.
          </p>
        </dt>
        <dd
          class="order-first text-5xl font-normal font-mono text-accent-600 p-8">
          40M
        </dd>
      </div>
      <div
        class="flex flex-col p bg-base-50 rounded-2xl">
        <dt class="p-8 border-t">
          <p class="tracking-tight text-lg font-medium text-base-900">
            Massive Earnings
          </p>
          <p class="mt-2 text-sm text-base-500 text-pretty">
            Reap the benefits with substantial returns.
          </p>
        </dt>
        <dd
          class="order-first text-5xl font-normal font-mono text-accent-600 p-8">
          50%
        </dd>
      </div>
      <div

        class="flex flex-col lg:col-span-2 bg-accent-600 rounded-2xl">
        <dt class="border-t border-white/20 p-8">
          <p class="tracking-tight text-lg font-medium text-white">
            Growing Impact
          </p>
          <p class="text-sm text-base-200 text-pretty mt-2">
            Join 60 million satisfied users who trust our services.
          </p>
        </dt>
        <dd

          class="order-first text-5xl font-normal font-mono text-white p-8">
          40B
        </dd>
      </div>
    </dl>
  </div>
</section>
