---
import Button from "@/components/fundations/buttons/Button.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import Text from "@/components/fundations/typography/Text.astro";
const stats = [
  {
    label: "Working Individuals",
    description: "We reached over 30 million users and are growing fast.",
    value: "30%",
  },
  {
    label: "Super low fee",
    description:
      "Enjoy significant savings with our extremely low fee structure.",
    value: "40%",
  },
  {
    label: "Great Commitment",
    description: " We’re dedicated to delivering outstanding service and valu.",
    value: "50%",
  },
  {
    label: "Massive Earnings",
    description: "Reap the benefits with substantial returns ",
    value: "100%",
  },
  {
    label: "Customer Satisfaction",
    description:
      "Our customers consistently rate us with a 98% satisfaction rate.",
    value: "98%",
  },
  {
    label: "Global Reach",
    description: "We’ve expanded our services to over 120 countries worldwide.",
    value: "120+",
  },
  {
    label: " Transactions",
    description: "Over 500,000 transactions processed with zero failures.",
    value: "500K",
  },
  {
    label: "Team Growth",
    description: "Our team has grown by 150% in the past year.",
    value: "150%",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-20">
    <div
      class="relative px-6 pt-16 overflow-hidden shadow isolate bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0"
    >
      <div
        class="max-w-md mx-auto text-center lg:mx-0 lg:flex-auto lg:py-24 lg:text-left"
      >
        <Kicker> Tagline </Kicker>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold tracking-tight lg:text-balance texrt-zinc-900 dark:text-white"
        >
          Empower your finances with our unmatched value
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 font-medium text-zinc-600 dark:text-zinc-400"
        >
          Experience low fees, unwavering commitment, and massive earnings with
          a service trusted by over 60 million users.
        </Text>
        <div
          class="flex flex-wrap items-center justify-center mt-12 lg:justify-start gap-2 col-span-full"
        >
          <Button variant="accent" size="sm"> Get started </Button>
          <Button variant="muted" size="sm"> Learn more </Button>
        </div>

        <div class="mt-12 grid gap-x-6 gap-y-12 sm:grid-cols-2">
          {
            stats.slice(0, 4).map((stat) => (
              <div>
                <Text
                  tag="h3"
                  variant="textBase"
                  class="flex items-center font-semibold text-zinc-900 dark:text-white gap-2"
                >
                  <span class="font-semibold text-blue-700 dark:text-blue-400">
                    {stat.value}
                  </span>
                  {stat.label}
                </Text>
                <Text
                  tag="p"
                  variant="textBase"
                  class="mt-2 font-medium text-zinc-600 dark:text-zinc-300"
                >
                  {stat.description}
                </Text>
              </div>
            ))
          }
        </div>
      </div>
      <div class="relative mt-16 h-80 lg:mt-8">
        <img
          class="absolute top-0 w-[70rem] max-w-none rounded-xl shadow"
          src="/images/dashboardLight.svg"
          alt="img"
        />
      </div>
    </div>
  </div>
</section>
