---
import Text from "@/components/fundations/typography/Text.astro";
---

<div>
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24"></div>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
    <div
      class="flex flex-col justify-between rounded-3xl lg:col-span-2 bg-stone-950 lg:gap-44"
    >
      <div class="order-last w-full p-8 border-t border-white/20">
        <Text tag="p" variant="display2XL" class="font-medium text-white">
          8%
        </Text>
      </div>
      <div class="p-8 sm:shrink lg:flex-none">
        <Text tag="h3" variant="textLG" class="font-medium text-white">
          Super low fee
        </Text>
        <Text tag="p" variant="textBase" class="mt-2 font-medium text-white">
          Enjoy significant savings with our extremely low fee structure.
        </Text>
      </div>
    </div>

    <div class="flex flex-col lg:col-span-1 bg-zinc-50 rounded-3xl">
      <div class="p-8 border-t border-zinc-200">
        <Text tag="h3" variant="textLG" class="font-medium text-zinc-900">
          Working Individuals
        </Text>
        <Text tag="p" variant="textBase" class="mt-2 font-medium text-zinc-500">
          We’re dedicated to delivering outstanding service and value.
        </Text>
      </div>
      <div class="order-first w-full p-8">
        <Text tag="p" variant="textLG" class="font-medium text-stone-700">
          30%
        </Text>
      </div>
    </div>
    <div class="flex flex-col bg-zinc-50 rounded-3xl">
      <div class="p-8 border-t">
        <Text tag="h3" variant="textLG" class="font-medium text-zinc-900">
          Massive Earnings
        </Text>
        <Text tag="p" variant="textBase" class="mt-2 font-medium text-zinc-500">
          Reap the benefits with substantial returns.
        </Text>
      </div>
      <div class="order-first w-full p-8">
        <Text tag="p" variant="textLG" class="font-medium text-stone-700">
          90%
        </Text>
      </div>
    </div>
    <div
      class="flex flex-col justify-between lg:col-span-2 rounded-3xl bg-stone-600 lg:gap-28"
    >
      <div class="order-last w-full p-8 border-t border-white/20">
        <Text tag="p" variant="display2XL" class="font-medium text-white">
          90%
        </Text>
      </div>
      <div class="p-8 sm:shrink lg:flex-none">
        <Text tag="h3" variant="textLG" class="font-medium text-white">
          Massive Earnings
        </Text>
        <Text tag="p" variant="textBase" class="mt-2 font-medium text-white">
          Reap the benefits with substantial returns.
        </Text>
      </div>
    </div>
  </div>
</div>
<!-- copy:end -->
