---
import Text from "@/components/fundations/typography/Text.astro";
const stats = [
  {
    label: "Working Individuals",
    description: "We reached over 30 million users and are growing fast.",
    value: "30%",
  },
  {
    label: "Super low fee",
    description:
      "Enjoy significant savings with our extremely low fee structure.",
    value: "40%",
  },
  {
    label: "Great Commitment",
    description: " We’re dedicated to delivering outstanding service and valu.",
    value: "50%",
  },
  {
    label: "Massive Earnings",
    description: "Reap the benefits with substantial returns ",
    value: "100%",
  },
];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 lg:items-start">
      <div>
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-accent-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-base-900 lg:text-balance"
        >
          Empower your finances with our unmatched value
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-base-500">
          Experience low fees, unwavering commitment, and massive earnings with
          a service trusted by over 60 million users.
        </Text>
      </div>
      <div class="grid gap-x-6 gap-y-12 sm:grid-cols-2">
        {
          stats.map((stat) => (
            <div>
              <div class="flex items-baseline gap-4 ">
                <Text
                  tag="p"
                  variant="textLG"
                  class="font-medium  text-accent-700"
                >
                  {stat.value}
                </Text>
                <Text
                  tag="h3"
                  variant="textLG"
                  class="font-medium  text-base-900"
                >
                  {stat.label}
                </Text>
              </div>
              <Text
                tag="p"
                variant="textBase"
                class="mt-2 font-medium text-base-500"
              >
                {stat.description}
              </Text>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
