---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
const stats = [
  {
    label: "Working Individuals",
    description: "We reached over 30 million users and are growing fast.",
    value: "30%",
  },
  {
    label: "Super low fee",
    description:
      "Enjoy significant savings with our extremely low fee structure.",
    value: "40%",
  },
  {
    label: "Great Commitment",
    description: " We’re dedicated to delivering outstanding service and valu.",
    value: "50%",
  },
  {
    label: "Massive Earnings",
    description: "Reap the benefits with substantial returns ",
    value: "100%",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 lg:items-start">
      <div>
        <Text
          tag="span"
          variant="eyebrow">
          Tagline
        </Text>
        <Heading
          class="mt-4"
          level={1}
          variant="default">
          Empower your finances with our unmatched value
        </Heading>
        <Text
          class="mt-4"
          tag="p"
          variant="body">
          Experience low fees, unwavering commitment, and massive earnings with
          a service trusted by over 60 million users.
        </Text>
      </div>
      <div class="grid gap-x-6 gap-y-12 sm:grid-cols-2">
        {
          stats.map((stat) => (
            <div>
              <div class="flex gap-4   items-baseline">
                <Text
                  tag="span"
                    variant="smallNumber">
                  {stat.value}
                </Text>
                <Heading

                  level={3}
                  variant="featureTitle">
                  {stat.label}
                </Heading>
              </div>
              <Text
                class="mt-2"
                tag="p"
                variant="body">
                {stat.description}
              </Text>
            </div>
          ))
        }
      </div>

    </div>
  </div>
</section>
