---
import Text from "@/components/fundations/typography/Text.astro";
const stats = [
  {
    label: "Working Individuals",
    description: "We reached over 30 million users and are growing fast.",
    value: "30%",
  },
  {
    label: "Super low fee",
    description:
      "Enjoy significant savings with our extremely low fee structure.",
    value: "40%",
  },
  {
    label: "Great Commitment",
    description: " We’re dedicated to delivering outstanding service and valu.",
    value: "50%",
  },
  {
    label: "Massive Earnings",
    description: "Reap the benefits with substantial returns ",
    value: "100%",
  },
  {
    label: " Satisfaction",
    description:
      "Our customers consistently rate us with a 98% satisfaction rate.",
    value: "98%",
  },
  {
    label: "Global Reach",
    description: "We’ve expanded our services to over 120 countries worldwide.",
    value: "120+",
  },
  {
    label: " Transactions",
    description: "Over 500,000 transactions processed with zero failures.",
    value: "500K",
  },
  {
    label: "Team Growth",
    description: "Our team has grown by 150% in the past year.",
    value: "150%",
  },
];
---

<div class="p-8">
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto">
    <div class="grid gap-x-6 gap-y-12 sm:grid-cols-2 lg:grid-cols-4">
      {
        stats.map((stat) => (
          <div>
            <div class="flex items-baseline gap-4">
              <Text tag="p" variant="textLG" class="font-medium  text-blue-700">
                {stat.value}
              </Text>
              <Text
                tag="h3"
                variant="textLG"
                class="font-medium  text-zinc-900"
              >
                {stat.label}
              </Text>
            </div>
            <Text
              tag="p"
              variant="textBase"
              class="mt-4 font-medium text-zinc-500"
            >
              {stat.description}
            </Text>
          </div>
        ))
      }
    </div>
  </div>
  <!-- copy:end -->
</div>
