<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid items-center grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24">
      <div class="block w-full">
        <img
          alt="#_"
          class="drop-shadow size-full aspect-square rounded-2xl"
          src="/people/1w.jpg"
        />
      </div>
      <div>
        <dl class="grid grid-cols-1 gap-x-2 gap-y-6 mt-12 sm:grid-cols-2">
          <div class="flex flex-col">
            <dt class="mt-4">
              <p class="tracking-tight text-lg font-medium text-base-900">
                Working Individuals
              </p>
              <p class="text-sm text-base-500 text-pretty mt-2">
                We’re dedicated to delivering outstanding service and value.
              </p>
            </dt>
            <dd
              class="order-first text-5xl font-normal font-mono text-accent-600">
              50%
            </dd>
          </div>
          <div class="flex flex-col">
            <dt class="mt-4">
              <p class="tracking-tight text-lg font-medium text-base-900">
                Super low fee
              </p>
              <p class="text-sm text-base-500 text-pretty mt-2">
                Enjoy significant savings with our extremely low fee structure.
              </p>
            </dt>
            <dd
              class="order-first text-5xl font-normal font-mono text-accent-600">
              90B
            </dd>
          </div>
          <div class="flex flex-col">
            <dt class="mt-4">
              <p class="tracking-tight text-lg font-medium text-base-900">
                Massive Earnings
              </p>
              <p class="text-sm text-base-500 text-pretty mt-2">
                Reap the benefits with substantial returns .
              </p>
            </dt>
            <dd
              class="order-first text-5xl font-normal font-mono text-accent-600">
              80%
            </dd>
          </div>
          <div class="flex flex-col">
            <dt class="mt-4">
              <p class="tracking-tight text-lg font-medium text-base-900">
                Growing Impact
              </p>
              <p class="text-sm text-base-500 text-pretty mt-2">
                Join 60 million satisfied users who trust our services.
              </p>
            </dt>
            <dd
              class="order-first text-5xl font-normal font-mono text-accent-600">
              90B
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
