---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
const stats = [
  {
    label: "Working Individuals",
    description: "We reached over 30 million users and are growing fast.",
    value: "30%",
  },
  {
    label: "Super low fee",
    description:
      "Enjoy significant savings with our extremely low fee structure.",
    value: "40%",
  },
  {
    label: "Great Commitment",
    description: " We’re dedicated to delivering outstanding service and valu.",
    value: "50%",
  },
  {
    label: "Massive Earnings",
    description: "Reap the benefits with substantial returns ",
    value: "100%",
  },
  {
    label: "Customer Satisfaction",
    description:
      "Our customers consistently rate us with a 98% satisfaction rate.",
    value: "98%",
  },
  {
    label: "Global Reach",
    description: "We’ve expanded our services to over 120 countries worldwide.",
    value: "120+",
  },
  {
    label: " Transactions",
    description: "Over 500,000 transactions processed with zero failures.",
    value: "500K",
  },
  {
    label: "Team Growth",
    description: "Our team has grown by 150% in the past year.",
    value: "150%",
  },
];
---

<div class="relative">
  <img
    class="object-cover w-full h-56 border-8 border-white bg-gray-50 rounded-3xl lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:w-1/2"
    src="/images/blueGradient2.jpeg"
    alt="#_"
  />
  <div class="mx-auto grid max-w-7xl lg:grid-cols-2">
    <div class="px-6 pt-16 pb-24 sm:pb-32 sm:pt-20 lg:px-8 lg:pt-32">
      <div class="max-w-2xl mx-auto lg:ml-0 lg:max-w-lg">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-blue-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-gray-900 lg:text-balance"
        >
          Empower your finances with our unmatched value
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-gray-500">
          Experience low fees, unwavering commitment, and massive earnings with
          a service trusted by over 60 million users.
        </Text>
        <div
          class="flex flex-wrap items-center justify-center mt-8 lg:justify-start gap-2"
        >
          <Button variant="accent" size="sm"> Get started </Button>
          <Button variant="alternative" size="sm"> Learn more </Button>
        </div>
        <div class="mt-12 grid gap-x-6 gap-y-12 sm:grid-cols-2">
          {
            stats.slice(0, 4).map((stat) => (
              <div>
                <div class="flex flex-col items-baseline gap-4">
                  <Text
                    tag="p"
                    variant="textLG"
                    class="font-medium  text-blue-700"
                  >
                    {stat.value}
                  </Text>
                  <Text
                    tag="h3"
                    variant="textLG"
                    class="font-medium  text-gray-900"
                  >
                    {stat.label}
                  </Text>
                </div>
                <Text
                  tag="p"
                  variant="textBase"
                  class="mt-4 font-medium text-gray-500"
                >
                  {stat.description}
                </Text>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
