<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center max-w-3xl mx-auto">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 sm:text-balance">
        Empower your finances with our unmatched value
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500 sm:text-balance">
        Experience low fees, unwavering commitment, and massive earnings with a
        service trusted by over 60 million users.
      </p>
    </div>
    <dl
      class="grid grid-cols-1 gap-x-2 gap-y-6 mt-12 sm:grid-cols-2 lg:divide-x md:grid-cols-3 text-center">
      <div class="flex flex-col pl-8">
        <dt class="mt-4">
          <p class="tracking-tight text-lg font-medium text-gray-900">
            Working Individuals
          </p>
          <p class="text-sm text-gray-500 text-balance mt-2">
            We’re dedicated to delivering outstanding service and value.
          </p>
        </dt>
        <dd class="order-first text-5xl font-normal font-mono text-blue-600">
          30B
        </dd>
      </div>
      <div class="flex flex-col pl-8">
        <dt class="mt-4">
          <p class="tracking-tight text-lg font-medium text-gray-900">
            Super low fee
          </p>
          <p class="text-sm text-gray-500 text-balance mt-2">
            Enjoy significant savings with our extremely low fee structure.
          </p>
        </dt>
        <dd class="order-first text-5xl font-normal font-mono text-blue-600">
          60%
        </dd>
      </div>
      <div class="flex flex-col pl-8">
        <dt class="mt-4">
          <p class="tracking-tight text-lg font-medium text-gray-900">
            Massive Earnings
          </p>
          <p class="text-sm text-gray-500 text-balance mt-2">
            Reap the benefits with substantial returns on your investment.
          </p>
        </dt>
        <dd class="order-first text-5xl font-normal font-mono text-blue-600">
          32M
        </dd>
      </div>
    </dl>
  </div>
</section>
