---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
const stats = [
  {
    label: "Working Individuals",
    description: "We reached over 30 million users and are growing fast.",
    value: "30%",
  },
  {
    label: "Super low fee",
    description:
      "Enjoy significant savings with our extremely low fee structure.",
    value: "40%",
  },
  {
    label: "Great Commitment",
    description: " We’re dedicated to delivering outstanding service and valu.",
    value: "50%",
  },
  {
    label: "Massive Earnings",
    description: "Reap the benefits with substantial returns ",
    value: "100%",
  },
  {
    label: "Customer Satisfaction",
    description:
      "Our customers consistently rate us with a 98% satisfaction rate.",
    value: "98%",
  },
  {
    label: "Global Reach",
    description: "We’ve expanded our services to over 120 countries worldwide.",
    value: "120+",
  },
  {
    label: " Transactions",
    description: "Over 500,000 transactions processed with zero failures.",
    value: "500K",
  },
  {
    label: "Team Growth",
    description: "Our team has grown by 150% in the past year.",
    value: "150%",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="max-w-xl mx-auto text-center">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-blue-600 dark:text-blue-400"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-zinc-900 dark:text-zinc-100 lg:text-balance"
      >
        Empower your finances with our unmatched value
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
      >
        Experience low fees, unwavering commitment, and massive earnings with a
        service trusted by over 60 million users.
      </Text>
    </div>
    <div
      class="mt-12 text-center grid grid-cols-1 gap-x-2 gap-y-6 sm:grid-cols-2 lg:divide-x divide-zinc-200 dark:divide-zinc-700/50 md:grid-cols-3"
    >
      {
        stats.slice(0, 3).map((stat) => (
          <div>
            <div class="flex flex-col gap-3 ">
              <Text
                tag="p"
                variant="textLG"
                class="font-medium  text-blue-700 dark:text-blue-400"
              >
                {stat.value}
              </Text>
              <Text
                tag="h3"
                variant="textLG"
                class="font-medium  text-zinc-900 dark:text-zinc-100"
              >
                {stat.label}
              </Text>
            </div>
            <Text
              tag="p"
              variant="textBase"
              class="mt-4 font-medium text-zinc-500 dark:text-zinc-400 lg:text-balance"
            >
              {stat.description}
            </Text>
          </div>
        ))
      }
    </div>
  </div>
</section>
