<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="relative isolate overflow-hidden border shadow rounded-3xl px-6 pt-16 sm:px-16 md:pt-24 flex flex-col lg:gap-x-20 lg:px-24 lg:pt-0">
      <div
        class="mx-auto text-center lg:mx-0 lg:flex-auto lg:pt-24 lg:text-left">
        <div class="max-w-2xl lg:flex-auto">
          <span class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase">Tagline</span>
          <h1
            class="text-4xl mt-4 font-semibold tracking-tight text-zinc-900 lg:text-balance">
            Empower your finances with our unmatched value
          </h1>
          <p class="text-base font-medium mt-4 text-zinc-500">
            Experience low fees, unwavering commitment, and massive earnings
            with a service trusted by over 60 million users.
          </p>
        </div>
        <dl
          class="grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 md:grid-cols-4 mt-12">
          <div
            class="flex flex-col">
            <dt class="mt-4 tracking-tight text-lg font-medium  text-zinc-900">
              Working Individuals
            </dt>
            <dd
              class="order-first text-5xl font-normal font-mono text-blue-600">
              20%
            </dd>
          </div>
          <div
            class="flex flex-col">
            <dt class="mt-4 tracking-tight text-lg font-medium  text-zinc-900">
              Super low fee
            </dt>
            <dd
              class="order-first text-5xl font-normal font-mono text-blue-600">
              40M
            </dd>
          </div>
          <div
            class="flex flex-col">
            <dt class="mt-4 tracking-tight text-lg font-medium  text-zinc-900">
              Great Commitment
            </dt>
            <dd
              class="order-first text-5xl font-normal font-mono text-blue-600">
              90B
            </dd>
          </div>
          <div
            class="flex flex-col">
            <dt class="mt-4 tracking-tight text-lg font-medium  text-zinc-900">
              Massive Earnings
            </dt>
            <dd
              class="order-first text-5xl font-normal font-mono text-blue-600">
              50+
            </dd>
          </div>
        </dl>
      </div>
      <div class="relative mt-16 h-80 lg:mt-8">
        <img
          class="top-0 w-[70rem] max-w-none rounded-2xl border shadow"
          src="/images/dashboardLight.svg"
          alt="img"
        />
      </div>
    </div>
  </div>
</section>
