---
import Text from "@/components/fundations/typography/Text.astro";
const stats = [
  {
    label: "Working Individuals",
    value: "30%",
  },
  {
    label: "Super low fee",
    value: "40%",
  },
  {
    label: "Great Commitment",
    value: "50%",
  },
  {
    label: "Massive Earnings",
    value: "60M",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div
      class="isolate bg-zinc-50 dark:bg-zinc-900 rounded-3xl sm:px-16 md:pt-24 lg:gap-x-20 lg:px-24 lg:pt-0 relative flex flex-col px-6 pt-16 overflow-hidden"
    >
      <div
        class="lg:mx-0 lg:flex-auto lg:pt-24 lg:text-left mx-auto text-center"
      >
        <div class="lg:flex-auto max-w-2xl">
          <Text
            tag="p"
            variant="textSM"
            class="font-bold text-blue-600 dark:text-blue-400 uppercase"
          >
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displayMD"
            class="text-zinc-900 dark:text-zinc-100 lg:text-balance mt-4 font-semibold"
          >
            Empower your finances with our unmatched value
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="text-zinc-500 dark:text-zinc-400 mt-4 font-medium"
          >
            Experience low fees, unwavering commitment, and massive earnings
            with a service trusted by over 60 million users.
          </Text>
        </div>
        <div
          class="gap-x-6 gap-y-12 sm:grid-cols-2 md:grid-cols-4 grid grid-cols-1 mt-12"
        >
          {
            stats.map((stat) => (
              <div class="flex flex-col">
                <Text
                  tag="p"
                  variant="textLG"
                  class="font-medium text-blue-700 dark:text-blue-400"
                >
                  {stat.value}
                </Text>
                <Text
                  tag="h3"
                  variant="textLG"
                  class="text-zinc-900 dark:text-zinc-100 font-medium"
                >
                  {stat.label}
                </Text>
              </div>
            ))
          }
        </div>
      </div>
      <div class="h-80 lg:mt-8 relative mt-16">
        <img
          class="top-0 w-[70rem] max-w-none rounded-2xl border border-zinc-200 dark:border-zinc-700/50 shadow"
          src="/images/dashboardLight.svg"
          alt="img"
        />
      </div>
    </div>
  </div>
</section>
