---
import Text from "@/components/fundations/typography/Text.astro";
const stats = [
  {
    label: "Working Individuals",
    value: "30%",
  },
  {
    label: "Super low fee",
    value: "40%",
  },
  {
    label: "Great Commitment",
    value: "50%",
  },
  {
    label: "Massive Earnings",
    value: "60M",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="relative isolate overflow-hidden bg-base-50 rounded-3xl px-6 pt-16 sm:px-16 md:pt-24 flex flex-col lg:gap-x-20 lg:px-24 lg:pt-0"
    >
      <div
        class="mx-auto text-center lg:mx-0 lg:flex-auto lg:pt-24 lg:text-left"
      >
        <div class="max-w-2xl lg:flex-auto">
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-accent-600"
          >
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displayBase"
            class="mt-4 font-semibold text-base-900 lg:text-balance"
          >
            Empower your finances with our unmatched value
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 text-base-500 font-medium"
          >
            Experience low fees, unwavering commitment, and massive earnings
            with a service trusted by over 60 million users.
          </Text>
        </div>
        <div
          class="grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 md:grid-cols-4 mt-12"
        >
          {
            stats.map((stat) => (
              <div class="flex flex-col">
                <Text
                  tag="p"
                  variant="textLG"
                  class=" text-accent-700 font-medium"
                >
                  {stat.value}
                </Text>
                <Text
                  tag="h3"
                  variant="textLG"
                  class=" text-base-900 font-medium"
                >
                  {stat.label}
                </Text>
              </div>
            ))
          }
        </div>
      </div>
      <div class="relative mt-16 h-80 lg:mt-8">
        <img
          class="top-0 w-[70rem] max-w-none rounded-2xl border border-base-200 shadow"
          src="/images/dashboardLight.svg"
          alt="img"
        />
      </div>
    </div>
  </div>
</section>
