---
import Text from "@/components/fundations/typography/Text.astro";

const {
  class: className,
  showLink = false,
  href = "#_",
  linkText = "Download",
} = Astro.props;
---

<Text
  tag="p"
  variant="textSM"
  class={`relative text-zinc-500 ${className ?? ""}`}
>
  <slot />
  {
    showLink && (
      <>
        <a href={href} class="relative font-semibold text-stone-500">
          <span class="absolute inset-0" aria-hidden="true" />
          {linkText}
        </a>
      </>
    )
  }
</Text>
