---
export const description = "Basic Radio Button";
import Text from "@/components/fundations/typography/Text.astro";
---
<div class="flex max-w-md mx-auto items-center p-12">
  <div class="flex items-center gap-2">
    <input
      id="basic-radio"
      name="example-radio"
      type="radio"
      class="size-4 rounded-full border-base-300 text-accent-600 focus:ring-accent-600 shadow"
    />
    <Text
      for="basic-radio"
      tag="label"
      class="block text-sm text-base-500"
    >
      Basic radio button
    </Text>
  </div>
  

</div>
