---
export const freeComponent = true;
export const description = "Basic Radio Button";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex items-center max-w-md p-12 mx-auto">
  <div class="flex items-center gap-2">
    <input
      id="basic-radio"
      name="example-radio"
      type="radio"
      class="rounded-full shadow size-4 border-gray-300 text-blue-600 focus:ring-blue-600"
    />
    <Text for="basic-radio" tag="label" class="block text-sm text-gray-500">
      Basic radio button
    </Text>
  </div>
</div>
