---
export const description = "Inline Radio Button Group";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex justify-center p-16 mx-auto bg-white dark:bg-black">
  <!-- copy:start -->
  <div class="flex flex-col gap-2" x-data="{ selected: 'small' }">
    <div class="flex items-center gap-3">
      <input
        id="radio-small"
        name="inline-radio"
        type="radio"
        value="small"
        x-model="selected"
        class="rounded-full shadow size-4 border-zinc-300 dark:border-zinc-600 text-blue-600 dark:text-blue-400 focus:ring-blue-600 dark:focus:ring-blue-400 bg-white dark:bg-zinc-900"
      />
      <Text
        for="radio-small"
        tag="label"
        class="block text-sm text-zinc-500 dark:text-zinc-400"
      >
        Small
      </Text>
    </div>

    <div class="flex items-center gap-3">
      <input
        id="radio-medium"
        name="inline-radio"
        type="radio"
        value="medium"
        x-model="selected"
        class="rounded-full shadow size-4 border-zinc-300 dark:border-zinc-600 text-blue-600 dark:text-blue-400 focus:ring-blue-600 dark:focus:ring-blue-400 bg-white dark:bg-zinc-900"
      />
      <Text
        for="radio-medium"
        tag="label"
        class="block text-sm text-zinc-500 dark:text-zinc-400"
      >
        Medium
      </Text>
    </div>

    <div class="flex items-center gap-3">
      <input
        id="radio-large"
        name="inline-radio"
        type="radio"
        value="large"
        x-model="selected"
        class="rounded-full shadow size-4 border-zinc-300 dark:border-zinc-600 text-blue-600 dark:text-blue-400 focus:ring-blue-600 dark:focus:ring-blue-400 bg-white dark:bg-zinc-900"
      />
      <Text
        for="radio-large"
        tag="label"
        class="block text-sm text-zinc-500 dark:text-zinc-400"
      >
        Large
      </Text>
    </div>

    <div class="mt-2 text-sm text-zinc-500 dark:text-zinc-400">
      Selected size: <span x-text="selected"></span>
    </div>
  </div>
  <!-- copy:end -->
</div>
