---
export const description = "Inline Radio Button Group";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex items-center max-w-md p-12 mx-auto">
  <div class="flex flex-col gap-2" x-data="{ selected: 'small' }">
    <div class="flex items-center gap-3">
      <input
        id="radio-small"
        name="inline-radio"
        type="radio"
        value="small"
        x-model="selected"
        class="rounded-full shadow size-4 border-zinc-300 text-blue-600 focus:ring-blue-600"
      />
      <Text for="radio-small" tag="label" class="block text-sm text-zinc-500">
        Small
      </Text>
    </div>

    <div class="flex items-center gap-3">
      <input
        id="radio-medium"
        name="inline-radio"
        type="radio"
        value="medium"
        x-model="selected"
        class="rounded-full shadow size-4 border-zinc-300 text-blue-600 focus:ring-blue-600"
      />
      <Text for="radio-medium" tag="label" class="block text-sm text-zinc-500">
        Medium
      </Text>
    </div>

    <div class="flex items-center gap-3">
      <input
        id="radio-large"
        name="inline-radio"
        type="radio"
        value="large"
        x-model="selected"
        class="rounded-full shadow size-4 border-zinc-300 text-blue-600 focus:ring-blue-600"
      />
      <Text for="radio-large" tag="label" class="block text-sm text-zinc-500">
        Large
      </Text>
    </div>

    <div class="mt-2 text-sm text-zinc-500">
      Selected size: <span x-text="selected"></span>
    </div>
  </div>
</div>
