---
export const description = "Radio Group with Toggle Details";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex justify-center p-8 mx-auto">
  <div class="flex flex-col gap-2" x-data="{ selected: null }">
    <div class="flex items-start gap-3">
      <input
        id="radio-monthly"
        name="radio-toggle-group"
        type="radio"
        value="monthly"
        x-model="selected"
        class="rounded-full shadow size-4 border-zinc-300 text-stone-600 focus:ring-stone-600"
      />
      <div>
        <Text
          for="radio-monthly"
          tag="label"
          class="block text-sm font-medium text-zinc-500"
        >
          Monthly Plan
        </Text>
        <p class="text-sm text-zinc-400">Pay $10 per month.</p>
      </div>
    </div>
    <div class="flex items-start gap-3">
      <input
        id="radio-yearly"
        name="radio-toggle-group"
        type="radio"
        value="yearly"
        x-model="selected"
        class="rounded-full shadow size-4 border-zinc-300 text-stone-600 focus:ring-stone-600"
      />
      <div>
        <Text
          for="radio-yearly"
          tag="label"
          class="block text-sm font-medium text-zinc-500"
        >
          Yearly Plan
        </Text>
        <p class="text-sm text-zinc-400">Pay $100 per year and save 20%.</p>
      </div>
    </div>
    <div x-show="selected === 'yearly'" class="mt-2 text-sm text-stone-500">
      Yearly plan offers a better deal for long-term use!
    </div>
  </div>
</div>
