---
export const description = "Radio Button Group with Tool Selection";

---
<div class="flex max-w-md mx-auto items-center p-12">
 
    <div class="grid grid-cols-2 gap-2" x-data="{ selectedTool: 'pen' }">
        <div class="flex items-center gap-3 p-4 border rounded-lg border-base-200">
          <input
            id="radio-pen"
            name="tool-selection"
            type="radio"
            value="pen"
            x-model="selectedTool"
            class="size-4 rounded-full border-base-300 text-accent-600 focus:ring-accent-600 shadow"
          />
          <label for="radio-pen" class="block text-sm font-medium text-base-500">
            Pen
          </label>
        </div>
        <div class="flex items-center gap-3 p-4 border rounded-lg border-base-200">
          <input
            id="radio-marker"
            name="tool-selection"
            type="radio"
            value="marker"
            x-model="selectedTool"
            class="size-4 rounded-full border-base-300 text-accent-600 focus:ring-accent-600 shadow"
          />
          <label for="radio-marker" class="block text-sm font-medium text-base-500">
            Marker
          </label>
        </div>
        <div class="flex items-center gap-3 p-4 border rounded-lg border-base-200">
          <input
            id="radio-highlighter"
            name="tool-selection"
            type="radio"
            value="highlighter"
            x-model="selectedTool"
            class="size-4 rounded-full border-base-300 text-accent-600 focus:ring-accent-600 shadow"
          />
          <label for="radio-highlighter" class="block text-sm font-medium text-base-500">
            Highlighter
          </label>
        </div>
        <div class="flex items-center gap-3 p-4 border rounded-lg border-base-200">
          <input
            id="radio-eraser"
            name="tool-selection"
            type="radio"
            value="eraser"
            x-model="selectedTool"
            class="size-4 rounded-full border-base-300 text-accent-600 focus:ring-accent-600 shadow"
          />
          <label for="radio-eraser" class="block text-sm font-medium text-base-500">
            Eraser
          </label>
        </div>
      </div>
      
</div>
