---
export const description = "Radio Button Group with Tool Selection";
---

<div class="flex justify-center p-8 mx-auto">
  <div class="grid grid-cols-2 gap-2" x-data="{ selectedTool: 'pen' }">
    <div class="flex items-center p-4 border rounded-lg gap-3 border-zinc-200">
      <input
        id="radio-pen"
        name="tool-selection"
        type="radio"
        value="pen"
        x-model="selectedTool"
        class="rounded-full shadow size-4 border-zinc-300 text-stone-600 focus:ring-stone-600"
      />
      <label for="radio-pen" class="block text-sm font-medium text-zinc-500">
        Pen
      </label>
    </div>
    <div class="flex items-center p-4 border rounded-lg gap-3 border-zinc-200">
      <input
        id="radio-marker"
        name="tool-selection"
        type="radio"
        value="marker"
        x-model="selectedTool"
        class="rounded-full shadow size-4 border-zinc-300 text-stone-600 focus:ring-stone-600"
      />
      <label for="radio-marker" class="block text-sm font-medium text-zinc-500">
        Marker
      </label>
    </div>
    <div class="flex items-center p-4 border rounded-lg gap-3 border-zinc-200">
      <input
        id="radio-highlighter"
        name="tool-selection"
        type="radio"
        value="highlighter"
        x-model="selectedTool"
        class="rounded-full shadow size-4 border-zinc-300 text-stone-600 focus:ring-stone-600"
      />
      <label
        for="radio-highlighter"
        class="block text-sm font-medium text-zinc-500"
      >
        Highlighter
      </label>
    </div>
    <div class="flex items-center p-4 border rounded-lg gap-3 border-zinc-200">
      <input
        id="radio-eraser"
        name="tool-selection"
        type="radio"
        value="eraser"
        x-model="selectedTool"
        class="rounded-full shadow size-4 border-zinc-300 text-stone-600 focus:ring-stone-600"
      />
      <label for="radio-eraser" class="block text-sm font-medium text-zinc-500">
        Eraser
      </label>
    </div>
  </div>
</div>
