---
export const description = "Radio Button Group for Payment Methods";
import Text from "@/components/fundations/typography/Text.astro";
---
<div class="flex max-w-md mx-auto items-center p-12">
 
    <div class="flex flex-col gap-2 w-full " x-data="{ paymentMethod: 'credit-card' }">
        <div class="flex items-center gap-3 p-4 border rounded-lg border-base-200">
          <input
            id="radio-credit-card"
            name="payment-method"
            type="radio"
            value="credit-card"
            x-model="paymentMethod"
            class="size-4 rounded-full border-base-300 text-accent-600 focus:ring-accent-600 shadow"
          />
          <label for="radio-credit-card" class="block text-sm font-medium text-base-500">
            Credit Card
          </label>
        </div>
        <div class="flex items-center gap-3 p-4 border rounded-lg border-base-200">
          <input
            id="radio-debit-card"
            name="payment-method"
            type="radio"
            value="debit-card"
            x-model="paymentMethod"
            class="size-4 rounded-full border-base-300 text-accent-600 focus:ring-accent-600 shadow"
          />
          <label for="radio-debit-card" class="block text-sm font-medium text-base-500">
            Debit Card
          </label>
        </div>
        <div class="flex items-center gap-3 p-4 border rounded-lg border-base-200">
          <input
            id="radio-wallet"
            name="payment-method"
            type="radio"
            value="wallet"
            x-model="paymentMethod"
            class="size-4 rounded-full border-base-300 text-accent-600 focus:ring-accent-600 shadow"
          />
          <label for="radio-wallet" class="block text-sm font-medium text-base-500">
            Wallet
          </label>
        </div>
      </div>
      
</div>
