---
export const description = "Radio Group for Server Location";
import Text from "@/components/fundations/typography/Text.astro";
import Badge from "@/components/fundations/badges/Badge.astro";
---
<div class="flex items-center max-w-md p-12 mx-auto">
    <div class="flex gap-6" x-data="{ location: 'usa' }">
        <div class="flex items-center gap-3">
          <input
            id="radio-usa"
            name="server-location"
            type="radio"
            value="usa"
            x-model="location"
            class="rounded-full shadow size-4 border-base-300 text-accent-600 focus:ring-accent-600"
          />
          <label for="radio-usa" class="block text-sm text-base-500">USA</label>
        </div>
        <div class="flex items-center gap-3">
          <input
            id="radio-europe"
            name="server-location"
            type="radio"
            value="europe"
            x-model="location"
            class="rounded-full shadow size-4 border-base-300 text-accent-600 focus:ring-accent-600"
          />
          <label for="radio-europe" class="block text-sm text-base-500">Europe</label>
        </div>
        <div class="flex items-center gap-3">
          <input
            id="radio-asia"
            name="server-location"
            type="radio"
            value="asia"
            x-model="location"
            class="rounded-full shadow size-4 border-base-300 text-accent-600 focus:ring-accent-600"
          />
          <label for="radio-asia" class="block text-sm text-base-500">Asia</label>
        </div>
      </div>
      

</div>
