---
export const freeComponent = true;
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
const data = [
  {
    category: "Visionary Interfaces",
    text: "Experience a sleek, intuitive interface that elevates user engagement and makes your product shine.",
    items: ["Next-gen communication", "Optimized workflows"],
  },
  {
    category: "High-Powered Capabilities",
    text: "Leverage cutting-edge tools to simplify complex tasks and supercharge your productivity.",
    items: ["Innovative automation", "Cross-platform compatibility"],
  },
  {
    category: "Seamless Integration",
    text: "Connect effortlessly with your existing stack using our flexible, developer-friendly API.",
    items: ["Smooth system sync", "Rapid deployment"],
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 pb-0 mx-auto max-w-7xl md:px-12 lg:px-20">
    <div class="max-w-3xl">
      <Text
        tag="h2"
        variant="displayMD"
        class="font-semibold tracking-tight text-zinc-900 dark:text-white text-balance"
      >
        Reimagining banking for the digital era
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
      >
        Collaborate effortlessly across staging and sandbox environments.
      </Text>
    </div>
    <div
      class="mt-12 gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3"
    >
      {
        data.map((section) => (
          <div>
            <div>
              <Text
                variant="textBase"
                tag="h3"
                class="font-semibold  text-zinc-900 dark:text-white"
              >
                {section.category}
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
              >
                {section.text}
              </Text>
            </div>
            <ul
              role="list"
              class="mt-8 text-base font-medium space-y-1 text-zinc-900 dark:text-white"
            >
              {section.items.map((item, idx) => (
                <li>
                  <div class="flex items-center  gap-4">
                    <CircleCheck
                      class="text-zinc-600 dark:text-zinc-400"
                      size="base"
                      slot="icon"
                    />
                    <Text tag="span" variant="textSM">
                      {item}
                    </Text>
                  </div>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
    <div class="w-full mt-12 -mb-12">
      <img
        src="/images/dashboardLight.svg"
        alt="#_"
        class="w-full shadow rounded-t-2xl"
      />
    </div>
  </div>
</section>
