---
import Text from "@/components/fundations/typography/Text.astro";
const features = [
  {
    title: "Easy navigation",
    description:
      "Hover over any element to see its Tailwind classes. Press Space to easily pin and edit your settings.",
    imageSrc: "/images/phone1.png",
    imageAlt: "Easy navigation screenshot",
  },
  {
    title: "Persistence",
    description:
      "Spotless will remember all your changes to every element so you can copy all changes at once!",
    imageSrc: "/images/phone2.png",
    imageAlt: "Persistence feature screenshot",
  },
  {
    title: "Screenshot tool",
    description:
      "Make screenshots of a particular part of the screen to share quickly and easily.",
    imageSrc: "/images/phone3.png",
    imageAlt: "Screenshot tool feature",
  },
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid grid-cols-1 gap-12 text-center lg:text-left md:grid-cols-3 md:items-end lg:p-8 lg:bg-base-50 lg:rounded-3xl">
      <div class="lg:col-span-2">
        <Text
          tag="h2"
          variant="displaySM"
          class="mt-4 font-semibold text-base-900 lg:text-balance">
          Transforming the banking experience for a digital future
        </Text>
      </div>
      <Text
        tag="p"
        variant="textBase"
        class=" text-base-500 font-medium">
        The fastest method for working together on staging and temporary
        environments.
      </Text>
    </div>
    <dl
      class="grid text-center gap-x-4 gap-y-12 mt-12 lg:mt-4 lg:grid-cols-3 lg:gap-x-4 lg:gap-y-16">
      {
        features.map((feature, index) => (
          <div class="p-8 rounded-3xl bg-base-50 ">
            <Text
              class="size-12 rounded-full flex items-center justify-center   mx-auto  bg-accent-700  text-white"
              tag="span"
              variant="textBase">
              {index + 1}
            </Text>
            <div class="mt-6">
              <dt>
                <Text
                  variant="textLG"
                  tag="h3"
                  class="text-base-900 font-medium">
                  {feature.title}
                </Text>
              </dt>
              <dd class="mt-2 ">
                <Text
                  tag="p"
                  variant="textBase"
                  class=" text-base-500 font-medium">
                  {feature.description}
                </Text>
              </dd>
            </div>
            <img
              class="mt-8"
              src={feature.imageSrc}
              alt={feature.imageAlt}
            />
          </div>
        ))
      }
    </dl>
  </div>
</section>
