---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
const features = [
  {
    title: "Decentralized consensus mechanism",
    description:
      "Our platform employs a decentralized consensus mechanism that revolutionizes how transactions are confirmed.",
  },
  {
    title: "Streamlining processes",
    description:
      "Our smart contract automation feature simplifies complex business processes by encoding contract terms and conditions into self-executing code.",
  },
  {
    title: "Immutable ledger technology",
    description:
      "Embracing immutable ledger technology, our blockchain maintains an unchangeable record of all transactions.",
  },
  {
    title: "Easy management of digital assets",
    description:
      "Our user-friendly wallet simplifies the management of digital assets, providing an intuitive interface for storing, sending, and receiving cryptocurrencies.",
  },
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 lg:grid-cols-2 items-start gap-12">
      <div class="lg:pl-24 md:pl-12">
        <Heading
          class="mt-4"
          level={1}
          variant="defaultSmall">
          Revolutionary privacy-centric architecture: redefining secure
          communication paradigms.
        </Heading>
        <Text
          class="mt-4"
          tag="p"
          variant="body">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
        <div class="flex flex-wrap gap-4 mt-12 sm:items-center">
          <button
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-medium text-white transition-all duration-200 rounded-lg bg-accent-700 hover:to-accent-800 shadow focus:ring-2 focus:ring-base-950 focus:ring-offset-2 ring-offset-base-200 hover:shadow-none"
            aria-label="Action">
            Get started
          </button>
          <div class="text-sm text-base-500">
            <Text
              tag="span"
              class="block"
              variant="small">
              This is some support text
            </Text>
            <Text
              tag="span"
              class="block"
              variant="small">
              and this is also.
            </Text>
          </div>
        </div>
        <dl class="gap-8 grid sm:grid-cols-2 lg:grid-cols-1 mt-12">
          {
            features.map((feature, index) => (
              <div>
                <dt>
                  <Heading
                    level={3}
                    variant="featureTitle">
                    {feature.title}
                  </Heading>
                </dt>
                <dd class="mt-2 ">
                  <Text
                    tag="p"
                    variant="body">
                    {feature.description}
                  </Text>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
      <div class="lg:order-first block w-full mt-12 aspect-square lg:mt-0">
        <img
          alt="#_"
          class="rotate-12 drop-shadow hover:rotate-0 duration-300 ease-out w-full"
          src="/images/darkCard.svg"
        />
        <img
          alt="#_"
          class="-mt-32 -rotate-12 drop-shadow hover:rotate-0 duration-300 ease-out"
          src="/images/whiteCard.svg"
        />
        <img
          alt="#_"
          class="-rotate-2 drop-shadow hover:rotate-0 duration-300 ease-out"
          src="/images/blueCard.svg"
        />
      </div>
    </div>
  </div>
</section>
