---
import Text from "@/components/fundations/typography/Text.astro";
const features = [
  {
    title: "Distributed Consensus",
    description:
      "Achieve trust-free agreement across all participants without a central authority.",
  },
  {
    title: "Smart Automation",
    description:
      "Automate workflows securely with self-executing smart contracts.",
  },
  {
    title: "Immutable Ledger",
    description:
      "Maintain permanent, tamper-proof records of every transaction.",
  },
  {
    title: "Seamless Asset Management",
    description:
      "Manage your digital assets effortlessly through our intuitive wallet interface.",
  },
  {
    title: "Scalable Performance",
    description:
      "Scale effortlessly to meet high-volume transaction demands with minimal latency.",
  },
  {
    title: "Cross-Chain Interoperability",
    description:
      "Bridge assets and data across multiple blockchain networks seamlessly.",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="items-start grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div>
        <Text
          tag="h2"
          variant="displaySM"
          class="font-semibold tracking-tight text-zinc-900 dark:text-white text-balance"
        >
          Empowering secure, decentralized finance
        </Text>
        <dl class="gap-8 grid sm:grid-cols-2 lg:grid-cols-1 mt-8">
          {
            features.map((feature) => (
              <div>
                <dt>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-semibold  text-zinc-900 dark:text-white"
                  >
                    {feature.title}
                  </Text>
                </dt>
                <dd class="mt-2 ">
                  <Text
                    tag="p"
                    variant="textSM"
                    class="font-medium  text-zinc-500 dark:text-zinc-400"
                  >
                    {feature.description}
                  </Text>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
      <div
        class="h-full p-8 pb-0 overflow-hidden bg-zinc-50 dark:bg-zinc-900/40 rounded-2xl lg:order-first lg:col-span-2"
      >
        <img
          class="object-center w-full -mb-12 shadow rounded-t-2xl"
          alt="#_"
          src="/widgets/activity.svg"
        />
      </div>
    </div>
  </div>
</section>
