---
import Text from "@/components/fundations/typography/Text.astro";
const features = [
  {
    title: "Decentralized consensus mechanism",
    description:
      "Our platform employs a decentralized consensus mechanism that revolutionizes how transactions are confirmed.",
  },
  {
    title: "Streamlining processes",
    description:
      "Our smart contract automation feature simplifies complex business processes by encoding contract terms and conditions into self-executing code.",
  },
  {
    title: "Immutable ledger technology",
    description:
      "Embracing immutable ledger technology, our blockchain maintains an unchangeable record of all transactions.",
  },
  {
    title: "Easy management of digital assets",
    description:
      "Our user-friendly wallet simplifies the management of digital assets, providing an intuitive interface for storing, sending, and receiving cryptocurrencies.",
  },
];
---

<section class="bg-white dark:bg-black">
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="items-start grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div class="flex flex-col justify-between h-full gap-12">
        <div>
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-blue-600 dark:text-blue-400"
          >
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displaySM"
            class="mt-4 font-semibold text-zinc-900 dark:text-zinc-100 lg:text-balance"
          >
            Transforming the banking experience for a digital future
          </Text>
        </div>
        <dl class="gap-8 grid sm:grid-cols-2 lg:grid-cols-1">
          {
            features.map((feature) => (
              <div>
                <dt>
                  <Text
                    tag="h3"
                    variant="textLG"
                    class="font-medium  text-zinc-900 dark:text-zinc-100"
                  >
                    {feature.title}
                  </Text>
                </dt>
                <dd class="mt-2 ">
                  <Text
                    tag="p"
                    variant="textBase"
                    class="font-medium  text-zinc-500 dark:text-zinc-400"
                  >
                    {feature.description}
                  </Text>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
      <div
        class="h-full p-8 pb-0 overflow-hidden bg-zinc-50 dark:bg-zinc-900/40 rounded-2xl lg:order-first lg:col-span-2"
      >
        <img
          class="object-center w-full -mb-12 shadow rounded-t-2xl"
          alt="#_"
          src="/widgets/activity.svg"
        />
      </div>
    </div>
  </div>
</section>
