---
import Text from "@/components/fundations/typography/Text.astro";
// Enhanced feature highlights
const features = [
  {
    title: "Cutting-Edge Interface",
    description:
      "Experience a sleek, modern design that captivates users and boosts engagement.",
    imageSrc: "/widgets/sliders.svg",
    imageAlt: "Cutting-edge interface preview",
  },
  {
    title: "Advanced Capabilities",
    description:
      "Utilize powerful tools to tackle complex workflows with ease and precision.",
    imageSrc: "/widgets/progressCircles.svg",
    imageAlt: "Advanced capabilities illustration",
  },
  {
    title: "Seamless Connectivity",
    description:
      "Integrate effortlessly with your existing platforms for uninterrupted operations.",
    imageSrc: "/widgets/figmaComp.svg",
    imageAlt: "Seamless connectivity graphic",
  },
  {
    title: "Dynamic Insights",
    description:
      "Access real-time analytics and comprehensive reports to make informed decisions instantly.",
    imageSrc: "/widgets/figmaComp2.svg",
    imageAlt: "Dynamic insights dashboard",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="max-w-xl">
      <Text
        tag="h2"
        variant="displayMD"
        class="font-semibold tracking-tight text-zinc-900 dark:text-white text-balance"
      >
        Elevating finance through innovative features
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
      >
        Discover tools designed to streamline collaboration and drive
        efficiency.
      </Text>
    </div>
    <dl
      class="mt-12 grid sm:grid-cols-2 gap-x-6 gap-y-12 lg:gap-x-8 lg:gap-y-16 lg:Text-balance"
    >
      {
        features.map((feature) => (
          <div class="flex flex-col justify-between h-full gap-8">
            <div>
              <dt>
                <Text
                  tag="h3"
                  variant="textBase"
                  class="font-semibold  text-zinc-900 dark:text-white"
                >
                  {feature.title}
                </Text>
              </dt>
              <dd class="mt-2 ">
                <Text
                  tag="p"
                  variant="textSM"
                  class="font-medium  text-zinc-500 dark:text-zinc-400"
                >
                  {feature.description}
                </Text>
              </dd>
            </div>
            <div class="h-full p-8 pb-0 overflow-hidden bg-zinc-50 dark:bg-zinc-800 rounded-2xl">
              <img
                class="object-center w-full -mb-12 shadow  rounded-t-xl"
                src={feature.imageSrc}
                alt={feature.imageAlt}
              />
            </div>
          </div>
        ))
      }
    </dl>
  </div>
</section>
