---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
const features = [
  {
    title: "Innovative Design",
    description:
      "Our cutting-edge design offers a fresh, modern look that transforms your project into a standout experience.",
    imageSrc: "/images/blueCard.svg",
    imageAlt: "Innovative design image",
  },
  {
    title: "Powerful Functionality",
    description:
      "Equipped with advanced features and tools, our solution effortlessly manages complex tasks and workflows.",
    imageSrc: "/images/darkCard.svg",
    imageAlt: "Powerful functionality image",
  },
  {
    title: "Easy Integration",
    description:
      "Integrating with existing systems is smooth and hassle-free, thanks to our incredible flexible approach.",
    imageSrc: "/images/whiteCard.svg",
    imageAlt: "Easy integration image",
  },
  {
    title: "Revolutionizing communication",
    description:
      "Unlocking innovative solutions that enhance connectivity and streamline interactions.",
    imageSrc: "/images/blueCard.svg",
    imageAlt: "Revolutionizing communication image",
  },
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl">
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="default">
        Transforming the banking experience for a digital future
      </Heading>
      <Text
        class="mt-4"
        tag="p"
        variant="body">
        The fastest method for working together on staging and temporary
        environments.
      </Text>
    </div>
    <dl
      class="grid sm:grid-cols-2 gap-x-6 gap-y-12 lg:gap-x-8 lg:gap-y-16 mt-12">
      {
        features.map((feature) => (
          <div class="flex flex-col h-full justify-between">
            <div>
              <dt>
                <Heading
                  level={3}
                  variant="featureTitle">
                  {feature.title}
                </Heading>
              </dt>
              <dd class="mt-2 ">
                <Text
                  tag="p"
                  variant="body">
                  {feature.description}
                </Text>
              </dd>
            </div>
            <img
              class="mt-6 drop-shadow object-center w-full"
              src={feature.imageSrc}
              alt={feature.imageAlt}
            />
          </div>
        ))
      }
    </dl>
  </div>
</section>
