---
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";

const listItems = [
  "Revolutionizing communication",
  "Enhancing productivity",
  "Advanced security measures",
  "Seamless integration",
  "Empowering users with solutions",
  "Effortless management",
  "Unlocking innovative solutions",
  "Enabling interoperability",
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <ol
      role="list"
      class="list-none grid lg:items-center grid-cols-1 gap-6 sm:grid-cols-2 lg:gap-12 lg:grid-cols-3"
    >
      <li>
        <div class="max-w-xl lg:text-balance">
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-blue-600"
          >
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displayMD"
            class="mt-4 font-semibold text-zinc-900 lg:text-balance"
          >
            Transforming the banking experience for a digital future
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 font-medium text-zinc-500"
          >
            The fastest method for working together on staging and temporary
            environments.
            <br />
            <br />
            Equipped with advanced features and tools, our solution effortlessly
            manages complex tasks and workflows.
          </Text>
        </div>
      </li>
      <li class="order-last lg:order-none col-span-full lg:col-span-1">
        <img
          class="shadow rounded-2xl size-full"
          src="/widgets/activity.svg"
          alt="#_"
        />
      </li>
      <li>
        <ul
          class="text-base font-medium list-none space-y-1 text-zinc-900"
          role="list"
        >
          {
            listItems.map((item, index) => (
              <li>
                <div class="relative flex flex-row items-start gap-4">
                  <CircleCheck class="text-blue-600" size="base" />
                  <Text tag="span" variant="textBase">
                    {item}
                  </Text>
                </div>
              </li>
            ))
          }
        </ul>
      </li>
    </ol>
  </div>
</section>
