---
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
import Filters from "@/components/fundations/icons/Filters.astro";
import WaveSquare from "@/components/fundations/icons/WaveSquare.astro";
import ArrowIteration from "@/components/fundations/icons/ArrowIteration.astro";
const listItems = [
  "Real-time analytics",
  "Optimized workflows",
  "Robust security",
  "Unified integrations",
  "Streamlined operations",
  "Scalable solutions",
];
const data = [
  {
    icon: "Filters",
    category: "Interactive Filtering",
    text: "Filter and customize data views on the fly for tailored insights.",
  },
  {
    icon: "WaveSquare",
    category: "Dynamic Layouts",
    text: "Automatically adapt your interface to display content optimally on any device.",
  },
  {
    icon: "ArrowIteration",
    category: "Iterative Enhancements",
    text: "Continuously refine your workflows with intelligent feedback loops.",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="items-end grid grid-cols-1 gap-12 lg:grid-cols-2">
     
      <Text
        tag="h2"
        variant="displaySM"
        class="font-semibold tracking-tight text-zinc-900 dark:text-zinc-100 text-balance"
      >
        Driving innovation in modern finance
      </Text>
      <ul
        class="text-base font-medium grid grid-cols-1 gap-2 text-zinc-900 dark:text-zinc-100 sm:grid-cols-2 lg:grid-cols-2"
      >
        {
          listItems.map((item, index) => (
            <li>
              <div class="flex flex-row items-center gap-2">
                <CircleCheck
                  class="text-zinc-600 dark:text-zinc-400"
                  size="sm"
                />
                <Text tag="span" variant="textSM">
                  {item}
                </Text>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="mt-6 grid grid-cols-1 gap-12 sm:grid-cols-2">
      <div
        class="h-full p-8 pb-0 overflow-hidden bg-zinc-50 dark:bg-zinc-800 rounded-2xl"
      >
        <img
          class="object-center w-full -mb-12 shadow rounded-t-2xl"
          src="/widgets/sliders.svg"
          alt="#_"
        />
      </div>
      <div
        class="h-full p-8 pb-0 overflow-hidden bg-zinc-50 dark:bg-zinc-900/40 rounded-2xl"
      >
        <img
          class="object-center w-full -mb-12 shadow rounded-t-2xl"
          src="/widgets/progressCircles.svg"
          alt="#_"
        />
      </div>
    </div>
    <dl
      class="mt-12 grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16"
    >
      {
        data.map((section) => (
          <div>
            <div class="flex items-center text-zinc-500 gap-3">
              {section.icon === "Filters" && (
                <Filters class="text-zinc-600 dark:text-zinc-400" size="base" />
              )}
              {section.icon === "WaveSquare" && (
                <WaveSquare
                  class="text-zinc-600 dark:text-zinc-400"
                  size="base"
                />
              )}
              {section.icon === "ArrowIteration" && (
                <ArrowIteration
                  class="text-zinc-600 dark:text-zinc-400"
                  size="base"
                />
              )}

              <dt>
                <Text
                  tag="h3"
                  variant="textBase"
                  class="font-semibold text-zinc-900 dark:text-zinc-100"
                >
                  {section.category}
                </Text>
              </dt>
            </div>
            <dd>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
              >
                {section.text}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
