<section>
  <div
    class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative space-y-24">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div>
        <span
          class="text-accent-600 uppercase font-mono font-medium tracking-tight text-xs">
          Your next FinTech startup
        </span>
        <h1 class="text-4xl mt-8 tracking-tighter font-semibold text-base-900">
          Transform your visitors into users with an engaging headline
        </h1>
        <p class="mt-6 text-base font-medium text-base-500">
          The fastest method for working together on staging and temporary
          environments.
        </p>
      </div>
      <div class="lg:col-span-2">
        <div>
          <img
            class="object-cover h-full border shadow rounded-2xl"
            src="/images/dashboardLight.svg"
            alt="#_"
          />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div class="md:order-last">
        <span
          class="text-accent-600 uppercase font-mono font-medium tracking-tight text-xs">
          Your next FinTech startup
        </span>
        <h1 class="text-4xl mt-8 tracking-tighter font-semibold text-base-900">
          Transform your visitors into users with an engaging headline
        </h1>
        <p class="mt-6 text-base font-medium text-base-500">
          The fastest method for working together on staging and temporary
          environments.
        </p>
      </div>
      <div class="lg:col-span-2">
        <div>
          <img
            class="object-cover h-full border shadow rounded-2xl"
            src="/images/dashboardLight.svg"
            alt="#_"
          />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div>
        <span
          class="text-accent-600 uppercase font-mono font-medium tracking-tight text-xs">
          Your next FinTech startup
        </span>
        <h1 class="text-4xl mt-8 tracking-tighter font-semibold text-base-900">
          Transform your visitors into users with an engaging headline
        </h1>
        <p class="mt-6 text-base font-medium text-base-500">
          The fastest method for working together on staging and temporary
          environments.
        </p>
      </div>
      <div class="lg:col-span-2">
        <div>
          <img
            class="object-cover h-full border shadow rounded-2xl"
            src="/images/dashboardLight.svg"
            alt="#_"
          />
        </div>
      </div>
    </div>
  </div>
</section>
