---
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div
    class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative space-y-24"
  >
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div>
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-accent-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-base-900 lg:text-balance"
        >
          Embrace security from today onwards
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
      </div>
      <div class="lg:col-span-2">
        <img
          class="object-cover h-full shadow rounded-2xl"
          src="/images/dashboardLight.svg"
          alt="#_"
        />
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div class="md:order-last">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-accent-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-base-900 lg:text-balance"
        >
          Explore our expensive useless solutions
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
      </div>
      <div class="lg:col-span-2">
        <div>
          <img
            class="object-cover h-full shadow rounded-2xl"
            src="/images/dashboardLight.svg"
            alt="#_"
          />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div>
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-accent-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-base-900 lg:text-balance"
        >
          Stay in the know with real time notifications.
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
      </div>
      <div class="lg:col-span-2">
        <div>
          <img
            class="object-cover h-full shadow rounded-2xl"
            src="/images/dashboardLight.svg"
            alt="#_"
          />
        </div>
      </div>
    </div>
  </div>
</section>
