---
import Text from "@/components/fundations/typography/Text.astro";
---

<div>
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="items-center grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div>
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-blue-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-zinc-900 lg:text-balance"
        >
          Embrace security from today onwards
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
      </div>
      <div class="lg:col-span-2">
        <img
          class="object-cover h-full shadow rounded-2xl"
          src="/images/dashboardLight.svg"
          alt="#_"
        />
      </div>
    </div>
    <div class="items-center grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div class="md:order-last">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-blue-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-zinc-900 lg:text-balance"
        >
          Explore our expensive useless solutions
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
      </div>
      <div class="lg:col-span-2">
        <div>
          <img
            class="object-cover h-full shadow rounded-2xl"
            src="/images/dashboardLight.svg"
            alt="#_"
          />
        </div>
      </div>
    </div>
    <div class="items-center grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div>
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-blue-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-zinc-900 lg:text-balance"
        >
          Stay in the know with real time notifications.
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
      </div>
      <div class="lg:col-span-2">
        <div>
          <img
            class="object-cover h-full shadow rounded-2xl"
            src="/images/dashboardLight.svg"
            alt="#_"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
