---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div
    class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative space-y-24">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div>
        <Text
          tag="p"
          variant="eyebrow">
          Tagline
        </Text>

        <Heading
          class="mt-4"
          level={1}
          variant="default">
          Embrace  security from today onwards
        </Heading>
        <Text
          class="mt-4"
          tag="p"
          variant="body">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
      </div>
      <div class="lg:col-span-2">
        <div>
          <img
            class="object-cover h-full border shadow rounded-2xl"
            src="/images/dashboardLight.svg"
            alt="#_"
          />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div class="md:order-last">
        <Text
          tag="p"
          variant="eyebrow">
          Tagline
        </Text>

        <Heading
          class="mt-4"
          level={1}
          variant="default">
          Explore our expensive useless  solutions
        </Heading>
        <Text
          class="mt-4"
          tag="p"
          variant="body">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
      </div>
      <div class="lg:col-span-2">
        <div>
          <img
            class="object-cover h-full border shadow rounded-2xl"
            src="/images/dashboardLight.svg"
            alt="#_"
          />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div>
        <Text
          tag="p"
          variant="eyebrow">
          Tagline
        </Text>

        <Heading
          class="mt-4"
          level={1}
          variant="default">
          Stay in the know with  real time notifications.
        </Heading>
        <Text
          class="mt-4"
          tag="p"
          variant="body">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
      </div>
      <div class="lg:col-span-2">
        <div>
          <img
            class="object-cover h-full border shadow rounded-2xl"
            src="/images/dashboardLight.svg"
            alt="#_"
          />
        </div>
      </div>
    </div>
  </div>
</section>
