---
import Text from "@/components/fundations/typography/Text.astro";
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24 space-y-24">
    <div class="items-center grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div>
        <Text
          tag="h2"
          variant="displayMD"
          class="font-semibold tracking-tight text-zinc-900 dark:text-zinc-100 text-balance"
        >
          Protect your data with confidence
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
        >
          Safeguard your assets through robust encryption and 24/7 monitoring.
        </Text>
      </div>
      <div class="lg:col-span-2">
        <img
          class="object-cover h-full shadow rounded-2xl bg-white dark:bg-zinc-900/40"
          src="/images/dashboardLight.svg"
          alt="#_"
        />
      </div>
    </div>
    <div class="items-center grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div class="md:order-last">
        <Text
          tag="h2"
          variant="displayMD"
          class="font-semibold tracking-tight text-zinc-900 dark:text-zinc-100 text-balance"
        >
          Accelerate workflows with smart automation
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
        >
          Streamline processes across all environments for rapid collaboration.
        </Text>
      </div>
      <div class="lg:col-span-2">
        <div>
          <img
            class="object-cover h-full shadow rounded-2xl"
            src="/images/dashboardLight.svg"
            alt="#_"
          />
        </div>
      </div>
    </div>
    <div class="items-center grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div>
        <Text
          tag="h2"
          variant="displayMD"
          class="font-semibold tracking-tight text-zinc-900 dark:text-zinc-100 text-balance"
        >
          Stay informed with real-time updates
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
        >
          Receive instant notifications and proactive insights to stay ahead.
        </Text>
      </div>
      <div class="lg:col-span-2">
        <div>
          <img
            class="object-cover h-full shadow rounded-2xl"
            src="/images/dashboardLight.svg"
            alt="#_"
          />
        </div>
      </div>
    </div>
  </div>
</section>
