---
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
const listOne = [
  "Revolutionizing communication",
  "Enhancing productivity",
  "Advanced security measures",
  "Seamless integration",
];
const listTwo = [
  "Empowering users with solutions",
  "Effortless management",
  "Unlocking innovative solutions",
  "Enabling interoperability",
];
---

<section class="relative overflow-hidden">
  <div
    class="relative flex flex-col items-center pt-24 pb-24 mx-auto md:flex-row lg:gap-8 max-w-7xl"
  >
    <div class="px-8 md:pl-12 lg:pl-44 lg:pb-0">
      <div>
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-blue-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-zinc-900 lg:text-balance"
        >
          Embrace security from today onwards
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
        <ul
          role="list"
          class="flex-col hidden mt-12 font-medium lg:flex gap-1 ext-base text-zinc-900"
        >
          {
            listOne.map((item, index) => (
              <li>
                <div class="flex flex-row items-center  gap-4">
                  <CircleCheck class="text-blue-600" size="base" />
                  <Text tag="span" variant="textBase">
                    {item}
                  </Text>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="h-full p-8 mr-auto -ml-48 lg:p-0 md:order-first">
      <div class="lg:h-full">
        <img
          alt="#"
          class="shadow rounded-2xl"
          src="/images/dashboardLight.svg"
        />
      </div>
    </div>
  </div>
  <div
    class="relative flex flex-col items-center pt-24 pb-24 mx-auto md:flex-row lg:gap-8 max-w-7xl"
  >
    <div class="px-8 md:pr-12 lg:pr-44 lg:pb-0">
      <div>
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-blue-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-zinc-900 lg:text-balance"
        >
          Embrace security from today onwards
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
        <ul
          role="list"
          class="flex-col hidden mt-12 font-medium lg:flex gap-1 ext-base text-zinc-900"
        >
          {
            listTwo.map((item) => (
              <li>
                <div class="flex flex-row items-center  gap-4">
                  <CircleCheck class="text-blue-600" size="base" />
                  <Text tag="span" variant="textBase">
                    {item}
                  </Text>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="h-full p-8 ml-auto -mr-48 lg:p-0">
      <div class="lg:h-full">
        <img
          alt="#"
          class="shadow rounded-3xl"
          src="/images/dashboardLight.svg"
        />
      </div>
    </div>
  </div>
</section>
