---
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
const listOne = [
  "Real-time collaboration",
  "Automated workflows",
  "Robust security",
  "Integrated APIs",
];
const listTwo = [
  "Centralized monitoring",
  "Scalable infrastructure",
  "Data-driven insights",
  "Seamless deployment",
];
---

<section class="overflow-hidden bg-white dark:bg-zinc-900">
  <div
    class="relative flex flex-col items-center pt-24 pb-24 mx-auto md:flex-row lg:gap-8 max-w-7xl"
  >
    <div class="px-8 md:px-12 lg:px-20 lg:pb-0">
      <div>
        <Text
          tag="h2"
          variant="displayMD"
          class="font-semibold tracking-tight text-zinc-900 dark:text-white text-balance"
        >
          Unite your team with robust tools
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
        >
          Simplify your workflow with integrated staging, monitoring, and
          deployment features.
        </Text>
        <ul
          role="list"
          class="flex-col hidden mt-12 font-medium lg:flex gap-1 ext-base text-zinc-900 dark:text-white"
        >
          {
            listTwo.map((item) => (
              <li>
                <div class="flex flex-row items-center  gap-2">
                  <CircleCheck
                    class="text-zinc-600 dark:text-zinc-400"
                    size="base"
                  />
                  <Text tag="span" variant="textSM">
                    {item}
                  </Text>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="h-full p-8 ml-auto -mr-48 lg:p-0">
      <div class="lg:h-full">
        <img
          alt="#"
          class="shadow rounded-3xl"
          src="/images/dashboardLight.svg"
        />
      </div>
    </div>
  </div>
</section>
