---
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
const listOne = [
  "Revolutionizing communication",
  "Enhancing productivity",
  "Advanced security measures",
  "Seamless integration",
];
const listTwo = [
  "Empowering users with solutions",
  "Effortless management",
  "Unlocking innovative solutions",
  "Enabling interoperability",
];
---

<section class="relative overflow-hidden">
  <div
    class="flex flex-col items-center pb-24 md:flex-row lg:gap-8 pt-24 mx-auto max-w-7xl relative"
  >
    <div class="px-8 md:pl-12 lg:pl-44 lg:pb-0">
      <div>
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-accent-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-base-900 lg:text-balance"
        >
          Embrace security from today onwards
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
        <ul
          role="list"
          class="lg:flex hidden flex-col gap-1 mt-12 ext-base font-medium text-base-900"
        >
          {
            listOne.map((item, index) => (
              <li>
                <div class=" flex flex-row items-center gap-4">
                  <CircleCheck class="text-accent-600" size="base" />
                  <Text tag="span" variant="textBase">
                    {item}
                  </Text>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="h-full mr-auto -ml-48 p-8 lg:p-0 md:order-first">
      <div class="lg:h-full">
        <img
          alt="#"
          class="shadow rounded-2xl"
          src="/images/dashboardLight.svg"
        />
      </div>
    </div>
  </div>
  <div
    class="flex flex-col items-center pb-24 md:flex-row lg:gap-8 pt-24 mx-auto max-w-7xl relative"
  >
    <div class="px-8 md:pr-12 lg:pr-44 lg:pb-0">
      <div>
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-accent-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-base-900 lg:text-balance"
        >
          Embrace security from today onwards
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
        <ul
          role="list"
          class="lg:flex hidden flex-col gap-1 mt-12 ext-base font-medium text-base-900"
        >
          {
            listTwo.map((item) => (
              <li>
                <div class=" flex flex-row items-center gap-4">
                  <CircleCheck class="text-accent-600" size="base" />
                  <Text tag="span" variant="textBase">
                    {item}
                  </Text>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="h-full ml-auto -mr-48 p-8 lg:p-0">
      <div class="lg:h-full">
        <img
          alt="#"
          class="shadow rounded-3xl"
          src="/images/dashboardLight.svg"
        />
      </div>
    </div>
  </div>
</section>
