---
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
import CircleX from "@/components/fundations/icons/CircleX.astro";
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32">
    <div class="items-end pb-2 grid grid-cols-4">
      <div class="col-span-4 max-w-[460px] md:col-span-2">
        <Text
          tag="h2"
          variant="displayMD"
          class="font-semibold tracking-tight text-zinc-900 dark:text-white text-balance"
        >
          Standing out
        </Text>
      </div>
      <div
        class="hidden text-base font-semibold text-center col-span-1 md:block text-zinc-900 dark:text-white"
      >
        Oxbow
      </div>
      <div
        class="hidden text-base font-semibold text-center col-span-1 md:block text-zinc-900 dark:text-white"
      >
        Other processors
      </div>
    </div>
    <div
      class="border-y divide-y border-zinc-200 dark:border-zinc-700 divide-zinc-200 dark:divide-zinc-700 lg:text-balance"
    >
      <div class="items-start py-6 grid grid-flow-row-dense grid-cols-4 gap-4">
        <div class="order-1 col-span-3 md:col-span-2 lg:col-span-2">
          <Text
            tag="h3"
            variant="textBase"
            class="font-semibold text-zinc-900 dark:text-white"
          >
            Comprehensive error reporting
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Access detailed failure codes and clear explanations instantly to
            diagnose and resolve payment issues faster.
          </Text>
        </div>
        <div class="order-2 justify-self-center lg:order-3">
          <CircleCheck class="text-zinc-600 dark:text-zinc-400" size="base" />
        </div>
        <div class="order-3 hidden md:block justify-self-center lg:order-4">
          <CircleX class="text-zinc-500 dark:text-zinc-400" size="base" />
        </div>
      </div>
      <div class="items-start py-6 grid grid-flow-row-dense grid-cols-4 gap-4">
        <div class="order-1 col-span-3 md:col-span-2 lg:col-span-2">
          <Text
            tag="h3"
            variant="textLG"
            class="font-semibold text-zinc-900 dark:text-white"
          >
            Unique transaction tracking
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Instantly obtain a unique RTP network reference to confirm and
            monitor payment status in real-time.
          </Text>
        </div>
        <div class="order-2 justify-self-center lg:order-3">
          <CircleCheck class="text-zinc-600 dark:text-zinc-400" size="base" />
        </div>
        <div class="order-3 hidden md:block justify-self-center lg:order-4">
          <CircleX class="text-zinc-500 dark:text-zinc-400" size="base" />
        </div>
      </div>
    </div>
  </div>
</section>
