---
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
import CircleX from "@/components/fundations/icons/CircleX.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-4 items-end pb-8">
      <div class="col-span-4 max-w-[460px] md:col-span-2">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-accent-600">
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-base-900 lg:text-balance">
          Embrace security from today onwards
        </Text>
      </div>
      <div class="col-span-1 hidden md:block text-center text-sm font-medium">
        Alfred
      </div>
      <div class="col-span-1 hidden md:block text-center text-sm font-medium">
        Other processors
      </div>
    </div>
    <div class="border-y divide-y">
      <div class="grid grid-flow-row-dense grid-cols-4 items-start py-6 gap-4">
        <div class="order-1 col-span-3 md:col-span-2 lg:col-span-2">
          <Text
            tag="h3"
            variant="textLG"
            class="text-base-900 font-medium">
            Detailed rejection information
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 text-base-500 font-medium">
            Immediately receive in-depth rejection codes and accompanying notes
            for a swift understanding of the precise reasons behind a payment
            failure.
          </Text>
        </div>
        <div class="order-2 justify-self-center lg:order-3">
          <CircleCheck
            class="text-accent-600"
            size="lg"
          />
        </div>
        <div class="order-3 hidden md:block justify-self-center lg:order-4">
          <CircleX
            class="text-base-500"
            size="lg"
          />
        </div>
      </div>
      <div class="grid grid-flow-row-dense grid-cols-4 items-start py-6 gap-4">
        <div class="order-1 col-span-3 md:col-span-2 lg:col-span-2">
          <Text
            tag="h3"
            variant="textLG"
            class="text-base-900 font-medium">
            Transaction identification
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 text-base-500 font-medium">
            Receive a distinctive transfer identifier from the RTP network right
            away to verify the initiation of a payment
          </Text>
        </div>
        <div class="order-2 justify-self-center lg:order-3">
          <CircleCheck
            class="text-accent-600"
            size="lg"
          />
        </div>
        <div class="order-3 hidden md:block justify-self-center lg:order-4">
          <CircleX
            class="text-base-500"
            size="lg"
          />
        </div>
      </div>
      <!-- -- Add more features here ---->
    </div>
  </div>
</section>
