---
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
import CircleX from "@/components/fundations/icons/CircleX.astro";
---

<div class="p-8">
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto">
    <div class="items-end pb-8 grid grid-cols-4">
      <div class="col-span-4 max-w-[460px] md:col-span-2">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-blue-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-zinc-900 lg:text-balance"
        >
          Embrace security from today onwards
        </Text>
      </div>
      <div class="hidden text-sm font-medium text-center col-span-1 md:block">
        Alfred
      </div>
      <div class="hidden text-sm font-medium text-center col-span-1 md:block">
        Other processors
      </div>
    </div>
    <div class="border-y divide-y border-zinc-200 divide-zinc-200">
      <div class="items-start py-6 grid grid-flow-row-dense grid-cols-4 gap-4">
        <div class="order-1 col-span-3 md:col-span-2 lg:col-span-1">
          <Text tag="h3" variant="textM" class="font-medium text-zinc-900">
            Detailed rejection information
          </Text>
        </div>
        <div class="order-4 col-span-3 md:col-span-2 lg:order-2 lg:col-span-1">
          <Text tag="p" variant="textBase" class="font-medium text-zinc-500">
            Immediately receive in-depth rejection codes and notes.
          </Text>
        </div>
        <div class="order-2 justify-self-center lg:order-3">
          <CircleCheck class="text-blue-600" size="lg" slot="icon" />
        </div>
        <div class="order-3 hidden md:block justify-self-center lg:order-4">
          <CircleX class="text-zinc-500" size="lg" slot="icon" />
        </div>
      </div>
      <div class="items-start py-6 grid grid-flow-row-dense grid-cols-4 gap-4">
        <div class="order-1 col-span-3 md:col-span-2 lg:col-span-1">
          <Text tag="h3" variant="textM" class="font-medium text-zinc-900">
            Transaction identification
          </Text>
        </div>
        <div class="order-4 col-span-3 md:col-span-2 lg:order-2 lg:col-span-1">
          <Text tag="p" variant="textBase" class="font-medium text-zinc-500">
            Receive a distinctive transfer identifier from the RTP.
          </Text>
        </div>

        <div class="order-2 justify-self-center lg:order-3">
          <CircleCheck class="text-blue-600" size="lg" slot="icon" />
        </div>
        <div class="order-3 hidden md:block justify-self-center lg:order-4">
          <CircleX class="text-zinc-500" size="lg" slot="icon" />
        </div>
      </div>
   
    </div>
  </div>
  <!-- copy:end -->
</div>
