---
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
import CircleX from "@/components/fundations/icons/CircleX.astro";
---
<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="items-end pb-8 grid grid-cols-4">
      <div class="col-span-4 max-w-[460px] md:col-span-2">
        <Text
          tag="h2"
          variant="displayMD"
          class="font-semibold tracking-tight text-zinc-900 dark:text-white text-balance"
        >
          Embrace security from today onwards
        </Text>
      </div>
      <div
        class="hidden text-base font-semibold text-center col-span-1 md:block text-zinc-900 dark:text-white"
      >
        Oxbow
      </div>
      <div
        class="hidden text-base font-semibold text-center col-span-1 md:block text-zinc-900 dark:text-white"
      >
        Other processors
      </div>
    </div>
    <div
      class="border-y divide-y border-zinc-200 dark:border-zinc-700 divide-zinc-200 dark:divide-zinc-700"
    >
      <div class="items-start py-6 grid grid-flow-row-dense grid-cols-4 gap-4">
        <Text
          tag="h3"
          variant="textBase"
          class="font-semibold text-zinc-900 dark:text-white order-1 col-span-3 md:col-span-2 lg:col-span-1"
        >
          Detailed rejection information
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="font-medium text-zinc-500 dark:text-zinc-400 order-4 col-span-3 md:col-span-2 lg:order-2 lg:col-span-1"
        >
          Immediately receive in-depth rejection codes and notes.
        </Text>
        <div class="order-2 justify-self-center lg:order-3">
          <CircleCheck
            class="text-blue-600 dark:text-blue-400"
            size="lg"
            slot="icon"
          />
        </div>
        <div class="order-3 hidden md:block justify-self-center lg:order-4">
          <CircleX
            class="text-zinc-500 dark:text-zinc-400"
            size="lg"
            slot="icon"
          />
        </div>
      </div>
      <div class="items-start py-6 grid grid-flow-row-dense grid-cols-4 gap-4">
        <Text
          tag="h3"
          variant="textBase"
          class="font-semibold text-zinc-900 dark:text-white order-1 col-span-3 md:col-span-2 lg:col-span-1"
        >
          Transaction identification
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="mt-2 font-medium text-zinc-500 dark:text-zinc-400 order-4 col-span-3 md:col-span-2 lg:order-2 lg:col-span-1"
        >
          Receive a distinctive transfer identifier from the RTP.
        </Text>
        <div class="order-2 justify-self-center lg:order-3">
          <CircleCheck
            class="text-blue-600 dark:text-blue-400"
            size="lg"
            slot="icon"
          />
        </div>
        <div class="order-3 hidden md:block justify-self-center lg:order-4">
          <CircleX
            class="text-zinc-500 dark:text-zinc-400"
            size="lg"
            slot="icon"
          />
        </div>
      </div>
    </div>
  </div>
</section>
