---
import Button from "@/components/fundations/buttons/Button.astro";
const data = [
  {
    category: "Innovative Design",
    text: "Our cutting-edge design offers a fresh, modern look that transforms your project into a standout experience. ",
    items: ["Revolutionizing communication", "Enhancing productivity"],
  },
  {
    category: "Powerful Functionality",
    text: "Equipped with advanced features and tools, our solution effortlessly manages complex tasks and workflows. ",
    items: ["Unlocking innovative solutions", "Enabling interoperability"],
  },
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl">
      <span
        class="font-mono text-xs font-medium tracking-tight text-accent-600 uppercase"
        >Tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-base-900 lg:text-balance">
        Transform your visitors into users with an engaging headline
      </h1>
      <p class="mt-6 text-base font-medium text-base-500 lg:text-pretty">
        The fastest method for working together on staging and temporary
        environments.
      </p>
    </div>
    <dl
      class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16 mt-12">
      <div>
        <div class="text-accent-500 flex gap-3 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-filters"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M12 8m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0"
            ></path><path d="M8 11a5 5 0 1 0 3.998 1.997"></path><path
              d="M12.002 19.003a5 5 0 1 0 3.998 -8.003"></path></svg
          >
          <dt class="tracking-tight text-lg font-medium text-base-900">
            Innovative Design
          </dt>
        </div>
        <dd class="mt-2 text-sm text-base-500 text-pretty">
          Our cutting-edge design offers a fresh, modern look that transforms
          your project into a standout experience.
        </dd>
      </div>
      <div>
        <div class="text-accent-500 flex gap-3 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-wave-square"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M3 12h5v8h4v-16h4v8h5"></path></svg
          >
          <dt class="tracking-tight text-lg font-medium text-base-900">
            Powerful Functionality
          </dt>
        </div>
        <dd class="mt-2 text-sm text-base-500 text-pretty">
          Equipped with advanced features and tools, our solution effortlessly
          manages complex tasks and workflows.
        </dd>
      </div>
      <div>
        <div class="text-accent-500 flex gap-3 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-iteration"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M8.5 16a5.5 5.5 0 1 0 -5.5 -5.5v.5"></path><path
              d="M3 16h18"></path><path d="M18 13l3 3l-3 3"></path></svg
          >
          <dt class="tracking-tight text-lg font-medium text-base-900">
            Easy Integration
          </dt>
        </div>
        <dd class="mt-2 text-sm text-base-500 text-pretty">
          Integrating with existing systems is smooth and hassle-free, thanks to
          our incredible flexible approach.
        </dd>
      </div>
    </dl>
    <dl
      class="grid md:grid-cols-2 gap-x-6 gap-y-12 lg:gap-x-8 lg:gap-y-16 mt-12 lg:mt-24">
    <div class="lg:bg-base-50 lg:p-1 lg:shadow lg:rounded-3xl">
        <div
          class="lg:p-8 lg:bg-white lg:rounded-[1.3rem] flex flex-col h-full justify-between lg:shadow">
          <div>
            <span
              class="font-mono text-xs font-medium tracking-tight text-accent-600 uppercase"
              >Tagline</span
            >
            <h1 class="text-4xl mt-4 font-semibold tracking-tight text-base-900">
              Let's get it done together, whenerever, forever.
            </h1>
          </div>

          <div class="flex flex-wrap gap-4 mt-12">
            <Button
              variant="accent"
              size="sm">
              Get started
            </Button>
            <div class="text-sm text-base-500">
              <span class="block">This is some support text</span>
              <span class="block">and this is also.</span>
            </div>
          </div>
        </div>
    </div>

      <div class="block w-full mt-12 lg:mt-0 relative">
        <img
          alt="#_"
          class="relative drop-shadow h-full object-cover w-full"
          src="/images/darkCard.svg"
        />
      </div>
    </dl>
  </div>
</section>
