---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Filters from "@/components/fundations/icons/Filters.astro";
import WaveSquare from "@/components/fundations/icons/WaveSquare.astro";
import ArrowIteration from "@/components/fundations/icons/ArrowIteration.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
const data = [
  {
    icon: "Filters",
    category: "Instant Preview",
    text: "See your changes update live as you code for immediate feedback.",
  },
  {
    icon: "WaveSquare",
    category: "Contextual Autocomplete",
    text: "Get smart class suggestions tailored to your project as you type.",
  },
  {
    icon: "ArrowIteration",
    category: "Toggle Visibility",
    text: "Show or hide UI components instantly to test different states.",
  },
  {
    icon: "Plus",
    category: "Color Swatches",
    text: "View and pick color values directly within your autocomplete menu.",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-20">
    <div class="items-start grid grid-cols-1 lg:grid-cols-2 gap-12">
      <div>
        <Text
          tag="h2"
          variant="displayMD"
          class="font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
        >
          Don't supercharge your development with live tools
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
        >
          Collaborate seamlessly across all environments with real-time
          previews.
        </Text>
        <div class="flex flex-wrap items-center mt-8 gap-4">
          <Button variant="default" size="sm">Start Building</Button>
          <div
            class="text-sm font-medium text-zinc-500 dark:text-zinc-400 lg:items-center"
          >
            <span class="block"> Trusted by developers worldwide. </span>
            <span class="block">
              Fits seamlessly into your existing stack.
            </span>
          </div>
        </div>
      </div>
      <dl class="grid grid-cols-1 lg:grid-cols-2 gap-10">
        {
          data.map((section) => (
            <div>
              <div class="flex items-center text-zinc-500 gap-2">
                {section.icon === "Filters" && (
                  <Filters class="text-zinc-600 dark:text-zinc-400" size="sm" />
                )}
                {section.icon === "WaveSquare" && (
                  <WaveSquare
                    class="text-zinc-600 dark:text-zinc-400"
                    size="sm"
                  />
                )}
                {section.icon === "ArrowIteration" && (
                  <ArrowIteration
                    class="text-zinc-600 dark:text-zinc-400"
                    size="sm"
                  />
                )}
                {section.icon === "Plus" && (
                  <Plus class="text-zinc-600 dark:text-zinc-400" size="sm" />
                )}
                <dt>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-semibold  text-zinc-900 dark:text-white"
                  >
                    {section.category}
                  </Text>
                </dt>
              </div>
              <dd>
                <Text
                  tag="p"
                  variant="textSM"
                  class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
                >
                  {section.text}
                </Text>
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</section>
