---
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
const listItems = [
  "Great communication",
  "Enhancing productivity",
  "Advanced  measures",
  "Seamless integration",
];
---

<section class="bg-white dark:bg-black">
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="flex flex-col gap-24">
      <div class="items-center grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-24">
        <div>
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-blue-600 dark:text-blue-400"
          >
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displayMD"
            class="mt-4 font-semibold text-zinc-900 dark:text-zinc-100 lg:text-balance"
          >
            Transforming the banking experience for a digital future
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
          >
            The fastest method for working together on staging and temporary
            environments.
          </Text>
          <ul
            class="mt-12 text-base font-medium text-zinc-900 dark:text-zinc-100 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-2"
          >
            {
              listItems.map((item, index) => (
                <li>
                  <div class="relative flex flex-row items-center gap-4">
                    <CircleCheck
                      class="text-blue-600 dark:text-blue-400"
                      size="base"
                      slot="icon"
                    />
                    <Text tag="span" variant="textBase">
                      {item}
                    </Text>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
        <div
          class="p-6 pb-0 overflow-hidden md:order-first bg-zinc-50 dark:bg-zinc-900/40 rounded-2xl"
        >
          <img
            alt="#_"
            class="shadow rounded-t-2xl size-full"
            src="/widgets/analytics.svg"
          />
        </div>
      </div><div
        class="items-center grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-24 md:flex-row-reverse"
      >
        <div>
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-blue-600 dark:text-blue-400"
          >
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displayMD"
            class="mt-4 font-semibold text-zinc-900 dark:text-zinc-100 lg:text-balance"
          >
            Transforming the banking experience for a digital future
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
          >
            The fastest method for working together on staging and temporary
            environments.
          </Text>
          <ul
            class="mt-12 text-base font-medium text-zinc-900 dark:text-zinc-100 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-2"
          >
            {
              listItems.map((item) => (
                <li>
                  <div class="relative flex flex-row items-center gap-4">
                    <CircleCheck
                      class="text-blue-600 dark:text-blue-400"
                      size="base"
                      slot="icon"
                    />
                    <Text tag="span" variant="textBase">
                      {item}
                    </Text>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
        <div
          class="p-6 pb-0 overflow-hidden bg-zinc-50 dark:bg-zinc-900/40 rounded-2xl"
        >
          <img
            alt="#_"
            class="shadow rounded-t-2xl size-full"
            src="/widgets/progressCircles.svg"
          />
        </div>
      </div>
    </div>
  </div>
</section>
