---
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
const listItems = [
  "Real-time analytics",
  "Actionable insights",
  "Proactive security",
  "Unified integrations",
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24 lg:text-balance">
    <div class="flex flex-col gap-24">
      <div class="items-center grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-24">
        <div>
          <Text
            tag="h2"
            variant="displayMD"
            class="font-semibold tracking-tight text-zinc-900 dark:text-zinc-100 text-balance"
          >
            Unlock the power of data-driven insights
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Analyze key metrics instantly to guide strategic decisions and stay
            ahead of the curve.
          </Text>
          <ul
            class="mt-8 text-base font-medium text-zinc-900 dark:text-zinc-100 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-2"
          >
            {
              listItems.map((item, index) => (
                <li>
                  <div class="relative flex flex-row items-center gap-2">
                    <CircleCheck
                      class="text-blue-600 dark:text-blue-400"
                      size="sm"
                      slot="icon"
                    />
                    <Text tag="span" variant="textSM">
                      {item}
                    </Text>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
        <div
          class="p-6 pb-0 overflow-hidden md:order-first bg-zinc-50 dark:bg-zinc-800 rounded-2xl"
        >
          <img
            alt="#_"
            class="shadow rounded-t-2xl size-full"
            src="/widgets/analytics.svg"
          />
        </div>
      </div>
      <div
        class="items-center grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-24 md:flex-row-reverse"
      >
        <div>
          <Text
            tag="h2"
            variant="displayMD"
            class="font-semibold tracking-tight text-zinc-900 dark:text-zinc-100 text-balance"
          >
            Automate and scale your workflows
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Streamline tasks with automated processes and robust integration
            support.
          </Text>
          <ul
            class="mt-8 text-base font-medium text-zinc-900 dark:text-zinc-100 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-2"
          >
            {
              listItems.map((item) => (
                <li>
                  <div class="relative flex flex-row items-center gap-2">
                    <CircleCheck
                      class="text-blue-600 dark:text-blue-400"
                      size="sm"
                      slot="icon"
                    />
                    <Text tag="span" variant="textSM">
                      {item}
                    </Text>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
        <div
          class="p-6 pb-0 overflow-hidden bg-zinc-50 dark:bg-zinc-900/40 rounded-2xl"
        >
          <img
            alt="#_"
            class="shadow rounded-t-2xl size-full"
            src="/widgets/progressCircles.svg"
          />
        </div>
      </div>
    </div>
  </div>
</section>
