---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Filters from "@/components/fundations/icons/Filters.astro";
import WaveSquare from "@/components/fundations/icons/WaveSquare.astro";
import ArrowIteration from "@/components/fundations/icons/ArrowIteration.astro";
const data = [
  {
    image: "/images/whiteCard.svg",
    icon: "Filters",
    category: "Live editing",
    text: "Instantly see the result of every change you make.",
  },
  {
    image: "/images/blueCard.svg",
    icon: "WaveSquare",
    category: "Autocompletion",
    text: "Spotless will suggest the right classes for you as you type.",
  },
  {
    image: "/images/darkCard.svg",
    icon: "ArrowIteration",
    category: "Hide/show classes",
    text: "Hide or show classes to see how your design changes.",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-3 lg:items-end">
      <div class="lg:col-span-2">
        <Text
          tag="span"
          variant="eyebrow">
          Tagline
        </Text>
        <Heading
          class="mt-4"
          level={1}
          variant="defaultSmall">
          Transform your visitors into users with an engaging headline
        </Heading>
        <Text
          class="mt-4"
          tag="p"
          variant="body">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
      </div>
      <div class="flex flex-wrap items-center gap-2 lg:ml-auto">
        <Button
          variant="default"
          size="sm">
          Get started
        </Button>
      </div>
    </div>
    <dl
      class="grid grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-3 lg:gap-y-16 mt-24">
      {
        data.map((section) => (
          <div class="flex flex-col justify-between h-full gap-4 p-8 bg-base-50 rounded-3xl">
            <div>
              <img
                class="drop-shadow -mt-16"
                src={section.image}
                alt="#_"
              />
            </div>
            <div>
              <div class="text-accent-500 flex gap-3 items-center">
                {section.icon === "Filters" && (
                  <Filters
                    class="text-accent-600"
                    size="base"
                  />
                )}
                {section.icon === "WaveSquare" && (
                  <WaveSquare
                    class="text-accent-600"
                    size="base"
                  />
                )}
                {section.icon === "ArrowIteration" && (
                  <ArrowIteration
                    class="text-accent-600"
                    size="base"
                  />
                )}

                <dt>
                  <Heading
                    level={3}
                    variant="featureTitle">
                    {section.category}
                  </Heading>
                </dt>
              </div>
              <dd>
                <Text
                  class="mt-2"
                  tag="p"
                  variant="body">
                  {section.text}
                </Text>
              </dd>
            </div>
          </div>
        ))
      }
    </dl>

  </div>
</section>
