---
import Text from "@/components/fundations/typography/Text.astro";
import Filters from "@/components/fundations/icons/Filters.astro";
import WaveSquare from "@/components/fundations/icons/WaveSquare.astro";
import ArrowIteration from "@/components/fundations/icons/ArrowIteration.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import Cursor from "@/components/fundations/icons/Cursor.astro";
import Persist from "@/components/fundations/icons/Persist.astro";
import Camera from "@/components/fundations/icons/Camera.astro";
import Stacked from "@/components/fundations/icons/Stacked.astro";
const data = [
  {
    icon: "Filters",
    category: "Live editing",
    text: "Instantly see the result of every change you make.",
  },
  {
    icon: "WaveSquare",
    category: "Autocompletion",
    text: "Spotless will suggest the right classes for you as you type.",
  },
  {
    icon: "ArrowIteration",
    category: "Hide/show classes",
    text: "Hide or show classes to see how your design changes.",
  },
  {
    icon: "Plus",
    category: "Color preview",
    text: "See the color of every class in the autocompletion view.",
  },
  {
    icon: "Cursor",
    category: "Easy navigation",
    text: "Hover over any element to see its Tailwind classes.",
  },
  {
    icon: "Persist",
    category: "Persistence",
    text: "Spotless will remember all your changes to every element.",
  },
  {
    icon: "Camera",
    category: "Screenshot tool",
    text: "Make screenshots of a particular part of the screen to share quick and easy!",
  },
  {
    icon: "Stacked",
    category: "Breakpoint info",
    text: "Instantly know what Tailwind breakpoint you're currently on.",
  },
];
---

<section>
  <div class="relative px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center">
      <Text tag="p" variant="textSM" class="font-bold uppercase text-blue-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="display2XL"
        class="mt-4 font-semibold text-zinc-900 lg:text-balance"
      >
        Transforming the banking experience for a digital future
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
        The fastest method for working together on staging and temporary
        environments.
      </Text>
    </div>
    <dl
      class="mt-12 text-center grid grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-4 lg:gap-y-16"
    >
      {
        data.map((section) => (
          <div>
            <div class="flex flex-col  gap-3 text-blue-600">
              {section.icon === "Filters" && (
                <Filters class="mx-auto" size="base" />
              )}
              {section.icon === "WaveSquare" && (
                <WaveSquare class="mx-auto" size="base" />
              )}
              {section.icon === "ArrowIteration" && (
                <ArrowIteration class="mx-auto" size="base" />
              )}
              {section.icon === "Plus" && <Plus class="mx-auto" size="base" />}
              {section.icon === "Cursor" && (
                <Cursor class="mx-auto" size="base" />
              )}
              {section.icon === "Persist" && (
                <Persist class="mx-auto" size="base" />
              )}
              {section.icon === "Camera" && (
                <Camera class="mx-auto" size="base" />
              )}
              {section.icon === "Stacked" && (
                <Stacked class="mx-auto" size="base" />
              )}
              <dt>
                <Text
                  variant="textLG"
                  tag="h3"
                  class="font-medium text-zinc-900"
                >
                  {section.category}
                </Text>
              </dt>
            </div>
            <dd>
              <Text
                tag="p"
                variant="textBase"
                class="mt-2 font-medium text-zinc-500"
              >
                {section.text}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
