---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";


const data = [
  {
    image: "/images/whiteCard.svg",

    category: "Live editing",
    text: "Instantly see the result of every change you make.",
  },
  {
    image: "/images/blueCard.svg",

    category: "Autocompletion",
    text: "Spotless will suggest the right classes for you as you type.",
  },
  {
    image: "/images/darkCard.svg",

    category: "Hide/show classes",
    text: "Hide or show classes to see how your design changes.",
  }
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <dl
      class="grid grd-cols-1 md:grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-3 lg:gap-y-16">
      {
        data.map((section) => (

        <div class="p-1 bg-base-50 rounded-3xl">
          <div class="rounded-[1.3rem] overflow-hidden shadow">
            <img
              src={section.image}
              alt="#_"
              class="w-full"
            />
          </div>
          <div class="px-4 py-6">
           <dt >
                <Heading
                  level={3}
                  variant="featureTitle">
                  {section.category}
                </Heading>
              </dt>
             <dd>
              <Text
                class="mt-2"
                tag="p"
                variant="body">
                {section.text}
              </Text>
            </dd>
          </div>
        </div>
        ))
      }
    </dl>

  </div>
</section>
