---
import Text from "@/components/fundations/typography/Text.astro";

const data = [
  {
    image: "/widgets/progressCircles.svg",
    icon: "Filters",
    category: "Live editing",
    text: "Instantly see the result of every change you make.",
  },
  {
    image: "/widgets/figmaComp2.svg",
    icon: "WaveSquare",
    category: "Autocompletion",
    text: "Spotless will suggest the right classes for you as you type.",
  },
  {
    image: "/widgets/figmaComp.svg",
    icon: "ArrowIteration",
    category: "Hide/show classes",
    text: "Hide or show classes to see how your design changes.",
  },
];
---

<section>
  <div class="relative px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <dl
      class="-mx-3 grid grid-cols-1 gap-y-10 lg:grid-cols-3 lg:text-center xl:-mx-12 xl:divide-x xl:divide-slate-400/20"
    >
      {
        data.map((section) => (
          <div class="items-center px-4 grid auto-rows-min grid-cols-1 gap-8 sm:grid-cols-2  lg:grid-cols-1 xl:px-8">
            <div class="overflow-hidden shadow rounded-2xl">
              <img src={section.image} alt="#_" class="w-full" />
            </div>
            <div class="px-4 ">
              <dt>
                <Text
                  variant="textLG"
                  tag="h3"
                  class="font-medium text-gray-900"
                >
                  {section.category}
                </Text>
              </dt>
              <dd>
                <Text
                  tag="p"
                  variant="textBase"
                  class="mt-2 font-medium text-gray-500"
                >
                  {section.text}
                </Text>
              </dd>
            </div>
          </div>
        ))
      }
    </dl>
  </div>
</section>
