---
import Text from "@/components/fundations/typography/Text.astro";
import ArrowNarrowRight from "@/components/fundations/icons/ArrowNarrowRight.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <dl class="grid md:grid-cols-2 gap-8 lg:grid-cols-2 relative">
      <div
        class="bg-base-50 group rounded-3xl flex flex-col h-full justify-between gap-24  relative lg:col-span-2">
        <a
          class="absolute inset-0"
          href="#_">
        </a>
        <dt
          class="tracking-tight text-lg font-medium text-base-900 p-8 flex items-center justify-between w-full">
          <Text
            variant="textLG"
            tag="h3"
            class="text-base-900 font-medium">
            Easy Integration
          </Text>
          <ArrowNarrowRight
            class="group-hover:-rotate-45 duration-300"
            size="base"
          />
        </dt>
        <dd
          class="p-8 text-base text-base-600 border-t border-base-200 relative">
          <Text
            tag="p"
            variant="textBase"
            class="text-base-500 font-medium">
            Integrating with existing systems is smooth and hassle-free, thanks
            to our incredible flexible approach. This feature allows you to
            seamlessly integrate with your existing systems, ensuring a smooth
            and efficient integration process. It will also help you to
            streamline your development process and reduce the time and effort
            required to integrate with your existing systems.
          </Text>
        </dd>
      </div>
      <div
        class="bg-accent-700 rounded-3xl flex flex-col h-full justify-between gap-24  relative group">
        <a
          class="absolute inset-0"
          href="#_">
        </a>
        <dt
          class="tracking-tight text-lg font-medium text-white p-8 flex items-center justify-between w-full">
          <Text
            variant="textLG"
            tag="h3"
            class="text-white font-medium">
            Innovative Design
          </Text>
          <ArrowNarrowRight
            class="group-hover:-rotate-45 duration-300"
            size="base"
          />
        </dt>
        <dd class="p-8 text-base text-base-200 border-t border-white/20">
          <Text
            tag="p"
            variant="textBase"
            class="text-white font-medium">
            Our cutting-edge design offers a fresh, modern look that transforms
            your project into a standout experience.
          </Text>
        </dd>
      </div>
      <div
        class="bg-accent-950 rounded-3xl flex flex-col h-full justify-between gap-24  relative group">
        <a
          class="absolute inset-0"
          href="#_">
        </a>
        <dt
          class="tracking-tight text-lg font-medium text-white p-8 flex items-center justify-between w-full">
          <Text
            variant="textLG"
            tag="h3"
            class="text-white font-medium">
            Powerful Functionality
          </Text>
          <ArrowNarrowRight
            class="group-hover:-rotate-45 duration-300"
            size="base"
          />
        </dt>
        <dd class="p-8 text-base text-base-200 border-t border-white/20">
          <Text
            tag="p"
            variant="textBase"
            class="text-white font-medium">
            Equipped with advanced features and tools, our solution effortlessly
            manages complex tasks and workflows.
          </Text>
        </dd>
      </div>

    </dl>
  </div>
</section>
