---
import Text from "@/components/fundations/typography/Text.astro";
import ArrowNarrowRight from "@/components/fundations/icons/ArrowNarrowRight.astro";
---

<div>
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <dl class="relative grid md:grid-cols-2 gap-8 lg:grid-cols-2">
      <div
        class="relative flex flex-col justify-between h-full bg-zinc-50 group rounded-3xl gap-24 lg:col-span-2"
      >
        <a class="absolute inset-0" href="#_"> </a>
        <dt
          class="flex items-center justify-between w-full p-8 text-lg font-medium tracking-tight text-zinc-900"
        >
          <Text variant="textLG" tag="h3" class="font-medium text-zinc-900">
            Easy Integration
          </Text>
          <ArrowNarrowRight
            class="group-hover:-rotate-45 duration-300"
            size="base"
          />
        </dt>
        <dd
          class="relative p-8 text-base border-t text-zinc-600 border-zinc-200"
        >
          <Text tag="p" variant="textBase" class="font-medium text-zinc-500">
            Integrating with existing systems is smooth and hassle-free, thanks
            to our incredible flexible approach. This feature allows you to
            seamlessly integrate with your existing systems, ensuring a smooth
            and efficient integration process. It will also help you to
            streamline your development process and reduce the time and effort
            required to integrate with your existing systems.
          </Text>
        </dd>
      </div>
      <div
        class="relative flex flex-col justify-between h-full bg-stone-700 rounded-3xl gap-24 group"
      >
        <a class="absolute inset-0" href="#_"> </a>
        <dt
          class="flex items-center justify-between w-full p-8 text-lg font-medium tracking-tight text-white"
        >
          <Text variant="textLG" tag="h3" class="font-medium text-white">
            Innovative Design
          </Text>
          <ArrowNarrowRight
            class="group-hover:-rotate-45 duration-300"
            size="base"
          />
        </dt>
        <dd class="p-8 text-base border-t text-zinc-200 border-white/20">
          <Text tag="p" variant="textBase" class="font-medium text-white">
            Our cutting-edge design offers a fresh, modern look that transforms
            your project into a standout experience.
          </Text>
        </dd>
      </div>
      <div
        class="relative flex flex-col justify-between h-full bg-stone-950 rounded-3xl gap-24 group"
      >
        <a class="absolute inset-0" href="#_"> </a>
        <dt
          class="flex items-center justify-between w-full p-8 text-lg font-medium tracking-tight text-white"
        >
          <Text variant="textLG" tag="h3" class="font-medium text-white">
            Powerful Functionality
          </Text>
          <ArrowNarrowRight
            class="group-hover:-rotate-45 duration-300"
            size="base"
          />
        </dt>
        <dd class="p-8 text-base border-t text-zinc-200 border-white/20">
          <Text tag="p" variant="textBase" class="font-medium text-white">
            Equipped with advanced features and tools, our solution effortlessly
            manages complex tasks and workflows.
          </Text>
        </dd>
      </div>
    </dl>
  </div>
  <!-- copy:end -->
</div>
