---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import ArrowNarrowRight from "@/components/fundations/icons/ArrowNarrowRight.astro";
---
<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <dl class="grid md:grid-cols-2 gap-8 lg:grid-cols-2 relative">
      <div
        class="bg-base-50 group rounded-3xl flex flex-col h-full justify-between gap-24 relative col-span-full">
        <a
          class="absolute inset-0"
          href="#_">
        </a>
        <dt class="p-8 flex items-center justify-between w-full">
          <Heading
            level={3}
            variant="featureTitle">
            Easy integration
          </Heading>
          <ArrowNarrowRight
            class=" group-hover:-rotate-45 duration-300"
            size="base"
            slot="icon"
          />
        </dt>
        <dd class="p-8 border-t relative">
          <Text
            tag="p"
            variant="body">
            Integrating with existing systems is smooth and hassle-free, thanks
            to our incredible flexible approach. This feature allows you to
            seamlessly integrate with your existing systems, ensuring a smooth
            and efficient integration process. It will also help you to
            streamline your development process and reduce the time and effort
            required to integrate with your existing systems.
          </Text>
        </dd>
      </div>
      <div
        class="bg-accent-700 rounded-3xl flex flex-col h-full justify-between gap-24 relative group">
        <a
          class="absolute inset-0"
          href="#_">
        </a>
        <dt class="p-8 flex items-center justify-between w-full">
          <Heading
            level={3}
            darkMode={true}
            variant="featureTitle">
            Innovative Design
          </Heading>
          <ArrowNarrowRight
            class="text-white group-hover:-rotate-45 duration-300"
            size="base"
            slot="icon"
          />
        </dt>
        <dd class="p-8 border-t border-white/20">
          <Text
            tag="p"
            darkMode={true}
            variant="body">
            Our cutting-edge design offers a fresh, modern look that transforms
            your project into a standout experience.
          </Text>
        </dd>
      </div>
      <div
        class="bg-base-800 rounded-3xl flex flex-col h-full justify-between gap-24 relative group">
        <a
          class="absolute inset-0"
          href="#_">
        </a>
        <dt class="p-8 flex items-center justify-between w-full">
          <Heading
            level={3}
            darkMode={true}
            variant="featureTitle">
            Powerful Functionality
          </Heading>
          <ArrowNarrowRight
            class="text-white group-hover:-rotate-45 duration-300"
            size="base"
            slot="icon"
          />
        </dt>
        <dd class="p-8 border-t border-white/20">
          <Text
            tag="p"
            darkMode={true}
            variant="body">
            Equipped with advanced features and tools, our solution effortlessly
            manages complex tasks and workflows.
          </Text>
        </dd>
      </div>
    </dl>
  </div>
</section>
