---
import Button from "@/components/fundations/buttons/Button.astro";

import Text from "@/components/fundations/typography/Text.astro";
import ArrowNarrowRight from "@/components/fundations/icons/ArrowNarrowRight.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="bg-accent-700 rounded-3xl flex flex-col h-full justify-between  shadow relative group">
      <a
        class="absolute inset-0"
        href="#_">
      </a>
      <dt class="tracking-tight text-lg font-medium text-white flex flex-col h-full justify-between gap-24 p-8 w-full">
        <div class="flex items-center justify-between w-full">
          <Text
            variant="displayXL"
            tag="h3"
            class="text-white font-medium">
            Innovative Design
          </Text>
          <ArrowNarrowRight
            class="group-hover:-rotate-45 duration-300"
            size="base"
          />
        </div>
        <Text
          tag="p"
          variant="displayMD"
          class="text-white font-medium">
          Our cutting-edge design offers a fresh, modern look that transforms
          your project into a standout experience.
        </Text>
      </dt>
      <dd class="p-8 text-base text-base-200 border-t border-white/20">
        <div class="flex flex-wrap items-center gap-4 ">
          <Button
            variant="alternative"
            size="sm">
            Get started
          </Button>
          <div class="text-sm text-white font-medium lg:items-center">
            <Text
              tag="span"
              class="block"
              variant="textMD">
              This is some support text
            </Text>
            <Text
              tag="span"
              class="block"
              variant="textMD">
              and this is also.
            </Text>
          </div>
        </div>
      </dd>
    </div>
  </div>
</section>
