---
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";

export const excludeFromObfuscation = ["bg-white", "shadow"];
---

<div>
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div
      x-data="{ tab: 'tab1' }"
      class="relative items-center grid grid-cols-1 gap-4 lg:grid-cols-3"
    >
      <ul class="list-none grid md:grid-cols-2 gap-4 lg:col-span-2">
        <!-- Tab 1 -->
        <li class="p-1 bg-zinc-50 rounded-3xl">
          <button
            @click.prevent="tab = 'tab1'"
            class="items-start p-4 lg:p-8 rounded-[1.3rem] transition text-left h-full"
            :class="{ 'bg-white shadow ' : tab === 'tab1' }"
          >
            <div>
              <div class="flex items-center gap-3">
                <CircleCheck class="text-stone-600" size="base" slot="icon" />
                <Text
                  tag="h3"
                  variant="textLG"
                  class="font-medium text-zinc-900"
                >
                  Innovative Design
                </Text>
              </div>
              <Text
                tag="p"
                variant="textBase"
                class="mt-4 font-medium text-zinc-500"
              >
                Our cutting-edge design offers a fresh, modern look that
                transforms your project into a standout experience.
              </Text>
            </div>
          </button>
        </li>
        <!-- Tab 2 -->
        <li class="p-1 bg-zinc-50 rounded-3xl">
          <button
            @click.prevent="tab = 'tab2'"
            class="items-start p-4 lg:p-8 rounded-[1.3rem] transition text-left h-full"
            :class="{ 'bg-white shadow ' : tab === 'tab2' }"
          >
            <div>
              <div class="flex items-center gap-3">
                <CircleCheck class="text-stone-600" size="base" slot="icon" />
                <Text
                  tag="h3"
                  variant="textLG"
                  class="font-medium text-zinc-900"
                >
                  Powerful Functionality
                </Text>
              </div>
              <Text
                tag="p"
                variant="textBase"
                class="mt-4 font-medium text-zinc-500"
              >
                Equipped with advanced features and tools, our solution
                effortlessly manages complex tasks and workflows.
              </Text>
            </div>
          </button>
        </li>
        <!-- Tab 3 -->
        <li class="p-1 bg-zinc-50 rounded-3xl">
          <button
            @click.prevent="tab = 'tab3'"
            class="items-start p-4 lg:p-8 rounded-[1.3rem] transition text-left h-full"
            :class="{ 'bg-white shadow ' : tab === 'tab3' }"
          >
            <div>
              <div class="flex items-center gap-3">
                <CircleCheck class="text-stone-600" size="base" slot="icon" />
                <Text
                  tag="h3"
                  variant="textLG"
                  class="font-medium text-zinc-900"
                >
                  Po Easy Integration
                </Text>
              </div>
              <Text
                tag="p"
                variant="textBase"
                class="mt-4 font-medium text-zinc-500"
              >
                Integrating with existing systems is smooth and hassle-free,
                thanks to our incredible flexible approach.
              </Text>
            </div>
          </button>
        </li>
        <!-- Tab 4 -->
        <li class="p-1 bg-zinc-50 rounded-3xl">
          <button
            @click.prevent="tab = 'tab4'"
            class="items-start p-4 lg:p-8 rounded-[1.3rem] transition text-left h-full"
            :class="{ 'bg-white shadow ' : tab === 'tab4' }"
          >
            <div>
              <div class="flex items-center gap-3">
                <CircleCheck class="text-stone-600" size="base" slot="icon" />
                <Text
                  tag="h3"
                  variant="textLG"
                  class="font-medium text-zinc-900"
                >
                  Great Communication
                </Text>
              </div>
              <Text
                tag="p"
                variant="textBase"
                class="mt-4 font-medium text-zinc-500"
              >
                Integrating with existing systems is smooth and hassle-free,
                thanks to our incredible flexible approach.
              </Text>
            </div>
          </button>
        </li>
      </ul>
      <div class="text-left content size-full">
        <!-- Tab 1 content -->
        <div class="size-full" x-show="tab==='tab1'">
          <div
            class="block w-full h-full p-8 pb-0 aspect-square lg:mt-0 bg-zinc-50 rounded-3xl"
          >
            <img
              alt="#_"
              class="object-cover object-top size-full"
              src="/images/phone4.png"
            />
          </div>
        </div>
        <!-- Tab 2 content -->
        <div class="size-full" x-show="tab==='tab2'" style="display: none;">
          <div
            class="block w-full h-full p-8 pb-0 aspect-square lg:mt-0 bg-zinc-50 rounded-3xl"
          >
            <img
              alt="#_"
              class="object-cover object-top size-full"
              src="/images/phone2.png"
            />
          </div>
        </div>
        <!-- Tab 3 content -->
        <div class="size-full" x-show="tab==='tab3'" style="display: none;">
          <div
            class="block w-full h-full p-8 pb-0 aspect-square lg:mt-0 bg-zinc-50 rounded-3xl"
          >
            <img
              alt="#_"
              class="object-cover object-top size-full"
              src="/images/phone3.png"
            />
          </div>
        </div>
        <!-- Tab 4 content -->
        <div class="size-full" x-show="tab==='tab4'" style="display: none;">
          <div
            class="block w-full h-full p-8 pb-0 aspect-square lg:mt-0 bg-zinc-50 rounded-3xl"
          >
            <img
              alt="#_"
              class="object-cover object-top size-full"
              src="/images/phone5.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
