<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-3 md:items-start">
      <div class="">
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
          >Tagline</span
        >
        <h1
          class="text-4xl mt-4 font-semibold tracking-tight text-zinc-900 lg:text-pretty">
          Transform your visitors into users with an engaging headline
        </h1>
        <div class="flex flex-wrap gap-4 mt-12">
          <button
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-medium text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:shadow-none"
            aria-label="Action">
            Get started
          </button>
          <div class="text-sm text-zinc-500">
            <span class="block">This is some support text</span>
            <span class="block">and this is also.</span>
          </div>
        </div>
      </div>
      <div
        class="bg-gradient-to-b lg:col-span-2 group from-blue-500 to-indigo-600 rounded-3xl flex flex-col h-full justify-between gap-24 relative">
        <a
          class="absolute inset-0"
          href="#_">
        </a>
        <dt
          class="tracking-tight text-lg font-medium text-white p-8 flex items-center justify-between w-full">
          Innovative Design
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-circle-arrow-right group-hover:-rotate-45 duration-300"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path
              d="M12 2l.324 .005a10 10 0 1 1 -.648 0l.324 -.005zm.613 5.21a1 1 0 0 0 -1.32 1.497l2.291 2.293h-5.584l-.117 .007a1 1 0 0 0 .117 1.993h5.584l-2.291 2.293l-.083 .094a1 1 0 0 0 1.497 1.32l4 -4l.073 -.082l.064 -.089l.062 -.113l.044 -.11l.03 -.112l.017 -.126l.003 -.075l-.007 -.118l-.029 -.148l-.035 -.105l-.054 -.113l-.071 -.111a1.008 1.008 0 0 0 -.097 -.112l-4 -4z"
            ></path></svg
          >
        </dt>
        <dd
          class="p-8 text-base text-zinc-200 text-balance border-t border-white/20 relative">
          The fastest and most efficient method for working together on staging
          and temporary environments. This approach streamlines collaboration
          among team members, ensuring that development and testing processes
          are seamless and effective.
        </dd>
      </div>
    </div>
  </div>
</section>
