---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      x-data="{ tab: 'tab1' }"
      class="grid items-center grid-cols-1 gap-4 lg:grid-cols-3 relative">
      <ul class="grid md:grid-cols-2 gap-4 list-none lg:col-span-2">
        <!-- Tab 1 -->
        <li class="p-1 bg-base-50 rounded-3xl">
          <button
            @click.prevent="tab = 'tab1'"
            class="items-start p-4 lg:p-8 rounded-[1.3rem] transition text-left h-full"
            :class="{ 'bg-white shadow ' : tab === 'tab1' }">
            <div>
              <div class="flex gap-3 items-center">
                <CircleCheck
                  class="text-accent-600"
                  size="base"
                  slot="icon"
                />
                <Heading
                  level={3}
                  variant="featureTitle">
                  Innovative Design
                </Heading>
              </div>
              <Text
                class="mt-4"
                tag="p"
                variant="body">
                Our cutting-edge design offers a fresh, modern look that
                transforms your project into a standout experience.
              </Text>
            </div>
          </button>
        </li>
        <!-- Tab 2 -->
        <li class="p-1 bg-base-50 rounded-3xl">
          <button
            @click.prevent="tab = 'tab2'"
            class="items-start p-4 lg:p-8 rounded-[1.3rem] transition text-left h-full"
            :class="{ 'bg-white shadow ' : tab === 'tab2' }">
            <div>
              <div class="flex gap-3 items-center">
                <CircleCheck
                  class="text-accent-600"
                  size="base"
                  slot="icon"
                />
                <Heading
                  level={3}
                  variant="featureTitle">
                  Powerful Functionality
                </Heading>
              </div>
              <Text
                class="mt-4"
                tag="p"
                variant="body">
                Equipped with advanced features and tools, our solution
                effortlessly manages complex tasks and workflows.
              </Text>
            </div>
          </button>
        </li>
        <!-- Tab 3 -->
        <li class="p-1 bg-base-50 rounded-3xl">
          <button
            @click.prevent="tab = 'tab3'"
            class="items-start p-4 lg:p-8 rounded-[1.3rem] transition text-left h-full"
            :class="{ 'bg-white shadow ' : tab === 'tab3' }">
            <div>
              <div class="flex gap-3 items-center">
                <CircleCheck
                  class="text-accent-600"
                  size="base"
                  slot="icon"
                />
                <Heading
                  level={3}
                  variant="featureTitle">
                  Po Easy Integration
                </Heading>
              </div>
              <Text
                class="mt-4"
                tag="p"
                variant="body">
                Integrating with existing systems is smooth and hassle-free,
                thanks to our incredible flexible approach.
              </Text>
            </div>
          </button>
        </li>
        <!-- Tab 4 -->
        <li class="p-1 bg-base-50 rounded-3xl">
          <button
            @click.prevent="tab = 'tab4'"
            class="items-start p-4 lg:p-8 rounded-[1.3rem] transition text-left h-full"
            :class="{ 'bg-white shadow ' : tab === 'tab4' }">
            <div>
              <div class="flex gap-3 items-center">
                <CircleCheck
                  class="text-accent-600"
                  size="base"
                  slot="icon"
                />
                <Heading
                  level={3}
                  variant="featureTitle">

                  Great Communication
                </Heading>

              </div>
              <Text
                class="mt-4"
                tag="p"
                variant="body">
                Integrating with existing systems is smooth and hassle-free,
                thanks to our incredible flexible approach.
              </Text>
            </div>
          </button>
        </li>
      </ul>
      <div class="text-left content size-full">
        <!-- Tab 1 content -->
        <div
          class="size-full"
          x-show="tab==='tab1'">
          <div
            class="block w-full aspect-square lg:mt-0 bg-base-50 h-full p-8 rounded-3xl pb-0">
            <img
              alt="#_"
              class="size-full object-cover object-top"
              src="/images/phone4.png"
            />
          </div>
        </div>
        <!-- Tab 2 content -->
        <div
          class="size-full"
          x-show="tab==='tab2'"
          style="display: none;">
          <div
            class="block w-full aspect-square lg:mt-0 bg-base-50 h-full p-8 rounded-3xl pb-0">
            <img
              alt="#_"
              class="size-full object-cover object-top"
              src="/images/phone2.png"
            />
          </div>
        </div>
        <!-- Tab 3 content -->
        <div
          class="size-full"
          x-show="tab==='tab3'"
          style="display: none;">
          <div
            class="block w-full aspect-square lg:mt-0 bg-base-50 h-full p-8 rounded-3xl pb-0">
            <img
              alt="#_"
              class="size-full object-cover object-top"
              src="/images/phone3.png"
            />
          </div>
        </div>
        <!-- Tab 4 content -->
        <div
          class="size-full"
          x-show="tab==='tab4'"
          style="display: none;">
          <div
            class="block w-full aspect-square lg:mt-0 bg-base-50 h-full p-8 rounded-3xl pb-0">
            <img
              alt="#_"
              class="size-full object-cover object-top"
              src="/images/phone5.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
