<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-zinc-900 sm:text-balance">
        Transform your visitors into users with an engaging headline
      </h1>
      <p class="mt-6 text-base font-medium text-zinc-500 sm:text-pretty">
        The fastest method for working together on staging and temporary
        environments.
      </p>
    </div>
    <dl
      class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16 mt-12">
      <div>
        <div class="text-blue-500 flex gap-3 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-filters"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M12 8m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0"
            ></path><path d="M8 11a5 5 0 1 0 3.998 1.997"></path><path
              d="M12.002 19.003a5 5 0 1 0 3.998 -8.003"></path></svg
          >
          <dt class="tracking-tight text-lg font-medium text-zinc-900">
            Innovative Design
          </dt>
        </div>
        <dd class="mt-2 text-sm text-zinc-500 text-pretty">
          Our cutting-edge design offers a fresh, modern look that transforms
          your project into a standout experience.
        </dd>
      </div>
      <div>
        <div class="text-blue-500 flex gap-3 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-wave-square"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M3 12h5v8h4v-16h4v8h5"></path></svg
          >
          <dt class="tracking-tight text-lg font-medium text-zinc-900">
            Powerful Functionality
          </dt>
        </div>
        <dd class="mt-2 text-sm text-zinc-500 text-pretty">
          Equipped with advanced features and tools, our solution effortlessly
          manages complex tasks and workflows.
        </dd>
      </div>
      <div>
        <div class="text-blue-500 flex gap-3 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-iteration"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M8.5 16a5.5 5.5 0 1 0 -5.5 -5.5v.5"></path><path
              d="M3 16h18"></path><path d="M18 13l3 3l-3 3"></path></svg
          >
          <dt class="tracking-tight text-lg font-medium text-zinc-900">
            Easy Integration
          </dt>
        </div>
        <dd class="mt-2 text-sm text-zinc-500 text-pretty">
          Integrating with existing systems is smooth and hassle-free, thanks to
          our incredible flexible approach.
        </dd>
      </div>
    </dl>
    <div
      class="grid items-center grid-cols-1 gap-6 lg:grid-cols-3 lg:gap-24 mt-12 bg-zinc-50 rounded-3xl p-8 lg:p-10 relative">
      <ul class="grid md:grid-cols-2 gap-2 list-none lg:col-span-2">
        <li>
          <div
            class="items-start p-4 lg:p-8 rounded-xl transition text-left h-full">
            <div class="flex gap-3 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check-filled text-blue-600"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"
                ></path>
              </svg>
              <div class="tracking-tight text-base font-medium text-zinc-900">
                Innovative Design
              </div>
            </div>
            <div class="mt-2 text-sm text-zinc-500">
              Our cutting-edge design offers a fresh, modern look that
              transforms your project into a standout experience.
            </div>
          </div>
        </li>
        <li>
          <div
            class="items-start p-4 lg:p-8 rounded-xl transition text-left h-full">
            <div class="flex gap-3 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check-filled text-blue-600"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"
                ></path>
              </svg>
              <div class="tracking-tight text-base font-medium text-zinc-900">
                Powerful Functionality
              </div>
            </div>
            <div class="mt-2 text-sm text-zinc-500">
              Equipped with advanced features and tools, our solution
              effortlessly manages complex tasks and workflows.
            </div>
          </div>
        </li>
        <li>
          <div
            class="items-start p-4 lg:p-8 rounded-xl transition text-left h-full">
            <div class="flex gap-3 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check-filled text-blue-600"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"
                ></path>
              </svg>
              <div class="tracking-tight text-base font-medium text-zinc-900">
                Easy Integration
              </div>
            </div>
            <div class="mt-2 text-sm text-zinc-500">
              Integrating with existing systems is smooth and hassle-free,
              thanks to our incredibly flexible approach.
            </div>
          </div>
        </li>
        <li>
          <div
            class="items-start p-4 lg:p-8 rounded-xl transition text-left h-full">
            <div class="flex gap-3 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check-filled text-blue-600"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"
                ></path>
              </svg>
              <div class="tracking-tight text-base font-medium text-zinc-900">
                Great Communication
              </div>
            </div>
            <div class="mt-2 text-sm text-zinc-500">
              Our team ensures clear and consistent communication throughout the
              project, keeping you informed and involved at every stage.
            </div>
          </div>
        </li>
      </ul>
      <div class="py-4 pt-4 text-left content">
        <div
          class="block w-full aspect-square lg:mt-0 bg-white p-8 rounded-3xl pb-0">
          <img
            alt="#_"
            class="w-full h-full object-cover object-top"
            src="/images/phone4.png"
          />
        </div>
      </div>
    </div>
  </div>
</section>
