---
export const freeComponent = true;
import Text from "@/components/fundations/typography/Text.astro";
const faqs = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Can I access my encrypted data if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question:
      "Are there any limitations to the self-destructing messages feature?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
  {
    question:
      "What happens if I enable two-factor authentication and lose my device?",
    answer:
      "Losing your device doesn't automatically compromise your account's security.              ",
  },
  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div>
      <Text tag="p" variant="textSM" class="font-bold uppercase text-blue-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-gray-900 lg:text-balance"
      >
        Frequently Asked Questions
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 font-medium text-gray-500">
        Everything you need to know about our platform.
      </Text>
    </div>
    <ul role="list" class="mt-12 space-y-8 divide-y divide-gray-900/10">
      {
        faqs.map((faq) => (
          <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-12">
            <div class=" lg:col-span-5">
              <Text variant="textLG" tag="h3" class="font-medium text-gray-900">
                {faq.question}
              </Text>
            </div>
            <div class="mt-4 lg:col-span-7 lg:mt-0">
              <Text
                tag="p"
                variant="textBase"
                class="font-medium text-gray-500"
              >
                {faq.answer}
              </Text>
            </div>
          </div>
        ))
      }
      <!-- More questions... -->
    </ul>
  </div>
</section>
