---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const faqs = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Can I access my encrypted data?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question: "Are there any limitations ?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-md mx-auto">
      <div>
        <Text
          tag="span"
          variant="eyebrow">
          Tagline
        </Text>
        <Heading
          class="mt-4"
          level={1}
          variant="default">
          Frequently Asked Questions
        </Heading>
        <Text
          class="mt-4 lg:text-balance"
          tag="p"
          variant="body">
          Everything you need to know about our platform.
        </Text>
      </div>
      <div class="flex flex-col gap-12 mt-12">
        {
          faqs.map((faq) => (
            <div>
              <Heading
                level={3}
                variant="featureTitle">
                {faq.question}
              </Heading>
              <Text
                class="mt-4"
                tag="p"
                variant="body">
                {faq.answer}
              </Text>
              <div class="mt-8">
                <Text
                  tag="a"
                  href="#_"
                  variant="link"
                  class="flex items-center gap-2">
                  Read further
                  <ChevronRight size="sm" />
                </Text>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
