---
import Text from "@/components/fundations/typography/Text.astro";

import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const faqs = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Can I access my encrypted data?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question: "Are there any limitations ?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="max-w-md mx-auto">
      <div>
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-blue-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displaySM"
          class="mt-4 font-semibold text-gray-900 lg:text-balance"
        >
          Frequently Asked Questions
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-gray-500">
          Everything you need to know about our platform.
        </Text>
      </div>
      <div class="flex flex-col mt-12 gap-12">
        {
          faqs.map((faq) => (
            <div>
              <Text variant="textLG" tag="h3" class="font-medium text-gray-900">
                {faq.question}
              </Text>
              <Text
                tag="p"
                variant="textBase"
                class="mt-4 font-medium text-gray-500"
              >
                {faq.answer}
              </Text>
              <div class="mt-4">
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="flex items-center font-medium text-blue-500 gap-2 hover:text-gray-900"
                >
                  Read further
                  <ChevronRight size="sm" />
                </Text>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
