---
import Text from "@/components/fundations/typography/Text.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
const faqs = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Can I access my encrypted data if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question:
      "Are there any limitations to the self-destructing messages feature?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
  {
    question:
      "What happens if I enable two-factor authentication and lose my device?",
    answer:
      "Losing your device doesn't automatically compromise your account's security.              ",
  },
  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
  {
    question: "Can I use this platform on multiple devices?",
    answer:
      "Yes, you can access our platform on multiple devices. Your encrypted data remains synced across all devices, allowing you to seamlessly communicate and access your files and messages from anywhere.",
  },
  {
    question: "Are there any storage limitations for files and documents?",
    answer:
      "Our platform provides ample storage space for your files and documents. However, there may be storage limitations based on the pricing plan you choose. We offer flexible plans to suit your needs and provide options to upgrade if you require additional storage capacity.",
  },
  {
    question: "Is it possible to export my data from the platform?",
    answer:
      "Yes, you can export your data from the platform. We offer export features that allow you to download your messages, files, and documents, ensuring you have a local copy for backup or migration purposes. It provides you with greater control and flexibility over your data.",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="text-center">
      <Kicker> Have questions? </Kicker>
      <Text
        tag="h1"
        variant="displayMD"
        class="font-semibold mt-4 tracking-tight text-zinc-900 dark:text-white"
      >
        Find Your Answers Here
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
      >
        Quick, clear responses to common questions about using Oxbow.
      </Text>
    </div>
    <div class="max-w-xl mx-auto w-full mt-12">
      {
        faqs.map((faq) => (
          <details class="cursor-pointer group p-4 ">
            <summary class="grid grid-cols-4 gap-8 text-base items-start justify-between w-full font-medium text-left select-none text-zinc-900 dark:text-white hover:text-zinc-500 dark:hover:text-zinc-400 focus:text-zinc-500 dark:focus:text-zinc-400">
              <span class="col-span-3">{faq.question}</span>
              <Plus
                class="duration-300 ease-out transform group-open:-rotate-45 group-open:text-blue-600 dark:text-zinc-400 ml-auto"
                size="sm"
              />
            </summary>
            <div class="py-2 pt-2 text-sm text-zinc-500 dark:text-zinc-400">
              <Text
                tag="p"
                variant="textSM"
                class="font-medium text-zinc-500 dark:text-zinc-400"
              >
                {faq.answer}
              </Text>
            </div>
          </details>
        ))
      }
    </div>
  </div>
</section>
