---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
const faqs = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Can I access my encrypted data if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question:
      "Are there any limitations to the self-destructing messages feature?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
  {
    question:
      "What happens if I enable two-factor authentication and lose my device?",
    answer:
      "Losing your device doesn't automatically compromise your account's security.              ",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center">
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="default">
        Frequently Asked Questions
      </Heading>
      <Text
        class="mt-4 lg:text-balance"
        tag="p"
        variant="body">
        Everything you need to know about our platform.
      </Text>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mt-12">
        <div class="mx-auto divide-y">
          {
            faqs.map((faq) => (
              <details class="group cursor-pointer">
                <Text
                  class="flex  items-center justify-between w-full py-6  text-left select-none hover:text-accent-500 focus:text-accent-500"
                  tag="summary"
                  variant="summary">
                  {faq.question}
                  <Plus
                    class="duration-300 ease-out  transform group-open:-rotate-45"
                    size="sm"
                  />
                </Text>
                <div class="py-4 pt-2 text-sm text-base-500">
                  <Text
                    tag="p"
                    variant="body">
                    {faq.answer}
                  </Text>
                </div>
              </details>
            ))
          }
        </div>
        <div
          class="p-8 bg-base-50 rounded-3xl flex flex-col h-full justify-center text-center">
          <div>
            <img
              class="h-12 mx-auto"
              src="/images/oxbow/blueLineLogo.png"
              alt="#_"
            />
            <Heading
              class="mt-4"
              level={3}
              variant="default">
              Got questions?
            </Heading>
            <Text
              class="mt-4 lg:text-balance"
              tag="p"
              variant="body">
              Everything you need to know about our platform. We're here to help
              you with any questions you might have.
            </Text>

            <div class="mt-8 justify-center flex">
              <Text
                tag="a"
                href="#_"
                variant="link"
                class="flex items-center gap-2">
                Contact support
                <ChevronRight size="sm" />
              </Text>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
