---
import Text from "@/components/fundations/typography/Text.astro";
import Plus from "@/components/fundations/icons/Plus.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import Logo from "@/components/assets/Logo.astro";
import Button from "@/components/fundations/buttons/Button.astro";

// Header content for FAQ section
const header = {
  kicker: "Questions?",
  title: "Find Your Answers Fast",
  subtitle: "Clear, concise FAQs to guide your Oxbow experience.",
};

// Consolidated FAQ sections
const faqSections = [
  {
    title: "General questions",
    faqs: [
      {
        question: "How does end-to-end encryption work?",
        answer:
          "End-to-end encryption ensures that only the sender and recipient can access the content of a message.",
      },
      {
        question:
          "Can I access my encrypted data if I forget my encryption key?",
        answer:
          "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.",
      },
      {
        question:
          "Are there any limitations to the self-destructing messages feature?",
        answer:
          "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.",
      },
    ],
  },

  {
    title: "License",
    faqs: [
      {
        question: "Is my personal information shared or sold to third parties?",
        answer:
          "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
      },
      {
        question: "Can I use this platform on multiple devices?",
        answer:
          "Yes, you can access our platform on multiple devices. Your encrypted data remains synced across all devices, allowing you to seamlessly communicate and access your files and messages from anywhere.",
      },
    ],
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="text-center">
      <Kicker> Need Help? </Kicker>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-zinc-900 dark:text-white lg:text-balance"
      >
        Your Questions Answered
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
      >
        Quick, clear answers to help you get the most from Oxbow.
      </Text>
    </div>
    <div class="mt-12 space-y-12 dark:space-y-28 max-w-3xl mx-auto">
      {
        faqSections.map((section) => (
          <div>
            <div class="flex flex-col justify-between pb-2 border-b lg:flex-row lg:items-center border-zinc-200 dark:border-zinc-100/10">
              <Text
                tag="h2"
                variant="textLG"
                class="font-semibold text-zinc-900 dark:text-white lg:text-balance"
              >
                {section.title}
              </Text>
              <div class="flex">
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="flex items-center font-medium text-zinc-900 dark:text-white  hover:text-blue-600 dark:hover:text-blue-300 text-sm gap-2"
                >
                  More questions <ChevronRight size="sm" />
                </Text>
              </div>
            </div>
            <div>
              {section.faqs.map((faq) => (
                <details class="cursor-pointer group">
                  <summary class="grid grid-cols-4 gap-8  py-2  text-base items-start justify-between w-full font-medium text-left select-none text-zinc-900 dark:text-white hover:text-zinc-500 dark:hover:text-zinc-400 focus:text-zinc-500 dark:focus:text-zinc-400">
                    <span class="col-span-3">{faq.question}</span>
                    <Plus
                      class="duration-300 ease-out transform group-open:-rotate-45 group-open:text-blue-600 dark:text-zinc-400 ml-auto"
                      size="sm"
                    />
                  </summary>
                  <div class="py-4 pt-2 text-sm text-zinc-500 dark:text-zinc-400 py-4">
                    <Text
                      tag="p"
                      variant="textBase"
                      class="font-medium text-zinc-500 dark:text-zinc-400"
                    >
                      {faq.answer}
                    </Text>
                  </div>
                </details>
              ))}
            </div>
          </div>
        ))
      }
    </div>
    <div
      class="relative flex flex-col justify-between h-full bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 py-24 rounded-xl overflow-hidden mt-8 gap-24 group"
    >
      <div class="max-w-xl mx-auto text-center lg:text-balance">
        <Logo class="h-12 text-zinc-900 dark:text-white mx-auto" />
        <Text
          tag="h2"
          variant="displaySM"
          class="mt-12 font-semibold text-zinc-900 dark:text-white lg:text-balance"
        >
          Got questions?
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 font-medium text-zinc-900 dark:text-white lg:text-balance"
        >
          Everything you need to know about our platform. We're here to help you
          with any questions you might have.
        </Text>
        <Button variant="default" size="sm" class="mt-8 w-fit mx-auto"
          >Contact Support</Button
        >
      </div>
    </div>
  </div>
</section>
