---
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const faqs = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Can I access my encrypted data if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question:
      "Are there any limitations to the self-destructing messages feature?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
  {
    question:
      "What happens if I enable two-factor authentication and lose my device?",
    answer:
      "Losing your device doesn't automatically compromise your account's security.              ",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div
      class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 dark:gap-10"
    >
      <div class="lg:bg-zinc-50 lg:p-8 lg:rounded-2xl dark:bg-zinc-900">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-blue-600 dark:text-blue-400"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displaySM"
          class="mt-4 font-semibold text-zinc-900 dark:text-zinc-100 lg:text-balance"
        >
          Frequently Asked Questions
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
        >
          Everything you need to know about our platform.
        </Text>
        <div class="mt-8">
          <Text
            tag="a"
            href="#_"
            variant="textBase"
            class="flex items-center font-medium text-blue-500 gap-2 hover:text-zinc-900 dark:hover:text-zinc-100"
          >
            Contact support
            <ChevronRight size="sm" />
          </Text>
        </div>
      </div>
      <div
        class="grid gird-cols-1 divide-y divide-zinc-200 dark:divide-zinc-100/10 lg:col-span-2"
      >
        {
          faqs.map((faq) => (
            <div class="py-6">
              <Text
                variant="textLG"
                tag="h3"
                class="font-medium text-zinc-900 dark:text-zinc-100"
              >
                {faq.question}
              </Text>
              <Text
                tag="p"
                variant="textBase"
                class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
              >
                {faq.answer}
              </Text>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
