---
import Text from "@/components/fundations/typography/Text.astro";

import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const faqs = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Can I access my encrypted data if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question:
      "Are there any limitations to the self-destructing messages feature?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
  {
    question:
      "What happens if I enable two-factor authentication and lose my device?",
    answer:
      "Losing your device doesn't automatically compromise your account's security.              ",
  },
  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
  {
    question: "Can I use this platform on multiple devices?",
    answer:
      "Yes, you can access our platform on multiple devices. Your encrypted data remains synced across all devices, allowing you to seamlessly communicate and access your files and messages from anywhere.",
  },
  {
    question: "Are there any storage limitations for files and documents?",
    answer:
      "Our platform provides ample storage space for your files and documents. However, there may be storage limitations based on the pricing plan you choose. We offer flexible plans to suit your needs and provide options to upgrade if you require additional storage capacity.",
  },
  {
    question: "Is it possible to export my data from the platform?",
    answer:
      "Yes, you can export your data from the platform. We offer export features that allow you to download your messages, files, and documents, ensuring you have a local copy for backup or migration purposes. It provides you with greater control and flexibility over your data.",
  },
];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-base-900 lg:text-balance"
      >
        Frequently Asked Questions
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 font-medium text-base-500">
        Everything you need to know about our platform.
      </Text>
    </div>
    <div class="flex flex-col max-w-xl mx-auto mt-12 divide-y divide-base-200">
      {
        faqs.map((faq) => (
          <div class="py-8 ">
            <Text tag="h3" variant="textLG" class="font-medium  text-base-900">
              {faq.question}
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="mt-4 font-medium text-base-500"
            >
              {faq.answer}
            </Text>
          </div>
        ))
      }
      <div class="pt-12 mt-12 text-center">
        <img
          class="h-12 mx-auto"
          src="/images/oxbow/blueLineLogo.png"
          alt="#_"
        />

        <Text
          tag="h2"
          variant="textLG"
          class="mt-4 font-semibold text-base-900 lg:text-balance"
        >
          Got questions?
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 font-medium text-base-500 lg:text-balance"
        >
          Everything you need to know about our platform. We're here to help you
          with any questions you might have.
        </Text>

        <div class="flex items-center justify-center mt-8">
          <Text
            tag="a"
            href="#_"
            variant="textBase"
            class="flex items-center font-medium text-accent-500 gap-2 hover:text-base-900"
          >
            Contact support
            <ChevronRight size="sm" />
          </Text>
        </div>
      </div>
    </div>
  </div>
</section>
