---
const faqs = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Can I access my encrypted data if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question:
      "Are there any limitations to the self-destructing messages feature?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
  {
    question:
      "What happens if I enable two-factor authentication and lose my device?",
    answer:
      "Losing your device doesn't automatically compromise your account's security.              ",
  },
  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
  {
    question: "Can I use this platform on multiple devices?",
    answer:
      "Yes, you can access our platform on multiple devices. Your encrypted data remains synced across all devices, allowing you to seamlessly communicate and access your files and messages from anywhere.",
  },
  {
    question: "Are there any storage limitations for files and documents?",
    answer:
      "Our platform provides ample storage space for your files and documents. However, there may be storage limitations based on the pricing plan you choose. We offer flexible plans to suit your needs and provide options to upgrade if you require additional storage capacity.",
  },
  {
    question: "Is it possible to export my data from the platform?",
    answer:
      "Yes, you can export your data from the platform. We offer export features that allow you to download your messages, files, and documents, ensuring you have a local copy for backup or migration purposes. It provides you with greater control and flexibility over your data.",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >faq</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
        Frequently Asked Questions
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500">
        Everything you need to know about our platform.
      </p>
    </div>
    <div class="mt-12 max-w-xl mx-auto flex flex-col gap-4">
      {
        faqs.map((faq, index) => (
          <div class="flex items-start gap-4 tracking-tight text-base font-medium text-gray-900">
            <span class="size-6 text-xs shrink-0  rounded-full flex items-center justify-center  bg-gradient-to-b from-blue-500 to-indigo-600 text-white">
              {index + 1}
            </span>
            <div>
              {faq.question}
              <p class="py-4 pt-2 text-sm text-gray-500">{faq.answer}</p>
            </div>
          </div>
        ))
      }
      <div class="text-center mt-12">
        <img
          class="h-12 mx-auto"
          src="/images/oxbow/blueLineLogo.png"
          alt="#_"
        />
        <h1 class="text-4xl mt-4 font-semibold tracking-tight text-gray-900">
          Got questions?
        </h1>
        <p
          class="mt-6 text-base font-medium text-gray-500 max-w-sm mx-auto lg:text-balance">
          We're here to help you with any questions you might have.
        </p>
        <div class="flex flex-wrap items-center gap-2 justify-center mt-8">
          <button
            class="text-blue-600 flex items-center gap-3 hover:text-gray-900 transition-all duration-200 text-sm"
            aria-label="Action">
            Learn more
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right">
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path>
              <path d="M9 6l6 6l-6 6"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
