---
const faq1 = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Can I access my encrypted data if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question:
      "Are there any limitations to the self-destructing messages feature?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },

  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
  {
    question: "Can I use this platform on multiple devices?",
    answer:
      "Yes, you can access our platform on multiple devices. Your encrypted data remains synced across all devices, allowing you to seamlessly communicate and access your files and messages from anywhere.",
  },
  {
    question: "Are there any storage limitations for files and documents?",
    answer:
      "Our platform provides ample storage space for your files and documents. However, there may be storage limitations based on the pricing plan you choose. We offer flexible plans to suit your needs and provide options to upgrade if you require additional storage capacity.",
  },
  {
    question: "Is it possible to export my data from the platform?",
    answer:
      "Yes, you can export your data from the platform. We offer export features that allow you to download your messages, files, and documents, ensuring you have a local copy for backup or migration purposes. It provides you with greater control and flexibility over your data.",
  },

  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
  {
    question: "Can I use this platform on multiple devices?",
    answer:
      "Yes, you can access our platform on multiple devices. Your encrypted data remains synced across all devices, allowing you to seamlessly communicate and access your files and messages from anywhere.",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
      <div>
        <span
          class="font-mono text-xs font-medium tracking-tight text-accent-600 uppercase"
          >faq</span
        >
        <h1
          class="text-4xl mt-4 font-semibold tracking-tight text-base-900 lg:text-balance">
          Frequently Asked Questions
        </h1>
        <p class="mt-6 text-base font-medium text-base-500">
          Everything you need to know about our platform.
        </p>
      </div>
      <div
        class="p-8 bg-gradient-to-b mt-12 from-accent-500 to-accent-600 rounded-3xl flex flex-col justify-center text-center lg:col-span-2">
        <div>
          <img
            class="h-12 mx-auto"
            src="/images/oxbow/whiteLineLogo.png"
            alt="#_"
          />
          <h1 class="text-4xl mt-4 font-semibold tracking-tight text-white">
            Got questions?
          </h1>
          <p
            class="mt-6 text-base font-medium text-base-200 max-w-sm mx-auto lg:text-balance">
            We're here to help you with any questions you might have.
          </p>

          <div class="flex flex-wrap items-center gap-2 justify-center mt-8">
            <button
              class="text-white flex items-center gap-3 hover:text-base-300 transition-all duration-200 text-base"
              aria-label="Action">
              Learn more
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right">
                <path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path>
                <path d="M9 6l6 6l-6 6"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 space-y-4">
      {
        faq1.map((faq) => (
          <details class="group cursor-pointer p-4 bg-base-50 rounded-xl">
            <summary
              class="flex items-center justify-between w-full  text-left select-none racking-tight text-lg font-medium text-base-900 hover:text-accent-500
                    focus:text-accent-500">
              {faq.question}
              <svg
                class="size-5 duration-300 ease-out  transform group-open:-rotate-45"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6v12m6-6H6"
                />
              </svg>
            </summary>
            <div class="py-4 pt-2 text-base text-base-500">{faq.answer}</div>
          </details>
        ))
      }
    </div>
  </div>
</section>
