---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
const faqs = [
  {
    question: "What's encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Forget my key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question: "Messages limits?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div>
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="default">
        Frequently Asked Questions
      </Heading>
      <Text
        class="mt-4 lg:text-balance"
        tag="p"
        variant="body">
        Everything you need to know about our platform.
      </Text>
    </div>
    <div class="mt-12 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {
        faqs.map((faq, index) => (
          <div>
            <span class="size-6 text-xs shrink-0  rounded-full flex items-center justify-center  bg-accent-700  text-white">
              {index + 1}
            </span>
            <Heading
            class="mt-4"
              level={3}
              variant="featureTitle">
               {faq.question}
            </Heading>
            <Text
              class="mt-4"
              tag="p"
              variant="body">
              {faq.answer}
            </Text>
          </div>
        ))
      }
    </div>
  </div>
</section>
