---
export const freeComponent = true;
import Text from "@/components/fundations/typography/Text.astro";
---

<div
  class="flex flex-col justify-center p-12 mx-auto text-zinc-500 dark:text-zinc-300 bg-white dark:bg-zinc-900"
>
  <div class="flex flex-col gap-8">
    <!-- copy:start -->
    <Text tag="p" variant="textXS">
      This is a paragraph with text XS variant.
    </Text>
    <!-- copy:end -->
    <small class="order-first text-base font-medium">
      Classes: text-xs leading-normal
    </small>
  </div>
</div>
