---
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div
    class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl divide-y divide-base-200 text-base-700">
    <div class="pt-8 pb-4 lg:pt-24 flex flex-col gap-24">
      <Text
        tag="h1"

        variant="display2XL">
        This is an H1 heading with display 2XL variant.
      </Text>
      <small class="text-base-500 order-first text-base font-medium">
        Variant: display2XL
      </small>
    </div>

    <div class="pt-8 pb-4 lg:pt-24 flex flex-col gap-24">
      <Text
        tag="h2"
        variant="displayXL">
        This is an H2 heading with display XL variant.
      </Text>
      <small class="text-base-500 order-first text-base font-medium">
        Variant: displayXL
      </small>
    </div>

    <div class="pt-8 pb-4 lg:pt-24 flex flex-col gap-24">
      <Text
        tag="h3"
        variant="displayLG">
        This is an H3 heading with display LG variant.
      </Text>
      <small class="text-base-500 order-first text-base font-medium">
        Variant: displayLG
      </small>
    </div>

    <div class="pt-8 pb-4 lg:pt-24 flex flex-col gap-24">
      <Text
        tag="h4"
        variant="displayMD">
        This is an H4 heading with display MD variant.
      </Text>
      <small class="text-base-500 order-first text-base font-medium">
        Variant: displayMD
      </small>
    </div>

    <div class="pt-8 pb-4 lg:pt-24 flex flex-col gap-24">
      <Text
        tag="h5"
        variant="displaySM">
        This is an H5 heading with display SM variant.
      </Text>
      <small class="text-base-500 order-first text-base font-medium">
        Variant: displaySM
      </small>
    </div>

    <div class="pt-8 pb-4 lg:pt-24 flex flex-col gap-24">
      <Text
        tag="h6"
        variant="displayXS">
        This is an H6 heading with display XS variant.
      </Text>
      <small class="text-base-500 order-first text-base font-medium">
        Variant: displayXS
      </small>
    </div>

    <div class="pt-8 pb-4 lg:pt-24 flex flex-col gap-24">
      <Text
        tag="p"
        variant="textXL">
        This is a paragraph with text XL variant.
      </Text>
      <small class="text-base-500 order-first text-base font-medium">
        Variant: textXL
      </small>
    </div>

    <div class="pt-8 pb-4 lg:pt-24 flex flex-col gap-24">
      <Text
        tag="p"
        variant="textLG">
        This is a paragraph with text LG variant.
      </Text>
      <small class="text-base-500 order-first text-base font-medium">
        Variant: textLG
      </small>
    </div>

    <div class="pt-8 pb-4 lg:pt-24 flex flex-col gap-24">
      <Text
        tag="p"
        variant="textBase">
        This is a paragraph with text Base variant.
      </Text>
      <small class="text-base-500 order-first text-base font-medium">
        Variant: textBase
      </small>
    </div>
    <div class="pt-8 pb-4 lg:pt-24 flex flex-col gap-24">
      <Text
        tag="p"
        variant="textMD">
        This is a paragraph with text MD variant.
      </Text>
      <small class="text-base-500 order-first text-base font-medium">
        Variant: textMD
      </small>
    </div>

    <div class="pt-8 pb-4 lg:pt-24 flex flex-col gap-24">
      <Text
        tag="p"
        variant="textSM">
        This is a paragraph with text SM variant.
      </Text>
      <small class="text-base-500 order-first text-base font-medium">
        Variant: textSM
      </small>
    </div>

    <div class="pt-8 pb-4 lg:pt-24 flex flex-col gap-24">
      <Text
        tag="p"
        variant="textXS">
        This is a paragraph with text XS variant.
      </Text>
      <small class="text-base-500 order-first text-base font-medium">
        Variant: textXS
      </small>
    </div>
  </div>
</section>
