---
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div
    class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl text-base-500">
    <div class="flex flex-col gap-8">
      <Text
        tag="p"
        variant="textBase">
        This is a paragraph with text Base variant.
      </Text>
      <small class="text-base-500 order-first text-base font-medium">
        Classes: text-base leading-normal
      </small>
    </div>
  </div>
</section>
