---
import Text from "@/components/fundations/typography/Text.astro";
---
<div
  class="flex flex-col justify-center p-12 mx-auto text-zinc-500 dark:text-zinc-300 bg-white dark:bg-black"
>
  <div class="flex flex-col gap-8">
    <!-- copy:start -->
    <Text tag="h5" variant="displaySM">
      This is an H5 heading with display SM variant.
    </Text>
    <!-- copy:end -->
    <small class="order-first text-base font-medium text-zinc-500">
      Classes: text-lg leading-tight sm:text-xl md:text-2xl lg:text-3xl
    </small>
  </div>
</div>
