---
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div
    class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl text-base-500">
    <div class="flex flex-col gap-8">
      <Text
        tag="h2"
        variant="displayXL">
        This is an H2 heading with display XL variant.
      </Text>
      <small class="order-first text-base font-medium text-base-500">
        Classes: text-3xl leading-tight tracking-tight sm:text-4xl md:text-5xl
        lg:text-6xl
      </small>
    </div>
  </div>
</section>
