---
import Text from "@/components/fundations/typography/Text.astro";
---

<div
  class="flex flex-col justify-center p-12 mx-auto text-zinc-500 dark:text-zinc-300 bg-white dark:bg-black"
>
  <div class="flex flex-col gap-8">
    <!-- copy:start -->
    <Text tag="h2" variant="displayXL">
      This is an H2 heading with display XL variant.
    </Text>
      <!-- copy:end -->
    <small class="order-first text-base font-medium text-zinc-500">
      Classes: text-3xl leading-tight tracking-tight sm:text-4xl md:text-5xl
      lg:text-6xl
    </small>
  </div>
</div>
