---
import Text from "@/components/fundations/typography/Text.astro";
---

<div
  class="flex flex-col justify-center p-12 mx-auto text-zinc-500 dark:text-zinc-300 bg-white dark:bg-black"
>
  <div class="flex flex-col gap-8">
    <!-- copy:start -->
    <Text tag="h1" variant="display5XL">
      This is an H1 heading with display 5XL variant.
    </Text>
    <!-- copy:end -->
    <small class="order-first text-base font-medium text-zinc-500">
      Classes: text-4xl leading-tight tracking-tight sm:text-7xl md:text-8xl
      lg:text-[10rem]
    </small>
  </div>
</div>
