---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="mx-auto max-w-[450px] px-4 py-12 font-sans">
    <Text tag="h1" variant="displaySM" class="font-medium"
      >Thank you for your order!</Text
    >

    <div class="mt-8 space-y-2">
      <Text tag="p" variant="textBase" class="text-base-500">
        <span class="font-medium text-black">Order #:</span> 98876248
      </Text>
      <Text tag="p" variant="textBase" class="text-base-500">
        <span class="font-medium text-black">Date:</span> 29 Dec 2024, 19:55
      </Text>
    </div>

    <div class="py-6 border-b border-gray-200 space-y-3">
      <div class="flex justify-between">
        <Text tag="p" variant="textBase">Subtotal</Text>
        <Text tag="p" variant="textBase" class="text-base-600">$149.00</Text>
      </div>
      <div class="flex justify-between">
        <Text tag="p" variant="textBase">Discount</Text>
        <Text tag="p" variant="textBase" class="text-base-600">-$81.95</Text>
      </div>
      <div class="flex justify-between font-bold">
        <Text tag="p" variant="textBase">Total</Text>
        <Text tag="p" variant="textBase">$67.05</Text>
      </div>
    </div>

    <Button variant="accent" size="lg" class="w-full">
      Download your files
    </Button>

    <div class="flex py-4 mt-4 border-t border-gray-200 gap-2">
      <Text
        tag="a"
        variant="textSM"
        href="https://oxbowui.com/support"
        class="text-blue-600 hover:underline"
      >
        Contact support</Text
      >
      <Text
        tag="a"
        variant="textSM"
        href="https://billing.stripe.com/p/login/fZefZe38O7mhbhC8ww"
        class="text-blue-600 hover:underline"
      >
        Request an invoice
      </Text>
    </div>
  </div>
</section>
