---
interface Props {
  variant?: "wide" | "prose" | "standard" | "stickyNav" | "blockStandard"; // Define any variants you need
  class?: string; // Optional prop for additional classes
}
const { variant = "standard", class: extraClass = "" } = Astro.props;
// Map each variant to its specific classes
const variantClasses = {
  narrow: "max-w-xl 2xl:max-w-3xl mx-auto p-8 lg:p-4 ",
  //
  prose:
    "prose prose-sm prose-headings:font-medium text-base-500  prose-headings:text-black  prose-blockquote:text-base-500 prose-blockquote:font-normal prose-blockquote:tracking-normal prose-img:border prose-img:border-base-100  prose-img:rounded-xl prose-a:text-black  prose-a:hover:text-accent-400 prose-a:duration-200 prose-hr:border-base-300  prose-pre:border-none prose-pre:rounded-2xl prose-strong:font-medium prose-strong:text-black  prose-code:text-black  max-w-none prose:font-sans  prose-tr:border-base-100 prose-thead:border-base-800darkprose-thead:border-base-800 prose-pre:!bg-base-50 prose-li:capitalize",
  //
  wide: "max-w-screen 2xl:max-w-[120rem] w-full mx-auto  p-8 lg:p-4 ",
  //
  standard: "mx-auto p-8 lg:p-4 2xl:max-w-6xl 2xl:px-12 w-full  max-w-5xl  ",
  //
  stickyNav: "mx-auto px-8 lg:px-4 2xl:max-w-6xl 2xl:px-12 w-full  max-w-5xl  ",
  //
  // Classes for blocks never change
  //
  blockStandard:
    "mx-auto px-8  md:px-12 lg:px-20  w-full  max-w-6xl 2xl:max-w-7xl  ",
};
// Combine the classes for the specified variant with any extra classes
const classes = `${variantClasses[variant]} ${extraClass}`.trim();
---

<div class={classes}>
  <slot />
</div>
