<div class="justify-center w-full mx-auto bg-gray-100">
  <div
    class="flex items-center justify-center py-2 lg:h-12 text-white bg-gradient-to-b from-blue-500 px-8 to-indigo-600">
    <div class="flex flex-col lg:flex-row lg:items-center justify-center gap-4">
      <div class="text-xs font-medium">
        <span>We have launched a new version of Oxbow UI</span>
      </div>
      <div class="hidden w-px h-6 sm:block bg-white/20"></div>
      <div>
        <a
          class="text-xs flex font-semibold items-center justify-center px-4 py-2 rounded-lg transition-all h-8 text-white bg-gradient-to-b from-white/[.105] hover:to-white/[.25] ring-1 ring-inset ring-white/20 to-white/[.15]"
          href="#_"
          >Learn more &nbsp; →</a
        >
      </div>
    </div>
  </div>
  <div
    x-data="{ open: false }"
    class="flex flex-col w-full mx-auto md:px-12 md:items-center md:justify-between md:flex-row px-8 py-2 lg:px-24 max-w-screen-xl relative">
    <div class="flex flex-row items-center justify-between text-black">
      <a
        href="/"
        class="flex items-center w-full gap-3 font-medium sm:w-auto group 2xl:text-lg"
        ><span
          class="duration-300 group-hover:text-blue-600 group-hover:animate-pulse"
          ><img
            class="h-7 2xl:h-9"
            src="/images/oxbow/windLogo.png"
            alt="#_"
          /></span
        > oxbow ui</a
      >
      <button
        class="rounded-lg md:hidden focus:outline-none focus:shadow-outline focus:text-blue-600"
        @click="open = !open">
        <svg
          class="size-6"
          stroke="currentColor"
          fill="none"
          viewBox="0 0 24 24">
          <path
            :class="{'hidden': open, 'inline-flex': !open }"
            class="inline-flex"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          ></path>
          <path
            :class="{'hidden': !open, 'inline-flex': open }"
            class="hidden"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    </div>
    <nav
      :class="{'flex': open, 'hidden': !open}"
      class="flex-col items-center flex-grow hidden gap-3 p-4 px-5 text-xs font-medium text-gray-500 md:px-0 md:pb-0 md:flex md:justify-start md:flex-row lg:p-0 md:mt-0">
      <a
        class="hover:text-black focus:outline-none focus:text-gray-500 md:ml-auto"
        href="#_"
        >Features
      </a>
      <a
        class="hover:text-black focus:outline-none focus:text-gray-500"
        href="#_"
        >About
      </a>
      <a
        class="flex items-center justify-center h-8 px-4 py-2 text-xs font-semibold text-white transition-all duration-200 rounded-md shadow bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
        href="#_"
        role="button">
        Button
      </a>
    </nav>
  </div>
</div>
<section x-data="{duration: 'monthly'}">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-screen-xl relative">
    <div class="max-w-xl text-center mx-auto">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Tagline</span
      >
      <p
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
        Equip your business
        <br />
        <span>with world class software </span>
      </p>
      <p class="text-base max-w-sm mx-auto text-balance mt-4 text-gray-700">
        Every plan includes every feature, and can scale as your team does.
      </p>
      <div
        class="w-full border bg-white overflow-hidden inline-flex mt-8 p-0.5 rounded-lg max-w-xs shadow shadow-white/20 z-0">
        <!-- Monthly Pricing Button: Sets 'duration' to 'monthly' when clicked -->
        <button
          id="monthly-pricing-button"
          class="block w-full px-8 py-2 text-xs font-medium transition border border-transparent rounded-md text-blue-900"
          @click="duration = 'monthly'"
          :class="duration == 'monthly' ? 'bg-gray-100 border text-blue-900 ' : ''"
          type="button">
          Monthly
        </button>

        <!-- Annual Pricing Button: Sets 'duration' to 'annual' when clicked -->
        <button
          id="annual-pricing-button"
          class="block w-full px-8 py-2 text-xs font-medium transition border border-transparent rounded-md text-blue-900"
          @click="duration = 'annual'"
          :class="duration == 'annual' ? 'bg-gray-100 border text-blue-900 ' : ''"
          type="button">
          Annual
        </button>
      </div>
    </div>
    <div class="xl:-mx-20">
      <div
        class="grid grid-cols-1 gap-4 mt-12 sm:grid-cols-2 sm:mx-auto xl:grid-cols-4">
        <!--- Tier 1 -->
        <section
          class="flex flex-col h-full justify-between p-8 bg-gray-50 rounded-3xl">
          <div>
            <div class="flex flex-col gap-2">
              <div class="flex flex-col gap-2">
                <p
                  class="text-xl font-medium uppercase font-mono tracking-tighter text-gray-900 mt-8">
                  Basic
                </p>
                <p
                  class="font-semibold order-first flex items-baseline text-4xl tracking-tighter font-mono text-gray-900">
                  <span
                    data-monthly="$9"
                    data-annual="$5"
                    x-text="$el.dataset[duration]"
                  ></span>
                  <span
                    class="text-sm font-normal tracking-normal text-gray-700">
                    <span x-show="duration === 'monthly'">
                      <span x-show="duration === 'monthly'"> /month</span></span
                    >
                    <span
                      x-show="duration === 'annual'"
                      style="display: none;">
                      /annually</span
                    >
                  </span>
                </p>
              </div>

              <p class="text-sm text-gray-700 mt-4">
                This subscription tier caters to individuals and hobbyists
                seeking fundamental features.
              </p>
            </div>
            <ul
              class="flex flex-col mt-10 text-sm text-gray-700 gap-y-3"
              role="list">
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Unlimited members</span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>2 teams </span>
              </li>
              <li class="flex flex-row items-center gap-2 opacity-70">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-x text-blue-500 size-4"
                  ><path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path><path d="M18 6l-12 12"></path><path d="M6 6l12 12"
                  ></path></svg
                >
                <span>50 issues (+unlimited)</span>
              </li>
              <li class="flex flex-row items-center gap-2 opacity-70">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-x text-blue-500 size-4"
                  ><path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path><path d="M18 6l-12 12"></path><path d="M6 6l12 12"
                  ></path></svg
                >
                <span>Slack, GitHub, and API access</span>
              </li>
            </ul>
          </div>
          <div class="w-full mt-8">
            <a
              aria-describedby="#_"
              class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-medium text-gray-500 transition-all bg-white border border-gray-300 rounded-lg hover:text-gray-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 duration-300 hover:border-gray-200 hover:shadow-none w-full"
              href="#_"
              >Get started</a
            >
          </div>
        </section>
        <!--- Tier 2 -->

        <section
          class="flex flex-col h-full justify-between p-8 bg-gray-50 rounded-3xl">
          <div>
            <div class="flex flex-col gap-2">
              <div class="flex flex-col gap-2">
                <p
                  class="text-xl font-medium uppercase font-mono tracking-tighter text-gray-900 mt-8">
                  Standard
                </p>
                <p
                  class="font-semibold order-first flex items-baseline text-4xl tracking-tighter font-mono text-gray-900">
                  <span
                    data-monthly="$29"
                    data-annual="$19"
                    x-text="$el.dataset[duration]"
                  ></span>
                  <span
                    class="text-sm font-normal tracking-normal text-gray-700">
                    <span x-show="duration === 'monthly'"> /month</span>
                    <span
                      x-show="duration === 'annual'"
                      style="display: none;"
                      >/annually</span
                    ></span
                  >
                </p>
              </div>

              <p class="text-sm text-gray-700 mt-4">
                For small businesses or startups, this subscription tier is
                crafted to meet your requirements.
              </p>
            </div>
            <ul
              class="flex flex-col mt-10 text-sm text-gray-700 gap-y-3"
              role="list">
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>All basic plan features</span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>5 teams </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Unlimited issues and files </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Admin roles</span>
              </li>
            </ul>
          </div>
          <div class="w-full mt-8">
            <a
              aria-describedby="#_"
              class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-medium text-gray-500 transition-all bg-white border border-gray-300 rounded-lg hover:text-gray-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 duration-300 hover:border-gray-200 hover:shadow-none w-full"
              href="#_"
              >Get started</a
            >
          </div>
        </section>
        <!--- Tier 3 -->
        <section
          class="flex h-full justify-between flex-col order-first p-8 rounded-3xl bg-gradient-to-b from-blue-500 to-indigo-600 lg:order-none">
          <div>
            <div>
              <div class="flex flex-col gap-2">
                <div class="flex flex-col gap-2">
                  <p
                    class="text-xl font-medium uppercase font-mono tracking-tighter text-white mt-8">
                    Premium
                  </p>
                  <p
                    class="font-semibold flex items-baseline order-first text-4xl tracking-tighter font-mono text-white">
                    <span
                      data-monthly="$49"
                      data-annual="$39"
                      x-text="$el.dataset[duration]"
                    ></span>
                    <span
                      class="text-sm font-normal tracking-normal text-white">
                      <span x-show="duration === 'monthly'"> /month</span>
                      <span
                        x-show="duration === 'annual'"
                        style="display: none;"
                        >/annually</span
                      ></span
                    >
                  </p>
                </div>

                <p class="text-sm text-white mt-4">
                  Designed with medium-sized businesses in mind, this
                  subscription tier provides advanced tools.
                </p>
              </div>
            </div>
            <ul
              class="flex flex-col mt-10 text-sm text-white gap-y-3"
              role="list">
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>All standard plan features</span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Unlimited teams </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Private teams and guest </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Insights</span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Integrations </span>
              </li>
            </ul>
          </div>
          <div class="w-full mt-8">
            <a
              aria-describedby="#_"
              class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-medium text-gray-500 transition-all bg-gray-50 border border-gray-300 rounded-lg hover:text-gray-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 duration-300 hover:border-gray-200 hover:shadow-none duration-300 w-full"
              href="#_"
              >Get started</a
            >
          </div>
        </section>
        <!--- Tier 4 -->
        <section
          class="flex h-full justify-between flex-col p-8 bg-gray-50 rounded-3xl">
          <div>
            <div class="flex flex-col gap-2">
              <div class="flex flex-col gap-2">
                <p
                  class="text-xl font-medium uppercase font-mono tracking-tighter text-gray-900 mt-8">
                  Enterprise
                </p>
                <p
                  class="font-semibold order-first flex items-baseline text-4xl tracking-tighter font-mono text-gray-900">
                  <span
                    data-monthly="$99"
                    data-annual="$89"
                    x-text="$el.dataset[duration]"
                  ></span>
                  <span
                    class="text-xs font-normal tracking-normal text-gray-700">
                    <span x-show="duration === 'monthly'"> /month</span>
                    <span
                      x-show="duration === 'annual'"
                      style="display: none;"
                      >/annually</span
                    ></span
                  >
                </p>
              </div>

              <p class="text-sm text-gray-700 mt-4">
                This premium-tier subscription is tailored for large enterprises
                and corporations.
              </p>
            </div>
            <ul
              class="flex flex-col mt-10 text-sm text-gray-700 gap-y-3"
              role="list">
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>All premium plan features</span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Issue SLAs </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>SAML and SCIM </span>
              </li>
              <li class="flex flex-row items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 icon icon-tabler icon-tabler-circle-check-filled text-blue-500"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                    stroke-width="0"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Advanced security controls</span>
              </li>
            </ul>
          </div>
          <div class="w-full mt-8">
            <a
              aria-describedby="#_"
              class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-medium text-gray-500 transition-all bg-white border border-gray-300 rounded-lg hover:text-gray-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 duration-300 hover:border-gray-200 hover:shadow-none w-full"
              href="#_"
              >Get started</a
            >
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div>
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >faq</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-balance">
        Frequently Asked Questions
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500">
        Everything you need to know about our platform.
      </p>
    </div>
    <dl class="space-y-8 divide-y divide-gray-900/10 mt-12">
      <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-12">
        <dt
          class="tracking-tight text-lg font-medium text-gray-900 lg:col-span-5">
          How does end-to-end encryption work?
        </dt>
        <dd class="mt-4 lg:col-span-7 lg:mt-0">
          <p class="ttext-sm text-gray-500">
            End-to-end encryption ensures that only the sender and recipient can
            access the content of a message.
          </p>
        </dd>
      </div>
      <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-12">
        <dt
          class="tracking-tight text-lg font-medium text-gray-900 lg:col-span-5">
          Can I access my encrypted data if I forget my encryption key?
        </dt>
        <dd class="mt-4 lg:col-span-7 lg:mt-0">
          <p class="ttext-sm text-gray-500">
            No, forgetting or losing your encryption key means that your
            encrypted data cannot be accessed.
          </p>
        </dd>
      </div>
      <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-12">
        <dt
          class="tracking-tight text-lg font-medium text-gray-900 lg:col-span-5">
          Are there any limitations to the self-destructing messages feature?
        </dt>
        <dd class="mt-4 lg:col-span-7 lg:mt-0">
          <p class="ttext-sm text-gray-500">
            Self-destructing messages are designed to automatically delete
            themselves after a specific period or upon being read by the
            recipient.
          </p>
        </dd>
      </div>
      <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-12">
        <dt
          class="tracking-tight text-lg font-medium text-gray-900 lg:col-span-5">
          What happens if I enable two-factor authentication and lose my device?
        </dt>
        <dd class="mt-4 lg:col-span-7 lg:mt-0">
          <p class="ttext-sm text-gray-500">
            Losing your device doesn&#39;t automatically compromise your
            account&#39;s security.
          </p>
        </dd>
      </div>
      <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-12">
        <dt
          class="tracking-tight text-lg font-medium text-gray-900 lg:col-span-5">
          Is my personal information shared or sold to third parties?
        </dt>
        <dd class="mt-4 lg:col-span-7 lg:mt-0">
          <p class="ttext-sm text-gray-500">
            No, we strictly adhere to a privacy-centric approach. Your personal
            information is never shared, sold, or monetized. We prioritize your
            privacy and ensure that your data remains confidential and only
            accessible to you.
          </p>
        </dd>
      </div>
      <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-12">
        <dt
          class="tracking-tight text-lg font-medium text-gray-900 lg:col-span-5">
          Can I use this platform on multiple devices?
        </dt>
        <dd class="mt-4 lg:col-span-7 lg:mt-0">
          <p class="ttext-sm text-gray-500">
            Yes, you can access our platform on multiple devices. Your encrypted
            data remains synced across all devices, allowing you to seamlessly
            communicate and access your files and messages from anywhere.
          </p>
        </dd>
      </div>
      <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-12">
        <dt
          class="tracking-tight text-lg font-medium text-gray-900 lg:col-span-5">
          Are there any storage limitations for files and documents?
        </dt>
        <dd class="mt-4 lg:col-span-7 lg:mt-0">
          <p class="ttext-sm text-gray-500">
            Our platform provides ample storage space for your files and
            documents. However, there may be storage limitations based on the
            pricing plan you choose. We offer flexible plans to suit your needs
            and provide options to upgrade if you require additional storage
            capacity.
          </p>
        </dd>
      </div>
      <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-12">
        <dt
          class="tracking-tight text-lg font-medium text-gray-900 lg:col-span-5">
          Is it possible to export my data from the platform?
        </dt>
        <dd class="mt-4 lg:col-span-7 lg:mt-0">
          <p class="ttext-sm text-gray-500">
            Yes, you can export your data from the platform. We offer export
            features that allow you to download your messages, files, and
            documents, ensuring you have a local copy for backup or migration
            purposes. It provides you with greater control and flexibility over
            your data.
          </p>
        </dd>
      </div>
      <!-- More questions... -->
    </dl>
  </div>
</section>
 <section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid items-end grid-cols-1 sm:grid-cols-2 gap-4 bg-gray-50 p-8 rounded-2xl"
    >
      <div>
        <p
          class="text-xl lg:text-3xl font-semibold tracking-tight text-gray-900"
        >
          Get started today and start collaborating with your team
        </p>
      </div>
      <div class="flex flex-col items-center gap-2 sm:ml-auto">
        <button
          class="flex items-center justify-center w-full h-10 px-4 py-2 text-sm font-medium text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
          aria-label="Action"
        >
          Get started
        </button>
        <button
          class="flex items-center justify-center gap-2 w-full h-10 px-4 py-2 text-sm font-medium text-gray-500 transition-all bg-gray-50 border border-gray-300 rounded-lg hover:text-gray-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 duration-300 hover:border-gray-200 hover:shadow-none"
          aria-label="Action"
        >
          Learn more
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 6l6 6l-6 6"></path>
          </svg>
        </button>
      </div>
    </div>
    <div
      class="mx-auto grid mt-10 grid-cols-4 items-center gap-x-8 gap-y-10 sm:grid-cols-6 sm:gap-x-10 lg:-mx-6 lg:grid-cols-5"
    >
      <img
        class="col-span-2 col-start-2 sm:col-start-auto lg:col-span-1 max-h-12 w-full object-contain"
        src="/brands/5.svg"
        alt="#_"
        width="158"
        height="48"
      /><img
        class="col-span-2 lg:col-span-1 max-h-12 w-full object-contain"
        src="/brands/6.svg"
        alt="#_"
        width="158"
        height="48"
      /><img
        class="col-span-2 lg:col-span-1 max-h-12 w-full object-contain"
        src="/brands/9.svg"
        alt="#_"
        width="158"
        height="48"
      /><img
        class="col-span-2 sm:col-start-2 lg:col-span-1 max-h-12 w-full object-contain"
        src="/brands/8.svg"
        alt="#_"
        width="158"
        height="48"
      /><img
        class="col-span-2 col-start-2 sm:col-start-auto lg:col-span-1 max-h-12 w-full object-contain"
        src="/brands/10.svg"
        alt="#_"
        width="158"
        height="48"
      />
    </div>
  </div>
</section>
 <section class="bg-blue-950">
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 gap-x-8 gap-y-24"
    >
      <div class="col-span-full md:col-span-2 lg:order-last">
        <a
          href="#_"
          class="font-medium w-full sm:w-auto group text-white flex gap-3 items-center group-hover:text-blue-600 duration-300 group-hover:animate-pulse"
          ><img
            class="h-7 2xl:h-12"
            src="/images/oxbow/whiteLineLogo.png"
            alt="#_"
          />
          Oxbow UI</a
        >
        <div class="mt-8">
          <p class="text-sm font-medium text-white">Join our newsletter</p>
          <p class="text-sm text-gray-200 mt-2">
            Stay up to date with our latest news and updates.
          </p>
          <form class="w-full mt-8 sm:flex sm:max-w-md">
            <label for="email-address" class="sr-only">Email address</label>
            <input
              id="email-address"
              type="email"
              name="email-address"
              autocomplete="email"
              placeholder="Enter your email"
              aria-placeholder="Enter your email"
              required=""
              class="block w-full h-10 px-4 py-2 ring-1 ring-white/20 shadow text-sm text-white border border-transparent appearance-none rounded-lg bg-blue-950 placeholder-gray-200 focus:border-white/20 ring-offset-blue-950 focus:bg-transparent focus:outline-none focus:ring-blue-500 focus:ring-offset-2 focus:ring-2 duration-300 sm:text-sm"
            />
            <div class="mt-2 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
              <button
                type="submit"
                class="flex items-center justify-center gap-2 h-10 px-4 py-2 text-sm font-medium text-gray-500 transition-all bg-white border border-gray-300 rounded-lg hover:text-gray-700 focus:ring-2 shadow shadow-gray-500/5 focus:ring-gray-900 focus:ring-offset-2 ring-offset-gray-200 duration-300 hover:border-gray-200 hover:shadow-none w-full lg:w-auto"
              >
                Subscribe
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="space-y-4">
        <nav aria-labelledby="footer-heading-0">
          <h3 id="footer-heading-0" class="text-sm font-medium text-white">
            Company
          </h3>
          <ul class="mt-4 space-y-4">
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                About
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                Mission
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                Leadership Team
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                History
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="space-y-4">
        <nav aria-labelledby="footer-heading-1">
          <h3 id="footer-heading-1" class="text-sm font-medium text-white">
            Services
          </h3>
          <ul class="mt-4 space-y-4">
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                Marketing
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                Analytics
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                Commerce
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                Insights
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="space-y-4">
        <nav aria-labelledby="footer-heading-2">
          <h3 id="footer-heading-2" class="text-sm font-medium text-white">
            Resources
          </h3>
          <ul class="mt-4 space-y-4">
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                Documentation
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                Guides
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                Webinars
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                White Papers
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="space-y-4">
        <nav aria-labelledby="footer-heading-3">
          <h3 id="footer-heading-3" class="text-sm font-medium text-white">
            Support &amp; Legal
          </h3>
          <ul class="mt-4 space-y-4">
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                Pricing
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                API Status
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                Live Chat
              </a>
            </li>
            <li>
              <a
                href="#"
                class="text-gray-300 text-sm md:text-base hover:text-white duration-300"
              >
                Email Support
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div
      class="pt-12 mt-12 border-t flex flex-col border-white/20 gap-8 sm:flex-row sm:items-center justify-between"
    >
      <p class="text-gray-200 text-sm">
        Copyright © 2024 Oxbow UI. All rights reserved.
      </p>
      <nav
        aria-labelledby="social-icons-heading"
        role="navigation"
        class="flex items-center gap-4 text-gray-200"
      >
        <h2 id="social-icons-heading" class="sr-only">
          Follow us on social media
        </h2>
        <a href="#_" aria-label="Follow us on Brand X">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler size-4 hover:text-blue-600 icons-tabler-outline icon-tabler-brand-x"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
            <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
          </svg>
        </a>
        <a href="#_" aria-label="Follow us on YouTube">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler size-4 hover:text-blue-600 icons-tabler-outline icon-tabler-brand-youtube"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"
            ></path>
            <path d="M10 9l5 3l-5 3z"></path>
          </svg>
        </a>
        <a href="#_" aria-label="Follow us on GitHub">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler size-4 hover:text-blue-600 icons-tabler-outline icon-tabler-brand-github"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
            ></path>
          </svg>
        </a>
        <a href="#_" aria-label="Follow us on Linkedin">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler size-4 hover:text-blue-600 icons-tabler-outline icon-tabler-brand-linkedin"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
            ></path>
            <path d="M8 11l0 5"></path>
            <path d="M8 8l0 .01"></path>
            <path d="M12 16l0 -5"></path>
            <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
          </svg>
        </a>
      </nav>
    </div>
  </div>
</section>
