---
export const freeComponent = true;
import Text from "@/components/fundations/typography/Text.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
const teamMembers = [
  {
    name: "Fernando Monte",
    title: "Creator of Oxbow UI.com",
    imgSrc: "/avatars/1.jpg",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.jpg",
  },
  {
    name: "Hanako Yamada",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.jpg",
  },
  {
    name: "Heidi Herrera",
    title: "COO at Pff Inc",
    imgSrc: "/avatars/4.jpg",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-20">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <Text
        tag="h2"
        variant="displayMD"
        class="font-semibold tracking-tight text-zinc-900 dark:text-white text-balance"
      >
        Meet our dedicated team
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
      >
        Our team of innovative professionals works tirelessly to deliver
        exceptional experiences and drive successful outcomes for every project.
      </Text>
    </div>
    <ul
      role="list"
      class="mt-24 text-center grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-24 gap-x-4"
    >
      {
        teamMembers.map((member) => (
          <li>
            <img
              class="object-cover mx-auto rounded-full size-24"
              src={member.imgSrc}
              alt="#_"
            />
            <div class="flex flex-col mt-4">
              <Text
                tag="h3"
                variant="textBase"
                class="font-semibold text-zinc-900 dark:text-white"
              >
                {member.name}
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="font-medium text-zinc-500 dark:text-zinc-400"
              >
                {member.title}
              </Text>
            </div>
            <div class="flex items-center justify-center px-8 mt-4 text-black  gap-2 dark:text-white">
              <Text tag="a" href="#_" variant="link">
                <XBrand size="sm" />
              </Text>
              <Text tag="a" href="#_" variant="link">
                <LinkedinBrand size="sm" />
              </Text>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
