---
export const freeComponent = true;
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const teamMembers = [
  {
    name: "Fernando Monte",
    title: "Creator of Oxbow UI.com",
    imgSrc: "/avatars/1.jpg",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.jpg",
  },
  {
    name: "Hanako Yamada",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.jpg",
  },
  {
    name: "Heidi Herrera",
    title: "COO at Pff Inc",
    imgSrc: "/avatars/4.jpg",
  },
];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <Text tag="p" variant="textSM" class="font-bold uppercase text-blue-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-zinc-900 lg:text-balance"
      >
        Introducing our team
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
        Uniting talent with vision. Get to know the dedicated professionals who
        blend their skills and passion to lead us to new heights.
      </Text>
    </div>
    <ul
      role="list"
      class="mt-12 text-center grid sm:grid-cols-2 md:grid-cols-3 lg:divide-x divide-zinc-200 lg:grid-cols-4 lg:border-x lg:mt-24"
    >
      {
        teamMembers.map((member) => (
          <li class="p-8">
            <div class="flex flex-col gap-4">
              <img
                class="object-cover mx-auto rounded-full size-16 lg:size-20"
                src={member.imgSrc}
                alt="#_"
              />
              <div>
                <Text
                  tag="h3"
                  variant="textLG"
                  class="font-medium  text-zinc-900"
                >
                  {member.name}
                </Text>
                <Text
                  tag="p"
                  variant="textBase"
                  class="font-medium text-zinc-500"
                >
                  {member.title}
                </Text>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
    <div class="flex items-center justify-center mt-8 text-center gap-2">
      <Text tag="p" variant="textBase" class="font-medium text-zinc-500">
        We are hiring
      </Text>
      <Text
        tag="a"
        href="#_"
        variant="textBase"
        class="flex items-center font-medium text-blue-500 gap-2 hover:text-zinc-900"
      >
        See all our open roles
        <ChevronRight size="sm" />
      </Text>
    </div>
  </div>
</section>
