---
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const teamMembers = [
  {
    name: "Fernando Monte",
    title: "Creator of Oxbow UI.com",
    imgSrc: "/avatars/1.jpg",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.jpg",
  },
  {
    name: "Hanako Yamada",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.jpg",
  },
  {
    name: "Heidi Herrera",
    title: "COO at Pff Inc",
    imgSrc: "/avatars/4.jpg",
  },
  {
    name: "Sara Johnson",
    title: "Lead Developer",
    imgSrc: "/avatars/5.jpg",
  },
  {
    name: "Sandra Kimmel",
    title: "Marketing Director",
    imgSrc: "/avatars/6.jpg",
  },
];
---

<div class="p-8">
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto">
    <div class="max-w-xl text-center lg:text-balance sm:text-left">
      <Text tag="p" variant="textSM" class="font-bold uppercase text-blue-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-zinc-900 lg:text-balance"
      >
        Introducing our team
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
        Uniting talent with vision. Get to know the dedicated professionals who
        blend their skills and passion to lead us to new heights.
      </Text>
      <div
        class="flex items-center justify-center mt-8 text-sm text-center gap-2 text-zinc-500 lg:justify-start"
      >
        <Text tag="span" variant="textBase"> We are hiring </Text>
        <Text tag="a" href="#_" variant="link" class="flex items-center gap-2">
          See all our open roles
          <ChevronRight size="sm" />
        </Text>
      </div>
    </div>
    <ul
      role="list"
      class="mt-12 text-center grid grid-cols-1 md:text-left sm:grid-cols-2 md:grid-cols-3 gap-12 lg:mt-24"
    >
      {
        teamMembers.map((member) => (
          <li>
            <div class="flex flex-col items-center md:flex-row gap-4 ">
              <img
                class="object-cover rounded-full size-16 "
                src={member.imgSrc}
                alt="#_"
              />
              <div>
                <Text
                  tag="h3"
                  variant="textLG"
                  class="font-medium  text-zinc-900"
                >
                  {member.name}
                </Text>
                <Text
                  tag="p"
                  variant="textBase"
                  class="font-medium text-zinc-500"
                >
                  {member.title}
                </Text>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
  <!-- copy:end -->
</div>
