---
import Text from "@/components/fundations/typography/Text.astro";
const teamMembers = [
  {
    name: "Fernando Monte",
    title: "Founder of Oxbow UI",
    imgSrc: "/avatars/1.jpg",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.jpg",
  },
  {
    name: "Hanako Yamada",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.jpg",
  },
  {
    name: "Heidi Herrera",
    title: "COO at Pff Inc",
    imgSrc: "/avatars/4.jpg",
  },
  {
    name: "Sara Johnson",
    title: "Lead Developer",
    imgSrc: "/avatars/5.jpg",
  },
  {
    name: "Sandra Kimmel",
    title: "Marketing Director",
    imgSrc: "/avatars/6.jpg",
  },
  {
    name: "Emma Watson",
    title: "Chief Design Officer",
    imgSrc: "/avatars/7.jpg",
  },
  {
    name: "James Anderson",
    title: "Senior Product Manager",
    imgSrc: "/avatars/8.jpg",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <ul
      role="list"
      class="overflow-hidden border grid grid-cols-1 sm:grid-cols-3 gap-px lg:grid-cols-4 rounded-3xl bg-zinc-200 dark:bg-zinc-900 border-zinc-200 dark:border-zinc-800"
    >
      {
        teamMembers.map((member) => (
          <li class="flex flex-col p-8 text-center bg-white dark:bg-zinc-900 lg:p-12 gap-4 hover:bg-transparent duration-300">
            <img
              class="object-cover mx-auto rounded-full size-12 lg:size-16 "
              src={member.imgSrc}
              alt="#_"
            />
            <div>
              <Text
                variant="textBase"
                tag="h3"
                class="font-semibold text-zinc-900 dark:text-white"
              >
                {member.name}
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="font-medium text-zinc-500 dark:text-zinc-400"
              >
                {member.title}
              </Text>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
