---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
const teamMembers = [
  {
    name: "Mike Vega",
    title: "Creator of Oxbow UI.com",
    imgSrc: "/avatars/1.avif",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.avif",
  },
  {
    name: "Elona Muska",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.avif",
  },
  {
    name: "Messina Lionel",
    title: "COO at Pff Inc",
    imgSrc:
      "https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="default">
        Introducing our team
      </Heading>
      <Text
        class="mt-4 lg:text-balance"
        tag="p"
        variant="body">
        Uniting talent with vision. Get to know the dedicated professionals who
        blend their skills and passion to lead us to new heights.
      </Text>
    </div>
    <ul
      role="list"
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 text-center gap-24 gap-x-4 mt-24">
      {
        teamMembers.map((member) => (
          <li class="bg-base-50 rounded-3xl">
            <img
              class="object-cover rounded-full -mt-12  size-24 mx-auto "
              src={member.imgSrc}
              alt="#_"
            />
            <div class="flex flex-col   ">
              <div class="p-8">
                <Heading
                  level={3}
                  variant="featureTitle">
                  {member.name}
                </Heading>
                <Text
                  tag="p"
                  variant="body">
                  {member.title}
                </Text>
              </div>
              <div class=" flex items-center gap-2 px-8 py-4 border-t justify-center">
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <XBrand size="sm" />
                </Text>

                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <LinkedinBrand size="sm" />
                </Text>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
