---
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const teamMembers = [
  {
    name: "Fernando Monte",
    title: "Founder of Oxbow UI",
    imgSrc: "/avatars/1.jpg",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.jpg",
  },
  {
    name: "Hanako Yamada",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.jpg",
  },
  {
    name: "Heidi Herrera",
    title: "COO at Pff Inc",
    imgSrc: "/avatars/4.jpg",
  },
  {
    name: "Sara Johnson",
    title: "Lead Developer",
    imgSrc: "/avatars/5.jpg",
  },
  {
    name: "Sandra Kimmel",
    title: "Marketing Director",
    imgSrc: "/avatars/6.jpg",
  },
  {
    name: "Emma Watson",
    title: "Chief Design Officer",
    imgSrc: "/avatars/7.jpg",
  },
  {
    name: "James Anderson",
    title: "Senior Product Manager",
    imgSrc: "/avatars/8.jpg",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-20">
    <div class="max-w-xl lg:text-balance">
      <Text
        tag="h2"
        variant="displayMD"
        class="font-semibold tracking-tight text-zinc-900 dark:text-white text-balance"
      >
        Meet our dedicated team
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
      >
        A collaborative group of experts bringing diverse skills together to
        craft outstanding experiences and impactful solutions.
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="flex items-center mt-12 font-medium text-zinc-500 dark:text-zinc-400 gap-2"
      >
        We’re hiring!&nbsp;
        <a
          href="#_"
          class="flex items-center font-medium text-zinc-900 dark:text-white hover:text-blue-600 dark:hover:text-blue-300 gap-1"
        >
          View open positions
          <ChevronRight size="sm" />
        </a>
      </Text>
    </div>
    <ul
      role="list"
      class="mt-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 gap-y-16 lg:mt-24"
    >
      {
        teamMembers.map((member) => (
          <li>
            <div class="flex items-center justify-between ">
              <div class="flex items-center gap-4">
                <img
                  class="object-cover rounded-full size-12"
                  src={member.imgSrc}
                  alt="#_"
                />
                <div>
                  <Text
                    variant="textBase"
                    tag="h3"
                    class="font-semibold text-zinc-900 dark:text-white"
                  >
                    {member.name}
                  </Text>
                  <Text
                    tag="p"
                    variant="textSM"
                    class="font-medium text-zinc-500 dark:text-zinc-400"
                  >
                    {member.title}
                  </Text>
                </div>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
