---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
const teamMembers = [
  {
    name: "Mike Vega",
    title: "Founder of Oxbow UI",
    imgSrc: "/avatars/1.avif",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.avif",
  },
  {
    name: "Elona Muska",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.avif",
  },
  {
    name: "Messina Lionel",
    title: "COO at Pff Inc",
    imgSrc:
      "https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80",
  },
  {
    name: "Sara Johnson",
    title: "Lead Developer",
    imgSrc:
      "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
  },
  {
    name: "David Kim",
    title: "Marketing Director",
    imgSrc:
      "https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGhlYWQlMjBwZXJzb258ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60",
  },
  {
    name: "Emma Watson",
    title: "Chief Design Officer",
    imgSrc:
      "https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60",
  },
  {
    name: "James Anderson",
    title: "Senior Product Manager",
    imgSrc:
      "https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">

    <ul
      role="list"
      class=" grid grid-cols-1 sm:grid-cols-3 gap-px lg:grid-cols-4 rounded-3xl overflow-hidden border bg-base-200">
      {
        teamMembers.map((member) => (
          <li class="bg-white p-8 lg:p-12 flex flex-col gap-4 text-center hover:bg-transparent duration-300">
            <img
              class="object-cover rounded-full mx-auto size-12 lg:size-16 "
              src={member.imgSrc}
              alt="#_"
            />
            <div>
              <Heading
                level={3}
                variant="featureTitle">
                {member.name}
              </Heading>
              <Text
                tag="p"
                variant="body">
                {member.title}
              </Text>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
