---
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const teamMembers = [
  {
    name: "Fernando Monte",
    title: "Founder of Oxbow UI",
    imgSrc: "/avatars/1.jpg",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.jpg",
  },
  {
    name: "Hanako Yamada",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.jpg",
  },
  {
    name: "Heidi Herrera",
    title: "COO at Pff Inc",
    imgSrc: "/avatars/4.jpg",
  },
  {
    name: "Sara Johnson",
    title: "Lead Developer",
    imgSrc: "/avatars/5.jpg",
  },
  {
    name: "Sandra Kimmel",
    title: "Marketing Director",
    imgSrc: "/avatars/6.jpg",
  },
  {
    name: "Emma Watson",
    title: "Chief Design Officer",
    imgSrc: "/avatars/7.jpg",
  },
  {
    name: "James Anderson",
    title: "Senior Product Manager",
    imgSrc: "/avatars/8.jpg",
  },
];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-base-900 lg:text-balance"
      >
        Introducing our team
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 font-medium text-base-500">
        Uniting talent with vision. Get to know the dedicated professionals who
        blend their skills and passion to lead us to new heights.
      </Text>
    </div>
    <ul
      role="list"
      class="mt-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 gap-y-16 lg:mt-24"
    >
      {
        teamMembers.map((member) => (
          <li>
            <div class="flex items-center justify-between ">
              <div class="flex items-center gap-4">
                <img
                  class="object-cover rounded-full size-12"
                  src={member.imgSrc}
                  alt="#_"
                />
                <div>
                  <Text
                    tag="h3"
                    variant="textLG"
                    class="font-medium  text-base-900"
                  >
                    {member.name}
                  </Text>
                  <Text
                    tag="p"
                    variant="textBase"
                    class="font-medium text-base-500"
                  >
                    {member.title}
                  </Text>
                </div>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
    <div class="flex items-center justify-center mt-12 text-center gap-2">
      <Text tag="p" variant="textBase" class="font-medium text-base-500">
        We are hiring
      </Text>
      <Text
        tag="a"
        href="#_"
        variant="textBase"
        class="flex items-center font-medium text-accent-500 gap-2 hover:text-base-900"
      >
        See all our open roles
        <ChevronRight size="sm" />
      </Text>
    </div>
  </div>
</section>
