---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const teamMembers = [
  {
    name: "Mike Vega",
    title: "Founder of Oxbow UI",
    imgSrc: "/avatars/1.avif",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.avif",
  },
  {
    name: "Elona Muska",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.avif",
  },
  {
    name: "Messina Lionel",
    title: "COO at Pff Inc",
    imgSrc:
      "https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80",
  },
  {
    name: "Sara Johnson",
    title: "Lead Developer",
    imgSrc:
      "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
  },
  {
    name: "David Kim",
    title: "Marketing Director",
    imgSrc:
      "https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGhlYWQlMjBwZXJzb258ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60",
  },
  {
    name: "Emma Watson",
    title: "Chief Design Officer",
    imgSrc:
      "https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60",
  },
  {
    name: "James Anderson",
    title: "Senior Product Manager",
    imgSrc:
      "https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60",
  },
  {
    name: "Olivia Brown",
    title: "Head of Customer Success",
    imgSrc:
      "https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60",
  },
  {
    name: "Liam Martinez",
    title: "UX Researcher",
    imgSrc:
      "https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60",
  },
  {
    name: "Sophia Lee",
    title: "Data Scientist",
    imgSrc:
      "https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60",
  },
  {
    name: "Noah Wilson",
    title: "Sales Manager",
    imgSrc:
      "https://images.unsplash.com/photo-1523958203904-cdcb402031fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div>
        <Text
          tag="span"
          variant="eyebrow">
          Tagline
        </Text>
        <Heading
          class="mt-4"
          level={1}
          variant="default">
          Introducing our team
        </Heading>
        <Text
          class="mt-4 lg:text-balance"
          tag="p"
          variant="body">
          Uniting talent with vision. Get to know the dedicated professionals
          who blend their skills and passion to lead us to new heights.
        </Text>
        <div
          class="flex text-center items-center gap-2 text-base-500 text-sm mt-12">
          <Text
            tag="span"
            variant="body">
            We are hiring
          </Text>
          <Text
            tag="a"
            href="#_"
            variant="link"
            class="flex items-center gap-2">
            See all our open roles
            <ChevronRight size="sm" />
          </Text>
        </div>
      </div>
      <ul
        role="list"
        class="grid grid-cols-1 sm:grid-cols-2 gap-12 lg:col-span-2">
        {
          teamMembers.map((member) => (
            <li>
              <div class="flex items-center gap-4">
                <img
                  class="object-cover rounded-full size-12 lg:size-16 "
                  src={member.imgSrc}
                  alt="#_"
                />
                <div>
                  <Heading
                    level={3}
                    variant="featureTitle">
                    {member.name}
                  </Heading>
                  <Text
                    tag="p"
                    variant="body">
                    {member.title}
                  </Text>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
