---
import Text from "@/components/fundations/typography/Text.astro";

import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <ul
      role="list"
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-12">
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-xl shadow aspect-[4/3]"
            src="/avatars/1.avif"
            alt="#_"
          />
          <div>
            <div class="flex items-center justify-between">
              <Text
                variant="textLG"
                tag="h3"
                class="text-base-900 font-medium">
                Michael Andreuzza
              </Text>
              <div class="flex items-center gap-2">
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <XBrand size="sm" />
                </Text>
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <LinkedinBrand size="sm" />
                </Text>
              </div>
            </div>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 text-base-500 font-medium">
              Creator of Oxbow UI.com
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="mt-4 text-base-500 font-medium">
              Michael is a visionary leader with over a decade of experience in
              creating dynamic and user-friendly websites.
            </Text>
          </div>
        </div>
      </li>
      <li
        class="lg:col-span-2 flex flex-col items-center justify-center lg:p-12 lg:bg-base-50 lg:rounded-3xl order-first lg:order-none">
        <div class="lg:text-balance text-center">
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-accent-600">
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displayMD"
            class="mt-4 font-semibold text-base-900 lg:text-balance">
            Introducing our team
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 text-base-500 font-medium">
            Uniting talent with vision. Get to know the dedicated professionals
            who blend their skills and passion to lead us to new heights.
          </Text>
          <div class="flex justify-center mt-8">
            <Text
              tag="a"
              href="#_"
              variant="textMD"
              class="text-accent-500 font-medium flex items-center gap-2 hover:text-base-900">
              Meet all our team
              <ChevronRight size="sm" />
            </Text>
          </div>
        </div>
      </li>
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-xl shadow aspect-[4/3]"
            src="/avatars/2.avif"
            alt="#_"
          />
          <div>
            <div class="flex items-center justify-between">
              <Text
                variant="textLG"
                tag="h3"
                class="text-base-900 font-medium">
                Juan Echanove
              </Text>
              <div class="flex items-center gap-2">
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <XBrand size="sm" />
                </Text>
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <LinkedinBrand size="sm" />
                </Text>
              </div>
            </div>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 text-base-500 font-medium">
              Founder of Pay Oneeer
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="mt-4 text-base-500 font-medium">
              Juan is the founder of Pay Oneeer, a leading fintech company and
              deep understanding of financial technology.
            </Text>
          </div>
        </div>
      </li>
      <li class="lg:col-span-2">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-xl shadow aspect-[4/3]"
            src="/avatars/3.avif"
            alt="#_"
          />
          <div>
            <div class="flex items-center justify-between">
              <Text
                variant="textLG"
                tag="h3"
                class="text-base-900 font-medium">
                Anna Muska
              </Text>
              <div class="flex items-center gap-2">
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <XBrand size="sm" />
                </Text>
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <LinkedinBrand size="sm" />
                </Text>
              </div>
            </div>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 text-base-500 font-medium">
              Founder of Fesla
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="mt-4 text-base-500 font-medium">
              Elona is a trailblazing entrepreneur and the founder of Fesla, an
              innovative company pushing the boundaries of technology and
              sustainability. She is committed to driving change and making a
              positive impact on the world.
            </Text>
          </div>
        </div>
      </li>
      <li class="lg:col-span-2">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-xl shadow aspect-[4/3]"
            src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80"
            alt="#_"
          />
          <div>
            <div class="flex items-center justify-between">
              <Text
                variant="textLG"
                tag="h3"
                class="text-base-900 font-medium">
                Elisabeth Something
              </Text>
              <div class="flex items-center gap-2">
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <XBrand size="sm" />
                </Text>
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <LinkedinBrand size="sm" />
                </Text>
              </div>
            </div>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 text-base-500 font-medium">
              COO at Pff Inc
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="mt-4 text-base-500 font-medium">
              Messina is the Chief Operating Officer at Pff Inc. With a keen eye
              for detail and exceptional organizational skills, she ensures the
              smooth and efficient operation of the company, driving growth and
              success.
            </Text>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
