---
import Text from "@/components/fundations/typography/Text.astro";

import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
---

<section class="bg-white dark:bg-black">
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <ul
      role="list"
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-12"
    >
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-xl shadow aspect-[4/3]"
            src="/avatars/1.jpg"
            alt="#_"
          />
          <div>
            <div class="flex items-center justify-between">
              <Text
                variant="textLG"
                tag="h3"
                class="font-medium text-zinc-900 dark:text-white"
              >
                Michael Andreuzza
              </Text>
              <div class="flex items-center gap-2">
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="font-medium hover:text-blue-500 text-zinc-500 dark:text-zinc-400 dark:hover:text-blue-400"
                >
                  <XBrand size="sm" />
                </Text>
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="font-medium hover:text-blue-500 text-zinc-500 dark:text-zinc-400 dark:hover:text-blue-400"
                >
                  <LinkedinBrand size="sm" />
                </Text>
              </div>
            </div>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
            >
              Creator of Oxbow UI.com
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
            >
              Michael is a visionary leader with over a decade of experience in
              creating dynamic and user-friendly websites.
            </Text>
          </div>
        </div>
      </li>
      <li
        class="flex flex-col items-center justify-center order-first lg:col-span-2 lg:p-12 lg:bg-zinc-50 dark:bg-zinc-900 lg:rounded-3xl lg:order-none"
      >
        <div class="text-center lg:text-balance">
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-blue-600 dark:text-blue-400"
          >
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displayMD"
            class="mt-4 font-semibold text-zinc-900 dark:text-white lg:text-balance"
          >
            Introducing our team
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Uniting talent with vision. Get to know the dedicated professionals
            who blend their skills and passion to lead us to new heights.
          </Text>
          <div class="flex justify-center mt-8">
            <Text
              tag="a"
              href="#_"
              variant="textBase"
              class="flex items-center font-medium text-blue-500 dark:text-blue-400 gap-2 hover:text-zinc-900 dark:hover:text-white"
            >
              Meet all our team
              <ChevronRight size="sm" />
            </Text>
          </div>
        </div>
      </li>
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-xl shadow aspect-[4/3]"
            src="/avatars/2.jpg"
            alt="#_"
          />
          <div>
            <div class="flex items-center justify-between">
              <Text variant="textLG" tag="h3" class="font-medium text-zinc-900">
                Juan Echanove
              </Text>
              <div class="flex items-center gap-2">
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="font-medium hover:text-blue-500 text-zinc-500"
                >
                  <XBrand size="sm" />
                </Text>
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="font-medium hover:text-blue-500 text-zinc-500"
                >
                  <LinkedinBrand size="sm" />
                </Text>
              </div>
            </div>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 font-medium text-zinc-500"
            >
              Founder of Pay Oneeer
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="mt-4 font-medium text-zinc-500"
            >
              Juan is the founder of Pay Oneeer, a leading fintech company and
              deep understanding of financial technology.
            </Text>
          </div>
        </div>
      </li>
      <li class="lg:col-span-2">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-xl shadow aspect-[4/3]"
            src="/avatars/3.jpg"
            alt="#_"
          />
          <div>
            <div class="flex items-center justify-between">
              <Text
                variant="textLG"
                tag="h3"
                class="font-medium text-zinc-900 dark:text-white"
              >
                Anna Muska
              </Text>
              <div class="flex items-center gap-2">
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="font-medium hover:text-blue-500 text-zinc-500 dark:text-zinc-400 dark:hover:text-blue-400"
                >
                  <XBrand size="sm" />
                </Text>
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="font-medium hover:text-blue-500 text-zinc-500 dark:text-zinc-400 dark:hover:text-blue-400"
                >
                  <LinkedinBrand size="sm" />
                </Text>
              </div>
            </div>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
            >
              Founder of Fesla
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
            >
              Elona is a trailblazing entrepreneur and the founder of Fesla, an
              innovative company pushing the boundaries of technology and
              sustainability. She is committed to driving change and making a
              positive impact on the world.
            </Text>
          </div>
        </div>
      </li>
      <li class="lg:col-span-2">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-xl shadow aspect-[4/3]"
            src="/avatars/4.jpg"
            alt="#_"
          />
          <div>
            <div class="flex items-center justify-between">
              <Text
                variant="textLG"
                tag="h3"
                class="font-medium text-zinc-900 dark:text-white"
              >
                Heidi Herrera
              </Text>
              <div class="flex items-center gap-2">
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="font-medium hover:text-blue-500 text-zinc-500 dark:text-zinc-400 dark:hover:text-blue-400"
                >
                  <XBrand size="sm" />
                </Text>
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="font-medium hover:text-blue-500 text-zinc-500 dark:text-zinc-400 dark:hover:text-blue-400"
                >
                  <LinkedinBrand size="sm" />
                </Text>
              </div>
            </div>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
            >
              COO at Pff Inc
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
            >
              Messina is the Chief Operating Officer at Pff Inc. With a keen eye
              for detail and exceptional organizational skills, she ensures the
              smooth and efficient operation of the company, driving growth and
              success.
            </Text>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
