---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
---
<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <ul
      role="list"
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-12">
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-xl shadow aspect-[4/3]"
            src="/avatars/1.avif"
            alt="#_"
          />
          <div>
            <div class="flex items-center justify-between">
              <Heading
                level={3}
                variant="featureTitle">
                Michael Andreuzza
              </Heading>
              <div class="flex items-center gap-2">
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <XBrand size="sm" />
                </Text>
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <LinkedinBrand size="sm" />
                </Text>
              </div>
            </div>
            <Text
              class="mt-2"
              tag="p"
              variant="small">
              Creator of Oxbow UI.com
            </Text>
            <Text
              class="mt-8"
              tag="p"
              variant="small">
              Michael is a visionary leader with over a decade of experience in
              creating dynamic and user-friendly websites.
            </Text>
          </div>
        </div>
      </li>
      <li
        class="lg:col-span-2 flex flex-col items-center justify-center lg:p-12 lg:bg-base-50 lg:rounded-3xl order-first lg:order-none">
        <div class="lg:text-balance text-center">
          <Text
            tag="span"
            variant="eyebrow">
            Tagline
          </Text>
          <Heading
            class="mt-4"
            level={1}
            variant="default">
            Introducing our team
          </Heading>
          <Text
            class="mt-4 lg:text-balance"
            tag="p"
            variant="body">
            Uniting talent with vision. Get to know the dedicated professionals
            who blend their skills and passion to lead us to new heights.
          </Text>
          <div class="flex justify-center mt-8">
            <Button
              variant="alternative"
              size="sm">
              Meet all our team
            </Button>
          </div>
        </div>
      </li>
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-xl shadow aspect-[4/3]"
            src="/avatars/2.avif"
            alt="#_"
          />
          <div>
            <div class="flex items-center justify-between">
              <Heading
                level={3}
                variant="featureTitle">
                Juan Echanove
              </Heading>
              <div class="flex items-center gap-2">
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <XBrand size="sm" />
                </Text>
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <LinkedinBrand size="sm" />
                </Text>
              </div>
            </div>
            <Text
              class="mt-2"
              tag="p"
              variant="small">
              Founder of Pay Oneeer
            </Text>
            <Text
              class="mt-8"
              tag="p"
              variant="small">
              Juan is the founder of Pay Oneeer, a leading fintech company and
              deep understanding of financial technology.
            </Text>
          </div>
        </div>
      </li>
      <li class="lg:col-span-2">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-xl shadow aspect-[4/3]"
            src="/avatars/3.avif"
            alt="#_"
          />
          <div>
            <div class="flex items-center justify-between">
              <Heading
                level={3}
                variant="featureTitle">
                Anna Muska
              </Heading>
              <div class="flex items-center gap-2">
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <XBrand size="sm" />
                </Text>
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <LinkedinBrand size="sm" />
                </Text>
              </div>
            </div>
            <Text
              class="mt-2"
              tag="p"
              variant="small">
              Founder of Fesla
            </Text>
            <Text
              class="mt-8"
              tag="p"
              variant="body">
              Elona is a trailblazing entrepreneur and the founder of Fesla, an
              innovative company pushing the boundaries of technology and
              sustainability. She is committed to driving change and making a
              positive impact on the world.
            </Text>
          </div>
        </div>
      </li>
      <li class="lg:col-span-2">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-xl shadow aspect-[4/3]"
            src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80"
            alt="#_"
          />
          <div>
            <div class="flex items-center justify-between">
              <Heading
                level={3}
                variant="featureTitle">
                Elisabeth Something
              </Heading>
              <div class="flex items-center gap-2">
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <XBrand size="sm" />
                </Text>
                <Text
                  tag="a"
                  href="#_"
                  variant="link">
                  <LinkedinBrand size="sm" />
                </Text>
              </div>
            </div>
            <Text
              class="mt-2"
              tag="p"
              variant="small">
              COO at Pff Inc
            </Text>
            <Text
              class="mt-8"
              tag="p"
              variant="body">
              Messina is the Chief Operating Officer at Pff Inc. With a keen eye
              for detail and exceptional organizational skills, she ensures the
              smooth and efficient operation of the company, driving growth and
              success.
            </Text>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
