---
import Text from "@/components/fundations/typography/Text.astro";

import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
const teamMembers = [
  {
    name: "Fernando Monte",
    title: "Creator of Oxbow UI.com",
    imgSrc: "/avatars/1.jpg",
    description:
      "Michael is a visionary leader with over a decade of experience in creating dynamic and user-friendly websites. As the Creator of Oxbow UI.com, he has a passion for innovation and excellence in web development.",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.jpg",
    description:
      "Juan is the founder of Pay Oneeer, a leading fintech company. He has a deep understanding of financial technology and is dedicated to making financial transactions more accessible and secure for everyone.",
  },
  {
    name: "Hanako Yamada",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.jpg",
    description:
      "Elona is a trailblazing entrepreneur and the founder of Fesla, an innovative company pushing the boundaries of technology and sustainability. She is committed to driving change and making a positive impact on the world.",
  },
  {
    name: "Heidi Herrera",
    title: "COO at Pff Inc",
    imgSrc: "/avatars/4.jpg",
    description:
      "Messina is the Chief Operating Officer at Pff Inc. With a keen eye for detail and exceptional organizational skills, she ensures the smooth and efficient operation of the company, driving growth and success.",
  },
];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="max-w-xl lg:text-balance">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-base-900 lg:text-balance"
      >
        Introducing our team
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 font-medium text-base-500">
        Uniting talent with vision. Get to know the dedicated professionals who
        blend their skills and passion to lead us to new heights.
      </Text>
    </div>
    <ul
      role="list"
      class="mt-12 grid grid-cols-1 sm:grid-cols-2 gap-12 lg:mt-24 lg:gap-y-24"
    >
      {
        teamMembers.map((member) => (
          <li>
            <div class="flex flex-col gap-10  lg:flex-row">
              <img
                class="aspect-[4/5] w-full lg:w-52 flex-none rounded-2xl object-cover"
                src={member.imgSrc}
                alt="#_"
              />
              <div>
                <div class="flex items-center justify-between">
                  <Text
                    variant="textLG"
                    tag="h3"
                    class="font-medium text-base-900"
                  >
                    {member.name}
                  </Text>

                  <div class="flex items-center  gap-2">
                    <Text
                      tag="a"
                      href="#_"
                      variant="textBase"
                      class="font-medium hover:text-accent-500 text-base-500"
                    >
                      <XBrand size="sm" />
                    </Text>
                    <Text
                      tag="a"
                      href="#_"
                      variant="textBase"
                      class="font-medium hover:text-accent-500 text-base-500"
                    >
                      <LinkedinBrand size="sm" />
                    </Text>
                  </div>
                </div>
                <Text
                  tag="p"
                  variant="textSM"
                  class="mt-2 font-medium text-base-500"
                >
                  {member.title}
                </Text>
                <Text
                  tag="p"
                  variant="textBase"
                  class="mt-4 font-medium text-base-500"
                >
                  {member.description}
                </Text>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
