---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-3 lg:items-end">
      <div class="lg:col-span-2">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-accent-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-base-900 lg:text-balance"
        >
          Introducing our team
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-base-500">
          Uniting talent with vision. Get to know the dedicated professionals
          who blend their skills and passion to lead us to new heights.
        </Text>
      </div>
      <div class="flex lg:ml-auto">
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="flex items-center font-medium text-accent-500 gap-2 hover:text-base-900"
        >
          See all our open roles
          <ChevronRight size="sm" />
        </Text>
      </div>
    </div>
    <ul
      role="list"
      class="mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 lg:mt-24"
    >
      <li
        class="flex flex-col justify-between lg:p-8 lg:bg-base-50 lg:rounded-3xl"
      >
        <div class="flex flex-col gap-8">
          <img
            class="object-cover aspect-[4/3] rounded-2xl"
            src="/avatars/1.jpg"
            alt="#_"
          />
          <div>
            <div class="flex items-center justify-between">
              <Text variant="textLG" tag="h3" class="font-medium text-base-900">
                Michael Andreuzza
              </Text>
              <div class="flex items-center gap-2">
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="font-medium hover:text-accent-500 text-base-500"
                >
                  <XBrand size="sm" />
                </Text>
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="font-medium hover:text-accent-500 text-base-500"
                >
                  <LinkedinBrand size="sm" />
                </Text>
              </div>
            </div>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 font-medium text-base-500"
            >
              Creator of Oxbow UI.com
            </Text>
          </div>
        </div>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-base-500">
          Michael is a visionary leader with over a decade of experience in
          creating dynamic and user-friendly websites. As the creator of
          oxbowui.com, he has a passion for innovation and excellence in web
          development.
        </Text>
      </li>
      <li
        class="flex flex-col justify-between lg:p-8 lg:bg-base-50 lg:rounded-3xl lg:col-span-2"
      >
        <div class="flex flex-col gap-8">
          <img
            class="object-cover aspect-[4/3] rounded-2xl"
            src="/avatars/2.jpg"
            alt="#_"
          />
          <div>
            <div class="flex items-center justify-between">
              <Text variant="textLG" tag="h3" class="font-medium text-base-900">
                Juan Echanove
              </Text>
              <div class="flex items-center gap-2">
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="font-medium hover:text-accent-500 text-base-500"
                >
                  <XBrand size="sm" />
                </Text>
                <Text
                  tag="a"
                  href="#_"
                  variant="textBase"
                  class="font-medium hover:text-accent-500 text-base-500"
                >
                  <LinkedinBrand size="sm" />
                </Text>
              </div>
            </div>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 font-medium text-base-500"
            >
              Founder of Pay Oneeer
            </Text>
          </div>
        </div>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-base-500">
          Juan is the founder of Pay Oneeer, a leading fintech company. He has a
          deep understanding of financial technology and is dedicated to making
          financial transactions more accessible and secure for everyone.
        </Text>
      </li>
    </ul>
  </div>
</section>
