---
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
---

<section class="bg-white dark:bg-black">
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <ul
      role="list"
      class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-6 gap-12 lg:gap-y-32"
    >
      <li class="lg:mt-24">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover mx-auto rounded-full size-16 lg:size-20"
            src="/avatars/1.jpg"
            alt="#_"
          />
        </div>
      </li>
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover mx-auto rounded-full size-16 lg:size-20"
            src="/avatars/2.jpg"
            alt="#_"
          />
        </div>
      </li>
      <li class="lg:mt-24">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover mx-auto rounded-full size-16 lg:size-20"
            src="/avatars/3.jpg"
            alt="#_"
          />
        </div>
      </li>
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover mx-auto rounded-full size-16 lg:size-20"
            src="/avatars/4.jpg"
            alt="#_"
          />
        </div>
      </li>
      <li class="lg:mt-24">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover mx-auto rounded-full size-16 lg:size-20"
            src="/avatars/5.jpg"
            alt="#_"
          />
        </div>
      </li>
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover mx-auto rounded-full size-16 lg:size-20"
            src="/avatars/6.jpg"
            alt="#_"
          />
        </div>
      </li>
      <div
        class="order-first py-12 col-span-full lg:order-none lg:text-balance lg:-mt-32"
      >
        <div
          class="grid grid-cols-1 gap-12 md:grid-cols-3 lg:items-end lg:bg-zinc-50 dark:bg-zinc-900 lg:rounded-3xl lg:p-8"
        >
          <div class="lg:col-span-2">
            <Text
              tag="p"
              variant="textSM"
              class="font-bold uppercase text-blue-600 dark:text-blue-400"
            >
              Tagline
            </Text>
            <Text
              tag="h2"
              variant="displayMD"
              class="mt-4 font-semibold text-zinc-900 dark:text-white lg:text-balance"
            >
              Introducing our team
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
            >
              Uniting talent with vision. Get to know the dedicated
              professionals who blend their skills and passion to lead us to new
              heights.
            </Text>
          </div>
          <div class="flex items-center gap-2 lg:ml-auto">
            <Text
              tag="span"
              variant="textBase"
              class="text-black dark:text-white"
            >
              We are hiring
            </Text>
            <Text
              tag="a"
              href="#_"
              variant="link"
              class="flex items-center gap-2 dark:text-blue-400 dark:hover:text-white"
            >
              See all our open roles
              <ChevronRight size="sm" />
            </Text>
          </div>
        </div>
      </div>
      <li class="lg:-mt-24">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover mx-auto rounded-full size-16 lg:size-20"
            src="/avatars/7.jpg"
            alt="#_"
          />
        </div>
      </li>
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover mx-auto rounded-full size-16 lg:size-20"
            src="/avatars/8.jpg"
            alt="#_"
          />
        </div>
      </li>
      <li class="lg:-mt-24">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover mx-auto rounded-full size-16 lg:size-20"
            src="/avatars/9.jpg"
            alt="#_"
          />
        </div>
      </li>
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover mx-auto rounded-full size-16 lg:size-20"
            src="/avatars/10.jpg"
            alt="#_"
          />
        </div>
      </li>
      <li class="lg:-mt-24">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover mx-auto rounded-full size-16 lg:size-20"
            src="/avatars/11.jpg"
            alt="#_"
          />
        </div>
      </li>
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover mx-auto rounded-full size-16 lg:size-20"
            src="/avatars/12.jpg"
            alt="#_"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
