<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <ul
      role="list"
      class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-6 gap-12 lg:gap-y-32">
      <li class="lg:mt-24">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-full size-16 lg:size-20 mx-auto"
            src="/avatars/1.avif"
            alt="#_"
          />
        </div>
      </li>
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-full size-16 lg:size-20 mx-auto"
            src="/avatars/2.avif"
            alt="#_"
          />
        </div>
      </li>
      <li class="lg:mt-24">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-full size-16 lg:size-20 mx-auto"
            src="/avatars/3.avif"
            alt="#_"
          />
        </div>
      </li>
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-full size-16 lg:size-20 mx-auto"
            src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80"
            alt="#_"
          />
        </div>
      </li>
      <li class="lg:mt-24">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-full size-16 lg:size-20 mx-auto"
            src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            alt="#_"
          />
        </div>
      </li>
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-full size-16 lg:size-20 mx-auto"
            src="https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGhlYWQlMjBwZXJzb258ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60"
            alt="#_"
          />
        </div>
      </li>
      <div
        class="col-span-full order-first lg:order-none lg:text-balance lg:-mt-32 py-12">
        <div class="grid grid-cols-1 gap-12 md:grid-cols-3 lg:items-end lg:bg-base-50 lg:rounded-3xl lg:p-8">
          <div class="lg:col-span-2">
            <span
              class="font-mono text-xs font-medium tracking-tight text-accent-600 uppercase">
              tagline</span
            >
            <h1
              class="text-4xl mt-4 font-semibold tracking-tight text-base-900">
              Introducing our team
            </h1>
            <p class="mt-6 text-base font-medium text-base-500 max-w-xl">
              Uniting talent with vision. Get to know the dedicated
              professionals who blend their skills and passion to lead us to new
              heights.
            </p>
          </div>
          <div
            class="flex  items-center gap-2 text-base-500 text-sm lg:ml-auto">
            We are hiring:
            <a
              href="#_"
              aria-label="Action"
              class="text-accent-500 hover:text-base-900 text-sm font-medium duration-300 flex items-center gap-2">
              See all our open roles
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right">
                <path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path>
                <path d="M9 6l6 6l-6 6"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <li class="lg:-mt-24">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-full size-16 lg:size-20 mx-auto"
            src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
            alt="#_"
          />
        </div>
      </li>
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-full size-16 lg:size-20 mx-auto"
            src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
            alt="#_"
          />
        </div>
      </li>
      <li class="lg:-mt-24">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-full size-16 lg:size-20 mx-auto"
            src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
            alt="#_"
          />
        </div>
      </li>
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-full size-16 lg:size-20 mx-auto"
            src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
            alt="#_"
          />
        </div>
      </li>
      <li class="lg:-mt-24">
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-full size-16 lg:size-20 mx-auto"
            src="https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
            alt="#_"
          />
        </div>
      </li>
      <li>
        <div class="flex flex-col gap-4">
          <img
            class="object-cover rounded-full size-16 lg:size-20 mx-auto"
            src="https://images.unsplash.com/photo-1523958203904-cdcb402031fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
            alt="#_"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
