---
import Text from "@/components/fundations/typography/Text.astro";

import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
const teamMembers = [
  {
    name: "Fernando Monte",
    title: "Creator of Oxbow UI.com",
    imgSrc: "/avatars/1.jpg",
    description:
      "Michael is a visionary leader with over a decade of experience in creating dynamic and user-friendly websites. As the Creator of Oxbow UI.com, he has a passion for innovation and excellence in web development.",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.jpg",
    description:
      "Juan is the founder of Pay Oneeer, a leading fintech company. He has a deep understanding of financial technology and is dedicated to making financial transactions more accessible and secure for everyone.",
  },
  {
    name: "Hanako Yamada",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.jpg",
    description:
      "Elona is a trailblazing entrepreneur and the founder of Fesla, an innovative company pushing the boundaries of technology and sustainability. She is committed to driving change and making a positive impact on the world.",
  },
  {
    name: "Heidi Herrera",
    title: "COO at Pff Inc",
    imgSrc: "/avatars/4.jpg",
    description:
      "Messina is the Chief Operating Officer at Pff Inc. With a keen eye for detail and exceptional organizational skills, she ensures the smooth and efficient operation of the company, driving growth and success.",
  },
  {
    name: "Sara Johnson",
    title: "Lead Developer",
    imgSrc: "/avatars/5.jpg",
    description:
      "Sara is the lead developer with extensive expertise in software engineering. She is passionate about coding and loves to solve complex problems, leading her team to create high-quality software solutions.",
  },
  {
    name: "Sandra Kimmel",
    title: "Marketing Director",
    imgSrc: "/avatars/6.jpg",
    description:
      "David is the Marketing Director with a flair for creativity and strategic thinking. He excels in developing innovative marketing campaigns that enhance brand awareness and drive business growth.",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-base-900 lg:text-balance"
      >
        Introducing our team
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
        Uniting talent with vision. Get to know the dedicated professionals who
        blend their skills and passion to lead us to new heights.
      </Text>
    </div>
    <ul
      role="list"
      class="mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-12 lg:gap-px lg:bg-base-200 lg:mt-24"
    >
      {
        teamMembers.map((member) => (
          <li class="bg-white lg:hover:bg-base-50 lg:hover:scale-125 lg:hover:rounded-3xl lg:duration-300 lg:hover:shadow lg:p-8 flex flex-col justify-between">
            <div>
              <div class="flex items-center  gap-4">
                <img
                  class="object-cover rounded-full size-12 lg:size-16"
                  src={member.imgSrc}
                  alt="#_"
                />
                <div>
                  <Text
                    variant="textLG"
                    tag="h3"
                    class="text-base-900 font-medium"
                  >
                    {member.name}
                  </Text>
                  <Text
                    tag="p"
                    variant="textSM"
                    class="mt-2 text-base-500 font-medium"
                  >
                    {member.title}
                  </Text>
                </div>
              </div>
              <Text
                tag="p"
                variant="textBase"
                class="mt-4 text-base-500 font-medium"
              >
                {member.description}
              </Text>
            </div>
            <div class="mt-4 flex items-center gap-2 ">
              <Text
                tag="a"
                href="#_"
                variant="textBase"
                class="hover:text-accent-500 font-medium text-base-500"
              >
                <XBrand size="sm" />
              </Text>
              <Text
                tag="a"
                href="#_"
                variant="textBase"
                class="hover:text-accent-500 font-medium text-base-500"
              >
                <LinkedinBrand size="sm" />
              </Text>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
