---
import Text from "@/components/fundations/typography/Text.astro";

import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
const teamMembers = [
  {
    name: "Mike Vega",
    title: "Creator of Oxbow UI.com",
    imgSrc: "/avatars/1.avif",
    description:
      "Michael is a visionary leader with over a decade of experience in creating dynamic and user-friendly websites. As the Creator of Oxbow UI.com, he has a passion for innovation and excellence in web development.",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.avif",
    description:
      "Juan is the founder of Pay Oneeer, a leading fintech company. He has a deep understanding of financial technology and is dedicated to making financial transactions more accessible and secure for everyone.",
  },
  {
    name: "Elona Muska",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.avif",
    description:
      "Elona is a trailblazing entrepreneur and the founder of Fesla, an innovative company pushing the boundaries of technology and sustainability. She is committed to driving change and making a positive impact on the world.",
  },
  {
    name: "Messina Lionel",
    title: "COO at Pff Inc",
    imgSrc:
      "https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80",
    description:
      "Messina is the Chief Operating Officer at Pff Inc. With a keen eye for detail and exceptional organizational skills, she ensures the smooth and efficient operation of the company, driving growth and success.",
  },
  {
    name: "Sara Johnson",
    title: "Lead Developer",
    imgSrc:
      "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
    description:
      "Sara is the lead developer with extensive expertise in software engineering. She is passionate about coding and loves to solve complex problems, leading her team to create high-quality software solutions.",
  },
  {
    name: "David Kim",
    title: "Marketing Director",
    imgSrc:
      "https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGhlYWQlMjBwZXJzb258ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60",
    description:
      "David is the Marketing Director with a flair for creativity and strategic thinking. He excels in developing innovative marketing campaigns that enhance brand awareness and drive business growth.",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-base-900 lg:text-balance">
        Introducing our team
      </Text>
       <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-base-500 font-medium">
        Uniting talent with vision. Get to know the dedicated professionals who
        blend their skills and passion to lead us to new heights.
      </Text>
    </div>
    <ul
      role="list"
      class="mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-12 lg:gap-px lg:bg-base-200 lg:mt-24">
      {
        teamMembers.map((member) => (
          <li class="bg-white lg:hover:bg-base-50 lg:hover:scale-125 lg:hover:rounded-3xl lg:duration-300 lg:hover:shadow lg:p-8 flex flex-col justify-between">
            <div>
              <div class="flex items-center  gap-4">
                <img
                  class="object-cover rounded-full size-12 lg:size-16"
                  src={member.imgSrc}
                  alt="#_"
                />
                <div>
                  <Text
                    variant="textLG"
                    tag="h3"
                    class="text-base-900 font-medium">
                    {member.name}
                  </Text>
                  <Text
                    tag="p"
                    variant="textSM"
                    class="mt-2 text-base-500 font-medium">
                    {member.title}
                  </Text>
                </div>
              </div>
              <Text
                tag="p"
                variant="textBase"
                class="mt-4 text-base-500 font-medium">
                {member.description}
              </Text>
            </div>
            <div class="mt-4 flex items-center gap-2 ">
              <Text
                tag="a"
                href="#_"
                variant="link">
                <XBrand size="sm" />
              </Text>
              <Text
                tag="a"
                href="#_"
                variant="link">
                <LinkedinBrand size="sm" />
              </Text>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
