---
import Text from "@/components/fundations/typography/Text.astro";

import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
const teamMembers = [
  {
    name: "Fernando Monte",
    title: "Founder of Oxbow UI",
    imgSrc: "/avatars/1.jpg",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.jpg",
  },
  {
    name: "Hanako Yamada",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.jpg",
  },
  {
    name: "Heidi Herrera",
    title: "COO at Pff Inc",
    imgSrc: "/avatars/4.jpg",
  },
  {
    name: "Sara Johnson",
    title: "Lead Developer",
    imgSrc: "/avatars/5.jpg",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="relative px-8 mx-auto md:px-12 lg:px-32 max-w-7xl py-24">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-3 lg:items-end">
      <div class="lg:col-span-2">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-blue-600 dark:text-blue-400"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-zinc-900 dark:text-white lg:text-balance"
        >
          Introducing our team
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
        >
          Uniting talent with vision. Get to know the dedicated professionals
          who blend their skills and passion to lead us to new heights.
        </Text>
      </div>
      <div class="flex lg:ml-auto">
        <Text
          tag="a"
          href="#_"
          variant="textBase"
          class="flex items-center font-medium text-blue-500 dark:text-blue-400 gap-2 hover:text-zinc-900 dark:hover:text-white"
        >
          See all our open roles
          <ChevronRight size="sm" />
        </Text>
      </div>
    </div>
    <ul
      role="list"
      class="mt-12 grid grid-cols-1 sm:grid-cols-2 lg:bg-zinc-50 dark:bg-zinc-900 lg:rounded-3xl lg:p-8 md:grid-cols-5 gap-6 lg:mt-24"
    >
      {
        teamMembers.map((member) => (
          <>
            <li class="relative flex flex-col justify-between flex-auto overflow-hidden rounded-2xl hover:-translate-y-24 hover:shadow duration-300">
              <img
                src={member.imgSrc}
                alt="#_"
                class="relative object-cover h-full  rounded-2xl"
              />
              <div class="absolute inset-0 opacity-0 hover:opacity-100 transition-opacity duration-300 hover:bg-blue-700 dark:hover:bg-blue-900 hover:ring-1 hover:ring-zinc-200 dark:hover:ring-zinc-800 rounded-2xl">
                <div class="flex flex-col justify-end h-full ">
                  <div class="p-4">
                    <Text
                      variant="textBase"
                      tag="h3"
                      class="font-medium text-white dark:text-zinc-900"
                    >
                      {member.name}
                    </Text>
                    <Text
                      tag="p"
                      variant="textSM"
                      class="mt-2 font-medium text-zinc-200 dark:text-zinc-400"
                    >
                      {member.title}
                    </Text>
                  </div>
                  <div class="flex items-center p-4 border-t gap-2 border-white/20 dark:border-zinc-800">
                    <Text
                      tag="a"
                      href="#_"
                      variant="textBase"
                      class="font-medium text-white dark:text-zinc-400 hover:text-blue-200 dark:hover:text-blue-400"
                    >
                      <XBrand size="sm" />
                    </Text>
                    <Text
                      tag="a"
                      href="#_"
                      variant="textBase"
                      class="font-medium text-white dark:text-zinc-400 hover:text-blue-200 dark:hover:text-blue-400"
                    >
                      <LinkedinBrand size="sm" />
                    </Text>
                  </div>
                </div>
              </div>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</section>
