---
import Text from "@/components/fundations/typography/Text.astro";

import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import XBrand from "@/components/fundations/icons/XBrand.astro";
import LinkedinBrand from "@/components/fundations/icons/LinkedinBrand.astro";
const teamMembers = [
  {
    name: "Fernando Monte",
    title: "Founder of Oxbow UI",
    imgSrc: "/avatars/1.jpg",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    imgSrc: "/avatars/2.jpg",
  },
  {
    name: "Hanako Yamada",
    title: "Founder of Fesla",
    imgSrc: "/avatars/3.jpg",
  },
  {
    name: "Heidi Herrera",
    title: "COO at Pff Inc",
    imgSrc: "/avatars/4.jpg",
  },
  {
    name: "Sara Johnson",
    title: "Lead Developer",
    imgSrc: "/avatars/5.jpg",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-3 lg:items-end">
      <div class="lg:col-span-2">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-accent-600">
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-base-900 lg:text-balance">
          Introducing our team
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-base-500 font-medium">
          Uniting talent with vision. Get to know the dedicated professionals
          who blend their skills and passion to lead us to new heights.
        </Text>
      </div>
      <div class="flex lg:ml-auto">
        <Text
          tag="a"
          href="#_"
          variant="textMD"
          class="text-accent-500 font-medium flex items-center gap-2 hover:text-base-900">
          See all our open roles
          <ChevronRight size="sm" />
        </Text>
      </div>
    </div>
    <ul
      role="list"
      class="mt-12 grid grid-cols-1 sm:grid-cols-2 lg:bg-base-50 lg:rounded-3xl lg:p-8 md:grid-cols-5 gap-6 lg:mt-24">
      {
        teamMembers.map((member) => (
          <>
            <li class="flex flex-auto flex-col justify-between relative rounded-2xl overflow-hidden hover:-translate-y-24 hover:shadow duration-300">
              <img
                src={member.imgSrc}
                alt="#_"
                class="h-full object-cover  relative rounded-2xl"
              />
              <div class=" absolute inset-0 opacity-0 hover:opacity-100 transition-opacity  duration-300 hover:bg-accent-700  hover:ring-1 hover:ring-base-200 rounded-2xl">
                <div class="flex flex-col h-full justify-end ">
                  <div class="p-4">
                    <Text
                      variant="textMD"
                      tag="h3"
                      class="text-white font-medium">
                      {member.name}
                    </Text>
                    <Text
                      tag="p"
                      variant="textSM"
                      class="mt-2 text-base-200 font-medium">
                      {member.title}
                    </Text>
                  </div>
                  <div class=" flex items-center gap-2 p-4 border-t border-white/20">
                    <Text
                      tag="a"
                      href="#_"
                      variant="textMD"
                      class="hover:text-accent-200 font-medium text-white">
                      <XBrand size="sm" />
                    </Text>
                    <Text
                      tag="a"
                      href="#_"
                      variant="textMD"
                      class="hover:text-accent-200 font-medium text-white">
                      <LinkedinBrand size="sm" />
                    </Text>
                  </div>
                </div>
              </div>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</section>
