<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <div
      class="grid w-full grid-cols-2 items-center justify-center md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-12">
      <img
        class="aspect-[2/1] overflow-hidden mx-auto rounded-lg object-contain object-center"
        src="/brands/1.svg"
        alt="#_"
        width="120"
        height="60"
      />

      <img
        class="aspect-[2/1] overflow-hidden mx-auto rounded-lg object-contain object-center"
        src="/brands/2.svg"
        alt="#_"
        width="120"
        height="60"
      />

      <img
        class="aspect-[2/1] overflow-hidden mx-auto rounded-lg object-contain object-center"
        src="/brands/3.svg"
        alt="#_"
        width="120"
        height="60"
      />

      <img
        class="aspect-[2/1] overflow-hidden mx-auto rounded-lg object-contain object-center"
        src="/brands/4.svg"
        alt="#_"
        width="120"
        height="60"
      />

      <img
        class="aspect-[2/1] overflow-hidden mx-auto rounded-lg object-contain object-center"
        src="/brands/5.svg"
        alt="#_"
        width="120"
        height="60"
      />

      <img
        class="aspect-[2/1] overflow-hidden mx-auto rounded-lg object-contain object-center"
        src="/brands/6.svg"
        alt="#_"
        width="120"
        height="60"
      />
      <div class="col-span-full lg:col-span-3 text-center p-8 lg:p-20">
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
          >Your tagline</span
        >
        <h1 class="text-3xl mt-4 font-semibold tracking-tight text-gray-900">
          Come build with us and help revolutionize financing
        </h1>
        <p class="mt-6 text-base font-medium text-gray-500 md:text-balance">
          Trusted by industry leaders and our families because we pay them
        </p>
      </div>

      <img
        class="aspect-[2/1] overflow-hidden mx-auto rounded-lg object-contain object-center"
        src="/brands/7.svg"
        alt="#_"
        width="120"
        height="60"
      />

      <img
        class="aspect-[2/1] overflow-hidden mx-auto rounded-lg object-contain object-center"
        src="/brands/8.svg"
        alt="#_"
        width="120"
        height="60"
      />

      <img
        class="aspect-[2/1] overflow-hidden mx-auto rounded-lg object-contain object-center"
        src="/brands/9.svg"
        alt="#_"
        width="120"
        height="60"
      />

      <img
        class="aspect-[2/1] overflow-hidden mx-auto rounded-lg object-contain object-center"
        src="/brands/10.svg"
        alt="#_"
        width="120"
        height="60"
      /><img
        class="aspect-[2/1] overflow-hidden mx-auto rounded-lg object-contain object-center"
        src="/brands/11.svg"
        alt="#_"
        width="120"
        height="60"
      />
      <img
        class="aspect-[2/1] overflow-hidden mx-auto rounded-lg object-contain object-center"
        src="/brands/12.svg"
        alt="#_"
        width="120"
        height="60"
      />
    </div>
  </div>
</section>
