---
const logos = [
  {
    src: "/brands/1.svg",
  },
  {
    src: "/brands/2.svg",
  },
  {
    src: "/brands/3.svg",
  },
  {
    src: "/brands/4.svg",
  },
  {
    src: "/brands/5.svg",
  },
  {
    src: "/brands/6.svg",
  },
  {
    src: "/brands/7.svg",
  },
  { src: "/brands/8.svg" },
  { src: "/brands/9.svg" },
  { src: "/brands/10.svg" },
  { src: "/brands/11.svg" },
  { src: "/brands/12.svg" },
  { src: "/brands/13.svg" },
  { src: "/brands/14.svg" },
  { src: "/brands/15.svg" },
  { src: "/brands/16.svg" },
  { src: "/brands/17.svg" },
  { src: "/brands/18.svg" },
  { src: "/brands/19.svg" },
  { src: "/brands/20.svg" },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="mx-auto grid w-full max-w-xl items-center grid-cols-3 sm:grid-cols-5 gap-12 lg:max-w-none lg:pl-8 col-span-full">
      {
        logos.map((logo) => (
          <img
            class="max-h-8 w-full object-contain object-left mx-auto"
            src={logo.src}
            alt="#_"
            width="105"
            height="48"
          />
        ))
      }
    </div>
    <div class="text-center mt-10 pt-10">
      <span
        class="tracking-tight text-lg font-medium  text-gray-900"
        >Your tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 sm:text-balance">
        Our customers
      </h1>
      <p class="mt-6 text-base font-medium text-gray-500 sm:text-balance">
        Let's build something great together — we're ready to help.
      </p>
    </div>
  </div>
</section>
