---
const logos = [
  {
    src: "/brandsLight/1.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 lg:col-span-1",
  },
  {
    src: "/brandsLight/2.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 lg:col-span-1",
  },
  {
    src: "/brandsLight/9.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 lg:col-span-1",
  },
  {
    src: "/brandsLight/4.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 sm:col-start-2 lg:col-span-1",
  },
  {
    src: "/brandsLight/5.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 col-start-2 sm:col-start-auto lg:col-span-1",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
    <div
      class="mx-auto p-10 lg:p-20 rounded-3xl bg-gradient-to-b from-blue-500 to-indigo-600 shadow shadow-blue-500">
      <div
        class="mx-auto grid max-w-lg grid-cols-4 items-center  gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
        {
          logos.map((logo) => (
            <img
              class={`${logo.colSpan} max-h-12 w-full object-contain `}
              src={logo.src}
              alt="#_"
              width={logo.width}
              height={logo.height}
            />
          ))
        }
      </div>

    </div>
  </div>
</section>
