---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import MainHero from "@/components/fundations/containers/MainHero.astro";
// Sections
import Cta from "@/components/global/Cta.astro";
// Widgets
import Grid from "@/components/tools/widgets/Grid.astro";
import Gradients from "@/components/tools/widgets/Gradients.astro";
---

<BaseLayout>
  <MainHero
    showAlpineTailwind={false}
    title="Practical tools built with Tailwind CSS"
    subtitle="Just two for now—carefully made to be useful, not just fill space."
  />

  <section class="border-t border-base-200">
    <Wrapper variant="standard" class="lg:border-x lg:border-base-200">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
        <div
          class="relative flex flex-col justify-start h-full p-6 overflow-hidden bg-white gap-4 rounded-xl shadow-oxbow sm:p-4 sm:pb-5 lg:p-6 group"
        >
          <a
            class="absolute inset-0 z-10"
            href="/free-tools/tailwind-css-grid-generator"></a>
          <div>
            <Text tag="h3" variant="textBase" class="font-medium text-base-900">
              Tailwind CSS Grid Generator
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 text-base-500 text-balance"
            >
              Quickly create responsive grid layouts. Choose your columns,
              adjust spacing, and copy the classes—no trial and error.
            </Text>
          </div>

          <div class="relative mt-auto">
            <Grid />
          </div>
        </div>
        <div
          class="relative flex flex-col justify-start h-full p-6 overflow-hidden bg-white gap-4 rounded-xl shadow-oxbow sm:p-4 sm:pb-5 lg:p-6 group"
        >
          <a
            class="absolute inset-0 z-10"
            href="/free-tools/tailwind-css-grid-generator"></a>
          <div>
            <Text tag="h3" variant="textBase" class="font-medium text-base-900">
              Tailwind CSS Gradient Generator
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="mt-2 text-base-500 text-balance"
            >
              Create smooth, custom gradients in seconds. Choose your colors,
              set the direction, and get the utility classes instantly.
            </Text>
          </div>

          <div class="relative mt-auto">
            <Gradients />
          </div>
        </div>
      </div>
    </Wrapper>
  </section>
  <Cta />
</BaseLayout>
