---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import MainHero from "@/components/fundations/containers/MainHero.astro";
// Components
import CtaTools from "@/components/global/CtaTools.astro";
import Cta from "@/components/global/Cta.astro";
// Tool
import GradientGenerator from "@/components/tools/GradientGenerator.tsx";
---

<BaseLayout>
  <MainHero
    showAlpineTailwind={false}
    title="Tailwind Gradient Generator"
    subtitle="Generate Tailwind CSS gradients"
  />
  <CtaTools />
  <section class="border-t border-base-200">
    <Wrapper variant="standard" class="lg:border-x lg:border-base-200">
      <GradientGenerator client:only="react" />
    </Wrapper>
  </section>
  <Cta />
</BaseLayout>
