---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import MainHero from "@/components/fundations/containers/MainHero.astro";
// Components
import CtaTools from "@/components/global/CtaTools.astro";
import Cta from "@/components/global/Cta.astro";
// Tools
import GridGenerator from "@/components/tools/GridGenerator.tsx";
---

<BaseLayout>
  <MainHero
    showAlpineTailwind={false}
    title="Tailwind Grid Generator"
    subtitle="Generate Tailwind CSS grids"
  />
  <CtaTools />
  <section class="border-t border-base-200">
    <Wrapper variant="standard" class="lg:border-x lg:border-base-200">
      <GridGenerator client:only="react" /></Wrapper
    >
  </section>
  <Cta />
</BaseLayout>
