---
import { AstroSeo } from "@astrolib/seo";
import Cta from "@/components/global/Cta.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import GridGenerator from "@/components/tools/GridGenerator.tsx";
import MainHero from "@/components/fundations/containers/MainHero.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <MainHero
    showAlpineTailwind={false}
    title="Tailwind Grid Generator"
    subtitle="Generate Tailwind CSS grids"
  />
  <section>
    <Wrapper variant="standard"> <GridGenerator client:only="react" /></Wrapper>
  </section>
  <Cta />
</BaseLayout>
