---
import { AstroSeo } from "@astrolib/seo";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import MainHero from "@/components/fundations/containers/MainHero.astro";
// Components
import CtaTools from "@/components/global/CtaTools.astro";
import Cta from "@/components/global/Cta.astro";
// Tool
import GradientGenerator from "@/components/tools/GradientGenerator.tsx";
---

<AstroSeo
  title="Oxbow UI - Tailwind CSs Gradient Generator "
  description="Easily create stunning gradients with Tailwind CSS using our Gradient Generator. Customize your gradient's colors, direction, and opacity, then instantly generate the corresponding Tailwind utility classes. Perfect for adding depth and vibrancy to your designs, this tool helps you quickly produce gradients that are fully responsive and ready to use in your Tailwind-powered projects. Save time and enhance your designs with beautiful, customizable gradients."
  canonical="https://www.oxbowui.com/free-tools/tailwind-gradient-generator"
  openGraph={{
    url: "https://www.oxbowui.com/images/OpenGraph/twitter.png",
    title: "Oxbow UI - Tailwind CSs Gradient Generator",
    description: "",
    images: [
      {
        url: "https://www.oxbowui.com/images/OpenGraph/facebook.png",
        width: 1200,
        height: 630,
        alt: "oxbow",
        type: "image/png",
      },
      {
        url: "https://www.oxbowui.com/images/OpenGraph/twitter.png",
        width: 4096,
        height: 4096,
        alt: "oxbow",
        type: "image/png",
      },
      { url: "https://www.oxbowui.com/images/OpenGraph/facebook.ong" },
      { url: "https://www.oxbowui.com/images/OpenGraph/twitter.png" },
    ],
    site_name: "oxbow",
  }}
  twitter={{
    handle: "@Mike_Andreuzza",
    site: "https://www.oxbowui.com",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <MainHero
    showAlpineTailwind={false}
    title="Tailwind Gradient Generator"
    subtitle="Generate Tailwind CSS gradients"
  />
  <CtaTools />
  <section class="border-t border-base-200">
    <Wrapper variant="standard" class="lg:border-x lg:border-base-200">
      <GradientGenerator client:only="react" />
    </Wrapper>
  </section>
  <Cta />
</BaseLayout>
