---
export const freeComponent = true;
import HorizontalButtonGroup from "@/components/fundations/buttonGroups/HorizontalButtonGroup.astro";
---

<section>
  <div class="flex justify-center p-12 mx-auto ">
    <!-- copy:start -->
    <span class="inline-flex isolate">
      <HorizontalButtonGroup
        variant="default"
        position="right"
        size="base">
        Left
      </HorizontalButtonGroup>
      <HorizontalButtonGroup
        variant="default"
        position="middle"
        size="base">
        Center
      </HorizontalButtonGroup>
      <HorizontalButtonGroup
        position="left"
        variant="default"
        size="base">
        right
      </HorizontalButtonGroup>
    </span>
    <!-- copy:end -->
  </div>
</section>
