---
import VerticalButtonGroup from "@/components/fundations/buttonGroups/VerticalButtonGroup.astro";
---

<section
  class="flex flex-wrap items-center justify-center h-full bg-white gap-2 p-18 dark:bg-zinc-900"
>
  <!-- copy:start -->
  <span class="flex flex-col isolate">
    <VerticalButtonGroup variant="default" position="top" size="base">
      Top
    </VerticalButtonGroup>
    <VerticalButtonGroup variant="default" position="middle" size="base">
      Center
    </VerticalButtonGroup>
    <VerticalButtonGroup position="bottom" variant="default" size="base">
      Middle
    </VerticalButtonGroup>
  </span>
  <!-- copy:end -->
</section>
