---
import VerticalButtonGroup from "@/components/fundations/buttonGroups/VerticalButtonGroup.astro";
---

<section>
  <div class="flex justify-center p-12 mx-auto">
    <span class="flex flex-col isolate">
      <VerticalButtonGroup
        variant="default"
        position="top"
        size="base">
        Top
      </VerticalButtonGroup>
      <VerticalButtonGroup
        variant="default"
        position="middle"
        size="base">
        Center
      </VerticalButtonGroup>
      <VerticalButtonGroup
        position="bottom"
        variant="default"
        size="base">
        Middle
      </VerticalButtonGroup>
    </span>
  </div>
</section>
