---
import HorizontalButtonGroup from "@/components/fundations/buttonGroups/HorizontalButtonGroup.astro";
import ChevronLeft from "@/components/fundations/icons/ChevronLeft.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
---
<section>
  <div class="flex justify-center p-12 mx-auto">
    <!-- copy:start -->
    <span class="inline-flex isolate">
      <HorizontalButtonGroup
        variant="default"
        position="right"
        size="base">
        <ChevronLeft
          size="base"
          slot="left-icon"
        />
      </HorizontalButtonGroup>
      <HorizontalButtonGroup
        position="left"
        variant="default"
        size="base">
        <ChevronRight
          size="base"
          slot="right-icon"
        />
      </HorizontalButtonGroup>
    </span>
    <!-- copy:end -->
  </div>
</section>
