---
import HorizontalButtonGroup from "@/components/fundations/buttonGroups/HorizontalButtonGroup.astro";
import ChevronLeft from "@/components/fundations/icons/ChevronLeft.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
---

<section
  class="flex items-center flex-wrap gap-2 justify-center p-18 bg-white dark:bg-zinc-900 h-full"
>
  <!-- copy:start -->
  <span class="inline-flex isolate">
    <HorizontalButtonGroup variant="default" position="right" size="base">
      <ChevronLeft size="base" slot="left-icon" />
    </HorizontalButtonGroup>
    <HorizontalButtonGroup position="left" variant="default" size="base">
      <ChevronRight size="base" slot="right-icon" />
    </HorizontalButtonGroup>
  </span>
  <!-- copy:end -->
</section>
