---
import VerticalButtonGroup from "@/components/fundations/buttonGroups/VerticalButtonGroup.astro";
import ChevronUp from "@/components/fundations/icons/ChevronUp.astro";
import ChevronDown from "@/components/fundations/icons/ChevronDown.astro";
---

<section>
  <div class="flex justify-center p-12 mx-auto">
    <!-- copy:start -->
    <span class="flex flex-col isolate">
      <VerticalButtonGroup
        variant="default"
        position="top"
        size="base">
        <ChevronUp
          size="base"
          slot="icon"
          slot="up-icon"
        />
      </VerticalButtonGroup>

      <VerticalButtonGroup
        position="bottom"
        variant="default"
        size="base">
        <ChevronDown
          size="base"
          slot="icon"
          slot="down-icon"
        />
      </VerticalButtonGroup>
    </span>
    <!-- copy:end -->
  </div>
</section>
