---
import VerticalButtonGroup from "@/components/fundations/buttonGroups/VerticalButtonGroup.astro";
import ChevronUp from "@/components/fundations/icons/ChevronUp.astro";
import ChevronDown from "@/components/fundations/icons/ChevronDown.astro";
---

<section
  class="flex items-center flex-wrap gap-2 justify-center p-8 bg-white dark:bg-black h-full"
>
  <!-- copy:start -->
  <span class="flex flex-col isolate">
    <VerticalButtonGroup
      variant="default"
      position="top"
      size="base">
      <ChevronUp
        size="base"
        slot="icon"
        slot="up-icon"
      />
    </VerticalButtonGroup>

    <VerticalButtonGroup
      position="bottom"
      variant="default"
      size="base">
      <ChevronDown
        size="base"
        slot="icon"
        slot="down-icon"
      />
    </VerticalButtonGroup>
  </span>
  <!-- copy:end -->
</section>

