---
import HorizontalButtonGroup from "@/components/fundations/buttonGroups/HorizontalButtonGroup.astro";
import ExternalLink from "@/components/fundations/icons/ExternalLink.astro";
---

<section>
  <div class="flex justify-center p-12 mx-auto">
    <!-- copy:start -->
    <span class="inline-flex isolate">
      <HorizontalButtonGroup
        variant="default"
        position="right"
        size="base">
        Live preview
      </HorizontalButtonGroup>

      <HorizontalButtonGroup
        position="left"
        variant="default"
        size="base"
        slot="centered">
        <ExternalLink
          size="base"
          slot="centered-icon"
        />
      </HorizontalButtonGroup>
    </span>
    <!-- copy:end -->
  </div>
</section>
