---
import HorizontalButtonGroup from "@/components/fundations/buttonGroups/HorizontalButtonGroup.astro";
import ExternalLink from "@/components/fundations/icons/ExternalLink.astro";
---

<section
  class="flex items-center flex-wrap gap-2 justify-center p-18 bg-white dark:bg-zinc-900 h-full"
>
  <!-- copy:start -->
  <span class="inline-flex isolate">
    <HorizontalButtonGroup variant="default" position="right" size="base">
      Live preview
    </HorizontalButtonGroup>

    <HorizontalButtonGroup
      position="left"
      variant="default"
      size="base"
      slot="centered"
    >
      <ExternalLink size="base" slot="centered-icon" />
    </HorizontalButtonGroup>
  </span>
  <!-- copy:end -->
</section>
