---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex items-center gap-x-2">
  <div
    aria-hidden="true"
    class="pointer-events-none size-3 bg-base-900 rounded-full"
  >
  </div>
  <Text tag="p" variant="textXS" class="font-mono uppercase text-base-900">
    <slot />
  </Text>
</div>
