---
const {
  variant,
  size,
  onlyIconSize,
  gap,
  class: className,
  ...rest
} = Astro.props;
// Default button
const defaultClass = [
  "text-white",
  "bg-base-900",
  "hover:bg-base-800",
  "focus:ring-base-500/50",
];
// Default Dark button
const defaultDarkClass = [
  "text-black",
  "bg-white",
  "hover:bg-base-200",
  "focus:ring-base-500/50",
];
// Accent button
const accentClass = [
  "text-white",
  "bg-accent-600",
  "hover:bg-accent-700",
  "focus:ring-accent-500/50",
];
// AccentDark button
const accentCDarklass = [
  "text-white",
  "bg-accent-500",
  "hover:bg-accent-600",
  "focus:ring-accent-500/50",
];
// Alternative button
const alternativeClass = [
  "text-base-500",
  "bg-white",
  "hover:text-accent-500",
  "ring-1",
  "ring-base-200",
  "focus:ring-accent-500",
];
// Alternative dark button
const alternativeDarkClass = [
  "text-white",
  "bg-base-900",
  "hover:text-accent-400",
  "ring-1",
  "ring-base-700",
  "focus:ring-accent-400",
];
// Muted button
const mutedClass = [
  "text-base-700",
  "bg-base-50",
  "hover:bg-white",
  "focus:ring-base-500/50",
];
// Muted dark button
const mutedDarkClass = [
  "text-base-300",
  "bg-base-800",
  "hover:bg-base-700",
  "focus:ring-base-700/50",
];
// Text button
const textClass = [
  "text-base-500",
  "bg-white",
  "hover:text-accent-600",
  "hover:bg-base-50",
  "focus:ring-accent-500",
];
// Link button
const linkClass = [
  "text-accent-500",
  "hover:text-accent-700",
  "focus:ring-accent-500",
];
// Success button
const infoClass = [
  "text-accent-700",
  "bg-accent-600/10",
  "hover:bg-accent-600/5",
  "focus:ring-accent-600/20",
];
// Success button
const successClass = [
  "text-emerald-600",
  "bg-emerald-600/10",
  "hover:bg-emerald-600/5",
  "focus:ring-emerald-600/20",
];
// Warning button
const warningClass = [
  "text-amber-600",
  "bg-amber-600/10",
  "hover:bg-amber-600/5",
  "focus:ring-amber-600/10",
];
// Danger button
const dangerClass = [
  "text-rose-600",
  "bg-rose-600/10",
  "hover:bg-rose-600/5",
  "focus:ring-rose-600",
];
// Meeta brand button
const metaBrandClass = [
  "text-white",
  "bg-accent-500",
  "hover:bg-accent-600",
  "focus:ring-base-500/50",
];
// Meeta brand button
const appleBrandClass = [
  "text-white",
  "bg-black",
  "hover:bg-base-700",
  "focus:ring-base-500/50",
];
const chromeBrandClass = [
  "text-white",
  "bg-base-50",
  "hover:bg-base-100",
  "focus:ring-base-500/50",
];
// Trasnparent Light button
const transparentLight = [
  "text-base-900",
  "bg-transparent",
  "hover:text-accent-600",
];
// Trasnparent Dark button
// Trasnparent Dark button
const transparentDark = ["text-white", "bg-transparent", "hover:text-base-400"];
// Size
const xs = ["h-8", "px-4", "py-2", "text-xs", "font-medium", "rounded-md"];
const sm = ["h-9", "px-4", "py-2", "text-sm", "font-medium", "rounded-md"];
const base = ["h-10", "px-6", "py-3", "text-base", "font-medium", "rounded-lg"];
const md = ["h-11", "px-6", "py-3", "text-base", "font-medium", "rounded-lg"];
const lg = ["h-12", "px-6", "py-3", "text-base", "font-medium", "rounded-lg"];
const xl = ["h-14", "px-6", "py-3", "text-lg", "font-medium", "rounded-lg"];
// Gap
const gapXS = ["gap-2"];
const gapSM = ["gap-4"];
const gapBase = ["gap-8"];
const gapMD = ["gap-10"];
const gapLG = ["gap-12"];
const additionalClasses = className ? className.split(" ") : [];
---
<button
  class:list={[
    "flex",
    "items-center",
    "justify-center",
    "transition-all",
    "duration-200",
    "focus:ring-2",
    "focus:outline-none",
    variant === "accent" && accentClass,
    variant === "accentDark" && accentCDarklass,
    variant === "default" && defaultClass,
    variant === "defaultDark" && defaultDarkClass,
    variant === "alternative" && alternativeClass,
    variant === "alternativeDark" && alternativeDarkClass,
    variant === "muted" && mutedClass,
    variant === "mutedDark" && mutedDarkClass,
    variant === "info" && infoClass,
    variant === "success" && successClass,
    variant === "warning" && warningClass,
    variant === "danger" && dangerClass,
    variant === "text" && textClass,
    variant === "link" && linkClass,
    variant === "meta-brand" && metaBrandClass,
    variant === "apple-brand" && appleBrandClass,
    variant === "chrome-brand" && chromeBrandClass,
    variant === "transparentLight" && transparentLight,
    variant === "transparentDark" && transparentDark,
    size === "xs" && xs,
    size === "sm" && sm,
    size === "base" && base,
    size === "md" && md,
    size === "lg" && lg,
    size === "xl" && xl,
    gap === "xs" && gapXS,
    gap === "sm" && gapSM,
    gap === "base" && gapBase,
    gap === "md" && gapMD,
    gap === "lg" && gapLG,
    ...additionalClasses,
  ]}
  {...rest}>
  <slot name="left-icon" />
  <slot />
  <slot name="right-icon" />
</button>
