---
const { variant, size, class: className, ...rest } = Astro.props;
// Variant classes
const defaultClass = [
  // Link
  "text-white",
  "bg-zinc-900",
  "outline",
  "outline-zinc-900",
  "hover:bg-zinc-950",
  "focus:outline-zinc-950",
  // Dark
  "dark:bg-zinc-100",
  "dark:text-zinc-900",
  "dark:outline-zinc-100",
  "dark:hover:bg-zinc-200",
  "dark:focus:outline-zinc-200",
];
const accentClass = [
  // Light
  "text-white",
  "bg-blue-700",
  "outline",
  "outline-blue-700",
  "hover:bg-blue-600",
  "focus:outline-blue-600",
  // Dark
  "dark:bg-blue-600",
  "dark:text-zinc-100",
  "dark:outline-blue-600",
  "dark:hover:bg-blue-700",
  "dark:focus:outline-blue-500",
];
const mutedClass = [
  // Light
  "text-zinc-600",
  "bg-zinc-50",
  "outline",
  "outline-zinc-50",
  "hover:bg-zinc-200",
  "focus:outline-zinc-600",
  // Dark
  "dark:text-zinc-100",
  "dark:bg-zinc-800",
  "dark:outline-zinc-800",
  "dark:hover:bg-zinc-700",
  "dark:focus:outline-zinc-700",
];
const outlineClass = [
  // Light
  "text-zinc-700",
  "bg-white",
  "outline",
  "outline-zinc-200",
  "hover:shadow-sm",
  "focus:outline-zinc-900",
  // Dark
  "dark:text-zinc-100",
  "dark:bg-zinc-800",
  "dark:outline-zinc-700",
  "dark:hover:bg-zinc-800",
  "dark:focus:outline-zinc-500",
];
const ghostClass = [
  "text-zinc-600",
  "bg-transparent",
  "hover:bg-zinc-100",
  "focus:outline-zinc-300",
  "dark:text-zinc-100",
  "dark:hover:bg-zinc-900",
  "dark:focus:outline-zinc-700",
  "dark:bg-transparent",
];
const textClass = [
  "text-zinc-500",
  "bg-white",
  "outline",
  "outline-zinc-200",
  "hover:text-blue-600",
  "hover:bg-zinc-50",
  "focus:outline-blue-500",
  // Dark
  "dark:text-zinc-200",
  "dark:bg-zinc-700",
  "dark:outline-zinc-600",
  "dark:hover:bg-zinc-600",
  "dark:focus:outline-zinc-500",
];
const linkClass = [
  "text-blue-500",
  "bg-transparent",
  "hover:underline",
  "focus:underline",
  "focus:outline-none",
  "p-0",
  "rounded-none",
  "dark:text-blue-400",
  "dark:bg-transparent",
];
// Info badge
const infoClass = [
  // Light
  "text-white",
  "bg-sky-700",
  "outline",
  "outline-sky-700",
  "hover:bg-sky-600",
  "focus:outline-sky-600",
  // Dark
  "dark:bg-sky-600",
  "dark:text-zinc-100",
  "dark:outline-sky-600",
  "dark:hover:bg-sky-700",
  "dark:focus:outline-sky-500",
];
// Success badge
const successClass = [
  // Light
  "text-white",
  "bg-emerald-700",
  "outline",
  "outline-emerald-700",
  "hover:bg-emerald-600",
  "focus:outline-emerald-600",
  // Dark
  "dark:bg-emerald-600",
  "dark:text-zinc-100",
  "dark:outline-emerald-600",
  "dark:hover:bg-emerald-700",
  "dark:focus:outline-emerald-500",
];
// Warning badge
const warningClass = [
  // Light
  "text-white",
  "bg-amber-700",
  "outline",
  "outline-amber-700",
  "hover:bg-amber-600",
  "focus:outline-amber-600",
  // Dark
  "dark:bg-amber-600",
  "dark:text-zinc-100",
  "dark:outline-amber-600",
  "dark:hover:bg-amber-700",
  "dark:focus:outline-amber-500",
];
// Danger badge
const dangerClass = [
  // Light
  "text-white",
  "bg-rose-700",
  "outline",
  "outline-rose-700",
  "hover:bg-rose-600",
  "focus:outline-rose-600",
  // Dark
  "dark:bg-rose-600",
  "dark:text-zinc-100",
  "dark:outline-rose-600",
  "dark:hover:bg-rose-700",
  "dark:focus:outline-rose-500",
];
// Size classes
const xxs = ["size-7", "p-0.5", "text-xs", "rounded-md"];
const xs = ["size-8", "p-0.5", "text-xs", "rounded-md"];
const sm = ["size-9", "p-2", "text-sm", "rounded-md"];
const base = ["size-10", "p-2", "text-base", "rounded-md"];
const md = ["size-11", "p-2.5", "text-base", "rounded-md"];
const lg = ["size-12", "p-3", "text-base", "rounded-lg"];
const xl = ["size-14", "p-3.5", "text-lg", "rounded-lg"];
---

<button
  class:list={[
    "flex",
    "items-center",
    "justify-center",
    "text-center",
    "shadow-subtle",
    "font-medium",
    "duration-500",
    "ease-in-out",
    "transition-colors",
    "focus:outline-2",
    "focus:outline-offset-2",
    variant === "accent" && accentClass,
    variant === "default" && defaultClass,
    variant === "muted" && mutedClass,
    variant === "text" && textClass,
    variant === "link" && linkClass,
    variant === "info" && infoClass,
    variant === "success" && successClass,
    variant === "warning" && warningClass,
    variant === "danger" && dangerClass,


    size === "xxs" && xxs,
    size === "xs" && xs,
    size === "sm" && sm,
    size === "base" && base,
    size === "md" && md,
    size === "lg" && lg,
    size === "xl" && xl,
    className,
  ]}
  {...rest}
>
  <slot />
  <slot
    name="icon"
    class:list={[
      // only apply shadow-none if variant is link or text
      (variant === "link" || variant === "text") && "shadow-none",
    ]}
  />
</button>
