---
const { variant, size, class: className, ...rest } = Astro.props;
// Variant classes
const defaultClass = [
  "text-white",
  "bg-zinc-900",
  "hover:bg-zinc-950",
  "focus:outline-zinc-950",
];
const accentClass = [
  "text-white",
  "bg-stone-500",
  "hover:bg-stone-600",
  "focus:outline-stone-600",
];
const mutedClass = [
  "text-black",
  "bg-zinc-50",
  "hover:bg-zinc-200",
  "focus:outline-zinc-600",
];
const alternativeClass = [
  "text-black",
  "bg-white",
  "hover:bg-zinc-100",
  "focus:outline-zinc-900",
];
const textClass = [
  "text-zinc-500",
  "bg-white",
  "hover:text-stone-600",
  "hover:bg-zinc-50",
  "focus:outline-stone-500",
];
const linkClass = [
  "text-stone-500",
  "hover:text-stone-700",
  "focus:outline-stone-500",
];
// Size classes
const xs = ["size-8", "p-0.5", "text-xs", "rounded-md"];
const sm = ["size-9", "p-2", "text-sm", "rounded-md"];
const base = ["size-10", "p-2", "text-base", "rounded-md"];
const md = ["size-11", "p-2.5", "text-base", "rounded-md"];
const lg = ["size-12", "p-3", "text-base", "rounded-lg"];
const xl = ["size-14", "p-3.5", "text-lg", "rounded-lg"];
---

<button
  class:list={[
    "flex",
    "items-center",
    "justify-center",
    "text-center",
    "shadow-subtle",
    "font-medium",
    "duration-500",
    "ease-in-out",
    "transition-colors",
    "focus:outline-2",
    "focus:outline-offset-2",
    variant === "accent" && accentClass,
    variant === "default" && defaultClass,
    variant === "alternative" && alternativeClass,
    variant === "muted" && mutedClass,
    variant === "text" && textClass,
    variant === "link" && linkClass,
    size === "xs" && xs,
    size === "sm" && sm,
    size === "base" && base,
    size === "md" && md,
    size === "lg" && lg,
    size === "xl" && xl,
    className,
  ]}
  {...rest}
>
  <slot />

  <slot
    name="icon"
    class:list={[
      // only apply shadow-none if variant is link or text
      (variant === "link" || variant === "text") && "shadow-none",
    ]}
  />
</button>
