---
const {
  variant,
  size,
  onlyIconSize,
  gap,
  class: className,
  ...rest
} = Astro.props;
// Default link
const defaultClass = [
  "text-white",
  "bg-accent-1200",
  "hover:bg-accent-1000",
  "focus:outline-accent-1000",
];
// Accent button
const accentClass = [
  "text-white",
  "bg-accent-500",
  "hover:bg-accent-600",
  "focus:outline-accent-600",
];
// Muted button
const mutedClass = [
  "text-black",
  "bg-base-50",
  "hover:bg-base-200",
  "focus:outline-base-600",
];
const alternativeClass = [
  "text-black",
  "bg-white",
  "hover:bg-base-100",
  "focus:outline-base-900",
];
// Size (only applies if variant is not "link")
const mini = ["h-7", "px-3", "py-1.5", "text-xs", "rounded"];
const xs = ["h-8", "px-4", "py-2", "text-xs", "rounded-md"];
const sm = ["h-9", "px-6", "py-2", "text-sm", "rounded-md"];
const base = ["h-9", "px-4", "py-2", "text-sm", "rounded-md"];
const md = ["h-10", "px-6", "py-3", "text-base", "rounded-md"];
const lg = ["h-12", "px-6", "py-3", "text-lg", "rounded-lg"];
const xl = ["h-14", "px-6", "py-3", "text-lg", "rounded-lg"];
// Gap
const gapXS = ["gap-2"];
const gapSM = ["gap-4"];
const gapBase = ["gap-8"];
const gapMD = ["gap-10"];
const gapLG = ["gap-12"];
const additionalClasses = className ? className.split(" ") : [];
---

<button
  class:list={[
    "flex",
    "items-center",
    "justify-center",
    "text-center",
    "shadow-subtle",
    "font-medium",
    "duration-500",
    "ease-in-out",
    "transition-colors",
    "focus:outline-2",
    "focus:outline-offset-2",
    variant === "muted" && mutedClass,
    variant === "accent" && accentClass,
    variant === "default" && defaultClass,
    variant === "alternative" && alternativeClass,
    size === "mini" && mini,
    size === "xs" && xs,
    size === "sm" && sm,
    size === "base" && base,
    size === "neutral" && gapBase,
    size === "md" && md,
    size === "lg" && lg,
    size === "xl" && xl,
    gap === "xs" && gapXS,
    gap === "sm" && gapSM,
    gap === "base" && base,
    gap === "md" && gapMD,
    gap === "lg" && gapLG,
    ...additionalClasses,
  ]}
  {...rest}
>
  <slot name="left-icon" />
  <slot />
  <slot name="right-icon" />
</button>
