---
export const freeComponent = true;
export const description = "Centered CTA with logo, image and text";
// Assets
import Logo from "@/components/assets/Logo.astro";
import { Image } from "astro:assets";
import DashboardLight from "@/images/assets/dashboardLight.svg";

// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div>
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <div class="inline-block p-3 rounded-full bg-stone-600">
        <Logo class="h-12 mx-auto text-white" />
      </div>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-12 font-semibold tracking-tight text-zinc-900 lg:text-balance"
      >
        Collaboration without the therapy bills
      </Text>
      <Text tag="p" variant="textSM" class="mt-4 text-zinc-500 lg:text-balance">
        Ditch the chaos, skip the spreadsheet gymnastics, and finally work like
        it's the 2020s.
      </Text>
    </div>

    <div class="relative mt-12 overflow-hidden rounded-lg max-h-120">
      <Image
        width={1200}
        height={1200}
        loading="eager"
        decoding="async"
        alt="dashboard"
        src={DashboardLight}
        class="relative object-cover h-full"
      />

      <!-- Optional overlay fade if needed -->
      <div
        aria-hidden="true"
        class="absolute inset-0 z-0 pointer-events-none bg-gradient-to-t from-zinc-50 via-white/70 to-transparent"
      >
      </div>

      <!-- Button position -->
      <div class="absolute z-10 bottom-12 left-1/2 transform -translate-x-1/2">
        <Button variant="accent" size="sm">Get started</Button>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
