---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Apple from "@/components/fundations/icons/Apple.astro";
import GooglePlay from "@/components/fundations/icons/GooglePlay.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid items-end grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <Text
          tag="h2"
          variant="displayBase"
          class="font-semibold text-base-900"
        >
          Get started with our app today
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
          Streamline your workflow and collaborate seamlessly on staging and
          temporary environments
        </Text>
      </div>
      <div class="flex flex-col lg:flex-row items-center gap-2 sm:ml-auto">
        <Button variant="alternative" gap="xs" size="sm">
          <Apple size="sm" slot="left-icon" />
          Download on App Store
        </Button>
        <Button variant="alternative" gap="xs" size="sm">
          <GooglePlay size="sm" slot="left-icon" />
          Download on Google Play
        </Button>
      </div>
    </div>
  </div>
</section>
