---
export const description = "Centered CTA with logo and text";
// Assets
import Logo from "@/components/assets/Logo.astro";

// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section class="overflow-hidden bg-gray-50">
  <Wrapper variant="blockStandard" class="py-24">
    <div class="relative p-8 bg-gray-900 lg:p-16 rounded-xl">
      <div class="max-w-xl mx-auto text-center lg:text-balance">
        <div class="absolute inset-x-0 z-10 flex justify-center -top-10">
          <div class="inline-block p-4 shadow-lg rounded-2xl bg-blue-600">
            <Logo class="h-12 text-white" />
          </div>
        </div>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-12 font-semibold tracking-tight text-white lg:text-balance"
        >
          Get started with Oxbow
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="mt-4 text-gray-400 lg:text-balance"
        >
          Analytics without the bloat, fluff, or enterprise sales calls. Just
          numbers you care about, and none you don’t.
        </Text>
        <div
          class="flex flex-wrap items-center justify-center mt-8 text-white gap-y-2 gap-x-8"
        >
          <Text tag="p" variant="textSM">Used by 4K makers</Text>

          <Text tag="p" variant="textSM">$0 Raised on Purpose</Text>

          <Text tag="p" variant="textSM">Still not acquired (yet)</Text>
        </div>
        <div class="flex justify-center mt-12">
          <Button variant="accent" size="base" gap="xs"
            >Join now <span aria-hidden="true">—</span>Regret nothing</Button
          >
        </div>
      </div>
    </div>
  </Wrapper>
</section>
