---
export const description = "Centered CTA with logo and text";
// Assets
import Logo from "@/components/assets/Logo.astro";

// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div
      class="relative p-8 bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 shadow from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 lg:p-16 rounded-xl"
    >
      <div class="max-w-xl mx-auto text-center lg:text-balance">
        <div class="absolute inset-x-0 z-10 flex justify-center -top-10">
          <div
            class="inline-block p-4 rounded-2xl bg-zinc-900 dark:bg-zinc-100"
          >
            <Logo class="h-12 dark:text-base-900 text-white" />
          </div>
        </div>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-12 font-semibold tracking-tight dark:text-white text-zinc-900 lg:text-balance"
        >
          Unlock your team's potential
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="mt-4 text-zinc-600 dark:text-zinc-300 lg:text-balance"
        >
          Simple, powerful tools to help you collaborate, organize, and launch
          faster. No clutter, just what you need to succeed.
        </Text>
        <div
          class="flex flex-wrap items-center justify-center mt-8 dark:text-white text-zinc-900 gap-y-2 gap-x-8"
        >
          <Text tag="p" variant="textSM">Trusted by thousands</Text>

          <Text tag="p" variant="textSM">100% focused on your growth</Text>

          <Text tag="p" variant="textSM"
            >Independently built, always improving</Text
          >
        </div>

        <Button
          variant="default"
          size="base"
          gap="xs"
          class="flex mx-auto w-fit mt-8"
          >Try it free <span aria-hidden="true">—</span>No credit card needed</Button
        >
      </div>
    </div>
  </div>
</section>
