---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
const logos = [
  {
    src: "/brands/5.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 col-start-2 sm:col-start-auto lg:col-span-1",
  },
  {
    src: "/brands/6.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 lg:col-span-1",
  },
  {
    src: "/brands/9.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 lg:col-span-1",
  },
  {
    src: "/brands/8.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 sm:col-start-2 lg:col-span-1",
  },
  {
    src: "/brands/10.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 col-start-2 sm:col-start-auto lg:col-span-1",
  },
];
---

<section>
  <div class="relative px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div
      class="items-end p-8 grid grid-cols-1 sm:grid-cols-2 gap-4 bg-base-50 rounded-2xl"
    >
      <div>
        <Text tag="h2" variant="displayMD" class="font-semibold text-base-900">
          Get started with our app today
        </Text>
      </div>
      <div class="flex sm:ml-auto">
        <Button variant="accent" size="sm"> Get started </Button>
      </div>
    </div>
    <div
      class="items-center mx-auto mt-10 grid grid-cols-4 gap-x-8 gap-y-10 sm:grid-cols-6 sm:gap-x-10 lg:-mx-6 lg:grid-cols-5"
    >
      {
        logos.map((logo) => (
          <img
            class={`${logo.colSpan} max-h-12 w-full object-contain `}
            src={logo.src}
            alt="#_"
            width={logo.width}
            height={logo.height}
          />
        ))
      }
    </div>
  </div>
</section>
