---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid items-center grid-cols-1 sm:grid-cols-2 gap-4 bg-accent-700 p-8 rounded-2xl">
      <div>
        <Heading
          level={3}
          darkMode={true}
          variant="defaultSmall">
          Get started with our app today
        </Heading>
        <Text
          class="mt-4 lg:text-balance"
          tag="p"
          darkMode={true}
          variant="body">
          Streamline your workflow and collaborate seamlessly on staging and
          temporary environments
        </Text>
      </div>
      <div class="sm:ml-auto">
        <Button
          variant="alternative"
          size="sm">
          Get started
        </Button>
      </div>
    </div>
  </div>
</section>
