---
import Button from "@/components/fundations/buttons/Button.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid items-center grid-cols-1 sm:grid-cols-2 gap-4 bg-accent-700 p-8 rounded-2xl">
      <div>
        <p class="text-xl lg:text-3xl font-semibold tracking-tight text-white">
          Join our newsletter
        </p>
        <p class="mt-4 text-sm text-base-200 lg:text-base">
          Stay up to date with our latest news and updates.
        </p>
      </div>
      <div class="sm:ml-auto">
        <Button
          variant="alternative"
          size="sm">
          Get started
        </Button>
      </div>
    </div>
  </div>
</section>
