---
export const description = "Centered CTA with download buttons";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const features = [
  {
    title: "Take charge of your workflow before it takes charge of you.",
    subtitle:
      "Tailor it your way—whether you’re a pro or just figuring it out.",
    text: "Say goodbye to outdated tools and upgrade to a modern experience.",
  },
  {
    title: "Work smarter, not harder—your process, your rules.",
    subtitle: "Easy to customize, simple to use, no expertise required.",
    text: "It just works. No manuals, no confusion—just productivity.",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <Text
        tag="h2"
        variant="displayMD"
        class="font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
      >
        Oxbow is now available for desktop
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="mt-4 text-zinc-500 dark:text-zinc-400 lg:text-balance"
      >
        The wait is over—download the app and get started instantly.
      </Text>
    </div>
    <dl
      class="max-w-3xl mx-auto mt-10 text-left grid grid-cols-1 md:grid-cols-2 gap-4"
    >
      {
        features.map((item) => (
          <div class="p-8 bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800  from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl">
            <div>
              <dt>
                <Text
                  tag="h3"
                  variant="textLG"
                  class="font-semibold tracking-tight  text-zinc-900 dark:text-white"
                >
                  {item.title}
                </Text>
              </dt>
              <dd>
                <Text
                  tag="p"
                  variant="textBase"
                  class="mt-2  text-zinc-600 dark:text-zinc-400"
                >
                  {item.subtitle}
                </Text>
              </dd>
            </div>
            <dd class="pt-4 mt-4 border-t border-zinc-200 dark:border-zinc-700">
              <Text
                tag="p"
                variant="textSM"
                class="text-sm text-zinc-500 dark:text-zinc-400"
              >
                {item.text}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>
    <div class="flex flex-wrap items-center justify-center mt-8 gap-2">
      <Button size="base" variant="default" class="shrink-0">
        Get Mac version
      </Button>
      <Button size="base" variant="accent" class="shrink-0">
        Get Windows version
      </Button>
      <Button size="base" variant="muted" class="shrink-0">
        Get Linux version
      </Button>
    </div>
    <p class="mt-6 text-xs italic text-zinc-500 dark:text-zinc-400">
      *Still in beta, but ready for real work. Give it a spin!
    </p>
  </div>
</section>
