<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid items-center grid-cols-1 sm:grid-cols-2 gap-4 bg-accent-700  p-8 rounded-2xl">
      <div>
        <p class="text-xl lg:text-3xl font-semibold tracking-tight text-white">
          Join our newsletter
        </p>
        <p class="mt-4 text-sm text-base-200 lg:text-base">
          Stay up to date with our latest news and updates.
        </p>
      </div>
      <div class="sm:ml-auto">
        <button
          type="submit"
          class="flex items-center justify-center  h-10 px-4 py-2 text-sm font-medium text-base-500 transition-all bg-base-50 border border-base-300 rounded-lg hover:text-base-700 focus:ring-2 shadow shadow-base-500/5 focus:ring-base-900 focus:ring-offset-2 ring-offset-base-200 duration-300 hover:border-base-200 hover:shadow-none"
          >Get started</button
        >
      </div>
    </div>
  </div>
</section>
