---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid items-center grid-cols-1 sm:grid-cols-2 gap-4 bg-accent-950 p-12 rounded-2xl"
    >
      <div>
        <Text tag="h2" variant="displayMD" class="font-semibold text-white">
          Get started with our app today
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-300 font-medium">
          Streamline your workflow and collaborate seamlessly on staging and
          temporary environments
        </Text>
      </div>
      <div class="sm:ml-auto">
        <Button variant="alternative" size="sm"> Get started </Button>
      </div>
    </div>
  </div>
</section>
