---
export const description = "Centered CTA with download buttons";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

const features = [
  {
    title:
      "Start taking control of your workflow (before it takes control of you).",
    subtitle:
      "Customizable by people who know what they’re doing — or just pretending.",
    text: "Ditch the clunky tools and upgrade to something that doesn’t feel like it was built in 2003.",
  },
  {
    title:
      "Start taking control of your workflow (before it takes control of you).",
    subtitle:
      "Customizable by people who know what they’re doing — or just pretending.",
    text: "Yes, it actually works. No, you don’t need a course to understand the UI.",
  },
];
---

<section class="overflow-hidden">
  <Wrapper variant="blockStandard" class="py-24">
    <div class="max-w-xl mx-auto text-center lg:text-balance">
      <Kicker class="text-blue-500"> Download Oxbow </Kicker>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-12 font-semibold tracking-tight text-zinc-900 lg:text-balance"
      >
        Get Oxbow on your desktop. Finally.
      </Text>
      <Text tag="p" variant="textSM" class="mt-4 text-zinc-500 lg:text-balance">
        After 3 years of “coming soon,” it’s here. Miracles do happen.
      </Text>
    </div>
    <dl
      class="max-w-3xl mx-auto mt-10 text-left grid grid-cols-1 md:grid-cols-2 gap-4"
    >
      {
        features.map((item) => (
          <div class="p-6 rounded-lg shadow outline outline-zinc-200 bg-zinc-50">
            <dt>
              <Text
                tag="h3"
                variant=""
                class="text-lg font-medium text-zinc-900"
              >
                {item.title}
              </Text>
            </dt>
            <div class="mt-24">
              <dd>
                <Text tag="p" variant="textBase" class=" text-zinc-600">
                  {item.subtitle}
                </Text>
              </dd>
              <dd class="pt-4 mt-4 border-t border-zinc-200">
                <Text tag="p" variant="textSM" class="text-sm text-zinc-500">
                  {item.text}
                </Text>
              </dd>
            </div>
          </div>
        ))
      }
    </dl>

    <div class="flex flex-wrap items-center justify-center mt-8 gap-2">
      <Button size="base" variant="default" class="shrink-0">
        Download for Mac
      </Button>
      <Button size="base" variant="accent" class="shrink-0">
        Download for Windows
      </Button>
      <Button size="base" variant="alternative" class="shrink-0">
        Download for Linux
      </Button>
    </div>

    <p class="mt-6 text-xs italic text-white/60">
      *We are legally obligated to say it’s still in beta. But it’s solid.
      Mostly.
    </p>
  </Wrapper>
</section>
