---
export const description = "Centered CTA with grid banner";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
// Icons
import Brain from "@/components/fundations/icons/Brain.astro";
import Tools from "@/components/fundations/icons/Tools.astro";
import Analytics from "@/components/fundations/icons/Analytics.astro";
const listItems = [
  "No setup, no hassle",
  "No credit card required",
  "Cancel anytime, no worries",
  "Works on any device",
  "Instant access, no waiting",
  "Friendly support, real humans",
  "Secure and private by default",
  "Regular updates",
  "Built for teams of any size",
];

const features = [
  {
    icon: Brain,
    title: "Smarter Decisions, Less Effort",
    text: "Let our AI handle the hard parts, even when you’re not sure what’s next.",
  },
  {
    icon: Tools,
    title: "Math? Handled.",
    text: "We do the calculations so you can focus on what matters most.",
  },
  {
    icon: Analytics,
    title: "Order in the Chaos",
    text: "Keep your projects on track before things get out of hand.",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="max-w-xl mx-auto lg:text-balance lg:text-center">
      <Kicker class=""> Surprisingly Helpful Tools </Kicker>
      <Text
        tag="h2"
        variant="displaySM"
        class="mt-12 font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
      >
        Take control of your tasks—before they take control of you
      </Text>
    </div>
    <dl
      class="mt-12 grid grid-cols-1 md:grid-cols-3 gap-4 lg:text-center lg:text-balance"
    >
      {
        features.map((feature) => (
          <div>
            <dt class="flex flex-col text-orange-600 lg:items-center gap-2">
              {feature.icon && (
                <feature.icon class="text-blue-600" size="base" />
              )}
              <Text
                tag="h3"
                variant=""
                class="font-semibold text-zinc-900 dark:text-white"
              >
                {feature.title}
              </Text>
            </dt>
            <dd>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 text-zinc-500 dark:text-zinc-400"
              >
                {feature.text}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>

    <div
      class="p-8 bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800  from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl mt-8 grid grid-cols-1 md:grid-cols-2 items-start gap-8"
    >
      <div>
        <Text
          tag="h3"
          variant="textXL"
          class="font-semibold tracking-tighter text-zinc-900 dark:text-white text-balance"
        >
          Try a <span class="text-blue-600">7-day free trial</span> and see how much
          you can get done.
        </Text>
        <div class="flex flex-wrap mt-4 sm:items-center gap-4">
          <Button variant="default" size="sm"> Start free trial </Button>
          <div class="text-xs text-zinc-500 dark:text-zinc-400 lg:items-center">
            <span class="block"> 4.8/5 from real users</span>
            <span class="block"> (and 300+ reviews) </span>
          </div>
        </div>
      </div>
      <ul
        class="text-base font-medium list-none text-zinc-900 dark:text-white grid grid-cols-1 md:grid-cols-2 gap-y-2 gap-x-4"
        role="list"
      >
        {
          listItems.map((item) => (
            <li>
              <div class="flex items-start gap-2">
                <CircleCheck class="text-zinc-600" size="sm" />
                <Text tag="span" variant="textSM">
                  {item}
                </Text>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
