---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section class="bg-base-50">
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center justify-center max-w-xl mx-auto">
      <img
        class="size-24 mx-auto lg:size-40"
        src="/images/oxbow/blueLineLogo.png"
        alt="#_"
      />
      <Text tag="h2" variant="displayBase" class="font-semibold text-base-900">
        Get started with our app today
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 text-base-500 font-medium lg:text-balance"
      >
        Streamline your workflow and collaborate seamlessly on staging and
        temporary environments
      </Text>
    </div>
    <div class="flex flex-wrap items-center gap-2 justify-center mx-auto mt-8">
      <Button variant="accent" size="sm"> Get started </Button>
      <Button variant="alternative" size="sm"> Learn more </Button>
    </div>
  </div>
</section>
