---
export const description = "Centered CTA with grid banner";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Brain from "@/components/fundations/icons/Brain.astro";
import Tools from "@/components/fundations/icons/Tools.astro";
import Analytics from "@/components/fundations/icons/Analytics.astro";
import Check from "@/components/fundations/icons/Check.astro";
const features = [
  {
    icon: Brain,
    title: "AI-Powered Guesswork",
    text: "Our system figures it out for you, even when you have no clue what you're doing.",
  },
  {
    icon: Tools,
    title: "Math You Don’t Have to Do",
    text: "Let us crunch the numbers while you pretend you’re in charge.",
  },
  {
    icon: Analytics,
    title: "Built-in Chaos Control",
    text: "Wrangle your tasks before they spiral into a beautiful disaster.",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="max-w-xl mx-auto lg:text-balance lg:text-center">
      <Kicker class=""> Probably Useful Software </Kicker>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-12 font-semibold tracking-tight text-zinc-900 dark:text-zinc-100 lg:text-balance"
      >
        Finally tame your to-do list, before it eats you alive
      </Text>
    </div>
    <dl
      class="mt-12 grid grid-cols-1 md:grid-cols-3 gap-4 lg:text-center lg:text-balance"
    >
      {
        features.map((feature) => (
          <div>
            <dt class="flex flex-col text-orange-600 lg:items-center gap-2">
              {feature.icon && (
                <feature.icon class="text-blue-600" size="base" />
              )}
              <Text
                tag="h3"
                variant=""
                class="font-semibold text-zinc-900 dark:text-zinc-100"
              >
                {feature.title}
              </Text>
            </dt>
            <dd>
              <Text
                tag="p"
                variant="textSM"
                class="mt-2 text-zinc-500 dark:text-zinc-400"
              >
                {feature.text}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>

    <div
      class="p-4 mt-8 bg-white dark:bg-zinc-900 rounded-lg shadow lg:p-12 outline outline-zinc-200 dark:outline-zinc-700 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:items-end gap-8"
    >
      <div class="lg:col-span-2">
        <Text
          tag="h3"
          variant="displaySM"
          class="font-medium tracking-tight text-zinc-900 dark:text-zinc-100 text-balance"
        >
          Start your <span class="text-blue-600">7-day free trial</span> and fake
          productivity like a pro.
        </Text>
        <div class="flex flex-wrap mt-4 sm:items-center gap-4">
          <Button variant="accent" size="sm"> Get started </Button>
          <div class="text-xs text-zinc-500 dark:text-zinc-400 lg:items-center">
            <span class="block"> 4.80/5 According to our moms</span>
            <span class="block"> (and 300+ reviews) </span>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-2 text-zinc-600 dark:text-zinc-400">
        <div class="flex items-center gap-2 text-zinc-600 dark:text-zinc-400">
          <Check class="text-blue-500 dark:text-blue-400" size="base" />
          <Text tag="p" variant="textSM">No setup, no patience required</Text>
        </div>
        <div class="flex items-center gap-2 text-zinc-600 dark:text-zinc-400">
          <Check class="text-blue-500 dark:text-blue-400" size="base" />
          <Text tag="p" variant="textSM">No credit card, pinky swear</Text>
        </div>
        <div class="flex items-center gap-2 text-zinc-600 dark:text-zinc-400">
          <Check class="text-blue-500 dark:text-blue-400" size="base" />
          <Text tag="p" variant="textSM">Quit anytime (we won’t cry)</Text>
        </div>
      </div>
    </div>
  </div>
</section>
