---
import Button from "@/components/fundations/buttons/Button.astro";
---

<section class="bg-base-50">
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center justify-center max-w-xl mx-auto">
      <img
        class="size-24 mx-auto lg:size-40"
        src="/images/oxbow/blueLineLogo.png"
        alt="#_"
      />
      <p
        class="text-xl mt-8 lg:text-4xl lg:text-balance font-semibold tracking-tight text-base-900">
        Get started today and start collaborating with your team
      </p>
      <p class="mt-4 text-sm text-base-500 lg:text-base lg:text-balance">
        Streamline your workflow and collaborate seamlessly on staging and
        temporary environments
      </p>
    </div>
    <div class="flex flex-wrap items-center gap-2 justify-center mx-auto mt-12">
      <Button
        variant="accent"
        size="sm">
        Get started
      </Button>
      <Button
        variant="alternative"
        size="sm">
        Learn more
      </Button>
    </div>
  </div>
</section>
