---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl">
    <div
      class="relative px-6 pt-16 overflow-hidden bg-base-50 shadow isolate sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0"
    >
      <div class="max-w-xl lg:flex-auto lg:py-28">
        <img class="size-16" src="/images/oxbow/blueLineLogo.png" alt="#_" />
        <Text
          tag="h2"
          variant="displayXL"
          class="font-semibold text-base-900 lg:text-balance"
        >
          Get started with our app today
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 text-base-500 font-medium lg:text-balance"
        >
          Streamline your workflow and collaborate seamlessly on staging and
          temporary environments
        </Text>
        <div class="flex flex-wrap items-center gap-2 mx-auto mt-12">
          <Button variant="accent" size="sm"> Get started </Button>
          <Button variant="alternative" size="sm"> Learn more </Button>
        </div>
      </div>
      <div class="relative mt-16 h-80 lg:mt-8">
        <img
          class="absolute left-0 top-0 w-[57rem] max-w-none shadow rounded-3xl"
          src="/widgets/activity.svg"
          alt="#_"
          width="1824"
          height="1080"
        />
      </div>
    </div>
  </div>
</section>
