---
import Button from "@/components/fundations/buttons/Button.astro";

import Text from "@/components/fundations/typography/Text.astro";

const data = [
  {
    name: "Fernando Monte",
    title: "Creator of Oxbowui.com",
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions' security and efficiency.",
    imgSrc: "/avatars/2.jpg",
  },
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="grid grid-cols-1 max-w-md lg:max-w-none mx-auto items-start md:grid-cols-2 lg:bg-base-50 lg:p-20 lg:rounded-3xl"
    >
      <div class="lg:pr-24 md:pr-12">
        <img class="size-16" src="/images/oxbow/blueLineLogo.png" alt="#_" />
        <Text
          tag="h2"
          variant="displayBase"
          class="font-semibold text-base-900 lg:text-balance"
        >
          Get started with our app today
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
          Streamline your workflow and collaborate seamlessly on staging and
          temporary environments
        </Text>
        <div class="flex flex-wrap items-center gap-2 mt-8">
          <Button variant="accent" size="sm"> Get started </Button>
          <Button variant="alternative" size="sm"> Learn more </Button>
        </div>
        <ul role="list" class="mt-6 pt-6 border-t">
          {
            data.map((member) => (
              <>
                <li>
                  <figure class="flex flex-col  h-full ">
                    <Text
                      tag="blockquote"
                      variant="textBase"
                      class=" text-base-500 italic font-medium"
                    >
                      {member.testimonial}
                    </Text>
                    <figcaption>
                      <div class="flex items-center gap-2 mt-8">
                        <img
                          class="nline-block size-12 rounded-full"
                          src={member.imgSrc}
                          alt="#_"
                        />
                        <div>
                          <Text
                            tag="p"
                            variant="textBase"
                            class=" text-base-900  font-medium"
                          >
                            {member.name}
                          </Text>
                          <Text
                            tag="p"
                            variant="textSM"
                            class=" text-base-500  font-medium"
                          >
                            {member.title}
                          </Text>
                        </div>
                      </div>
                    </figcaption>
                  </figure>
                </li>
              </>
            ))
          }
        </ul>
      </div>
      <div class="mt-12 lg:-mt-32 h-full">
        <img
          src="/images/whiteCardStand.svg"
          alt="#_"
          class="drop-shadow w-full"
        />
      </div>
    </div>
  </div>
</section>
