---
import Button from "@/components/fundations/buttons/Button.astro";

import Text from "@/components/fundations/typography/Text.astro";

const data = [
  {
    name: "Fernando Monte",
    title: "Creator of Oxbowui.com",
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions' security and efficiency.",
    imgSrc: "/avatars/2.jpg",
  },
];
---

<section>
  <div class="relative px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div
      class="items-start max-w-md mx-auto grid grid-cols-1 lg:max-w-none md:grid-cols-2 lg:bg-base-50 lg:p-20 lg:rounded-3xl"
    >
      <div class="lg:pr-24 md:pr-12">
        <img class="size-16" src="/images/oxbow/blueLineLogo.png" alt="#_" />
        <Text
          tag="h2"
          variant="displayMD"
          class="font-semibold text-base-900 lg:text-balance"
        >
          Get started with our app today
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-base-500">
          Streamline your workflow and collaborate seamlessly on staging and
          temporary environments
        </Text>
        <div class="flex flex-wrap items-center mt-8 gap-2">
          <Button variant="accent" size="sm"> Get started </Button>
          <Button variant="alternative" size="sm"> Learn more </Button>
        </div>
        <ul role="list" class="pt-6 mt-6 border-t">
          {
            data.map((member) => (
              <>
                <li>
                  <figure class="flex flex-col h-full ">
                    <Text
                      tag="blockquote"
                      variant="textBase"
                      class="italic font-medium  text-base-500"
                    >
                      {member.testimonial}
                    </Text>
                    <figcaption>
                      <div class="flex items-center mt-8 gap-2">
                        <img
                          class="rounded-full nline-block size-12"
                          src={member.imgSrc}
                          alt="#_"
                        />
                        <div>
                          <Text
                            tag="p"
                            variant="textBase"
                            class="font-medium  text-base-900"
                          >
                            {member.name}
                          </Text>
                          <Text
                            tag="p"
                            variant="textSM"
                            class="font-medium  text-base-500"
                          >
                            {member.title}
                          </Text>
                        </div>
                      </div>
                    </figcaption>
                  </figure>
                </li>
              </>
            ))
          }
        </ul>
      </div>
      <div class="h-full mt-12 lg:-mt-32">
        <img
          src="/widgets/activity.svg"
          alt="#_"
          class="w-full shadow rounded-xl"
        />
      </div>
    </div>
  </div>
</section>
