---
export const description = "Centered card CTA ";
import Logo from "@/components/assets/Logo.astro";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Check from "@/components/fundations/icons/Check.astro";
---

<section class="overflow-hidden bg-gray-50">
  <Wrapper variant="blockStandard" class="py-24">
    <div
      class="max-w-sm p-8 mx-auto rounded-lg bg-linear-45 from-blue-700 to-blue-500"
    >
      <div class="lg:text-balance">
        <Text
          tag="h2"
          variant="displaySM"
          class="font-semibold tracking-tight text-white lg:text-balance"
        >
          Join 29,000 designers who *actually* read our emails
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="mt-4 text-gray-200 lg:text-balance"
        >
          No cringe tactics. No endless threads. Just good design stuff,
          straight to your inbox. Occasionally funny.
        </Text>

        <div class="flex flex-col mt-8 gap-2">
          <div class="flex items-center gap-2 text-gray-300">
            <Check class="text-white" size="base" />
            <Text tag="p" variant="textSM">Useful news, not “thoughts”</Text>
          </div>
          <div class="flex items-center gap-2 text-gray-300">
            <Check class="text-white" size="base" />
            <Text tag="p" variant="textSM">No spam, pinky swear</Text>
          </div>
          <div class="flex items-center gap-2 text-gray-300">
            <Check class="text-white" size="base" />
            <Text tag="p" variant="textSM">Unsubscribe without guilt</Text>
          </div>
        </div>

        <div class="flex flex-col mt-12 gap-2">
          <Button variant="default" size="base" gap="xs"> Fine, I’m In </Button>
          <Button variant="muted" size="base"> Ugh, Maybe Later </Button>
        </div>
      </div>
    </div>
  </Wrapper>
</section>
