---
export const description = "Centered card CTA ";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
// Icons
import CircleCheck from "@/components/fundations/icons/CircleCheck.astro";
const listItems = [
  "Actionable tips, not just opinions",
  "Zero spam, ever",
  "Leave anytime, no hard feelings",
  "Fresh content every week",
  "Curated by real designers",
  "Mobile-friendly format",
  "Exclusive resources inside",
  "Quick reads, big impact",
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32">
    <div
      class="flex flex-col justify-between h-full max-w-md mx-auto shadow bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl"
    >
      <div class="flex flex-col p-8">
        <Text
          tag="h2"
          variant="displaySM"
          class="font-semibold tracking-tight dark:text-white text-zinc-900 lg:text-balance"
        >
          Join thousands who actually enjoy our updates
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="mt-4 dark:text-zinc-200 text-zinc-600 lg:text-balance"
        >
          No fluff. No spam. Just the best design insights and resources,
          delivered straight to you. Sometimes even a laugh.
        </Text>
        <ul class="flex flex-col mt-8 gap-2">
          {
            listItems.map((item) => (
              <li>
                <div class="flex items-start gap-2">
                  <CircleCheck class="text-zinc-600" size="sm" />
                  <Text tag="span" variant="textSM">
                    {item}
                  </Text>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
      <div
        class="flex flex-col p-8 border-t border-zinc-200 dark:border-white/10 gap-2"
      >
        <Button variant="default" size="base" gap="xs"> Count me in </Button>
        <Button variant="muted" size="base"> Maybe next time </Button>
      </div>
    </div>
  </div>
</section>
