---
export const description = "Split CTA with custom avatars";
import { Image } from "astro:assets";
import Avatar1 from "@/images/avatars/1.jpg";
import Avatar2 from "@/images/avatars/2.jpg";
import Avatar3 from "@/images/avatars/3.jpg";
import Avatar4 from "@/images/avatars/4.jpg";
const avatars = [
  { src: Avatar1, alt: "#_" },
  { src: Avatar2, alt: "#_" },
  { src: Avatar3, alt: "#_" },
  { src: Avatar4, alt: "#_" },
];
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 lg:items-end gap-8"
    >
      <div>
        <Text
          tag="h3"
          variant="textXL"
          class="font-semibold tracking-tighter text-zinc-900 dark:text-zinc-100 text-balance"
        >
          Break the scroll cycle — rediscover your focus in <span
            class="text-blue-600">one week</span
          >.
        </Text>
        <div class="flex flex-wrap mt-4 sm:items-center gap-4">
          <Button variant="accent" size="sm"> Focus up now </Button>
          <div class="text-xs text-zinc-500 dark:text-zinc-400 lg:items-center">
            <span class="block"
              >4.9/5 from people who finally finished a project</span
            >
            <span class="block">(and didn’t check their phone once)</span>
          </div>
        </div>
      </div>

      <div>
        <Text
          tag="p"
          variant="textBase"
          class="text-zinc-500 dark:text-zinc-400 text-balance"
        >
          Designed for anyone juggling endless tabs, constant pings, and the
          urge to unplug.
        </Text>
        <div class="flex flex-col mt-8 md:flex-row lg:items-center gap-2">
          <div class="flex -space-x-2">
            {
              avatars.map((avatar) => (
                <Image
                  width={200}
                  height={200}
                  src={avatar.src}
                  alt={avatar.alt}
                  class="inline-block object-cover object-center rounded-full size-8 outline-2 outline-white dark:outline-zinc-800"
                />
              ))
            }
          </div>
          <div class="text-xs text-zinc-500 dark:text-zinc-400 lg:items-center">
            <span class="block">Loved by introverts, deep thinkers,</span>
            <span class="block"> and anyone who values quiet focus.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
