---
export const description = "Split CTA with custom avatars";
import { Image } from "astro:assets";
import Avatar1 from "@/images/avatars/1.jpg";
import Avatar2 from "@/images/avatars/2.jpg";
import Avatar3 from "@/images/avatars/3.jpg";
import Avatar4 from "@/images/avatars/4.jpg";
const avatars = [
  { src: Avatar1, alt: "#_" },
  { src: Avatar2, alt: "#_" },
  { src: Avatar3, alt: "#_" },
  { src: Avatar4, alt: "#_" },
];
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<div class="p-8 ">
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 lg:items-end gap-8"
    >
      <div>
        <Text
          tag="h3"
          variant="displaySM"
          class="font-medium tracking-tight text-zinc-900 text-balance"
        >
          Ditch the dopamine drip — reclaim your focus in just <span
            class="text-blue-600">7 days</span
          >.
        </Text>
        <div class="flex flex-wrap mt-4 sm:items-center gap-4">
          <Button variant="accent" size="sm"> Go distraction-free </Button>
          <div class="text-xs text-zinc-500 lg:items-center">
            <span class="block"
              >4.9/5 from people who finally finished a book</span
            >
            <span class="block">(without checking their phone once)</span>
          </div>
        </div>
      </div>

      <div>
        <Text tag="p" variant="textBase" class="text-zinc-500 text-balance">
          Built for humans with 6 tabs open, 12 notifications pending, and a
          deep desire to disappear into the woods.
        </Text>
        <div class="flex flex-col mt-8 md:flex-row lg:items-center gap-2">
          <div class="flex -space-x-2">
            {
              avatars.map((avatar) => (
                <Image
                  width={200}
                  height={200}
                  src={avatar.src}
                  alt={avatar.alt}
                  class="inline-block object-cover object-center rounded-full size-8 outline-2 outline-white"
                />
              ))
            }
          </div>
          <div class="text-xs text-zinc-500 lg:items-center">
            <span class="block">Used by introverts, deep thinkers,</span>
            <span class="block"> and noise-canceling headphones.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
