---
export const description = "Splited CTA with text-and image";
// Assets
import { Image } from "astro:assets";
import Activity from "@/images/assets/activity.svg";
// Foundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Check from "@/components/fundations/icons/Check.astro";
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-20">
    <div
      class="items-center max-w-md mx-auto grid grid-cols-1 gap-12 lg:gap-24 lg:max-w-none md:grid-cols-2"
    >
      <div class="max-w-xl lg:text-balance lg:order-last">
        <Text
          tag="h2"
          variant="displayMD"
          class="font-semibold tracking-tight text-zinc-900 dark:text-white lg:text-balance"
        >
          Bring order to your day.
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="mt-4 text-zinc-500 dark:text-zinc-400 lg:text-balance"
        >
          We won’t claim to solve everything, but you’ll look (and feel) more
          organized than ever. Sometimes that’s all you need.
        </Text>

        <div class="flex flex-col mt-8 gap-4">
          <div class="flex items-center gap-2 text-zinc-600 dark:text-zinc-400">
            <div
              class="p-2 text-blue-500 rounded-lg bg-zinc-50 dark:bg-zinc-900 outline outline-zinc-100 dark:outline-zinc-700 dark:text-blue-400"
            >
              <Check size="sm" />
            </div>

            <Text tag="p" variant="textSM">
              Dashboards that impress in meetings—even if you have to explain
              them later.
            </Text>
          </div>
          <div class="flex items-center gap-2 text-zinc-600 dark:text-zinc-400">
            <div
              class="p-2 text-blue-500 rounded-lg bg-zinc-50 dark:bg-zinc-900 outline outline-zinc-100 dark:outline-zinc-700 dark:text-blue-400"
            >
              <Check size="sm" />
            </div>
            <Text tag="p" variant="textSM">
              Tasks that organize themselves, so you can focus on what matters
              (or just scroll in peace).
            </Text>
          </div>
          <div class="flex items-center gap-2 text-zinc-600 dark:text-zinc-400">
            <div
              class="p-2 text-blue-500 rounded-lg bg-zinc-50 dark:bg-zinc-900 outline outline-zinc-100 dark:outline-zinc-700 dark:text-blue-400"
            >
              <Check size="sm" />
            </div>
            <Text tag="p" variant="textSM">
              Notifications that keep you informed—without the stress.
            </Text>
          </div>
          <div class="flex items-center gap-2 text-zinc-600 dark:text-zinc-400">
            <div
              class="p-2 text-blue-500 rounded-lg bg-zinc-50 dark:bg-zinc-900 outline outline-zinc-100 dark:outline-zinc-700 dark:text-blue-400"
            >
              <Check size="sm" />
            </div>
            <Text tag="p" variant="textSM">
              A UI so simple you’ll think something’s missing. (It’s not—it’s
              just that clean.)
            </Text>
          </div>
        </div>

        <div class="flex mt-12">
          <Button variant="accent" size="base"> Get Started Today </Button>
        </div>
      </div>

      <div class="h-full">
        <Image
          src={Activity}
          width={600}
          height={800}
          alt="Product showcase"
          loading="eager"
          decoding="async"
          class="w-full rounded-lg shadow outline outline-zinc-200 dark:outline-zinc-700"
        />
      </div>
    </div>
  </div>
</section>
