<section class="bg-gradient-to-b from-blue-500 to-indigo-600">
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center justify-center max-w-xl mx-auto">
      <p
        class="text-xl lg:text-4xl lg:text-balance font-semibold tracking-tight text-white">
        Get started today and start collaborating with your team
      </p>
      <p class="mt-4 text-sm text-zinc-200 lg:text-base lg:text-balance">
        Streamline your workflow and collaborate seamlessly on staging and
        temporary environments
      </p>
    </div>
    <div class="flex justify-center mt-12">
      <button
        class="flex items-center justify-center  h-10 px-4 py-2 text-sm font-medium text-zinc-500 transition-all bg-zinc-50 border border-zinc-300 rounded-lg hover:text-zinc-700 focus:ring-2 shadow shadow-zinc-500/5 focus:ring-zinc-900 focus:ring-offset-2 ring-offset-zinc-200 duration-300 hover:border-zinc-200 hover:shadow-none"
        aria-label="Action">
       Get started

      </button>
    </div>
  </div>
</section>
