---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Apple from "@/components/fundations/icons/Apple.astro";
import GooglePlay from "@/components/fundations/icons/GooglePlay.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <img
      src="/images/dashboardLight.svg"
      alt=""
      class="w-full object-cover max-h-96 rounded-2xl shadow object-top"
    />
    <div class="grid items-end grid-cols-1 sm:grid-cols-2 gap-4 mt-12">
      <div>
        <Heading
          level={3}
          variant="default">
          Get started with our app today
        </Heading>
        <Text
          class="mt-4 lg:text-balance"
          tag="p"
          variant="body">
          Streamline your workflow and collaborate seamlessly on staging and
          temporary environments
        </Text>
      </div>
      <div class="flex flex-col items-center gap-2 sm:ml-auto">
        <Button
          class="w-full"
          variant="alternative"
          gap="xs"
          size="sm">
          <Apple
            size="sm"
            slot="left-icon"
          />
          Download on App Store
        </Button>
        <Button
          class="w-full"
          variant="alternative"
          gap="xs"
          size="sm">
          <GooglePlay
            size="sm"
            slot="left-icon"
          />
          Download on Google Play
        </Button>
      </div>
    </div>
  </div>
</section>
