---
export const freeComponent = true;
export const description = "Input sizes";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <TextInput
    id="input-base"
    name="input-base"
    label="Base Input (Default)"
    type="text"
    variant="default"
    size="base"
    placeholder="Base input (default size)"
  />

  <!-- copy:end -->
</div>
