---
export const freeComponent = true;
export const description = "Input sizes";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<section class="justify-center h-full bg-white gap-2 p-15 dark:bg-zinc-900">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <TextInput
      id="input-base"
      name="input-base"
      label="Base Input (Default)"
      type="text"
      variant="default"
      size="base"
      placeholder="Base input (default size)"
    />
    <!-- copy:end -->
  </div>
</section>
