---
export const description = "Basic input";
import Input from "@/components/fundations/inputs/Input.astro";
---

<div class="max-w-xs mx-auto py-60">
  <Input
    id="text-input"
    name="text-input"
    label="Text Input"
    placeholder="Enter text"
  />
</div>
