---
export const freeComponent = true;
export const description = "Input sizes";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex justify-center w-full px-12 py-48">
  <!-- copy:start -->
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
    <TextInput
      id="input-xs"
      name="input-xs"
      label="Extra Small Input"
      type="text"
      variant="default"
      size="xs"
      placeholder="Extra small input"
    />

    <TextInput
      id="input-sm"
      name="input-sm"
      label="Small Input"
      type="text"
      variant="default"
      size="sm"
      placeholder="Small input"
    />

    <TextInput
      id="input-base"
      name="input-base"
      label="Base Input (Default)"
      type="text"
      variant="default"
      size="base"
      placeholder="Base input (default size)"
    />

    <TextInput
      id="input-lg"
      name="input-lg"
      label="Large Input"
      type="text"
      variant="default"
      size="lg"
      placeholder="Large input"
    />

    <TextInput
      id="input-xl"
      name="input-xl"
      label="Extra Large Input"
      type="text"
      variant="default"
      size="xl"
      placeholder="Extra large input"
    />
  </div>
  <!-- copy:end -->
</div>
