---
export const description = "Email input";
import Input from "@/components/fundations/inputs/Input.astro";
---
<div class="max-w-xs mx-auto py-60">
  <Input
  id="email-input"
  name="email-input"
  type="email"
  label="Email Input"
  placeholder="Enter email"
/>
</div>
