---
export const description = "Read only input";
import Input from "@/components/fundations/inputs/Input.astro";
---
<div class="max-w-xs mx-auto py-60">
  <Input
    id="password"
    name="password"
    type="password"
    label="Password"
    placeholder="************"
    variant="alternative"
    size="base"
    passwordToggle={true}
  />
</div>
