---
export const description = "Password input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex justify-center w-full max-w-xl px-12 py-48 mx-auto">
  <!-- copy:start -->
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
    <TextInput
      id="password"
      name="password"
      label="Password"
      type="password"
      passwordToggle={true}
      size="base"
      placeholder="••••••••"
      required
    />

    <TextInput
      type="password"
      name="password"
      label="Password input without right icon"
      showRightIcon={false}
      placeholder="••••••••"
    />
  </div>
  <!-- copy:end -->
</div>
