---
export const description = "Number input";
import Input from "@/components/fundations/inputs/Input.astro";
---
<div class="max-w-xs mx-auto py-60">
  <Input
  id="number-input"
  name="number-input"
  type="number"
  label="Number Input"
  placeholder="Enter number"
  min="0"
  max="100"
/>
</div>
