---
export const description = "Search input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex justify-center w-full max-w-4xl px-12 py-48 mx-auto">
  <!-- copy:start -->
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <TextInput
      id="search-left"
      name="search-left"
      label="Search (Left Icon)"
      type="search"
      iconPosition="left"
      variant="default"
      size="base"
      placeholder="Search with left icon"
    />

    <TextInput
      id="search-right"
      name="search-right"
      label="Search (Right Icon)"
      type="search"
      iconPosition="right"
      variant="default"
      size="base"
      placeholder="Search with right icon"
    />

    <TextInput
      id="search-right"
      name="search-right"
      label="Search (No Icon)"
      type="search"
      showLeftIcon={false}
      variant="default"
      size="base"
      placeholder="Search with no icon"
    />
  </div>
  <!-- copy:end -->
</div>
