---
export const description = "Email input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<section class="justify-center h-full bg-white gap-2 p-15 dark:bg-zinc-900">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <TextInput
      id="email"
      name="email"
      label="Email address input hint"
      type="email"
      hint="Optional"
      variant="default"
      size="base"
      placeholder="you@example.com"
      required
      showLeftIcon={false}
    />
    <!-- copy:end -->
  </div>
</section>
