---
export const description = "Email input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->

  <TextInput
    id="email"
    name="email"
    label="Email address input hint"
    type="email"
    hint="Optional"
    variant="default"
    size="base"
    placeholder="you@example.com"
    required
    showLeftIcon={false}
  />
  <!-- copy:end -->
</div>
