---
export const description = "Search input";
import Input from "@/components/fundations/inputs/Input.astro";
---

<div class="max-w-xs mx-auto py-60">
  <Input
    id="search-input"
    name="search-input"
    type="search"
    label="Search Input"
    placeholder="Search..."
  />
</div>
