---
export const description = "Password input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<section class="gap-2 justify-center p-15 bg-white dark:bg-zinc-900 h-full">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <TextInput
      type="password"
      name="password"
      label="Password input without right icon"
      showRightIcon={false}
      placeholder="••••••••"
    />
    <!-- copy:end -->
  </div>
</section>
