---
export const description = "Input with left icon";
import Text from "@/components/fundations/typography/Text.astro";
---

<div
  class="flex flex-wrap items-end justify-center max-w-md py-12 mx-auto gap-4"
>
  <div class="space-y-1">
    <Text
      for="input-left-icon"
      tag="label"
      variant="textSM"
      class="font-medium text-base-500"
    >
      Email
    </Text>
    <div class="relative">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="absolute icon icon-tabler icons-tabler-outline icon-tabler-mail left-3 top-1/2 transform -translate-y-1/2 size-5 text-base-400"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
        ></path><path d="M3 7l9 6l9 -6"></path></svg
      >

      <input
        type="email"
        id="input-left-icon"
        name="input-left-icon"
        placeholder="Your email"
        class="block w-full h-10 py-2 pl-10 pr-4 text-sm bg-white border border-transparent rounded-lg appearance-none text-accent-700 duration-300 ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
      />
    </div>
  </div>
</div>
