---
export const description = "Error input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex justify-center w-full max-w-4xl px-12 py-48 mx-auto">
  <!-- copy:start -->
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <TextInput
    id="email-error"
    name="email-error"
    label="Email address"
    type="email"
    variant="default"
    size="base"
    placeholder="you@example.com"
    error="Please enter a valid email address"
  />

  <TextInput
    id="password-error"
    name="password-error"
    label="Password"
    type="password"
    passwordToggle={true}
    variant="default"
    size="base"
    placeholder="••••••••"
    error="Password must be at least 8 characters"
  />

  <TextInput
    id="creditCard-error"
    name="creditCard-error"
    label="Credit Card Number"
    type="text"
    formatCreditCard={true}
    variant="default"
    size="base"
    placeholder="XXXX XXXX XXXX XXXX"
    error="Invalid card number"
  />
  </div>
  <!-- copy:end -->
</div>
