---
export const description = "Password input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->

  <TextInput
    type="password"
    name="password"
    label="Password input without right icon"
    showRightIcon={false}
    placeholder="••••••••"
  />
  <!-- copy:end -->
</div>
