---
export const description = "Search input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="justify-center h-full bg-white gap-2 p-15 dark:bg-zinc-900">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <TextInput
      id="search-left"
      name="search-left"
      label="Search (Left Icon)"
      type="search"
      iconPosition="left"
      variant="default"
      size="base"
      placeholder="Search with left icon"
    />
    <!-- copy:end -->
  </div>
</div>
