---
export const description = "Url input";
import Input from "@/components/fundations/inputs/Input.astro";
---

<div class="max-w-xs mx-auto py-60">
  <Input
    id="url-input"
    name="url-input"
    type="url"
    label="URL Input"
    placeholder="Enter website URL"
  />
</div>
