---
export const description = "Search input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <TextInput
    id="search-left"
    name="search-left"
    label="Search (Left Icon)"
    type="search"
    iconPosition="left"
    variant="default"
    size="base"
    placeholder="Search with left icon"
  />

  
  <!-- copy:end -->
</div>
