---
export const description = "Search input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <TextInput
  
    id="search-right"
    name="search-right"
    label="Search (Right Icon)"
    type="search"
    iconPosition="right"
    variant="default"
    size="base"
    placeholder="Search with right icon"
  />
  <!-- copy:end -->
</div>
