---
export const description = "Search input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="gap-2 justify-center p-15 bg-white dark:bg-black h-full">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <TextInput
    
      id="search-right"
      name="search-right"
      label="Search (Right Icon)"
      type="search"
      iconPosition="right"
      variant="default"
      size="base"
      placeholder="Search with right icon"
    />
    <!-- copy:end -->
  </div>
</div>
