---
export const description = "Telephone input";
import Input from "@/components/fundations/inputs/Input.astro";
---

<div class="max-w-xs mx-auto py-60">
  <Input
    id="tel-input"
    name="tel-input"
    type="tel"
    label="Telephone Input"
    placeholder="Enter phone number"
  />
</div>
