---
export const description = "Search input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---
<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <TextInput
    id="search-right"
    name="search-right"
    label="Search (No Icon)"
    type="search"
    showLeftIcon={false}
    variant="default"
    size="base"
    placeholder="Search with no icon"
  />
  <!-- copy:end -->
</div>
