---
export const description = "Date input";
import Input from "@/components/fundations/inputs/Input.astro";
---

<div class="max-w-xs mx-auto py-60">
  <Input id="date-input" name="date-input" type="date" label="Date Input" />
</div>
