---
export const description = "Time input";
import Input from "@/components/fundations/inputs/Input.astro";
---

<div class="max-w-xs mx-auto py-60">
  <Input id="time-input" name="time-input" type="time" label="Time Input" />
</div>
