---
export const description = "Date input";
import Input from "@/components/fundations/inputs/Input.astro";
---

<div class="max-w-xs mx-auto py-60">
  <Input
    id="datetime-input"
    name="datetime-input"
    type="datetime-local"
    label="Date & Time Input"
  />
</div>
