---
export const description = "Banking inputs input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->


  <TextInput
    id="cvv"
    name="cvv"
    label="CVV"
    type="text"
    variant="default"
    size="base"
    placeholder="123"
  />

  
  <!-- copy:end -->
</div>
