---
export const description = "Month input";
import Input from "@/components/fundations/inputs/Input.astro";
---

<div class="max-w-xs mx-auto py-60">
  <Input id="month-input" name="month-input" type="month" label="Month Input" />
</div>
