---
export const description = "Banking inputs input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="gap-2 justify-center p-15 bg-white dark:bg-zinc-900 h-full">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <TextInput
      id="cvv"
      name="cvv"
      label="CVV"
      type="text"
      variant="default"
      size="base"
      placeholder="123"
    />
    <!-- copy:end -->
  </div>
</div>
