---
export const description = "Week input";
import Input from "@/components/fundations/inputs/Input.astro";
---

<div class="max-w-xs mx-auto py-60">
  <Input id="week-input" name="week-input" type="week" label="Week Input" />
</div>
