---
export const description = "Banking inputs input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->



  <TextInput
    id="creditCard"
    name="creditCard"
    label="Credit Card Number no icon"
    type="text"
    formatCreditCard={true}
    variant="default"
    size="base"
    placeholder="XXXX XXXX XXXX XXXX"
    showLeftIcon={false}
  />

  <!-- copy:end -->
</div>
