---
export const description = "Banking inputs input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---
<div class="gap-2 justify-center p-15 bg-white dark:bg-black h-full">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <TextInput
      id="creditCard"
      name="creditCard"
      label="Credit Card Number no icon"
      type="text"
      formatCreditCard={true}
      variant="default"
      size="base"
      placeholder="XXXX XXXX XXXX XXXX"
      showLeftIcon={false}
    />
    <!-- copy:end -->
 </div>
</div>
