---
export const description = "Color input";
import Input from "@/components/fundations/inputs/Input.astro";
---

<div class="max-w-xs mx-auto py-60">
  <Input
    id="color-input"
    name="color-input"
    type="color"
    label="Color Input"
    class="h-10"
  />
</div>
