---
export const description = "Range input";
import Input from "@/components/fundations/inputs/Input.astro";
---

<div class="max-w-xs mx-auto py-60">
  <Input
    id="range-input"
    name="range-input"
    type="range"
    label="Range Input"
    min="0"
    max="100"
    step="10"
  />
</div>
