---
export const description = "Error input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---
<div class="gap-2 justify-center p-15 bg-white dark:bg-black h-full">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <TextInput
      id="email-error"
      name="email-error"
      label="Email address"
      type="email"
      variant="default"
      size="base"
      placeholder="you@example.com"
      error="Please enter a valid email address"
    />
    <!-- copy:end -->
  </div>
</div>
