---
export const description = "Error input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="justify-center h-full bg-white gap-2 p-15 dark:bg-zinc-900">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <TextInput
      id="email-error"
      name="email-error"
      label="Email address"
      type="email"
      variant="default"
      size="base"
      placeholder="you@example.com"
      error="Please enter a valid email address"
    />
    <!-- copy:end -->
  </div>
</div>
