---
export const description = "File input";
import Input from "@/components/fundations/inputs/Input.astro";
---

<div class="max-w-xs mx-auto py-60">
  <Input id="file-input" name="file-input" type="file" label="File Input" />
</div>
