---
export const description = "Error input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---
<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <TextInput
    id="email-error"
    name="email-error"
    label="Email address"
    type="email"
    variant="default"
    size="base"
    placeholder="you@example.com"
    error="Please enter a valid email address"
  />
  <!-- copy:end -->
</div>
