---
export const description = "Code input with button";
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div
  class="flex flex-wrap items-end justify-center max-w-md py-12 mx-auto gap-4"
>
  <div
    class="relative flex flex-wrap items-end justify-center max-w-md py-12 mx-auto gap-4"
  >
    <div class="w-full space-y-1">
      <Text
        for="input-end-button"
        tag="label"
        variant="textSM"
        class="font-medium text-base-500"
      >
        Coupon Code
      </Text>
      <div class="relative flex items-center">
        <input
          type="text"
          id="input-end-button"
          name="input-end-button"
          placeholder="Enter code"
          class="block w-full h-10 py-2 pl-4 pr-24 text-sm bg-white border border-transparent rounded-lg appearance-none text-accent-700 duration-300 ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
        />
        <Button variant="accent" size="xs" class="absolute right-2">
          Apply
        </Button>
      </div>
    </div>
  </div>
</div>
