---
export const description = "Hidden input";
import Input from "@/components/fundations/inputs/Input.astro";
---

<div class="max-w-xs mx-auto py-60">
  <div>
    <p class="block mb-1 text-sm font-medium text-base-700">
      Hidden Input 
    </p>
    <Input
      id="hidden-input"
      name="hidden-input"
      type="hidden"
      value="hidden-value"
    />
    <p class="mt-1 text-xs text-base-500">Value: "hidden-value"</p>
  </div>
</div>
