---
export const description = "Error input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---
<div class="gap-2 justify-center p-15 bg-white dark:bg-black h-full">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <TextInput
      id="password-error"
      name="password-error"
      label="Password"
      type="password"
      passwordToggle={true}
      variant="default"
      size="base"
      placeholder="••••••••"
      error="Password must be at least 8 characters"
    />
    <!-- copy:end -->
 </div>
</div>
