---
export const description = "Error input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---
<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <TextInput
    id="password-error"
    name="password-error"
    label="Password"
    type="password"
    passwordToggle={true}
    variant="default"
    size="base"
    placeholder="••••••••"
    error="Password must be at least 8 characters"
  />
  <!-- copy:end -->
</div>
