---
export const description = "Error input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="gap-2 justify-center p-15 bg-white dark:bg-zinc-900 h-full">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <TextInput
      id="creditCard-error"
      name="creditCard-error"
      label="Credit Card Number"
      type="text"
      formatCreditCard={true}
      variant="default"
      size="base"
      placeholder="XXXX XXXX XXXX XXXX"
      error="Invalid card number"
    />
    <!-- copy:end -->
  </div>
</div>
