---
export const description = "Input with show/hide password";
import Text from "@/components/fundations/typography/Text.astro";
---

<div
  class="flex flex-wrap items-end justify-center max-w-md py-12 mx-auto gap-4"
>
  <div
    class="relative flex flex-wrap items-end justify-center max-w-md py-12 mx-auto gap-4"
  >
    <div class="w-full space-y-1" x-data="{ showPassword: false }">
      <Text
        for="input-password"
        tag="label"
        variant="textSM"
        class="font-medium text-base-500"
      >
        Password
      </Text>
      <div class="relative">
        <input
          :type="showPassword ? 'text' : 'password'"
          id="input-password"
          name="input-password"
          placeholder="Enter password"
          class="block w-full h-10 py-2 pl-4 pr-10 text-sm bg-white border border-transparent rounded-lg appearance-none text-accent-700 duration-300 ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
        />
        <button
          @click="showPassword = !showPassword"
          type="button"
          class="absolute inset-y-0 right-0 flex items-center pr-3  text-base-500"
        >
          <svg
            x-show="!showPassword"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-eye size-5"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path><path
              d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
            ></path></svg
          >
          <svg
              x-show="showPassword"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-eye-off size-5"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M10.585 10.587a2 2 0 0 0 2.829 2.828"></path><path
              d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87"
            ></path><path d="M3 3l18 18"></path></svg
          >
        </button>
      </div>
    </div>
  </div>
</div>
