---
export const description = "Url input";
import Input from "@/components/fundations/inputs/Input.astro";
---

<div class="max-w-xs mx-auto py-60">
  <Input
    as="url-with-select"
    id="website-url"
    name="website-url"
    label="Website URL"
    placeholder="example.com"
    urlOptions={["https://", "http://", "ftp://", "mailto:"]}
    defaultUrlOption="https://"
  />
</div>
