---
export const description = "Error input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="flex items-center justify-center p-8">
  <!-- copy:start -->
  <TextInput
    id="creditCard-error"
    name="creditCard-error"
    label="Credit Card Number"
    type="text"
    formatCreditCard={true}
    variant="default"
    size="base"
    placeholder="XXXX XXXX XXXX XXXX"
    error="Invalid card number"
  />
  <!-- copy:end -->
</div>
