---
export const description = "Tags input";
import Input from "@/components/fundations/inputs/Input.astro";
---

<div class="max-w-xs mx-auto py-60">
  <Input
    as="tags"
    id="tags-input"
    name="tags-input"
    label="Tags"
    placeholder="Add a tag"
    initialTags={["Tailwind ", "Astro", "Alpine"]}
  />
</div>
