---
export const description = "Disable input";
import TextInput from "@/components/fundations/inputs/TextInput.astro";
---

<div class="justify-center h-full bg-white gap-2 p-15 dark:bg-zinc-900">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <TextInput
      id="email"
      name="email"
      label="Disabled"
      type="email"
      variant="default"
      size="base"
      placeholder="you@example.com"
      required
      disabled={true}
    />
    <!-- copy:end -->
  </div>
</div>
