---
export const description = "Simple input with label";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="max-w-xs mx-auto py-60">
  <div class="w-full space-y-1" x-data="{ count: 0 }">
    <Text
      for="input-plus-minus"
      tag="label"
      variant="textSM"
      class="font-medium text-base-500"
    >
      Quantity
    </Text>
    <div class="flex items-center">
      <button
        @click="count--"
        class="px-3 py-2 rounded-l-lg bg-base-100 hover:bg-base-200 focus:outline-none focus:ring-2 focus:ring-accent-500 focus:ring-offset-2"
        >-</button
      >
      <input
        type="number"
        id="input-plus-minus"
        name="input-plus-minus"
        x-model="count"
        class="w-16 h-10 px-0 text-sm text-center border-t border-b text-accent-700 border-base-200 focus:outline-none focus:ring-0"
        readonly
      />
      <button
        @click="count++"
        class="px-3 py-2 rounded-r-lg bg-base-100 hover:bg-base-200 focus:outline-none focus:ring-2 focus:ring-accent-500 focus:ring-offset-2"
        >+</button
      >
    </div>
  </div>
</div>
