---
export const description = "Range quantity input with + and - buttons";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="max-w-xs mx-auto py-60">
  <div class="w-full space-y-1" x-data="{ value: 50, min: 0, max: 100 }">
    <Text
      for="input-chevrons"
      tag="label"
      variant="textSM"
      class="font-medium text-base-500"
    >
      Value
    </Text>
    <div class="flex items-center">
      <button
        @click="value = Math.max(min, value - 1)"
        class="h-10 px-3 py-2 rounded-l-lg bg-base-100 hover:bg-base-200 focus:outline-none focus:ring-2 focus:ring-accent-500 focus:ring-offset-2"
      >
        <svg
          class="w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"></path></svg
        >
      </button>
      <input
        type="number"
        id="input-chevrons"
        name="input-chevrons"
        x-model="value"
        class="w-16 h-10 px-3 py-2 text-sm text-center border-t border-b text-accent-700 border-base-200 focus:outline-none focus:ring-0"
        readonly
      />
      <button
        @click="value = Math.min(max, value + 1)"
        class="h-10 px-3 py-2 rounded-r-lg bg-base-100 hover:bg-base-200 focus:outline-none focus:ring-2 focus:ring-accent-500 focus:ring-offset-2"
      >
        <svg
          class="w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"></path></svg
        >
      </button>
    </div>
  </div>
</div>
