---
export const description = "File upload";
---

<div class="gap-2 justify-center p-15 bg-white dark:bg-zinc-900 h-full">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <div class="flex items-center justify-center w-full">
      <label
        for="dropzone-file"
        class="flex flex-col items-center justify-center w-full h-64 max-w-lg bg-white border rounded-lg cursor-pointer border-zinc-200 hover:bg-zinc-50 transition-colors duration-200 ease-in-out dark:bg-zinc-900 dark:border-zinc-700 dark:hover:bg-zinc-800"
      >
        <div class="flex flex-col items-center justify-center p-8 text-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-cloud-upload size-8 text-blue-500"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1"
            ></path>
            <path d="M9 15l3 -3l3 3"></path>
            <path d="M12 12l0 9"></path>
          </svg>
          <p
            class="mt-2 text-sm font-semibold text-zinc-500 dark:text-zinc-200"
          >
            Click to upload or drag and drop
          </p>
          <p class="mt-2 text-xs text-zinc-400 dark:text-zinc-400">
            SVG, PNG, JPG, or GIF (MAX. 800x400px)
          </p>
        </div>
        <input id="dropzone-file" type="file" class="hidden" />
      </label>
    </div>
    <!-- copy:end -->
  </div>
</div>
