---
export const description = "Card details input";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="max-w-xs mx-auto py-60">
  <div x-data="{ cardNumber: '' }" class="space-y-2">
    <Text
      for="card-number"
      tag="label"
      variant="textBase"
      class="font-medium text-base-500"
    >
      Card Number
    </Text>
    <input
      type="text"
      id="card-number"
      name="card-number"
      x-model="cardNumber"
      @input="
    cardNumber = cardNumber
      .replace(/\s+/g, '') // Remove all spaces
      .replace(/[^0-9]/g, '') // Remove non-numeric characters
      .match(/.{1,4}/g) // Split into groups of 4
      ?.join(' ') || '' // Join groups with a space
  "
      maxlength="19"
      placeholder="1234 5678 9012 3456"
      class="block w-full h-10 px-4 py-2 text-sm bg-white border border-transparent rounded-lg appearance-none text-accent-700 duration-300 ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
    />
  </div>
</div>
