---
export const description = "Date and time picker";
import Text from "@/components/fundations/typography/Text.astro";
---

<div
  class="flex flex-wrap max-w-md items-end justify-center gap-4 py-12 mx-auto"
>
  <div class="space-y-1">
    <Text
      for="input-datetime"
      tag="label"
      variant="textSM"
      class="text-base-500 font-medium"
    >
      Date and Time
    </Text>
    <input
      type="datetime-local"
      id="input-datetime"
      name="input-datetime"
      class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
    />
  </div>
</div>
