---
export const description = "OTP input with four digits";
import Text from "@/components/fundations/typography/Text.astro";
---

<div
  class="flex flex-wrap max-w-md items-end justify-center gap-4 py-12 mx-auto"
>
  <div class="space-y-1" x-data="{ otp: ['', '', '', ''] }">
    <Text
      for="otp-spaced"
      tag="label"
      variant="textSM"
      class="text-base-500 font-medium"
    >
      OTP
    </Text>
    <div class="flex gap-x-2">
      <template x-for="(digit, index) in otp" :key="index">
        <input
          type="text"
          :id="'otp-spaced-' + index"
          :name="'otp-spaced-' + index"
          x-model="otp[index]"
          maxlength="1"
          class="w-12 h-12 text-center text-2xl text-accent-700 border border-transparent rounded-lg appearance-none ring-1 ring-base-200 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2"
          @input="$event.target.nextElementSibling?.focus()"
        />
      </template>
    </div>
  </div>
</div>
