---
export const description = "Phone number input with left select";
import Text from "@/components/fundations/typography/Text.astro";
---

<div
  class="flex flex-wrap max-w-md items-end justify-center gap-4 py-12 mx-auto"
>
  <div class="space-y-1">
    <Text
      for="phone"
      tag="label"
      variant="textSM"
      class="text-base-500 font-medium"
    >
      Phone Number
    </Text>
    <div class="flex">
      <select
        class="h-10 px-3 text-sm text-base-500 bg-base-50 border border-r-0 border-base-200 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-accent-500 focus:ring-offset-2 pr-8"
      >
        <option>+1</option>
        <option>+44</option>
        <option>+91</option>
      </select>
      <input
        type="tel"
        id="phone"
        name="phone"
        placeholder="(123) 456-7890"
        class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-r-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
      />
    </div>
  </div>
</div>
