---
export const description =
  "Magic link login block: drop an email. Passwords are so last century.";

// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Input from "@/components/fundations/inputs/Input.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section>
  <div class="relative px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="max-w-md mx-auto">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight text-base-900"
        >
          Magic, but make it login
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-base-500 text-balance"
        >
          Drop your email below. We'll zap a link to your inbox, no passwords,
          no drama, just login magic.
        </Text>
      </div>
      <form class="mt-10 space-y-4">
        <Input
          id="email"
          name="email"
          type="email"
          label="Email address"
          placeholder="email@example.com"
          variant="default"
          size="base"
        />
        <Button fullWidth variant="accent" size="base">
          Send magic link
        </Button>
      </form>
    </div>
  </div>
</section>
