---
export const description =
  "Centered sign-in block: email/password inputs, remember-me, primary & Google button, enter credentials like it’s 1999.";

// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Input from "@/components/fundations/inputs/Input.astro";
import Button from "@/components/fundations/buttons/Button.astro";
// Icons
import GoogleColor from "@/components/fundations/icons/GoogleColor.astro";
---

<section>
  <div class="relative px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="max-w-md mx-auto">
      <div class="text-center lg:text-balance">
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight text-base-900"
        >
          Sign in
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-base-500 text-balance"
        >
          Welcome back! Fire up that password muscle memory, just like the good
          old dial-up days.
        </Text>
      </div>
      <form class="mt-10 space-y-4">
        <Input
          id="email"
          name="email"
          type="email"
          label="Email address"
          placeholder="email@example.com"
          variant="default"
          size="base"
        />
        <Input
          id="password"
          name="password"
          type="password"
          label="Password"
          placeholder="************"
          variant="alternative"
          size="base"
        />
        <div class="flex items-center gap-3">
          <input
            id="remember-me"
            name="remember-me"
            type="checkbox"
            class="rounded shadow size-4 border-base-300 text-accent-600 focus:ring-accent-600"
          />
          <Text
            for="remember-me"
            tag="label"
            variant="textSM"
            class="block font-medium text-base-500"
            >Remember me for 30 days
          </Text>
        </div>
        <Button fullWidth variant="accent" size="base">
          Sign in with email
        </Button>
        <Button
          variant="alternative"
          size="base"
          gap="sm"
          class="flex items-center w-full"
        >
          <GoogleColor slot="left-icon" class="size-4" />
          Sign in with Google
        </Button>
      </form>
      <Text tag="p" variant="textXS" class="mt-4 font-medium text-base-500">
        Dont' have an account?
        <a href="#_" class="font-medium text-accent-500 hover:text-base-500">
          Sign up
        </a>
      </Text>
    </div>
  </div>
</section>
