---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="flex flex-col lg:flex-row gap-12 lg:gap-24 items-center">
      <div class="w-full mx-auto">
        <div class="max-w-lg">
          <div class="lg:text-balance">
            <Text
              tag="span"
              variant="eyebrow">
              Tagline
            </Text>
            <Heading
              class="mt-4"
              level={1}
              variant="default">
              Sign in to your account
            </Heading>
            <Text
              class="mt-4 lg:text-balance"
              tag="p"
              variant="body">
              Welcome back! Please enter your email and password to sign in.
            </Text>
          </div>
          <form
            action="#"
            method="POST"
            class="mx-auto mt-12 max-w-lg">
            <div class="flex flex-col gap-y-6">
              <div>
                <Text
                  for="email"
                  tag="label"
                  variant="inputLabel">
                  Email
                </Text>
                <div class="mt-2.5">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    autocomplete="email"
                    required
                    aria-required="true"
                    aria-describedby="email-error"
                    placeholder="Your email"
                    class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                  />
                  <span
                    id="email-error"
                    class="text-red-600 text-sm hidden">
                    Please enter a valid email address.
                  </span>
                </div>
              </div>
              <div>
                <Text
                  for="email"
                  tag="label"
                  class="flex items-center justify-between"
                  variant="inputLabel">
                  Password
                  <Text
                    for="email"
                    tag="a"
                    variant="link">
                    Forgot password?
                  </Text>
                </Text>
                <div class="mt-2.5">
                  <input
                    type="password"
                    name="password"
                    id="password"
                    autocomplete="current-password"
                    required
                    aria-required="true"
                    aria-describedby="password-error"
                    placeholder="Your password"
                    class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                  />
                  <span
                    id="password-error"
                    class="text-red-600 text-sm hidden">
                    Please enter a valid password.
                  </span>
                </div>
              </div>
              <div class="flex items-center gap-3">
                <input
                  id="remember-me"
                  name="remember-me"
                  type="checkbox"
                  class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
                />
                <Text
                  for="remember-me"
                  tag="label"
                  variant="inputLabel">
                  Remember me
                </Text>
              </div>
            </div>
            <div class="mt-10">
              <Button
                class="w-full"
                variant="accent"
                size="base">
                Sign in
              </Button>
            </div>
            <div class="flex items-center mt-4">
              <Text
                tag="p"
                variant="body">
                Don't have an account?
                <Text
                  tag="a"
                  variant="link">
                  Sign up
                </Text>
              </Text>
            </div>
          </form>
        </div>
      </div>
      <div
        class="flex flex-col size-full items-center justify-center lg:ml-auto">
        <div class="flex flex-col items-center justify-center size-full">
          <img
            alt="QR Code"
            class="size-full mx-auto"
            src="/assets/qr-lexingtonthemes.svg"
          />
          <Text
            class="mt-4"
            tag="p"
            variant="body">
            Log in with QR Code
          </Text>
        </div>
      </div>
    </div>
  </div>
</section>
