<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-lg mx-auto">
      <div class="text-center lg:text-balance">
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
          >Sign in</span
        >
        <h1
          class="text-3xl mt-4 font-semibold tracking-tight text-gray-900 sm:text-balance">
          Sign in to your account
        </h1>
        <p class="mt-6 text-base font-medium text-gray-500 sm:text-balance">
          Welcome back! Please enter your email and password to sign in.
        </p>
      </div>
      <form
        action="#"
        method="POST"
        class="mx-auto mt-12 max-w-lg">
        <div class="flex flex-col gap-y-6">
          <div>
            <label
              for="email"
              class="block text-sm font-medium text-gray-500">
              Email
            </label>
            <div class="mt-2.5">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                required
                aria-required="true"
                aria-describedby="email-error"
                placeholder="Your email"
                class="block w-full h-10 px-4 py-2 text-sm text-blue-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-gray-200 placeholder-gray-400 focus:border-gray-300 focus:bg-transparent focus:outline-none focus:ring-blue-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span
                id="email-error"
                class="text-red-600 text-sm hidden">
                Please enter a valid email address.
              </span>
            </div>
          </div>
          <div>
            <label
              for="password"
              class="text-sm font-medium text-gray-500 flex items-center justify-between">
              Password
              <a
                href="#_"
                class="text-blue-600 text-sm hover:text-gray-900"
                >Forgot password?</a
              >
            </label>
            <div class="mt-2.5">
              <input
                type="password"
                name="password"
                id="password"
                autocomplete="current-password"
                required
                aria-required="true"
                aria-describedby="password-error"
                placeholder="Your password"
                class="block w-full h-10 px-4 py-2 text-sm text-blue-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-gray-200 placeholder-gray-400 focus:border-gray-300 focus:bg-transparent focus:outline-none focus:ring-blue-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span
                id="password-error"
                class="text-red-600 text-sm hidden">
                Please enter a valid password.
              </span>
            </div>
          </div>
          <div class="flex items-center">
            <input
              id="remember-me"
              name="remember-me"
              type="checkbox"
              class="size-4 rounded border-gray-300 text-blue-600 focus:ring-bluw-600"
            />
            <label
              for="remember-me"
              class="ml-3 block text-sm leading-6 text-gray-900"
              >Remember me</label
            >
          </div>
        </div>

        <div class="mt-10">
          <button
            type="submit"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-medium text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-blue-600 hover:to-blue-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none w-full"
            >Sign in</button
          >
        </div>
      </form>
      <div class="relative mt-12">
        <div
          class="absolute inset-0 flex items-center"
          aria-hidden="true">
          <div class="w-full border-t"></div>
        </div>
        <div class="relative flex justify-center text-sm font-medium leading-6">
          <span class="bg-white px-6 text-gray-900">Or Sign in with</span>
        </div>
      </div>
      <div class="flex flex-col gap-y-4 mt-4">
        <button
          class="flex items-center w-full justify-between gap-2 h-10 px-4 py-2 text-sm font-medium text-white transition-all bg-black rounded-lg focus:ring-2 focus:ring-gray-900 focus:ring-offset-2 duration-300 hover:shadow-none hover:bg-gray-800 ring-offset-white">
          <span>Sign in with Apple</span>
          <svg
            class="size-5"
            viewBox="0 0 61 74"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M51.0332 39.3793C51.0696 36.549 51.8214 33.7739 53.2186 31.3122C54.6157 28.8506 56.6129 26.7823 59.0241 25.2999C57.4923 23.1122 55.4715 21.3118 53.1222 20.0417C50.7728 18.7716 48.1597 18.0668 45.4904 17.9833C39.7961 17.3856 34.2759 21.3906 31.3741 21.3906C28.4163 21.3906 23.9488 18.0427 19.1379 18.1416C16.0261 18.2422 12.9935 19.147 10.3354 20.7681C7.6773 22.3892 5.48446 24.6711 3.97052 27.3917C-2.5874 38.7459 2.30423 55.433 8.58628 64.611C11.7293 69.1052 15.4027 74.1253 20.2092 73.9473C24.9126 73.7522 26.6693 70.948 32.3467 70.948C37.9715 70.948 39.6195 73.9473 44.5236 73.8341C49.5706 73.7522 52.7504 69.3199 55.7833 64.7832C58.0416 61.5809 59.7793 58.0417 60.9322 54.2966C58 53.0565 55.4977 50.9806 53.7374 48.3279C51.9771 45.6751 51.0366 42.5629 51.0332 39.3793Z"
              fill="currentColor"
            ></path>
            <path
              d="M41.7704 11.9472C44.5223 8.64377 45.878 4.39769 45.5498 0.110733C41.3456 0.5523 37.4621 2.56163 34.673 5.73837C33.3094 7.29028 32.265 9.09575 31.5995 11.0515C30.9341 13.0073 30.6606 15.0751 30.7948 17.1367C32.8976 17.1583 34.978 16.7025 36.8791 15.8036C38.7803 14.9047 40.4527 13.5862 41.7704 11.9472V11.9472Z"
              fill="currentColor"
            ></path>
          </svg>
        </button>
        <button
          class="flex items-center w-full justify-between gap-2 h-10 px-4 py-2 text-sm font-medium text-white transition-all bg-blue-500 rounded-lg focus:ring-2 focus:ring-blie-900 focus:ring-offset-2 duration-300 hover:shadow-none hover:bg-blue-600 ring-offset-white">
          <span>Sign in with Meta</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"

            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-meta size-5"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path
              d="M12 10.174c1.766 -2.784 3.315 -4.174 4.648 -4.174c2 0 3.263 2.213 4 5.217c.704 2.869 .5 6.783 -2 6.783c-1.114 0 -2.648 -1.565 -4.148 -3.652a27.627 27.627 0 0 1 -2.5 -4.174z"
            ></path><path
              d="M12 10.174c-1.766 -2.784 -3.315 -4.174 -4.648 -4.174c-2 0 -3.263 2.213 -4 5.217c-.704 2.869 -.5 6.783 2 6.783c1.114 0 2.648 -1.565 4.148 -3.652c1 -1.391 1.833 -2.783 2.5 -4.174z"
            ></path></svg
          >
        </button>
        <button
          class="flex items-center w-full justify-between gap-2 h-10 px-4 py-2 text-sm font-medium text-black transition-all bg-white border hover:bg-gray-50 rounded-lg focus:ring-2 focus:ring-gray-900 focus:ring-offset-2 duration-300 hover:shadow-none ring-offset-white">
          <span>Sign in with Google</span>
          <svg
            class="size-5"
            viewBox="0 0 29 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.0005 0.00394423C14.0005 0.00394423 22.2527 -0.365052 26.6278 7.90002H13.2983C13.2983 7.90002 10.7828 7.81923 8.63397 10.8601C8.0167 12.1364 7.3532 13.4511 8.09777 16.0422C7.02517 14.2315 2.40332 6.21246 2.40332 6.21246C2.40332 6.21246 5.66332 0.330691 14.0004 0.00394423H14.0005Z"
              fill="#EF3F36"
            ></path>
            <path
              d="M26.1994 20.986C26.1994 20.986 22.3915 28.2938 13.0244 27.9325C14.1818 25.9373 19.691 16.4305 19.691 16.4305C19.691 16.4305 21.022 14.3008 19.4518 10.9256C18.6531 9.75315 17.8391 8.52684 15.2157 7.87324C17.3261 7.85413 26.6045 7.87324 26.6045 7.87324C26.6045 7.87324 30.0805 13.6281 26.1994 20.986Z"
              fill="#FCD900"
            ></path>
            <path
              d="M1.85931 21.0433C1.85931 21.0433 -2.58899 14.1044 2.41095 6.20068C3.56452 8.19589 9.07371 17.7027 9.07371 17.7027C9.07371 17.7027 10.262 19.917 13.9772 20.2475C15.3932 20.1437 16.8669 20.0553 18.7497 18.1217C17.7117 19.9516 13.0551 27.9476 13.0551 27.9476C13.0551 27.9476 6.31134 28.0706 1.8592 21.0433H1.85931Z"
              fill="#61BC5B"
            ></path>
            <path
              d="M13.0205 28.0013L14.8955 20.2053C14.8955 20.2053 16.9557 20.0437 18.6842 18.1562C17.6115 20.0362 13.0205 28.0013 13.0205 28.0013Z"
              fill="#5AB055"
            ></path>
            <path
              d="M7.71973 14.089C7.71973 10.6523 10.5168 7.86523 13.9658 7.86523C17.4148 7.86523 20.2119 10.6523 20.2119 14.089C20.2119 17.5257 17.4148 20.3127 13.9658 20.3127C10.5168 20.3089 7.71973 17.5257 7.71973 14.089Z"
              fill="white"
            ></path>
            <path
              d="M8.76562 14.0892C8.76562 11.2292 11.0921 8.90723 13.9663 8.90723C16.8366 8.90723 19.1669 11.2254 19.1669 14.0892C19.1669 16.9494 16.8406 19.2714 13.9663 19.2714C11.0959 19.2714 8.76562 16.9494 8.76562 14.0892Z"
              fill="url(#paint0_linear_822_123)"
            ></path>
            <path
              d="M26.6007 7.87673L18.8808 10.1333C18.8808 10.1333 17.7157 8.43023 15.2119 7.87673C17.384 7.86515 26.6007 7.87673 26.6007 7.87673Z"
              fill="#EACA05"
            ></path>
            <path
              d="M7.94735 15.7577C6.86313 13.8855 2.40332 6.2124 2.40332 6.2124L8.12089 11.8481C8.12089 11.8481 7.53441 13.0514 7.75441 14.7735L7.94724 15.7577H7.94735Z"
              fill="#DF3A32"
            ></path>
            <defs>
              <linearGradient
                id="paint0_linear_822_123"
                x1="13.9661"
                y1="8.9804"
                x2="13.9661"
                y2="18.9594"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#86BBE5"></stop>
                <stop
                  offset="1"
                  stop-color="#1072BA"
                ></stop>
              </linearGradient>
            </defs>
          </svg>
        </button>
      </div>
      <div class="flex mt-4 justify-center">
        <p class="text-sm text-gray-500">
          Don't have an account?
          <a
            class="text-blue-600 hover:text-gray-900"
            href="#_"
            >Sign up</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
