---
export const description =
  "Split-screen sign-in: punch in your creds on the left, gaze at abstract art & a hype testimonial on the right.";

// Assets
import { Image } from "astro:assets";
import A1 from "@/images/avatars/avatar1.jpeg";
import Placeholder from "@/images/gradients/1.jpeg";
// Fundations
import Logo from "@/components/assets/Logo.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Input from "@/components/fundations/inputs/Input.astro";
import Button from "@/components/fundations/buttons/Button.astro";
// Icons
import GoogleColor from "@/components/fundations/icons/GoogleColor.astro";
---

<div class="flex h-screen">
  <div class="flex items-center justify-center w-full p-8 bg-white lg:w-1/2">
    <div class="w-full max-w-md py-24 lg:py-32">
      <div>
        <a href="#_">
          <span class="sr-only">Back to home</span>
          <Logo class="h-24 text-accent-500" aria-hidden="true" /></a
        >
        <Text
          tag="h1"
          variant="displayMD"
          class="mt-12 font-medium tracking-tight text-base-900"
        >
          Sign in
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-base-500 text-balance"
        >
          Welcome back. You know the drill, email, password, maybe a tear or
          two.
        </Text>
      </div>
      <form class="mt-10 space-y-4">
        <Input
          id="email"
          name="email"
          type="email"
          label="Email address"
          placeholder="email@example.com"
          variant="default"
          size="base"
        />
        <Input
          id="password"
          name="password"
          type="password"
          label="Password"
          placeholder="************"
          variant="alternative"
          size="base"
        />
        <Input
          as="checkbox"
          id="login-remember"
          name="login-remember"
          label="Remember me for 30 days"
          size="sm"
        />
        <Button fullWidth variant="accent" size="base">
          Sign in with email
        </Button>
        <Button
          variant="alternative"
          size="base"
          gap="sm"
          class="relative flex items-center w-full"
        >
          <GoogleColor slot="left-icon" class="size-4" />
          Sign in with Google
          <!-- Green dot indicator -->
          <span
            class="absolute w-2 h-2 bg-green-500 rounded-full right-3 top-1/2 -translate-y-1/2"
          ></span>
        </Button>
      </form>
      <Text tag="p" variant="textXS" class="mt-4 font-medium text-base-500">
        Dont' have an account?
        <a href="#_" class="font-medium text-accent-500 hover:text-base-500">
          Sign up
        </a>
      </Text>
    </div>
  </div>
  <div class="relative hidden lg:block lg:w-1/2">
    <Image
      width={1200}
      height={1200}
      src={Placeholder}
      alt="#_"
      aria-hidden="true"
      class="object-cover object-left w-full h-full bg-base-50"
    />
    <div class="absolute inset-0 bg-black/0"></div>
    <div
      class="absolute p-6 bg-white rounded-lg shadow-lg shadow-base-500/20 outline outline-base-200 bottom-20 left-10 right-10"
    >
      <div class="relative flex flex-col gap-2">
        <Text tag="h3" variant="textBase" class="font-medium">
          "I’ve seen enough UI kits to last a lifetime. Oxbow’s the first one
          that didn’t make me roll my eyes."
        </Text>
        <div class="flex items-center mt-2 gap-4">
          <Image
            src={A1}
            alt="#_"
            width={1000}
            height={1000}
            aria-hidden="true"
            class="object-cover object-top rounded-full size-10"
          />
          <div>
            <Text
              tag="p"
              variant="textBase"
              class="font-semibold text-base-900"
            >
              Johan Snällström
            </Text>
            <Text tag="p" variant="textXS" class="text-base-500">
              Software Engineer
            </Text>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
