---
import Button from "@/components/fundations/buttons/Button.astro";
import Apple from "@/components/fundations/icons/Apple.astro";
import Chrome from "@/components/fundations/icons/Chrome.astro";
import Meta from "@/components/fundations/icons/Meta.astro";
---

<div class="relative">
  <div
    class="lg:absolute lg:inset-0 lg:right-2/3 relative ring-8 m-4 ring-white rounded-2xl overflow-hidden">
    <img
      class="h-64 w-full bg-base-50 object-cover sm:h-80 lg:absolute lg:h-full"
      src="/people/1w.jpg"
      alt=""
    />
    <!-- Text overlay -->
    <div
      class="absolute inset-0 flex flex-col justify-start lg:text-white lg:bg-base-950 lg:bg-opacity-80 lg:p-10">
      <div class="hidden md:block">
        <img
          class="size-20"
          src="/images/oxbow/whiteLineLogo.png"
          alt="#_"
        />
        <h2 class="text-2xl mt-12 lg:mt-52 font-medium">
          Welcome to Our Platform
        </h2>
        <p class="mt-4">
          Discover a world where seamless connectivity empowers your every
          interaction. Dive into an experience designed to effortlessly connect
          you with what matters most, enhancing productivity and enabling you to
          achieve more.
        </p>
        <div class="flex mt-4">
          <p class="text-sm text-white">
            Don't have an account?
            <a
              class="text-white hover:text-base-500"
              href="#_"
              >Sign up</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="pb-24 pt-16 sm:pb-32 sm:pt-24 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-3 lg:pt-32 lg:pl-32">
    <div class="lg:col-start-2 w-full px-8 lg:px-0">
      <div class="text-center md:text-left lg:text-balance">
        <span
          class="font-mono text-xs font-medium tracking-tight text-accent-600 uppercase"
          >Sign in</span
        >
        <h1
          class="text-3xl mt-4 font-semibold tracking-tight text-base-900 sm:text-balance">
          Sign in to your account
        </h1>
        <p class="mt-6 text-base font-medium text-base-500 sm:text-balance">
          Welcome back! Please enter your email and password to sign in.
        </p>
      </div>
      <form
        action="#"
        method="POST"
        class="mx-auto mt-12 max-w-lg">
        <div class="flex flex-col gap-y-6">
          <div>
            <label
              for="email"
              class="block text-sm font-medium text-base-500">
              Email
            </label>
            <div class="mt-2.5">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                required
                aria-required="true"
                aria-describedby="email-error"
                placeholder="Your email"
                class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span
                id="email-error"
                class="text-red-600 text-sm hidden">
                Please enter a valid email address.
              </span>
            </div>
          </div>
          <div>
            <label
              for="password"
              class="text-sm font-medium text-base-500 flex items-center justify-between">
              Password
              <a
                href="#_"
                class="text-accent-600 text-sm hover:text-base-900"
                >Forgot password?</a
              >
            </label>
            <div class="mt-2.5">
              <input
                type="password"
                name="password"
                id="password"
                autocomplete="current-password"
                required
                aria-required="true"
                aria-describedby="password-error"
                placeholder="Your password"
                class="block w-full h-10 px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
              <span
                id="password-error"
                class="text-red-600 text-sm hidden">
                Please enter a valid password.
              </span>
            </div>
          </div>
          <div class="flex items-center">
            <input
              id="remember-me"
              name="remember-me"
              type="checkbox"
              class="size-4 rounded border-base-300 text-accent-600 focus:ring-accent-600 shadow"
            />
            <label
              for="remember-me"
              class="ml-3 block text-sm leading-6 text-base-900"
              >Remember me</label
            >
          </div>
        </div>

        <div class="mt-10">
          <Button
            class="w-full"
            variant="accent"
            size="base">
            Sign in
          </Button>
        </div>
        <div class="relative mt-12">
          <div
            class="absolute inset-0 flex items-center"
            aria-hidden="true">
            <div class="w-full border-t"></div>
          </div>
          <div
            class="relative flex justify-center text-sm font-medium leading-6">
            <span class="bg-white px-6 text-base-900">Or Sign in with</span>
          </div>
        </div>
        <div class="flex flex-col gap-y-4 mt-4">
          <Button
            class="w-full justify-between"
            variant="apple-brand"
            size="base"
            gap="gapXS">
            Sign in with Apple
            <Apple
              size="sm"
              slot="right-icon"
            />
          </Button>
          <Button
            class="w-full justify-between"
            variant="meta-brand"
            size="base"
            gap="gapXS">
            Sign in with Meta
            <Meta
              size="sm"
              slot="right-icon"
            />
          </Button>
          <Button
            class="w-full justify-between"
            variant="muted"
            size="base"
            gap="gapXS">
            Sign in with Chrome
            <Chrome
              size="sm"
              slot="right-icon"
            />
          </Button>
        </div>
      </form>
    </div>
  </div>
</div>
