<div class="relative">
  <div
    class="lg:absolute lg:inset-0 lg:left-1/2 ring-8 m-4 ring-white rounded-2xl overflow-hidden">
    <img
      class="h-64 w-full bg-gray-50 object-cover sm:h-80 lg:absolute lg:h-full "
      src="/people/1w.jpg"
      alt=""
    />
  </div>
  <div
    class="pb-24 pt-16 sm:pb-32 sm:pt-24 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:pt-32">
    <div class="px-6 lg:px-8">
      <div class="mx-auto lg:mx-0 lg:max-w-lg">
        <div class="lg:text-balance text-center lg:text-left">
          <img
            class="h-20 mb-12 mx-auto lg:mx-0"
            src="/images/oxbow/blueLineLogo.png"
            alt="#_"
          />
          <span
            class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >Sign in</span
          >
          <h1
            class="text-3xl mt-4 font-semibold tracking-tight text-gray-900 sm:text-balance">
            Sign in to your account
          </h1>
          <p class="mt-6 text-base font-medium text-gray-500 sm:text-balance">
            Welcome back! Please enter your email and password to sign in.
          </p>
        </div>
        <form
          action="#"
          method="POST"
          class="mx-auto mt-12 max-w-lg">
          <div class="flex flex-col gap-y-6">
            <div>
              <label
                for="email"
                class="block text-sm font-medium text-gray-500">
                Email
              </label>
              <div class="mt-2.5">
                <input
                  type="email"
                  name="email"
                  id="email"
                  autocomplete="email"
                  required
                  aria-required="true"
                  aria-describedby="email-error"
                  placeholder="Your email"
                  class="block w-full h-10 px-4 py-2 text-sm text-blue-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-gray-200 placeholder-gray-400 focus:border-gray-300 focus:bg-transparent focus:outline-none focus:ring-blue-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <span
                  id="email-error"
                  class="text-red-600 text-sm hidden">
                  Please enter a valid email address.
                </span>
              </div>
            </div>
            <div>
              <label
                for="password"
                class="text-sm font-medium text-gray-500 flex items-center justify-between">
                Password
                <a
                  href="#_"
                  class="text-blue-600 text-sm hover:text-gray-900"
                  >Forgot password?</a
                >
              </label>
              <div class="mt-2.5">
                <input
                  type="password"
                  name="password"
                  id="password"
                  autocomplete="current-password"
                  required
                  aria-required="true"
                  aria-describedby="password-error"
                  placeholder="Your password"
                  class="block w-full h-10 px-4 py-2 text-sm text-blue-700 duration-300 bg-white border border-transparent rounded-lg shadow appearance-none ring-1 ring-gray-200 placeholder-gray-400 focus:border-gray-300 focus:bg-transparent focus:outline-none focus:ring-blue-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
                />
                <span
                  id="password-error"
                  class="text-red-600 text-sm hidden">
                  Please enter a valid password.
                </span>
              </div>
            </div>
            <div class="flex items-center">
              <input
                id="remember-me"
                name="remember-me"
                type="checkbox"
                class="size-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600 shadow"
              />
              <label
                for="remember-me"
                class="ml-3 block text-sm leading-6 text-gray-900"
                >Remember me</label
              >
            </div>
          </div>

          <div class="mt-10">
            <button
              type="submit"
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-medium text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-blue-600 hover:to-blue-800 shadow focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none w-full"
              >Submit</button
            >
          </div>
          <div class="flex items-center mt-4">
            <p class="text-sm text-gray-500">
              Don't have an account?
              <a
                class="text-blue-600 hover:text-gray-900"
                href="#_"
                >Sign up</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
