---
const {
  variant,
  size,
  onlyIconSize,
  gap,
  class: className,
  ...rest
} = Astro.props;
// Accent badge
const accentClass = ["text-white", "bg-accent-600"];
// Alternative badge
const alternativeAccentClass = [
  "text-base-500",
  "bg-white",
  "ring-1",
  "ring-base-200",
];
// Default badge
const defaultClass = ["text-white", "bg-base-900"];
// Muted badge
const mutedClass = ["text-base-700", "bg-base-50"];
// Text badge
const textClass = ["text-base-500", "bg-white"];
// Info badge
const infoClass = ["text-accent-700", "bg-accent-600/10"];
// Success badge
const successClass = ["text-emerald-600", "bg-emerald-600/10"];
// Warning badge
const warningClass = ["text-amber-600", "bg-amber-600/10"];
// Danger badge
const dangerClass = ["text-rose-600", "bg-rose-600/10"];

// Size
const xs = ["px-2.5", "py-1", "text-xs", "rounded-md"];
const sm = ["px-4", "py-1.5", "text-sm", "rounded-lg"];

// Gap
const gapXS = ["gap-1"];
const gapSM = ["gap-4"];
---

<span
  class:list={[
    "inline-flex",
    "items-center",
    "font-medium",
    "relative",
    variant === "accent" && accentClass,
    variant === "alternative" && alternativeAccentClass,
    variant === "default" && defaultClass,
    variant === "muted" && mutedClass,
    variant === "text" && textClass,
    variant === "info" && infoClass,
    variant === "success" && successClass,
    variant === "warning" && warningClass,
    variant === "danger" && dangerClass,
    size === "xs" && xs,
    size === "sm" && sm,
    gap === "xs" && gapXS,
    gap === "sm" && gapSM,
    className,
  ]}
  {...rest}>
  <slot name="left-icon" />
  <slot />
  <slot name="right-icon" />
  <slot name="notification" />
</span>
