---
const {
  variant,
  size,
  onlyIconSize,
  gap,
  class: className,
  ...rest
} = Astro.props;

// Accent badge
const accentClass = [
  "text-white",
  "bg-blue-600",
  "dark:text-white",
  "dark:bg-blue-500",
];
// Alternative badge
const alternativeAccentClass = [
  "text-zinc-500",
  "bg-white",
  "ring-1",
  "ring-zinc-200",
  "dark:text-zinc-200",
  "dark:bg-zinc-800",
  "dark:ring-zinc-700",
];
// Default badge
const defaultClass = [
  "text-white",
  "bg-zinc-900",
  "dark:text-zinc-900",
  "dark:bg-zinc-100",
];
// Muted badge
const mutedClass = [
  "text-zinc-700",
  "bg-zinc-50",
  "dark:text-zinc-200",
  "dark:bg-zinc-800",
];
// Text badge
const textClass = [
  "text-zinc-500",
  "bg-white",
  "dark:text-zinc-200",
  "dark:bg-zinc-900",
];
// Info badge
const infoClass = [
  "text-blue-700",
  "bg-blue-600/10",
  "dark:text-blue-400",
  "dark:bg-blue-500/20",
];
// Success badge
const successClass = [
  "text-emerald-600",
  "bg-emerald-600/10",
  "dark:text-emerald-400",
  "dark:bg-emerald-600/20",
];
// Warning badge
const warningClass = [
  "text-amber-600",
  "bg-amber-600/10",
  "dark:text-amber-400",
  "dark:bg-amber-600/20",
];
// Danger badge
const dangerClass = [
  "text-rose-600",
  "bg-rose-600/10",
  "dark:text-rose-400",
  "dark:bg-rose-600/20",
];

// Size
const xs = ["px-2.5", "py-1", "text-xs", "rounded-md"];
const sm = ["px-4", "py-1.5", "text-sm", "rounded-lg"];

// Gap
const gapXS = ["gap-1"];
const gapSM = ["gap-4"];
---

<span
  class:list={[
    "inline-flex",
    "items-center",
    "font-medium",
    "relative",
    variant === "accent" && accentClass,
    variant === "alternative" && alternativeAccentClass,
    variant === "default" && defaultClass,
    variant === "muted" && mutedClass,
    variant === "text" && textClass,
    variant === "info" && infoClass,
    variant === "success" && successClass,
    variant === "warning" && warningClass,
    variant === "danger" && dangerClass,
    size === "xs" && xs,
    size === "sm" && sm,
    gap === "xs" && gapXS,
    gap === "sm" && gapSM,
    className,
  ]}
  {...rest}
>
  <slot name="left-icon" />
  <slot />
  <slot name="right-icon" />
  <slot name="notification" />
</span>
