---
const { variant, position, size, class: className, ...rest } = Astro.props;
// Accent
const accentClass = ["text-blue-600", "ring-blue-600"];
// Alternative
const alternativeAccentClass = ["text-zinc-500", "ring-zinc-200"];
// Default
const defaultClass = ["text-zinc-800", "ring-zinc-800"];
// Muted
const mutedClass = ["text-zinc-600", "ring-zinc-600"];
// Text
const textClass = ["text-zinc-500", "bg-white"];
// Info
const infoClass = ["text-blue-700", "ring-blue-700"];
// Success
const successClass = ["text-emerald-600", "ring-emerald-600"];
// Warning
const warningClass = ["text-amber-600", "ring-amber-600"];
// Danger
const dangerClass = ["text-rose-600", "ring-rose-600"];
// Position
const positionXS = ["gap-1"];
const positionSM = ["gap-4"];
// Size
const xs = ["text-[0.6rem]", "size-5", "top-0.5", "right-0"];
const sm = ["text-[0.8rem]", "size-7", "top-1", "right-0"];
---

<span
  class:list={[
    "ring-2",
    "absolute",
    "top-0",
    "right-0",
    "transform",
    "translate-x-1/2",
    "-translate-y-1/2",
    "rounded-full",
    "text-[0.6rem]",
    "flex",
    "bg-white",
    "items-center",
    "justify-center",
    variant === "accent" && accentClass,
    variant === "alternative" && alternativeAccentClass,
    variant === "default" && defaultClass,
    variant === "muted" && mutedClass,
    variant === "text" && textClass,
    variant === "info" && infoClass,
    variant === "success" && successClass,
    variant === "warning" && warningClass,
    variant === "danger" && dangerClass,
    position === "xs" && positionXS,
    position === "sm" && positionSM,
    size === "xs" && xs,
    size === "sm" && sm,
  ]}
  {...rest}
>
  <slot />
</span>
