---
import Crosses from "../designAssets/Crosses.astro";
import Tiers from "./Tiers.astro";
---

<section class="relative overflow-hidden">
  <div class="max-w-5xl mx-auto text-center px-8 py-12 lg:py-32 relative">
    <div class="prose-styles max-w-4xl relative">
      <Crosses />
      <div
        class="grid grid-cols-5 md:grid-cols-12 divide-x border relative isolate">
        <div class="flex size-20"></div>
        <div class="flex size-20"></div>
        <div class="flex size-20"></div>
        <div class="flex size-20"></div>
        <div class="flex size-20"></div>
        <div class="md:flex size-20 hidden"></div>
        <div class="md:flex size-20 hidden"></div>
        <div class="md:flex size-20 hidden"></div>
        <div class="md:flex size-20 hidden"></div>
        <div class="md:flex size-20 hidden"></div>
        <div class="md:flex size-20 hidden"></div>
        <div class="md:flex size-20 hidden"></div>
      </div>
      <div class="grid lg:grid-cols-12 items-center md:border-x relative">
        <div
          class="p-8 lg:col-span-10 lg:col-start-2 md:col-span-10 w-full mx-auto border-x relative ">


          <h1
            class="text-4xl relative font-semibold tracking-tighter sm:text-5xl text-balance [@media(max-width:480px)]:text-[2rem] text-black not-prose">
            All Components. All updates. One price
          </h1>
          <p class="text-balance relative max-w-xl mx-auto">
            One-time payment for unlimited access. Get 500+ components today and
            all future updates. No subscriptions, no hidden fees.
          </p>
        </div>
      </div>
      <div
        class="grid grid-cols-5 md:grid-cols-12 divide-x border relative isolate">
        <div class="flex size-20"></div>
        <div class="flex size-20"></div>
        <div class="flex size-20"></div>
        <div class="flex size-20"></div>
        <div class="flex size-20"></div>
        <div class="md:flex size-20 hidden"></div>
        <div class="md:flex size-20 hidden"></div>
        <div class="md:flex size-20 hidden"></div>
        <div class="md:flex size-20 hidden"></div>
        <div class="md:flex size-20 hidden"></div>
        <div class="md:flex size-20 hidden"></div>
        <div class="md:flex size-20 hidden"></div>
      </div>
    </div>
    <Tiers />
  </div>
</section>
