---
export const freeComponent = true;
import Text from "@/components/fundations/typography/Text.astro";
const logos = [
  {
    src: "/brands/1.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 lg:col-span-1",
  },
  {
    src: "/brands/2.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 lg:col-span-1",
  },
  {
    src: "/brands/9.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 lg:col-span-1",
  },
  {
    src: "/brands/4.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 sm:col-start-2 lg:col-span-1",
  },
  {
    src: "/brands/5.svg",
    width: 158,
    height: 48,
    colSpan: "col-span-2 col-start-2 sm:col-start-auto lg:col-span-1",
  },
];
---

<div>
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="mx-auto">
      <div
        class="relative items-center max-w-lg mx-auto grid grid-cols-4 gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5"
      >
        {
          logos.map((logo) => (
            <img
              class={`${logo.colSpan} max-h-12 w-full object-contain relative`}
              src={logo.src}
              alt="#_"
              width={logo.width}
              height={logo.height}
            />
          ))
        }
      </div>
      <Text
        tag="h2"
        variant="textBase"
        class="mt-4 font-semibold text-center uppercase text-stone-600 lg:text-balance"
      >
        Trusted by industry leaders and our families because we pay them
      </Text>
    </div>
  </div>
  <!-- copy:end -->
</div>
