---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";

const logos = [
  {
    src: "/brands/1.svg",
  },
  {
    src: "/brands/2.svg",
  },
  {
    src: "/brands/9.svg",
  },
  {
    src: "/brands/4.svg",
  },
  {
    src: "/brands/5.svg",
  },
  {
    src: "/brands/10.svg",
  },
  {
    src: "/brands/6.svg",
  },
  {
    src: "/brands/7.svg",
  },
  {
    src: "/brands/8.svg",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="items-center grid grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols-2">
      <div
        class="flex flex-col justify-between w-full h-full max-w-xl p-8 mx-auto lg:mx-0 bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 shadow from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl gap-12 lg:gap-24"
      >
        <div>
          <Kicker> Tagline </Kicker>
          <Text
            tag="h2"
            variant="displayMD"
            class="mt-4 font-semibold text-zinc-900 dark:text-white"
          >
            Come build with us and help revolutionize financing
          </Text>
        </div>
        <div class="flex flex-row items-center mt-8 gap-4">
          <Button variant="accent" size="sm"> Get started </Button>
          <div
            class="font-medium lg:items-center text-s text-zinc-600 dark:text-zinc-400"
          >
            <span class="block"> This is some support text </span>
            <span class="block"> and this is also. </span>
          </div>
        </div>
      </div>
      <div
        class="items-center w-full max-w-xl mx-auto grid grid-cols-2 lg:grid-cols-3 gap-12 lg:mx-0 lg:max-w-none lg:pl-8"
      >
        {
          logos.map((logo) => (
            <img
              class="object-contain object-left w-full max-h-12 dark:invert"
              src={logo.src}
              alt="#_"
              width="105"
              height="48"
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
