---
import Button from "@/components/fundations/buttons/Button.astro";
import Text from "@/components/fundations/typography/Text.astro";
const logos = [
  {
    src: "/brands/1.svg",
  },
  {
    src: "/brands/2.svg",
  },
  {
    src: "/brands/9.svg",
  },
  {
    src: "/brands/4.svg",
  },
  {
    src: "/brands/5.svg",
  },
  {
    src: "/brands/10.svg",
  },
  {
    src: "/brands/6.svg",
  },
  {
    src: "/brands/7.svg",
  },
  {
    src: "/brands/8.svg",
  },
];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="items-center grid grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols-2">
      <div
        class="flex flex-col justify-between w-full h-full max-w-xl p-8 mx-auto lg:mx-0 bg-gray-50 rounded-3xl gap-12 lg:gap-24"
      >
        <div>
          <Text
            tag="p"
            variant="textSM"
            class="font-bold uppercase text-blue-600"
          >
            Tagline
          </Text>
          <Text
            tag="h2"
            variant="displayMD"
            class="mt-4 font-semibold text-gray-900"
          >
            Come build with us and help revolutionize financing
          </Text>
        </div>
        <div class="flex flex-row items-center mt-8 gap-4">
          <Button variant="accent" size="sm"> Get started </Button>
          <div class="font-medium lg:items-center">
            <Text tag="span" class="block" variant="textBase">
              This is some support text
            </Text>
            <Text tag="span" class="block" variant="textBase">
              and this is also.
            </Text>
          </div>
        </div>
      </div>
      <div
        class="items-center w-full max-w-xl mx-auto grid grid-cols-2 lg:grid-cols-3 gap-12 lg:mx-0 lg:max-w-none lg:pl-8"
      >
        {
          logos.map((logo) => (
            <img
              class="object-contain object-left w-full max-h-12"
              src={logo.src}
              alt="#_"
              width="105"
              height="48"
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
