---
import Button from "@/components/fundations/buttons/Button.astro";
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
const logos = [
  {
    src: "/brands/1.svg",
  },
  {
    src: "/brands/2.svg",
  },
  {
    src: "/brands/9.svg",
  },
  {
    src: "/brands/4.svg",
  },
  {
    src: "/brands/5.svg",
  },
  {
    src: "/brands/10.svg",
  },
  {
    src: "/brands/6.svg",
  },
  {
    src: "/brands/7.svg",
  },
  {
    src: "/brands/8.svg",
  },
];
---
<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
      <div
        class="mx-auto w-full max-w-xl lg:mx-0 bg-base-50 p-8 flex flex-col justify-between h-full rounded-3xl gap-12 lg:gap-24">
        <div>
          <Text
            tag="span"
            variant="eyebrow">
            Tagline
          </Text>
          <Heading
            class="mt-4"
            level={3}
            variant="default">
            Come build with us and help revolutionize financing
          </Heading>
        </div>
        <div class="flex items-center gap-4 mt-8 flex-row">
          <Button
            variant="accent"
            size="sm">
            Get started
          </Button>
          <div class="text-sm text-base-500">
            <Text
              tag="span"
              class="block"
              variant="small">
              This is some support text
            </Text>
            <Text
              tag="span"
              class="block"
              variant="small">
              and this is also.
            </Text>
          </div>
        </div>
      </div>
      <div
        class="mx-auto grid w-full max-w-xl grid-cols-2 lg:grid-cols-3 gap-12 items-center lg:mx-0 lg:max-w-none lg:pl-8">
        {
          logos.map((logo) => (
            <img
              class="max-h-12 w-full object-contain object-left"
              src={logo.src}
              alt="#_"
              width="105"
              height="48"
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
