---
import Text from "@/components/fundations/typography/Text.astro";
const logos = [
  {
    src: "/brands/1.svg",
  },
  {
    src: "/brands/2.svg",
  },
  {
    src: "/brands/9.svg",
  },
];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div
      class="items-center py-12 grid grid-cols-1 lg:grid-cols-4 border-y md:grid-cols-2 border-gray-200 lg:gap-24"
    >
      <div class="col-span-full lg:col-span-1 lg:max-w-none lg:mr-auto">
        <Text
          tag="h2"
          variant="textBase"
          class="mt-4 font-semibold text-gray-500"
        >
          Some of the mazing companies
        </Text>
      </div>
      <div class="items-center mt-12 lg:mt-0 md:col-span-3">
        <div class="flex flex-wrap justify-between gap-6">
          {
            logos.map((logo) => (
              <img class="mx-auto max-h-12" src={logo.src} alt="#_" />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
