---
import Text from "@/components/fundations/typography/Text.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";
const logos = [
  {
    src: "/brands/1.svg",
  },
  {
    src: "/brands/2.svg",
  },
  {
    src: "/brands/3.svg",
  },
  {
    src: "/brands/4.svg",
  },
  {
    src: "/brands/5.svg",
  },
  {
    src: "/brands/6.svg",
  },
  {
    src: "/brands/7.svg",
  },
  { src: "/brands/8.svg" },
  { src: "/brands/9.svg" },
  { src: "/brands/10.svg" },
  { src: "/brands/11.svg" },
  { src: "/brands/12.svg" },
  { src: "/brands/13.svg" },
  { src: "/brands/14.svg" },
  { src: "/brands/15.svg" },
  { src: "/brands/16.svg" },
  { src: "/brands/17.svg" },
  { src: "/brands/18.svg" },
  { src: "/brands/19.svg" },
  { src: "/brands/20.svg" },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-20">
    <div
      class="items-center w-full max-w-xl mx-auto grid grid-cols-3 sm:grid-cols-5 gap-12 lg:max-w-none lg:pl-8 col-span-full"
    >
      {
        logos.map((logo) => (
          <img
            class="object-contain object-left w-full mx-auto max-h-8 dark:invert"
            src={logo.src}
            alt="#_"
            width="105"
            height="48"
          />
        ))
      }
    </div>
    <div class="pt-10 mt-10 text-center">
      <Kicker> Tagline </Kicker>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-zinc-900 dark:text-white"
      >
        Our customers
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
      >
        Let's build something great together — we're ready to help.
      </Text>
    </div>
  </div>
</section>
