---
import Text from "@/components/fundations/typography/Text.astro";
import Kicker from "@/components/fundations/typography/Kicker.astro";

const logos = [
  {
    src: "/integrations/1.svg",
  },
  {
    src: "/integrations/2.svg",
  },
  {
    src: "/integrations/9.svg",
  },
  {
    src: "/integrations/4.svg",
  },
  {
    src: "/integrations/5.svg",
  },
  {
    src: "/integrations/10.svg",
  },
  {
    src: "/integrations/6.svg",
  },
  {
    src: "/integrations/7.svg",
  },
  { src: "/integrations/8.svg" },
  { src: "/integrations/9.svg" },
  { src: "/integrations/10.svg" },
  { src: "/integrations/11.svg" },
  { src: "/integrations/12.svg" },
  { src: "/integrations/13.svg" },
  { src: "/integrations/14.svg" },
  { src: "/integrations/15.svg" },
  { src: "/integrations/16.svg" },
  { src: "/integrations/17.svg" },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-20">
    <div class="text-center">
      <Kicker> Tagline </Kicker>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-zinc-900 dark:text-white lg:text-balance"
      >
        Our customers
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
      >
        Let's build something great together — we're ready to help.
      </Text>
    </div>
    <div
      class="items-center w-full max-w-xl mx-auto mt-10 grid grid-cols-3 sm:grid-cols-6 gap-6 lg:max-w-3xl col-span-full"
    >
      {
        logos.map((logo) => (
          <img
            class="inline-flex items-center justify-center object-contain object-left p-2 mx-auto border rounded-full dark:border-zinc-800 border-zinc-200 size-12 "
            src={logo.src}
            alt="#_"
          />
        ))
      }
    </div>
  </div>
</section>
