---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
const logos = [
  {
    src: "/integrations/1.svg",
  },
  {
    src: "/integrations/2.svg",
  },
  {
    src: "/integrations/9.svg",
  },
  {
    src: "/integrations/4.svg",
  },
  {
    src: "/integrations/5.svg",
  },
  {
    src: "/integrations/10.svg",
  },
  {
    src: "/integrations/6.svg",
  },
  {
    src: "/integrations/7.svg",
  },
  { src: "/integrations/8.svg" },
  { src: "/integrations/9.svg" },
  { src: "/integrations/10.svg" },
  { src: "/integrations/11.svg" },
  { src: "/integrations/12.svg" },
  { src: "/integrations/13.svg" },
  { src: "/integrations/14.svg" },
  { src: "/integrations/15.svg" },
  { src: "/integrations/16.svg" },
  { src: "/integrations/17.svg" },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center">
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="default">
        Our customers
      </Heading>
      <Text
        class="mt-4 lg:text-balance"
        tag="p"
        variant="body">
        Let's build something great together — we're ready to help.
      </Text>
    </div>

    <div
      class="mx-auto grid w-full max-w-xl items-center grid-cols-3 sm:grid-cols-6 gap-6 lg:max-w-3xl mt-10 col-span-full">
      {
        logos.map((logo) => (
          <img
            class="size-12  object-contain object-left mx-auto border rounded-full p-2 inline-flex items-center justify-center"
            src={logo.src}
            alt="#_"
          />
        ))
      }
    </div>
  </div>
</section>
