---
import Text from "@/components/fundations/typography/Text.astro";
const logos = [
  {
    src: "/integrations/1.svg",
  },
  {
    src: "/integrations/2.svg",
  },
  {
    src: "/integrations/3.svg",
  },
  {
    src: "/integrations/4.svg",
  },
  {
    src: "/integrations/5.svg",
  },
  {
    src: "/integrations/6.svg",
  },
  {
    src: "/integrations/7.svg",
  },
  { src: "/integrations/8.svg" },
  { src: "/integrations/9.svg" },
  { src: "/integrations/10.svg" },
  { src: "/integrations/11.svg" },
  { src: "/integrations/12.svg" },
  { src: "/integrations/13.svg" },
  { src: "/integrations/14.svg" },
  { src: "/integrations/15.svg" },
  { src: "/integrations/16.svg" },
  { src: "/integrations/17.svg" },
  {
    src: "/integrations/18.svg",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="items-center grid grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols-8">
      <div
        class="items-start w-full max-w-xl mx-auto text-center lg:mx-0 lg:text-left lg:col-span-2"
      >
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-zinc-900 dark:text-zinc-100 lg:text-balance"
        >
          Our customers
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
        >
          Let's build something great together — we're ready to help.
        </Text>
      </div>
      <div
        class="items-center w-full max-w-xl mx-auto grid grid-cols-3 sm:grid-cols-5 lg:grid-cols-6 gap-12 lg:max-w-none lg:pl-8 col-span-full lg:col-span-6"
      >
        {
          logos.map((logo) => (
            <img
              class="object-contain object-left w-full mx-auto max-h-12 "
              src={logo.src}
              alt="#_"
              width="105"
              height="48"
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
