---
const logos = [
  {
    src: "/integrations/1.svg",
  },
  {
    src: "/integrations/2.svg",
  },
  {
    src: "/integrations/3.svg",
  },
  {
    src: "/integrations/4.svg",
  },
  {
    src: "/integrations/5.svg",
  },
  {
    src: "/integrations/6.svg",
  },
  {
    src: "/integrations/7.svg",
  },
  { src: "/integrations/8.svg" },
  { src: "/integrations/9.svg" },
  { src: "/integrations/10.svg" },
  { src: "/integrations/11.svg" },
  { src: "/integrations/12.svg" },
  { src: "/integrations/13.svg" },
  { src: "/integrations/14.svg" },
  { src: "/integrations/15.svg" },
  { src: "/integrations/16.svg" },
  { src: "/integrations/17.svg" },
  {
    src: "/integrations/18.svg",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-8">
      <div
        class="mx-auto w-full max-w-xl text-center lg:mx-0 lg:text-left lg:col-span-2 items-start">
        <h1 class="text-4xl font-semibold tracking-tight text-base-900">
          Our customers
        </h1>
        <p class="mt-6 text-sm font-medium text-base-500">
          Let's build something great together — we're ready to help.
        </p>
      </div>
      <div
        class="mx-auto grid w-full max-w-xl items-center grid-cols-3 sm:grid-cols-5 lg:grid-cols-6 gap-12 lg:max-w-none lg:pl-8 col-span-full lg:col-span-6">
        {
          logos.map((logo) => (
            <img
              class="max-h-12 w-full object-contain object-left mx-auto"
              src={logo.src}
              alt="#_"
              width="105"
              height="48"
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
