---
const logos = [
  {
    src: "/brands/1.svg",
  },
  {
    src: "/brands/2.svg",
  },
  {
    src: "/brands/3.svg",
  },
  {
    src: "/brands/4.svg",
  },
  {
    src: "/brands/5.svg",
  },
  {
    src: "/brands/6.svg",
  },
  {
    src: "/brands/7.svg",
  },
  {
    src: "/brands/8.svg",
  },
  {
    src: "/brands/9.svg",
  },
  {
    src: "/brands/10.svg",
  },
];
---

<div>
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div
      class="items-center justify-center w-full overflow-hidden border grid grid-cols-2 border-zinc-200 gap-px md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 bg-zinc-200 rounded-3xl"
    >
      {
        logos.map((logo) => (
          <div class="p-8 hover:bg-gradient-to-b bg-gradient-to-b hover:from-stone-500 group hover:to-stone-600 from-zinc-50 to-zinc-100">
            <img
              class="aspect-[2/1] overflow-hidden mx-auto rounded-lg object-contain object-center group-hover:invert"
              src={logo.src}
              alt="#_"
              width="120"
              height="60"
            />
          </div>
        ))
      }
    </div>
  </div>
  <!-- copy:end -->
</div>
