---
export const freeComponent = true;
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="p-8">
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-3 md:items-end">
      <div class="lg:col-span-2">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-blue-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-zinc-900 lg:text-balance"
        >
          Simple steps to apply for a bank account
        </Text>
      </div>
      <Text tag="p" variant="textBase" class="font-medium text-zinc-500">
        The fastest method for working together on staging and temporary
        environments.
      </Text>
    </div>
    <dl class="mt-12 grid grid-cols-1 gap-6 lg:grid-cols-3 md:grid-cols-2">
      <div class="shadow bg-zinc-50 rounded-3xl">
        <dt class="p-8">
          <Text tag="h3" variant="textLG" class="font-medium text-zinc-900">
            1. Choose your account type
          </Text>
        </dt>
        <dd class="p-8 border-t border-zinc-200">
          <Text tag="p" variant="textBase" class="font-medium text-zinc-500">
            Decide whether you need a checking account, savings account, or
            both. Each type has its own benefits and features.
          </Text>
        </dd>
      </div>
      <div class="shadow bg-blue-600 rounded-3xl">
        <dt class="p-8">
          <Text tag="h3" variant="textLG" class="font-medium text-white">
            2. Gather required documents
          </Text>
        </dt>
        <dd class="p-8 border-t border-white/20">
          <Text tag="p" variant="textBase" class="font-medium text-white">
            Collect necessary documents such as ID, proof of address, and Social
            Security number. This ensures a smooth application process.
          </Text>
        </dd>
      </div>
      <div class="shadow bg-zinc-950 rounded-3xl">
        <dt class="p-8">
          <Text tag="h3" variant="textLG" class="font-medium text-white">
            3. Complete the application
          </Text>
        </dt>
        <dd class="p-8 border-t border-white/20">
          <Text tag="p" variant="textBase" class="font-medium text-white">
            Fill out the application form online or at your local branch.
            Provide accurate information to avoid delays.
          </Text>
        </dd>
      </div>
    </dl>
  </div>
  <!-- copy:end -->
</div>
