---
export const freeComponent = true;

import Text from "@/components/fundations/typography/Text.astro";
const steps = [
  {
    title: "Select Your Account",
    description: "Pick a checking, savings, or both to match your needs.",
  },
  {
    title: "Prepare Your Documents",
    description: "Have your ID, proof of address, and SSN ready.",
  },
  {
    title: "Submit Your Application",
    description: "Fill out and submit your application accurately.",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32">
    <dl
      class="grid grid-cols-1 gap-x-4 gap-y-12 lg:grid-cols-3 lg:divide-x lg:border-x border-zinc-200 divide-zinc-200 dark:border-zinc-900 dark:divide-zinc-900"
    >
      {
        steps.map((step, index) => (
          <div class="lg:px-8">
            <dt class="flex items-center  gap-3">
              <Text
                tag="h3"
                variant="textBase"
                class="flex items-center font-medium  text-zinc-900 dark:text-white gap-2"
              >
                <span class="text-blue-600 dark:text-blue-400">
                  {index + 1}.
                </span>
                {step.title}
              </Text>
            </dt>
            <dd class="mt-2">
              <Text
                tag="p"
                variant="textBase"
                class="font-medium text-zinc-500 dark:text-zinc-400"
              >
                {step.description}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
