---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-3 md:items-end">
      <div class="lg:col-span-2">
        <Text
          tag="p"
          variant="eyebrow">
          Tagline
        </Text>
        <Heading
          class="mt-4"
          level={1}
          variant="display">
          Simple steps to apply for a bank account
        </Heading>
      </div>
      <Text
        class="mt-4"
        tag="p"
        variant="body">
        Follow these straightforward steps to streamline your process and
        achieve success with ease.
      </Text>
    </div>
    <dl class="grid grid-cols-1 gap-6 lg:grid-cols-3 md:grid-cols-2 mt-12">
      <div class="bg-base-50 rounded-3xl">
        <dt class="p-8">
          <Heading
            level={3}
            variant="featureTitle">
            1. Choose your account type
          </Heading>
        </dt>
        <dd class="p-8 border-t">
          <Text
            tag="p"
            variant="body">
            Decide whether you need a checking account, savings account, or
            both. Each type has its own benefits and features.
          </Text>
        </dd>
      </div>
      <div class="bg-accent-600 rounded-3xl">
        <dt class="p-8">
          <Heading
            level={3}
            darkMode={true}
            variant="featureTitle">
            2. Gather required documents
          </Heading>
        </dt>
        <dd class="p-8 border-t border-white/20">
          <Text
            tag="p"
            darkMode={true}
            variant="body">
            Collect necessary documents such as ID, proof of address, and Social
            Security number. This ensures a smooth application process.
          </Text>
        </dd>
      </div>
      <div class="bg-base-950 rounded-3xl">
        <dt class="p-8">
          <Heading
            level={3}
            darkMode={true}
            variant="featureTitle">
            3. Complete the application
          </Heading>
        </dt>
        <dd class="p-8 border-t border-white/20">
          <Text
            tag="p"
            darkMode={true}
            variant="body">
            Fill out the application form online or at your local branch.
            Provide accurate information to avoid delays.
          </Text>
        </dd>

      </div>
    </dl>
  </div>
</section>
