---
import Text from "@/components/fundations/typography/Text.astro";
const steps = [
  {
    title: "Choose your account type",
    description:
      "Decide whether you need a checking account, savings account, or both. Each type has its own benefits and features.",
  },
  {
    title: "Gather required documents",
    description:
      "Collect necessary documents such as ID, proof of address, and Social Security number. This ensures a smooth application process.",
  },
  {
    title: "Complete the application",
    description:
      "Fill out the application form online or at your local branch. Provide accurate information to avoid delays.",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <dl
      class="grid grid-cols-1 gap-x-4 gap-y-12 lg:grid-cols-3 lg:divide-x lg:border-x border-zinc-200 divide-zinc-200 dark:border-zinc-900 dark:divide-zinc-900"
    >
      <!-- Loop through each step in the array -->
      {
        steps.map((step, index) => (
          <div class="lg:px-8">
            <div class="flex items-center text-blue-500 gap-3">
              <span>{index + 1}.</span>
              <dt class="text-lg font-medium tracking-tight text-zinc-900 dark:text-zinc-100">
                <Text
                  tag="h3"
                  variant="textLG"
                  class="font-medium  text-zinc-900 dark:text-zinc-100"
                >
                  {step.title}
                </Text>
              </dt>
            </div>
            <dd class="mt-2">
              <Text
                tag="p"
                variant="textBase"
                class="font-medium text-zinc-500 dark:text-zinc-400"
              >
                {step.description}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
