---
import Text from "@/components/fundations/typography/Text.astro";
const history = [
  {
    title: "Create your account",
    copy: `Sign up in seconds with your email and password to get started.`,
  },
  {
    title: "Verify your identity",
    copy: `Secure your account by confirming your details with a quick ID upload.`,
  },
  {
    title: "Connect your bank",
    copy: `Link your bank in a few clicks to manage all your finances seamlessly.`,
  },
  {
    title: "Explore features",
    copy: `Dive into our tools and insights to optimize your financial journey.`,
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="max-w-xl mx-auto">
      <Text
        tag="h2"
        variant="displayMD"
        class="font-semibold tracking-tight text-zinc-900 dark:text-white text-balance"
      >
        Get set up in four simple steps
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
      >
        Complete these quick steps to launch your account and start managing
        your finances in no time.
      </Text>
    </div>
    <div class="relative mx-auto max-w-xl mt-12">
      <div
        data-orientation="vertical"
        class="shrink-0 data-[orientation=horizontal]:h-px data-[orientation=horizontal]:w-full data-[orientation=vertical]:h-full data-[orientation=vertical]:w-px bg-zinc-200 dark:bg-zinc-800 absolute left-2 top-0"
      >
      </div>
      <div class="relative mx-auto max-w-xl space-y-4">
        {
          history.map((item, index) => (
            <div class="relative  pl-8">
              <div class="bg-zinc-100 dark:bg-zinc-800 size-8 absolute -left-2 top-0 flex size-4 items-center justify-center rounded-full">
                <span class="text-zinc-900 dark:text-white text-sm font-medium">
                  {index + 1}
                </span>
              </div>
              <div class="ml-8 bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 shadow from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl p-4">
                <Text
                  tag="h3"
                  variant="textBase"
                  class=" font-semibold tracking-tight text-zinc-900 dark:text-white"
                >
                  {item.title}
                </Text>
                <Text
                  tag="p"
                  variant="textSM"
                  class="text-zinc-500 dark:text-zinc-400 lg:text-balance"
                >
                  {item.copy}
                </Text>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
