---
import Text from "@/components/fundations/typography/Text.astro";
const steps = [
  {
    title: "Choose your account type",
    description:
      "Decide whether you need a checking account, savings account, or both. Each type has its own benefits and features.",
  },
  {
    title: "Gather required documents",
    description:
      "Collect necessary documents such as ID, proof of address, and Social Security number. This ensures a smooth application process.",
  },
  {
    title: "Complete the application",
    description:
      "Fill out the application form online or at your local branch. Provide accurate information to avoid delays.",
  },
  {
    title: "Deposit initial funds",
    description:
      "        Make your initial deposit to activate your account. This can usually be done through a transfer, check, or cash deposit.",
  },
];
---

<section>
  <div class="relative px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="lg:text-balance">
      <Text tag="p" variant="textSM" class="font-bold uppercase text-blue-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="display2XL"
        class="mt-4 font-semibold text-zinc-900 lg:text-balance"
      >
        Simple steps to apply for a bank account
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
        The fastest method for working together on staging and temporary
        environments.
      </Text>
    </div>
    <dl class="flex flex-col mt-12 divide-y divide-zinc-200">
      <!-- Loop through each step in the array -->
      {
        steps.map((step, index) => (
          <div class="py-4 grid grid-cols-1 lg:grid-cols-2">
            <div class="flex items-center text-blue-500 gap-3">
              <span class="flex items-center justify-center text-white rounded-full size-8 bg-blue-700 ">
                {index + 1}
              </span>
              <dt>
                <Text
                  tag="h3"
                  variant="textLG"
                  class="font-medium  text-zinc-900"
                >
                  {step.title}
                </Text>
              </dt>
            </div>
            <dd>
              <Text
                tag="p"
                variant="textBase"
                class="font-medium text-zinc-500"
              >
                {step.description}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
