---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
const steps = [
  {
    title: "Choose your account type",
    description:
      "Decide whether you need a checking account, savings account, or both. Each type has its own benefits and features.",
  },
  {
    title: "Gather required documents",
    description:
      "Collect necessary documents such as ID, proof of address, and Social Security number. This ensures a smooth application process.",
  },
  {
    title: "Complete the application",
    description:
      "Fill out the application form online or at your local branch. Provide accurate information to avoid delays.",
  },
  {
    title: "Deposit initial funds",
    description:
      "        Make your initial deposit to activate your account. This can usually be done through a transfer, check, or cash deposit.",
  },
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="max-w-xl lg:text-balance">
      <Text
        tag="p"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="default">
        Simple steps to apply for a bank account
      </Heading>
      <Text
        class="mt-4"
        tag="p"
        variant="vody">
        Follow these straightforward steps to streamline your process and
        achieve success with ease.
      </Text>
    </div>
    <dl class="flex flex-col mt-12 divide-y">
      <!-- Loop through each step in the array -->
      {
        steps.map((step, index) => (
          <div class="grid grid-cols-1 lg:grid-cols-2 py-4">
            <div class="text-accent-500 flex gap-3 items-center">
              <span class="size-8 rounded-full flex items-center justify-center bg-accent-700  text-white">
                {index + 1}
              </span>
              <dt>
                <Heading
                  level={3}
                  variant="featureTitle">
                  {step.title}
                </Heading>
              </dt>
            </div>
            <dd >
              <Text
                tag="p"
                variant="body">
                {step.description}
              </Text>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
