---
const steps = [
  {
    title: "Choose your account type",
    description:
      "Decide whether you need a checking account, savings account, or both. Each type has its own benefits and features.",
  },
  {
    title: "Gather required documents",
    description:
      "Collect necessary documents such as ID, proof of address, and Social Security number. This ensures a smooth application process.",
  },


];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-24 items-center">
      <div class="lg:text-balance h-full">
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
          >Process</span
        >
        <h1
          class="text-4xl mt-4 font-semibold tracking-tight text-zinc-900 lg:text-balance">
          Simple steps to achieve your goals
        </h1>
        <p class="text-base font-medium mt-4 text-zinc-500">
          Follow these straightforward steps to streamline your process and
          achieve success with ease.
        </p>
        <ul
          class="space-y-8 mt-8 list-none"
          role="list">
          {
            steps.map((step, index) => (
              <div class="flex flex-col ">
                <div class="text-blue-500 flex gap-3 items-start">
                  <span class="size-8 shrink-0 rounded-full flex items-center justify-center bg-gradient-to-b from-blue-500 to-indigo-600 text-white">
                    {index + 1}
                  </span>
                <div>
                      <dt class="tracking-tight text-lg font-medium text-zinc-900">
                        {step.title}
                      </dt>
                    <dd class="mt-2 text-sm text-zinc-500 text-pretty">
                      {step.description}
                    </dd>
                </div>
                </div>
              </div>
            ))
          }
        </ul>
      </div>
      <img
      class="object-cover h-full object-center rounded-2xl"
        src="/people/1w.jpg"
        alt="#_"
      />
    </div>
  </div>
</section>
