---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
const steps = [
  {
    title: "Choose your account type",
    description:
      "Decide whether you need a checking account, savings account, or both. Each type has its own benefits and features.",
  },
  {
    title: "Gather required documents",
    description:
      "Collect necessary documents such as ID, proof of address, and Social Security number. This ensures a smooth application process.",
  },
];
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-24 items-center">
      <div class="lg:text-balance h-full">
        <Text
          tag="p"
          variant="eyebrow">
          Tagline
        </Text>
        <Heading
          class="mt-4"
          level={1}
          variant="default">
          Simple steps to apply for a bank account
        </Heading>
        <Text
          class="mt-4"
          tag="p"
          variant="vody">
          Follow these straightforward steps to streamline your process and
          achieve success with ease.
        </Text>
        <ul
          class="space-y-8 mt-8 list-none"
          role="list">
          {
            steps.map((step, index) => (
              <div class="flex flex-col ">
                <div class="text-accent-500 flex gap-3 items-start">
                  <span class="size-8 shrink-0 rounded-full flex items-center justify-center bg-accent-700  text-white">
                    {index + 1}
                  </span>
                  <div>
                    <dt>
                      <Heading
                        level={3}
                        variant="featureTitle">
                        {step.title}
                      </Heading>
                    </dt>
                    <dd class="mt-2">
                      <Text
                        tag="p"
                        variant="body">
                        {step.description}
                      </Text>
                    </dd>
                  </div>
                </div>
              </div>
            ))
          }
        </ul>
      </div>
      <img
        class="object-cover h-full object-center rounded-2xl"
        src="/people/1w.jpg"
        alt="#_"
      />
    </div>
  </div>
</section>
