---
import Text from "@/components/fundations/typography/Text.astro";
const steps = [
  {
    title: "Choose your account type",
    description:
      "Decide whether you need a checking account, savings account, or both. Each type has its own benefits and features.",
  },
  {
    title: "Gather required documents",
    description:
      "Collect necessary documents such as ID, proof of address, and Social Security number. This ensures a smooth application process.",
  },
  {
    title: "Complete the application",
    description:
      "Fill out the application form online or at your local branch. Provide accurate information to avoid delays.",
  },
  {
    title: "Deposit initial funds",
    description:
      "        Make your initial deposit to activate your account. This can usually be done through a transfer, check, or cash deposit.",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <ul
      class="space-y-1 max-w-xl 0list-none bg-zinc-50 rounded-2xl divide-y divide-zinc-200 border-zinc-200 dark:bg-zinc-900 dark:border-zinc-900 dark:divide-zinc-950 mx-auto"
      role="list"
    >
      {
        steps.map((step, index) => (
          <div class="flex flex-col p-8 ">
            <div class="flex flex-col text-blue-500 lg:flex-row gap-3 lg:items-center">
              <span class="flex items-center justify-center text-white rounded-full size-12 lg:-ml-14 shrink-0 bg-blue-700 ">
                {index + 1}
              </span>
              <div>
                <dt>
                  <Text
                    tag="h3"
                    variant="textLG"
                    class="font-medium  text-zinc-900 dark:text-zinc-100"
                  >
                    {step.title}
                  </Text>
                </dt>
                <dd class="mt-2">
                  <Text
                    tag="p"
                    variant="textBase"
                    class="font-medium  text-zinc-500 dark:text-zinc-400"
                  >
                    {step.description}
                  </Text>
                </dd>
              </div>
            </div>
          </div>
        ))
      }
    </ul>
  </div>
</section>
