---
import Text from "@/components/fundations/typography/Text.astro";
const steps = [
  {
    title: "Choose your account type",
    description:
      "Decide whether you need a checking account, savings account, or both. Each type has its own benefits and features.",
  },
  {
    title: "Gather required documents",
    description:
      "Collect necessary documents such as ID, proof of address, and Social Security number. This ensures a smooth application process.",
  },
  {
    title: "Complete the application",
    description:
      "Fill out the application form online or at your local branch. Provide accurate information to avoid delays.",
  },
  {
    title: "Deposit initial funds",
    description:
      "        Make your initial deposit to activate your account. This can usually be done through a transfer, check, or cash deposit.",
  },
];
---

<section>
  <div class="relative px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="max-w-xl mx-auto lg:text-balance">
      <div class="text-center">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-blue-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-gray-900 lg:text-balance"
        >
          Simple steps to apply for a bank account
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 font-medium text-gray-500">
          The fastest method for working together on staging and temporary
          environments.
        </Text>
      </div>
      <ul
        class="mt-12 space-y-1 0list-none bg-gray-50 rounded-2xl divide-y divide-gray-200 border-gray-200"
        role="list"
      >
        {
          steps.map((step, index) => (
            <div class="flex flex-col p-8 ">
              <div class="flex flex-col text-blue-500 lg:flex-row gap-3 lg:items-center">
                <span class="flex items-center justify-center text-white rounded-full size-12 lg:-ml-14 shrink-0 bg-blue-700 ">
                  {index + 1}
                </span>
                <div>
                  <dt>
                    <Text
                      tag="h3"
                      variant="textLG"
                      class="font-medium  text-gray-900"
                    >
                      {step.title}
                    </Text>
                  </dt>
                  <dd class="mt-2">
                    <Text
                      tag="p"
                      variant="textBase"
                      class="font-medium  text-gray-500"
                    >
                      {step.description}
                    </Text>
                  </dd>
                </div>
              </div>
            </div>
          ))
        }
      </ul>
    </div>
  </div>
</section>
