<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="lg:text-balance max-w-xl">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Process</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-zinc-900 lg:text-balance">
        Simple steps to achieve your goals
      </h1>
      <p class="text-base font-medium mt-4 text-zinc-500">
        Follow these straightforward steps to streamline your process and
        achieve success with ease.
      </p>
    </div>
    <dl
      class="grid grid-cols-1 overflow-hidden gap-6  sm:grid-cols-2 mt-12 lg:grid-cols-3 ">
      <div>
        <div class="flex items-baseline gap-2">
          <span class="text-5xl font-normal font-mono text-blue-600"> 01 </span>
          <dt class="tracking-tight text-lg font-medium text-zinc-900">
            Choose your account type
          </dt>
        </div>
        <dd class="mt-4 text-sm text-zinc-500">
          Decide whether you need a checking account, savings account, or both.
          Each type has its own benefits and features.
        </dd>
      </div>
      <div class="lg:row-start-2 lg:col-start-2">
        <div class="flex items-baseline gap-2">
          <span class="text-5xl font-normal font-mono text-blue-600"> 02 </span>
          <dt class="tracking-tight text-lg font-medium text-zinc-900">
            Gather documents
          </dt>
        </div>
        <dd class="mt-4 text-sm text-zinc-500">
          Collect necessary documents such as ID, proof of address, and Social
          Security number. This ensures a smooth application process.
        </dd>
      </div>
      <div class="lg:row-start-3 lg:col-start-3">
        <div class="flex items-baseline gap-2">
          <span class="text-5xl font-normal font-mono text-blue-600"> 03 </span>
          <dt class="tracking-tight text-lg font-medium text-zinc-900">
            Complete the application
          </dt>
        </div>
        <dd class="mt-4 text-sm text-zinc-500">
          Fill out the application form online or at your local branch. Provide
          accurate information to avoid delays.
        </dd>
      </div>
      <div class="lg:row-start-4 lg:col-start-2">
        <div class="flex items-baseline gap-2">
          <span class="text-5xl font-normal font-mono text-blue-600"> 04 </span>
          <dt class="tracking-tight text-lg font-medium text-zinc-900">
            Deposit initial funds
          </dt>
        </div>
        <dd class="mt-4 text-sm text-zinc-500">
          Make your initial deposit to activate your account. This can usually
          be done through a transfer, check, or cash deposit.
        </dd>
      </div>
      <div class="lg:row-start-5 lg:col-start-1">
        <div class="flex items-baseline gap-2">
          <span class="text-5xl font-normal font-mono text-blue-600"> 05 </span>
          <dt class="tracking-tight text-lg font-medium text-zinc-900">
            Set up online banking
          </dt>
        </div>
        <dd class="mt-4 text-sm text-zinc-500">
          Enroll in online banking to manage your account easily. You&#39;ll be
          able to check balances, transfer funds, and monitor transactions
          online.
        </dd>
      </div>
      <div class="lg:row-start-6 lg:col-start-2">
        <div class="flex items-baseline gap-2">
          <span class="text-5xl font-normal font-mono text-blue-600"> 06 </span>
          <dt class="tracking-tight text-lg font-medium text-zinc-900">
            Order checks
          </dt>
        </div>
        <dd class="mt-4 text-sm text-zinc-500">
          If needed, order checks or a debit card for your new account. These
          tools will allow you to make transactions easily.
        </dd>
      </div>
    </dl>
  </div>
</section>
