---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="lg:text-balance max-w-3xl">
      <Text
        tag="p"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="display">
        Simple steps to apply for a bank account
      </Heading>
    </div>
    <dl
      class="grid grid-cols-1 overflow-hidden gap-6 sm:grid-cols-2 mt-12 lg:grid-cols-3">
      <div>
        <div class="flex items-baseline gap-2">
          <span class="text-5xl font-normal font-mono text-accent-600">
            01
          </span>
          <dt>
            <Heading
              level={3}
              variant="featureTitle">
              Choose your account type
            </Heading>
          </dt>
        </div>
        <dd class="mt-4">
          <Text
            tag="p"
            variant="body">
            Decide whether you need a checking account, savings account, or
            both. Each type has its own benefits and features.
          </Text>
        </dd>
      </div>
      <div class="lg:row-start-2 lg:col-start-2">
        <div class="flex items-baseline gap-2">
          <span class="text-5xl font-normal font-mono text-accent-600">
            02
          </span>
          <dt>
            <Heading
              level={3}
              variant="featureTitle">
              Gather documents
            </Heading>
          </dt>
        </div>
        <dd class="mt-4">
          <Text
            tag="p"
            variant="body">
            Collect necessary documents such as ID, proof of address, and Social
            Security number. This ensures a smooth application process.
          </Text>
        </dd>
      </div>
      <div class="lg:row-start-3 lg:col-start-3">
        <div class="flex items-baseline gap-2">
          <span class="text-5xl font-normal font-mono text-accent-600">
            03
          </span>
          <dt>
            <Heading
              level={3}
              variant="featureTitle">
              Complete the application
            </Heading>
          </dt>
        </div>
        <dd class="mt-4">
          <Text
            tag="p"
            variant="body">
            Fill out the application form online or at your local branch.
            Provide accurate information to avoid delays.
          </Text>
        </dd>
      </div>
      <div class="lg:row-start-4 lg:col-start-2">
        <div class="flex items-baseline gap-2">
          <span class="text-5xl font-normal font-mono text-accent-600">
            04
          </span>
          <dt>
            <Heading
              level={3}
              variant="featureTitle">
              Deposit initial funds
            </Heading>
          </dt>
        </div>
        <dd class="mt-4">
          <Text
            tag="p"
            variant="body">
            Make your initial deposit to activate your account. This can usually
            be done through a transfer, check, or cash deposit.
          </Text>
        </dd>
      </div>
      <div class="lg:row-start-5 lg:col-start-1">
        <div class="flex items-baseline gap-2">
          <span class="text-5xl font-normal font-mono text-accent-600">
            05
          </span>
          <dt>
            <Heading
              level={3}
              variant="featureTitle">
              Set up online banking
            </Heading>
          </dt>
        </div>
        <dd class="mt-4">
          <Text
            tag="p"
            variant="body">
            Enroll in online banking to manage your account easily. You&#39;ll
            be able to check balances, transfer funds, and monitor transactions
            online.
          </Text>
        </dd>
      </div>
      <div class="lg:row-start-6 lg:col-start-2">
        <div class="flex items-baseline gap-2">
          <span class="text-5xl font-normal font-mono text-accent-600">
            06
          </span>
          <dt>
            <Heading
              level={3}
              variant="featureTitle">
              Order checks
            </Heading>
          </dt>
        </div>
        <dd class="mt-4">
          <Text
            tag="p"
            variant="body">

            If needed, order checks or a debit card for your new account. These
            tools will allow you to make transactions easily.
          </Text>
        </dd>

      </div>
    </dl>
  </div>
</section>
