---
import Text from "@/components/fundations/typography/Text.astro";
const steps = [
  {
    title: "Choose your account type",
    description:
      "Decide whether you need a checking account, savings account, or both. Each type has its own benefits and features.",
  },
  {
    title: "Gather required documents",
    description:
      "Collect necessary documents such as ID, proof of address, and Social Security number. This ensures a smooth application process.",
  },
  {
    title: "Complete the application",
    description:
      "Fill out the application form online or at your local branch. Provide accurate information to avoid delays.",
  },
  {
    title: "Deposit initial funds",
    description:
      "        Make your initial deposit to activate your account. This can usually be done through a transfer, check, or cash deposit.",
  },
];
---

<div>
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <dl
      class="text-center grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-8"
    >
      {
        steps.map((step, index) => (
          <div>
            <div>
              <span class="flex items-center justify-center mx-auto text-white rounded-full size-8 bg-blue-700 ">
                {index + 1}
              </span>
            </div>
            <div class="mt-6">
              <dt>
                <Text
                  tag="h3"
                  variant="textLG"
                  class="font-medium  text-zinc-900"
                >
                  {step.title}
                </Text>
              </dt>
              <dd class="mt-2">
                <Text
                  tag="p"
                  variant="textBase"
                  class="font-medium text-zinc-500"
                >
                  {step.description}
                </Text>
              </dd>
            </div>
          </div>
        ))
      }
    </dl>
  </div>
  <!-- copy:end -->
</div>
