---
import Text from "@/components/fundations/typography/Text.astro";
---

<div
  x-cloak
  x-show="!username"
  class="flex items-center justify-center px-8 py-2 bg-gray-50 border-b border-gray-200"
>
  <Text tag="p" variant="textBase" class="font-medium text-blue-500">
    Summer Sale – Use code <span class="bold uppercase">oxbow20</span> at checkout
    for a 20% discount.
  </Text>
</div>
