---
export const freeComponent = true;
import Text from "@/components/fundations/typography/Text.astro";
import Start from "@/components/fundations/icons/Start.astro";
const data = [
  {
    name: "Fernando Monte",
    title: "Creator of Oxbow UI.com",
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions.",
    imgSrc: "/avatars/1.jpg",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    testimonial:
      "Oxbow UI is a platform that allows you to create a customized landing page. ",
    imgSrc: "/avatars/1.jpg",
  },
  {
    name: "Elona Muska",
    title: "Founder of Fesla",
    testimonial:
      "With Oxbow UI, we can create a customized landing page for our business that showcases our products.",
    imgSrc: "/avatars/3.jpg",
  },
];
---

<section class="bg-white dark:bg-black">
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <ul
      role="list"
      class="text-center grid sm:grid-cols-2 md:grid-cols-3 gap-12"
    >
      {
        data.map((member) => (
          <>
            <li>
              <figure class="flex flex-col ">
                <span class="flex items-center justify-center rounded-full  gap-2 text-amber-500">
                  <Start size="sm" />
                  <Start size="sm" />
                  <Start size="sm" />
                  <Start size="sm" />
                </span>
                <Text
                  tag="blockquote"
                  variant="textXL"
                  class="italic font-medium text-zinc-500 dark:text-zinc-400 mt-14"
                >
                  {member.testimonial}
                </Text>
              </figure>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</section>
