---
import Text from "@/components/fundations/typography/Text.astro";
const data = [
  {
    name: "Fernando Monte",
    title: "Creator of Oxbow UI.com",
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions' security and efficiency.",
    imgSrc: "/avatars/1.jpg",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    testimonial:
      "Oxbow UI is a platform that allows you to create a customized landing page for your business. It's a great way to showcase your products and services to potential customers.",
    imgSrc: "/avatars/2.jpg",
  },
];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div>
      <Text tag="p" variant="textSM" class="font-bold uppercase text-stone-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="display2XL"
        class="mt-4 font-semibold text-zinc-900 lg:text-balance"
      >
        Hear from our customers about their experiences
      </Text>
    </div>
    <ul role="list" class="mt-12 grid md:grid-cols-2 gap-12 lg:mt-24">
      {
        data.map((member) => (
          <>
            <li>
              <figure class="flex flex-col ">
                <figcaption>
                  <div class="flex items-center gap-4">
                    <img
                      class="object-cover rounded-full size-10"
                      src={member.imgSrc}
                      alt="#_"
                    />
                    <div>
                      <Text
                        tag="h3"
                        variant="textBase"
                        class="font-medium text-zinc-900"
                      >
                        {member.name}
                      </Text>
                      <Text
                        tag="p"
                        variant="textXS"
                        class="font-medium text-zinc-400"
                      >
                        {member.title}
                      </Text>
                    </div>
                  </div>
                </figcaption>
                <Text
                  tag="blockquote"
                  variant="textXL"
                  class="mt-4 italic font-medium  text-zinc-500"
                >
                  {member.testimonial}
                </Text>
              </figure>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</section>
