---
import Heading from "@/components/fundations/typography/Heading.astro";
import Text from "@/components/fundations/typography/Text.astro";
const data = [
  {
    name: "Mike Vega",
    title: "Creator of Oxbow UI.com",
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions' security and efficiency.",
    imgSrc: "/avatars/1.avif",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    testimonial:
      "Oxbow UI is a platform that allows you to create a customized landing page for your business. It's a great way to showcase your products and services to potential customers.",
    imgSrc: "/avatars/2.avif",
  },
  {
    name: "Elona Muska",
    title: "Founder of Fesla",
    testimonial:
      "With Oxbow UI, we can create a customized landing page for our business that showcases our products and services in the best possible way.",
    imgSrc: "/avatars/3.avif",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center max-w-xl mx-auto">
      <Text
        tag="span"
        variant="eyebrow">
        Tagline
      </Text>
      <Heading
        class="mt-4"
        level={1}
        variant="default">
        Hear from our customers about their experiences
      </Heading>
      <Text
        class="mt-4"
        tag="p"
        variant="body">
        Find out how our users are using Oxbow UI to create a customized landing
        page for their business.
      </Text>
    </div>
    <ul
      role="list"
      class="mt-12 grid sm:grid-cols-2 md:grid-cols-3 gap-12 lg:mt-24">
      {
        data.map((member) => (
          <>
            <li>
              <figure class="flex flex-col ">
                <figcaption>
                  <div class="flex items-center gap-4">
                    <img
                      class="object-cover rounded-full size-12"
                      src={member.imgSrc}
                      alt="#_"
                    />
                    <div>
                      <Heading
                        level={3}
                        variant="featureTitle">
                        {member.name}
                      </Heading>
                      <Text
                        tag="small"
                        variant="small">
                        {member.title}
                      </Text>
                    </div>
                  </div>
                </figcaption>
                <blockquote class="mt-4">
                  <Text
                    tag="p"
                    variant="body">
                    {member.testimonial}
                  </Text>
                </blockquote>
              </figure>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</section>
