---
import Text from "@/components/fundations/typography/Text.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import ChevronLeft from "@/components/fundations/icons/ChevronLeft.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div
      class="flex flex-col w-full"
      x-data="{
                      skip: 1,
                      atBeginning: false,
                      atEnd: false,
                      next() {
                          this.to((current, offset) => current + (offset * this.skip))
                      },
                      prev() {
                          this.to((current, offset) => current - (offset * this.skip))
                      },
                      to(strategy) {
                          let slider = this.$refs.slider
                          let current = slider.scrollLeft
                          let offset = slider.firstElementChild.getBoundingClientRect().width
                          slider.scrollTo({ left: strategy(current, offset), behavior: 'smooth' })
                      },
                      focusableWhenVisible: {
                          'x-intersect:enter'() {
                              this.$el.removeAttribute('tabindex')
                          },
                          'x-intersect:leave'() {
                              this.$el.setAttribute('tabindex', '-1')
                          },
                      },
                      disableNextAndPreviousButtons: {
                          'x-intersect:enter.threshold.05'() {
                              let slideEls = this.$el.parentElement.children
                              // If this is the first slide.
                              if (slideEls[0] === this.$el) {
                                  this.atBeginning = true
                              // If this is the last slide.
                              } else if (slideEls[slideEls.length-1] === this.$el) {
                                  this.atEnd = true
                              }
                          },
                          'x-intersect:leave.threshold.05'() {
                              let slideEls = this.$el.parentElement.children
                              // If this is the first slide.
                              if (slideEls[0] === this.$el) {
                                  this.atBeginning = false
                              // If this is the last slide.
                              } else if (slideEls[slideEls.length-1] === this.$el) {
                                  this.atEnd = false
                              }
                          },
                      },
                  }">
      <div
        class="relative flex flex-col w-full"
        aria-labelledby="carousel-label"
        role="region"
        tabindex="0"
        x-on:keydown.left="prev"
        x-on:keydown.right="next">
        <h2
          class="sr-only"
          hidden=""
          id="carousel-label">
          Carousel
        </h2>
        <span
          class="sr-only"
          hidden=""
          id="carousel-content-label"
          >Carousel</span
        >
        <div class="inline-flex items-center order-last w-full mt-4 space-x-2">
          <IconButton
            :class="{ 'opacity-50 ': atBeginning }"
            :aria-disabled="atBeginning"
            :tabindex="atEnd ? -1 : 0"
            x-on:click="prev"
            tabindex="0"
            variant="alternative"
            size="sm">
            <ChevronLeft
              size="base"
              slot="icon"
            />
            <span class="sr-only">Skip to previous slide page</span>
          </IconButton>
          <IconButton
            :class="{ 'opacity-50 ': atEnd }"
            :aria-disabled="atEnd"
            :tabindex="atEnd ? -1 : 0"
            x-on:click="next"
            tabindex="0"
            variant="alternative"
            size="sm">
            <ChevronRight
              size="base"
              slot="icon"
            />
            <span class="sr-only">Skip to next slide page</span>
          </IconButton>
        </div>
        <ul
          class="relative flex w-full mt-4 overflow-x-scroll gap-3 scrollbar-hide snap-mandatory snap-x"
          role="listbox"
          aria-labelledby="carousel-content-label"
          tabindex="0"
          x-ref="slider">
          <li
            class="w-full shrink-0 snap-start"
            role="option"
            x-bind="disableNextAndPreviousButtons">
            <figure
              class="relative flex flex-col items-center lg:flex-row gap-12">
              <div>
                <div>
                  <Text
                    tag="blockquote"
                    variant="displayLG"
                    class="italic font-medium text-base-900">
                    "Being in the financial industry, we were always looking for
                    ways to enhance our transactions' security and efficiency"
                  </Text>
                </div>
                <div class="mt-6">
                  <Text
                    tag="h3"
                    variant="textLG"
                    class="font-medium text-base-900">
                    Ana Betancourt
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="font-medium text-base-400">
                    Creator of Something
                  </Text>
                </div>
              </div>
              <figcaption class="justify-between w-full">
                <img
                  alt="#_"
                  src="/avatars/5.jpg"
                  class="object-cover size-full rounded-2xl aspect-[4/3]"
                />
              </figcaption>
            </figure>
          </li>
          <li
            class="w-full shrink-0 snap-start"
            role="option"
            x-bind="disableNextAndPreviousButtons">
            <figure
              class="relative flex flex-col items-center lg:flex-row gap-12">
              <div>
                <div>
                  <Text
                    tag="div"
                    variant="displayLG"
                    class="italic font-medium text-base-900">
                    "Implementing Semplice's blockchain technology has been a
                    game-changer for our supply chain management."
                  </Text>
                </div>
                <div class="mt-6">
                  <Text
                    tag="h3"
                    variant="textLG"
                    class="font-medium text-base-900">
                    Juanjo Garcia
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="font-medium text-base-400">
                    Founder of his kids
                  </Text>
                </div>
              </div>
              <figcaption class="justify-between w-full">
                <img
                  alt="#_"
                  src="/avatars/2.jpg"
                  class="object-cover size-full rounded-2xl aspect-[4/3]"
                />
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
