---
import Text from "@/components/fundations/typography/Text.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import ChevronLeft from "@/components/fundations/icons/ChevronLeft.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div>
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="display2XL"
        class="mt-4 font-semibold text-base-900 lg:text-balance">
        Hear from our customers about their experiences
      </Text>
       <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-base-500 font-medium">
        Find out how our users are using Oxbow UI to create a customized landing
        page for their business.
      </Text>
    </div>
    <div
      class="flex flex-col w-full mt-12"
      x-data="{
                      skip: 1,
                      atBeginning: false,
                      atEnd: false,
                      next() {
                          this.to((current, offset) => current + (offset * this.skip))
                      },
                      prev() {
                          this.to((current, offset) => current - (offset * this.skip))
                      },
                      to(strategy) {
                          let slider = this.$refs.slider
                          let current = slider.scrollLeft
                          let offset = slider.firstElementChild.getBoundingClientRect().width
                          slider.scrollTo({ left: strategy(current, offset), behavior: 'smooth' })
                      },
                      focusableWhenVisible: {
                          'x-intersect:enter'() {
                              this.$el.removeAttribute('tabindex')
                          },
                          'x-intersect:leave'() {
                              this.$el.setAttribute('tabindex', '-1')
                          },
                      },
                      disableNextAndPreviousButtons: {
                          'x-intersect:enter.threshold.05'() {
                              let slideEls = this.$el.parentElement.children
                              // If this is the first slide.
                              if (slideEls[0] === this.$el) {
                                  this.atBeginning = true
                              // If this is the last slide.
                              } else if (slideEls[slideEls.length-1] === this.$el) {
                                  this.atEnd = true
                              }
                          },
                          'x-intersect:leave.threshold.05'() {
                              let slideEls = this.$el.parentElement.children
                              // If this is the first slide.
                              if (slideEls[0] === this.$el) {
                                  this.atBeginning = false
                              // If this is the last slide.
                              } else if (slideEls[slideEls.length-1] === this.$el) {
                                  this.atEnd = false
                              }
                          },
                      },
                  }">
      <div
        class="flex flex-col w-full relative"
        aria-labelledby="carousel-label"
        role="region"
        tabindex="0"
        x-on:keydown.left="prev"
        x-on:keydown.right="next">
        <h2
          class="sr-only"
          hidden=""
          id="carousel-label">
          Carousel
        </h2>
        <span
          class="sr-only"
          hidden=""
          id="carousel-content-label"
          >Carousel</span
        >
        <div class="w-full justify-between grid">
          <div
            class="absolute inset-0 from-white dark:from-black left-0 via-transparent w-44 z-10 bg-gradient-to-r">
          </div>
          <div
            class="absolute inset-0 from-white dark:from-black left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto">
          </div>
        </div>
        <div class="inline-flex items-center space-x-2 lg:px-2 relative z-10">
          <IconButton
            :class="{ 'opacity-50 ': atBeginning }"
            :aria-disabled="atBeginning"
            :tabindex="atEnd ? -1 : 0"
            x-on:click="prev"
            tabindex="0"
            variant="alternative"
            size="sm">
            <ChevronLeft
              size="base"
              slot="icon"
            />
            <span class="sr-only">Skip to previous slide page</span>
          </IconButton>
          <IconButton
            :class="{ 'opacity-50 ': atEnd }"
            :aria-disabled="atEnd"
            :tabindex="atEnd ? -1 : 0"
            x-on:click="next"
            tabindex="0"
            variant="alternative"
            size="sm">
            <ChevronRight
              size="base"
              slot="icon"
            />
            <span class="sr-only">Skip to next slide page</span>
          </IconButton>
        </div>
        <ul
          class="flex w-full gap-3 overflow-x-scroll text-center py-12 scrollbar-hide snap-mandatory snap-x rounded-2xl"
          role="listbox"
          aria-labelledby="carousel-content-label"
          tabindex="0"
          x-ref="slider">
          <li
            role="option"
            aria-selected="false"
            x-bind="disableNextAndPreviousButtons"
            class="p-6 shrink-0 snap-start bg-base-50 rounded-2xl shadow">
            <figure
              class="relative flex flex-col justify-between h-full max-w-xs">
              <figcaption class="flex-col relative flex items-center gap-3">
                <img
                  alt="#_"
                  src="/avatars/1.avif"
                  class="object-cover rounded-full size-12"
                />
                <div>
                  <Text
                    tag="h3"
                    variant="textMD"
                    class="text-base-900 font-medium">
                    Mike Andreuzza
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="text-base-400 font-medium">
                    Creator
                  </Text>
                </div>
              </figcaption>
              <div>
                <Text
                  tag="blockquote"
                  variant="textMD"
                  class="text-base-900 italic font-medium mt-4">
                  Implementing Semplice's blockchain technology has been a
                  game-changer for our supply chain management.
                </Text>
              </div>
            </figure>
          </li>
          <li
            role="option"
            aria-selected="false"
            x-bind="disableNextAndPreviousButtons"
            class="p-6 shrink-0 snap-start bg-base-50 rounded-2xl shadow">
            <figure
              class="relative flex flex-col justify-between h-full max-w-xs">
              <figcaption class="flex-col relative flex gap-3 items-center">
                <img
                  alt="#_"
                  src="/avatars/2.avif"
                  class="object-cover rounded-full size-12"
                />
                <div>
                  <Text
                    tag="h3"
                    variant="textMD"
                    class="text-base-900 font-medium">
                    Gege Piazza
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="text-base-400 font-medium">
                    Developer
                  </Text>
                </div>
              </figcaption>
              <div>
                <Text
                  tag="blockquote"
                  variant="textMD"
                  class="text-base-900 italic font-medium mt-4">
                  Implementing Semplice's blockchain technology has been a
                  game-changer for our supply chain management.
                </Text>
              </div>
            </figure>
          </li>
          <li
            role="option"
            aria-selected="false"
            x-bind="disableNextAndPreviousButtons"
            class="p-6 shrink-0 snap-start bg-base-50 rounded-2xl shadow">
            <figure
              class="relative flex flex-col justify-between h-full max-w-xs">
              <figcaption class="flex-col relative flex items-center gap-3">
                <img
                  alt="#_"
                  src="/avatars/3.avif"
                  class="object-cover rounded-full size-12"
                />
                <div>
                  <Text
                    tag="h3"
                    variant="textMD"
                    class="text-base-900 font-medium">
                    Jenson Button
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="text-base-400 font-medium">
                    Founder
                  </Text>
                </div>
              </figcaption>
              <div>
                <Text
                  tag="blockquote"
                  variant="textMD"
                  class="text-base-900 italic font-medium mt-4">
                  We were initially hesitant about integrating blockchain
                  technology into our existing systems.
                </Text>
              </div>
            </figure>
          </li>
          <li
            role="option"
            aria-selected="false"
            x-bind="disableNextAndPreviousButtons"
            class="p-6 shrink-0 snap-start bg-base-50 rounded-2xl shadow">
            <figure
              class="relative flex flex-col justify-between h-full max-w-xs">
              <figcaption class="flex-col relative flex gap-3 items-center">
                <img
                  alt="#_"
                  src="/avatars/4.avif"
                  class="object-cover mx-auto rounded-full size-12"
                />
                <div>
                  <Text
                    tag="h3"
                    variant="textMD"
                    class="text-base-900 font-medium">
                    Johanna Manoy
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="text-base-400 font-medium">
                    Designer
                  </Text>
                </div>
              </figcaption>
              <div>
                <Text
                  tag="p"
                  variant="textBase"
                  class="text-base-500 font-medium">
                  Being in the financial industry, we were always looking for
                  ways to enhance our transactions' security and efficiency.
                </Text>
              </div>
            </figure>
          </li>
          <li
            role="option"
            aria-selected="false"
            x-bind="disableNextAndPreviousButtons"
            class="p-6 shrink-0 snap-start bg-base-50 rounded-2xl shadow">
            <figure
              class="relative flex flex-col justify-between h-full max-w-xs">
              <figcaption class="flex-col relative flex gap-3 items-center">
                <img
                  alt="#_"
                  src="/avatars/5.avif"
                  class="object-cover rounded-full size-12"
                />
                <div>
                  <Text
                    tag="h3"
                    variant="textMD"
                    class="text-base-900 font-medium">
                    Sandra Piazza
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="text-base-400 font-medium">
                    Creator
                  </Text>
                </div>
              </figcaption>
              <div>
                <Text
                  tag="p"
                  variant="textBase"
                  class="text-base-500 font-medium">
                  Implementing Semplice's blockchain technology has been a
                  game-changer for our supply chain management.
                </Text>
              </div>
            </figure>
          </li>
          <li
            role="option"
            aria-selected="false"
            x-bind="disableNextAndPreviousButtons"
            class="p-6 shrink-0 snap-start bg-base-50 rounded-2xl shadow">
            <figure
              class="relative flex flex-col justify-between h-full max-w-xs">
              <figcaption class="flex-col relative flex gap-3 items-center">
                <img
                  alt="#_"
                  src="/avatars/6.avif"
                  class="object-cover mx-auto rounded-full size-12"
                />
                <div>
                  <Text
                    tag="h3"
                    variant="textMD"
                    class="text-base-900 font-medium">
                    Yokiro Mariro
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="text-base-400 font-medium">
                    Nutcracker
                  </Text>
                </div>
              </figcaption>
              <div>
                <Text
                  tag="p"
                  variant="textBase"
                  class="text-base-500 font-medium">
                  We were initially hesitant about integrating blockchain
                  technology into our existing systems.
                </Text>
              </div>
            </figure>
          </li>
          <li
            role="option"
            aria-selected="false"
            x-bind="disableNextAndPreviousButtons"
            class="p-6 shrink-0 snap-start bg-base-50 rounded-2xl shadow">
            <figure
              class="relative flex flex-col justify-between h-full max-w-xs">
              <figcaption class="flex-col relative flex gap-3 items-center">
                <img
                  alt="#_"
                  src="/avatars/8.avif"
                  class="object-cover mx-auto rounded-full size-12"
                />
                <div>
                  <Text
                    tag="h3"
                    variant="textMD"
                    class="text-base-900 font-medium">
                    Valentina Miu
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="text-base-400 font-medium">
                    Writter
                  </Text>
                </div>
              </figcaption>
              <div>
                <Text
                  tag="p"
                  variant="textBase"
                  class="text-base-500 font-medium">
                  Being in the financial industry, we were always looking for
                  ways to enhance our transactions' security and efficiency.
                </Text>
              </div>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
