---
import Text from "@/components/fundations/typography/Text.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
import ChevronLeft from "@/components/fundations/icons/ChevronLeft.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";

export const excludeFromObfuscation = ["opacity-50"];
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div>
      <Text tag="p" variant="textSM" class="font-bold uppercase text-stone-600">
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="display2XL"
        class="mt-4 font-semibold text-zinc-900 lg:text-balance"
      >
        Hear from our customers about their experiences
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
        Find out how our users are using Oxbow UI to create a customized landing
        page for their business.
      </Text>
    </div>
    <div
      class="flex flex-col w-full mt-12"
      x-data="{
                      skip: 1,
                      atBeginning: false,
                      atEnd: false,
                      next() {
                          this.to((current, offset) => current + (offset * this.skip))
                      },
                      prev() {
                          this.to((current, offset) => current - (offset * this.skip))
                      },
                      to(strategy) {
                          let slider = this.$refs.slider
                          let current = slider.scrollLeft
                          let offset = slider.firstElementChild.getBoundingClientRect().width
                          slider.scrollTo({ left: strategy(current, offset), behavior: 'smooth' })
                      },
                      focusableWhenVisible: {
                          'x-intersect:enter'() {
                              this.$el.removeAttribute('tabindex')
                          },
                          'x-intersect:leave'() {
                              this.$el.setAttribute('tabindex', '-1')
                          },
                      },
                      disableNextAndPreviousButtons: {
                          'x-intersect:enter.threshold.05'() {
                              let slideEls = this.$el.parentElement.children
                              // If this is the first slide.
                              if (slideEls[0] === this.$el) {
                                  this.atBeginning = true
                              // If this is the last slide.
                              } else if (slideEls[slideEls.length-1] === this.$el) {
                                  this.atEnd = true
                              }
                          },
                          'x-intersect:leave.threshold.05'() {
                              let slideEls = this.$el.parentElement.children
                              // If this is the first slide.
                              if (slideEls[0] === this.$el) {
                                  this.atBeginning = false
                              // If this is the last slide.
                              } else if (slideEls[slideEls.length-1] === this.$el) {
                                  this.atEnd = false
                              }
                          },
                      },
                  }"
    >
      <div
        class="relative flex flex-col w-full"
        aria-labelledby="carousel-label"
        role="region"
        tabindex="0"
        x-on:keydown.left="prev"
        x-on:keydown.right="next"
      >
        <h2 class="sr-only" hidden="" id="carousel-label">Carousel</h2>
        <span class="sr-only" hidden="" id="carousel-content-label"
          >Carousel</span
        >
        <div class="justify-between w-full grid">
          <div
            class="absolute inset-0 left-0 z-10 from-white via-transparent w-44 bg-gradient-to-r"
          >
          </div>
          <div
            class="absolute inset-0 left-0 z-10 ml-auto from-white via-transparent w-44 bg-gradient-to-l"
          >
          </div>
        </div>
        <div class="relative z-10 inline-flex items-center space-x-2 lg:px-2">
          <IconButton
            :class="{ 'opacity-50 ': atBeginning }"
            :aria-disabled="atBeginning"
            :tabindex="atEnd ? -1 : 0"
            x-on:click="prev"
            tabindex="0"
            variant="alternative"
            size="sm"
          >
            <ChevronLeft size="base" slot="icon" />
            <span class="sr-only">Skip to previous slide page</span>
          </IconButton>
          <IconButton
            :class="{ 'opacity-50 ': atEnd }"
            :aria-disabled="atEnd"
            :tabindex="atEnd ? -1 : 0"
            x-on:click="next"
            tabindex="0"
            variant="alternative"
            size="sm"
          >
            <ChevronRight size="base" slot="icon" />
            <span class="sr-only">Skip to next slide page</span>
          </IconButton>
        </div>
        <ul
          class="flex w-full py-12 overflow-x-scroll text-center gap-3 scrollbar-hide snap-mandatory snap-x rounded-2xl"
          role="listbox"
          aria-labelledby="carousel-content-label"
          tabindex="0"
          x-ref="slider"
        >
          <li
            role="option"
            aria-selected="false"
            x-bind="disableNextAndPreviousButtons"
            class="p-6 shadow shrink-0 snap-start bg-zinc-50 rounded-2xl"
          >
            <figure
              class="relative flex flex-col justify-between h-full max-w-xs"
            >
              <figcaption class="relative flex flex-col items-center gap-3">
                <img
                  alt="#_"
                  src="/avatars/1.jpg"
                  class="object-cover rounded-full size-12"
                />
                <div>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-medium text-zinc-900"
                  >
                    Mike Andreuzza
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="font-medium text-zinc-400"
                  >
                    Creator
                  </Text>
                </div>
              </figcaption>
              <div>
                <Text
                  tag="blockquote"
                  variant="textBase"
                  class="mt-4 italic font-medium text-zinc-900"
                >
                  Implementing Semplice's blockchain technology has been a
                  game-changer for our supply chain management.
                </Text>
              </div>
            </figure>
          </li>
          <li
            role="option"
            aria-selected="false"
            x-bind="disableNextAndPreviousButtons"
            class="p-6 shadow shrink-0 snap-start bg-zinc-50 rounded-2xl"
          >
            <figure
              class="relative flex flex-col justify-between h-full max-w-xs"
            >
              <figcaption class="relative flex flex-col items-center gap-3">
                <img
                  alt="#_"
                  src="/avatars/2.jpg"
                  class="object-cover rounded-full size-12"
                />
                <div>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-medium text-zinc-900"
                  >
                    Gege Piazza
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="font-medium text-zinc-400"
                  >
                    Developer
                  </Text>
                </div>
              </figcaption>
              <div>
                <Text
                  tag="blockquote"
                  variant="textBase"
                  class="mt-4 italic font-medium text-zinc-900"
                >
                  Implementing Semplice's blockchain technology has been a
                  game-changer for our supply chain management.
                </Text>
              </div>
            </figure>
          </li>
          <li
            role="option"
            aria-selected="false"
            x-bind="disableNextAndPreviousButtons"
            class="p-6 shadow shrink-0 snap-start bg-zinc-50 rounded-2xl"
          >
            <figure
              class="relative flex flex-col justify-between h-full max-w-xs"
            >
              <figcaption class="relative flex flex-col items-center gap-3">
                <img
                  alt="#_"
                  src="/avatars/3.jpg"
                  class="object-cover rounded-full size-12"
                />
                <div>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-medium text-zinc-900"
                  >
                    Jenson Button
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="font-medium text-zinc-400"
                  >
                    Founder
                  </Text>
                </div>
              </figcaption>
              <div>
                <Text
                  tag="blockquote"
                  variant="textBase"
                  class="mt-4 italic font-medium text-zinc-900"
                >
                  We were initially hesitant about integrating blockchain
                  technology into our existing systems.
                </Text>
              </div>
            </figure>
          </li>
          <li
            role="option"
            aria-selected="false"
            x-bind="disableNextAndPreviousButtons"
            class="p-6 shadow shrink-0 snap-start bg-zinc-50 rounded-2xl"
          >
            <figure
              class="relative flex flex-col justify-between h-full max-w-xs"
            >
              <figcaption class="relative flex flex-col items-center gap-3">
                <img
                  alt="#_"
                  src="/avatars/4.jpg"
                  class="object-cover mx-auto rounded-full size-12"
                />
                <div>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-medium text-zinc-900"
                  >
                    Johanna Manoy
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="font-medium text-zinc-400"
                  >
                    Designer
                  </Text>
                </div>
              </figcaption>
              <div>
                <Text
                  tag="p"
                  variant="textBase"
                  class="font-medium text-zinc-500"
                >
                  Being in the financial industry, we were always looking for
                  ways to enhance our transactions' security and efficiency.
                </Text>
              </div>
            </figure>
          </li>
          <li
            role="option"
            aria-selected="false"
            x-bind="disableNextAndPreviousButtons"
            class="p-6 shadow shrink-0 snap-start bg-zinc-50 rounded-2xl"
          >
            <figure
              class="relative flex flex-col justify-between h-full max-w-xs"
            >
              <figcaption class="relative flex flex-col items-center gap-3">
                <img
                  alt="#_"
                  src="/avatars/5.jpg"
                  class="object-cover rounded-full size-12"
                />
                <div>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-medium text-zinc-900"
                  >
                    Sandra Piazza
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="font-medium text-zinc-400"
                  >
                    Creator
                  </Text>
                </div>
              </figcaption>
              <div>
                <Text
                  tag="p"
                  variant="textBase"
                  class="font-medium text-zinc-500"
                >
                  Implementing Semplice's blockchain technology has been a
                  game-changer for our supply chain management.
                </Text>
              </div>
            </figure>
          </li>
          <li
            role="option"
            aria-selected="false"
            x-bind="disableNextAndPreviousButtons"
            class="p-6 shadow shrink-0 snap-start bg-zinc-50 rounded-2xl"
          >
            <figure
              class="relative flex flex-col justify-between h-full max-w-xs"
            >
              <figcaption class="relative flex flex-col items-center gap-3">
                <img
                  alt="#_"
                  src="/avatars/6.jpg"
                  class="object-cover mx-auto rounded-full size-12"
                />
                <div>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-medium text-zinc-900"
                  >
                    Yokiro Mariro
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="font-medium text-zinc-400"
                  >
                    Nutcracker
                  </Text>
                </div>
              </figcaption>
              <div>
                <Text
                  tag="p"
                  variant="textBase"
                  class="font-medium text-zinc-500"
                >
                  We were initially hesitant about integrating blockchain
                  technology into our existing systems.
                </Text>
              </div>
            </figure>
          </li>
          <li
            role="option"
            aria-selected="false"
            x-bind="disableNextAndPreviousButtons"
            class="p-6 shadow shrink-0 snap-start bg-zinc-50 rounded-2xl"
          >
            <figure
              class="relative flex flex-col justify-between h-full max-w-xs"
            >
              <figcaption class="relative flex flex-col items-center gap-3">
                <img
                  alt="#_"
                  src="/avatars/8.avif"
                  class="object-cover mx-auto rounded-full size-12"
                />
                <div>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-medium text-zinc-900"
                  >
                    Valentina Miu
                  </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="font-medium text-zinc-400"
                  >
                    Writter
                  </Text>
                </div>
              </figcaption>
              <div>
                <Text
                  tag="p"
                  variant="textBase"
                  class="font-medium text-zinc-500"
                >
                  Being in the financial industry, we were always looking for
                  ways to enhance our transactions' security and efficiency.
                </Text>
              </div>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
