---
import Text from "@/components/fundations/typography/Text.astro";
---

<section x-data="{ testimonialActive: 1 }">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div>
      <div x-show.transition="testimonialActive == 1">
        <Text
          tag="blockquote"
          variant="displayLG"
          class="text-base-900 italic font-medium lg:text-balance"
        >
          Being in the financial industry, we were always looking for ways to
          enhance our transactions' security and efficiency
        </Text>
      </div>
      <div x-show.immediate="testimonialActive === 2" style="display: none;">
        <div x-show.transition="testimonialActive == 2">
          <Text
            tag="blockquote"
            variant="displayLG"
            class="text-base-900 italic font-medium lg:text-balance"
          >
            Implementing Semplice's blockchain technology has been a
            game-changer for our supply chain management
          </Text>
        </div>
      </div>
      <div x-show.immediate="testimonialActive === 3" style="display: none;">
        <div x-show.transition="testimonialActive == 3">
          <Text
            tag="blockquote"
            variant="displayLG"
            class="text-base-900 italic font-medium lg:text-balance"
          >
            We were initially hesitant about integrating blockchain technology
            into our existing systems.
          </Text>
        </div>
      </div>
    </div>
    <div
      class="flex lg:items-center flex-col gap-4 lg:flex-row border-t border-base-200 mt-8 pt-8"
    >
      <div class="flex flex-row items-center">
        <button
          @click.prevent="testimonialActive = 1"
          class="inline-block mx-2 font-bold text-center rounded-full shadow-xs focus:outline-none focus:ring-2 ring-2 shadow-box blue-950/5 ring-accent-700 ring-offset-base-100 opacity-100 text-white"
          :class="{'size-12 opacity-25  ': testimonialActive != 1, 'opacity-100  text-white': testimonialActive == 1 }"
        >
          <img
            class="inline-block size-12 rounded-full object-cover"
            src="/avatars/1.jpg"
            alt="#"
          />
        </button>
        <button
          @click.prevent="testimonialActive = 2"
          class="inline-block mx-2 font-bold text-center rounded-full shadow-xs focus:outline-none focus:ring-2 ring-2 shadow-box blue-950/5 ring-accent-700 ring-offset-base-100 size-12 opacity-25"
          :class="{'size-12 opacity-25  ': testimonialActive != 2, 'opacity-100  ': testimonialActive == 2 }"
        >
          <img
            class="inline-block size-12 rounded-full object-cover"
            src="/avatars/2.jpg"
            alt="@dqmonn on twitter"
          />
        </button>
        <button
          @click.prevent="testimonialActive = 3"
          class="inline-block mx-2 font-bold text-center rounded-full shadow-xs focus:outline-none focus:ring-2 ring-2 shadow-box blue-950/5 ring-accent-700 ring-offset-base-100 size-12 opacity-25"
          :class="{'size-12 opacity-25  ': testimonialActive != 3, 'opacity-100  text-white': testimonialActive == 3 }"
        >
          <img
            class="inline-block size-12 rounded-full object-cover"
            src="/avatars/3.jpg"
            alt="#_"
          />
        </button>
      </div>
      <div>
        <div x-show="testimonialActive == 1">
          <Text tag="h3" variant="textBase" class="text-base-900 font-medium">
            Michael Andreuzza
          </Text>
          <Text tag="p" variant="textXS" class="text-base-400 font-medium">
            Founder
          </Text>
        </div>
        <div x-show="testimonialActive == 2" style="display: none;">
          <Text tag="h3" variant="textLG" class="text-base-900 font-medium">
            Jonny Mnemonic
          </Text>
          <Text tag="p" variant="textXS" class="text-base-400 font-medium">
            Designer
          </Text>
        </div>
        <div x-show="testimonialActive == 3" style="display: none;">
          <Text tag="h3" variant="textLG" class="text-base-900 font-medium">
            Anna Svenblad
          </Text>
          <Text tag="p" variant="textXS" class="text-base-400 font-medium">
            Writter
          </Text>
        </div>
      </div>
    </div>
  </div>
</section>
