<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div
      class="p-8 lg:p-20 text-center rounded-2xl bg-gradient-to-b from-blue-500 to-blue-600 shadow"
    >
      <span
        class="font-mono text-xs font-medium tracking-tight text-white uppercase"
        >Testimonnial</span
      >
      <blockquote
        class="text-4xl mt-12 font-semibold tracking-tight text-white lg:text-5xl"
      >
        "Being in the financial industry, we were always looking for ways to
        enhance our transactions' security and efficiency."
      </blockquote>
      <figcaption class="flex text-left mt-8 justify-center">
        <div class="flex items-center gap-4">
          <img
            class="object-cover rounded-full size-12"
            src="/avatars/1.avif"
            alt="#_"
          />
          <div>
            <h3
              class="tracking-tight text-lg font-medium text-white"
            >
              Michael Andreuzza
            </h3>
            <p class="mt-2 text-sm text-gray-200 text-balance">
              Creator of Oxbow UI.com
            </p>
          </div>
        </div>
      </figcaption>
    </div>
  </div>
</section>
