---
import Text from "@/components/fundations/typography/Text.astro";
const data = [
  {
    name: "Fernando Monte",
    title: "Creator of Oxbow UI.com",
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions' security and efficiency.",
    imgSrc: "/avatars/1.jpg",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    testimonial:
      "Oxbow UI is a platform that allows you to create a customized landing page for your business. It's a great way to showcase your products and services to potential customers.",
    imgSrc: "/avatars/2.jpg",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="relative px-8 mx-auto md:px-12 lg:px-32 max-w-7xl py-24">
    <div class="items-center grid grid-cols-1 lg:grid-cols-3 gap-2">
      <div class="lg:pr-8 lg:pb-8">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-blue-600 dark:text-blue-400"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayMD"
          class="mt-4 font-semibold text-zinc-900 dark:text-zinc-100 lg:text-balance"
        >
          Hear from our customers about their experiences
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 font-medium text-zinc-500 dark:text-zinc-400"
        >
          Find out how our users are using Oxbow UI to create a customized
          landing page for their business.
        </Text>
      </div>
      {
        data.map((member) => (
          <>
            <li class="flex flex-col h-full p-6 shadow bg-zinc-50 dark:bg-zinc-900 rounded-2xl ">
              <figure class="flex flex-col justify-between h-full ">
                <div>
                  <Text
                    tag="blockquote"
                    variant="textBase"
                    class="italic font-medium text-zinc-900 dark:text-zinc-100"
                  >
                    "{member.testimonial}"
                  </Text>
                </div>
                <figcaption class="flex items-center justify-between mt-12">
                  <div class="flex items-center gap-4">
                    <img
                      class="object-cover rounded-full size-10"
                      src={member.imgSrc}
                      alt="#_"
                    />
                    <div>
                      <Text
                        tag="h3"
                        variant="textBase"
                        class="font-medium text-zinc-900 dark:text-zinc-100"
                      >
                        {member.name}
                      </Text>

                      <Text
                        tag="p"
                        variant="textXS"
                        class="font-medium text-zinc-400 dark:text-zinc-300"
                      >
                        {member.title}
                      </Text>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </li>
          </>
        ))
      }
    </div>
  </div>
</section>
