---
import Text from "@/components/fundations/typography/Text.astro";
---

<section class="bg-white dark:bg-black relative bg-zinc-50 dark:bg-zinc-900">
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <figcaption class="flex text-left">
      <div class="flex items-center gap-4">
        <img
          class="object-cover rounded-full size-12"
          src="/avatars/1.jpg"
          alt="#_"
        />
        <div>
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium text-zinc-900 dark:text-zinc-100"
          >
            Fernando Monte
          </Text>
          <Text
            tag="p"
            variant="textXS"
            class="font-medium text-zinc-400 dark:text-zinc-300"
          >
            Designer
          </Text>
        </div>
      </div>
    </figcaption>
    <div>
      <Text
        tag="blockquote"
        variant="displayLG"
        class="mt-12 italic font-medium text-zinc-900 dark:text-zinc-100"
      >
        "Being in the financial industry, we were always looking for ways to
        enhance our transactions' security and efficiency"
      </Text>
    </div>
  </div>
</section>
