---
import Text from "@/components/fundations/typography/Text.astro";
---

<section class="bg-white dark:bg-zinc-900 relative bg-blue-950">
  <div class="relative px-8 mx-auto md:px-12 lg:px-32 max-w-7xl py-24">
    <div class="text-center">
      <div>
        <Text
          tag="blockquote"
          variant="displayLG"
          class="italic font-medium text-white"
        >
          "Being in the financial industry, we were always looking for ways to
          enhance our transactions' security and efficiency"
        </Text>
      </div>
      <figcaption class="flex justify-center mt-8 text-left">
        <div class="flex items-center gap-4">
          <img
            class="object-cover rounded-full size-12"
            src="/avatars/1.jpg"
            alt="#_"
          />
          <div>
            <Text tag="h3" variant="textBase" class="font-medium text-white">
              Fernando Monte
            </Text>
            <Text tag="p" variant="textXS" class="font-medium text-zinc-200">
              Designer
            </Text>
          </div>
        </div>
      </figcaption>
    </div>
  </div>
</section>
