<section x-data="{ testimonialActive: 1 }">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center max-w-xl mx-auto">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-zinc-900 lg:text-balance">
        Hear from our customers about their experiences
      </h1>
      <p class="mt-6 text-base font-medium text-zinc-500 lg:text-balance">
        Find out how our users are using Oxbow UI to create a customized landing
        page for their business.
      </p>
    </div>
    <div class="relative flex flex-col h-full py-12 text-center">
      <p
        class="py-2 text-4xl lg:text-5xl font-semibold tracking-tighter text-zinc-900">
        "We were initially hesitant about integrating blockchain technology into
        our existing systems. "
      </p>
      <img
        class="inline-block size-12 rounded-full object-cover mx-auto"
        src="/avatars/1.avif"
        alt="#"
      />

      <div>
        <h2 class="tracking-tight mt-2 text-lg font-medium text-zinc-900">
          Michael Andreuzza
        </h2>
        <a
          href="#_"
          class="text-xs text-zinc-400"
          >@Mike_Andreuzza.</a
        >
      </div>
    </div>
  </div>
</section>
