---
import Text from "@/components/fundations/typography/Text.astro";
const data = [
  {
    name: "Fernando Monte",
    title: "Creator of Oxbow UI.com",
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions' security and efficiency.",
    imgSrc: "/avatars/1.jpg",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    testimonial:
      "Oxbow UI is a platform that allows you to create a customized landing page for your business. It's a great way to showcase your products and services to potential customers.",
    imgSrc: "/avatars/2.jpg",
  },
  {
    name: "Hanako Yamada",
    title: "Founder of Fesla",
    testimonial:
      "With Oxbow UI, we can create a customized landing page for our business that showcases our products and services in the best possible way.",
    imgSrc: "/avatars/3.jpg",
  },
  {
    name: "Sarah Jenkins",
    title: "Marketing Manager at BrightTech",
    testimonial:
      "Oxbow UI has significantly improved our online presence and customer engagement. The ease of creating a professional landing page is unmatched, and we've seen a significant increase in traffic and conversions.",
    imgSrc: "/avatars/4.jpg",
  },
  {
    name: "Sandra Kimmel",
    title: "CEO of Tech Innovators",
    testimonial:
      "Oxbow UI's user-friendly interface has allowed us to quickly set up landing pages that attract and retain customers. It's a game-changer for our marketing efforts.",
    imgSrc: "/avatars/6.jpg",
  },
  {
    name: "Emily Taylor",
    title: "Creative Director at Artify",
    testimonial:
      "Using Oxbow UI, we have been able to craft visually stunning landing pages that effectively showcase our artistic projects and attract new clients.",
    imgSrc: "/avatars/5.jpg",
  },
];
---

<section class="bg-white dark:bg-zinc-900 relative overflow-hidden">
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="max-w-xl mx-auto text-center">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-blue-600 dark:text-blue-400"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-zinc-900 dark:text-zinc-100 lg:text-balance"
      >
        Hear from our customers about their experiences
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 font-medium text-zinc-500">
        Find out how our users are using Oxbow UI to create a customized landing
        page for their business.
      </Text>
    </div>
    <div class="flex justify-center py-4 overflow-hidden gap-5 sm:gap-4">
      {
        data.map((member) => (
          <div class="flex flex-none w-full  sm:w-96">
            <figure class="flex flex-col justify-between h-full p-6 shadow  bg-zinc-50 dark:bg-zinc-900 rounded-2xl">
              <div>
                <Text
                  tag="blockquote"
                  variant="textBase"
                  class="italic font-medium text-zinc-900 dark:text-zinc-100"
                >
                  "{member.testimonial}"
                </Text>
              </div>
              <figcaption class="flex items-center justify-between mt-12 ">
                <div class="flex items-center gap-4">
                  <img
                    class="object-cover rounded-full size-10"
                    src={member.imgSrc}
                    alt="#_"
                  />
                  <div>
                    <Text
                      tag="h3"
                      variant="textBase"
                      class="font-medium text-zinc-900 dark:text-zinc-100"
                    >
                      {member.name}
                    </Text>

                    <Text
                      tag="p"
                      variant="textXS"
                      class="font-medium text-zinc-400 dark:text-zinc-300"
                    >
                      {member.title}
                    </Text>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
        ))
      }
    </div>
  </div>
</section>
