---
import Text from "@/components/fundations/typography/Text.astro";
const data = [
  {
    name: "Fernando Monte",
    title: "Creator of Oxbow UI.com",
    testimonial:
      "Being in the financial industry, we were always looking for ways to enhance our transactions' security and efficiency.",
    imgSrc: "/avatars/1.jpg",
  },
  {
    name: "Juan Echanove",
    title: "Founder of Pay Oneeer",
    testimonial:
      "Oxbow UI is a platform that allows you to create a customized landing page for your business. It's a great way to showcase your products and services to potential customers.",
    imgSrc: "/avatars/2.jpg",
  },
  {
    name: "Hanako Yamada",
    title: "Founder of Fesla",
    testimonial:
      "With Oxbow UI, we can create a customized landing page for our business that showcases our products and services in the best possible way.",
    imgSrc: "/avatars/3.jpg",
  },
  {
    name: "Sarah Jenkins",
    title: "Marketing Manager at BrightTech",
    testimonial:
      "Oxbow UI has significantly improved our online presence and customer engagement. The ease of creating a professional landing page is unmatched, and we've seen a significant increase in traffic and conversions.",
    imgSrc: "/avatars/4.jpg",
  },
  {
    name: "Sandra Kimmel",
    title: "CEO of Tech Innovators",
    testimonial:
      "Oxbow UI's user-friendly interface has allowed us to quickly set up landing pages that attract and retain customers. It's a game-changer for our marketing efforts.",
    imgSrc: "/avatars/6.jpg",
  },
  {
    name: "Emily Taylor",
    title: "Creative Director at Artify",
    testimonial:
      "Using Oxbow UI, we have been able to craft visually stunning landing pages that effectively showcase our artistic projects and attract new clients.",
    imgSrc: "/avatars/5.jpg",
  },
];
---

<section class="relative overflow-hidden">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center max-w-xl mx-auto">
      <Text
        tag="p"
        variant="textSM"
        class="font-bold uppercase text-accent-600"
      >
        Tagline
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-4 font-semibold text-base-900 lg:text-balance"
      >
        Hear from our customers about their experiences
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
        Find out how our users are using Oxbow UI to create a customized landing
        page for their business.
      </Text>
    </div>
  </div>
  <div class="flex justify-center gap-5 overflow-hidden sm:gap-4 py-4">
    {
      data.map((member) => (
        <>
          <div class="  w-full flex flex-none sm:w-96 ">
            <figure class="h-full  bg-base-50 p-6 rounded-2xl flex flex-col justify-between shadow">
              <div>
                <Text
                  tag="blockquote"
                  variant="textBase"
                  class="text-base-900 italic font-medium"
                >
                  "{member.testimonial}"
                </Text>
              </div>
              <figcaption class="flex items-center mt-12 justify-between ">
                <div class="flex items-center gap-4">
                  <img
                    class="object-cover rounded-full size-10"
                    src={member.imgSrc}
                    alt="#_"
                  />
                  <div>
                    <Text
                      tag="h3"
                      variant="textBase"
                      class="text-base-900 font-medium"
                    >
                      {member.name}
                    </Text>

                    <Text
                      tag="p"
                      variant="textXS"
                      class="text-base-400 font-medium"
                    >
                      {member.title}
                    </Text>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
        </>
      ))
    }
  </div>
</section>
