<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div>
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Testimonials</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-zinc-900 lg:text-balance">
        Hear from our customers about their experiences
      </h1>
      <p
        class="mt-6 text-base font-medium lg:w-1/2 text-zinc-500 lg:text-balance">
        Find out how our users are using Oxbow UI to create a customized landing
        page for their business.
      </p>
    </div>
    <figure class="relative flex flex-col lg:flex-row gap-12 items-center mt-12">
      <div>
        <blockquote>
          <p
            class="text-3xl font-semibold tracking-tight text-zinc-900 lg:text-balance">
            " Being in the financial industry, we were always looking for ways
            to enhance our transactions' security and efficiency"
          </p>
        </blockquote>
        <div class="mt-6">
          <h3 class="tracking-tight text-lg font-medium text-zinc-900">
            Ana Betancourt
          </h3>
          <p class="mt-2 text-sm text-zinc-500">Creator of Something</p>
        </div>
      </div>
      <figcaption class="justify-between w-full">
        <img
          alt="#_"
          src="/avatars/5.avif"
          class="object-cover w-full h-full rounded-2xl aspect-[4/3]"
        />
      </figcaption>
    </figure>
  </div>
</section>
