---
import Text from "@/components/fundations/typography/Text.astro";
---

<section>
  <div class="relative px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="max-w-4xl mx-auto text-center">
      <div>
        <Text
          tag="blockquote"
          variant="displayLG"
          class="italic font-medium text-gray-900"
        >
          "Being in the financial industry, we were always looking for ways to
          enhance our transactions' security and efficiency."
        </Text>
      </div>
      <figcaption class="flex justify-center mt-8 text-left">
        <div class="flex items-center gap-4">
          <img
            class="object-cover rounded-full size-12"
            src="/avatars/1.jpg"
            alt="#_"
          />
          <div>
            <Text tag="h3" variant="textBase" class="font-medium text-gray-900">
              Fernando Monte
            </Text>
            <Text tag="p" variant="textXS" class="font-medium text-gray-400">
              Designer
            </Text>
          </div>
        </div>
      </figcaption>
    </div>
  </div>
</section>
