---
import { getAuth } from "firebase-admin/auth";
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
import NinjaScript from "@/components/commandBar/NinjaScript.astro";

import { app } from "@/firebase/server";

const auth = getAuth(app);
const uid = Astro.locals.user?.uid;
const customToken = uid ? await auth.createCustomToken(uid) : null;
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead />
  </head>
  <body class="bg-white dark:bg-black">
    <div
      class="bg-stripes-light dark:bg-stripes-dark max-w-7xl mx-auto border-x border-base-100 dark:border-base-900 px-2 md:px-0 w-full"
    >
      <Navigation />
      <main class="grow z-1">
        <slot />
      </main>
      <Footer />
    </div>

    <ninja-keys
      id="ninja"
      class="light"
      selectHotkey="enter"
      placeholder="Search for anything..."
    >
      <slot name="footer" />
    </ninja-keys>
    <NinjaScript />

    <astro-firebase data-customtoken={customToken}></astro-firebase>

    <script>
      import {
        inMemoryPersistence,
        signInWithCustomToken,
      } from "firebase/auth";
      import { auth } from "@/firebase/client";

      import * as amplitude from "@amplitude/analytics-browser";

      class AstroFirebase extends HTMLElement {
        constructor() {
          super();
          const customToken = this.dataset.customtoken;

          if (customToken) {
            auth.setPersistence(inMemoryPersistence);

            signInWithCustomToken(auth, customToken)
              .then((credentials) => {
                window.umami?.track("login", {
                  id: credentials.user.uid,
                });
                window.umami?.identify({
                  id: credentials.user.uid,
                });

                amplitude.setUserId(credentials.user.uid);
                console.log("Successfully signed in with custom token");
              })
              .catch((error) => {
                console.error("Error signing in with custom token", error);
              });
          }
        }
      }
      customElements.define("astro-firebase", AstroFirebase);
    </script>
  </body>
</html>
