---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/global/Navigation.astro";
import Footer from "../components/global/Footer.astro";
import NinjaScript from "@/components/commandBar/NinjaScript.astro";
---

<html lang="en" class="selection:text-blue selection:bg-blue/5">
  <head>
    <BaseHead />
  </head>
  <body class="bg-white flex mx-auto flex-col min-h-svh">
    <Navigation />
    <main class="grow">
      <slot />
    </main>
    <Footer />
    <ninja-keys
      class="dark"
      selectHotkey="enter"
      placeholder="Search for anything..."
    >
      <slot name="footer" />
    </ninja-keys>
    <NinjaScript />
  </body>
</html>
