---
import BaseHead from "../components/BaseHead.astro";

---

<html
  lang="en"
  class="selection:text-blue selection:bg-blue/5">
  <head>
    <BaseHead />
  </head>
  <body class="bg-white flex mx-auto flex-col min-h-svh">

    <main class="grow">
      <slot />
    </main>

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </body>
</html>
