---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section class="border-t border-base-200">
    <Wrapper variant="standard" class="bg-white lg:border-x lg:border-base-200">
      <Wrapper variant="prose" class="max-w-xl py-12 mx-auto">
        <slot />
      </Wrapper>
    </Wrapper>
  </section>
  <script type="module">
    document.addEventListener("DOMContentLoaded", () => {
      function copyToClipboard(text, button) {
        navigator.clipboard
          .writeText(text)
          .then(() => {
            button.textContent = "Copied!";
            button.classList.add("copied");
            setTimeout(() => {
              button.textContent = "Copy";
              button.classList.remove("copied");
            }, 2000); // Reset button text and style after 2 seconds
          })
          .catch((err) => {
            console.error("Failed to copy: ", err);
            button.textContent = "Failed to copy";
            setTimeout(() => {
              button.textContent = "Copy";
            }, 2000);
          });
      }

      document.querySelectorAll("pre code").forEach((block) => {
        const button = document.createElement("button");
        button.textContent = "Copy";
        button.onclick = () => copyToClipboard(block.textContent, button);
        button.className =
          "flex items-center text-xs justify-center text-center font-medium duration-500 ease-in-out transition-colors focus:outline-2 focus:outline-offset-2 text-base-700 bg-white outline outline-base-200 hover:shadow-sm focus:outline-base-900 shadow-sm h-7 px-3.2 py-1.5 text-xs rounded-md w-20 ml-auto";
        block.parentElement.insertBefore(button, block);
      });
    });
  </script>
</BaseLayout>
