---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <section>
    <div class="max-w-xl mx-auto px-8 py-12 content-end">
      <div class="prose-styles">
        <slot />
      </div>
    </div>
  </section>
</BaseLayout>
