<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Your tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 sm:text-balance">
        Transform your visitors into users with an engaging headline
      </h1>
      <p
        class="lg:w-1/2 mx-auto mt-6 text-base font-medium text-gray-500 sm:text-balance">
        The fastest method for working together on staging and temporary
        environments.
      </p>

      <form
        class="w-full p-2 mx-auto mt-12 rounded-xl sm:flex sm:max-w-md bg-white ring-1 ring-gray-200 shadow">
        <label
          for="email-address"
          class="sr-only"
          >Email address</label
        >
        <input
          id="email-address"
          type="email"
          name="email-address"
          autocomplete="email"
          placeholder="Enter your email"
          aria-placeholder="Enter your email"
          required=""
          class="block w-full h-10 px-4 py-2 text-sm text-blue-700 border border-transparent appearance-none rounded-lg bg-gray-50 placeholder-blue-950 focus:border-gray-500 focus:bg-transparent focus:outline-none focus:ring-blue-300 sm:text-sm"
        />
        <div class="mt-2 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
          <button
            type="submit"
            class="flex items-center w-full sm:w-auto justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-lg bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-800 shadow shadow-blue-600/50 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none lg:w-auto"
            >Subscribe</button
          >
        </div>
      </form>
    </div>
  </div>
</section>
