<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >Your tagline</span
      >
      <h1
        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 sm:text-balance">
        Transform your visitors into users with an engaging headline
      </h1>
      <p
        class="lg:w-2/3 mx-auto mt-6 text-base font-medium text-gray-500 sm:text-balance">
        The fastest and most efficient method for working together on staging
        and temporary environments. This approach streamlines collaboration
        among team members, ensuring that development and testing processes are
        seamless and effective.
      </p>
      <div
        class="mx-auto mt-10 grid max-w-lg opacity-50 grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:max-w-2xl lg:grid-cols-5">
        <img
          class="col-span-2 max-h-8 w-full object-contain lg:col-span-1"
          src="/brands/1.svg"
          alt="#_"
        />
        <img
          class="col-span-2 max-h-8 w-full object-contain lg:col-span-1"
          src="/brands/2.svg"
          alt="#_"
        />
        <img
          class="col-span-2 max-h-8 w-full object-contain lg:col-span-1"
          src="/brands/3.svg"
          alt="#_"
        />
        <img
          class="col-span-2 max-h-8 w-full object-contain sm:col-start-2 lg:col-span-1"
          src="/brands/4.svg"
          alt="#_"
        />
        <img
          class="col-span-2 col-start-2 max-h-8 w-full object-contain sm:col-start-auto lg:col-span-1"
          src="/brands/5.svg"
          alt="#_"
        />
      </div>
    </div>
  </div>
</section>
