<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center">
      <p
        class="lg:w-2/3 mx-auto text-base font-medium text-gray-500 sm:text-balance"
      >
        The fastest and most efficient method for working together on staging
        and temporary environments. This approach streamlines collaboration
        among team members, ensuring that development and testing processes are
        seamless and effective. By leveraging this method, teams can rapidly
        prototype, experiment, and validate changes in a controlled setting
        before deploying to production.
      </p>
      <div class="mt-12 flex justify-center">
        <a
          href="#_"
          aria-label="Action"
          class="text-blue-500 hover:text-gray-900 text-sm font-medium duration-300 flex items-center gap-2"
          >Get started
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M9 6l6 6l-6 6"></path></svg
          >
        </a>
      </div>
    </div>
  </div>
</section>
