<div
  class="text-3xl font-sans absolute font-thin -top-[1.3rem] -left-[0.6rem] z-10 text-zinc-400">
  +
</div>
<div
  class="text-3xl font-sans absolute font-thin -bottom-[1rem] -left-[0.6rem] z-10 text-zinc-400">
  +
</div>
<div
  class="text-3xl font-sans absolute font-thin -top-[1.3rem] -right-[0.6rem] z-10 text-zinc-400">
  +
</div>
<div
  class="text-3xl font-sans absolute font-thin -bottom-[1rem] -right-[0.6rem] z-10 text-zinc-400">
  +
</div>
