---
export const freeComponent = true;
---

<div>
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:grid-cols-3">
      <img src="/images/p1.svg" alt="#_" class="object-cover size-full" />
      <div class="flex flex-col gap-4">
        <img src="/images/p1.svg" alt="#_" class="object-cover size-full" />
        <img src="/images/p1.svg" alt="#_" class="object-cover size-full" />
      </div>
      <img src="/images/p1.svg" alt="#_" class="object-cover size-full" />
    </div>
  </div>
  <!-- copy:end -->
</div>
