---
import Button from "@/components/fundations/buttons/Button.astro";
import { Image } from "astro:assets";
import g1 from "@/images/gallery/1.png";
import g2 from "@/images/gallery/2.png";
import g3 from "@/images/gallery/3.png";
import g4 from "@/images/gallery/4.png";
import g5 from "@/images/gallery/5.png";
import g6 from "@/images/gallery/6.png";
import g7 from "@/images/gallery/7.png";
import g8 from "@/images/gallery/8.png";


const gallery = [
  { src: g1, alt: "Oxbow UI" },
  { src: g2, alt: "Oxbow UI" },
  { src: g3, alt: "Oxbow UI" },
  { src: g4, alt: "Oxbow UI" },
  { src: g5, alt: "Oxbow UI" },
  { src: g6, alt: "Oxbow UI" },
  { src: g7, alt: "Oxbow UI" },
  { src: g8, alt: "Oxbow UI" },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:grid-cols-4">
      {
        gallery.map(({ src, alt }) => (
          <Image
            src={src}
            alt={alt}
            class="object-cover size-full aspect-square"
          />
        ))
      }
    </div>
    <Button variant="default" size="sm" class="mx-auto mt-8">
      See gallery
    </Button>
  </div>
</section>
