---
import Text from "@/components/fundations/typography/Text.astro";
import { Image } from "astro:assets";
import g1 from "@/images/gallery/1.png";
import g2 from "@/images/gallery/2.png";
import g3 from "@/images/gallery/3.png";
import g4 from "@/images/gallery/4.png";

---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <Image
        width={500}
        height={500}
        src={g1}
        alt="#_"
        class="object-cover object-top size-full aspect-4/2"
      />
      <Image
        width={500}
        height={500}
        src={g2}
        alt="#_"
        class="object-cover object-top size-full aspect-4/2"
      />

      <div class="order-first py-12 lg:order-none">
        <Text
          variant="displayMD"
          tag="h2"
          class="font-semibold tracking-tight text-zinc-900 dark:text-white sm:text-balance"
        >
          Explore our visual showcase
        </Text>
        <Text
          variant="textSM"
          tag="p"
          class="mt-2 font-medium text-zinc-500 dark:text-zinc-400 sm:text-balance"
        >
          A curated collection of images capturing the essence of our brand and
          the stories we tell.
        </Text>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <Image
          width={500}
          height={500}
          src={g3}
          alt="#_"
          class="object-cover object-top size-full aspect-4/2"
        />
        <Image
          width={500}
          height={500}
          src={g4}
          alt="#_"
          class="object-cover object-top size-full aspect-4/2"
        />
      </div>
    </div>
  </div>
</section>
