<div>
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto px-8 lg:px-12 py-24">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <img
        src="/images/p1.svg"
        alt="#_"
        class="size-full object-cover aspect-[4/2]"
      />
      <img
        src="/images/p1.svg"
        alt="#_"
        class="size-full object-cover aspect-[4/2]"
      />

      <div class="order-first py-12 lg:order-none">
        <span
          class="font-mono text-xs font-medium tracking-tight uppercase text-blue-600"
          >Tagline</span
        >
        <h1
          class="mt-4 text-4xl font-semibold tracking-tight text-zinc-900 sm:text-balance"
        >
          Explore our visual showcase
        </h1>
        <p class="mt-6 text-base font-medium text-zinc-500 sm:text-balance">
          A curated collection of images capturing the essence of our brand and
          the stories we tell.
        </p>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <img
          src="/images/p1.svg"
          alt="#_"
          class="size-full object-cover aspect-[4/2]"
        />
        <img
          src="/images/p1.svg"
          alt="#_"
          class="size-full object-cover aspect-[4/2]"
        />
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
