---
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="relative bg-white dark:bg-zinc-900">
  <div class="lg:absolute lg:inset-0 lg:right-1/2">
    <div class="h-full grid grid-cols-1 lg:grid-cols-3 gap-4">
      <img
        class="object-cover w-full h-64 bg-zinc-50 sm:h-80 lg:h-full lg:col-span-2"
        src="/images/p1.svg"
        alt="#_"
      />
      <div class="flex flex-col gap-4">
        <img
          src="/images/p1.svg"
          alt="#_"
          class="hidden object-cover size-full lg:block"
        />
        <img
          src="/images/p1.svg"
          alt="#_"
          class="hidden object-cover size-full lg:block"
        />
        <img
          src="/images/p1.svg"
          alt="#_"
          class="hidden object-cover size-full lg:block"
        />
      </div>
    </div>
  </div>
  <div
    class="py-16 pb-24 sm:py-24 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:py-96"
  >
    <div class="px-8 lg:col-start-2 lg:pl-24">
      <div class="max-w-xl mx-auto lg:mx-0 lg:max-w-lg">
        
        <h1
          class=" text-4xl font-semibold tracking-tight text-zinc-900 dark:text-white sm:text-balance"
        >
          Explore our visual showcase
        </h1>
        <p
          class="mt-2 text-base font-medium text-zinc-500 dark:text-zinc-400 sm:text-balance"
        >
          A curated collection of images capturing the essence of our brand and
          the stories we tell.
        </p>
        <div class="flex mt-8">
          <Button variant="outline" size="sm"> See gallery </Button>
        </div>
      </div>
    </div>
  </div>
</div>
