<section class="bg-white dark:bg-zinc-900">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-32 py-24">
    <div class="items-center grid grid-cols-1 gap-12 lg:grid-cols-6">
      <div class="lg:col-span-2">
        <span
          class="font-mono text-xs font-medium tracking-tight uppercase text-blue-600"
          >Tagline</span
        >
        <h1
          class="mt-4 text-4xl font-semibold tracking-tight text-zinc-900 dark:text-zinc-100 sm:text-balance"
        >
          Explore our visual showcase
        </h1>
        <p
          class="mt-6 text-base font-medium text-zinc-500 dark:text-zinc-400 sm:text-balance"
        >
          A curated collection of images capturing the essence of our brand and
          the stories we tell.
        </p>
      </div>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:grid-cols-3 lg:col-span-4"
      >
        <div class="flex flex-col gap-4 sm:col-span-2 lg:col-span-1">
          <img
            src="/images/p1.svg"
            alt="#_"
            class="object-cover size-full aspect-square lg:max-h-60"
          />
          <img src="/images/p1.svg" alt="#_" class="object-cover size-full" />
        </div>
        <div class="flex flex-col gap-4 sm:col-span-2 lg:col-span-1">
          <img src="/images/p1.svg" alt="#_" class="object-cover size-full" />
          <img src="/images/p1.svg" alt="#_" class="object-cover size-full" />
          <img src="/images/p1.svg" alt="#_" class="object-cover size-full" />
          <img src="/images/p1.svg" alt="#_" class="object-cover size-full" />
        </div>
        <div class="flex flex-col gap-4 sm:col-span-2 lg:col-span-1">
          <img src="/images/p1.svg" alt="#_" class="object-cover size-full" />
          <img
            src="/images/p1.svg"
            alt="#_"
            class="object-cover size-full aspect-square max-h-60"
          />
        </div>
      </div>
    </div>
  </div>
</section>
