---
import Text from "@/components/fundations/typography/Text.astro"
---
<section>
  <div class="py-32 mx-auto max-w-screen">
    <div class="text-center max-w-xl mx-auto lg:text-balance">
      <Text
      tag="p"
      variant="textSM"
      class="font-bold uppercase text-accent-600"
    >
      Tagline
    </Text>
    <Text
      tag="h2"
      variant="displayBase"
      class="mt-4 font-semibold text-base-900 lg:text-balance"
    >
    Explore our visual showcase
    </Text>
    <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
      A curated collection of images capturing the essence of our brand and
      the stories we tell.
    </Text>
    </div>
    <div class="-my-4 flex justify-center gap-5 mt-24 overflow-hidden py-4 sm:gap-8">
      <div
        class="relative aspect-[9/10] w-44 flex-none overflow-hidden sm:w-72 rotate-2">
        <img
          alt="#_"
          class="absolute inset-0 size-full  object-cover"
          src="/images/p1.svg"
        />
      </div><div
        class="relative aspect-[9/10] w-44 flex-none overflow-hidden sm:w-72 -rotate-2">
        <img
          alt="#_"
          class="absolute inset-0 size-full  object-cover"
          src="/images/p1.svg"
        />
      </div><div
        class="relative aspect-[9/10] w-44 flex-none overflow-hidden sm:w-72 rotate-2">
        <img
          alt="#_"
          class="absolute inset-0 size-full  object-cover"
          src="/images/p1.svg"
        />
      </div><div
        class="relative aspect-[9/10] w-44 flex-none overflow-hidden sm:w-72 rotate-2">
        <img
          alt="#_"
          class="absolute inset-0 size-full  object-cover"
          src="/images/p1.svg"
        />
      </div><div
        class="relative aspect-[9/10] w-44 flex-none overflow-hidden sm:w-72 -rotate-2">
        <img
          class="absolute inset-0 size-full  object-cover"
          alt="#_"
          src="/images/p1.svg"
        />
      </div>
    </div>
  </div>
</section>
