---
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="flex flex-col gap-4">
        <img
          src="/images/p1.svg"
          alt="#_"
          class="size-full object-cover max-h-64"
        />
        <img
          src="/images/p1.svg"
          alt="#_"
          class="size-full object-cover aspect-square"
        />
      </div>
      <div class="flex flex-col gap-4">
        <img
          src="/images/p1.svg"
          alt="#_"
          class="size-full object-cover aspect-square"
        />
        <img
          src="/images/p1.svg"
          alt="#_"
          class="size-full object-cover max-h-64"
        />
      </div>
    </div>
    <div class="grid grid-cols-1 mt-12 gap-12 lg:grid-cols-3 items-end">
      <div class="lg:col-span-2">
        <Text
          tag="p"
          variant="textSM"
          class="font-bold uppercase text-accent-600"
        >
          Tagline
        </Text>
        <Text
          tag="h2"
          variant="displayBase"
          class="mt-4 font-semibold text-base-900 lg:text-balance"
        >
          Explore our visual showcase
        </Text>
        <Text tag="p" variant="textBase" class="mt-4 text-base-500 font-medium">
          A curated collection of images capturing the essence of our brand and
          the stories we tell.
        </Text>
      </div>
      <div class="flex justify-center">
        <Button gap="xs" size="base" variant="muted"> See all products </Button>
      </div>
    </div>
  </div>
</section>
