---
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="p-8">
  <!-- copy:start -->
  <div class="max-w-7xl mx-auto">
    <div
      class="pb-5 border-b border-zinc-200 sm:flex sm:items-center sm:justify-between"
    >
      <div class="sm:w-0 sm:flex-1">
        <h1 class="text-lg font-medium tracking-tight text-zinc-900">
          Oxbow UI
        </h1>
        <p class="mt-1 text-sm font-medium text-zinc-500 sm:text-pretty">
          30 images
        </p>
      </div>
      <div class="mt-3 sm:ml-4 sm:mt-0">
        <Button variant="alternative" size="sm"> See gallery </Button>
      </div>
    </div>

    <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 gap-4">
      <img
        src="/images/p1.svg"
        alt="#_"
        class="object-cover size-full aspect-square"
      />
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
        <img
          src="/images/p1.svg"
          alt="#_"
          class="object-cover size-full aspect-square"
        />
        <img
          src="/images/p1.svg"
          alt="#_"
          class="object-cover size-full aspect-square"
        />
        <img
          src="/images/p1.svg"
          alt="#_"
          class="object-cover size-full lg:col-span-2"
        />
      </div>
    </div>
  </div>
  <!-- copy:end -->
</div>
