---
import Button from "@/components/fundations/buttons/Button.astro";
---

<section>
  <div class="px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:grid-cols-4">
      <img
        src="/images/p1.svg"
        alt="#_"
        class="object-cover size-full aspect-square lg:col-start-2"
      />
      <img
        src="/images/p1.svg"
        alt="#_"
        class="object-cover size-full aspect-square lg:col-start-4 lg:row-span-2"
      />
      <div class="order-first py-12 lg:col-span-2 lg:order-none lg:col-start-2">
        <span
          class="font-mono text-xs font-medium tracking-tight uppercase text-blue-600"
          >Tagline</span
        >
        <h1
          class="mt-4 text-4xl font-semibold tracking-tight text-zinc-900 sm:text-balance"
        >
          Explore our visual showcase
        </h1>
        <p class="mt-6 text-base font-medium text-zinc-500 sm:text-balance">
          A curated collection of images capturing the essence of our brand and
          the stories we tell.
        </p>
      </div>
      <img
        src="/images/p1.svg"
        alt="#_"
        class="object-cover size-full aspect-square lg:col-start-1 lg:row-span-2"
      />
      <img
        src="/images/p1.svg"
        alt="#_"
        class="object-cover size-full aspect-square"
      />
      <img
        src="/images/p1.svg"
        alt="#_"
        class="object-cover size-full aspect-square"
      />
      <img
        src="/images/p1.svg"
        alt="#_"
        class="object-cover size-full aspect-square lg:col-start-2"
      />
      <div class="py-12 lg:col-span-2 lg:col-start-3">
        <Button variant="alternative" size="sm"> See gallery </Button>
      </div>
    </div>
  </div>
</section>
