---
export const freeComponent = true;
export const description = "Dynamic character limit with warning";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex flex-col justify-center p-8 mx-auto bg-white dark:bg-zinc-900">
  <div class="max-w-sm w-full mx-auto">
    <!-- copy:start -->
    <div class="w-full space-y-1" x-data="{ text: '', maxLength: 100 }">
      <Text
        for="input-char-limit"
        tag="label"
        variant="textSM"
        class="font-medium text-zinc-500"
      >
        Message
      </Text>
      <textarea
        id="input-char-limit"
        name="input-char-limit"
        x-model="text"
        :maxlength="maxLength"
        rows="4"
        placeholder="Enter your message"
        class="block w-full px-4 py-2 text-sm bg-white dark:bg-zinc-900 border border-transparent rounded-lg appearance-none text-blue-700 dark:text-blue-300 duration-300 ring-1 ring-zinc-200 dark:ring-zinc-700 placeholder-zinc-400 dark:placeholder-zinc-500 focus:border-zinc-300 focus:bg-transparent focus:outline-none focus:ring-blue-500 dark:focus:ring-blue-400 focus:ring-offset-2 focus:ring-2 sm:text-sm"
      ></textarea>
      <div class="mt-2 text-sm text-zinc-500">
        <span x-text="text.length"></span> / <span x-text="maxLength"></span> characters
      </div>
    </div>
    <!-- copy:end -->
  </div>
</div>
