---
export const description = "Readonly textarea";
import Text from "@/components/fundations/typography/Text.astro";
---

<div
  class="flex flex-wrap items-end justify-center max-w-md py-12 mx-auto gap-4"
>
  <div class="w-full space-y-1">
    <Text
      for="readonly-textarea"
      tag="label"
      variant="textSM"
      class="font-medium text-gray-500"
    >
      Read-only textarea
    </Text>
    <textarea
      id="readonly-textarea"
      rows="4"
      placeholder="You cannot edit this"
      class="block w-full px-4 py-2 text-sm border border-transparent rounded-lg appearance-none text-blue-700 bg-gray-50 ring-1 ring-gray-200 placeholder-gray-400 focus:outline-none sm:text-sm"
      readonly></textarea>
  </div>
</div>
