---
export const description = "Readonly textarea";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex flex-col justify-center p-8 mx-auto bg-white dark:bg-zinc-900">
  <div class="max-w-sm w-full mx-auto">
    <!-- copy:start -->
    <div class="w-full space-y-1">
      <Text
        for="readonly-textarea"
        tag="label"
        variant="textSM"
        class="font-medium text-zinc-500"
      >
        Read-only textarea
      </Text>
      <textarea
        id="readonly-textarea"
        rows="4"
        placeholder="You cannot edit this"
        class="block w-full px-4 py-2 text-sm border border-transparent rounded-lg appearance-none text-blue-700 dark:text-blue-300 bg-zinc-50 dark:bg-zinc-900 ring-1 ring-zinc-200 dark:ring-zinc-700 placeholder-zinc-400 dark:placeholder-zinc-500 focus:outline-none sm:text-sm"
        readonly></textarea>
    </div>
    <!-- copy:end -->
  </div>
</div>
