---
export const description = "Disabled textarea";
import Text from "@/components/fundations/typography/Text.astro";
---
<div
  class="flex flex-wrap max-w-md items-end justify-center gap-4 py-12 mx-auto"
>
<div class="space-y-1 w-full">
    <Text
      for="disabled-textarea"
      tag="label"
      variant="textSM"
      class="text-base-500 font-medium"
    >
      Disabled textarea
    </Text>
    <textarea
      id="disabled-textarea"
      rows="4"
      placeholder="This textarea is disabled"
      class="block w-full px-4 py-2 text-sm text-base-400 bg-gray-100 border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:outline-none sm:text-sm"
      disabled
    ></textarea>
  </div>
  
</div>

