---
export const description = "Expandable textarea";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex flex-col justify-center p-8 mx-auto">
  <!-- copy:start -->
  <div class="w-full space-y-1" x-data="{ text: '', rows: 2 }">
    <Text
      for="expandable-textarea"
      tag="label"
      variant="textSM"
      class="font-medium text-zinc-500"
    >
      Expandable textarea
    </Text>
    <textarea
      id="expandable-textarea"
      x-model="text"
      :rows="rows"
      placeholder="Type more to expand"
      class="block w-full px-4 py-2 text-sm bg-white border border-transparent rounded-lg appearance-none text-stone-700 duration-300 ring-1 ring-zinc-200 placeholder-zinc-400 focus:border-zinc-300 focus:bg-transparent focus:outline-none focus:ring-stone-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
      @input="rows = Math.min(10, Math.floor((text.length / 20) + 2))"
    ></textarea>
  </div>
  <!-- copy:end -->
</div>
