---
export const description = "Expandable textarea";
import Text from "@/components/fundations/typography/Text.astro";
---

<div
  class="flex flex-wrap max-w-md items-end justify-center gap-4 py-12 mx-auto"
>
  <div class="space-y-1 w-full" x-data="{ text: '', rows: 2 }">
    <Text
      for="expandable-textarea"
      tag="label"
      variant="textSM"
      class="text-base-500 font-medium"
    >
      Expandable textarea
    </Text>
    <textarea
      id="expandable-textarea"
      x-model="text"
      :rows="rows"
      placeholder="Type more to expand"
      class="block w-full px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
      @input="rows = Math.min(10, Math.floor((text.length / 20) + 2))"
    ></textarea>
  </div>
</div>
