---
export const description = "Spell check toggle";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex flex-col justify-center p-8 mx-auto bg-white dark:bg-zinc-900">
  <div class="w-full max-w-sm mx-auto">
    <!-- copy:start -->
    <div class="w-full space-y-1" x-data="{ text: '', spellCheck: true }">
      <Text
        for="spellcheck-textarea"
        tag="label"
        variant="textSM"
        class="font-medium text-zinc-500 dark:text-zinc-300"
      >
        Spellcheck textarea
      </Text>
      <textarea
        id="spellcheck-textarea"
        x-model="text"
        rows="4"
        placeholder="Type your message"
        class="block w-full px-4 py-2 text-sm text-blue-700 bg-white border border-transparent rounded-lg appearance-none dark:bg-zinc-800 dark:text-blue-300 duration-300 ring-1 ring-zinc-200 dark:ring-zinc-700 placeholder-zinc-400 dark:placeholder-zinc-500 focus:border-zinc-300 dark:focus:border-zinc-600 focus:bg-transparent focus:outline-none focus:ring-blue-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
        :spellcheck="spellCheck"
      ></textarea>
      <label
        class="flex items-center mt-2 text-sm gap-3 text-zinc-500 dark:text-zinc-400"
      >
        <input
          type="checkbox"
          class="text-blue-600 rounded shadow size-4 border-zinc-300 dark:border-zinc-600 focus:ring-blue-600"
          x-model="spellCheck"
        />
        Enable spellcheck
      </label>
    </div>
    <!-- copy:end -->
</div>
</div>
