---
export const description = "Textarea with save draft";
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div class="flex flex-col justify-center p-8 mx-auto">
  <!-- copy:start -->
  <div class="w-full space-y-2" x-data="{ text: '', draft: '' }">
    <div>
      <Text
        for="save-draft-textarea"
        tag="label"
        variant="textSM"
        class="font-medium text-zinc-500"
      >
        Save draft textarea
      </Text>
      <textarea
        id="save-draft-textarea"
        x-model="text"
        rows="4"
        placeholder="Type your message"
        class="block w-full px-4 py-2 text-sm bg-white border border-transparent rounded-lg appearance-none text-stone-700 duration-300 ring-1 ring-zinc-200 placeholder-zinc-400 focus:border-zinc-300 focus:bg-transparent focus:outline-none focus:ring-stone-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
      ></textarea>
    </div>
    <div class="flex items-center mt-2 gap-2">
      <Button
        type="button"
        @click="draft = text"
        variant="accent"
        size="sm"
        class="ml-auto"
      >
        Save Draft
      </Button>
      <Button
        type="button"
        @click="text = draft"
        variant="alternative"
        size="sm"
      >
        Load Draft
      </Button>
    </div>
  </div>
  <!-- copy:end -->
</div>
