---
export const description = "Textarea with save draft";
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div
  class="flex flex-wrap max-w-md items-end justify-center gap-4 py-12 mx-auto"
>
  <div class="space-y-2 w-full" x-data="{ text: '', draft: '' }">
    <div>
      <Text
        for="save-draft-textarea"
        tag="label"
        variant="textSM"
        class="text-base-500 font-medium"
      >
        Save draft textarea
      </Text>
      <textarea
        id="save-draft-textarea"
        x-model="text"
        rows="4"
        placeholder="Type your message"
        class="block w-full px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
      ></textarea>
    </div>
    <div class="mt-4 flex items-center gap-2">
      <Button type="button" @click="draft = text" variant="accent" size="sm" class="ml-auto">
        Save Draft
      </Button>
      <Button type="button" @click="text = draft" variant="alternative" size="sm">
        Load Draft
      </Button>
    </div>
  </div>
</div>
