---
export const excludeFromObfuscation = ["ring-red-500", "focus:ring-red-500"];

export const description = "Textarea with Character Highlight";
import Text from "@/components/fundations/typography/Text.astro";
---

<div class="flex flex-col justify-center p-8 mx-auto">
  <!-- copy:start -->
  <div class="w-full space-y-1" x-data="{ text: '', threshold: 50 }">
    <Text
      for="highlight-textarea"
      tag="label"
      variant="textSM"
      class="font-medium text-zinc-500"
    >
      Highlight excess characters
    </Text>
    <textarea
      id="highlight-textarea"
      x-model="text"
      rows="4"
      placeholder="Type your message"
      class="block w-full px-4 py-2 text-sm bg-white border border-transparent rounded-lg appearance-none text-blue-700 duration-300 ring-1 ring-zinc-200 placeholder-zinc-400 focus:border-zinc-300 focus:bg-transparent focus:outline-none focus:ring-blue-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
      :class="{ 'ring-red-500 focus:ring-red-500': text.length > threshold }"
    ></textarea>
    <div class="mt-2 text-sm text-zinc-500">
      Characters: <span x-text="text.length"></span> (Limit: <span
        x-text="threshold"></span>)
    </div>
  </div>
  <!-- copy:end -->
</div>
