---
export const description = "Textarea with Emoji Picker";
import Text from "@/components/fundations/typography/Text.astro";
import IconButton from "@/components/fundations/buttons/IconButton.astro";
---

<div class="flex flex-col justify-center p-8 mx-auto">
  <!-- copy:start -->
  <div
    class="w-full space-y-2"
    x-data="{ text: '', emojis: ['ðŸ’ª', 'ðŸ¤£', 'ðŸ”¥', 'ðŸ‘', 'ðŸš€'] }"
  >
    <div>
      <Text
        for="emoji-picker-textarea"
        tag="label"
        variant="textSM"
        class="font-medium text-zinc-500"
      >
        Emoji picker
      </Text>
      <textarea
        id="emoji-picker-textarea"
        x-model="text"
        rows="4"
        placeholder="Type your message"
        class="block w-full px-4 py-2 text-sm bg-white border border-transparent rounded-lg appearance-none text-blue-700 duration-300 ring-1 ring-zinc-200 placeholder-zinc-400 focus:border-zinc-300 focus:bg-transparent focus:outline-none focus:ring-blue-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
      ></textarea>
    </div>
    <div class="flex items-center mt-2 gap-1">
      <template x-for="emoji in emojis" :key="emoji">
        <IconButton
          type="button"
          variant="alternative"
          size="xs"
          @click="text += emoji"
          x-text="emoji"
        />
      </template>
    </div>
  </div>
  <!-- copy:end -->
</div>
