---
export const description = "Textarea with Inline Tags";
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<div
  class="flex flex-wrap max-w-md items-end justify-center gap-4 py-12 mx-auto"
>
  <div
    class="space-y-2 w-full"
    x-data="{ text: '', tags: ['#Important', '#Todo'] }"
  >
   <div>
      <Text
        for="inline-tags-textarea"
        tag="label"
        variant="textSM"
        class="text-base-500 font-medium"
      >
        Inline tags
      </Text>
      <textarea
        id="inline-tags-textarea"
        x-model="text"
        rows="4"
        placeholder="Type and use inline tags"
        class="block w-full px-4 py-2 text-sm text-accent-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-accent-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
      ></textarea>
   </div>
    <div class="flex gap-2 mt-2">
      <template x-for="tag in tags" :key="tag">
        <Button   @click="text += tag + ' '"
        x-text="tag" type="button"  variant="muted" size="xs" >
          Clear
        </Button>
        
      </template>
    </div>
  </div>
</div>
