---
const images = [
  "/thumbs/1.svg",
  "/thumbs/2.svg",
  "/thumbs/3.svg",
];
---

<section>
  <div
    class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl columns-1 gap-2 sm:columns-2 md:columns-3"
  >
    {
      images.map((image, index) => (
        <img
          class="aspect-square object-cover object-center"
          src={image}
          alt={`${index + 1}_`}
        />
      ))
    }
  </div>
</section>
