<section>
  <div
    class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl grid grid-cols-1 gap-2 sm:grid-cols-2">
    <img
      class="object-cover object-center h-full"
      src="/thumbs/i1.jpg"
      alt="1_"
    />
    <div class="space-y-2 h-full">
      <img
        class="aspect-square object-cover object-center"
        src="/thumbs/i2.jpg"
        alt="2_"
      />
      <img
        class="aspect-square object-cover object-center"
        src="/thumbs/i3.jpg"
        alt="2_"
      />
    </div>
  </div>
</section>
