---
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const { btnLabel = "Get your link", email = false } = Astro.props;
---

<section>
  <Wrapper variant="standard">
    <div x-data="loginForm()" class="max-w-xl pb-12">
      <form
        x-cloak
        @submit.prevent="sendEmail()"
        x-show="!emailSent || errorMessage"
      >
        <div class="flex flex-col gap-1">
          <div>
            <label for="email" class="sr-only"> Email </label>
            <input
              id="email"
              name="email"
              type="email"
              x-model="email"
              x-on:input="clearErrorMessage"
              autocomplete="on"
              placeholder="email@example.com"
              required
              aria-required="true"
              class="block w-full px-4 py-1.5 text-black placeholder-nuetral-300 duration-300 border-2 border-transparent rounded-lg appearance-none focus:ring-2 focus:ring-accent-100 ring-1 ring-base-100 focus:border-accent-300 focus:outline-none sm:text-sm"
            />
            <div class="mt-4 space-y-2 text-xs text-base-500">
              <div x-cloak x-show="!!errorMessage">
                <p x-text="errorMessage"></p>
              </div>
            </div>
          <div>
            </div>
            {
              email && (
                <div>
                  <label for="password" class="sr-only">
                    Password
                  </label>
                  <input
                    id="password"
                    name="password"
                    type="password"
                    placeholder="Enter your password"
                    required
                    aria-required="true"
                    class="block w-full px-4 py-1.5 text-black placeholder-nuetral-300 duration-300 border-2 border-transparent rounded-lg appearance-none focus:ring-2 focus:ring-accent-100 ring-1 ring-base-100 focus:border-accent-300 focus:outline-none sm:text-sm"
                  />
                </div>
              )
            }
              <div class="text-sm text-base-500 font-medium ">
                <small
                  >By clicking 'Get your link', you agree to our <a href="/terms"
                  class="text-accent-500 hover:underline"
                    >Terms of Service</a
                  > and
                  <a href="/privacy"  class="text-accent-500 hover:underline"> Privacy Policy. </a>
                </small>
          </div>
            <button
              type="submit"
              aria-label="Get your link"
              :disabled="emailSent"
              x-text={`emailSent ? 'Check Your Inbox' : '${btnLabel}'`}
              class="flex items-center justify-center w-auto border mt-4 border-accent-950 h-9 px-4 py-2 font-medium text-white transition-all duration-200 rounded-full  focus:ring-2 focus:ring-offset-2 focus:outline-none bg-accent-950 hover:bg-accent-900 focus:ring-accent-900 text-sm"
            >
              {btnLabel}
            </button>
            </div>
         
        </div>
      </form>
      <div x-cloak x-show="emailSent" class="flex flex-col gap-4">
       <div>
          <Text
            tag="p"
            variant="textBase"
            class="text-accent-950 font-medium"
            >Didn't receive the email?</Text
          >
          <Text
            tag="p"
            variant="textSM"
            class="text-base-600 mt-2"
            >Add the email 
            <span class="font-medium"
              >noreply@oxbowui.firebaseapp.com</span
            > to your contacts to ensure you receive our emails and try again.</Text
          >
       </div>
        <div class="flex">
          <button
            class="flex items-center justify-center w-auto border border-accent-950 h-9 px-4 py-2 font-medium text-white transition-all duration-200 rounded-full  focus:ring-2 focus:ring-offset-2 focus:outline-none bg-accent-950 hover:bg-accent-900 focus:ring-accent-900"
            @click="clearForm()"
          >
            Try again
          </button>
        </div>
      </div>
    </div>
  </Wrapper>
</section>
