---
import Text from "@/components/fundations/typography/Text.astro";
import OxbowButton from "@/components/fundations/buttons/OxbowButton.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const { btnLabel = "Get your link", email = false } = Astro.props;
---

<section>
  <Wrapper variant="standard" class="h-[80dvh] flex flex-col py-24">
    <Text
      tag="h1"
      variant="displayMD"
      class="max-w-sm mx-auto font-medium tracking-tight text-center text-base-900 lg:text-balance"
    >
      Welcome back to Oxbow UI, sign in.
    </Text>
    <Text
      tag="p"
      variant="textBase"
      class="max-w-xl mx-auto mt-4 text-center text-base-500 text-balance"
    >
      Please enter the email address linked to your account, and we will send a
      unique sign-in link to your inbox.
    </Text>
    <div x-data="loginForm()">
      <form
        x-cloak
        @submit.prevent="sendEmail()"
        x-show="!emailSent || errorMessage"
        class="max-w-sm mx-auto mt-12"
      >
        <div class="flex flex-col gap-1">
          <div>
            <div>
              <label for="email" class="text-sm text-base-500"> Email </label>
              <input
                id="email"
                name="email"
                type="email"
                x-model="email"
                x-on:input="clearErrorMessage"
                autocomplete="on"
                placeholder="email@example.com"
                required
                aria-required="true"
                class="w-full text-lg border-transparent outline-none bg-base-100 h-10 text-base-700 placeholder-base-400 focus:ring-inset focus:ring-base-800 focus:border-base-800 focus:bg-white rounded-lg"
              />
            </div>

            <div x-cloak x-show="!!errorMessage">
              <p x-text="errorMessage" class="pt-4 text-xs text-base-500"></p>
            </div>

            {
              email && (
                <div>
                  <label for="password" class="text-sm text-base-500">
                    Password
                  </label>
                  <input
                    id="password"
                    name="password"
                    type="password"
                    placeholder="Enter your password"
                    required
                    aria-required="true"
                    class="w-full text-lg border-transparent outline-none bg-base-100 h-10 text-base-700 placeholder-base-400 focus:ring-inset focus:ring-base-800 focus:border-base-800 focus:bg-white rounded-lg"
                  />
                </div>
              )
            }

            <OxbowButton
              size="md"
              variant="default"
              type="submit"
              :disabled="emailSent"
              x-text={`emailSent ? 'Check Your Inbox' : '${btnLabel}'`}
              class="w-full mt-4"
            >
              {btnLabel}
            </OxbowButton>
          </div>
        </div>
      </form>
      <Text
        tag="p"
        variant="textXS"
        class="mt-4 font-medium text-center text-base-500"
      >
        Dont' have an account?
        <a
          href="/pricing"
          class="font-medium text-accent-600 hover:text-base-500"
        >
          Get full access
        </a>
      </Text>
      <div
        x-cloak
        x-show="emailSent"
        class="flex flex-col max-w-sm mx-auto mt-12 gap-4"
      >
        <div>
          <Text tag="p" variant="textBase" class="font-medium text-base-900"
            >Didn't receive the email?</Text
          >
          <Text tag="p" variant="textSM" class="mt-2 text-base-500"
            >Add the email
            <span class="font-medium">noreply@oxbowui.firebaseapp.com</span> to your
            contacts to ensure you receive our emails and try again.</Text
          >
        </div>
        <div class="flex mt-4">
          <OxbowButton
            size="md"
            variant="default"
            class="w-full"
            @click="clearForm()"
          >
            Try again
          </OxbowButton>
        </div>
      </div>
    </div>
  </Wrapper>
</section>
