---
import ScreenLayout from "@/layouts/ScreenLayout.astro";
---

<ScreenLayout>
  <section class="relative overflow-hidden">
    <div
      class="absolute inset-x-0 top-0 h-96 rotate-180 text-gray-400/30 opacity-60 [mask-image:linear-gradient(to_bottom,transparent,white)]">
      <svg
        class="absolute inset-0 h-full w-full"
        xmlns="http://www.w3.org/2000/svg"
        ><defs
          ><pattern
            id="grid-pattern"
            width="24"
            height="24"
            patternUnits="userSpaceOnUse"
            x="50%"
            y="100%"
            patternTransform="translate(0 -1)"
            ><path
              d="M0 32V.5H32"
              fill="none"
              stroke="currentColor"
            ></path></pattern
          ></defs
        ><rect
          width="100%"
          height="100%"
          fill="url(#grid-pattern)"
        ></rect></svg
      >
    </div>
    <div
      class="px-8 py-32 sm:py-48 lg:py-56 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
      <dl
        class="grid md:grid-cols-2 gap-x-6 gap-y-12 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16">
        <div class="flex flex-col h-full justify-between">
          <div>
            <img
              class="border aspect-square object-cover object-center"
              src="/images/blob1.jpeg"
              alt="#_"
            />
            <dt
              class="font-mono mt-6 uppercase tracking-tighter text-sm font-medium text-blue-950">
              NO GUARANTEE
            </dt>
            <dd class="mt-2 text-sm text-gray-500 text-pretty">
              The recipe is provided "as is" without any guarantees.
            </dd>
          </div>
          <p class="text-gray-500 texrt-sm mt-8">Caption</p>
        </div>
        <div class="flex flex-col h-full justify-between">
          <div>
            <img
              class="border aspect-square object-cover object-center"
              src="/images/blob2.jpeg"
              alt="#_"
            />
            <dt
              class="font-mono mt-6 uppercase tracking-tighter text-sm font-medium text-blue-950">
              FAST DELIVERY
            </dt>
            <dd class="mt-2 text-sm text-gray-500 text-pretty">
              We ensure your baked goods are delivered fresh and on time, every
              time.
            </dd>
          </div>
          <p class="text-gray-500 texrt-sm mt-8">Caption</p>
        </div>
        <div class="flex flex-col h-full justify-between">
          <div>
            <img
              class="border aspect-square object-cover object-center"
              src="/images/blob4.jpeg"
              alt="#_"
            />
            <dt
              class="font-mono mt-6 uppercase tracking-tighter text-sm font-medium text-blue-950">
              FAST DELIVERY
            </dt>
            <dd class="mt-2 text-sm text-gray-500 text-pretty">
              We ensure your baked goods are delivered fresh and on time, every
              time.
            </dd>
          </div>
          <p class="text-gray-500 texrt-sm mt-8">Caption</p>
        </div>
        <div class="flex flex-col h-full justify-between">
          <div>
            <img
              class="border aspect-square object-cover object-center"
              src="/images/blob4.jpeg"
              alt="#_"
            />
            <dt
              class="font-mono mt-6 uppercase tracking-tighter text-sm font-medium text-blue-950">
              QUALITY INGREDIENTS
            </dt>
            <dd class="mt-2 text-sm text-gray-500 text-pretty">
              Our recipes use only the highest quality ingredients for the best
              taste and texture.
            </dd>
          </div>
          <p class="text-gray-500 texrt-sm mt-8">Caption</p>
        </div>
      </dl>
    </div>
  </section>
</ScreenLayout>
