---
// Assets
import { Image } from "astro:assets";
import Lex from "@/images/ads/lex.png";
import AnimatedGradient from "@/components/assets/AnimatedGradient.astro";

// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import OxbowLink from "@/components/fundations/buttons/OxbowLink.astro";
---

<section>
  <Wrapper variant="standard" class="border-t">
    <div class="flex flex-col gap-4">
      <div
        class="relative overflow-hidden flex flex-col justify-end outline rounded-xl outline-base-900 dark:shadow-2xl dark:shadow-black bg-black p-8 lg:p-12"
      >
        <AnimatedGradient class="absolute inset-0 z-0" />
        <div class="relative flex flex-col gap-8 text-center py-24">
          <Text
            tag="h1"
            variant="displayMD"
            class="text-white lg:text-balance md:col-span-2 tracking-tighter font-mono uppercase"
          >
            Get lifetime access to all components, elements, and layouts for
            only $69</Text
          >
          <div class="flex justify-center">
            <OxbowLink
              gap="sm"
              size="base"
              variant="muted"
              href="/pricing"
              id="access-footer-cta"
              data-umami-event="access-footer-cta"
            >
              Get full access
            </OxbowLink>
          </div>
        </div>
      </div>
      <div
        class="relative overflow-hidden rounded-xl outline-base-100 shadow dark:outline-base-900 dark:shadow-2xl dark:shadow-black dark:bg-base-950 bg-stripes-light dark:bg-stripes-dark flex flex-col h-full justify-between"
      >
        <div class="text-center p-8 lg:p-12">
          <Text
            tag="h3"
            variant="displayMD"
            class="text-black dark:text-white font-normal tracking-tigt font-mono uppercase text-balance"
          >
            Lexington Themes
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 text-base-500 dark:text-white lg:text-balance max-w-xl mx-auto l"
          >
            Premium multipage themes &amp; UI Kits Beautifully crafted with
            Astro JS and Tailwind CSS.
          </Text>
          <div class="mt-8 flex justify-center">
            <OxbowLink
              gap="sm"
              size="base"
              variant="accent"
              id="lexington-cta"
              data-umami-event="lexington-cta"
              href="https://lexingtonthemes.com"
              class="w-auto"
            >
              See all themes
            </OxbowLink>
          </div>
        </div>
        <Image
          src={Lex}
          width={1824}
          height={1080}
          class="scale-120 lg:mask-r-from-20% lg:mask-b-to-85%"
          alt="Lexington Themes"
        />
      </div>
    </div>
  </Wrapper>
</section>
