---
import Crosses from "../designAssets/Crosses.astro";
---

<section>
  <div
    class="flex flex-col justify-center flex-1 w-full mx-auto space-y-24 max-w-5xl 2xl:max-w-screen-xl px-8">
    <div
      class="relative grid items-end grid-cols-1 p-10 mx-auto gap-y-12 lg:p-10 bg-accent-600">
      <div>
        <p class="w-full text-white font-medium sm:text-2xl 2xl:text-3xl">
          Get lifetime access to every components, elements and layouts
          available today for $149 and own it forever. Plus, new additions,
          lifetime updates, use on unlimited projects and enjoy lifetime
          support.
          <br />
          <br />
          <span class="text-white/80 italic lg:block"
            >No subscription required!</span
          >
        </p>
      </div>
      <div class="flex mt-8">
        <a
          href="/pricing"
          aria-label="Pricing"
          title="Get full access"
          id="access-footer-cta"
          data-umami-event="access-footer-cta"
          class="text-sm h-10 focus:outline-none focus:ring-2 focus:ring-accent-600 focus:ring-offset-2 font-medium inline-flex items-center px-4 py-1 rounded-full justify-between gap-3 bg-white text-black hover:bg-white/10 hover:text-white">
          Get acces for $149
        </a>
      </div>
    </div>
  </div>
</section>
