---
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import OxbowLink from "@/components/fundations/buttons/OxbowLink.astro";
// Check if the current page is the index page
const isIndexPage = Astro.url.pathname === "/";
---

<section>
  <!-- Conditionally render this section based on the page -->
  <Wrapper variant="standard" class="py-12 lg:py-24">
    {
      !isIndexPage && (
        <div class="bg-white text-center p-8 lg:py-20 border-base-200 border  relative overflow-hidden lg:col-span-2">
          <div class="relative max-w-2xl mx-auto">
            <Text
              tag="h2"
              variant="displayLG"
              class="text-black lg:text-balance font-semibold"
            >
              Get lifetime access to all components, elements, and layouts for
              only <del class="opacity-45">$149</del> $67
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="mt-4 text-base-500 lg:text-balance max-w-xl mx-auto"
            >
              Own them forever with lifetime updates, unlimited usage, and
              support—no subscription required!
            </Text>
            <div class="mt-10 flex items-center justify-center gap-2">
              <OxbowLink
                gap="sm"
                size="base"
                variant="accent"
                href="/pricing"
                id="access-footer-cta"
                data-umami-event="access-footer-cta"
                class="w-auto"
              >
                See all themes
                <span>
                  <del class="opacity-45">$149</del> $67
                </span>
              </OxbowLink>
            </div>
          </div>
        </div>
      )
    }
    <div
      class="relative overflow-hidden border border-base-200 bg-white lg:col-span-2 gap-y-12 items-start grid grid-cols-1 md:grid-cols-4"
    >
      <div class="text-center lg:text-left py-12">
        <Text
          tag="h2"
          variant="displaySM"
          class="text-black lg:text-balance font-semibold"
        >
          Lexington Themes
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-base-500 lg:text-balance max-w-xl mx-auto lg:mx-0"
        >
          Premium multipage themes &amp; UI Kits Beautifully crafted with Astro
          JS and Tailwind CSS.
        </Text>
        <div class="mt-8 flex justify-center lg:justify-start">
          <OxbowLink
            gap="sm"
            size="base"
            variant="default"
            href="https://lexingtonthemes.com"
            id="lexington-cta"
            data-umami-event="lexington-cta"
            class="w-auto"
          >
            See all themes
            <span>
              <del class="opacity-45">$149</del> $67
            </span>
          </OxbowLink>
        </div>
      </div>
      <img
        class="md:col-span-3"
        src="/images/bundle.png"
        alt="Lexington Themes"
        width="1824"
        height="1080"
      />
    </div>
  </Wrapper>
</section>
