---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import OxbowLink from "@/components/fundations/buttons/OxbowLink.astro";
---

<section>
  <Wrapper variant="standard" class="py-8">
    <div
      class="relative flex flex-col justify-end p-8 overflow-hidden rounded-xl lg:p-12"
    >
      <div class="relative flex flex-col py-24 text-center gap-8">
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight text-base-900 lg:text-balance"
        >
          Get lifetime access to all components, elements, and layouts for only
          $69</Text
        >
        <div class="flex justify-center">
          <OxbowLink
            gap="sm"
            size="base"
            variant="muted"
            href="/pricing"
            id="access-footer-cta"
            data-umami-event="access-footer-cta"
          >
            Get full access
          </OxbowLink>
        </div>
      </div>
    </div>
  </Wrapper>
</section>
