---
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

// Check if the current page is the index page
const isIndexPage = Astro.url.pathname === "/";
---

{
      !isIndexPage && (
      <section class="border-t border-base-200">
        <!-- Conditionally render this section based on the page -->
        <Wrapper variant="standard" class="py-12 space-y-12">
        <div class="relative p-10 lg:p-10 bg-accent-600 overflow-hidden ring-4 ring-base-100 rounded-xl border border-base-200">
          <img
            class="invert absolute opacity-10 lg:-right-64 -top-12"
            src="/images/oxbow/windLogoDark.png"
            alt="#_"
          />
          <div>
            <Text
              tag="p"
              variant="displayBase"
              class="text-white font-medium text-pretty"
            >
              Unlock lifetime access for just $67 (Originally $149)!
            </Text>
            <Text
              tag="p"
              variant="displaySM"
              class="text-white/80 text-balance mt-2"
            >
              Gain unlimited access to every component and UI block – yours to
              own forever. Plus, enjoy these perks:
            </Text>
            <ul class="mt-8 text-white">
              <li>
                <Text tag="p" variant="textXL" class="">
                  <span class="font-semibold">— Lifetime updates</span> to stay
                  ahead with the latest features.
                </Text>
              </li>
              <li>
                <Text tag="p" variant="textXL" class="">
                  <span class="font-semibold">— Unlimited usage </span>across
                  all your projects.
                </Text>
              </li>
              <li>
                <Text tag="p" variant="textXL" class="">
                  <span class="font-semibold">— Lifetime support </span>to
                  assist you every step of the way.
                </Text>
              </li>
            </ul>

            <div class="flex mt-8">
              <Text
                tag="a"
                href="/pricing"
                aria-label="Pricing"
                title="Get full access"
                id="access-footer-cta"
                data-umami-event="access-footer-cta"
                class="flex items-center justify-center w-full sm:w-auto ring-4 ring-base-50/20  h-12 px-6 py-2 font-medium text-accent-600 transition-all duration-200 rounded-full   focus:ring-2 focus:ring-offset-2 focus:outline-none bg-white border border-base-200 hover:text-accent-950 focus:ring-accent-600"
              >
                Get access for <del class="opacity-45">$149</del> $67
              </Text>
            </div>
          </div>
        </div>
   
  </Wrapper>
</section>
      )
    }

