---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import OxbowLink from "@/components/fundations/buttons/OxbowLink.astro";
---

<section class="border-t border-base-200">
  <Wrapper variant="standard" class="lg:border-x lg:border-base-200">
    <div
      class="relative flex flex-col justify-end p-8 overflow-hidden rounded-xl lg:pt-48 bg-linear-45 from-accent-1400 to-accent-1000 shadow-oxbow"
    >
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:items-end">
        <div class="lg:col-span-2">
          <div class="lg:col-span-2">
            <Text
              tag="h1"
              variant="displaySM"
              class="font-medium text-white lg:text-balance"
            >
              Full access for $99. Yours forever. Updates, new stuff, support // the whole deal.
            </Text>
            <Text
              tag="p"
              variant="textBase"
              class="mt-2 text-base-200 lg:text-balance"
            >
              Everything we’ve made, and everything we haven’t yet. One price. No surprises.
            </Text>
          </div>
          
        </div>
        <div class="flex lg:ml-auto">
          <OxbowLink
            gap="sm"
            size="base"
            variant="muted"
            href="/pricing"
            id="access-footer-cta"
            data-umami-event="access-footer-cta"
          >
            Get full access
          </OxbowLink>
        </div>
      </div>
    </div>
  </Wrapper>
</section>
