---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import OxbowLink from "@/components/fundations/buttons/OxbowLink.astro";
---

<section>
  <!-- Conditionally render this section based on the page -->
  <Wrapper variant="standard">
    <div class="flex flex-col max-w-xs">
      <Text
        tag="h3"
        variant="textBase"
        class="text-base-600 font-medium text-balance"
      >
        Get over 400+ well crafter components & UI blocks ready to
        copy-and-paste on your next project.
      </Text>
      <div class="flex mt-4">
        <OxbowLink
          href="/pricing"
          size="xs"
          variant="accent"
          id="tools-cta"
          data-umami-event="tools-cta"
          class="w-auto"
        >
          Get all access!
        </OxbowLink>
      </div>
    </div>
  </Wrapper>
</section>
