---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import OxbowLink from "@/components/fundations/buttons/OxbowLink.astro";
---

<section class="lg:border-t lg:border-base-200">
  <!-- Conditionally render this section based on the page -->
  <Wrapper variant="standard" class="bg-white lg:border-x lg:border-base-200">
    <div class="flex items-center justify-between gap-2">
      <Text tag="h3" variant="textBase" class="text-base-900 text-balance">
        Get over 400+ well crafter components & UI blocks ready to
        copy-and-paste on your next project.
      </Text>
      <div class="flex">
        <OxbowLink
          size="xs"
          variant="accent"
          href="/pricing"
          id="tools-cta"
          data-umami-event="tools-cta"
          class="w-auto"
        >
          Get all access!
        </OxbowLink>
      </div>
    </div>
  </Wrapper>
</section>
