---
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section >
  <!-- Conditionally render this section based on the page -->
  <Wrapper variant="standard" >
    <div
      class="grid grid-cols-1 sm:grid-cols-2 items-center py-8 border border-base-200 bg-white justify-center w-full gap-x-4  gap-y-2"
    >
     <div class="px-4 relative before:absolute after:absolute before:bg-black before:top-0 before:left-0 before:h-6 before:w-0.5 after:top-8 after:bottom-0 after:left-0 after:w-0.5">
        <Text tag="h3" variant="textSM" class="text-base-600 font-semibold">
          Get over 400+ well crafter components & UI blocks ready to
          copy-and-paste on your next project.
        </Text>
     </div>
      <div class="flex lg:ml-auto">
        <Text
          tag="a"
          id="tools-cta"
          data-umami-event="tools-cta"
          href="/pricing"
          class="flex items-center justify-center w-auto h-10 px-4 py-2 font-medium text-white transition-all duration-200 rounded-full shrink-0 gap-x-1 focus:ring-2 focus:ring-offset-2 focus:outline-none bg-accent-600 hover:bg-accent-700 focus:ring-accent-600"
        >
          Get all access!
        </Text>
      </div>
    </div>
  </Wrapper>
</section>
