---
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section class="border-t border-base-200">
  <!-- Conditionally render this section based on the page -->
  <Wrapper variant="standard" class="py-2 bg-accent-950">
    <div
      class="flex flex-wrap items-center justify-center w-full gap-x-4 text-center gap-y-2"
    >
      <Text tag="h3" variant="textBase" class="text-white font-medium">
        Get over 400+ well crafter components & UI blocks ready to
        copy-and-paste on your next project.
      </Text>
      <Text
        tag="a"
        id="tools-cta"
        data-umami-event="tools-cta"
        href="/pricing"
        class="flex items-center justify-center w-full sm:w-auto ring-4 gap-2 ring-base-50/20 h-8 px-6 py-2 font-medium text-accent-600 transition-all duration-200 rounded-full focus:ring-2 focus:ring-offset-2 focus:outline-none bg-white border border-base-200 hover:text-accent-950 focus:ring-accent-600"
      >
        Get all access!
      </Text>
    </div>
  </Wrapper>
</section>
