---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Button from "@/components/fundations/buttons/Button.astro";
---

<section class="border-t border-gray-200">
  <!-- Conditionally render this section based on the page -->
  <Wrapper variant="standard" class="bg-white lg:border-x lg:border-gray-200">
    <div class="flex items-center justify-between gap-2">
      <Text tag="h3" variant="textBase" class="text-gray-900 text-balance">
        Over 400 components. Less fiddling, more shipping.
      </Text>
      <div class="flex">
        <Button
          size="xs"
          variant="muted"
          href="/pricing"
          id="tools-cta"
          data-umami-event="tools-cta"
          class="w-auto"
        >
          Get all access!
        </Button>
      </div>
    </div>
  </Wrapper>
</section>
