---
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section >
  <!-- Conditionally render this section based on the page -->
  <Wrapper variant="standard" >
    <div
      class="grid grid-cols-1 sm:grid-cols-2 items-center py-2 px-4 rounded-lg bg-base-50 justify-center w-full gap-x-4  gap-y-2"
    >
      <Text tag="h3" variant="textSM" class="text-base-600 font-medium">
        Get over 400+ well crafter components & UI blocks ready to
        copy-and-paste on your next project.
      </Text>
      <div class="flex lg:ml-auto">
        <Text
          tag="a"
          id="tools-cta"
          data-umami-event="tools-cta"
          href="/pricing"
          class="flex items-center justify-center w-auto text-sm   h-8 px-6 py-2 font-medium text-accent-600 transition-all duration-200 rounded-full focus:ring-2 focus:ring-offset-2 focus:outline-none bg-white border border-base-200 hover:text-accent-950 focus:ring-accent-600"
        >
          Get all access!
        </Text>
      </div>
    </div>
  </Wrapper>
</section>
