---
const siteLinks = [
  {
    category: "Navigation",
    items: [
      { title: "Home", href: "/" },
      { title: "Pricing", href: "/pricing" },
      { title: "Support", href: "/support" },
      { title: "Affiliates", href: "/affiliates" },
    ],
  },
  {
    category: "Legal",
    items: [
      { title: "Faq", href: "/faq" },
      { title: "Terms", href: "/terms" },
      { title: "Privacy", href: "/privacy" },
      { title: "License", href: "/license" },
      { title: "Refund", href: "/refund" },
    ],
  },
];
---

<footer>
  <div class="max-w-5xl mt-6 2xl:max-w-[100rem] px-8 mx-auto relative">
    <div class="flex flex-col gap-12">
      <div class="prose-styles md:grid-cols-2 gap-8 grid !max-w-xs">
        {
          siteLinks.map((category) => (
            <div>
              <h2>{category.category}</h2>
              <ul
                class="w-full space-y-2 not-prose"
                role="list">
                {category.items.map((item) => (
                  <li>
                    <a
                      class="flex items-center justify-between w-full hover:text-accent-500"
                      href={item.href}>
                      {item.title}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
      <svg
        class="-mb-[3.6rem] lg:-mb-[4rem] text-accent-500
         mt-24"
        viewBox="0 0 3699 452"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M86.6767 442L0.879032 126.567H89.831L131.468 291.223C139.038 322.766 141.562 361.249 140.3 387.115H171.213C170.582 361.249 170.582 322.766 179.414 291.223L226.729 126.567H317.573L364.888 291.223C374.351 322.766 374.351 361.249 373.089 387.115H404.002C403.371 361.249 405.264 322.766 413.465 291.223L455.102 126.567H543.423L457.625 442H331.452L272.782 207.318L213.481 442H86.6767ZM577.046 442V126.567H667.26V442H577.046ZM577.046 86.823V0.394434H668.522V86.823H577.046ZM722.204 442V126.567H804.217C801.062 148.017 791.599 177.037 782.767 196.593V202.902H813.68C825.035 149.909 860.995 117.104 917.772 117.104C985.275 117.104 1022.5 163.158 1022.5 245.17V442H931.021V261.573C931.021 216.781 912.725 193.439 876.135 193.439C841.438 193.439 813.68 228.137 813.68 273.559V442H722.204ZM1193.63 451.463C1112.88 451.463 1054.21 382.699 1054.21 284.284C1054.21 185.869 1112.88 117.104 1193.63 117.104C1249.78 117.104 1285.1 148.648 1302.14 202.902H1333.05V196.593C1314.12 161.265 1302.14 116.474 1302.14 64.1118V0.394434H1393.61V442H1302.14C1306.55 422.443 1320.43 392.162 1333.05 372.605V366.296H1302.14C1285.1 419.92 1254.19 451.463 1193.63 451.463ZM1146.94 284.284C1146.94 339.8 1178.49 375.128 1225.17 375.128C1271.22 375.128 1302.77 339.8 1302.77 284.284C1302.77 228.768 1271.22 193.439 1225.17 193.439C1178.49 193.439 1146.94 228.768 1146.94 284.284ZM1579.76 451.463C1483.87 451.463 1435.92 411.718 1429.62 339.8H1517.94C1522.35 366.296 1541.28 387.115 1578.5 387.115C1612.57 387.115 1627.08 374.497 1627.08 356.202C1627.08 335.384 1616.35 327.183 1550.74 310.78C1477.56 291.854 1446.65 264.096 1446.65 216.15C1446.65 154.956 1502.8 117.104 1581.65 117.104C1673.76 117.104 1714.77 163.789 1718.55 227.506H1634.65C1631.49 198.486 1618.88 181.453 1583.55 181.453C1550.11 181.453 1536.23 194.701 1536.23 211.103C1536.23 227.506 1545.06 235.076 1592.38 245.801C1683.85 266.619 1718.55 288.7 1718.55 349.263C1718.55 414.873 1659.25 451.463 1579.76 451.463ZM1876.18 442C1821.29 442 1792.91 411.088 1792.91 358.095V198.486H1732.97V126.567C1791.64 105.749 1814.99 74.2057 1814.99 20.5821H1893.21C1893.21 79.2526 1878.07 95.0242 1835.8 101.964V126.567H1961.98V198.486H1876.81V342.323C1876.81 363.142 1883.12 370.081 1901.41 370.081H1972.7V442H1876.18ZM2129.8 451.463C2049.05 451.463 1990.38 382.699 1990.38 284.284C1990.38 185.869 2049.05 117.104 2129.8 117.104C2185.94 117.104 2221.27 148.648 2238.31 202.902H2269.22V195.963C2256.6 176.406 2242.72 146.124 2238.31 126.567H2329.78V442H2238.31C2242.72 422.443 2256.6 392.162 2269.22 372.605V366.296H2238.31C2221.27 419.92 2190.36 451.463 2129.8 451.463ZM2083.11 284.284C2083.11 339.8 2114.66 375.128 2161.34 375.128C2207.39 375.128 2238.94 339.8 2238.94 284.284C2238.94 228.768 2207.39 193.439 2161.34 193.439C2114.66 193.439 2083.11 228.768 2083.11 284.284ZM2505.84 442C2450.95 442 2422.56 411.088 2422.56 358.095V198.486H2362.63V126.567C2421.3 105.749 2444.64 74.2057 2444.64 20.5821H2522.87C2522.87 79.2526 2507.73 95.0242 2465.46 101.964V126.567H2591.63V198.486H2506.47V342.323C2506.47 363.142 2512.78 370.081 2531.07 370.081H2602.36V442H2505.84ZM2633.91 442V126.567H2724.13V442H2633.91ZM2633.91 86.823V0.394434H2725.39V86.823H2633.91ZM2929.22 451.463C2828.91 451.463 2762.67 385.853 2762.67 284.284C2762.67 182.714 2828.91 117.104 2929.22 117.104C3016.28 117.104 3075.58 168.205 3081.89 248.324H2992.3C2985.99 214.258 2963.28 193.439 2929.22 193.439C2884.43 193.439 2855.41 229.398 2855.41 284.284C2855.41 339.169 2884.43 375.128 2929.22 375.128C2963.28 375.128 2987.26 353.048 2993.56 316.458H3083.15C3076.84 399.732 3016.91 451.463 2929.22 451.463ZM3552.46 126.567V442H3470.45C3473.6 420.551 3483.07 391.531 3491.9 371.974V365.665H3460.99C3449.63 418.658 3413.67 451.463 3356.89 451.463C3289.39 451.463 3252.17 405.41 3252.17 323.397V126.567H3343.65V306.995C3343.65 351.786 3361.94 375.128 3398.53 375.128C3433.23 375.128 3460.99 340.431 3460.99 295.008V126.567H3552.46ZM3606.75 442V126.567H3696.96V442H3606.75ZM3606.75 86.823V0.394434H3698.23V86.823H3606.75Z"
          fill="currentColor"
        ></path>
      </svg>

      <div
        class="relative bg-white border-t col-span-full prose-styles 2xl:text-lg">
        <p>
          <span x-data="{ year: new Date().getFullYear() }">
            <span>© Windstatic UI</span>
            <span x-text="year"></span>
          </span> — All rights reserved. Windstatic is not affiliated with Tailwind
          Labs team, nor is it endorsed by or sponsored by this one — A project by
          <a href="https://michaelandreuzza.com">Michael Andreuzza</a>
          and <a href="https://gabriel.perales.me/">Gabriel Perales</a> This website
          was built with Astro JS & Tailwind CSS. Crafted in Åland Islands &amp;
          Spain.
        </p>
      </div>
    </div>
  </div>
</footer>
