---
import Text from "@/components/fundations/typography/Text.astro";
import OxbowButton from "@/components/fundations/buttons/OxbowButton.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const social = [
  { label: "X", href: "https://x.com/OxbowUI" },
  { label: "BlueSky", href: "https://bsky.app/profile/oxbowui.com" },
];
const legalTwo = [
  { label: "Terms of use", href: "/legal/terms" },
  { label: "Privacy policy", href: "/legal/privacy" },
];
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundations
const navLinks = [
  {
    title: "Navigation",
    links: [
      { label: "Home", href: "/" },
      { label: "Log in", href: "/login" },
      { label: "Pricing", href: "/pricing" },
      { label: "Support", href: "/support" },
      { label: "Affiliates", href: "/affiliates" },
      { label: "Customers", href: "/customers" },
      { label: "Changelog", href: "/changelog" },
    ],
  },
  {
    title: "Legal",
    links: [
      { label: "Faq", href: "/faq" },
      { label: "Terms", href: "/terms" },
      { label: "Privacy", href: "/privacy" },
      { label: "License", href: "/license" },
      { label: "Refund", href: "/refund" },
    ],
  },
  {
    title: "Legal",
    links: [
      { label: "X", href: "https://x.com/OxbowUI" },
      { label: "BlueSky", href: "https://bsky.app/profile/oxbowui.com" },
    ],
  },
  {
    title: "Tools",
    links: [
      {
        label: "All Tailwind CSS tools",
        href: "/free-tools",
      },
      {
        label: "Tailwind CSS Grid ",
        href: "/free-tools/tailwind-css-grid-generator",
      },
      {
        label: "Tailwind CSS Gradient",
        href: "/free-tools/tailwind-css-gradient-generator",
      },
    ],
  },
];
---

<footer>
  <Wrapper variant="standard" class="border-t">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div
        class="overflow-hidden outline rounded-xl outline-base-900 shadow-2xl shadow-black p-8 bg-black"
      >
        <a aria-label="hom" href="/">
          <Logo class="h-12 lg:h-40 text-white mx-auto" />
        </a>
        <div class="flex flex-wrap justify-center text-center gap-2">
          {
            navLinks.map((section, index) => (
              <ul
                role="list"
                class="mt-4 text-sm text-base-400 flex flex-wrap gap-4 "
              >
                {section.links.map((link) => (
                  <li>
                    <a class="transition hover:text-white" href={link.href}>
                      {link.label}
                    </a>
                  </li>
                ))}
              </ul>
            ))
          }
        </div>
        <p class="text-sm text-base-500 text-center mt-8">
          © <span x-text="year"></span> Oxbow UI
        </p>
      </div>
    </div>
  </Wrapper>
</footer>
