---
import AnimatedGradient from "../assets/AnimatedGradient.astro";
import Text from "../fundations/typography/Text.astro";
import Wrapper from "../fundations/containers/Wrapper.astro";
---

<style>
  /* Define a variable for easy resizing: */
  :root {
    --pulse-size: 48px;
  }

  .pulse {
    width: var(--pulse-size);
    height: var(--pulse-size);
    border-radius: 50%;
    background: #2679f3;
    /* start with no spread on the shadow */
    box-shadow: 0 0 0 0 rgba(38, 121, 243, 0.5);
    animation: pulse-kefe91md 3s infinite linear;
    position: relative;
  }

  .pulse:before,
  .pulse:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: inherit;
    animation: inherit;
    animation-delay: -0.5s;
  }

  .pulse:after {
    animation-delay: -1s;
  }

  @keyframes pulse-kefe91md {
    100% {
      /* expand the shadow to twice the diameter */
      box-shadow: 0 0 0 calc(var(--pulse-size) * 2) #0000;
    }
  }
</style>

<div class="flex flex-col items-center justify-center py-48 h-svh bg-gray-100">
  <div class="flex flex-col max-w-xl mx-auto">
    <div class="mx-auto pulse"></div>
  </div>
</div>
