<div
  class="w-full max-w-xl px-8 bg-white mx-auto flex flex-col lg:flex-row lg:items-center lg:justify-between py-4">
  <div class="flex items-center justify-between text-black w-full text-sm">
    <a
      href="/"
      class="font-medium">
      Windstatic</a
    >
    <div class="flex gap-3  text-gray-500">
      <a href="/faq">Faq
      </a>
      <a href="/login">Log in</a>
      <a class="lg:border-l lg:pl-4" href="/pricing">Get all access for $149</a>
    </div>
  </div>
</div>
