---
const user = Astro.locals.user;
---

<div
  x-show="showAlert"
  x-data="{ showAlert: false }"
  x-cloak
  role="alert"
  class="relative isolate flex items-center gap-x-6 overflow-hidden bg-base-50 px-6 py-2.5 sm:px-3.5">
  <div class="flex flex-wrap items-center mx-auto relative sr-only">
    <button
      @click="showAlert = false"
      class="underline border text-base-900 absolute right-0 focus:bg-white focus:text-accent-700 hover:bg-white hover:text-accent-500 rounded-full p-0.5"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-3 icon icon-tabler icon-tabler-x"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path
          stroke="none"
          d="M0 0h24v24H0z"
          fill="none"
        ></path><path d="M18 6l-12 12"></path><path d="M6 6l12 12"></path></svg
      ></button
    >
    <p
      class="text-xs md:text-sm leading-6 font-medium text-black 2xl:text-sm lg:pr-20">
      Hey there! We noticed you're visiting from [Country]. We support parity
      pricing, here is a <span class="text-accent-600 font-bold uppercase"
        >[X]%</span
      > discount. Just apply the code <span
        class="text-accent-600 font-bold uppercase">[DISCOUNT_CODE]</span
      > at checkout.
      <span class="items-baseline inline-flex sr-only">
        Get a &nbsp; <strong class="text-accent-600 font-bold uppercase"
          >40% discount.
        </strong> &nbsp; Apply code &nbsp; <strong
          class="text-accent-600 font-bold uppercase"
          >OXBOW40
        </strong> &nbsp; at checkout.
      </span>
    </p>
  </div>
</div>
<div
  class="items-center w-full mx-auto relative "
  x-data={`{...navigation(), username: "${user?.email ?? ""}"}`}>
  <div
    x-cloak
    x-show="!username"
    class="flex items-center justify-center py-2 lg:h-12 bg-base-50 border-b px-8">
    <div
      class="text-xs md:text-base leading-6 font-medium  text-black 2xl:text-lg">
      <strong class="font-semibold text-accent-500">Beta Pricing:</strong> Get it
      for <strong class="font-semibold text-accent-500">$49</strong> during the beta
      phase, including all features and future updates.
    </div>
  </div>
  <div
    class="w-full flex flex-col max-w-5xl 2xl:max-w-[100rem] mx-auto px-8 lg:bg-none md:flex-row md:items-center md:justify-between py-4"
    x-data="{ open: false }">
    <div class="items-center flex justify-between flex-row lg:justify-start">
      <a
        href="/"
        class="flex items-center w-full gap-3 font-medium sm:w-auto group 2xl:text-lg"
        ><span
          class="duration-300 group-hover:text-accent-600 group-hover:animate-pulse"
          ><img
            class="h-7 2xl:h-9"
            src="/images/oxbow/windLogo.png"
            alt="#_"
          /></span
        > oxbow ui</a
      >
      <button
        class="cursor-pointer sm:hidden"
        onclick="document.querySelector('ninja-keys').open()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-search size-6"
          ><path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"
          ></path><path d="M21 21l-6 -6"></path></svg
        >
      </button>
      <button
        aria-label="open"
        @click="open = !open"
        class="items-center inline-flex focus:outline-none text-black focus:text-accent-500 hover:text-accent-600 justify-center md:hidden p-2"
        ><svg
          viewBox="0 0 24 24"
          class="size-6"
          fill="none"
          stroke="currentColor">
          <path
            d="M4 6h16M4 12h16M4 18h16"
            :class="{'hidden': open, 'inline-flex': !open }"
            class="inline-flex"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          ></path>
          <path
            d="M6 18L18 6M6 6l12 12"
            :class="{'hidden': !open, 'inline-flex': open }"
            class="hidden"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          ></path>
        </svg></button
      >
    </div>
    <nav
      :class="{'flex': open, 'hidden': !open}"
      class="items-center flex-col flex-grow hidden justify-end md:flex text-sm lg:text-sm md:flex-row md:pb-0 gap-x-4 gap-y-4 xl:text-sm 2xl:text-base text-black">
      <button
        class="cursor-pointer hidden lg:inline-flex"
        onclick="document.querySelector('ninja-keys').open()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-search size-5"
          ><path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"
          ></path><path d="M21 21l-6 -6"></path></svg
        >
      </button>
      <div class="hidden lg:block h-6 w-px bg-base-200"></div>
      <div class="flex flex-col md:flex-row items-center gap-3">
        <a
          x-show="!username"
          href="https://lexingtonthemes.com"
          class="text-base-500 hover:text-accent-500 font-medium"
          >Astro &amp; Tailwind CSS Templates</a
        >
        <a
          href="/pricing#features"
          x-cloak
          x-show="!username"
          class="text-base-500 hover:text-accent-500 font-medium"
          >What's included</a
        >
        <a
          href="/faq"
          x-cloak
          x-show="!username"
          class="text-base-500 hover:text-accent-500 font-medium hidden lg:block"
          >Faq</a
        >
        <a
          x-show="!username"
          href="/getting-started"
          x-cloak
          class="text-base-500 hover:text-accent-500 font-medium hidden lg:block"
          >Getting Started</a
        >
        <a
          href="/login"
          x-cloak
          x-show="!username"
          class="text-base-500 hover:text-accent-500 font-medium hidden lg:block"
          >Log in</a
        >
        <a
          x-show="!username"
          href="/pricing"
          x-cloak
          id="access-navigation-cta"
          data-umami-event="access-navigation-cta"
          class="flex items-center justify-center duration-200 focus:ring-2 transition-shadow focus:outline-none text-white bg-accent-600 hover:bg-accent-700 focus:ring-accent-500/50 h-9 px-4 py-3 text-sm 2xl:text-base font-medium rounded-lg ">
          Get all access for <span>$49</span>
        </a>
      </div>
      <div
        x-popover
        x-cloak
        x-show="!!username"
        class="relative">
        <button
          x-popover:button
          type="button"
          class="flex items-center gap-2">
          Account
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="size-4 icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M6 9l6 6l6 -6"></path></svg
          >
        </button>
        <div
          x-popover:panel
          x-transition.origin.top.left
          class="absolute right-0 top-full z-50 -mr-0.5 mt-3 w-48 origin-top-right divide-y divide-base-200 rounded-lg bg-white text-sm font-normal text-base-600 shadow ring-1 ring-base-900/5 focus:outline-none sm:-mr-3.5 transform opacity-100 scale-100">
          <p
            class="truncate px-3.5 py-3"
            role="none">
            <span
              class="block text-xs text-base-500"
              role="none"
              >Signed in as</span
            >
            <span
              class="mt-0.5 font-semibold"
              role="none"
              x-text="username"
            ></span>
          </p>
          <div
            class="py-1.5"
            role="none">
            <a
              class="py-1.5 px-3.5 hover:bg-base-50 hover:text-accent-500 items-center gap-2 flex"
              role="menuitem"
              tabindex="-1"
              href="https://discord.gg/9WH6G2XJRa">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-discord size-4"
                ><path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path><path d="M8 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"
                ></path><path d="M14 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"
                ></path><path
                  d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-.972 1.923a11.913 11.913 0 0 0 -4.053 0l-.975 -1.923c-1.5 .16 -3.043 .485 -4.5 1.5c-2 5.667 -2.167 9.833 -1.5 11.5c.667 1.333 2 3 3.5 3c.5 0 2 -2 2 -3"
                ></path><path d="M7 16.5c3.5 1 6.5 1 10 0"></path></svg
              >Discord
            </a>
            <a
              class="py-1.5 px-3.5 hover:bg-base-50 hover:text-accent-500 items-center gap-2 flex"
              role="menuitem"
              tabindex="-1"
              href="/support">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-lifebuoy size-4"
                ><path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"
                ></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                ></path><path d="M15 15l3.35 3.35"></path><path
                  d="M9 15l-3.35 3.35"></path><path d="M5.65 5.65l3.35 3.35"
                ></path><path d="M18.35 5.65l-3.35 3.35"></path></svg
              >Support</a
            >
            <a
              class="py-1.5 px-3.5 hover:bg-base-50 hover:text-accent-500 items-center gap-2 flex"
              role="menuitem"
              tabindex="-1"
              href="/license"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-license size-4"
                ><path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path><path
                  d="M15 21h-9a3 3 0 0 1 -3 -3v-1h10v2a2 2 0 0 0 4 0v-14a2 2 0 1 1 2 2h-2m2 -4h-11a3 3 0 0 0 -3 3v11"
                ></path><path d="M9 7l4 0"></path><path d="M9 11l4 0"
                ></path></svg
              >License</a
            >
            <a
              class="py-1.5 px-3.5 hover:bg-base-50 hover:text-accent-500 items-center gap-2 flex"
              role="menuitem"
              tabindex="-1"
              href="/getting-started"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-file-info size-4"
                ><path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path><path d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
                  d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                ></path><path d="M11 14h1v4h1"></path><path d="M12 11h.01"
                ></path></svg
              >Docs</a
            >
            <a
              class="py-1.5 px-3.5 hover:bg-base-50 hover:text-accent-500 items-center gap-2 flex"
              role="menuitem"
              tabindex="-1"
              href="https://lexingtonthemes.com/"
              ><svg
                class="size-4"
                viewBox="0 0 147 148"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M77.0546 0.147949H69.9463V147.148H77.0546V0.147949Z"
                  fill="currentColor"
                ></path>
                <path
                  d="M77.0546 0.147949H69.9463V147.148H77.0546V0.147949Z"
                  fill="currentColor"
                  fill-opacity="0.2"
                ></path>
                <path
                  d="M147 70.0938H0V77.2021H147V70.0938Z"
                  fill="currentColor"
                ></path>
                <path
                  d="M147 70.0938H0V77.2021H147V70.0938Z"
                  fill="currentColor"
                  fill-opacity="0.2"
                ></path>
                <path
                  d="M24.0282 19.1578L19.002 24.1841L122.946 128.128L127.972 123.101L24.0282 19.1578Z"
                  fill="currentColor"
                ></path>
                <path
                  d="M24.0282 19.1578L19.002 24.1841L122.946 128.128L127.972 123.101L24.0282 19.1578Z"
                  fill="currentColor"
                  fill-opacity="0.2"
                ></path>
                <path
                  d="M122.946 19.1564L19.002 123.1L24.0282 128.126L127.972 24.1827L122.946 19.1564Z"
                  fill="currentColor"
                ></path>
                <path
                  d="M122.946 19.1564L19.002 123.1L24.0282 128.126L127.972 24.1827L122.946 19.1564Z"
                  fill="currentColor"
                  fill-opacity="0.2"
                ></path>
                <path
                  d="M6.7933 42.6484L4.11133 49.2314L140.248 104.695L142.93 98.1115L6.7933 42.6484Z"
                  fill="currentColor"
                ></path>
                <path
                  d="M6.7933 42.6484L4.11133 49.2314L140.248 104.695L142.93 98.1115L6.7933 42.6484Z"
                  fill="currentColor"
                  fill-opacity="0.2"
                ></path>
                <path
                  d="M97.9631 4.26955L42.5 140.406L49.083 143.088L104.546 6.95152L97.9631 4.26955Z"
                  fill="currentColor"
                ></path>
                <path
                  d="M97.9631 4.26955L42.5 140.406L49.083 143.088L104.546 6.95152L97.9631 4.26955Z"
                  fill="currentColor"
                  fill-opacity="0.2"
                ></path>
                <path
                  d="M140.41 42.8958L4.03809 97.7856L6.69233 104.38L143.064 49.4902L140.41 42.8958Z"
                  fill="currentColor"
                ></path>
                <path
                  d="M140.41 42.8958L4.03809 97.7856L6.69233 104.38L143.064 49.4902L140.41 42.8958Z"
                  fill="currentColor"
                  fill-opacity="0.2"
                ></path>
                <path
                  d="M49.3122 4.18875L42.7178 6.84229L97.5928 143.214L104.187 140.561L49.3122 4.18875Z"
                  fill="currentColor"
                ></path>
                <path
                  d="M49.3122 4.18875L42.7178 6.84229L97.5928 143.214L104.187 140.561L49.3122 4.18875Z"
                  fill="currentColor"
                  fill-opacity="0.2"
                ></path>
              </svg>Astro Themes</a
            >
          </div>
          <div
            class="py-1.5"
            role="none">
            <a
              class="py-1.5 px-3.5 hover:bg-base-50 hover:text-accent-500 items-center gap-2 flex"
              role="menuitem"
              tabindex="-1"
              href="https://oxbow.lemonsqueezy.com/billing"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-settings size-4"
                ><path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path><path
                  d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                ></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"
                ></path></svg
              >Account portal ↗</a
            >
            <button
              type="button"
              class="py-1.5 px-3.5 hover:bg-base-50 hover:text-accent-500 items-center gap-2 flex w-full"
              role="menuitem"
              tabindex="-1"
              @click="signOut()"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-logout-2 size-4"
                ><path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path><path
                  d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2"
                ></path><path d="M15 12h-12l3 -3"></path><path d="M6 15l-3 -3"
                ></path></svg
              >Sign out</button
            >
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<script>
  import Alpine from "alpinejs";
  import { auth } from "@/firebase/client";
  document.addEventListener("alpine:init", () => {
    Alpine.data("navigation", () => ({
      username: "",
      async signOut() {
        await auth.signOut();
        window.location.assign("/api/auth/signout");
      },
    }));
  });
</script>
