---
const user = Astro.locals.user;
// Icons
import Tools from "@/components/fundations/icons/Tools.astro";
import Discord from "@/components/fundations/icons/Discord.astro";
import Refresh from "@/components/fundations/icons/Refresh.astro";
import Lifebuoy from "@/components/fundations/icons/Lifebuoy.astro";
import FileDots from "@/components/fundations/icons/FileDots.astro";
import LogoutTwo from "@/components/fundations/icons/LogoutTwo.astro";
import CircleInfo from "@/components/fundations/icons/CircleInfo.astro";
import Command from "@/components/fundations/icons/Command.astro";
import Search from "@/components/fundations/icons/Search.astro";
import ThemeToggle from "@/components/assets/ThemeToggle.astro";
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---
<div
  class="items-center w-full mx-auto duration-300"
  x-data={`{...navigation(), username: "${user?.email ?? ""}"}`}
>
  <!-- {!user && <OfferBanner60Accent />} -->
  <Wrapper variant="standard" class="w-full">
    <div
      class="flex flex-col w-full lg:bg-none md:flex-row md:items-center md:justify-between"
      x-data="{ open: false }"
    >
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a
          href="/"
          class="flex items-center w-full gap-2 sm:w-auto text-base-900 dark:text-white"
          ><Logo class="h-7" /> oxbow ui</a
        >
        <button
          class="flex items-center text-base-900 dark:text-white cursor-pointer sm:hidden"
          onclick="document.querySelector('ninja-keys').open()"
        >
          <Search class="size-4" />
        </button>
        <button
          aria-label="open"
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-base-900 dark:text-white focus:outline-none focus:text-accent-400 md:hidden"
          ><svg
            viewBox="0 0 24 24"
            class="size-6"
            fill="none"
            stroke="currentColor"
          >
            <path
              d="M4 6h16M4 12h16M4 18h16"
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"></path>
            <path
              d="M6 18L18 6M6 6l12 12"
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center justify-end flex-grow hidden text-sm text-base-500 md:flex md:flex-row md:pb-0 gap-x-4 gap-y-4"
      >
        <button
          class="items-center hidden cursor-pointer lg:flex"
          onclick="document.querySelector('ninja-keys').open()"
        >
          <Command class="size-4" />
          K
        </button>
        <div class="hidden w-px h-5 lg:block bg-base-200 dark:bg-base-800">
        </div>
        <div class="flex flex-col items-center gap-3 md:flex-row">
          <Text
            tag="a"
            variant="textSM"
            x-show="!username"
            href="https://lexingtonthemes.com"
            class="hover:text-accent-600 duration-300">Astro Templates</Text
          >
          <Text
            x-cloak
            tag="a"
            variant="textSM"
            x-show="!username"
            href="/documentation/getting-started"
            class="hover:text-accent-600 duration-300">Documentation</Text
          >
          <ThemeToggle />
        </div>
      </nav>
    </div>
  </Wrapper>
</div>
