---
import Text from "@/components/fundations/typography/Text.astro";

---
<div
x-cloak
x-show="!username"
class="flex items-center justify-center py-2 lg:h-12 bg-accent-600 border-b px-8"
>
<Text tag="p" variant="textBase" class="font-medium text-white">
  <Text tag="p" variant="textBase" class="font-medium text-white">
    <Text tag="strong" class="font-semibold text-white" />
    <Text
      tag="span"
      class="font-semibold uppercase text-white font-sans"
      >Last chance</Text
    > — Get a
    <Text
      tag="strong"
      class="font-semibold uppercase text-white font-sans"
      >60% Discount.
    </Text>
    Discount already applied at checkout.
  </Text>
</Text>
</div>