---
import Text from "@/components/fundations/typography/Text.astro";

---
<div
x-cloak
x-show="!username"
class="flex items-center justify-center py-2 lg:h-12 bg-base-50 border-b px-8"
>
<Text tag="p" variant="textBase" class="font-medium text-black">
  <Text tag="p" variant="textBase" class="font-medium text-black">
    <Text tag="strong" class="font-semibold text-accent-500" />
    <Text
      tag="span"
      class="font-semibold uppercase text-accent-500 font-sans"
      >Last chance</Text
    > — Get a
    <Text
      tag="strong"
      class="font-semibold uppercase text-accent-500 font-sans"
      >60% Discount.
    </Text>
    Discount already applied at checkout.
  </Text>
</Text>
</div>