<div class="grid grid-cols-1 gap-3  items-center w-full not-prose justify-center ">
  <div class="inline-flex items-center justify-between gap-3">
    <h1 class="text-netral-500">Secure Payment via</h1>
    <img
      class="h-4"
      src="/images/oxbow/lemon.svg"
      alt=""
    />
  </div>
  <ul
    class="flex flex-wrap justify-between list-none"
    role="list">
    <li>
      <img
        height="50"
        src="/images/oxbow/paypal.svg"
        alt=""
      />
    </li>
    <li>
      <img
        height="50"
        src="/images/oxbow/applepay.svg"
        alt=""
      />
    </li>
    <li>
      <img
        height="50"
        src="/images/oxbow/googlepay.svg"
        alt=""
      />
    </li>
    <li>
      <img
        height="50"
        src="/images/oxbow/mastercard.svg"
        alt=""
      />
    </li>
    <li>
      <img
        height="50"
        src="/images/oxbow/visa.svg"
        alt=""
      />
    </li>
  </ul>

</div>
