---
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const paymentImages = [
  { src: "/paypal.svg", alt: "PayPal logo" },
  { src: "/applepay.svg", alt: "Apple Pay logo" },
  { src: "/googlepay.svg", alt: "Google Pay logo" },
  { src: "/mastercard.svg", alt: "MasterCard logo" },
  { src: "/visa.svg", alt: "Visa logo" },
];
---

<section>
  <Wrapper variant="standard" class="py-6 border-t border-base-200">
    <div
      class="gap-4 flex flex-col md:flex-row w-full lg:items-center lg:justify-between"
    >
      <div class="inline-flex items-center gap-3">
        <Text tag="p" variant="textSM" class="text-neutral-600 font-medium"
          >Secure Payments via</Text
        >
        <img class="h-5" src="/polar.svg" alt="" />
      </div>
      <ul class="flex flex-wrap list-none gap-4" role="list">
        {
          paymentImages.map((image) => (
            <li>
              <img class="h-5" src={image.src} alt={image.alt} />
            </li>
          ))
        }
      </ul>
    </div>
  </Wrapper>
</section>
