---
import { Code } from "astro:components";
import * as prettier from "prettier";

const code = await Astro.slots.render("default");

const ppcode = await prettier
  .format(code, {
    parser: "lwc",
  })
  .catch((e) => console.error(e));

const loggedIn = Boolean(Astro.locals.user);
---

<section x-data={`{ tab: 'preview' }`} class="not-prose">
  <div class="relative">
    <div class="pointer-events-none inset-x-0 top-0 z-10 md:left-auto">
      <div class="flex items-center justify-between py-2 backdrop-blur-sm">
        {loggedIn && (<div class="flex items-center ml-auto">
          <button
            @click="tab = 'preview'"
            :class="tab === 'preview' ? 'bg-black/5' : 'bg-black/0'"
            class="backdrop-blur pointer-events-auto mr-1 flex rounded-full px-4 py-1 text-sm text-black transition focus-visible:outline-none focus-visible:ring focus-visible:ring-black/50">
            Preview
          </button>
          <button
            @click="tab = 'code'"
            :class="tab === 'code' ? 'bg-black/5' : 'bg-black/0'"
            class="pointer-events-auto flex rounded-full px-4 py-1 text-sm text-black transition focus-visible:outline-none focus-visible:ring focus-visible:ring-black/50">
            Code
          </button>
          <div class="mx-1 h-4 w-[2px] bg-black/10"></div>
          <button
            id="copyButton"
            class="pointer-events-auto relative flex rounded-full px-4 py-1 text-sm text-black transition focus-visible:outline-none focus-visible:ring focus-visible:ring-black/50">
            x-clipboard.raw={`${ppcode}`}
          >
            <span 
              class="transition" 
            >
              Copy
            </span>
            <span
              class="opacity-0 absolute inset-0 flex items-center justify-center transition"
              >Copied!</span
            >
          </button>
        </div>)}
      </div>
    </div>
    <div
      id="resizeContainer"
      class="relative h-full w-full flex border overflow-hidden rounded-lg shadow-whiteOnWhite">
      <div
        x-show="tab === 'preview'"
        class="flex-grow h-full">
        <Fragment set:html={code} />
      </div>
      {loggedIn && <div
        x-show="tab === 'code'"
        class="flex-grow h-full w-full text-xs overflow-auto p-4 ov bg-zinc-50 transition">
        <Code
          id="codeBlock"
          code={ppcode}
          lang="html"
          theme="css-variables"
        />
      </div>}
      <div
        class="absolute inset-y-0 my-auto h-full z-50 right-0 flex items-center">
        <div class="w-2 bg-blue h-8"></div>
      </div>
    </div>
  </div>
</section>

