<section>
  <div></div>
</section>
<section>
  <div class="max-w-xl mx-auto px-8 py-12 lg:py-32">
    <div class="prose-styles">
      <h1 id="hey">Hey</h1>
      <p>
        I’m a self-taught front-end developer and UI designer, passionate about
        starting my own ventures. My approach to business is all about keeping
        things simple and practical, following basic principles that work. I
        believe in sticking to a plan and doing things reliably. Consistency is
        key for me - it’s what keeps everything running smoothly.
      </p>
      <p>You can follow me on different channels</p>
      <ul>
        <li><a href="https://github.com/michael-andreuzza">github</a></li>
        <li>
          <a href="https://x.com/Mike_Andreuzza">twitter</a> - <a
            href="https://dm.new/michael">DM</a
          >
        </li>
        <li><a href="https://layers.to/michaels">layers</a></li>
        <li><a href="https://posts.cv/michael_andreuzza">postsCV</a></li>
      </ul>
    </div>
  </div>
</section>
