<section>
  <div></div>
</section>
<section>
  <div class="max-w-xl mx-auto px-8 py-12 lg:py-32">
    <div class="prose-styles">
      <h1>Pricing</h1>
      <p>
        Get access to everything, use for unlimited projects for a one time
        payment
      </p>
    </div>
  </div>
</section>
