<section>
  <div class="max-w-xl mx-auto px-8 py-12 lg:py-32">
    <div class="prose-styles">
      <h1>Check your inbox</h1>
      <p>
        Click on the link in the email to sign in to your account, if you can't find it, please verify
        your spam folder.
      </p>
    </div>
    <div class="space-y-3 mt-6 pt-6 border-t">
      <button
        type="submit"
        class="rounded-lg px-4 py-2 text-sm font-semibold w-full transition-all text-white bg-gradient-to-b from-blue-500 to-blue-600 hover:to-blue-700 h-10 inline-flex items-center justify-between"
        aria-label="Resend link">
        Resend link
        <span aria-hidden="true">&rarr;</span>
      </button>
      <div class="prose-styles">
        <small
          >By clicking continue, you agree to our <a href="/terms"
            >Terms of Service</a
          > and
          <a href="/privacy"> Privacy Policy. </a>
        </small>
      </div>
    </div>
  </div>
</section>
