---
// StickyNav.astro
import Text from "@/components/fundations/typography/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const navItems = [
  { href: "#marketing", text: "Marketing" },
  { href: "#application", text: "Application" },
  { href: "#emails", text: "Emails" },
  {
    href: "#ecommerce",
    text: "eCommerce",
  },
];
---

<nav
  class="sticky top-0 left-0 right-0 z-1 bg-white dark:bg-black bg-stripes-light dark:bg-stripes-dark border-y border-base-100 dark:border-base-900"
>
  <Wrapper variant="stickyNav" class="pt-0">
    <div class="flex space-x-4 relative bg-white dark:bg-base-950 pt-4">
      {
        navItems.map((item) => (
          <Text
            tag="a"
            variant="textBase"
            href={item.href}
            class="nav-link hover:text-black dark:hover:text-white font-medium border-b-2 pb-4 border-transparent text-base-400 dark:text-base-300"
          >
            {item.text}
          </Text>
        ))
      }
    </div>
  </Wrapper>
</nav>
<script>
  function updateActiveLink() {
    const sections = document.querySelectorAll("section[id]");
    const navLinks = document.querySelectorAll(".nav-link");
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const currentId = entry.target.id;
            navLinks.forEach((link) => {
              if (link.getAttribute("href") === `#${currentId}`) {
                link.classList.add(
                  "text-black",
                  "dark:text-white",
                  "border-black",
                  "dark:border-white"
                );
                link.classList.remove("border-transparent");
              } else {
                link.classList.remove(
                  "text-black",
                  "dark:text-white",
                  "border-black",
                  "dark:border-white"
                );
                link.classList.add("border-transparent");
              }
            });
          }
        });
      },
      { rootMargin: "-50% 0px -50% 0px" }
    );
    sections.forEach((section) => observer.observe(section));
    navLinks.forEach((link) => {
      link.addEventListener("click", (e) => {
        e.preventDefault();
        const targetId = link.getAttribute("href").substring(1);
        const targetSection = document.getElementById(targetId);
        if (targetSection) {
          targetSection.scrollIntoView({ behavior: "smooth" });
        }
      });
    });
  }
  document.addEventListener("DOMContentLoaded", updateActiveLink);
</script>
